Repository carbon-design-system/carbon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @carbon-design-system/developers-system-reviewers, @laurenmrice, @carbon-design-system/brand-icons, @carbon-design-system/brand-pictograms, @carbon-design-system/release, @carbon-design-system/developers-system-admins

fix: fixed the link and text (#16553)
  packages/react/src/components/DataTable/DataTable.mdx
Owners: @carbon-design-system/developers-system-reviewers

chore: partially working
  .yarn/cache/@csstools-css-parser-algorithms-npm-2.3.0-b7ef496af2-a5c2d9029f.zip
  .yarn/cache/@csstools-css-tokenizer-npm-2.1.1-267c589583-79b63aabea.zip
  .yarn/cache/@csstools-media-query-list-parser-npm-2.1.2-27e56ce5bc-02cb4bbbc1.zip
  .yarn/cache/@csstools-selector-specificity-npm-3.0.0-c3934051c2-4a2dfe6999.zip
  .yarn/cache/camelcase-keys-npm-7.0.2-36fbc5a8f7-6f92d969b7.zip
  .yarn/cache/css-functions-list-npm-3.1.0-56c193d794-8a7c9d4ae5.zip
  .yarn/cache/decamelize-npm-5.0.1-2fde8c926c-643e88804c.zip
  .yarn/cache/import-lazy-npm-4.0.0-3215653869-943309cc8e.zip
  .yarn/cache/indent-string-npm-5.0.0-35eaa3b052-e466c27b63.zip
  .yarn/cache/known-css-properties-npm-0.27.0-e139519b4c-3bb274e0a9.zip
  .yarn/cache/meow-npm-10.1.5-a1bab640d1-4d6d4c233b.zip
  .yarn/cache/postcss-safe-parser-npm-6.0.0-dd01bffb52-06c733eaad.zip
  .yarn/cache/prettier-npm-3.2.5-6859110d6a-d509f9da0b.zip
  .yarn/cache/read-pkg-npm-6.0.0-d89ce14684-0cebdff381.zip
  .yarn/cache/read-pkg-up-npm-8.0.0-6f39941cc9-fe4c804016.zip
  .yarn/cache/redent-npm-4.0.0-67da39f156-6944e7b1d8.zip
  .yarn/cache/strip-indent-npm-4.0.0-12c489be86-06cbcd93da.zip
  .yarn/cache/style-search-npm-0.1.0-e3177d3642-841049768c.zip
  .yarn/cache/stylelint-npm-15.10.1-868cc2cb80-bcab1ae700.zip
  .yarn/cache/table-npm-6.8.1-83abb79e20-512c4f2bfb.zip
  .yarn/cache/trim-newlines-npm-4.1.1-d247eb0d1e-5b09f8e329.zip
  config/eslint-config-carbon/package.json
  config/prettier-config-carbon/package.json
  config/stylelint-config-carbon/index.js
  config/stylelint-config-carbon/package.json
  config/stylelint-config-carbon/plugins/a11y.js
  config/stylelint-config-carbon/plugins/prettier.js
  config/stylelint-config-carbon/plugins/scss.js
  config/stylelint-config-carbon/rules/limit-language-features.js
  config/stylelint-config-carbon/rules/possible-errors.js
  packages/cli/package.json
  packages/icon-build-helpers/package.json
  packages/icons-vue/package.json
  packages/scss-generator/package.json
  packages/test-utils/package.json
  yarn.lock
Owners: @carbon-design-system/developers-system-reviewers

fix: linter errors following upgrade of stylelint
  .stylelintignore
  .yarn/cache/stylelint-prettier-npm-5.0.0-f95c073012-1d55f03bbc.zip
  config/stylelint-config-carbon/index.js
  config/stylelint-config-carbon/package.json
  config/stylelint-config-carbon/plugins/prettier.js
  config/stylelint-config-carbon/rules/limit-language-features.js
  config/stylelint-config-carbon/rules/possible-errors.js
  config/stylelint-config-carbon/rules/stylistic-issues.js
  packages/styles/scss/components/dialog/_dialog.scss
  yarn.lock
Owners: @carbon-design-system/developers-system-reviewers

fix: interactive tile expand button
  packages/react/src/components/Tile/Tile.tsx
Owners: @carbon-design-system/developers-system-reviewers

ghrs: snap 05-30-1402-6C99 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-05-30_140330_top_paths_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-05-30_140330_top_referrers_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-05-30_140330_views_clones_series_fragment.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: vc agg 05-30-1402-6C99 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-05-30_140330_views_clones_series_fragment.csv
  carbon-design-system/carbon/ghrs-data/views_clones_aggregate.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: stars and forks 05-30-1402-6C99 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/stargazers.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: report 05-30-1402-6C99 for carbon-design-system/carbon
  carbon-design-system/carbon/latest-report/report.html
  carbon-design-system/carbon/latest-report/report.md
  carbon-design-system/carbon/latest-report/report.pdf
  carbon-design-system/carbon/latest-report/report_for_pdf.html
Owners: @carbon-design-system/developers-system-reviewers

fix: build
  packages/colors/tasks/build.js
  packages/feature-flags/tasks/build.js
  packages/layout/tasks/build.js
  packages/themes/tasks/build.js
Owners: @carbon-design-system/developers-system-reviewers

ghrs: snap 05-31-1402-9C3A for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-05-31_140247_top_paths_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-05-31_140247_top_referrers_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-05-31_140247_views_clones_series_fragment.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: stars and forks 05-31-1402-9C3A for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/forks.csv
  carbon-design-system/carbon/ghrs-data/stargazers.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: vc agg 05-31-1402-9C3A for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-05-31_140247_views_clones_series_fragment.csv
  carbon-design-system/carbon/ghrs-data/views_clones_aggregate.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: report 05-31-1402-9C3A for carbon-design-system/carbon
  carbon-design-system/carbon/latest-report/report.html
  carbon-design-system/carbon/latest-report/report.md
  carbon-design-system/carbon/latest-report/report.pdf
  carbon-design-system/carbon/latest-report/report_for_pdf.html
Owners: @carbon-design-system/developers-system-reviewers

ghrs: snap 06-01-1403-A876 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-01_140833_top_paths_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-01_140833_top_referrers_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-01_140833_views_clones_series_fragment.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: vc agg 06-01-1403-A876 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-01_140833_views_clones_series_fragment.csv
  carbon-design-system/carbon/ghrs-data/views_clones_aggregate.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: report 06-01-1403-A876 for carbon-design-system/carbon
  carbon-design-system/carbon/latest-report/report.html
  carbon-design-system/carbon/latest-report/report.md
  carbon-design-system/carbon/latest-report/report.pdf
  carbon-design-system/carbon/latest-report/report_for_pdf.html
Owners: @carbon-design-system/developers-system-reviewers

ghrs: snap 06-02-1402-1DE1 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-02_140240_top_paths_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-02_140240_top_referrers_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-02_140240_views_clones_series_fragment.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: stars and forks 06-02-1402-1DE1 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/forks.csv
  carbon-design-system/carbon/ghrs-data/stargazers.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: vc agg 06-02-1402-1DE1 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-02_140240_views_clones_series_fragment.csv
  carbon-design-system/carbon/ghrs-data/views_clones_aggregate.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: report 06-02-1402-1DE1 for carbon-design-system/carbon
  carbon-design-system/carbon/latest-report/report.html
  carbon-design-system/carbon/latest-report/report.md
  carbon-design-system/carbon/latest-report/report.pdf
  carbon-design-system/carbon/latest-report/report_for_pdf.html
Owners: @carbon-design-system/developers-system-reviewers

fix: fixed fluid datepicker test and skipped datatable
  e2e/components/DataTable/DataTable-test.avt.e2e.js
  e2e/components/FluidDatePicker/FluidDatePicker-test.avt.e2e.js
  e2e/components/FluidTextInput/FluidTextInput-test.e2e.js
Owners: @carbon-design-system/developers-system-reviewers

docs: recorded containedlistitem usage depreciation
  packages/react/src/components/ContainedList/ContainedList.mdx
Owners: @carbon-design-system/developers-system-reviewers

feat: made hasselectall prop experimental
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Owners: @carbon-design-system/developers-system-reviewers

chore: added suggested severity to a11y template
  .github/ISSUE_TEMPLATE/ACCESSIBILITY_ISSUE.yaml
Owners: @carbon-design-system/developers-system-admins

docs: moved the message below
  packages/react/src/components/ContainedList/ContainedList.mdx
Owners: @carbon-design-system/developers-system-reviewers

feat: add types to CheckboxGroup
  packages/react/src/components/CheckboxGroup/CheckboxGroup.tsx
Owners: @carbon-design-system/developers-system-reviewers

feat: add types to CheckboxGroup component
  packages/react/src/components/CheckboxGroup/CheckboxGroup.tsx
Owners: @carbon-design-system/developers-system-reviewers

ghrs: snap 06-03-1402-7335 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-03_140241_top_paths_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-03_140241_top_referrers_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-03_140241_views_clones_series_fragment.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: vc agg 06-03-1402-7335 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-03_140241_views_clones_series_fragment.csv
  carbon-design-system/carbon/ghrs-data/views_clones_aggregate.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: stars and forks 06-03-1402-7335 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/forks.csv
  carbon-design-system/carbon/ghrs-data/stargazers.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: report 06-03-1402-7335 for carbon-design-system/carbon
  carbon-design-system/carbon/latest-report/report.html
  carbon-design-system/carbon/latest-report/report.md
  carbon-design-system/carbon/latest-report/report.pdf
  carbon-design-system/carbon/latest-report/report_for_pdf.html
Owners: @carbon-design-system/developers-system-reviewers

fix(16575): modify useIsTruncated hook in ListBoxMenuItem (#16576)
  packages/react/src/components/ListBox/ListBoxMenuItem.tsx
Owners: @carbon-design-system/developers-system-reviewers

chore(release): v11.59.0-rc.0
  examples/class-prefix/package.json
  examples/codesandbox-styles/package.json
  examples/custom-theme/package.json
  examples/id-prefix/package.json
  examples/incremental-migration-vite/package.json
  examples/light-dark-mode/package.json
  examples/nextjs/package.json
  examples/v10-token-compat-in-v11/package.json
  examples/vite/package.json
  packages/carbon-components-react/package.json
  packages/carbon-components/package.json
  packages/react/package.json
  packages/styles/package.json
  www/package.json
  yarn.lock
Owners: @carbon-design-system/developers-system-reviewers

chore: snapshots
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
Owners: @carbon-design-system/release

fix: floating ui on combobutton (#16586)
  packages/react/src/components/ComboButton/ComboButton.stories.js
  packages/react/src/components/ComboButton/index.tsx
Owners: @carbon-design-system/developers-system-reviewers

fix: fixed VO when typing a value
  packages/react/src/components/ComboBox/ComboBox.tsx
Owners: @carbon-design-system/developers-system-reviewers

feat: improve RadioButton and RadioButtonGroup types
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/RadioButton/index.ts
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/react/src/components/RadioButtonGroup/index.ts
Owners: @carbon-design-system/developers-system-reviewers

fix: test--datepicker
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.stories.js
  packages/react/src/components/Modal/Modal.tsx
Owners: @carbon-design-system/developers-system-reviewers

fix: test--datepicker-stopPropagation
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.tsx
Owners: @carbon-design-system/developers-system-reviewers

fix: extra arrow in tab component on resize
  packages/react/src/components/Tabs/Tabs.tsx
Owners: @carbon-design-system/developers-system-reviewers

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the
# repo. Unless a later match takes precedence, this team will
# be requested for review when someone opens a pull request.
* @carbon-design-system/developers-system-reviewers


# Core icons and pictograms
/packages/icons/src/svg/        @laurenmrice @carbon-design-system/brand-icons @carbon-design-system/developers-system-reviewers
/packages/pictograms/src/svg/   @laurenmrice @carbon-design-system/brand-pictograms @carbon-design-system/developers-system-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that modifies
# public api snapshot files, only this team and not the global
# owner(s) will be requested for a review.
# The release team should be notified of Public API changes in
# the system
**/PublicAPI-test.js        @carbon-design-system/release
**/PublicAPI-test.js.snap   @carbon-design-system/release


# Admins should be notified of changes to CI/CD workflows
# codeowners, and any other config present in .github.
# This should always be the last entry in this file.
/.github/           @carbon-design-system/developers-system-admins
/.github/CODEOWNERS @carbon-design-system/developers-system-admins
