Repository carbon-design-system/carbon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @carbon-design-system/developers-system-reviewers, @laurenmrice, @carbon-design-system/brand-icons, @carbon-design-system/brand-pictograms, @carbon-design-system/release, @carbon-design-system/developers-system-admins

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the
# repo. Unless a later match takes precedence, this team will
# be requested for review when someone opens a pull request.
* @carbon-design-system/developers-system-reviewers


# Core icons and pictograms
/packages/icons/src/svg/        @laurenmrice @carbon-design-system/brand-icons @carbon-design-system/developers-system-reviewers
/packages/pictograms/src/svg/   @laurenmrice @carbon-design-system/brand-pictograms @carbon-design-system/developers-system-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that modifies
# public api snapshot files, only this team and not the global
# owner(s) will be requested for a review.
# The release team should be notified of Public API changes in
# the system
**/PublicAPI-test.js        @carbon-design-system/release
**/PublicAPI-test.js.snap   @carbon-design-system/release


# Admins should be notified of changes to CI/CD workflows
# codeowners, and any other config present in .github.
# This should always be the last entry in this file.
/.github/           @carbon-design-system/developers-system-admins
/.github/CODEOWNERS @carbon-design-system/developers-system-admins

fix: test-composedModal
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
Owners: @carbon-design-system/developers-system-reviewers

fix: closing of calendar without selecting end date
  packages/react/src/components/DatePicker/plugins/rangePlugin.js
Owners: @carbon-design-system/developers-system-reviewers

ghrs: snap 06-04-1402-4948 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-04_140254_top_paths_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-04_140254_top_referrers_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-04_140254_views_clones_series_fragment.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: stars and forks 06-04-1402-4948 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/stargazers.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: vc agg 06-04-1402-4948 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-04_140254_views_clones_series_fragment.csv
  carbon-design-system/carbon/ghrs-data/views_clones_aggregate.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: report 06-04-1402-4948 for carbon-design-system/carbon
  carbon-design-system/carbon/latest-report/report.html
  carbon-design-system/carbon/latest-report/report.md
  carbon-design-system/carbon/latest-report/report.pdf
  carbon-design-system/carbon/latest-report/report_for_pdf.html
Owners: @carbon-design-system/developers-system-reviewers

chore: update to 0.1.2
  packages/react/package.json
  yarn.lock
Owners: @carbon-design-system/developers-system-reviewers

chore: add code comments to accordion
  .yarn/cache/@figma-code-connect-npm-0.1.1-a2cace1b09-4be862a7ab.zip
  packages/react/code-connect/Accordion/Accordion.figma.tsx
  packages/react/code-connect/Accordion/AccordionItem.figma.tsx
Owners: @carbon-design-system/developers-system-reviewers

fix: removed id from data
  packages/react/src/components/Dropdown/Dropdown.stories.js
Owners: @carbon-design-system/developers-system-reviewers

fix: closing of calendar without selecting end date (#16653)
  packages/react/src/components/DatePicker/plugins/rangePlugin.js
Owners: @carbon-design-system/developers-system-reviewers

fix: null child crashes RadioButtonGroup (#16655)
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-test.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
Owners: @carbon-design-system/developers-system-reviewers

fix: firefox support
  packages/react/src/components/Tabs/Tabs.tsx
Owners: @carbon-design-system/developers-system-reviewers

fix: act issue in test cases
  packages/react/src/components/Dropdown/Dropdown-test.js
  packages/react/src/components/ListBox/test-helpers.js
Owners: @carbon-design-system/developers-system-reviewers

feat: added test helper function to pass tests
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/FluidComboBox/__tests__/FluidComboBox-test.js
  packages/react/src/components/ListBox/test-helpers.js
Owners: @carbon-design-system/developers-system-reviewers

fix: test case fail in FluidDropdown
  packages/react/src/components/FluidDropdown/__tests__/FluidDropdown-test.js
Owners: @carbon-design-system/developers-system-reviewers

feat: test changes
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
Owners: @carbon-design-system/release

feat(icons): new AI model icons (#16574)
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/gem--reference.svg
  packages/icons/src/svg/32/gem.svg
  packages/icons/src/svg/32/model--reference.svg
  packages/icons/src/svg/32/model--tuned.svg
  packages/icons/src/svg/32/model.svg
Owners: @carbon-design-system/release, @carbon-design-system/developers-system-reviewers, @laurenmrice, @carbon-design-system/brand-icons

docs: update readma
  packages/react/code-connect/README.md
Owners: @carbon-design-system/developers-system-reviewers

docs: update netlify url
  packages/grid/README.md
  packages/icons-vue/README.md
  packages/icons/README.md
  packages/icons/examples/preview/src/pages/index.js
  packages/pictograms/examples/preview/src/pages/index.js
Owners: @carbon-design-system/developers-system-reviewers

fix: jaws to announce Readonly status
  packages/react/src/components/NumberInput/NumberInput.tsx
Owners: @carbon-design-system/developers-system-reviewers

chore(release): v11.59.0
  examples/class-prefix/package.json
  examples/codesandbox-styles/package.json
  examples/custom-theme/package.json
  examples/id-prefix/package.json
  examples/incremental-migration-vite/package.json
  examples/light-dark-mode/package.json
  examples/nextjs/package.json
  examples/v10-token-compat-in-v11/package.json
  examples/vite/package.json
  packages/carbon-components-react/package.json
  packages/carbon-components/package.json
  packages/elements/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/react/package.json
  packages/styles/package.json
  www/package.json
  yarn.lock
Owners: @carbon-design-system/developers-system-reviewers

fix: removed dropdown example from dataTable
  packages/react/src/components/DataTable/stories/DataTable-toolbar.stories.js
Owners: @carbon-design-system/developers-system-reviewers

chore: added suggested severity to a11y template (#16641)
  .github/ISSUE_TEMPLATE/ACCESSIBILITY_ISSUE.yaml
Owners: @carbon-design-system/developers-system-admins

ghrs: snap 06-05-1403-C991 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-05_140336_top_paths_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-05_140336_top_referrers_snapshot.csv
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-05_140336_views_clones_series_fragment.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: stars and forks 06-05-1403-C991 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/forks.csv
  carbon-design-system/carbon/ghrs-data/stargazers.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: vc agg 06-05-1403-C991 for carbon-design-system/carbon
  carbon-design-system/carbon/ghrs-data/snapshots/2024-06-05_140336_views_clones_series_fragment.csv
  carbon-design-system/carbon/ghrs-data/views_clones_aggregate.csv
Owners: @carbon-design-system/developers-system-reviewers

ghrs: report 06-05-1403-C991 for carbon-design-system/carbon
  carbon-design-system/carbon/latest-report/report.html
  carbon-design-system/carbon/latest-report/report.md
  carbon-design-system/carbon/latest-report/report.pdf
  carbon-design-system/carbon/latest-report/report_for_pdf.html
Owners: @carbon-design-system/developers-system-reviewers

fix: fixed act error
  packages/react/src/components/ListBox/test-helpers.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
Owners: @carbon-design-system/developers-system-reviewers

feat(vertical-tabs): new tab variant
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/react/src/components/Tabs/Tabs.tsx
  packages/styles/scss/components/tabs/_tabs.scss
Owners: @carbon-design-system/developers-system-reviewers

fix: fixed types to match MultiSelect
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelectPropTypes.ts
Owners: @carbon-design-system/developers-system-reviewers

fix(tabs): update vertical docs
  packages/react/src/components/Tabs/Tabs.mdx
  packages/react/src/components/Tabs/Tabs.stories.js
Owners: @carbon-design-system/developers-system-reviewers

fix(vertical-tabs): sm to use contained
  packages/react/src/components/Tabs/Tabs.tsx
Owners: @carbon-design-system/developers-system-reviewers

fix: left arrow was not visible
  packages/styles/scss/components/tabs/_tabs.scss
Owners: @carbon-design-system/developers-system-reviewers

feat: exports typescript interface
  packages/react/src/components/DatePicker/DatePicker.tsx
  packages/react/src/components/DatePicker/index.tsx
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
  packages/react/src/components/DatePickerInput/index.ts
Owners: @carbon-design-system/developers-system-reviewers

fix: removed duplicate OnChangeData
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Owners: @carbon-design-system/developers-system-reviewers

fix: testing if the build error is related to typescript
  packages/react/src/components/UIShell/HeaderMenuItem.tsx
  packages/react/src/components/UIShell/HeaderName.tsx
Owners: @carbon-design-system/developers-system-reviewers

feat: ran yarn test
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
Owners: @carbon-design-system/release

Update packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
Owners: @carbon-design-system/developers-system-reviewers

Update packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
Owners: @carbon-design-system/developers-system-reviewers

Update packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
Owners: @carbon-design-system/developers-system-reviewers
