Repository carbon-design-system/carbon, pull requests merged in 2018-11, with the labels that each got.

#1344 feat(structured-list): add experimental styles and layout
  src/components/structured-list/_mixins.scss
  src/components/structured-list/_structured-list.scss
  src/components/structured-list/structured-list.config.js
  src/components/structured-list/structured-list.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1377 fix(text-input): reduce bottom margin on password visibility toggle
  src/components/text-input/_text-input.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1380 fix(list): removes redundant for attribute for implicit label
  src/components/structured-list/structured-list.hbs
Labels: status: one more review :eyes:

#1381 fix: replace hard coded bx prefix with variable
  src/components/combo-box/_combo-box.scss
  src/components/multi-select/_multi-select.scss
  src/components/overflow-menu/_overflow-menu.scss
  src/components/select/_select.scss
  src/components/structured-list/_structured-list.scss
  src/components/tile/_tile.scss
Labels: status: ready for review :eyes:

#1372 feat(notification): add experimental notification
  src/components/notification/_inline-notification.scss
  src/components/notification/_mixins.scss
  src/components/notification/_toast-notification.scss
  src/components/notification/notification.config.js
  src/components/notification/notification.hbs
  src/globals/scss/_layout.scss
  src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:, status: visual review :eyes:

#1384 fix(combo-box): fixes multiple border issue on exp combo-box
  src/components/combo-box/_combo-box.scss
  src/components/list-box/_list-box.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1385 feat(time-picker): add in experimental time-picker
  src/components/select/_select.scss
  src/components/time-picker/_time-picker.scss
  src/components/time-picker/time-picker--light.hbs
  src/components/time-picker/time-picker.config.js
  src/components/time-picker/time-picker.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1392 fix(number-input): adjust positioning a bit
  src/components/number-input/_number-input.scss
Labels: status: ready for review :eyes:

#1382 fix(slider): add explicit labeling for slider ranges and input
  src/components/slider/slider.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1402 fix(grid): Fix IE11 wrapping last column on a new line.
  src/globals/grid/classic/_classic.scss
Labels: status: ready for review :eyes:

#1413 fix(experimental-colors): update some experimental colors
  src/components/accordion/_accordion.scss
  src/components/button/_button.scss
  src/components/date-picker/_date-picker.scss
  src/components/dropdown/_dropdown.scss
  src/components/toggle/_toggle.scss
  src/globals/scss/_theme-tokens.scss
Labels: status: ready for review :eyes:

#1419 refactor(tag): deduplicate markup and improve readability
  src/components/tag/tag.hbs
Labels: status: one more review :eyes:

#1418 fix(number-input): add aria-labels to increase/decrease controls
  src/components/number-input/number-input.hbs
Labels: project: components, status: ready for review :eyes:, type: a11y

#1423 fix(input): revert experimental inputs back to 40px, remove hover styles
  src/components/checkbox/_checkbox.scss
  src/components/date-picker/_date-picker.scss
  src/components/dropdown/_dropdown.scss
  src/components/form/_form.scss
  src/components/list-box/_list-box.scss
  src/components/number-input/_number-input.scss
  src/components/select/_select.scss
  src/components/slider/_slider.scss
  src/components/text-input/_text-input.scss
  src/components/text-input/text-input.hbs
  src/components/time-picker/_time-picker.scss
  src/globals/scss/_typography.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1407 feat(docs): add docs for avt1 testing
  docs/avt1guiance.md
Labels: project: components, status: ready for review :eyes:, type: docs :book:

#1416 fix(search): AVT1 bugs
  src/components/search/search.hbs
Labels: project: components, status: ready for review :eyes:, type: a11y

#1427 fix(structured-list): implement keyboard navigation for new markup
  src/components/structured-list/structured-list.js
Labels: status: ready for review :eyes:, type: dev :robot:

#1394 feat(text-area): add experimental styling
  src/components/text-area/_text-area.scss
  src/components/text-area/text-area.hbs
Labels: status: visual review :eyes:

#1430 feat(loader): add experimental colors to loader
  src/components/loading/_loading.scss
  src/components/loading/loading.hbs
Labels: status: visual review :eyes:

#1420 feat(search): Add in experimental search
  src/components/search/_search.scss
  src/components/search/search.config.js
  src/components/search/search.hbs
Labels: status: visual review :eyes:

#1417 fix(pagination): correct labelling discrepancies between versions
  src/components/pagination/pagination.hbs
Labels: project: components, status: ready for review :eyes:, type: a11y

#1446 fix(time-picker): move label before input it's labelling
  src/components/time-picker/time-picker.hbs
Labels: project: components, type: a11y

#1447 Feat(codesnippet): add experimental component Code Snippet, Closes #1350
  src/components/code-snippet/_code-snippet.scss
  src/components/code-snippet/code-snippet.js
  src/globals/scss/_theme-tokens.scss
Labels: status: ready for review :eyes:, type: visual :art:

#1449 refactor(ui-shell): update name and prefix, z-indices, and hbs templates
  src/components/ui-shell/_content.scss
  src/components/ui-shell/_header.scss
  src/components/ui-shell/_side-nav.scss
  src/components/ui-shell/_ui-shell.scss
  src/components/ui-shell/header.hbs
  src/components/ui-shell/side-nav-header.hbs
  src/components/ui-shell/ui-shell.config.js
  src/components/ui-shell/ui-shell.hbs
Labels: status: one more review :eyes:

#1443 fix(build): ensure es directory has only ESM
  gulpfile.js
  package.json
  yarn.lock
Labels: status: one more review :eyes:

#1439 feat(inline-loader): add experimental colors
  src/components/inline-loading/_inline-loading.scss
  src/components/inline-loading/inline-loading.config.js
  src/components/inline-loading/inline-loading.hbs
  src/components/loading/loading.config.js
  src/components/loading/loading.hbs
Labels: status: one more review :eyes:

#1445 fix(multi-select): add fieldset, legend, and make boxes tabbable
  src/components/multi-select/multi-select.hbs
Labels: project: components, type: a11y

#1457 fix(docs): fix misspelled filename avt1guidance
  docs/accessibility.md
Labels: status: one more review :eyes:

#1453 fix(date-picker): fix wrong scroll-to-focus in range mode
  src/components/date-picker/date-picker.js
Labels: status: one more review :eyes:

#1462 fix(date-picker): wrong font weight
  src/components/date-picker/_flatpickr.scss
Labels: status: visual review :eyes:

#1459 feat(docs): add AVT2 testing documentation
  docs/accessibility.md
Labels: project: components, status: WIP 👩‍💻, status: help wanted :open_hands:, type: a11y

#1464 fix(button): inset button border on focus
  src/components/button/_mixins.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:, type: visual :art:, v10 :new:

#1429 UI shell header submenu
  src/components/ui-shell/_header.scss
  src/components/ui-shell/header-nav.hbs
  src/components/ui-shell/header-nav.js
  src/components/ui-shell/header-submenu.js
  src/components/ui-shell/header.hbs
  src/globals/js/components.js
  tests/spec/header-nav_spec.js
  tests/spec/header-submenu_spec.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:, type: dev :robot:

#1485 fix(date-picker): added heights to experimental and fixed arrow placement
  package.json
  src/components/date-picker/_date-picker.scss
  yarn.lock
Labels: status: one more review :eyes:

#1483 feat(docs): extend avt2 testing documentation
  docs/accessibility.md
Labels: project: components, type: a11y

#1482 fix(overflow-menu): support flip mode in experimental
  src/components/floating-menu/floating-menu.js
  src/components/overflow-menu/_overflow-menu.scss
  src/components/overflow-menu/overflow-menu.js
Labels: status: one more review :eyes:

#1494 chore: restore lockfile
  yarn.lock
Labels: status: ready for review :eyes:

#1496 test(header-submenu): mock custom event for changing focus
  tests/spec/header-submenu_spec.js
Labels: status: one more review :eyes:
