Repository carbon-design-system/carbon, pull requests merged in 2018-09, with the labels that each got.

#1056 docs(deployment): add docs for deploying changes
  docs/deploying-changes.md
Labels: status: waiting for response :thought_balloon:

#1070 Ensure correct positioning of checkmark in checkbox
  src/components/checkbox/_checkbox.scss
Labels: status: one more review :eyes:

#1065 chore(devenv): cope with PORT_SASS_DEV_BUILD not being defined
  demo/js/components/RootPage.js
  demo/views/demo-nav-data.hbs
  gulpfile.js
Labels: status: one more review :eyes:

#1055 feat(feature-flags): allow default feature flag value per feature
  src/globals/scss/_feature-flags.scss
Labels: status: ready for review :eyes:

#1117 fix(ui-shell): make updates to platform header and nav
  src/components/ui-shell/README.md
  src/components/ui-shell/_platform-header.scss
  src/components/ui-shell/_platform-nav.scss
  src/components/ui-shell/_platform-side-nav.scss
  src/components/ui-shell/platform-header.hbs
  src/components/ui-shell/platform-nav.hbs
  src/components/ui-shell/ui-shell.config.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1060 feat(text-input): add password visibility toggle for text fields
  .all-contributorsrc
  README.md
  src/components/text-input/README.md
  src/components/text-input/_text-input.scss
  src/components/text-input/text-input.config.js
  src/components/text-input/text-input.hbs
  src/components/text-input/text-input.js
  src/globals/js/components.js
  tests/spec/text-input_spec.js
Labels: status: one more review :eyes:

#1074 feat(text-input): add experimental text-input
  package.json
  src/components/form/_form.scss
  src/components/text-input/_text-input.scss
  src/components/text-input/text-input.hbs
  src/globals/scss/_theme.scss
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1116 feat(link): add experimental link component
  src/components/link/_link.scss
  src/globals/scss/_theme.scss
Labels: status: one more review :eyes:

#1115 fix(overflow-menu): improve overall a11y
  src/components/overflow-menu/overflow-menu.hbs
  src/components/overflow-menu/overflow-menu.js
Labels: status: WIP 👩‍💻, status: ready for review :eyes:, type: a11y

#1080 feat(accordion): Add experimental accordion
  src/components/accordion/_accordion.scss
  src/globals/scss/_theme.scss
Labels: status: one more review :eyes:, status: visual review :eyes:

#1145 docs(text-input): add light themed password input example
  src/components/text-input/text-input.config.js
  src/components/text-input/text-input.hbs
Labels: status: one more review :eyes:

#1148 chore(devenv): emit errors from Fractal for diagnosis
  tools/templates.js
Labels: status: one more review :eyes:

#1125 feat(shell-header-nav): nav links
  src/components/ui-shell/_platform-header.scss
  src/components/ui-shell/_theme.scss
  src/components/ui-shell/platform-header-nav.hbs
  src/components/ui-shell/ui-shell.config.js
Labels: project: ui shell, status: visual review :eyes:

#1135 feat(checkbox): Updates to experimental checkbox
  src/components/checkbox/_checkbox.scss
  src/components/checkbox/checkbox.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:
