Repository carbon-design-system/carbon, pull requests merged in 2018-05, with the labels that each got.

#734 fix(text-input): switched from outline to border on focus
  src/components/modal/modal.html
  src/components/text-input/_text-input.scss
Labels: ready for review

#742 fix(data-table-v2): fix the icon that becomes small when column header wraps
  src/components/data-table-v2/_data-table-v2-sort.scss
Labels: one more review

#751 fix(select): added disabled styling to option in select
  src/components/select/_select.scss
Labels: ready for review

#749 fix(dropdown): added tabindex logic to dropdown
  src/components/dropdown/dropdown.html
  src/components/dropdown/dropdown.js
  src/components/order-summary/order-summary.html
Labels: ready for review

#750 fix(input): remove red focus ring when input marked as required firefox
  src/components/form/_form.scss
Labels: ready for review

#752 fix(multi-select): fixed hover width and hover color
  src/components/list-box/_list-box.scss
Labels: ready for review

#754 fix(data-table): update data-table to use the new search component
  src/components/data-table-v2/_data-table-v2-action.scss
  src/components/data-table-v2/data-table-v2--pagination.html
  src/components/data-table-v2/data-table-v2-expandable.html
  src/components/data-table-v2/data-table-v2.html
Labels: one more review

#753 fix(structured-list): Update header alignment to bottom to match designs
  src/components/structured-list/_structured-list.scss
Labels: one more review, ready for review

#757 feat(truncation): add truncation classes
  src/globals/scss/_helper-classes.scss
  src/globals/scss/_layout.scss
Labels: ready for review

#773 V9 merge 05162018
  demo/js/components/PageHeader/page-header.scss
  demo/scss/_markdown-page.scss
  demo/scss/_page.scss
  docs/contributing.md
  src/components/accordion/_accordion.scss
  src/components/breadcrumb/_breadcrumb.scss
  src/components/button/_button.scss
  src/components/checkbox/_checkbox.scss
  src/components/code-snippet/_code-snippet.scss
  src/components/data-table-v2/README.md
  src/components/data-table-v2/_data-table-v2-action.scss
  src/components/data-table-v2/_data-table-v2-skeleton.scss
  src/components/data-table-v2/_data-table-v2-sort.scss
  src/components/data-table-v2/_data-table-v2.scss
  src/components/data-table-v2/data-table-v2--expandable.hbs
  src/components/data-table-v2/data-table-v2--pagination.hbs
  src/components/data-table-v2/data-table-v2.hbs
  src/components/data-table/_data-table.scss
  src/components/date-picker/_date-picker.scss
  src/components/dropdown/_dropdown.scss
  src/components/dropdown/dropdown--inline.html
  src/components/dropdown/dropdown.hbs
  src/components/dropdown/dropdown.js
  src/components/form/_form.scss
  src/components/list-box/_list-box.scss
  src/components/modal/_modal.scss
  src/components/module/_module.scss
  src/components/notification/_toast-notification.scss
  src/components/number-input/_number-input.scss
  src/components/order-summary/order-summary.hbs
  src/components/pagination/_pagination.scss
  src/components/progress-indicator/_progress-indicator.scss
  src/components/radio-button/_radio-button.scss
  src/components/search/_search.scss
  src/components/select/README.md
  src/components/select/_select.scss
  src/components/skeleton/_skeleton-icon.scss
  src/components/skeleton/_skeleton-text.scss
  src/components/skeleton/_skeleton.scss
  src/components/skeleton/skeleton.hbs
  src/components/slider/_slider.scss
  src/components/structured-list/_structured-list.scss
  src/components/structured-list/structured-list.hbs
  src/components/tabs/_tabs.scss
  src/components/tag/_tag.scss
  src/components/text-area/_text-area.scss
  src/components/text-input/_text-input.scss
  src/components/toggle/_toggle.scss
  src/components/tooltip/_tooltip.scss
  src/components/unified-header/_account-switcher.scss
  src/globals/grid/classic/_classic.scss
  src/globals/js/mixins/README.md
  src/globals/scss/_helper-classes.scss
  src/globals/scss/_helper-mixins.scss
  src/globals/scss/_layout.scss
  src/globals/scss/_typography.scss
  src/globals/scss/_vars.scss
  src/globals/scss/styles.scss
Labels: one more review

#778 fix(font-face): bring missing $css--font-face reference back
  src/globals/scss/_css--font-face.scss
  src/globals/scss/styles.scss
Labels: one more review

#782 fix(pagination): bring v2 version back
  src/components/pagination/pagination-v2.dust
  src/components/pagination/pagination.config.js
  src/components/pagination/pagination.hbs
Labels: one more review

#783 chore(devenv): fix full-render demo
  tools/templates.js
Labels: one more review

#785 V9 merge 05182018
  src/components/dropdown/_dropdown.scss
  src/components/dropdown/dropdown--inline.html
  src/components/number-input/_number-input.scss
  src/components/text-area/_text-area.scss
  src/components/text-input/_text-input.scss
  src/globals/scss/_css--font-face.scss
  src/globals/scss/_typography.scss
  src/globals/scss/styles.scss
Labels: one more review

#784 chore(devenv): update variant labels
  src/components/card/card.config.js
  src/components/code-snippet/code-snippet.config.js
  src/components/combo-box/combo-box.config.js
  src/components/detail-page-header/detail-page-header.config.js
  src/components/dropdown/dropdown.config.js
  src/components/form/form.config.js
  src/components/interior-left-nav/interior-left-nav.config.js
  src/components/list-box/list-box.config.js
  src/components/loading/loading.config.js
  src/components/modal/modal.config.js
  src/components/multi-select/multi-select.config.js
  src/components/number-input/number-input.config.js
  src/components/order-summary/order-summary.config.js
  src/components/search/search.config.js
  src/components/select/select.config.js
  src/components/text-area/text-area.config.js
  src/components/text-input/text-input.config.js
Labels: one more review

#794 fix(danger-button): Add correct hover color for icon
  src/components/button/_button.scss
Labels: one more review

#793 fix(table): removes selected class from row on cancel click
  src/components/data-table-v2/data-table-v2.js
Labels: one more review

#807 Date picker accessibility
  src/components/date-picker/date-picker.js
  src/components/form/_form.scss
Labels: one more review

#819 fix(form): fixed button width
  src/components/form/_form.scss
Labels: one more review

#817 fix(code-snippet): fixed config file to remove light class from the inline version
  src/components/code-snippet/code-snippet.config.js
  src/components/code-snippet/code-snippet.hbs
Labels: one more review

#827 fix: Add code snippet example skeleton state html
  src/components/skeleton/skeleton.hbs
Labels: one more review

#834 fix(radio): Update radio + checkbox border colors
  src/components/checkbox/_checkbox.scss
  src/components/radio-button/_radio-button.scss
Labels: ready for review

#826 fix(icons): Update data table v2 & card icons
  src/components/card/card.hbs
  src/components/data-table-v2/data-table-v2--pagination.hbs
  src/components/data-table-v2/data-table-v2.hbs
  src/components/toolbar/_toolbar.scss
Labels: one more review

#832 fix(pagination): update colors
  src/components/pagination/_pagination.scss
Labels: ready for review

#830 fix(multi-select): update hover color
  src/components/list-box/_list-box.scss
Labels: ready for review
