Repository carbon-design-system/carbon, pull requests merged in 2018-04, with the labels that each got.

#669 fix(floating-menu): fix an issue with IE11 tooltip handling blur event
  src/components/floating-menu/floating-menu.js
  src/globals/js/misc/event-matches.js
Labels: one more review

#672 fix(license): add year, name
  LICENSE.md
Labels: one more review

#687 fix(modal): fix typo in floating menus list
  src/components/modal/modal.js
Labels: one more review

#676 fix(date-picker): introduce a hidden input
  src/components/date-picker/date-picker.js
Labels: one more review

#685 fix(content-switcher): control aria-hidden of target panels
  src/components/content-switcher/content-switcher.js
Labels: one more review

#649 chore(devenv): instantiate/release components as component markup is updated
  demo/js/components/ComponentExample/ComponentExample.js
Labels: one more review

#702 fix(data-table-v2): add import-once mixin
  src/components/data-table-v2/_data-table-v2-action.scss
  src/components/data-table-v2/_data-table-v2-core.scss
  src/components/data-table-v2/_data-table-v2-expandable.scss
  src/components/data-table-v2/_data-table-v2-inline-edit.scss
  src/components/data-table-v2/_data-table-v2-sort.scss
Labels: one more review

#686 fix(Dropdown): fix the appear and disappear of scrollbar, resolves #502
  src/components/dropdown/_dropdown.scss
Labels: one more review

#683 fix(pagination): fix the select input to support multi-digits numbers
  src/components/pagination/_pagination.scss
Labels: one more review, ready for review

#698 upgrade express to address vulnerabilities
  package.json
Labels: failing tests

#701 fix(detail-page-header): fix detail-page-header on smaller screens
  src/components/detail-page-header/_detail-page-header.scss
Labels: one more review

#706 fix(modal): use backtick for template string
  src/components/modal/modal.js
Labels: ready for review

#705 fix(date-picker): updated styles based on new flatpickr version
  src/components/date-picker/_date-picker.scss
  yarn.lock
Labels: ready for review

#728 fix(date-picker): fix event listener leak
  src/components/date-picker/date-picker.js
Labels: one more review

#735 fix(select): match select height to other form elements
  src/components/select/_select.scss
Labels: ready for review

#733 fix(structured-list): fix padding issues
  src/components/structured-list/_mixins.scss
  src/components/structured-list/_structured-list.scss
  src/components/structured-list/structured-list.html
Labels: ready for review
