Repository carbon-design-system/carbon, pull requests merged in 2018-07, with the labels that each got.

#944 fix(slider): update min/max widths
  src/components/slider/_slider.scss
Labels: one more review

#954 fix(data-table-v2): added in font-weight to td
  src/components/data-table-v2/_data-table-v2-core.scss
Labels: one more review

#955 Fix ProgressIndicator js sample
  src/components/progress-indicator/README.md
Labels: one more review

#947 fix(overflow-menu): add truncation for strings to avoid wrapping text
  src/components/overflow-menu/_overflow-menu.scss
  src/components/overflow-menu/overflow-menu.hbs
Labels: one more review

#952 fix(tabs): fix for mobile tab selection not closing the dropdown (#941)
  src/components/tabs/tabs.js
Labels: one more review

#953 chore(components): better error for null arg for .init() call
  src/globals/js/mixins/init-component-by-event.js
  src/globals/js/mixins/init-component-by-launcher.js
  src/globals/js/mixins/init-component-by-search.js
  tests/spec/mixins/init-component-by-launcher_spec.js
  tests/spec/mixins/init-component-by-search_spec.js
Labels: one more review

#961 docs(floating-menu): update READMEs for data-floating-menu-container
  src/components/overflow-menu/README.md
  src/components/tooltip/README.md
Labels: one more review

#959 (fix) RTL styles for Checkbox
  src/components/checkbox/_checkbox.scss
Labels: one more review

#962 Remove margin-bottom for Skeleton Heading
  src/components/skeleton/_skeleton-text.scss
Labels: one more review

#970 fix(small-toggle): hide tiny check
  src/components/toggle/_toggle.scss
Labels: ready for review

#969 fix(data-table): fix escape key TypeError
  src/components/data-table-v2/data-table-v2.js
Labels: ready for review

#972 fix(code-snippet): Update bottom spacing & fix bug to only show more btn when needed
  src/components/code-snippet/_code-snippet.scss
  src/components/code-snippet/code-snippet.hbs
Labels: one more review, ready for review

#976 fix(code-snippet): add aria label to text container
  src/components/code-snippet/code-snippet.hbs
Labels: one more review

#980 fix(overflow/tooltip): browser zoomed in positioning for overflow, po…
  src/components/overflow-menu/overflow-menu.js
  src/components/tooltip/tooltip.js
Labels: one more review

#984 feat(overflow-menu): add flip-up option
  src/components/overflow-menu/_overflow-menu.scss
  src/components/overflow-menu/overflow-menu.config.js
  src/components/overflow-menu/overflow-menu.hbs
  src/components/overflow-menu/overflow-menu.js
Labels: one more review

#983 fix(pagination): fix layout issue of select box
  src/components/pagination/_pagination.scss
Labels: one more review
