Repository carbon-design-system/carbon, pull requests merged in 2018-06, with the labels that each got.

#876 chore: Add Ale to contributors list, update maintainers in package.json
  .all-contributorsrc
  README.md
  package.json
Labels: one more review

#888 fix(date-picker): fix disabled day / month styles
  src/components/date-picker/_date-picker.scss
Labels: one more review

#881 fix(tooltip): fix tooltip a11y issues
  src/components/tooltip/_tooltip.scss
  src/components/tooltip/tooltip--icon.hbs
Labels: one more review

#874 fix(tooltip): fix click-to-open for IE11
  src/components/floating-menu/floating-menu.js
  src/components/tooltip/tooltip.hbs
  src/components/tooltip/tooltip.js
Labels: one more review

#895 fix(color): increase text color specificity on some components
  src/components/code-snippet/_code-snippet.scss
  src/components/form/_form.scss
  src/components/list/_list.scss
  src/components/modal/_modal.scss
  src/components/structured-list/_structured-list.scss
  src/components/toggle/_toggle.scss
Labels: one more review

#886 fix(select): Update readme for form validation
  src/components/select/README.md
Labels: one more review

#900 fix(modal): use flex box for footer
  src/components/modal/_modal.scss
Labels: one more review

#909 (fix) RTL styles for FileUploader
  src/components/file-uploader/_file-uploader.scss
Labels: one more review

#903 fix(breadcrumb): remove firefox border override
  src/components/breadcrumb/_breadcrumb.scss
Labels: one more review

#905 fix(spacing): Add missing layout spacing variables
  src/globals/scss/_spacing.scss
Labels: one more review

#907 fix: Update form elements to have a 1px transparent bottom border for HC mode
  src/components/date-picker/_date-picker.scss
  src/components/number-input/_number-input.scss
  src/components/select/_select.scss
  src/components/text-area/_text-area.scss
  src/components/text-input/_text-input.scss
  src/components/time-picker/_time-picker.scss
Labels: one more review

#913 fix(colors): updated tokens for tile and input fields
  src/components/date-picker/_date-picker.scss
  src/components/dropdown/_dropdown.scss
  src/components/list-box/_list-box.scss
  src/components/number-input/_number-input.scss
  src/components/select/_select.scss
  src/components/text-area/_text-area.scss
  src/components/text-input/_text-input.scss
  src/components/tile/_tile.scss
  src/components/time-picker/_time-picker.scss
Labels: visual

#899 fix(fonts): avoid referencing split woff files
  src/globals/fonts/IBMPlexMono-Light.woff
  src/globals/fonts/IBMPlexMono-Regular.woff
  src/globals/fonts/IBMPlexMono-SemiBold.woff
  src/globals/fonts/IBMPlexSans-Light.woff
  src/globals/fonts/IBMPlexSans-Regular.woff
  src/globals/fonts/IBMPlexSans-SemiBold.woff
  src/globals/scss/_css--plex-core.scss
Labels: one more review

#916 chore: update Contributing docs
  docs/contributing.md
Labels: one more review

#928 fix(tooltip): fix for click-outside
  package.json
  src/components/slider/slider.js
  src/components/tooltip/tooltip.js
  tests/karma.conf.js
  tests/spec/floating-menu_spec.js
  tests/spec/modal_spec.js
  tests/spec/search_spec.js
  tests/spec/tooltip_spec.js
  tools/ci-check.sh
  yarn.lock
Labels: one more review

#925 fix(skeleton-state): Update styles for select skeleton state. Remove duplicate code and old files
  src/components/select/_select.scss
  src/components/skeleton/skeleton.hbs
  src/components/skeleton/skeleton.html
  src/components/text-input/_text-input.scss
Labels: one more review

#889 fix(data-table-v2): fix the undefined method called when press in escape key
  src/components/data-table-v2/data-table-v2.js
Labels: one more review

#922 fix(datepicker): update datepicker, timepicker placeholder colors
  src/components/date-picker/_date-picker.scss
  src/components/list-box/_list-box.scss
  src/components/search/_search.scss
  src/components/text-area/_text-area.scss
  src/components/text-input/_text-input.scss
  src/components/time-picker/_time-picker.scss
Labels: one more review

#931 fix(components): bugs & hard-coded colors
  src/components/data-table-v2/_data-table-v2-core.scss
  src/components/data-table-v2/_data-table-v2-sort.scss
  src/components/data-table/_data-table.scss
  src/components/file-uploader/_file-uploader.scss
  src/components/list-box/_list-box.scss
  src/components/modal/_modal.scss
  src/components/overflow-menu/_overflow-menu.scss
  src/components/toggle/_toggle.scss
  src/components/tooltip/_tooltip.scss
  src/globals/scss/_css--plex-core.scss
Labels: one more review, ready for review

#933 chore(devenv): stop reloading server upon change in template
  gulpfile.js
  package.json
  server.js
  tools/templates.js
  yarn.lock
Labels: one more review

#940 fix(pagination): Update pagination styles to match design spec
  src/components/pagination/_pagination.scss
  src/components/pagination/pagination.hbs
Labels: one more review

#936 fix(tabs): Update mobile dropdown view styles to match v9
  src/components/tabs/README.md
  src/components/tabs/_tabs.scss
Labels: one more review

#941 fix(tabs): fix for mobile tab selection not closing the dropdown
  src/components/tabs/tabs.js
Labels: one more review
