Repository carbon-design-system/carbon, pull requests merged in 2018-10, with the labels that each got.

#1171 fix(multi-select): truncate text if needed, add title
  src/components/list-box/_list-box.scss
  src/components/multi-select/multi-select.hbs
Labels: status: one more review :eyes:

#1160 feat(radio-button): add experimental styles
  src/components/form/_form.scss
  src/components/link/_link.scss
  src/components/radio-button/_radio-button.scss
  src/components/text-input/_text-input.scss
  src/globals/scss/_helper-mixins.scss
  src/globals/scss/_theme.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1226 chore(devenv): sync live demo colors to Carbon body ones
  demo/js/components/ComponentExample/component-example.scss
Labels: status: one more review :eyes:

#1172 chore(devenv): go away from path-based routing
  Staticfile
  demo/js/components/RootPage.js
  demo/js/components/boot-nav.js
  demo/views/demo-nav-data.hbs
  gulpfile.js
Labels: status: one more review :eyes:

#1170 chore:(remove UI-Shell nav link)
  src/components/ui-shell/platform-header-nav.hbs
  src/components/ui-shell/platform-side-nav-nav.hbs
Labels: status: one more review :eyes:

#1151 feat(button): Add experimental Button
  src/components/button/_button.scss
  src/components/button/_mixins.scss
  src/components/button/button.hbs
  src/globals/scss/_theme.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1237 fix(text-input): update text input colors
  src/components/form/_form.scss
  src/components/text-input/_text-input.scss
  src/globals/scss/_theme.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1272 chore(devenv): fix for Safari
  demo/js/components/boot-nav.js
Labels: status: one more review :eyes:

#1261 feat(tooltip): Add experimental tooltip
  src/components/link/_link.scss
  src/components/tooltip/_tooltip.scss
  src/components/tooltip/tooltip--definition.hbs
  src/components/tooltip/tooltip--icon.hbs
  src/components/tooltip/tooltip.hbs
  src/globals/scss/_theme-tokens.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1281 feat(number-input): add experimental number-input
  src/components/form/_form.scss
  src/components/number-input/_number-input.scss
  src/components/number-input/number-input.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1285 feat(tile): add experimental tiles
  src/components/tile/_tile.scss
  src/globals/scss/_helper-mixins.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1269 feat(dropdown): add experimental dropdown component
  src/components/combo-box/combo-box.hbs
  src/components/dropdown/_dropdown.scss
  src/components/list-box/_list-box.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1314 feat(list): add experimental list
  src/components/list/_list.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1315 feat(slider): add experimental slider
  src/components/form/_form.scss
  src/components/number-input/_number-input.scss
  src/components/slider/_slider.scss
  src/components/slider/slider.hbs
  tests/spec/slider_spec.js
Labels: status: visual review :eyes:

#1326 fix(ui-shell): fix css syntax
  src/components/ui-shell/_platform-side-nav.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1318 feat(content-switcher): add experimental content-switcher
  src/components/content-switcher/_content-switcher.scss
  src/components/content-switcher/content-switcher.hbs
  src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1325 chore(build): support for generating static HTML with feature flags
  gulpfile.js
  server.js
  tools/templates.js
Labels: status: one more review :eyes:

#1328 fix(notification): add correct icon svgs for different types
  src/components/notification/notification.hbs
Labels: status: ready for review :eyes:

#1316 feat(tags): change colors to experimental colors
  src/components/tag/_mixins.scss
  src/components/tag/_tag.scss
  src/components/tag/tag.config.js
  src/components/tag/tag.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1337 feat(date-picker): Add in experimental date picker
  demo/scss/demo.scss
  src/components/date-picker/_date-picker.scss
  src/components/date-picker/date-picker--range.hbs
  src/components/form/_form.scss
  src/components/text-input/_text-input.scss
  src/globals/scss/_helper-mixins.scss
  src/globals/scss/_theme-tokens.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1348 feat(select): add experimental select
  src/components/number-input/_number-input.scss
  src/components/select/_select.scss
  src/components/select/select.hbs
  src/components/text-input/_text-input.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1369 fix(content-switcher): update experimental colors
  src/components/content-switcher/_content-switcher.scss
  src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1370 fix(date-picker): fix icon placement on single date-picker
  src/components/date-picker/_date-picker.scss
Labels: status: ready for review :eyes:

#1360 Fix/misaligned number controls
  src/components/number-input/README.md
  src/components/number-input/_number-input.scss
  src/components/number-input/number-input.hbs
Labels: status: merge conflict :no_entry_sign:
