Repository carbon-design-system/carbon, pull requests merged in 2019-09, with the labels that each got.

#3884 fix(css-reset): apply box-sizing reset to all descendants
  packages/components/src/globals/scss/_css--reset.scss
Labels: status: one more review :eyes:

#3882 docs(sass): add guide for carbon-components sass
  docs/guides/sass.md
Labels: status: one more review :eyes:

#3894 fix(Slider): remove redundant labelText
  packages/react/src/components/Slider/Slider.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3846 fix(modal): remove leftover mixin
  packages/components/src/components/modal/_mixins.scss
  packages/components/src/components/modal/_modal.scss
  packages/components/src/globals/scss/_mixins.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3842 feat(TooltipIcon): port vanilla WCAG 2.1 fixes
  packages/components/src/globals/scss/_tooltip.scss
  packages/react/src/components/TooltipIcon/TooltipIcon.js
  packages/react/src/components/TooltipIcon/__snapshots__/TooltipIcon-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#3899 fix(notification): fix low contrast markup
  packages/components/src/components/notification/notification.config.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#3896 [Experiment] feat(react-hooks): add react-hooks
  .yarn/offline-mirror/@babel-core-7.5.5.tgz
  .yarn/offline-mirror/@babel-helper-define-map-7.5.5.tgz
  .yarn/offline-mirror/@babel-helper-member-expression-to-functions-7.5.5.tgz
  .yarn/offline-mirror/@babel-helper-replace-supers-7.5.5.tgz
  .yarn/offline-mirror/@babel-plugin-transform-block-scoping-7.5.5.tgz
  .yarn/offline-mirror/@babel-plugin-transform-classes-7.5.5.tgz
  .yarn/offline-mirror/@babel-plugin-transform-object-super-7.5.5.tgz
  .yarn/offline-mirror/@babel-preset-env-7.5.5.tgz
  .yarn/offline-mirror/@types-node-12.7.3.tgz
  .yarn/offline-mirror/acorn-7.0.0.tgz
  .yarn/offline-mirror/ajv-6.10.2.tgz
  .yarn/offline-mirror/ajv-keywords-3.4.1.tgz
  .yarn/offline-mirror/autoprefixer-9.6.1.tgz
  .yarn/offline-mirror/browserslist-4.7.0.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30000989.tgz
  .yarn/offline-mirror/clone-deep-4.0.1.tgz
  .yarn/offline-mirror/css-loader-3.2.0.tgz
  .yarn/offline-mirror/electron-to-chromium-1.3.250.tgz
  .yarn/offline-mirror/is-reference-1.1.3.tgz
  .yarn/offline-mirror/node-releases-1.1.29.tgz
  .yarn/offline-mirror/postcss-modules-local-by-default-3.0.2.tgz
  .yarn/offline-mirror/postcss-modules-values-3.0.0.tgz
  .yarn/offline-mirror/react-16.9.0.tgz
  .yarn/offline-mirror/react-dom-16.9.0.tgz
  .yarn/offline-mirror/resolve-1.12.0.tgz
  .yarn/offline-mirror/rollup-1.20.3.tgz
  .yarn/offline-mirror/rollup-plugin-commonjs-10.1.0.tgz
  .yarn/offline-mirror/rollup-plugin-node-resolve-5.2.0.tgz
  .yarn/offline-mirror/sass-loader-8.0.0.tgz
  .yarn/offline-mirror/schema-utils-2.2.0.tgz
  .yarn/offline-mirror/shallow-clone-3.0.1.tgz
  .yarn/offline-mirror/style-loader-1.0.0.tgz
  packages/react-hooks/.npmignore
  packages/react-hooks/.storybook/_styles.scss
  packages/react-hooks/.storybook/addons.js
  packages/react-hooks/.storybook/config.js
  packages/react-hooks/.storybook/webpack.config.js
  packages/react-hooks/package.json
  packages/react-hooks/rollup.config.js
  packages/react-hooks/src/__tests__/useAnnouncer-test.js
  packages/react-hooks/src/__tests__/useId-test.js
  packages/react-hooks/src/__tests__/usePortalNode-test.js
  packages/react-hooks/src/index.js
  packages/react-hooks/src/test-helpers.js
  packages/react-hooks/src/useAnnouncer-story.js
  packages/react-hooks/src/useAnnouncer.js
  packages/react-hooks/src/useId-story.js
  packages/react-hooks/src/useId.js
  packages/react-hooks/src/usePortalNode-story.js
  packages/react-hooks/src/usePortalNode.js
  yarn.lock
Labels: status: failing ci :no_good_man:

#3652 feat(floating-menu): add focus wrap element to components
  packages/components/demo/views/layouts/preview.hbs
  packages/components/docs/sass.md
  packages/components/src/components/modal/modal.hbs
  packages/components/src/components/modal/modal.js
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/components/src/components/overflow-menu/overflow-menu.hbs
  packages/components/src/components/overflow-menu/overflow-menu.js
  packages/components/src/components/tooltip/tooltip.hbs
  packages/components/src/components/tooltip/tooltip.js
  packages/components/src/globals/js/mixins/track-blur.js
  packages/components/tests/spec/floating-menu_spec.js
  packages/components/tests/spec/modal_spec.js
  packages/components/tests/spec/overflow-menu_spec.js
Labels: status: ready to merge :tada:

#3872 feat(FileUploader): add drag and drop file uploader
  packages/components/src/components/file-uploader/_file-uploader.scss
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/FileUploader/FileUploader-story.js
  packages/react/src/components/FileUploader/FileUploader-test.js
  packages/react/src/components/FileUploader/FileUploader.js
  packages/react/src/components/FileUploader/FileUploaderDropContainer.js
  packages/react/src/components/FileUploader/FileUploaderItem.js
  packages/react/src/components/FileUploader/__snapshots__/FileUploader-test.js.snap
  packages/react/src/components/FileUploader/index.js
  packages/react/src/components/FileUploader/stories/drop-container.js
  packages/react/src/index.js
Labels: status: ready to merge :tada:

#3917 chore(project): force react resolutions
  .yarn/offline-mirror/react-16.8.6.tgz
  .yarn/offline-mirror/react-dom-16.8.6.tgz
  .yarn/offline-mirror/react-test-renderer-16.8.6.tgz
  .yarn/offline-mirror/scheduler-0.13.6.tgz
  package.json
  packages/react/src/components/Copy/Copy-test.js
  packages/react/src/components/CopyButton/CopyButton-test.js
  yarn.lock
Labels: status: ready to merge :tada:

#3916 chore: remove sassdoc annotation
  packages/components/src/components/file-uploader/_file-uploader.scss
Labels: status: ready to merge :tada:

#3924 docs(button): update iconDescription prop description
  packages/react/src/components/Button/Button.js
Labels: status: ready to merge :tada:

#3926 fix(dropdown): restore space bar and enter key item selection
  packages/components/src/components/dropdown/dropdown.js
  packages/components/tests/spec/dropdown_spec.js
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#3933 fix(InlineLoading): fix prop type
  packages/react/src/components/InlineLoading/InlineLoading-story.js
  packages/react/src/components/InlineLoading/InlineLoading.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3876 feat(data-table): add sticky header to React data table
  packages/react/src/components/DataTable/DataTable-story.js
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/Table.js
  packages/react/src/components/DataTable/TableContainer.js
  packages/react/src/components/DataTable/__tests__/DataTable-test.js
  packages/react/src/components/DataTable/__tests__/Table-test.js
  packages/react/src/components/DataTable/__tests__/TableContainer-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/Table-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableContainer-test.js.snap
  packages/react/src/components/DataTable/stories/default.js
  packages/react/src/components/DataTable/stories/shared.js
  packages/react/src/components/DataTable/stories/with-batch-actions.js
  packages/react/src/components/DataTable/stories/with-batch-expansion.js
  packages/react/src/components/DataTable/stories/with-boolean-column.js
  packages/react/src/components/DataTable/stories/with-dynamic-content.js
  packages/react/src/components/DataTable/stories/with-expansion.js
  packages/react/src/components/DataTable/stories/with-options.js
  packages/react/src/components/DataTable/stories/with-selection--radio.js
  packages/react/src/components/DataTable/stories/with-selection.js
  packages/react/src/components/DataTable/stories/with-sorting.js
  packages/react/src/components/DataTable/stories/with-toolbar.js
Labels: status: failing ci :no_good_man:, status: visual review :eyes:, status: waiting for author's response

#3947 fix(TileGroup): Wrap RadioTiles inside TileGroup
  packages/react/src/components/TileGroup/TileGroup.js
Labels: status: one more review :eyes:

#3954 feat(TooltipIcon): auto generate default IDs
  packages/react/src/components/TooltipIcon/TooltipIcon-test.js
  packages/react/src/components/TooltipIcon/TooltipIcon.js
  packages/react/src/components/TooltipIcon/__snapshots__/TooltipIcon-test.js.snap
Labels: status: ready for review :eyes:

#3977 fix(form): remove italic from helper text
  packages/components/src/components/form/_form.scss
  packages/components/src/components/text-area/_text-area.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/type/_inlined/_styles.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/type/_styles.scss
  packages/components/src/globals/scss/vendor/@carbon/type/scss/_inlined/_styles.scss
  packages/components/src/globals/scss/vendor/@carbon/type/scss/_styles.scss
  packages/elements/docs/sass.md
  packages/type/docs/sass.md
  packages/type/scss/_styles.scss
Labels: status: ready for review :eyes:

#3979 fix(date-picker): update month UI upon manual input
  packages/components/src/components/date-picker/date-picker.js
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready for review :eyes:

#3873 feat(file-uploader): add drop and drop file uploader
  packages/components/demo/components.js
  packages/components/demo/js/file-uploader-demo-state-manager.js
  packages/components/gulpfile.js
  packages/components/src/components/file-uploader/README.md
  packages/components/src/components/file-uploader/_file-uploader.scss
  packages/components/src/components/file-uploader/file-uploader.config.js
  packages/components/src/components/file-uploader/file-uploader.hbs
  packages/components/src/components/file-uploader/file-uploader.js
  packages/components/tests/spec/file-uploader_spec.js
Labels: status: ready to merge :tada:

#3959 feat: fix inline notification focus indicator
  src/components/notification/_inline-notification.scss
Labels: status: one more review :eyes:

#3995 feat(TooltipDefinition): support custom trigger element class names
  packages/react/src/components/TooltipDefinition/TooltipDefinition-story.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition-test.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition.js
  packages/react/src/components/TooltipDefinition/__snapshots__/TooltipDefinition-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#4004 fix(type): remove italic from helper text 01
  packages/type/src/__tests__/__snapshots__/styles-test.js.snap
  packages/type/src/styles.js
Labels: status: ready to merge :tada:

#3989 feat: add Carbon theme switcher to React storybook
  packages/react/.storybook/Container.js
  packages/react/.storybook/_container.scss
  packages/react/.storybook/addon-carbon-theme/components/Panel.js
  packages/react/.storybook/addon-carbon-theme/register.js
  packages/react/.storybook/addon-carbon-theme/shared.js
  packages/react/.storybook/addons.js
  packages/react/.storybook/config.js
  packages/react/.storybook/webpack.config.js
  packages/react/package.json
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/globals/scss/_carbon-theme.scss
  yarn.lock
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#3983 fix(button): vertically align to top by default
  packages/components/src/components/button/_mixins.scss
Labels: status: ready to merge :tada:

#4028 fix(ComboBox): resolves DAP violations
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/ListBox/ListBoxSelection.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxSelection-test.js.snap
Labels: status: one more review :eyes:

#4038 fix(toggle): update colors
  packages/components/src/components/toggle/_toggle.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#4066 fix(Modal): remove scroller class on unmount
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.js
Labels: status: ready for review :eyes:

#4065 feat(scss-generator): add additional types for AST
  packages/scss-generator/__tests__/scss-test.js
  packages/scss-generator/src/types/definitions.js
Labels: status: one more review :eyes:

#4073 fix(tooltip): add aria-labelledby and adjust aria-describedby attributes
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge :tada:, type: a11y ♿

#4059 feat(tile): add ignoreLinkClicks and ignoreTextSelection props
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.js
Labels: status: one more review :eyes:

#4072 fix(icon): normalize minimize/maximize
  packages/icons/svg/16/maximize.svg
  packages/icons/svg/16/minimize.svg
Labels: status: ready to merge :tada:

#4041 feat(pictograms): adds pictos and updates categories
  packages/pictograms/categories.yml
  packages/pictograms/master/pictogram-master.ai
  packages/pictograms/metadata.yml
  packages/pictograms/svg/mexico-city--angel--of--independence.svg
  packages/pictograms/svg/mexico-city--museo--soumaya.svg
  packages/pictograms/svg/milan--duomo--di--milano.svg
  packages/pictograms/svg/milan--skyscrapers.svg
Labels: status: failing ci :no_good_man:, status: one more review :eyes:

#4100 feat: support CSS custom property theme maps behind feature flag
  packages/components/demo/scss/_theme.scss
  packages/components/demo/scss/demo.scss
  packages/components/docs/sass.md
  packages/components/gulpfile.js
  packages/components/src/globals/scss/_feature-flags.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/generated/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/generated/_mixins.scss
  packages/elements/docs/sass.md
  packages/react/.storybook/_container.scss
  packages/react/.storybook/webpack.config.js
  packages/react/src/globals/scss/_carbon-theme.scss
  packages/themes/__tests__/mixins-test.js
  packages/themes/docs/sass.md
  packages/themes/scss/generated/_mixins.scss
  packages/themes/tasks/build.js
Labels: status: ready for review :eyes:

#4125 fix(accordion): top align accordion headings
  packages/components/docs/sass.md
  packages/components/src/components/accordion/_accordion.scss
  packages/components/src/globals/scss/_theme-tokens.scss
  packages/react/src/components/Accordion/Accordion-story.js
Labels: status: ready to merge :tada:

#4132 fix(dropdown): update overflow style rules for ie, edge, and safari support
  packages/components/src/components/dropdown/_dropdown.scss
Labels: status: one more review :eyes:
