Repository carbon-design-system/carbon, pull requests merged in 2019-03, with the labels that each got.

#1933 fix(radio-button): support combinations of group/label
  src/components/radio-button/_radio-button.scss
  src/components/radio-button/radio-button.config.js
  src/components/radio-button/radio-button.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1752 fix(multi-select): update experimental UI
  demo/scss/demo.scss
  demo/views/layouts/list-box-preview.hbs
  src/components/list-box/_list-box.scss
  src/components/list-box/list-box.config.js
  src/components/multi-select/multi-select.config.js
  src/components/multi-select/multi-select.hbs
Labels: status: visual review :eyes:, status: waiting for reviewer's response

#1844 fix(modal): match experimental spec
  src/components/modal/_modal.scss
  src/components/modal/modal.config.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1948 docs(number-input): remove examples with incorrect usage patterns
  src/components/number-input/number-input.hbs
Labels: status: ready for review :eyes:

#1962 fix(radio-button): update styles to audit spec
  src/components/radio-button/_radio-button.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1934 chore(devenv): minify JS code for dev env for staging
  demo/views/layouts/demo-nav.hbs
  demo/views/layouts/grid-preview.hbs
  demo/views/layouts/preview.hbs
  demo/views/layouts/ui-shell-preview.hbs
  gulpfile.js
  package.json
  tools/templates.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1868 chore(type): deprecate @mixin plex-font-face
  demo/scss/_layout.scss
  demo/scss/demo.scss
  src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  src/globals/scss/__tests__/__snapshots__/css--font-face-test.js.snap
  src/globals/scss/__tests__/__snapshots__/css--plex-core-test.js.snap
  src/globals/scss/_css--plex-core.scss
  src/globals/scss/_helper-mixins.scss
Labels: status: ready for review :eyes:

#1963 chore(test): fix CLI argument conflict
  tests/karma.conf.js
  tools/ci-check.sh
Labels: status: ready for review :eyes:

#1917 docs(readme): deprecate src in the NPM package
  README.md
  src/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1842 fix(checkbox): match experimental spec
  demo/scss/demo.scss
  src/components/checkbox/_checkbox.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1965 fix(components): update type styles
  src/components/code-snippet/_code-snippet.scss
  src/components/date-picker/_date-picker.scss
  src/components/form/_form.scss
  src/components/modal/_modal.scss
  src/components/progress-indicator/_progress-indicator.scss
  src/components/radio-button/_radio-button.scss
  src/components/search/_search.scss
  src/components/structured-list/_structured-list.scss
  src/components/tabs/_tabs.scss
  src/components/tag/_tag.scss
  src/components/text-area/_text-area.scss
  src/components/toggle/_toggle.scss
  src/globals/scss/_helper-mixins.scss
Labels: status: ready for review :eyes:

#1972 chore(footer): depreate for v10
  src/components/footer/_footer.scss
  src/components/footer/footer.config.js
Labels: status: ready for review :eyes:

#1969 Increase screen reader a11y for code snippet
  src/components/code-snippet/code-snippet.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, type: a11y ♿, v10 :new:

#1968 fix(form): match experimental spec
  src/components/form/_form.scss
  src/components/form/form.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1960 fix(link): match experimental spec
  demo/scss/demo.scss
  src/components/link/_link.scss
  src/components/link/link.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1905 feat(breadcrumb): add support for current page, update text styles
  src/components/breadcrumb/README.md
  src/components/breadcrumb/_breadcrumb.scss
  src/components/breadcrumb/breadcrumb--current-page.hbs
  src/components/breadcrumb/breadcrumb--enabled.hbs
  src/components/breadcrumb/breadcrumb.config.js
  src/components/breadcrumb/breadcrumb.hbs
  src/components/breadcrumb/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: visual review :eyes:

#1967 fix(number-input): match experimental spec
  src/components/number-input/_number-input.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1916 chore(styles): deprecate misc features for v10
  demo/scss/demo.scss
  src/globals/scss/_colors.scss
  src/globals/scss/_css--body.scss
  src/globals/scss/_css--plex-core.scss
  src/globals/scss/_css--typography.scss
  src/globals/scss/_deprecate.scss
  src/globals/scss/_helper-mixins.scss
  src/globals/scss/_layout.scss
  src/globals/scss/_typography.scss
  src/globals/scss/styles.scss
Labels: status: ready for review :eyes:

#1996 fix(link): reduce :focus:active underline width
  demo/scss/demo.scss
  src/components/link/_link.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1961 fix(text-area): match experimental spec
  src/components/text-area/_text-area.scss
  src/components/text-area/text-area.config.js
  src/components/text-area/text-area.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1992 fix(radio-button): update to audit spec and remove center label buttons
  src/components/radio-button/_radio-button.scss
  src/components/radio-button/radio-button.config.js
  src/components/radio-button/radio-button.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2007 fix(reset): remove border radius for text input fields
  src/globals/scss/_css--reset.scss
Labels: status: ready for review :eyes:

#2012 fix(form): set max width on helper text on non-mobile screens
  src/components/form/_form.scss
Labels: status: ready for review :eyes:

#1983 chore(devenv): merge component previews
  demo/scss/demo.scss
  demo/views/layouts/list-box-preview.hbs
  demo/views/layouts/preview.hbs
  src/components/list-box/list-box.config.js
  src/components/multi-select/multi-select.config.js
  tools/templates.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2010 fix(tooltip): remove margin from tooltip labels
  src/components/tooltip/_tooltip.scss
Labels: status: ready for review :eyes:, type: discussion 💬

#2003 fix(number-input): apply disabled styles to disabled controls
  src/components/number-input/_number-input.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1977 fix(date-picker): upgrade to latest flatpickr
  package.json
  src/components/date-picker/_date-picker.scss
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2011 fix(form): match label and helper text spacing to spec
  src/components/form/_form.scss
  src/components/text-area/_text-area.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1999 fix(number-input): replace ternary operator with theme switcher options
  src/components/number-input/number-input.config.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1985 fix(slider): fix label position
  src/components/slider/slider.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1930 fix(button): match experimental spec
  src/components/button/_button.scss
  src/components/button/button.config.js
Labels: status: ready for review :eyes:

#1931 fix(notification): make audit adjustments
  package.json
  src/components/notification/_inline-notification.scss
  src/components/notification/_toast-notification.scss
  src/components/notification/notification.hbs
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1959 fix(text-input): match experimental spec
  src/components/text-input/_text-input.scss
  src/components/text-input/text-input.config.js
  src/components/text-input/text-input.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1987 fix(dropdown): fix the label position of inline variant
  src/components/dropdown/dropdown.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2013 fix(codesnippet): Design audit changes
  src/components/code-snippet/_code-snippet.scss
  src/components/code-snippet/code-snippet.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2015 fix(progress-indicator): design audit changes
  src/components/progress-indicator/_progress-indicator.scss
  src/components/progress-indicator/progress-indicator.config.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2004 [audit] fix(inline-loader): updates to loader svg
  src/components/inline-loading/_inline-loading.scss
  src/components/inline-loading/inline-loading.hbs
  src/components/loading/_loading.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1990 fix(tooltip): match experimental spec
  src/components/tooltip/_tooltip.scss
  src/components/tooltip/tooltip--icon.hbs
  src/components/tooltip/tooltip.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2018 docs(radio-button): migration doc for removed CSS classes
  src/components/radio-button/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1988 chore(devenv): fix dev-env specific styles
  demo/scss/demo.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2027 fix(number-input): target mobile hover button
  src/components/number-input/_number-input.scss
Labels: status: ready for review :eyes:

#2020 fix(dropdown): add inline display rule to inline dropdown
  src/components/dropdown/_dropdown.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2022 chore: bump minimatch version
  package.json
Labels: status: ready for review :eyes:

#2032 docs(migrate): add root migration guide and update README
  README.md
  docs/migration/README.md
  docs/migration/migrate-to-10.x.md
Labels: status: one more review :eyes:, type: dev :robot:, type: docs :book:

#2030 fix(form): use correct colors for helper text
  src/components/form/_form.scss
  src/components/text-area/text-area.hbs
  src/components/text-input/text-input.hbs
Labels: status: ready for review :eyes:

#2005 chore(search): change hover and active state colors
  src/components/search/_search.scss
  src/components/search/search.config.js
  src/components/search/search.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2031 fix(text-input): add missing disabled color token
  src/components/text-input/_text-input.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2035 feat(progress): add styles to support interactive progress steps
  src/components/progress-indicator/_progress-indicator.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2045 update motion vars, toggle motion updates
  src/components/toggle/_toggle.scss
  src/globals/scss/_motion.scss
Labels: status: one more review :eyes:, type: dev :robot:

#2038 fix(text-input/text-area): explicitely set placeholder opacity
  src/components/text-area/_text-area.scss
  src/components/text-input/_text-input.scss
Labels: status: one more review :eyes:, type: a11y ♿, type: dev :robot:

#2050 chore(devenv): use transpiled code as markdown-it mock
  tools/rollup.config.dev.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2077 fix(text-input): adjust padding on inputs w/icons
  src/components/text-input/_text-input.scss
  src/components/text-input/text-input.hbs
Labels: status: ready for review :eyes:

#2078 Update migrate-to-10.x.md
  docs/migration/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2064 fix(form): use caption-01 style for validation UI
  src/components/form/_form.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:, v10 :new:

#2057 Tabs audit
  src/components/tabs/_tabs.scss
  src/components/tabs/tabs.hbs
Labels: status: ready for review :eyes:, type: dev :robot:

#2053 refactor(overflow-menu): convert item to flex item
  src/components/overflow-menu/_overflow-menu.scss
  src/components/overflow-menu/overflow-menu.hbs
Labels: status: ready for review :eyes:

#2024 fix(form): remove overflow and max-height rules
  src/components/form/_form.scss
  src/components/select/_select.scss
  src/components/select/migrate-to-10.x.md
  src/components/select/select.hbs
  src/components/text-area/_text-area.scss
  src/components/text-area/migrate-to-10.x.md
  src/components/text-area/text-area.hbs
  src/components/text-input/_text-input.scss
  src/components/text-input/migrate-to-10.x.md
  src/components/text-input/text-input.hbs
Labels: status: ready for review :eyes:, v10 :new:

#2067 [Motion] Accordion
  src/components/accordion/_accordion.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2048 fix(file-uploader): change button from sm to default primary
  src/components/file-uploader/_file-uploader.scss
  src/components/file-uploader/file-uploader.hbs
Labels: status: visual review :eyes:

#1994 fix(dropdown): match experimental spec
  src/components/dropdown/_dropdown.scss
  src/components/dropdown/dropdown.hbs
Labels: status: visual review :eyes:

#1978 fix(select): match experimental spec
  src/components/select/_select.scss
  src/components/select/select.config.js
  src/components/select/select.hbs
Labels: status: ready for review :eyes:

#2054 fix(overflow-menu): use correct tokens for item icons
  src/components/overflow-menu/_overflow-menu.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2085 chore(content-switcher): update styles from audit
  src/components/content-switcher/_content-switcher.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2083 chore(devenv): move ILN to shell
  demo/js/components/ComponentExample/component-overrides.scss
  demo/js/components/PageHeader/page-header.scss
  demo/js/components/RootPage.js
  demo/js/components/SideNav.js
  demo/js/components/SideNavToggle/SideNavToggle.js
  demo/js/components/SideNavToggle/side-nav-toggle.scss
  demo/scss/_interior-left-nav.scss
  demo/scss/_layout.scss
  demo/scss/_markdown-page.scss
  demo/scss/_page.scss
  demo/scss/demo.scss
  gulpfile.js
  package.json
  tools/rollup.config.dev.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2080 [Motion] Date picker
  src/components/date-picker/_date-picker.scss
  src/components/date-picker/_flatpickr.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2090 fix(dropdown): reset inline dropdown item spacing
  src/components/dropdown/_dropdown.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2099 fix(time-picker): vertically center caret
  src/components/form/_form.scss
  src/components/time-picker/_time-picker.scss
  src/components/time-picker/migrate-to-10.x.md
  src/components/time-picker/time-picker--light.hbs
  src/components/time-picker/time-picker.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2087 fix(button): add disabled button class
  src/components/button/_button.scss
  src/components/button/button.hbs
  src/components/button/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2076 Pagination audit fixes
  src/components/pagination/_pagination.scss
  src/components/pagination/pagination.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:, type: dev :robot:, v10 :new:

#2100 fix(select): align inline label and helper text
  src/components/select/_select.scss
  src/components/select/select.hbs
Labels: status: ready for review :eyes:, type: visual :art:

#2102 fix(overflow-menu): use disabled tokens for icons
  src/components/overflow-menu/_overflow-menu.scss
  src/components/overflow-menu/overflow-menu.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2097 chore(content-switcher): update styles
  src/components/content-switcher/_content-switcher.scss
  src/components/content-switcher/content-switcher.config.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2116 [Motion] Duration token update all
  src/components/accordion/_accordion.scss
  src/components/button/_mixins.scss
  src/components/code-snippet/_code-snippet.scss
  src/components/content-switcher/_content-switcher.scss
  src/components/date-picker/_date-picker.scss
  src/components/date-picker/_flatpickr.scss
  src/components/dropdown/_dropdown.scss
  src/components/link/_link.scss
  src/components/list-box/_list-box.scss
  src/components/loading/_loading.scss
  src/components/modal/_modal.scss
  src/components/notification/_inline-notification.scss
  src/components/number-input/_number-input.scss
  src/components/overflow-menu/_overflow-menu.scss
  src/components/pagination-nav/_pagination-nav.scss
  src/components/pagination/_pagination.scss
  src/components/progress-indicator/_progress-indicator.scss
  src/components/search/_search.scss
  src/components/select/_select.scss
  src/components/slider/_slider.scss
  src/components/structured-list/_structured-list.scss
  src/components/tabs/_tabs.scss
  src/components/text-area/_text-area.scss
  src/components/text-input/_text-input.scss
  src/components/tile/_tile.scss
  src/components/time-picker/_time-picker.scss
  src/components/toggle/_toggle.scss
  src/globals/scss/_motion.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2117 fix(toolbar): misc fixes
  src/components/overflow-menu/overflow-menu.js
  src/components/toolbar/toolbar.config.js
  src/components/toolbar/toolbar.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2084 chore(sass): remove deprecated sass features
  src/components/accordion/_accordion.scss
  src/components/breadcrumb/_breadcrumb.scss
  src/components/button/_button.scss
  src/components/code-snippet/_code-snippet.scss
  src/components/copy-button/_copy-button.scss
  src/components/dropdown/_dropdown.scss
  src/components/form/_form.scss
  src/components/link/_link.scss
  src/components/list-box/_list-box.scss
  src/components/modal/_modal.scss
  src/components/notification/_inline-notification.scss
  src/components/notification/_toast-notification.scss
  src/components/number-input/_number-input.scss
  src/components/pagination-nav/_pagination-nav.scss
  src/components/slider/_slider.scss
  src/components/structured-list/_structured-list.scss
  src/components/tabs/_tabs.scss
  src/components/toolbar/_toolbar.scss
  src/components/tooltip/_tooltip.scss
  src/components/ui-shell/_header.scss
  src/components/ui-shell/_product-switcher.scss
  src/components/ui-shell/_side-nav.scss
  src/globals/scss/_css--helpers.scss
  src/globals/scss/_css--plex-core.scss
  src/globals/scss/_css--typography.scss
  src/globals/scss/_deprecate.scss
  src/globals/scss/_helper-mixins.scss
  src/globals/scss/_layout.scss
  src/globals/scss/_typography.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2106 refactor(button): convert to flex container
  demo/js/components/ComponentExample/component-overrides.scss
  src/components/button/_button.scss
  src/components/button/_mixins.scss
  src/components/button/button.hbs
  src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2127 chore(styles): update focus-outline for v10
  src/globals/scss/_helper-mixins.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2119 fix(notification): resize and remove overrides
  package.json
  src/components/notification/_inline-notification.scss
  src/components/notification/_toast-notification.scss
  src/components/notification/notification.hbs
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2114 fix(select): correct invalid inline spacing
  src/components/select/_select.scss
  src/components/select/select.config.js
  src/components/select/select.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2135 fix(select): remove inherited order rule
  src/components/select/_select.scss
  src/components/select/select.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2133 refactor(accordion) removes repetitive styling
  src/components/accordion/_accordion.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2132 fix(checkbox): apply correct disabled color tokens
  src/components/checkbox/_checkbox.scss
  src/components/checkbox/checkbox.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2128 fix(tabs): fix issues _on_ breakpoint
  src/components/tabs/_tabs.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2122 fix(button): carbonX ghost button needs to be interactive-04
  src/components/button/_button.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2136 Audit: Pagination fixes (vanilla)
  src/components/pagination/_pagination.scss
Labels: status: ready for review :eyes:, v10 :new:

#2129 feat(tag): add filter tag variant
  src/components/tag/_tag.scss
  src/components/tag/tag.config.js
  src/components/tag/tag.hbs
Labels: status: one more review :eyes:, status: visual review :eyes:

#2151 fix(text-area): consolidate invalid textarea style
  src/components/form/_form.scss
  src/components/text-area/_text-area.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2153 fix(textarea): remove webkit only prefix
  src/components/text-area/_text-area.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2148 fix(button): target disabled classes
  demo/js/components/ComponentExample/component-overrides.scss
  src/components/button/_button.scss
  src/components/button/_mixins.scss
  src/components/button/button.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2145 fix(tooltip): position and focus outline fixes
  src/components/tooltip/_tooltip.scss
  src/components/tooltip/tooltip.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2144 fix(link): color adjustments
  src/components/link/_link.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2158 fix(text-area): modify spacing tokens for invalid icon
  src/components/text-area/_text-area.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2146 chore(styles): deprecate helvetica mixin
  src/globals/scss/_typography.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2161 feat(button): support experimental button sets
  src/components/button/_button.scss
  src/components/button/button--set.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2044 docs(sass): add public and private sass API annotations
  src/globals/scss/_css--font-face.scss
  src/globals/scss/_css--helpers.scss
  src/globals/scss/_css--plex-core.scss
  src/globals/scss/_css--reset.scss
  src/globals/scss/_css--typography.scss
  src/globals/scss/_feature-flags.scss
  src/globals/scss/_functions.scss
  src/globals/scss/_helper-mixins.scss
  src/globals/scss/_layer.scss
  src/globals/scss/_layout.scss
  src/globals/scss/_spacing.scss
  src/globals/scss/_theme-tokens.scss
  src/globals/scss/_typography.scss
  src/globals/scss/_vars.scss
  src/globals/scss/styles.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, type: dev :robot:, type: docs :book:

#2164 fix(link): fix active/focus/visited underline color
  src/components/link/_link.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2149 chore(tabs): tabs nav correct alignment
  demo/js/components/ComponentExample/component-overrides.scss
  src/components/tabs/_tabs.scss
  src/components/tabs/tabs.hbs
  tests/karma.conf.js
  tests/spec/navigation-menu_spec.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2112 fix(list-box): update CarbonX selection icon svg's height
  src/components/list-box/_list-box.scss
  src/components/list-box/list-box.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2169 chore(code-snippet): add padding after single line
  src/components/code-snippet/_code-snippet.scss
Labels: status: one more review :eyes:

#2154 Pagination screen reader tweak
  src/components/pagination/pagination.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, v10 :new:

#2168 fix(data-table-v2): revert change from header to title-container
  src/components/data-table-v2/_data-table-v2-core.scss
  src/components/data-table-v2/data-table-v2.hbs
Labels: status: one more review :eyes:

#2165 chore(test): fix redundant line introduced in recent commit
  tests/spec/navigation-menu_spec.js
Labels: status: merge conflict :no_entry_sign:, status: one more review :eyes:, status: ready for review :eyes:

#2173 chore(project): remove old assets and data folders
  src/globals/assets/bluemix-logo.svg
  src/globals/assets/images/placeholder-icon-32x32.svg
  src/globals/data/colors.json
Labels: status: one more review :eyes:

#2175 docs(project): update migrate-to-10.x.md docs for globals/scss
  src/globals/scss/migrate-to-10.x.md
Labels: status: one more review :eyes:

#2182 chore(devenv): remove the last dependency to deprecated mixin
  demo/js/components/CodeExample/code-example.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2174 feat(grid): update grid to beta.2
  gulpfile.js
  src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  src/globals/grid/_classic.scss
  src/globals/grid/_experimental.scss
  src/globals/grid/_grid.scss
  src/globals/grid/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2184 chore(devenv): avoid using method shorthand syntax
  demo/polyfills/devenv.js
  tools/rollup.config.dev.js
Labels: status: ready for review :eyes:

#2180 fix(tab): re-enable elipsis
  src/components/tabs/_tabs.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2189 fix(link): add `aria-disabled` to disabled example
  src/components/link/link.hbs
Labels: status: one more review :eyes:

#2183 fix(modal): fix JavaScript error in IE11
  src/globals/js/mixins/init-component-by-launcher.js
Labels: status: visual review :eyes:

#2181 fix(list-box): match experimental spec
  src/components/list-box/_list-box.scss
  src/components/list-box/list-box.config.js
  src/components/list-box/list-box.hbs
Labels: status: visual review :eyes:

#2195 fix(radio button) Selected disabled state with $disabled token
  src/components/radio-button/_radio-button.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2193 Progress indicator focus, hover, active states; and text color
  src/components/progress-indicator/_progress-indicator.scss
Labels: status: ready for review :eyes:, type: bug 🐛, v10 :new:

#2203 fix(list-box): apply ellipsis overflow text styles
  src/components/list-box/_list-box.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2206 fix(dropdown): add overflow styles to menu options
  src/components/dropdown/_dropdown.scss
  src/components/dropdown/dropdown.config.js
  src/components/list-box/_list-box.scss
  src/components/list-box/list-box.config.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2213 fix(data-table-v2): add helper mixins
  src/components/data-table-v2/_data-table-v2-core.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2207 fix(multi-select): match experimental spec
  src/components/list-box/_list-box.scss
  src/components/multi-select/_multi-select.scss
  src/components/multi-select/multi-select.config.js
  src/components/multi-select/multi-select.hbs
Labels: status: visual review :eyes:

#2212 fix(list-box): hide top border of first menu option
  src/components/list-box/_list-box.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2210 fix(combo-box): match experimental spec
  src/components/combo-box/_combo-box.scss
  src/components/combo-box/combo-box.config.js
  src/components/combo-box/combo-box.hbs
  src/components/list-box/_list-box.scss
  src/components/text-input/_text-input.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2220 fix(data-table-v2): fix expandable cell index
  src/components/data-table-v2/data-table-v2.js
  tests/spec/data-table-v2_spec.js
Labels: status: waiting for reviewer's response

#2214 test(styles): updates for v10
  src/globals/grid/__tests__/grid-test.js
  src/globals/scss/__tests__/__snapshots__/typography-test.js.snap
  src/globals/scss/__tests__/css--font-face-test.js
  src/globals/scss/__tests__/css--plex-core-test.js
  src/globals/scss/__tests__/typography-test.js
  tests/karma.conf.js
  tests/pure-modules-test.js
  tests/spec/file-uploader_spec.js
Labels: status: ready for review :eyes:

#2221 fix(loading): update theme token
  src/components/loading/_loading.scss
Labels: status: visual review :eyes:

#2228 fix(multi-select): restore checkbox form item wrapper
  src/components/multi-select/_multi-select.scss
  src/components/multi-select/multi-select.hbs
Labels: status: ready for review :eyes:

#2209 feat(data-table-v2): add expand styles
  src/components/data-table-v2/_data-table-v2-core.scss
  src/components/data-table-v2/_data-table-v2-expandable.scss
  src/components/data-table-v2/data-table-v2.config.js
  src/components/data-table-v2/data-table-v2.hbs
  src/components/data-table-v2/data-table-v2.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2231 chore(pagination): use en dash instead of hyphen
  src/components/pagination/pagination.hbs
Labels: type: bug 🐛, v10 :new:

#2234 chore(pagination): fix select sizes (only react needs this)
  src/components/pagination/_pagination.scss
Labels: status: one more review :eyes:, type: dev :robot:, v10 :new:

#2238 fix(radio-button): make background color transparent
  src/components/radio-button/_radio-button.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2245 fix: update data table header to fit contents
  src/components/data-table-v2/_data-table-v2-core.scss
Labels: status: visual review :eyes:
