Repository carbon-design-system/carbon, pull requests merged in 2019-04, with the labels that each got.

#2249 docs(project): add steps for publishing
  docs/publishing.md
Labels: status: one more review :eyes:

#2257 feat(data-table): add v10 toolbar and batch actions
  src/components/data-table-v2/_data-table-v2-action.scss
  src/components/data-table-v2/_data-table-v2-core.scss
  src/components/data-table-v2/_data-table-v2-sort.scss
  src/components/data-table-v2/data-table-v2.config.js
  src/components/data-table-v2/data-table-v2.hbs
  src/components/data-table-v2/data-table-v2.js
  tests/spec/data-table-v2_spec.js
Labels: status: ready for review :eyes:

#2241 fix(combo-box): support v10 input controls
  demo/js/components/ComponentExample/component-overrides.scss
  src/components/combo-box/_combo-box.scss
  src/components/combo-box/combo-box.hbs
  src/components/form/_form.scss
  src/components/list-box/_list-box.scss
  src/components/list-box/list-box.hbs
  src/components/multi-select/multi-select.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2254 chore(build): ensure latest Yarn runs on CI
  .circleci/config.yml
Labels: status: ready for review :eyes:

#2253 chore(build): clean up build script
  package.json
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2252 chore(test): upgrade Karma
  .yarn-offline-mirror/array-slice-0.2.3.tgz
  .yarn-offline-mirror/async-2.6.2.tgz
  .yarn-offline-mirror/braces-0.1.5.tgz
  .yarn-offline-mirror/circular-json-0.5.9.tgz
  .yarn-offline-mirror/combine-lists-1.0.1.tgz
  .yarn-offline-mirror/date-format-1.2.0.tgz
  .yarn-offline-mirror/date-format-2.0.0.tgz
  .yarn-offline-mirror/expand-braces-0.1.2.tgz
  .yarn-offline-mirror/expand-range-0.1.1.tgz
  .yarn-offline-mirror/fs-extra-7.0.1.tgz
  .yarn-offline-mirror/is-number-0.1.1.tgz
  .yarn-offline-mirror/jsonfile-4.0.0.tgz
  .yarn-offline-mirror/karma-3.1.3.tgz
  .yarn-offline-mirror/karma-4.0.1.tgz
  .yarn-offline-mirror/karma-webpack-2.0.13.tgz
  .yarn-offline-mirror/karma-webpack-3.0.5.tgz
  .yarn-offline-mirror/log4js-3.0.6.tgz
  .yarn-offline-mirror/log4js-4.0.2.tgz
  .yarn-offline-mirror/lolex-1.4.0.tgz
  .yarn-offline-mirror/lolex-3.1.0.tgz
  .yarn-offline-mirror/repeat-string-0.2.2.tgz
  .yarn-offline-mirror/streamroller-0.7.0.tgz
  .yarn-offline-mirror/streamroller-1.0.3.tgz
  .yarn-offline-mirror/time-stamp-2.2.0.tgz
  .yarn-offline-mirror/webpack-dev-middleware-1.12.2.tgz
  package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2256 refactor(time-picker): reposition label
  src/components/time-picker/time-picker.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2258 chore(button): icon v10 update
  src/components/button/_button.scss
  src/components/button/_mixins.scss
  src/components/button/button.hbs
  src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2239 docs(migration): update migration docs
  docs/migration/migrate-to-10.x.md
  src/components/data-table-v2/ARCHITECTURE.md
  src/components/data-table-v2/README.md
  src/components/data-table-v2/migrate-to-10.x.md
Labels: status: one more review :eyes:

#2265 fix(multi-select): add styles for filterable multiselect inputs
  src/components/multi-select/_multi-select.scss
  src/components/multi-select/multi-select.config.js
  src/components/multi-select/multi-select.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2269 chore: update migration docs
  src/components/accordion/migrate-to-10.x.md
  src/components/breadcrumb/migrate-to-10.x.md
  src/components/button/README.md
  src/components/button/migrate-to-10.x.md
  src/components/code-snippet/migrate-to-10.x.md
  src/components/content-switcher/migrate-to-10.x.md
  src/components/copy-button/migrate-to-10.x.md
  src/components/dropdown/migrate-to-10.x.md
  src/components/file-uploader/migrate-to-10.x.md
  src/components/form/migrate-to-10.x.md
Labels: status: WIP 👩‍💻, status: failing tests :no_good_man:, type: dev :robot:, type: docs :book:, v10 :new:

#2262 feat(data-table): add zebra styles
  src/components/data-table-v2/_data-table-v2-core.scss
  src/components/data-table-v2/_data-table-v2-sort.scss
  src/components/data-table-v2/data-table-v2.config.js
  src/components/data-table-v2/data-table-v2.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2277 docs(migration): remove unreleased block
  docs/migration/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2278 fix(password-input): remove toggle error outline
  src/components/text-input/_text-input.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2283 Update publishing.md
  docs/publishing.md
Labels: status: one more review :eyes:

#2287 feat(Button): add icon-only variant
  demo/js/components/ComponentExample/component-overrides.scss
  src/components/button/_button.scss
  src/components/button/button.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2292 feat(data-table): add data-table paths and aliases
  src/components/data-table-v2/_data-table-v2-action.scss
  src/components/data-table-v2/_data-table-v2-core.scss
  src/components/data-table-v2/_data-table-v2-expandable.scss
  src/components/data-table-v2/_data-table-v2-inline-edit.scss
  src/components/data-table-v2/_data-table-v2-skeleton.scss
  src/components/data-table-v2/_data-table-v2.scss
  src/components/data-table-v2/data-table-v2.config.js
  src/components/data-table-v2/data-table-v2.js
  src/components/data-table/ARCHITECTURE.md
  src/components/data-table/README.md
  src/components/data-table/_data-table-action.scss
  src/components/data-table/_data-table-core.scss
  src/components/data-table/_data-table-expandable.scss
  src/components/data-table/_data-table-inline-edit-cell.scss
  src/components/data-table/_data-table-inline-edit.scss
  src/components/data-table/_data-table-skeleton.scss
  src/components/data-table/_data-table-sort.scss
  src/components/data-table/_data-table.scss
  src/components/data-table/data-table.config.js
  src/components/data-table/data-table.hbs
  src/components/data-table/data-table.js
  src/components/data-table/migrate-to-10.x.md
  src/globals/js/components.js
  src/globals/scss/styles.scss
  tests/spec/data-table_spec.js
Labels: status: one more review :eyes:

#2300 chore(tiles): update grid tiles to 16 column
  src/components/tile/tile--grid.hbs
Labels: status: ready for review :eyes:

#2290 fix: content switcher icon position
  src/components/content-switcher/_content-switcher.scss
  src/components/content-switcher/content-switcher.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2301 docs(migration): update link to v10 documentation
  docs/migration/migrate-to-10.x.md
Labels: status: one more review :eyes:

#2318 chore(styles): remove deprecated color tokens
  src/components/data-table/_data-table-core.scss
  src/components/data-table/_data-table-expandable.scss
  src/globals/scss/__tests__/themes-test.js
  src/globals/scss/_theme-tokens.scss
Labels: status: ready to merge :tada:

#2342 IE11 progress indicator
  src/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge :tada:

#2321 fix: allow click on search magnifier to focus on input
  src/components/search/_search.scss
Labels: status: one more review :eyes:

#2316 fix(ie11): file uploader ie11 bugs
  src/components/file-uploader/_file-uploader.scss
Labels: status: ready to merge :tada:

#2345 Update Contributing.md
  .github/CONTRIBUTING.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2314 fix(tabs): adjust focus outline size
  src/components/tabs/_tabs.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2344 fix(modal): prevent bubbling on ESC on inactive
  src/components/modal/modal.js
Labels: status: one more review :eyes:

#2349 chore(structured-list): remove border class
  src/components/structured-list/_structured-list.scss
  src/components/structured-list/structured-list.config.js
  src/components/structured-list/structured-list.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2315 fix(accordion): support IE for focus outline
  src/components/accordion/_accordion.scss
  src/globals/scss/_helper-mixins.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2352 fix(data-table): update zebra color token
  src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2331 chore(docs): update v10 migration docs
  src/components/data-table/migrate-to-10.x.md
  src/components/dropdown/migrate-to-10.x.md
  src/components/form/migrate-to-10.x.md
  src/components/inline-loading/migrate-to-10.x.md
  src/components/loading/migrate-to-10.x.md
  src/components/modal/migrate-to-10.x.md
  src/components/notification/migrate-to-10.x.md
  src/components/number-input/migrate-to-10.x.md
  src/components/overflow-menu/migrate-to-10.x.md
  src/components/pagination/migrate-to-10.x.md
  src/components/progress-indicator/migrate-to-10.x.md
  src/components/radio-button/migrate-to-10.x.md
  src/components/search/migrate-to-10.x.md
  src/components/select/migrate-to-10.x.md
  src/components/slider/migrate-to-10.x.md
  src/components/structured-list/migrate-to-10.x.md
  src/components/tabs/migrate-to-10.x.md
  src/components/tag/migrate-to-10.x.md
  src/components/text-area/migrate-to-10.x.md
  src/components/text-input/migrate-to-10.x.md
  src/components/tile/migrate-to-10.x.md
  src/components/time-picker/migrate-to-10.x.md
  src/components/tooltip/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:, type: dev :robot:, type: docs :book:, v10 :new:

#2289 fix(motion) update motion in components
  demo/scss/_layout.scss
  src/components/button/_mixins.scss
  src/components/data-table/_data-table-action.scss
  src/components/data-table/_data-table-core.scss
  src/components/data-table/_data-table-expandable.scss
  src/components/data-table/_data-table-sort.scss
  src/components/dropdown/_dropdown.scss
  src/components/form/_form.scss
  src/components/modal/_modal.scss
  src/components/number-input/_number-input.scss
  src/components/progress-indicator/_progress-indicator.scss
  src/components/search/_search.scss
  src/components/select/_select.scss
  src/components/slider/_slider.scss
  src/components/structured-list/_structured-list.scss
  src/components/tabs/_tabs.scss
  src/components/text-area/_text-area.scss
  src/components/text-input/_text-input.scss
  src/components/time-picker/_time-picker.scss
  src/components/toggle/_toggle.scss
Labels: status: ready to merge :tada:
