Repository carbon-design-system/carbon, pull requests merged in 2019-02, with the labels that each got.

#1718 chore(build): make dev Sass build faster
  demo/scss/_interior-left-nav.scss
  demo/scss/demo.scss
  gulpfile.js
Labels: status: ready for review :eyes:

#1720 fix(button--x): update primary, secondary text and icon color token
  src/components/button/_button.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1717 feat(progress-indicator): adds 'vertical' variant
  src/components/progress-indicator/_progress-indicator.scss
  src/components/progress-indicator/progress-indicator.config.js
  src/components/progress-indicator/progress-indicator.hbs
  tests/axe/a11y-progress-indicator.json
  tests/axe/allHtml/a11y-html.json
Labels: status: visual review :eyes:

#1727 docs: close unclosed `<link>` tag
  examples/codesandbox/index.html
  examples/codesandbox/package.json
Labels: type: docs :book:

#1753 fix(inline-loading): inline-loading component should have aria-live
  src/components/inline-loading/inline-loading.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1736 fix(text-input-x): add disabled tokens
  src/components/form/_form.scss
  src/components/text-input/_text-input.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1745 feat(motion): add motion to experimental side nav
  src/components/ui-shell/_side-nav.scss
  src/components/ui-shell/side-nav-fixed.hbs
  src/components/ui-shell/side-nav.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1758 fix(toggle): fixed capitalization issue in readme
  src/components/toggle/README.md
Labels: status: ready for review :eyes:

#1733 feat(dropdown): support new experimental error state
  src/components/dropdown/_dropdown.scss
  src/components/dropdown/dropdown.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1748 fix(number-input): prevent form submission
  src/components/number-input/number-input.hbs
  tests/axe/a11y-number-input.json
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1742 fix(tile): add styles for selected check mark on accessible tile
  src/components/tile/_tile.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1764 fix(number-input): add input wrapper div
  src/components/number-input/number-input.hbs
Labels: status: ready for review :eyes:

#1751 fix(demo): scope grid demo style
  demo/scss/demo.scss
  demo/views/layouts/grid-preview.hbs
  src/components/grid/grid.config.js
Labels: status: ready for review :eyes:

#1735 fix(text-input): position experimental password visibility toggle
  src/components/text-input/_text-input.scss
  src/components/text-input/text-input.hbs
  src/components/text-input/text-input.js
  tests/spec/text-input_spec.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, v10 :new:

#1771 docs(number-input): avoid double helper text
  src/components/number-input/number-input.hbs
Labels: status: ready for review :eyes:, type: docs :book:

#1777 fix(list-box): fix icon overlap
  src/components/list-box/_list-box.scss
Labels: status: ready for review :eyes:

#1737 fix(checkbox-x): make background transparent
  src/components/checkbox/_checkbox.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1776 docs(components): update code snippet styles in README
  src/components/accordion/README.md
  src/components/button/README.md
  src/components/checkbox/README.md
  src/components/code-snippet/README.md
  src/components/content-switcher/README.md
  src/components/data-table-v2/README.md
  src/components/data-table/README.md
  src/components/date-picker/README.md
  src/components/dropdown/README.md
  src/components/file-uploader/README.md
  src/components/floating-menu/README.md
  src/components/footer/README.md
  src/components/form/README.md
  src/components/inline-loading/README.md
  src/components/list/README.md
  src/components/loading/README.md
  src/components/modal/README.md
  src/components/notification/README.md
  src/components/number-input/README.md
  src/components/overflow-menu/README.md
  src/components/pagination/README.md
  src/components/progress-indicator/README.md
  src/components/search/README.md
  src/components/select/README.md
  src/components/structured-list/README.md
  src/components/tabs/README.md
  src/components/tag/README.md
  src/components/text-input/README.md
  src/components/tile/README.md
  src/components/toggle/README.md
  src/components/toolbar/README.md
  src/components/tooltip/README.md
  src/components/ui-shell/README.md
Labels: status: ready for review :eyes:

#1744 fix(number-input): add aria attributes for a11y
  src/components/number-input/number-input.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1789 fix(date-picker): use experimental icons and icon alignment issues for date picker
  src/components/date-picker/_date-picker.scss
  src/components/date-picker/date-picker--range-light.hbs
  src/components/date-picker/date-picker--range.hbs
  src/components/date-picker/date-picker--single-light-no-label.hbs
  src/components/date-picker/date-picker--single-light.hbs
  src/components/date-picker/date-picker--single-no-label.hbs
  src/components/date-picker/date-picker--single.hbs
  src/components/date-picker/date-picker.config.js
  src/components/date-picker/date-picker.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1766 fix(content-switcher): add divider token
  src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1528 feat(ui-shell): add product switcher component
  src/components/ui-shell/_header.scss
  src/components/ui-shell/_navigation-menu.scss
  src/components/ui-shell/_product-switcher.scss
  src/components/ui-shell/navigation-menu-panel.js
  src/components/ui-shell/product-switcher.hbs
  src/components/ui-shell/product-switcher.js
  src/globals/js/components.js
  src/globals/js/misc/on-focus-by-keyboard.js
  tests/pure-modules-test.js
  tests/spec/misc/on-focus-by-keyboard_spec.js
  tests/spec/product-switcher_spec.js
Labels: project: components, project: ui shell, status: ready for review :eyes:, status: visual review :eyes:, type: dev :robot:, v10 :new:

#1781 fix(number-input): uses updated tokens to work in dark themes
  src/components/number-input/_number-input.scss
  src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1786 docs(progress-indicator): resolve experimental progress indicator DAP violations
  src/components/progress-indicator/progress-indicator.config.js
  src/components/progress-indicator/progress-indicator.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1796 fix(toggle): hide on/off test for screen readers
  src/components/toggle/toggle--small.hbs
  src/components/toggle/toggle.hbs
Labels: status: ready for review :eyes:

#1809 Add test setup for classic Sass code
  .eslintignore
  package.json
  src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  src/globals/grid/__tests__/grid-test.js
  src/globals/scss/__tests__/colors-test.js
  src/globals/scss/__tests__/themes-test.js
  tests/pure-modules-test.js
  tools/jest/jsTransform.js
  tools/jest/scss.js
  yarn.lock
Labels: status: one more review :eyes:

#1787 docs(overflow-menu): add aria-disabled attribute to disabled items
  src/components/overflow-menu/overflow-menu.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1791 fix(time-picker): adjust experimental markup alignment and colors
  src/components/time-picker/_time-picker.scss
Labels: status: one more review :eyes:, status: visual review :eyes:, type: question :question:

#1797 fix(tag): update basic and skeleton token
  src/components/tag/_tag.scss
Labels: status: ready for review :eyes:, status: waiting for reviewer's response

#1823 feat(grid): add elements grid
  demo/scss/demo.scss
  src/components/grid/grid.config.js
  src/components/grid/grid.hbs
  src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  src/globals/grid/__tests__/grid-test.js
  src/globals/grid/_experimental.scss
  src/globals/grid/_grid.scss
  src/globals/grid/experimental/_experimental.scss
  src/globals/grid/experimental/_fallback.scss
  src/globals/grid/experimental/_functions.scss
  src/globals/grid/experimental/_mixins.scss
  src/globals/grid/experimental/_sass-list-maps.scss
  src/globals/grid/experimental/_values.scss
  src/globals/grid/experimental/_variables.scss
  src/globals/grid/migrate-to-10.x.md
  src/globals/js/feature-flags.js
  src/globals/scss/_feature-flags.scss
  tools/jest/scss.js
Labels: status: one more review :eyes:

#1754 docs(contributing): intrsuction for developing framework-specific styles
  .github/CONTRIBUTING.md
Labels: status: ready for review :eyes:

#1793 fix(dropdown): integrate component audit feedback
  src/components/dropdown/_dropdown.scss
  src/components/dropdown/dropdown.hbs
  src/components/form/_form.scss
Labels: status: visual review :eyes:

#1821 fix(select): add component hover state
  src/components/select/_select.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1808 fix(overflow-menu): match experimental spec
  src/components/overflow-menu/_overflow-menu.scss
  src/components/overflow-menu/overflow-menu.hbs
Labels: status: visual review :eyes:

#1811 fix(radio-button): match experimental spec
  src/components/radio-button/_radio-button.scss
  src/components/radio-button/radio-button.config.js
  src/components/radio-button/radio-button.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1772 fix(file-uploader): match experimental spec
  src/components/file-uploader/_file-uploader.scss
  src/components/file-uploader/file-uploader.config.js
  src/components/file-uploader/file-uploader.hbs
Labels: status: visual review :eyes:

#1846 refactor(dropdown): avoid SVG child in `ul`
  src/components/dropdown/dropdown.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1806 fix(search): match experimental component spec
  src/components/search/_search.scss
Labels: status: visual review :eyes:

#1800 fix(code-snippet): update button active token
  src/components/code-snippet/_code-snippet.scss
  src/globals/scss/_theme-tokens.scss
Labels: status: merge conflict :no_entry_sign:, status: one more review :eyes:, status: ready for review :eyes:, status: waiting for reviewer's response

#1855 fix(inline-notification): justifies elements in components-x
  src/components/notification/_inline-notification.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1852 fix(button): match experimental spec for danger button
  src/components/button/_button.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1854 docs(radio-button): include new vertical radio button group class
  src/components/radio-button/migrate-to-10.x.md
Labels: status: ready for review :eyes:

#1780 fix(slider): update styles for disabled state on slider
  .gitignore
  src/components/slider/_slider.scss
  src/components/slider/slider.config.js
  src/components/slider/slider.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:, status: waiting for author's response

#1722 feat(radiobutton): support label position
  src/components/radio-button/_radio-button.scss
  src/components/radio-button/radio-button.hbs
Labels: status: visual review :eyes:, type: a11y ♿

#1859 feat(components,typography): include type styles and update in components
  src/components/accordion/_accordion.scss
  src/components/button/_mixins.scss
  src/components/checkbox/_checkbox.scss
  src/components/code-snippet/_code-snippet.scss
  src/components/code-snippet/_mixins.scss
  src/components/content-switcher/_content-switcher.scss
  src/components/date-picker/_date-picker.scss
  src/components/date-picker/_flatpickr.scss
  src/components/file-uploader/_file-uploader.scss
  src/components/form/_form.scss
  src/components/inline-loading/_inline-loading.scss
  src/components/link/_link.scss
  src/components/list/_list.scss
  src/components/modal/_modal.scss
  src/components/notification/_inline-notification.scss
  src/components/notification/_toast-notification.scss
  src/components/text-area/_text-area.scss
  src/components/text-input/_text-input.scss
  src/components/toggle/_toggle.scss
  src/components/tooltip/_tooltip.scss
  src/globals/scss/__tests__/__snapshots__/typography-test.js.snap
  src/globals/scss/__tests__/typography-test.js
  src/globals/scss/_typography.scss
Labels: status: non-trivial review, status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:, status: waiting for reviewer's response

#1839 fix(tabs): match experimental spec
  src/components/tabs/_tabs.scss
  src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:, status: visual review :eyes:, type: question :question:

#1869 style(mixins): reduce jank with grey portion of inline loading
  src/components/loading/_mixins.scss
Labels: type: question :question:

#1873 chore(styles): include reset styles from @carbon/type
  src/globals/scss/_css--reset.scss
Labels: status: ready for review :eyes:

#1866 feat(scss): add _motion.scss
  src/components/accordion/_accordion.scss
  src/globals/scss/__tests__/motion-test.js
  src/globals/scss/_motion.scss
  src/globals/scss/_vars.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1878 fix(date-picker): restrict label max-width for single and date range picker
  src/components/date-picker/_date-picker.scss
Labels: status: ready for review :eyes:

#1875 fix(overflow-menu): allow keyboard actions in menu items
  src/components/data-table-v2/data-table-v2.hbs
  src/components/overflow-menu/overflow-menu.js
  tests/axe/allHtml/a11y-html.json
Labels: status: non-trivial review, status: one more review :eyes:, status: ready for review :eyes:

#1756 fix(select): add error state SVG and reposition chevron
  demo/js/components/ComponentExample/component-overrides.scss
  src/components/select/_select.scss
  src/components/select/select.config.js
  src/components/select/select.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:, status: waiting for reviewer's response

#1883 fix(accordion): Component Audit Changes
  src/components/accordion/_accordion.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:, v10 :new:

#1812 977 pagination small
  demo/js/components/CodeExample/CodeExample.js
  demo/js/components/CodeExample/code-example.scss
  docs/g11n.md
  src/components/copy-button/copy-button.js
  src/components/pagination-nav/README.md
  src/components/pagination-nav/_pagination-nav.scss
  src/components/pagination-nav/pagination-nav.config.js
  src/components/pagination-nav/pagination-nav.hbs
  src/components/pagination-nav/pagination-nav.js
  src/globals/js/components.js
  src/globals/scss/styles.scss
  tests/axe/a11y-dropdown.json
  tests/axe/a11y-pagination-nav.json
  tests/spec/pagination-nav_spec.js
Labels: status: non-trivial review, status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:, status: waiting for author's response

#1886 feat(number-input): add mobile variant
  src/components/number-input/_number-input.scss
  src/components/number-input/number-input.config.js
  src/components/number-input/number-input.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1802 fix(link): restyle to match spec
  src/components/link/_link.scss
  src/components/link/link.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:, status: waiting for reviewer's response, type: question :question:

#1879 fix(date-picker): incorporate November 2018 review feedback
  src/components/date-picker/_date-picker.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1901 fix(Accordion) added layout dependency to Accordion
  src/components/accordion/_accordion.scss
Labels: status: one more review :eyes:

#1884 added more duration values for components to use
  src/globals/scss/_motion.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1908 fix(list-box): remove order property for flex layout
  src/components/list-box/_list-box.scss
Labels: status: one more review :eyes:

#1920 fix(toggle): update color tokens and add check for mini version
  src/components/toggle/_toggle.scss
  src/components/toggle/toggle--small.hbs
  src/globals/scss/_theme-tokens.scss
Labels: status: ready for review :eyes:

#1907 fix(button): set minimum height instead of fixed height
  src/components/button/_button.scss
  src/components/button/_mixins.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1923 fix(tile): update color tokens
  src/components/tile/_tile.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1922 fix(tabs): collapse dropdown on document click in mobile variant
  src/components/tabs/tabs.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1929 chore(tag): fix colors from spec
  src/components/tag/_tag.scss
  src/components/tag/tag.config.js
  src/components/tag/tag.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1932 fix(date-picker): update datepicker based on audit
  src/components/date-picker/_date-picker.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1938 chore(structured-list): fix styles from audit
  src/components/structured-list/_structured-list.scss
  src/components/structured-list/structured-list.config.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1881 fix(overflow-menu): match experimental component spec
  src/components/overflow-menu/_overflow-menu.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1898 fix(dropdown): avoid invalid dropdown icons overlapping with option text
  src/components/dropdown/_dropdown.scss
  src/components/dropdown/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1896 fix(dropdown): prevent chevrons from disappearing on option select
  src/components/dropdown/dropdown.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1924 fix(tabs): remove disabled item hover state
  src/components/tabs/_tabs.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1943 fix(time-picker): make changes via audit
  src/components/time-picker/_time-picker.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1953 fix(tooltip): fix experimental tooltip background color token
  src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:
