Repository carbon-design-system/carbon, pull requests merged in 2019-08, with the labels that each got.

#3598 fix(button): update button colors, focus states
  packages/components/demo/js/components/ComponentExample/component-overrides.scss
  packages/components/src/components/button/_button.scss
  packages/components/src/components/button/_mixins.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3600 fix(Toolbar): make misc Toolbar components forward-ref-able
  packages/react/src/components/Toolbar/Toolbar.js
Labels: status: ready to merge :tada:

#3610 fix: pass `light` prop into dropdown
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#3607 fix(modal): replace width rule with padding
  packages/components/docs/sass.md
  packages/components/src/components/modal/_modal.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3629 fix(sass): port support for dart-sass 1.x
  src/globals/scss/styles.scss
Labels: status: one more review :eyes:

#3617 feat(cli): add release command to cli
  .yarn/offline-mirror/@commitlint-parse-8.1.0.tgz
  .yarn/offline-mirror/execa-2.0.3.tgz
  .yarn/offline-mirror/get-stream-5.1.0.tgz
  .yarn/offline-mirror/inquirer-6.5.0.tgz
  .yarn/offline-mirror/is-stream-2.0.0.tgz
  .yarn/offline-mirror/lodash-4.17.15.tgz
  .yarn/offline-mirror/merge-stream-2.0.0.tgz
  .yarn/offline-mirror/npm-run-path-3.1.0.tgz
  .yarn/offline-mirror/onetime-5.1.0.tgz
  .yarn/offline-mirror/p-finally-2.0.1.tgz
  .yarn/offline-mirror/path-key-3.1.0.tgz
  .yarn/offline-mirror/semver-6.3.0.tgz
  .yarn/offline-mirror/strip-final-newline-2.0.0.tgz
  packages/bundler/package.json
  packages/cli/src/cli.js
  packages/cli/src/commands/release.js
  yarn.lock
Labels: status: ready to merge :tada:

#3646 fix(ComboBox): switch from onInputValueChange to onStateChange
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#3639 fix(listbox): allows children prop to be node type, remove unused childrenOf prop-types utility
  packages/react/src/components/ListBox/ListBox.js
  packages/react/src/components/ListBox/ListBoxField.js
  packages/react/src/prop-types/__tests__/childrenOf-test.js
  packages/react/src/prop-types/childrenOf.js
Labels: status: one more review :eyes:

#3649 fix(tooltip): reduce icon tooltip SVG selector specificity
  packages/components/src/components/tooltip/_tooltip.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#3586 Dropdown a11y updates
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/dropdown/dropdown.config.js
  packages/components/src/components/dropdown/dropdown.hbs
  packages/components/src/components/dropdown/dropdown.js
  packages/components/tests/spec/dropdown_spec.js
Labels: status: visual review :eyes:

#3633 fix(Tooltip): bring focus/blur handlers back
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#3654 fix(select): move selector under select input (v9)
  src/components/select/_select.scss
Labels: status: one more review :eyes:

#3647 docs(migration): update links in README.md
  README.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3650 Vanilla Modal: scrolling content for keyboard users
  packages/components/docs/sass.md
  packages/components/src/components/modal/_modal.scss
  packages/components/src/components/modal/modal.config.js
  packages/components/src/components/modal/modal.hbs
Labels: status: visual review :eyes:

#3659 fix(Button): replace boolean aria attribute with string
  packages/react/src/components/Button/Button.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#3655 fix(date-picker): focus on current date on down key
  packages/components/src/components/date-picker/date-picker.js
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge :tada:

#3662 fix(number-input): add number input a11y improvements
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge :tada:

#3640 fix(ProgressIndicator): prevent `current` from overriding `invalid`
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#3681 fix(button): use div for skeleton button
  packages/react/src/components/Button/Button.Skeleton.js
Labels: status: ready to merge :tada:

#3685 fix(modal): check that modal is open before closing
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3678 fix(cli): add step to pull from upstream for tags
  packages/cli/src/commands/release.js
Labels: status: ready to merge :tada:

#3693 feat(FileUploadButton): Allow node in place of string.
  packages/react/src/components/FileUploader/FileUploader.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#3695 fix(css): clean up css errors
  packages/components/demo/scss/_prism.scss
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/date-picker/_flatpickr.scss
  packages/components/src/components/form/_form.scss
  packages/components/src/components/number-input/_number-input.scss
  packages/components/src/components/tabs/_tabs.scss
  packages/components/src/components/tag/_tag.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#3696 fix(cli): address default remote configuration
  packages/cli/src/commands/release.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3707 chore(devenv): upgrade Babel runtime
  .yarn/offline-mirror/@babel-code-frame-7.5.5.tgz
  .yarn/offline-mirror/@babel-generator-7.5.5.tgz
  .yarn/offline-mirror/@babel-helpers-7.5.0.tgz
  .yarn/offline-mirror/@babel-helpers-7.5.5.tgz
  .yarn/offline-mirror/@babel-parser-7.5.5.tgz
  .yarn/offline-mirror/@babel-plugin-proposal-object-rest-spread-7.5.0.tgz
  .yarn/offline-mirror/@babel-plugin-proposal-object-rest-spread-7.5.5.tgz
  .yarn/offline-mirror/@babel-runtime-7.5.0.tgz
  .yarn/offline-mirror/@babel-runtime-7.5.5.tgz
  .yarn/offline-mirror/@babel-traverse-7.5.5.tgz
  .yarn/offline-mirror/@babel-types-7.5.5.tgz
  packages/components/package.json
  yarn.lock
Labels: status: ready for review :eyes:

#3687 fix(Tooltip): recalculate position upon open by keyboard
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge :tada:

#3714 chore(react): update carbon-components peerDependency
  packages/react/package.json
Labels: status: one more review :eyes:

#3718 fix(dropdown): fix dropdown bugs, refine transitions
  packages/components/src/components/list-box/_list-box.scss
Labels: status: one more review :eyes:, status: visual review :eyes:

#3723 fix wrong react migration link
  README.md
Labels: status: one more review :eyes:

#3726 feat(cli): add publish command
  packages/cli/README.md
  packages/cli/docker-compose.yml
  packages/cli/src/changelog.js
  packages/cli/src/cli.js
  packages/cli/src/commands/publish.js
  packages/cli/src/commands/release.js
  packages/cli/src/git.js
Labels: status: ready to merge :tada:

#3717 fix(dropdown): add aria-disabled to dropdown
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: ready for review :eyes:

#3702 docs(migration): update v10.x-type
  docs/migration/10.x-type.md
Labels: status: ready to merge :tada:

#3730 docs(developer): add publishing steps
  docs/developer-handbook.md
Labels: status: ready to merge :tada:

#3750 fix(breadcrumb): terminating slash based on current page existence
  packages/components/src/components/breadcrumb/_breadcrumb.scss
  packages/components/src/components/breadcrumb/breadcrumb.hbs
  packages/react/src/components/Breadcrumb/Breadcrumb-story.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3758 fix(content-switcher): set height in button container instead of button
  packages/components/src/components/content-switcher/_content-switcher.scss
Labels: status: ready to merge :tada:

#3761 chore(date-picker): fix date picker disabled state colors
  packages/components/src/components/date-picker/_date-picker.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3782 fix(stalebot): update stalebot
  .github/stale.yml
Labels: status: ready for review :eyes:

#3779 docs(data-table): update readme code block language to jsx
  packages/react/src/components/DataTable/README.md
Labels: status: one more review :eyes:

#3784 chore(storybook): update brand url to new monorepo pkg
  packages/react/.storybook/config.js
Labels: status: one more review :eyes:

#3785 fix(tile): a11y fixes for expandable tile
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/Tile/Tile.js
Labels: status: ready for review :eyes:

#3626 fix(sidenav): sidenavmenu stays open when in rail
  packages/react/src/components/UIShell/Link.js
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/SideNavFooter.js
  packages/react/src/components/UIShell/SideNavHeader.js
  packages/react/src/components/UIShell/SideNavItems.js
  packages/react/src/components/UIShell/SideNavLink.js
  packages/react/src/components/UIShell/SideNavMenu.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/__tests__/SideNavMenu-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavItems-test.js.snap
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3643 refactor(icons-vue): port icons-react changes, refactors, optimizations
  packages/icons-vue/package.json
  packages/icons-vue/src/__tests__/createFromInfo-test.js
  packages/icons-vue/src/build.js
  packages/icons-vue/src/createFromInfo.js
  packages/icons-vue/src/createIconStory.js
  packages/icons-vue/tasks/__tests__/createIconComponent-test.js
  packages/icons-vue/tasks/build.js
  packages/icons-vue/tasks/createIconComponent.js
  packages/icons-vue/tasks/plugins/virtual.js
  yarn.lock
Labels: status: ready to merge :tada:

#3802 feat(ui-shell): add option for large variation and disabling mouse listeners
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/SideNavItem.js
  packages/react/src/components/UIShell/SideNavLink.js
  packages/react/src/components/UIShell/SideNavMenu.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/__tests__/SideNav-test.js
  packages/react/src/components/UIShell/__tests__/SideNavItem-test.js
  packages/react/src/components/UIShell/__tests__/SideNavLink-test.js
  packages/react/src/components/UIShell/__tests__/SideNavMenu-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavLink-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavMenu-test.js.snap
Labels: status: one more review :eyes:, status: visual review :eyes:

#3739 refactor(tooltip): avoid calc inside `transform` for IE support
  packages/components/src/globals/scss/_tooltip.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3789 docs(Icon): more detailed migration guide
  packages/react/docs/migration/migrate-to-7.x.md
  packages/react/src/components/Icon/migrate-to-7.x.md
Labels: status: ready to merge :tada:

#3476 Tooltip works for Screen reader users
  packages/components/docs/sass.md
  packages/components/src/components/floating-menu/floating-menu.js
  packages/components/src/components/overflow-menu/overflow-menu.js
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/components/tooltip/tooltip.hbs
  packages/components/src/components/tooltip/tooltip.js
  packages/components/src/globals/js/mixins/track-blur.js
  packages/components/src/globals/scss/_theme-tokens.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_theme-maps.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_tokens.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_theme-maps.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_tokens.scss
  packages/components/tests/spec/floating-menu_spec.js
  packages/components/tests/spec/tooltip_spec.js
  packages/elements/docs/sass.md
  packages/react/src/components/Icon/migrate-to-7.x.md
  packages/react/src/components/UIShell/SideNavLink.js
  packages/react/src/components/UIShell/SideNavMenu.js
  packages/themes/docs/sass.md
  packages/themes/scss/_mixins.scss
  packages/themes/scss/_theme-maps.scss
  packages/themes/scss/_tokens.scss
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
Labels: status: merge conflict :no_entry_sign:, status: visual review :eyes:

#3772 feat(inline-loading): introduce error state
  packages/components/demo/js/inline-loading-demo-button.js
  packages/components/src/components/inline-loading/_inline-loading.scss
  packages/components/src/components/inline-loading/inline-loading.hbs
  packages/components/src/components/inline-loading/inline-loading.js
  packages/components/tests/spec/inline-loading_spec.js
  packages/react/src/components/InlineLoading/InlineLoading-story.js
  packages/react/src/components/InlineLoading/InlineLoading-test.js
  packages/react/src/components/InlineLoading/InlineLoading.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3851 chore(devenv): simpler custom properties build
  .yarn/offline-mirror/gulp-concat-2.6.1.tgz
  .yarn/offline-mirror/ip-regex-4.1.0.tgz
  .yarn/offline-mirror/is-url-superb-3.0.0.tgz
  .yarn/offline-mirror/postcss-custom-properties-9.0.2.tgz
  .yarn/offline-mirror/postcss-values-parser-3.0.5.tgz
  .yarn/offline-mirror/tlds-1.203.1.tgz
  .yarn/offline-mirror/url-regex-5.0.0.tgz
  packages/components/demo/scss/_theme.scss
  packages/components/gulpfile.js
  packages/components/package.json
  yarn.lock
Labels: status: ready to merge :tada:

#3858 Fix toggle positioning
  packages/components/src/components/toggle/_toggle.scss
Labels: status: ready to merge :tada:

#3866 chore(Tooltip): cleanup and remove outdated `clickToOpen` tests
  packages/react/src/components/Tooltip/Tooltip-test.js
Labels: status: ready to merge :tada:

#3862 fix(Dropdown, ComboBox): adds listener to open/close menu on enter
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
Labels: status: waiting for author's response

#3840 feat(TooltipDefinition): port vanilla WCAG 2.1 fixes
  packages/react/src/components/TooltipDefinition/TooltipDefinition.js
  packages/react/src/components/TooltipDefinition/__snapshots__/TooltipDefinition-test.js.snap
Labels: status: ready for review :eyes:, status: ready to merge :tada:, status: visual review :eyes:
