Repository carbon-design-system/carbon, pull requests merged in 2019-01, with the labels that each got.

#1585 fix: add min-width back for notification icon to display correctly
  src/components/notification/_inline-notification.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1563 chore(pagination): update on handling deprecated variants
  src/components/pagination/pagination.config.js
Labels: status: one more review :eyes:

#1555 chore(build): a test for ES build
  .eslintignore
  package.json
  tests/es-test.js
  tools/ci-check.sh
  tools/env.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1529 feat(ui-shell): add navigation menu component
  demo/views/layouts/ui-shell-preview.hbs
  src/components/ui-shell/_header.scss
  src/components/ui-shell/_navigation-menu.scss
  src/components/ui-shell/_ui-shell.scss
  src/components/ui-shell/header.hbs
  src/components/ui-shell/nav.hbs
  src/components/ui-shell/navigation-menu-panel.js
  src/components/ui-shell/navigation-menu.hbs
  src/components/ui-shell/navigation-menu.js
  src/components/ui-shell/ui-shell.config.js
  src/components/ui-shell/ui-shell.hbs
  src/globals/js/components.js
  tests/spec/navigation-menu-panel_spec.js
  tests/spec/navigation-menu_spec.js
Labels: project: components, project: ui shell, v10 :new:

#1527 feat(ui-shell): add side nav component
  package.json
  src/components/ui-shell/_side-nav.scss
  src/components/ui-shell/side-nav-footer.hbs
  src/components/ui-shell/side-nav.hbs
  src/components/ui-shell/side-nav.js
  tests/spec/side-nav_spec.js
  yarn.lock
Labels: project: ui shell, status: ready for review :eyes:, status: visual review :eyes:, type: dev :robot:, v10 :new:

#1593 fix(build): fix for CJS-UMD conversion
  gulpfile.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1599 fix(combo-box): hide disabled listbox chevron icon
  src/components/combo-box/_combo-box.scss
  src/components/list-box/_list-box.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1617 fix(search): use correct "clear" button icon
  src/components/search/search.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1609 fix(slider): remove unused and unclosed div
  src/components/slider/slider.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1570 test(build): test tree-shakability
  package.json
  src/components/overflow-menu/overflow-menu.js
  src/components/ui-shell/header-submenu.js
  src/components/ui-shell/navigation-menu-panel.js
  src/components/ui-shell/navigation-menu.js
  src/components/ui-shell/side-nav.js
  src/globals/js/misc/resize.js
  tests/pure-modules-test.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1633 fix(inline-loading): update SVG styles
  src/components/inline-loading/_inline-loading.scss
  src/components/loading/_mixins.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1635 fix(progress-indicator): set display property on nested tooltip labels
  src/components/progress-indicator/_progress-indicator.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1653 fix(overflow-menu): reposition experimental non-floating menu
  src/components/overflow-menu/_overflow-menu.scss
Labels: status: ready for review :eyes:

#1622 refactor(number-input): avoid absolute positioning input control and SVG
  src/components/number-input/_number-input.scss
  src/components/number-input/number-input.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1640 refactor(slider): rearrange experimental markup instead of CSS `order`
  src/components/slider/_slider.scss
  src/components/slider/slider.config.js
  src/components/slider/slider.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1582 fix(text-area): add experimental light textarea background-color
  src/components/text-area/_text-area.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1651 chore(build): upgrade Rollup
  gulpfile.js
  package.json
  tests/pure-modules-test.js
  tools/env.js
  tools/rollup.config.dev.js
  tools/rollup.config.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1674 fix(accordion): minor UI changes
  src/components/accordion/_accordion.scss
Labels: status: one more review :eyes:, status: visual review :eyes:

#1668 fix(overflow-menu): support arrow key navigation
  src/components/overflow-menu/overflow-menu.js
  tests/spec/overflow-menu_spec.js
Labels: a11y: keyboard ⌨️, priority: high, status: one more review :eyes:, status: ready for review :eyes:, type: bug 🐛, type: dev :robot:, type: enhancement 💡

#1686 Revert "chore(build): upgrade Rollup"
  gulpfile.js
  package.json
  tests/pure-modules-test.js
  tools/env.js
  tools/rollup.config.dev.js
  tools/rollup.config.js
  yarn.lock
Labels: status: one more review :eyes:

#1683 fix(tag): use correct cursor for disabled state
  src/components/tag/_tag.scss
  src/components/tag/tag.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1685 chore(scss): remove deprecated easing variables
  src/globals/scss/_vars.scss
  src/globals/scss/migrate-to-10.x.md
Labels: status: ready for review :eyes:

#1689 fix(accordion): enlarge focus outline
  src/components/accordion/_accordion.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1679 fix(pagination): rewrite experimental pagination according to new spec
  src/components/pagination/_pagination.scss
  src/components/pagination/pagination.config.js
  src/components/pagination/pagination.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1688 chore(build): upgrade Rollup
  gulpfile.js
  package.json
  tests/es-test.js
  tests/pure-modules-test.js
  tools/env.js
  tools/rollup.config.dev.js
  tools/rollup.config.js
  yarn.lock
Labels: status: ready for review :eyes:

#1699 fix(inline-notification): use correct title color
  src/components/notification/_inline-notification.scss
Labels: status: ready for review :eyes:

#1700 fix(button): use correct icon color for disabled buttons with icons
  src/components/button/_button.scss
  src/components/button/button.hbs
Labels: status: ready for review :eyes:

#1694 fix(button--x): update text & icon fill color for ghost buttons
  src/components/button/_button.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1705 chore(test): fix testMatch
  package.json
Labels: status: ready for review :eyes:

#1703 chore(build): wait for finishing Sass build
  gulpfile.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1713 style(tag): use correct color values
  src/components/tag/_tag.scss
Labels: status: visual review :eyes:

#1695 feat(pagination): add disabled pagination button styles
  src/components/pagination/README.md
  src/components/pagination/_pagination.scss
  src/components/pagination/pagination.config.js
  src/components/pagination/pagination.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:
