Repository carbon-design-system/carbon, pull requests merged in 2019-06, with the labels that each got.

#2900 fix(modal): support different numbers of buttons
  packages/components/src/components/modal/_modal.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2903 chore(examples): build examples based on whitelist
  tasks/examples.js
Labels: status: ready to merge :tada:

#2914 fix(radio-button): group-level label/button alignment
  packages/components/src/components/radio-button/_radio-button.scss
  packages/react/src/components/RadioButton/RadioButton.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-story.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2905 Fix sass error
  packages/components/src/globals/scss/styles.scss
Labels: status: one more review :eyes:

#2923 fix(tooltip): set width to content max
  packages/components/src/globals/scss/_tooltip.scss
Labels: status: ready to merge :tada:

#2929 fix(Button): require iconDescription for icon-only
  packages/react/src/components/Button/Button.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2934 add all icons, categories, subcategories to catagories.yml
  packages/icons/categories.yml
Labels: status: ready to merge :tada:

#2947 fix(date-picker): upgrade Flatpickr to 4.6.x
  .yarn/offline-mirror/flatpickr-4.6.1.tgz
  packages/components/package.json
  packages/components/src/components/date-picker/date-picker.js
  packages/react/package.json
  packages/react/src/components/DatePicker/DatePicker.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2953 fix(code-snippet): set single line overflow-x to auto
  packages/components/src/components/code-snippet/_code-snippet.scss
Labels: status: one more review :eyes:

#2955 fix(Loading): use description prop as SVG title
  packages/react/src/components/InlineLoading/InlineLoading-story.js
  packages/react/src/components/InlineLoading/InlineLoading.js
  packages/react/src/components/Loading/Loading-story.js
  packages/react/src/components/Loading/Loading.js
Labels: status: ready for review :eyes:

#2983 fix(Tile): add event.persist() to event handlers (#2713)
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.js
Labels: status: one more review :eyes:

#2993 fix(ui-shel): fix header panel function
  packages/react/src/components/UIShell/HeaderPanel.js
  packages/react/src/components/UIShell/Switcher.js
  packages/react/src/components/UIShell/SwitcherItem.js
  packages/react/src/components/UIShell/SwitcherItemLink.js
Labels: status: ready to merge :tada:

#2892 chore(readme): Add reference to Angular and Vue
  README.md
Labels: status: ready to merge :tada:

#2990 Fix font style for firefox
  packages/components/src/globals/scss/_css--reset.scss
Labels: status: ready to merge :tada:

#2991 docs: fix path
  packages/react/README.md
Labels: status: ready to merge :tada:

#3004 fix typo
  docs/icons.md
Labels: status: ready to merge :tada:

#2941 fix(list): fix markers for nested list items
  packages/components/src/components/list/_list.scss
  packages/components/src/components/list/list--nesting.hbs
Labels: status: ready to merge :tada:

#2982 feat(cli): add @carbon/cli package
  .yarn/offline-mirror/cliui-5.0.0.tgz
  .yarn/offline-mirror/remark-word-wrap-2.0.2.tgz
  .yarn/offline-mirror/string-width-3.1.0.tgz
  .yarn/offline-mirror/unist-util-parents-0.1.2.tgz
  .yarn/offline-mirror/wrap-ansi-5.1.0.tgz
  .yarn/offline-mirror/yargs-13.2.4.tgz
  package.json
  packages/browserslist-config-carbon/README.md
  packages/bundler/README.md
  packages/cli/.npmignore
  packages/cli/bin/carbon-cli.js
  packages/cli/package.json
  packages/cli/src/cli.js
  packages/cli/src/commands/ci-check.js
  packages/cli/src/commands/sync.js
  packages/cli/src/commands/sync/npm.js
  packages/cli/src/commands/sync/package.js
  packages/cli/src/commands/sync/readme.js
  packages/cli/src/commands/sync/remark/remark-monorepo.js
  packages/cli/src/workspace.js
  packages/colors/README.md
  packages/elements/README.md
  packages/grid/README.md
  packages/icon-helpers/README.md
  packages/icons-angular/README.md
  packages/icons-handlebars/README.md
  packages/icons-react/README.md
  packages/icons-vue/README.md
  packages/icons/README.md
  packages/import-once/README.md
  packages/layout/README.md
  packages/motion/README.md
  packages/pictograms/README.md
  packages/themes/README.md
  packages/type/README.md
  yarn.lock
Labels: status: one more review :eyes:

#3005 fix(icons-angular): use DOMParser to support ie11
  packages/icons-angular/examples/storybook/.storybook/config.js
  packages/icons-angular/examples/storybook/package.json
  packages/icons-angular/examples/storybook/yarn.lock
  packages/icons-angular/package.json
  packages/icons-angular/src/templates.js
Labels: status: ready for review :eyes:

#2936 fix(MultiSelect): add filter tag class to <ListBoxSelection />
  packages/components/src/components/multi-select/multi-select.hbs
  packages/components/src/components/tag/_tag.scss
  packages/react/src/components/ListBox/ListBoxSelection.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxSelection-test.js.snap
Labels: status: ready for review :eyes:, status: waiting for reviewer's response

#2988 chore(ci): add canary publishing steps
  .circleci/config.yml
Labels: status: one more review :eyes:

#3009 fix: replace outdated precommit hooks
  package.json
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3015 fix: pass `defaultValue` in to textarea and text input initial state
  packages/react/src/components/TextArea/TextArea-test.js
  packages/react/src/components/TextArea/TextArea.js
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput-test.js
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready for review :eyes:

#3014 fix(Modal): click-outside by mousedown
  packages/react/src/components/Modal/Modal.js
Labels: status: ready to merge :tada:

#2906 fix(overflow-menu): updated aria-label and roles, made ul a sibling
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/OverflowMenu/OverflowMenu-story.js
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge :tada:

#2913 mv /*/app-switcher.svg to /*/switcher.svg
  packages/icons/src/svg/16/switcher.svg
  packages/icons/src/svg/20/switcher.svg
  packages/icons/src/svg/24/switcher.svg
  packages/icons/src/svg/32/switcher.svg
Labels: status: ready to merge :tada:

#3017 docs(tag): add roles to tag list and wrap in container
  packages/components/src/components/tag/tag.hbs
  packages/react/src/components/Tag/Tag-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3038 fix(button): danger button border color same as bg color
  packages/components/src/components/button/_button.scss
Labels: status: one more review :eyes:

#3052 fix(select): inherit font-family
  packages/components/src/globals/scss/_css--reset.scss
Labels: status: ready for review :eyes:

#3050 fix(DatePicker): fix for new onChange ref after mount
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3020 fix(PasswordInput): center password visibility toggle tooltip
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/TextInput/PasswordInput.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3051 fix(button): update deprecation warning with correct prop
  packages/react/src/components/Button/Button.js
Labels: status: one more review :eyes:

#3062 fix(icons-angular): update node parse logic
  packages/icons-angular/src/templates.js
Labels: Severity 1 🚨, priority: high, status: ready for review :eyes:

#3064 docs(Slider): add default knob value for ariaLabelInput prop
  packages/react/src/components/Slider/Slider-story.js
Labels: status: ready for review :eyes:

#3057 fix(data-table): reset expand button height in short table
  packages/components/src/components/data-table/_data-table-expandable.scss
Labels: status: ready for review :eyes:

#3073 chore(devenv): re-introduce theme switcher
  .yarn/offline-mirror/carbon-components-9.91.1.tgz
  .yarn/offline-mirror/carbon-components-9.91.3.tgz
  .yarn/offline-mirror/carbon-components-react-6.115.1.tgz
  .yarn/offline-mirror/carbon-components-react-6.115.3.tgz
  .yarn/offline-mirror/gulp-autoprefixer-6.1.0.tgz
  .yarn/offline-mirror/gulp-concat-2.6.1.tgz
  .yarn/offline-mirror/gulp-postcss-8.0.0.tgz
  packages/components/demo/js/components/ComponentExample/component-example.scss
  packages/components/demo/js/components/RootPage.js
  packages/components/demo/scss/_theme.scss
  packages/components/demo/scss/demo.scss
  packages/components/gulpfile.js
  packages/components/package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2965 feat(data-table): merge sticky header style
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_mixins.scss
  packages/components/src/components/data-table/data-table.config.js
  packages/components/src/components/data-table/data-table.hbs
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3028 Use controlled state with value
  packages/components/src/components/number-input/_number-input.scss
  packages/react/.storybook/webpack.config.js
  packages/react/src/components/NumberInput/NumberInput-story.js
  packages/react/src/components/NumberInput/NumberInput.js
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/prop-types/requiredIfValueExists.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3109 fix(multi-select): fix development error for `downshiftProps`
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: ready to merge :tada:

#3112 fix: failing OverflowMenu and Modal tests
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
Labels: type: question :question:

#3119 fix(time-picker): remove invalid flag from pattern regex
  packages/components/src/components/time-picker/README.md
  packages/components/src/components/time-picker/time-picker--light.hbs
  packages/components/src/components/time-picker/time-picker.hbs
  packages/react/src/components/TimePicker/TimePicker-story.js
  packages/react/src/components/TimePicker/TimePicker.js
Labels: status: ready to merge :tada:

#3106 Revert "fix: pass `defaultValue` in to textarea and text input initial state"
  packages/components/src/components/text-area/_text-area.scss
  packages/components/src/components/text-area/text-area.config.js
  packages/components/src/components/text-area/text-area.hbs
  packages/components/src/components/text-area/text-area.js
  packages/components/src/components/text-input/_text-input.scss
  packages/components/src/components/text-input/text-input.config.js
  packages/components/src/components/text-input/text-input.hbs
  packages/components/src/components/text-input/text-input.js
  packages/components/src/globals/js/components.js
  packages/components/tests/axe/allHtml/a11y-html.json
  packages/components/tests/spec/text-area_spec.js
  packages/components/tests/spec/text-input_spec.js
  packages/react/src/components/TextArea/TextArea-test.js
  packages/react/src/components/TextArea/TextArea.js
  packages/react/src/components/TextArea/Textarea-story.js
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput-test.js
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready to merge :tada:

#3123 fix: specify dropdown props shape
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
Labels: status: ready to merge :tada:

#3063 feat(ui-shell): add divider element and styles
  packages/components/src/components/ui-shell/_switcher.scss
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/Switcher.js
  packages/react/src/components/UIShell/SwitcherDivider.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/index.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3012 [Icons] incorporate categories information into icon metadata
  packages/icons/categories.yml
  packages/icons/metadata.yml
  packages/icons/tasks/scaffold-metadata.js
Labels: status: ready to merge :tada:

#3095 fix(data-table): fix action bar animation
  packages/components/src/components/data-table/_data-table-action.scss
  packages/components/src/components/data-table/_data-table-sort.scss
  packages/components/src/components/data-table/data-table.hbs
Labels: status: ready to merge :tada:

#3060 docs(sass): add sassdoc to scss output
  packages/colors/package.json
  packages/components/docs/sass.md
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icons/package.json
  packages/import-once/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/themes/package.json
  packages/type/package.json
Labels: status: failing tests :no_good_man:

#3130 fix(upgrade): include change-case in dependencies
  packages/upgrade/package.json
  yarn.lock
Labels: status: ready to merge :tada:

#3033 feat(themes): add ability to emit custom properties
  packages/components/docs/sass.md
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_mixins.scss
  packages/elements/docs/sass.md
  packages/scss-generator/src/types/definitions.js
  packages/themes/docs/sass.md
  packages/themes/examples/preview/index.js
  packages/themes/examples/preview/package.json
  packages/themes/examples/preview/styles.scss
  packages/themes/examples/preview/yarn.lock
  packages/themes/scss/_mixins.scss
  packages/themes/tasks/build.js
Labels: status: ready to merge :tada:

#3132 refactor(button): use v10 disabled color token
  packages/components/docs/sass.md
  packages/components/src/components/button/_mixins.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:, status: visual review :eyes:

#3136 fix(theme): fix hover-ui in g90
  packages/components/docs/sass.md
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_theme-maps.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_theme-maps.scss
  packages/elements/docs/sass.md
  packages/themes/docs/sass.md
  packages/themes/scss/_theme-maps.scss
  packages/themes/src/g90.js
Labels: status: failing tests :no_good_man:, status: ready to merge :tada:

#3140 fix(theme-tokens): update group for date-picker token
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: ready to merge :tada:

#3149 Icons new june
  packages/icons/categories.yml
  packages/icons/src/svg/32/language.svg
  packages/icons/src/svg/32/laptop.svg
Labels: status: one more review :eyes:

#3160 Fix broken developer guide link on README
  README.md
Labels: status: one more review :eyes:

#3150 Fix(data-table): table headers in table body
  packages/components/docs/sass.md
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/data-table--row-header.hbs
  packages/components/src/components/data-table/data-table.config.js
Labels: status: one more review :eyes:, status: visual review :eyes:

#3155 feat(cli): add contribute commands
  .yarn/offline-mirror/@octokit-plugin-retry-2.2.0.tgz
  .yarn/offline-mirror/@octokit-plugin-throttling-2.6.0.tgz
  .yarn/offline-mirror/@octokit-rest-16.28.1.tgz
  .yarn/offline-mirror/bottleneck-2.19.1.tgz
  .yarn/offline-mirror/humanize-duration-3.18.0.tgz
  .yarn/offline-mirror/inquirer-6.4.1.tgz
  .yarn/offline-mirror/progress-estimator-0.2.2.tgz
  packages/cli/package.json
  packages/cli/src/cli.js
  packages/cli/src/commands/ci-check.js
  packages/cli/src/commands/contribute.js
  packages/cli/src/commands/contribute/setup.js
  packages/cli/src/commands/contribute/tools/getGitHubClient.js
  packages/cli/src/commands/sync.js
  yarn.lock
Labels: status: ready to merge :tada:

#3161 chore(release): publish
  packages/components/package.json
  packages/elements/package.json
  packages/icons-angular/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/themes/package.json
Labels: status: ready to merge :tada:

#3152 Icons new june
  packages/icons/categories.yml
  packages/icons/master/ui-icon-master.ai
  packages/icons/src/svg/32/account.svg
  packages/icons/src/svg/32/audio-console.svg
  packages/icons/src/svg/32/battery--empty.svg
  packages/icons/src/svg/32/battery--low.svg
  packages/icons/src/svg/32/battery--quarter.svg
  packages/icons/src/svg/32/branch.svg
  packages/icons/src/svg/32/carbon.svg
  packages/icons/src/svg/32/category--add.svg
  packages/icons/src/svg/32/category--and.svg
  packages/icons/src/svg/32/category--new-each.svg
  packages/icons/src/svg/32/category--new.svg
  packages/icons/src/svg/32/category.svg
  packages/icons/src/svg/32/concept.svg
  packages/icons/src/svg/32/enterprise.svg
  packages/icons/src/svg/32/fog.svg
  packages/icons/src/svg/32/fork.svg
  packages/icons/src/svg/32/help-desk.svg
  packages/icons/src/svg/32/hurricane.svg
  packages/icons/src/svg/32/ibm-security.svg
  packages/icons/src/svg/32/logo--slack.svg
  packages/icons/src/svg/32/logout.svg
  packages/icons/src/svg/32/mobile--add.svg
  packages/icons/src/svg/32/mobile--check.svg
  packages/icons/src/svg/32/mobile--download.svg
  packages/icons/src/svg/32/mobile--landscape.svg
  packages/icons/src/svg/32/mobile.svg
  packages/icons/src/svg/32/no-image.svg
  packages/icons/src/svg/32/no-ticket.svg
  packages/icons/src/svg/32/partly-cloudy.svg
  packages/icons/src/svg/32/pause--filled.svg
  packages/icons/src/svg/32/play--filled--alt.svg
  packages/icons/src/svg/32/popup.svg
  packages/icons/src/svg/32/service-desk.svg
  packages/icons/src/svg/32/skip--back--filled.svg
  packages/icons/src/svg/32/skip--forward--filled.svg
  packages/icons/src/svg/32/stop--filled--alt.svg
  packages/icons/src/svg/32/sunny.svg
  packages/icons/src/svg/32/sunset.svg
  packages/icons/src/svg/32/tablet--landscape.svg
  packages/icons/src/svg/32/tablet.svg
  packages/icons/src/svg/32/term.svg
  packages/icons/src/svg/32/text--strikethrough.svg
  packages/icons/src/svg/32/text-link--analysis.svg
  packages/icons/src/svg/32/text-link.svg
  packages/icons/src/svg/32/text-mining--applier.svg
  packages/icons/src/svg/32/text-mining.svg
  packages/icons/src/svg/32/tree-view--alt.svg
  packages/icons/src/svg/32/type-pattern.svg
  packages/icons/src/svg/32/types.svg
  packages/icons/src/svg/32/watson-health/3D-software.svg
  packages/icons/src/svg/32/watson-health/mammogram--stacked.svg
  packages/icons/src/svg/32/watson-health/mammogram.svg
  packages/icons/src/svg/32/watson-health/registration.svg
Labels: status: visual review :eyes:

#3162 fix(ui-shell): sidenav menu height transition bug for Safari
  packages/components/docs/sass.md
  packages/components/src/components/ui-shell/_side-nav.scss
Labels: status: failing tests :no_good_man:, status: ready to merge :tada:

#3139 fix(ListBox): address DAP violations
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/ListBox/ListBoxField.js
  packages/react/src/components/ListBox/ListBoxMenuIcon.js
  packages/react/src/components/ListBox/__tests__/ListBoxField-test.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBox-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxMenuIcon-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: one more review :eyes:, status: waiting for author's response

#3118 fix(ListBoxSelection): exclude MultiSelect classes from ComboBox
  packages/components/docs/sass.md
  packages/components/src/components/list-box/_list-box.scss
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/ListBox/ListBoxSelection.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxSelection-test.js.snap
Labels: status: failing tests :no_good_man:, status: visual review :eyes:

#2885 refactor(toggle): make toggle labels accessible
  packages/components/docs/sass.md
  packages/components/src/components/toggle/README.md
  packages/components/src/components/toggle/_toggle.scss
  packages/components/src/components/toggle/toggle--small.hbs
  packages/components/src/components/toggle/toggle.hbs
  packages/react/src/components/Toggle/Toggle-story.js
  packages/react/src/components/Toggle/Toggle-test.js
  packages/react/src/components/Toggle/Toggle.js
  packages/react/src/components/ToggleSmall/ToggleSmall-story.js
  packages/react/src/components/ToggleSmall/ToggleSmall-test.js
  packages/react/src/components/ToggleSmall/ToggleSmall.js
Labels: status: ready to merge :tada:, status: visual review :eyes:, type: a11y ♿

#3147 fix(overflow-menu): use correct icon color for danger items
  packages/components/docs/sass.md
  packages/components/src/components/overflow-menu/_overflow-menu.scss
Labels: status: ready to merge :tada:

#3188 fix(ui-shell): enforce height/width on svg directly
  packages/components/docs/sass.md
  packages/components/src/components/ui-shell/_side-nav.scss
Labels: status: ready to merge :tada:

#3192 fix(pagination): arrow icon misalignment
  src/components/pagination/_pagination.scss
Labels: status: one more review :eyes:

#3200 chore(release): v9.91.4
  package.json
Labels: status: one more review :eyes:, v9

#3206 docs(npm): Change TravisCI button to CircleCI button
  packages/components/README.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3193 docs(g11n): update guide
  packages/components/docs/g11n.md
  packages/react/docs/g11n.md
Labels: status: ready to merge :tada:

#3201 2880 disabled tabs bug
  packages/components/docs/sass.md
  packages/components/src/components/tabs/_tabs.scss
  packages/react/src/components/Tab/Tab.js
  packages/react/src/components/Tabs/Tabs.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3115 Icon Tooltip update for WCAG 2.1 compliance
  packages/components/src/components/tooltip/tooltip--icon.hbs
  packages/components/src/globals/scss/_tooltip.scss
Labels: status: visual review :eyes:

#3209 fix(ui-shell): a11y updates, refactor right panel
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/Switcher.js
  packages/react/src/components/UIShell/SwitcherItem.js
  packages/react/src/components/UIShell/SwitcherItemLink.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/index.js
Labels: status: ready to merge :tada:

#2852 fix(content-switcher): adds arrow key support and enhanced screen reader functionality
  .yarn-offline-mirror/eslint-plugin-react-hooks-1.6.0.tgz
  packages/react/.yarn-offline-mirror/source-map-0.5.7.tgz
  packages/react/src/components/ContentSwitcher/ContentSwitcher.js
  packages/react/src/components/Switch/Switch-test.js
  packages/react/src/components/Switch/Switch.js
  packages/react/src/tools/__tests__/keyboard-navigation-test.js
  packages/react/src/tools/keyboard-navigation.js
Labels: package: react, status: ready to merge :tada:, type: a11y ♿

#3214 fix(devenv): fix floating menu container
  packages/components/demo/views/layouts/demo-nav.hbs
  packages/components/demo/views/layouts/preview.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3221 fix(inline-loading): import spinner style
  packages/components/src/components/inline-loading/_inline-loading.scss
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#3227 fix(components): add disabled color tokens to _content-switcher.scss
  packages/components/docs/sass.md
  packages/components/src/components/content-switcher/_content-switcher.scss
  packages/components/tests/axe/allHtml/a11y-html.json
Labels: status: ready to merge :tada:

#3230 feat(Search): add support for `light` prop
  packages/react/src/components/Search/Search.js
Labels: status: ready to merge :tada:, status: visual review :eyes:
