Repository carbon-design-system/carbon, pull requests merged in 2019-05, with the labels that each got.

#2362 fix(codesnippet): use theme variables on gradients
  src/components/code-snippet/_code-snippet.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2370 fix(reset): resets components with no box-sizing
  src/components/code-snippet/_code-snippet.scss
  src/components/tabs/_tabs.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2375 chore(readme): fix ci status badge photo src
  README.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2372 fix(data-table): update batch action button icon and text color
  src/components/data-table/_data-table-action.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:, status: visual review :eyes:

#2380 fix(data-table-skeleton): vertical align middle for th
  src/components/data-table/_data-table-skeleton.scss
Labels: status: one more review :eyes:

#2379 fix(overflow-menu): remove add from menu
  src/components/overflow-menu/overflow-menu.hbs
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2400 fix(multi-select): use theme tokens for icon fill to make accessible for dark UIs
  packages/components/src/components/list-box/_list-box.scss
Labels: status: one more review :eyes:

#2404 fix(date-picker): fix incorrect hover color
  packages/components/src/components/date-picker/_date-picker.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2406 chore(build): run Netlify for components package
  .gitignore
  demo/index.html
  package.json
  packages/components/demo/js/components/RootPage.js
  packages/components/demo/js/components/SideNav.js
  packages/components/demo/views/layouts/demo-nav.hbs
  packages/components/gulpfile.js
  packages/components/package.json
  packages/components/tools/deploy.sh
Labels: status: ready to merge :tada:

#2423 chore(react): add manifest for deployment
  packages/react/manifest.yml
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2425 chore(project): add initial test action
  .github/main.workflow
Labels: status: one more review :eyes:

#2662 chore(lint): remove redundant husky install
  .yarn-offline-mirror/@commitlint-cli-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-ensure-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-execute-rule-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-format-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-is-ignored-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-lint-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-load-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-message-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-parse-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-read-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-resolve-extends-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-rules-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-to-lines-7.6.0.tgz
  .yarn-offline-mirror/@commitlint-top-level-7.6.0.tgz
  .yarn-offline-mirror/husky-1.3.1.tgz
  .yarn-offline-mirror/lint-staged-8.1.6.tgz
  .yarn-offline-mirror/read-pkg-4.0.1.tgz
  .yarn-offline-mirror/resolve-global-1.0.0.tgz
  .yarn-offline-mirror/yup-0.27.0.tgz
  package.json
  packages/react/package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2663 feat(tooltip): introduce center/right alignment
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/components/tooltip/tooltip.config.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition-story.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition.js
  packages/react/src/components/TooltipDefinition/__snapshots__/TooltipDefinition-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2665 chore(readme): update with banner image
  README.md
Labels: status: one more review :eyes:

#2675 chore(project): remove old netlify deploy files
  demo/index.html
  package.json
  packages/components/package.json
  packages/components/tools/deploy.sh
Labels: status: one more review :eyes:

#2356 fix(table): regression fixes
  packages/components/src/components/data-table/_data-table-action.scss
  packages/components/src/components/data-table/data-table.config.js
  packages/components/src/components/data-table/data-table.hbs
Labels: project: components, status: one more review :eyes:, status: visual review :eyes:

#2681 fix(date-picker): use auto height for flatpickr container
  packages/components/src/components/date-picker/_date-picker.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2676 chore(ci): update build commands
  .circleci/config.yml
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: waiting for author's response

#2683 fix(tag): update reduce method in story
  packages/react/src/components/Tag/Tag-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2677 fix(notification): make warning notification a11y changes
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: ready for review :eyes:, status: ready to merge :tada:, status: visual review :eyes:

#2705 fix(ui-shell): add in global header patterns to storybook examples
  packages/react/src/components/UIShell/UIShell-story.js
Labels: package: react, status: one more review :eyes:, status: ready to merge :tada:, status: visual review :eyes:

#2701 chore(project): remove lint staged task for stylelint
  .stylelintignore
Labels: status: ready to merge :tada:

#2691 chore(project): remove github actions
  .github/main.workflow
Labels: status: one more review :eyes:, status: ready to merge :tada:

#2698 docs(publishing): update internal publishing docs
  docs/publishing.md
Labels: status: one more review :eyes:

#2660 fix(dropdown): set z-index to above the modal
  packages/components/src/globals/scss/_layout.scss
Labels: project: components, status: one more review :eyes:, status: visual review :eyes:

#2654 fix(tag): add filter tag keyboard navigation
  packages/react/src/components/Tag/Tag-story.js
  packages/react/src/components/Tag/Tag.js
Labels: package: react, status: ready to merge :tada:

#2710 Add `edit--off` icon svg & update metadata.yml
  packages/icons/metadata.yml
  packages/icons/src/svg/32/edit--off.svg
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2709 fix(button): secondary text hover/focus for g90 and g100 themes
  packages/components/src/components/button/_button.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2721 feat(shell): ui-shell header color updates
  packages/components/src/components/ui-shell/README.md
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_product-switcher.scss
  packages/components/src/components/ui-shell/_theme.scss
Labels: project: ui shell, status: ready for review :eyes:, status: visual review :eyes:

#2656 fix(Tooltip): remove ARIA attribute
  packages/react/src/components/Tooltip/Tooltip.js
Labels: package: react

#2728 fix(ui-shell): remove duplicate variable
  packages/components/src/components/ui-shell/_theme.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2726 feat(downshift): allow passing additional props to Downshift
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: one more review :eyes:

#2725 chore(test): remove some params shorthand
  packages/components/tests/karma.conf.js
Labels: status: ready to merge :tada:

#2733 fix(ghost-button): use theme tokens
  packages/components/src/components/button/_button.scss
Labels: status: visual review :eyes:

#2732 feat(tooltip): introduce alignment
  packages/components/src/components/button/_button.scss
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/globals/scss/_tooltip.scss
  packages/react/src/components/TooltipDefinition/TooltipDefinition-story.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition.js
  packages/react/src/components/TooltipDefinition/__snapshots__/TooltipDefinition-test.js.snap
  packages/react/src/components/TooltipIcon/TooltipIcon-story.js
  packages/react/src/components/TooltipIcon/TooltipIcon.js
  packages/react/src/components/TooltipIcon/__snapshots__/TooltipIcon-test.js.snap
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2741 feat(ui-shell): design updates to ui shell global header
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_theme.scss
  packages/react/src/components/UIShell/UIShell-story.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2746 Fix toast notification long text
  packages/components/src/components/notification/_toast-notification.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2766 feat(combobox): add itemToElement to render items as custom components
  packages/react/src/components/ComboBox/ComboBox-story.js
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2777 chore(docs): update issue template for CodeSandbox
  .github/ISSUE_TEMPLATE.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2778 adds adds edit--off.svg to `packages/icons/src/svg/16/`
  packages/icons/src/svg/16/edit--off.svg
Labels: status: visual review :eyes:

#2769 fix(multi-select): match v10 spec
  packages/components/src/components/checkbox/_checkbox.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
Labels: status: ready for review :eyes:

#2790 chore: update stalebot
  .github/stale.yml
Labels: status: one more review :eyes:

#2688 feat(DataTable): introduce expand all
  packages/components/demo/components.js
  packages/components/demo/js/data-table-demo-expand-all-manager.js
  packages/components/gulpfile.js
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/components/src/components/data-table/_data-table-sort.scss
  packages/components/src/components/data-table/data-table.config.js
  packages/components/src/components/data-table/data-table.hbs
  packages/components/src/components/data-table/data-table.js
  packages/components/tests/spec/data-table_spec.js
  packages/react/src/components/DataTable/DataTable-story.js
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/TableExpandHeader.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandHeader-test.js.snap
  packages/react/src/components/DataTable/stories/with-batch-expansion.js
Labels: status: ready to merge :tada:

#2783 fix(tooltip): wrap icon tooltip content
  packages/components/src/components/tooltip/tooltip--icon.hbs
  packages/components/src/globals/scss/_tooltip.scss
Labels: status: ready to merge :tada:

#2798 feat(ui-shell): add side nav tokens
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/components/src/components/ui-shell/_theme.scss
Labels: project: ui shell, status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2782 feat(data-table): add visible overflow menu icon option
  packages/components/src/components/data-table/README.md
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/data-table.config.js
  packages/components/src/components/data-table/data-table.hbs
Labels: status: ready for review :eyes:

#2745 feat: text input and textarea character limit counter
  packages/components/src/components/text-area/_text-area.scss
  packages/components/src/components/text-area/text-area.config.js
  packages/components/src/components/text-area/text-area.hbs
  packages/components/src/components/text-area/text-area.js
  packages/components/src/components/text-input/_text-input.scss
  packages/components/src/components/text-input/text-input.config.js
  packages/components/src/components/text-input/text-input.hbs
  packages/components/src/components/text-input/text-input.js
  packages/components/src/globals/js/components.js
  packages/components/tests/axe/allHtml/a11y-html.json
  packages/components/tests/spec/text-area_spec.js
  packages/components/tests/spec/text-input_spec.js
  packages/react/src/components/TextArea/TextArea-test.js
  packages/react/src/components/TextArea/TextArea.js
  packages/react/src/components/TextArea/Textarea-story.js
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput-test.js
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready for review :eyes:

#2787 chore(styles): replace global variable checks
  packages/components/src/globals/scss/_css--body.scss
  packages/components/src/globals/scss/_css--font-face.scss
  packages/components/src/globals/scss/_css--helpers.scss
  packages/components/src/globals/scss/_css--reset.scss
  packages/components/src/globals/scss/_feature-flags.scss
  packages/components/src/globals/scss/_functions.scss
  packages/components/src/globals/scss/_layer.scss
Labels: status: ready to merge :tada:

#2802 fix(Notification): make subtitle optional
  packages/react/src/components/Notification/Notification.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2784 add inverse support tokens
  packages/themes/docs/sass.md
  packages/themes/metadata.yml
  packages/themes/scss/_mixins.scss
  packages/themes/scss/_theme-maps.scss
  packages/themes/scss/_tokens.scss
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens.js
  packages/themes/src/white.js
Labels: package: elements, status: ready to merge :tada:

#2811 chore(project): sync generated files
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_theme-maps.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_tokens.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_theme-maps.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_tokens.scss
  packages/elements/docs/sass.md
Labels: status: one more review :eyes:

#2810 docs(tab): update doc for importing
  packages/components/src/components/tabs/README.md
Labels: status: one more review :eyes:

#2812 feat(browserslist-config-carbon): add package
  packages/browserslist-config-carbon/README.md
  packages/browserslist-config-carbon/index.js
  packages/browserslist-config-carbon/package.json
  packages/components/package.json
  packages/components/tools/env.js
  packages/react/package.json
  packages/react/scripts/env.js
  tasks/jest/jsTransform.js
Labels: status: one more review :eyes:

#2808 feat(list-box v9): add outline to focus and expanded state
  src/components/list-box/_list-box.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:, v9

#2828 Header color updates
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_theme.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2815 chore(build): ensure no WebPack progress in CI log
  .yarn-offline-mirror/terser-3.11.0.tgz
  .yarn-offline-mirror/terser-3.17.0.tgz
  .yarn-offline-mirror/terser-webpack-plugin-1.1.0.tgz
  .yarn-offline-mirror/terser-webpack-plugin-1.2.3.tgz
  packages/components/gulpfile.js
  packages/components/package.json
  packages/components/server.js
  packages/components/tools/webpack-demo.config.js
  yarn.lock
Labels: status: ready to merge :tada:

#2817 chore(test): support Rollup 1.3
  packages/components/tests/pure-modules-test.js
Labels: status: one more review :eyes:

#2835 chore(lint): run Prettier to staged Sass files
  package.json
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2822 chore: add v9 publish config
  package.json
Labels: status: one more review :eyes:, status: ready for review :eyes:, v9

#2839 fix(button): temporarily hard code danger button bgc
  packages/components/src/components/button/_button.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2834 feat(data-table): show overflow menu always for mobile
  packages/components/src/components/data-table/_data-table-core.scss
Labels: status: ready to merge :tada:

#2840 chore: bump v9 package version
  package.json
Labels: status: ready for review :eyes:

#2838 docs(data-table): add visible overflow menu modifier
  packages/components/src/components/data-table/README.md
Labels: status: ready to merge :tada:

#2814 feat(notification): introduce high contrast style
  packages/components/src/components/notification/README.md
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/components/src/components/notification/notification.config.js
  packages/components/src/components/notification/notification.hbs
  packages/react/src/components/Notification/Notification-story.js
  packages/react/src/components/Notification/Notification.js
Labels: status: waiting for author's response

#2845 docs(Tooltip): info on which React tooltip to choose
  packages/react/src/components/Tooltip/Tooltip-story.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition-story.js
  packages/react/src/components/TooltipIcon/TooltipIcon-story.js
Labels: status: one more review :eyes:

#2850 fix: remove input field hover states
  packages/components/src/components/number-input/_number-input.scss
  packages/components/src/components/search/_search.scss
  packages/components/src/components/slider/_slider.scss
  packages/components/src/components/text-area/_text-area.scss
  packages/components/src/components/text-input/_text-input.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2853 refactor(tabs): replace wrapper `nav`
  packages/components/src/components/tabs/tabs.hbs
  packages/react/src/components/Tabs/Tabs.Skeleton.js
Labels: status: ready for review :eyes:

#2858 feat(grid): add 1:2 aspect ratio class
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/grid/_inlined/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/grid/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/grid/scss/_inlined/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/grid/scss/_mixins.scss
  packages/elements/docs/sass.md
  packages/grid/docs/sass.md
  packages/grid/scss/_mixins.scss
Labels: status: ready for review :eyes:

#2867 fix(data-table-v2): fix skeleton style suffix
  src/components/data-table-v2/_data-table-v2-skeleton.scss
Labels: status: ready for review :eyes:

#2664 chore(devenv): direct ref of src style from Storybook
  packages/react/.storybook/_container.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2868 fix(search): change font size
  packages/components/src/components/search/_search.scss
Labels: status: waiting for author's response

#2865 docs(project): update publishing.md
  docs/publishing.md
Labels: status: waiting for author's response

#2873 docs: update CodeSandbox links
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/accessibility-issue.md
  .github/ISSUE_TEMPLATE/bug-report.md
  packages/components/README.md
  packages/react/README.md
Labels: status: ready to merge :tada:

#2855 fix(dropdown): show scroll bar if content overflows vertically
  packages/components/src/components/dropdown/_dropdown.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2870 fix(radio-button): fix alignment for vertical
  packages/components/src/components/radio-button/_radio-button.scss
Labels: status: ready to merge :tada:

#2863 Added Categories up to `arrival`
  packages/icons/metadata.yml
Labels: status: ready to merge :tada:

#2719 Implement button "field" height variant
  packages/components/demo/scss/demo.scss
  packages/components/src/components/button/_button.scss
  packages/components/src/components/button/button.config.js
  packages/components/src/components/button/button.hbs
  packages/components/src/globals/scss/_theme-tokens.scss
  packages/react/src/components/Button/Button-story.js
  packages/react/src/components/Button/Button-test.js
  packages/react/src/components/Button/Button.js
Labels: status: ready to merge :tada:

#2847 feat(ui-shell): blank right panel and switcher
  packages/components/src/components/ui-shell/_header-panel.scss
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_product-switcher.scss
  packages/components/src/components/ui-shell/_switcher.scss
  packages/components/src/components/ui-shell/_theme.scss
  packages/components/src/components/ui-shell/_ui-shell.scss
  packages/react/src/components/UIShell/HeaderPanel.js
  packages/react/src/components/UIShell/Switcher.js
  packages/react/src/components/UIShell/SwitcherItem.js
  packages/react/src/components/UIShell/SwitcherItemLink.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/index.js
Labels: project: ui shell, status: ready for review :eyes:, status: visual review :eyes:

#2800 Fixes Invalid ARIA attribute`ariaLabel`
  packages/react/src/components/UIShell/HeaderMenu.js
  packages/react/src/components/UIShell/__tests__/HeaderMenu-test.js
Labels: status: one more review :eyes:

#2881 chore(release): v10.3.0-rc.1
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icons-angular/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/themes/package.json
Labels: status: one more review :eyes:

#2879 fix: make inputs inherit font family
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/type/_reset.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2883 button field deprecation warning: updated to only warn once
  packages/react/src/components/Button/Button.js
Labels: status: one more review :eyes:

#2846 feat(ui-shell): adds UX patterns for Header with SideNav
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/react/src/components/UIShell/Header.js
  packages/react/src/components/UIShell/HeaderContainer.js
  packages/react/src/components/UIShell/HeaderMenuButton.js
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderMenuButton-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Labels: project: ui shell, status: one more review :eyes:, status: ready for review :eyes:

#2786 feat(ui-shell): design updates to side nav
  packages/components/src/components/ui-shell/_content.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/components/src/components/ui-shell/_theme.scss
  packages/components/src/components/ui-shell/side-nav-fixed.hbs
  packages/react/.storybook/Container.js
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/SideNavMenu.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavMenu-test.js.snap
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2899 adds values to metadata.yml, adds categories.yml
  packages/icons/categories.yml
  packages/icons/metadata.yml
Labels: status: one more review :eyes:
