Repository carbon-design-system/carbon, pull requests merged in 2019-07, with the labels that each got.

#3235 refactor(react): update keyboard helpers
  packages/react/src/components/AccordionItem/AccordionItem.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.js
  packages/react/src/components/OverflowMenu/OverflowMenu.js
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem.js
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
  packages/react/src/components/RadioTile/RadioTile.js
  packages/react/src/components/Tile/Tile.js
  packages/react/src/components/Toggle/Toggle.js
  packages/react/src/components/ToggleSmall/ToggleSmall.js
  packages/react/src/components/Tooltip/Tooltip-test.js
  packages/react/src/components/Tooltip/Tooltip.js
  packages/react/src/components/UIShell/HeaderMenu.js
  packages/react/src/internal/keyboard/__tests__/match-test.js
  packages/react/src/internal/keyboard/__tests__/navigation-test.js
  packages/react/src/internal/keyboard/index.js
  packages/react/src/internal/keyboard/keys.js
  packages/react/src/internal/keyboard/match.js
  packages/react/src/internal/keyboard/navigation.js
  packages/react/src/tools/__tests__/key-test.js
Labels: status: one more review :eyes:

#3148 feat(tooltip): html updates for a11y
  packages/components/src/components/tooltip/tooltip.config.js
  packages/components/src/components/tooltip/tooltip.hbs
Labels: status: one more review :eyes:, status: ready to merge :tada:

#3236 fix(themes): fix hover-primary-text for dark themes
  packages/components/docs/sass.md
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_theme-maps.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_theme-maps.scss
  packages/elements/docs/sass.md
  packages/themes/docs/sass.md
  packages/themes/scss/_theme-maps.scss
  packages/themes/src/g100.js
  packages/themes/src/g90.js
Labels: status: ready for review :eyes:

#3225 fix(link): replace box-shadow with text-decoration & outline
  packages/components/docs/sass.md
  packages/components/src/components/link/_link.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3239 chore(ci): commit generated files on merge
  .circleci/config.yml
Labels: status: one more review :eyes:

#3248 fix(themes): update highlight token for dark themes
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_theme-maps.scss
  packages/elements/docs/sass.md
  packages/themes/docs/sass.md
  packages/themes/scss/_theme-maps.scss
  packages/themes/src/g100.js
  packages/themes/src/g90.js
Labels: status: failing tests :no_good_man:, status: ready to merge :tada:

#3253 fix(ListBox.Field): disallow focus when disabled
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/ListBox/ListBoxField.js
  packages/react/src/components/ListBox/__tests__/ListBoxField-test.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3242 fix(modal): ensure text input fills it's container
  packages/components/docs/sass.md
  packages/components/src/components/text-input/_text-input.scss
Labels: status: ready to merge :tada:

#3273 chore(project): remove generated CHANGELOG.md files
  packages/bundler/CHANGELOG.md
  packages/cli-reporter/CHANGELOG.md
  packages/colors/CHANGELOG.md
  packages/components/CHANGELOG.md
  packages/elements/CHANGELOG.md
  packages/grid/CHANGELOG.md
  packages/icon-helpers/CHANGELOG.md
  packages/icons-angular/CHANGELOG.md
  packages/icons-handlebars/CHANGELOG.md
  packages/icons-react/CHANGELOG.md
  packages/icons-vue/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/import-once/CHANGELOG.md
  packages/layout/CHANGELOG.md
  packages/motion/CHANGELOG.md
  packages/pictograms/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/scss-generator/CHANGELOG.md
  packages/stylelint-config-elements/CHANGELOG.md
  packages/test-utils/CHANGELOG.md
  packages/themes/CHANGELOG.md
  packages/type/CHANGELOG.md
Labels: status: one more review :eyes:

#3276 chore: ignore auto generated a11y test output
  packages/components/.gitignore
  packages/components/tests/axe/allHtml/a11y-html.json
Labels: status: ready to merge :tada:

#3272 fix(pagination): capture click on prev/forward icon
  packages/components/src/components/pagination/pagination.js
Labels: status: ready to merge :tada:

#3275 fix(tile): add link class to clickable tile
  packages/react/src/components/Tile/Tile.js
Labels: status: ready to merge :tada:

#3259 Create `20/time.svg`
  packages/icons/src/svg/20/time.svg
Labels: status: one more review :eyes:, status: visual review :eyes:

#3237 feat(modal): support a CSS class on body
  packages/components/docs/sass.md
  packages/components/src/components/modal/README.md
  packages/components/src/components/modal/_modal.scss
  packages/components/src/components/modal/modal.js
  packages/components/tests/spec/modal_spec.js
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/tools/toggleClass.js
Labels: status: ready to merge :tada:

#3284 Fix emoji :key:
  packages/components/README.md
Labels: status: ready to merge :tada:

#3274 chore(styles): update background of bx--body
  packages/components/src/globals/scss/_css--helpers.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3280 fix(notification): title word wrap
  packages/components/src/components/notification/_inline-notification.scss
Labels: status: ready to merge :tada:

#3105 feat(ui-shell): add responsive UX for header nav
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/UIShell/HeaderContainer.js
  packages/react/src/components/UIShell/HeaderSideNavItems.js
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
  packages/react/src/components/UIShell/index.js
Labels: project: ui shell, status: visual review :eyes:

#3286 fix(data-table): avoid clipping toolbar content
  packages/components/src/components/data-table/_data-table-action.scss
Labels: status: ready to merge :tada:

#3285 fix(DataTable): clear input button now resets filtering
  packages/react/src/components/DataTable/DataTable.js
Labels: status: ready to merge :tada:

#3300 feat(DatePicker): pass along onClose
  packages/react/src/components/DatePicker/DatePicker-story.js
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge :tada:

#3303 feat(side-nav): add isActive styles based on child props
  packages/react/src/components/UIShell/SideNavMenu.js
Labels: project: ui shell, status: ready for review :eyes:

#3151 feat(definition-tooltip): WCAG 2.1 compliance
  packages/components/docs/sass.md
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/components/tooltip/tooltip--definition.hbs
  packages/components/src/components/tooltip/tooltip--icon.hbs
  packages/components/src/globals/scss/_tooltip.scss
Labels: status: ready to merge :tada:

#2851 fix(Modal): require `aria-labelledby`
  packages/react/src/components/Modal/Modal-story.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: one more review :eyes:, status: ready to merge :tada:

#3288 fix(checkbox): fix color token of check mark
  packages/components/src/components/checkbox/_checkbox.scss
Labels: status: ready to merge :tada:

#3307 fix(icons-react): add support for aliases
  packages/icons-react/tasks/build.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3309 chore(test): migrate away from done.fail()
  packages/components/tests/styles-test.js
  packages/react/src/components/DatePicker/DatePicker-test.js
Labels: status: one more review :eyes:

#3313 fix(button): remove top level ampersand from btn-field selector
  packages/components/src/components/button/_button.scss
Labels: status: ready for review :eyes:

#3295 fix(TextArea): add ref forwarding to TextArea
  packages/react/src/components/TextArea/TextArea.js
Labels: status: ready to merge :tada:

#3311 refactor(TableToolbarSearch): use correct class name
  packages/react/src/components/DataTable/TableToolbarSearch.js
  packages/react/src/components/DataTable/__tests__/DataTable-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/prop-types/__tests__/deprecate-test.js
  packages/react/src/prop-types/deprecate.js
Labels: status: ready to merge :tada:

#3308 feat(upgrade): update package name and icons-react migration
  packages/upgrade/README.md
  packages/upgrade/fixtures/icons-react/index.js
  packages/upgrade/fixtures/icons-react/package.json
  packages/upgrade/package.json
  packages/upgrade/src/migrations/carbon-icons-react/10.3.0/index.js
  packages/upgrade/src/runner.js
Labels: status: ready to merge :tada:

#3301 fix(dropdown): update color tokens
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/list-box/_list-box.scss
Labels: status: ready to merge :tada:

#3258 feat(tabs): support home/end keyboard navigation
  packages/components/src/components/tabs/tabs.js
  packages/components/tests/spec/tabs_spec.js
  packages/react/src/components/Tab/Tab.js
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3327 chore(cli): make package public
  packages/cli/README.md
  packages/cli/package.json
Labels: status: ready to merge :tada:

#3293 fix(skeleton): update color tokens
  packages/components/src/globals/scss/_helper-mixins.scss
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: ready to merge :tada:

#3321 refactor(react): update AccordionItem
  packages/react/src/components/Accordion/AccordionItem.js
Labels: status: ready to merge :tada:

#3322 docs(Icon): fix story README link
  packages/react/src/components/Icon/Icon-story.js
Labels: status: ready for review :eyes:, status: ready to merge :tada:, type: docs :book:

#3333 fix(data-table): increase table expand button size
  packages/components/docs/sass.md
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#3173 feat(ui-shell): add side nav rail
  packages/components/docs/sass.md
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/react/src/components/TextArea/TextArea.js
  packages/react/src/components/UIShell/HeaderMenuButton.js
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderMenuButton-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Labels: status: one more review :eyes:, status: visual review :eyes:

#3324 fix(notification): use close20 icon, not close16
  packages/components/src/components/notification/_inline-notification.scss
  packages/react/src/components/Notification/Notification-test.js
  packages/react/src/components/Notification/Notification.js
Labels: status: one more review :eyes:, status: visual review :eyes:

#3342 fix(icons-react): format SVG props as camelCase
  packages/icons-react/package.json
  packages/icons-react/tasks/build.js
Labels: status: one more review :eyes:

#3361 fix(tags): remove old documentation
  packages/components/src/components/tag/README.md
Labels: status: ready to merge :tada:

#3360 chore(tabs): use fragment for customlabel wrapper in story
  packages/react/src/components/Tabs/Tabs-story.js
Labels: status: ready to merge :tada:

#3362 fix(file-uploader): add default for role prop, update tests & story
  packages/react/src/components/FileUploader/FileUploader-story.js
  packages/react/src/components/FileUploader/FileUploader-test.js
  packages/react/src/components/FileUploader/FileUploader.js
Labels: status: ready to merge :tada:

#3283 feat(inline-notification): add action button with click handler
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_mixins.scss
  packages/components/src/globals/scss/_theme-tokens.scss
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Notification/Notification-story.js
  packages/react/src/components/Notification/Notification.js
  packages/react/src/index.js
Labels: status: ready to merge :tada:, status: visual review :eyes:

#3356 fix(data-table): remove extra padding on toolbar-action element
  packages/components/src/components/data-table/_data-table-action.scss
Labels: status: ready to merge :tada:

#3368 feat(Button): add icon-only button support
  packages/components/src/components/button/button.hbs
  packages/components/src/components/overflow-menu/overflow-menu.hbs
  packages/components/src/components/tooltip/tooltip--icon.hbs
  packages/react/src/components/Button/Button-story.js
  packages/react/src/components/Button/Button-test.js
  packages/react/src/components/Button/Button.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#3363 chore(icon): set role prop in story
  packages/react/src/components/Icon/Icon-story.js
Labels: status: ready to merge :tada:

#3347 fix(ComposedModal): fix button variants
  packages/react/src/components/ComposedModal/ComposedModal-story.js
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ComposedModal.js
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#3287 fix(button): fix theme tokens and focus style
  packages/components/src/components/button/_button.scss
  packages/components/src/components/button/_mixins.scss
Labels: status: one more review :eyes:, status: visual review :eyes:

#3384 fix(shell): add breakpoint to overlay active
  packages/components/src/components/ui-shell/_side-nav.scss
Labels: status: ready to merge :tada:

#3396 fix(button): use hover-primary-text for ghost button hover
  packages/components/src/components/button/_button.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3402 fix(icons-react): update CommonJS bundle aliases
  e2e/icons-react/components-test.js
  packages/icons-react/tasks/build.js
Labels: status: one more review :eyes:

#3408 chore(release): update package versions
  packages/components/package.json
  packages/icons-react/package.json
  packages/react/package.json
Labels: status: one more review :eyes:

#3392 chore(project): remove or update old files
  packages/components/.all-contributorsrc
  packages/components/.gitignore
  packages/components/.prettierignore
  packages/components/nodemon.json
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/components/src/globals/grid/__tests__/grid-test.js
  packages/components/src/globals/grid/_classic.scss
  packages/components/src/globals/grid/_experimental.scss
  packages/components/src/globals/grid/_grid.scss
  packages/react/.gitignore
  packages/react/.prettierignore
  packages/react/config/jest/cssTransform.js
  packages/react/config/jest/fileTransform.js
  packages/react/config/jest/jsTransform.js
  packages/react/config/jest/setup.js
  packages/react/config/polyfills.js
Labels: status: one more review :eyes:

#3407 fix(react): update listbox selection handler so selected clear on enter
  packages/react/src/components/ListBox/ListBoxSelection.js
Labels: status: waiting for author's response

#3312 fix(InlineLoading): announce loaded state on success
  packages/components/src/components/inline-loading/_inline-loading.scss
  packages/react/src/components/InlineLoading/InlineLoading-story.js
  packages/react/src/components/InlineLoading/InlineLoading.js
Labels: status: ready to merge :tada:

#3410 fix(tabs): set tab container height same as tab height
  packages/components/src/components/tabs/_tabs.scss
Labels: status: ready to merge :tada:, type: bug 🐛

#3330 feat(themes): add new inverse-link token for all themes
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_theme-maps.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_theme-maps.scss
  packages/elements/docs/sass.md
  packages/themes/docs/sass.md
  packages/themes/scss/_mixins.scss
  packages/themes/scss/_theme-maps.scss
  packages/themes/scss/_tokens.scss
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens.js
  packages/themes/src/white.js
Labels: status: ready to merge :tada:

#3395 feat(MultiSelect): pass through `<ListBox.Selection>` translations
  packages/react/src/components/MultiSelect/MultiSelect-story.js
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#3414 fix(styles): render the `main` element consistently in IE
  packages/components/src/globals/scss/_css--reset.scss
Labels: status: ready to merge :tada:

#3425 fix(listboxfield): use oneOfType for tabIndex propType
  packages/react/src/components/ListBox/ListBoxField.js
Labels: status: ready to merge :tada:

#3423 fix(icons): fix media feature name
  packages/icons/scss/mixins.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3364 fix: ghost button normal and field padding
  packages/components/src/components/button/_button.scss
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: ready to merge :tada:

#3426 fix(tabs): use string for aria-hidden attribute on chevron icon
  packages/react/src/components/Tabs/Tabs.js
Labels: status: ready to merge :tada:

#3424 fix(tokens): use inverse-link, deprecate link-inverse-color
  packages/components/docs/sass.md
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_mixins.scss
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: visual review :eyes:

#3432 chore(tooltip): use small button component in story
  packages/react/src/components/Tooltip/Tooltip-story.js
Labels: status: ready to merge :tada:

#3385 fix(pagination): adjust md breakpoint chevron position
  packages/components/src/components/pagination/_pagination.scss
  packages/components/src/components/pagination/pagination.hbs
  packages/react/src/components/Select/Select-test.js
  packages/react/src/components/Select/Select.js
Labels: status: ready for review :eyes:, status: ready to merge :tada:, status: visual review :eyes:

#3401 feat(ListBox.Field): support ARIA attribute translations
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/ListBox/ListBoxField.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBox-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/test-helpers.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: ready to merge :tada:

#3415 fix(Button): remove deprecated prop from default props
  packages/react/src/components/Button/Button.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#3441 fix(radio-button): add HCM support to radio buttons on Edge
  src/components/radio-button/_radio-button.scss
Labels: package: components, status: ready to merge :tada:, type: a11y ♿, v9

#3444 chore(devenv): apply theme custom properties to floating menus
  packages/components/demo/scss/demo.scss
Labels: status: ready to merge :tada:

#3442 fix(radio-button): add styling for hcm edge support
  packages/components/src/components/radio-button/_radio-button.scss
Labels: package: components, status: ready to merge :tada:, type: a11y ♿

#3398 docs(general): developing on windows via WSL
  docs/developing-on-windows.md
Labels: status: ready to merge :tada:, status: waiting for author's response, type: docs :book:

#3377 fix(notification): fix explanation mark color
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3470 chore(structured-list): remove stray commas from story
  packages/react/src/components/StructuredList/StructuredList-story.js
Labels: status: one more review :eyes:

#3463 fix(PasswordInput): prevent visibility toggle on form submit
  packages/components/src/components/text-input/text-input.hbs
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/TextInput/PasswordInput.js
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#3465 chore(storybook): use built-in options parameter, remove addon-options
  .yarn/offline-mirror/@storybook-addon-options-5.1.3.tgz
  packages/react/.storybook/addons.js
  packages/react/.storybook/config.js
  packages/react/package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready to merge :tada:

#3468 fix(code-snippet): use inverse-02 for copy-btn-feedback token
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: one more review :eyes:

#3478 feat(docs): add WHCM support documentation
  docs/on-windows-hcm-support.md
Labels: status: ready to merge :tada:, type: a11y ♿, type: docs :book:

#3459 Create V9 theme in V10
  packages/components/README.md
  packages/themes/docs/sass.md
  packages/themes/scss/_theme-maps.scss
  packages/themes/src/index.js
  packages/themes/src/v9.js
Labels: status: ready to merge :tada:

#3365 fix(Search): set default and require close button label
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Search/Search-story.js
  packages/react/src/components/Search/Search.js
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#3500 separate categories.yml from metadata.yml
  packages/icons/categories.yml
  packages/icons/metadata.yml
  packages/icons/tasks/build-metadata.js
Labels: package: elements, status: ready to merge :tada:, type: dev :robot:

#3507 fix(Button): apply correct tooltip alignment class
  packages/react/src/components/Button/Button.js
Labels: status: ready to merge :tada:

#3501 add support to downsize to 16px
  packages/icons-angular/tasks/build.js
  packages/icons/src/build.js
Labels: package: elements, status: ready to merge :tada:, type: dev :robot:

#3516 chore(icons): add ci-check for metadata structure
  .yarn/offline-mirror/hoek-6.1.3.tgz
  .yarn/offline-mirror/isemail-3.2.0.tgz
  .yarn/offline-mirror/joi-14.3.1.tgz
  .yarn/offline-mirror/topo-3.0.3.tgz
  packages/icons/categories.yml
  packages/icons/metadata.yml
  packages/icons/package.json
  packages/icons/src/svg/32/watson-health/arrow--annotation.svg
  packages/icons/tasks/ci-check.js
  yarn.lock
Labels: status: failing tests :no_good_man:, status: one more review :eyes:, status: ready for review :eyes:

#3523 chore(release): v9.91.5
  package.json
Labels: status: one more review :eyes:, status: ready for review :eyes:, v9

#3524 fix(Toggle): fix JavaScript error in keyboard handler
  packages/react/src/components/Toggle/Toggle.js
Labels: status: ready to merge :tada:

#3518 fix(structured-list): remove min-width style rule
  packages/components/src/components/structured-list/_structured-list.scss
Labels: status: ready to merge :tada:

#3482 chore(devenv): apply theme custom properties to flatpicker
  packages/components/demo/scss/demo.scss
  packages/components/docs/sass.md
  packages/components/src/components/date-picker/_date-picker.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3515 fix(PasswordInput): use updated tooltip for password visibility toggle
  packages/components/src/components/text-input/README.md
  packages/components/src/components/text-input/_text-input.scss
  packages/components/src/components/text-input/text-input.hbs
  packages/components/src/components/text-input/text-input.js
  packages/components/tests/spec/text-input_spec.js
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/TextInput/PasswordInput.js
  packages/react/src/components/TextInput/TextInput-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3535 refactor(react): move lib folder check to run in jest
  packages/react/__tests__/ssr-test.js
  packages/react/package.json
  packages/react/ssr-tests/loads.js
Labels: status: one more review :eyes:

#3394 improve Search (and Search in data table toolbar) aria labels
  packages/react/src/components/DataTable/TableToolbarSearch.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Search/Search-test.js
  packages/react/src/components/Search/Search.js
Labels: status: ready to merge :tada:, type: a11y ♿

#3538 fix(progress-indicator): remove unneeded flex rule
  packages/components/src/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge :tada:

#3456 fix(modal): focus trap within modal
  packages/components/src/components/modal/modal.js
  packages/components/src/globals/js/settings.js
  packages/components/tests/spec/modal_spec.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#3547 fix(dropdown): use visibility instead of hidden mixin
  packages/components/src/components/dropdown/_dropdown.scss
Labels: status: ready to merge :tada:

#3545 fix(label): remove old styles
  packages/components/src/components/form/_form.scss
Labels: status: ready to merge :tada:

#3549 Update error--filled.svg
  packages/icons/src/svg/32/error--filled.svg
Labels: status: ready to merge :tada:

#3551 fix(datatable): update readme link
  packages/react/src/components/DataTable/DataTable-story.js
Labels: status: ready to merge :tada:

#3553 fix(password-input): reposition toggle button and recolor icon
  packages/components/src/components/text-input/_text-input.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:, status: visual review :eyes:

#3561 chore(react): update config for actions in storybook
  packages/react/.storybook/config.js
Labels: status: one more review :eyes:

#3568 docs(Tooltip): use small button variant in tooltip stories
  packages/react/src/components/Tooltip/Tooltip-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, type: docs :book:

#3575 fix: update dropdown and listbox disabled color token
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/list-box/_list-box.scss
Labels: status: visual review :eyes:

#3577 fix(data-table): split selector for header height, etc
  packages/components/src/components/data-table/_data-table-sort.scss
Labels: status: ready to merge :tada:

#3585 chore(colors): update color tokens for some components
  packages/components/src/components/checkbox/_checkbox.scss
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/components/src/components/radio-button/_radio-button.scss
  packages/components/src/components/structured-list/_structured-list.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#3593 fix(select): remove dotted outline on select element
  packages/components/src/components/select/_select.scss
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#3599 Fix(DataTable/Props) - props `small` should be `short`
  packages/react/src/components/DataTable/Table.js
Labels: status: one more review :eyes:

#3596 fix(themes): add inverse-hover-ui token, update inline-notification to use new token
  packages/components/docs/sass.md
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_theme-maps.scss
  packages/components/src/globals/scss/vendor/@carbon/elements/scss/themes/_tokens.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_mixins.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_theme-maps.scss
  packages/components/src/globals/scss/vendor/@carbon/themes/scss/_tokens.scss
  packages/elements/docs/sass.md
  packages/themes/docs/sass.md
  packages/themes/scss/_mixins.scss
  packages/themes/scss/_theme-maps.scss
  packages/themes/scss/_tokens.scss
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
Labels: status: one more review :eyes:, status: visual review :eyes:

#3606 fix(themes): change interactive-02 to g80
  packages/themes/src/g10.js
  packages/themes/src/white.js
Labels: status: ready for review :eyes:, status: visual review :eyes:
