Repository carbon-design-system/carbon, pull requests merged in 2019-12, with the labels that each got.

#4787 fix(select): add flex rule to accommodate long label text, update story
  packages/components/src/components/select/_select.scss
  packages/react/src/components/Select/Select-story.js
Labels: status: one more review :eyes:, status: visual review :eyes:

#4801 fix(search): fix a11y structure
  packages/components/src/components/data-table/_data-table-action.scss
  packages/react/src/components/DataTable/TableToolbarSearch.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Search/Search.js
Labels: status: ready for review :eyes:

#4709 fix(link): exclude button elements from no-href styling
  packages/components/src/components/link/_link.scss
Labels: status: ready to merge :tada:

#4778 chore(pictograms): correct berlin brandenburg name typo
  packages/pictograms/categories.yml
  packages/pictograms/metadata.yml
  packages/pictograms/svg/berlin--brandenburg--gate.svg
  packages/pictograms/svg/berlin--brandenburg.svg
Labels: status: ready to merge :tada:

#4518 fix: tag not using elipses when width constrained
  packages/components/src/components/tag/_tag.scss
  packages/components/src/components/tag/tag.hbs
Labels: status: ready to merge :tada:

#4754 feat(accordion): add align prop to component and skeleton to change heading alignment
  packages/components/src/components/accordion/_accordion.scss
  packages/react/src/components/Accordion/Accordion-story.js
  packages/react/src/components/Accordion/Accordion.Skeleton.js
  packages/react/src/components/Accordion/Accordion.js
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion.Skeleton-test.js.snap
Labels: status: ready to merge :tada:

#4563 fix: respect max and min in NumberInput when using arrows
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge :tada:

#4816 fix(number-input): removes role from icon and adds conditional aria label
  packages/react/src/components/NumberInput/NumberInput-test.js
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge :tada:

#4817 fix(number-input): add check for manually entered invalid value
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge :tada:

#4621 test(loading): add a11y tests
  .gitignore
  .yarn/offline-mirror/chromedriver-77.0.0.tgz
  .yarn/offline-mirror/debug-4.1.0.tgz
  .yarn/offline-mirror/deep-diff-0.3.8.tgz
  .yarn/offline-mirror/del-4.1.1.tgz
  .yarn/offline-mirror/ibma-aat-2.0.3-alpha.tgz
  .yarn/offline-mirror/ip-regex-2.1.0.tgz
  .yarn/offline-mirror/is-path-cwd-2.2.0.tgz
  .yarn/offline-mirror/is-path-in-cwd-2.1.0.tgz
  .yarn/offline-mirror/is-path-inside-2.1.0.tgz
  .yarn/offline-mirror/is-url-1.2.4.tgz
  .yarn/offline-mirror/is2-2.0.1.tgz
  .yarn/offline-mirror/proxy-from-env-1.0.0.tgz
  .yarn/offline-mirror/puppeteer-1.20.0.tgz
  .yarn/offline-mirror/tcp-port-used-1.0.1.tgz
  .yarn/offline-mirror/ws-6.2.1.tgz
  aat/aat.js
  package.json
  packages/react/src/components/Accordion/__tests__/Accordion-test.js
  packages/react/src/components/Loading/Loading-test.js
  packages/react/src/components/Tag/Tag.js
  tasks/jest/matchers/toHaveNoAxeViolations.js
  tasks/jest/matchers/toHaveNoDAPViolations.js
  tasks/jest/setup.js
  tasks/jest/setupAfterEnv.js
  yarn.lock
Labels: status: ready to merge :tada:, type: a11y ♿

#4830 docs(modal-wrapper): remove invalid prop, fix renderTriggerButtonIcon knob
  packages/react/src/components/ModalWrapper/ModalWrapper-story.js
Labels: status: ready to merge :tada:

#4829 docs(radio-tile): remove invalid labelText prop from story
  packages/react/src/components/Tile/Tile-story.js
Labels: status: ready to merge :tada:

#4813 fix(modal): fix header padding for small variants
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge :tada:

#4822 fix(data-table): update position of th cells to preserve border in Firefox
  packages/components/src/components/data-table/_data-table-core.scss
Labels: status: ready to merge :tada:

#4824 feat(icons): add statistics icons
  packages/icons/categories.yml
  packages/icons/metadata.yml
  packages/icons/svg/16/interactions.svg
  packages/icons/svg/16/nominal.svg
  packages/icons/svg/16/ordinal.svg
Labels: status: visual review :eyes:

#4793 fix(DatePicker): support focus into a day with min/max
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready for review :eyes:, status: ready to merge :tada:, status: visual review :eyes:

#4731 feat(list-box): introduce size variants
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/react/src/components/ComboBox/ComboBox-story.js
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown-story.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/ListBox/ListBox.js
  packages/react/src/components/ListBox/ListBoxPropTypes.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect-story.js
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#4775 fix(modal): add padding to overflow indicator, sets hasScrollingContent default to false
  packages/components/docs/sass.md
  packages/components/src/components/modal/_modal.scss
  packages/react/src/components/Modal/Modal-story.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: ready to merge :tada:

#4843 fix(cli): update workspace to filter out invalid paths
  packages/cli/src/workspace.js
Labels: status: ready to merge :tada:

#4805 fix(notifications): fix pointer events for inline low contrast, update inverse link colors
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/react/src/components/Notification/Notification-story.js
Labels: status: ready to merge :tada:

#4851 fix(overflow-menu): change menu div to button and update styles
  packages/colors/scss/colors.scss
  packages/colors/scss/index.scss
  packages/colors/scss/mixins.scss
  packages/components/docs/sass.md
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge :tada:

#4853 docs(icons-vue): update repo url in vue storybook environment
  packages/icons-vue/examples/storybook/.storybook/config.js
Labels: status: ready to merge :tada:

#4852 docs(icons): update source & repo links on carbon elements demo page
  packages/icons/examples/preview/index.js
Labels: status: ready to merge :tada:

#4867 fix(button): update focus styles to use box-shadow
  packages/components/src/components/button/_mixins.scss
Labels: status: visual review :eyes:

#4887 chore: add system squad label to issue template
  .github/ISSUE_TEMPLATE/accessibility-issue.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request-or-enhancement.md
  .github/ISSUE_TEMPLATE/question.md
Labels: status: ready for review 👀

#4875 fix(UIshell): adds story for SkipToContent and removes the tabIndex prop requirement
  packages/react/src/components/UIShell/SkipToContent.js
  packages/react/src/components/UIShell/UIShell-story.js
Labels: status: ready to merge 🎉

#4889 fix(styles): replace old spacing variables with new ones
  packages/components/src/components/accordion/_accordion.scss
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/components/src/components/copy-button/_copy-button.scss
  packages/components/src/components/data-table/_data-table-action.scss
  packages/components/src/components/data-table/_data-table-inline-edit.scss
  packages/components/src/components/pagination/_pagination.scss
Labels: status: ready to merge 🎉

#4877 fix(table-header): forward ref for <th>
  packages/react/src/components/DataTable/TableHeader.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
Labels: status: ready to merge 🎉

#4873 fix(inline-notification): add 8px right padding if close button is hidden
  packages/components/src/components/notification/_inline-notification.scss
  packages/react/src/components/Notification/Notification.js
Labels: status: ready to merge 🎉

#4886 fix(devenv): use content margin style for expanded side nav
  packages/react/src/components/UIShell/UIShell-story.js
Labels: status: ready to merge 🎉

#4890 fix(multiselect): close button for tags
  packages/components/src/components/tag/_tag.scss
Labels: status: ready for review 👀, status: visual review 🔍

#4892 chore: add GH action to auto-label the system squad
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: squad: system, status: ready for review 👀

#4895 fix(button): add elementType to 'as' property type check (#4893)
  packages/react/src/components/Button/Button.js
Labels: status: ready to merge 🎉

#4910 docs(pagination): update knob description for forwardText prop
  packages/react/src/components/Pagination/Pagination-story.js
Labels: status: ready to merge 🎉

#4906 feat(file-uploader): add support for onChange
  packages/react/src/components/FileUploader/FileUploader.js
Labels: status: ready to merge 🎉

#4904 chore(react): update composed modal story
  packages/react/src/components/ComposedModal/ComposedModal-story.js
Labels: status: one more review 👀

#4891 fix(search): adjust icon and hover styles on Close16 button for Chrome's new autofill color
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Search/Search.js
Labels: status: visual review 🔍

#4915 fix(code-snippet): set max-height to 100% and add bottom padding to expanded multi-line
  packages/components/src/components/code-snippet/_code-snippet.scss
Labels: status: ready to merge 🎉

#4799 fix(styles): update placeholder colors
  packages/components/src/components/combo-box/_combo-box.scss
  packages/components/src/components/date-picker/_date-picker.scss
  packages/components/src/components/text-area/_text-area.scss
  packages/components/src/components/time-picker/_time-picker.scss
Labels: status: ready to merge 🎉

#4905 chore(data-table): update storybook to use correct button variant
  packages/react/src/components/DataTable/stories/with-batch-actions.js
Labels: status: ready to merge 🎉
