Repository carbon-design-system/carbon, pull requests merged in 2020-01, with the labels that each got.

#4935 fix(dropdown): revert id change to have stable identifier
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
Labels: status: ready to merge 🎉

#4946 chore: fix labeler action globs and add auto add package labels
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: status: one more review 👀, status: ready for review 👀

#4863 fix(Tag): adds various fixes for screen reader accessibility; adds AAT
  packages/components/src/components/tag/_tag.scss
  packages/react/src/components/Tag/Tag-story.js
  packages/react/src/components/Tag/Tag-test.js
  packages/react/src/components/Tag/Tag.js
Labels: status: ready to merge 🎉

#4956 chore: fix PR labeler syntax
  .github/labeler.yml
Labels: squad: system

#4856 fix(date-picker): support changing date format
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#4955 Update CODEOWNERS
  CODEOWNERS
Labels: squad: system, status: ready to merge 🎉

#4912 fix(DatePicker): explicitly update minDate and maxDate
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#4923 fix(checkbox-skeleton): apply skeleton class to checkbox
  packages/components/src/components/checkbox/_checkbox.scss
  packages/react/src/components/Checkbox/Checkbox-test.js
  packages/react/src/components/Checkbox/Checkbox.Skeleton.js
Labels: status: ready to merge 🎉

#4952 fix(ComboBox): bring IME support back
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#4975 Fix documentation links location
  README.md
Labels: squad: system, status: ready to merge 🎉

#4966 fix( radio-tile, selectable-tile): deprecates iconDescription and adds handleOnChange function
  packages/react/src/components/RadioTile/RadioTile.js
  packages/react/src/components/Tile/Tile-story.js
  packages/react/src/components/Tile/Tile.js
Labels: status: ready to merge 🎉

#4984 chore: remove labeler github action because it wasn't dependable
  .github/ISSUE_TEMPLATE/accessibility-issue.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request-or-enhancement.md
  .github/ISSUE_TEMPLATE/question.md
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: squad: system, status: ready for review 👀, status: ready to merge 🎉

#4784 fix(Tabs): ignore disabled tabs on keyboard navigation
  packages/react/src/components/Tab/Tab-test.js
  packages/react/src/components/Tab/Tab.js
  packages/react/src/components/Tabs/Tabs-story.js
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.js
Labels: status: ready for review 👀, status: ready to merge 🎉, status: visual review 🔍

#4963 fix(accordion-skeleton): add margin between icon & text when align=end
  packages/components/src/components/accordion/_accordion.scss
Labels: status: ready to merge 🎉

#4978 fix(v9 theme): updated interactive values
  packages/themes/src/v9.js
Labels: package: themes, status: ready to merge 🎉

#4820 feat(ListBox): fix labels of trigger buttons
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown-test.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/ListBox/ListBoxField.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBox-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/test-helpers.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: ready to merge 🎉

#4983 fix(text-area): change disabled light textarea background colors
  packages/components/src/components/text-area/_text-area.scss
Labels: status: one more review 👀, status: visual review 🔍

#4980 fix(uishell): add background & font color to active current links
  packages/components/src/components/ui-shell/_side-nav.scss
Labels: status: one more review 👀, status: ready for review 👀, status: visual review 🔍

#4977 fix(dropdown): use itemToElement for selected label if not null
  packages/react/src/components/Dropdown/Dropdown.js
Labels: status: ready to merge 🎉

#4741 fix(CodeSnippet): use tooltip styles for feedback and add animation
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/components/src/components/code-snippet/code-snippet.hbs
  packages/components/src/components/copy-button/_copy-button.scss
  packages/components/src/globals/scss/_keyframes.scss
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/react/src/components/Copy/Copy-test.js
  packages/react/src/components/Copy/Copy.js
  packages/react/src/components/CopyButton/CopyButton.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#4846 fix(DatePicker): fix calendar dropdown position
  packages/react/src/components/DatePicker/DatePicker.js
  packages/react/src/components/DatePicker/plugins/appendToPlugin.js
Labels: status: ready to merge 🎉

#4814 fix(DatePicker): fix programmatic set of date in range mode
  packages/react/src/components/DatePicker/plugins/rangePlugin.js
Labels: status: ready to merge 🎉

#4991 fix(multi-select): fix DAP violations
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/ListBox/ListBox.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBox-test.js.snap
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: failing CI 🙅‍♂️, status: ready to merge 🎉

#4792 fix(Tag): ignore click events when disabled
  packages/components/src/components/tag/_tag.scss
  packages/components/src/components/tag/tag.hbs
  packages/react/src/components/Tag/Tag-test.js
  packages/react/src/components/Tag/Tag.js
Labels: status: ready to merge 🎉

#4823 fix(project): build issues on windows
  packages/bundler/src/commands/inline.js
  packages/elements/tasks/build.js
  packages/icon-build-helpers/src/builders/react/builder.js
  packages/icon-build-helpers/src/builders/vanilla/builder.js
  packages/icons-vue/tasks/build.js
Labels: status: ready to merge 🎉

#4960 fix(condensed-grid): moved vertical spacing to col
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/grid/scss/_mixins.scss
Labels: package: grid, status: ready to merge 🎉

#5014 chore(project): update prettier to 1.19.1
  .yarn/offline-mirror/prettier-1.19.1.tgz
  package.json
  packages/bundler/src/bundlers/index.js
  packages/bundler/src/commands/inline.js
  packages/bundler/src/tools/sassdoc.js
  packages/cli/package.json
  packages/components/src/components/structured-list/structured-list.js
  packages/components/src/components/tooltip/tooltip.js
  packages/components/src/globals/js/components.js
  packages/components/tests/styles-test.js
  packages/icon-build-helpers/package.json
  packages/icons-vue/package.json
  packages/react/scripts/rollup.config.js
  packages/react/src/components/FileUploader/FileUploaderItem.js
  packages/react/src/components/MultiSelect/README.md
  packages/react/src/components/MultiSelect/tools/__tests__/sorting-test.js
  packages/scss-generator/package.json
  packages/test-utils/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#5011 chore(project): update yargs to 15.1.0
  .yarn/offline-mirror/@types-color-name-1.1.1.tgz
  .yarn/offline-mirror/ansi-regex-5.0.0.tgz
  .yarn/offline-mirror/ansi-styles-4.2.1.tgz
  .yarn/offline-mirror/cliui-6.0.0.tgz
  .yarn/offline-mirror/color-convert-2.0.1.tgz
  .yarn/offline-mirror/string-width-4.2.0.tgz
  .yarn/offline-mirror/strip-ansi-6.0.0.tgz
  .yarn/offline-mirror/wrap-ansi-6.2.0.tgz
  .yarn/offline-mirror/yargs-15.1.0.tgz
  .yarn/offline-mirror/yargs-parser-16.1.0.tgz
  packages/cli/package.json
  packages/upgrade/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#5010 chore(project): update core-js to 3.6.2
  .yarn/offline-mirror/core-js-2.6.11.tgz
  .yarn/offline-mirror/core-js-3.4.0.tgz
  .yarn/offline-mirror/core-js-3.6.2.tgz
  packages/components/demo/js/components/boot-nav.js
  packages/components/demo/polyfills/devenv.js
  packages/components/demo/polyfills/index.js
  packages/components/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#4999 fix(ComboBox): ensure unique keys
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
Labels: status: ready to merge 🎉

#5006 refactor(CopyButton): inherit Copy component
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/react/src/components/CodeSnippet/CodeSnippet-story.js
  packages/react/src/components/CopyButton/CopyButton-test.js
  packages/react/src/components/CopyButton/CopyButton.js
Labels: status: ready to merge 🎉

#5000 fix(list): explicitly remove `list-style`
  packages/components/src/components/list/_list.scss
Labels: status: ready to merge 🎉

#4995 fix(text-area): allow wrapper to span the full width of its container
  packages/components/src/components/text-area/_text-area.scss
Labels: status: ready to merge 🎉

#5003 fix(uishell): close HeaderMenu on blur
  packages/react/src/components/UIShell/HeaderMenu.js
Labels: status: ready to merge 🎉

#5026 chore(tile-group): remove unrecognized prop from tests
  packages/react/src/components/TileGroup/TileGroup-test.js
Labels: status: ready to merge 🎉

#5025 chore(pictograms-react): update example storybook name
  packages/pictograms-react/examples/storybook/package.json
Labels: status: ready to merge 🎉

#5012 chore(project): update rimraf to 3.0.0
  package.json
  packages/colors/package.json
  packages/components/src/components/list/_list.scss
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-vue/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/sketch/package.json
  packages/themes/package.json
  packages/type/package.json
Labels: status: ready to merge 🎉

#4936 fix(FileUploaderDropContainer): fix NPE selecting file
  packages/react/src/components/FileUploader/FileUploader-test.js
  packages/react/src/components/FileUploader/FileUploaderDropContainer.js
Labels: status: ready to merge 🎉

#5027 Delete stale.yml
  .github/stale.yml
Labels: status: ready to merge 🎉

#5018 fix(InlineLoading): change error icon to filled
  packages/react/src/components/InlineLoading/InlineLoading.js
Labels: status: ready to merge 🎉

#5035 fix(tabs): truncate container tab header text with ellipses
  packages/components/src/components/tabs/_tabs.scss
  packages/components/src/components/tabs/tabs.hbs
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#5038 docs(support): add issue triage process for all types
  docs/guides/support.md
Labels: status: ready to merge 🎉

#4928 fix(list-box): ensure size variants are in effect
  packages/components/src/components/dropdown/_dropdown.scss
Labels: status: ready to merge 🎉

#4834 feat(ui-shell): switch header nav role for side nav
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/react/src/components/UIShell/HeaderMenu.js
  packages/react/src/components/UIShell/HeaderMenuItem.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderMenuItem-test.js.snap
Labels: status: ready to merge 🎉

#5053 fix(tag): ensure tag keeps pill shape with single character
  packages/components/src/components/tag/_tag.scss
Labels: status: ready for review 👀

#4753 feat(list-box): update selection style
  packages/components/src/components/combo-box/_combo-box.scss
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/dropdown/dropdown.hbs
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/list-box/list-box.hbs
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
Labels: status: ready to merge 🎉

#5037 fix(modal): add transparent outline for high contrast themes
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#5046 fix(modal): fix modal content padding for regular size
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#5054 refactor(loading): update from class to function
  packages/react/src/components/Loading/Loading.js
Labels: status: ready to merge 🎉

#5072 refactor(notification): refactor component to use hooks
  packages/react/src/components/Notification/Notification-test.js
  packages/react/src/components/Notification/Notification.js
Labels: status: ready to merge 🎉

#5040 fix(data-table-skeleton): remove unnecessary border bottom
  packages/components/src/components/data-table/_data-table-skeleton.scss
Labels: status: ready to merge 🎉

#5056 feat(token): add new $text-error
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#4970 fix(Tabs): add ARIA attributes
  packages/react/src/components/Tab/Tab.js
  packages/react/src/components/TabContent/TabContent.js
  packages/react/src/components/Tabs/Tabs-story.js
  packages/react/src/components/Tabs/Tabs.js
Labels: status: ready to merge 🎉

#5074 fix(accordion): update accordion breakpoints
  packages/components/src/components/accordion/_accordion.scss
Labels: status: ready to merge 🎉

#5075 fix(multiselect): fix invalid inline multiselect error icon
  packages/components/src/components/list-box/_list-box.scss
Labels: status: visual review 🔍

#5057 docs(themes): update link to color tokens in README
  packages/themes/README.md
Labels: status: ready to merge 🎉

#5058 docs(type): update link to type styles in README
  packages/type/README.md
Labels: status: ready to merge 🎉

#5080 fix: duplicate id data-table in carbon-website
  packages/components/src/components/data-table/data-table.config.js
Labels: status: ready to merge 🎉

#5085 fix(date-picker): adjust style selectors for disabled or prev/next days
  packages/components/src/components/date-picker/_date-picker.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#5106 chore(notification): fix variable typo in component
  packages/react/src/components/Notification/Notification.js
Labels: status: ready to merge 🎉

#5052 feat(Grid): enable zero span columns
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/grid/docs/sass.md
  packages/grid/examples/preview/src/components/App.js
  packages/grid/scss/_mixins.scss
Labels: status: visual review 🔍

#5102 fix(listbox): set default title attributes to item text
  packages/components/src/components/dropdown/dropdown.hbs
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown-story.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: ready to merge 🎉

#5051 feat(TooltipIcon): add new direction prop types
  packages/react/src/components/TooltipIcon/TooltipIcon.js
Labels: status: ready to merge 🎉

#5109 fix(pagination): use descriptive id for right hand select
  packages/react/src/components/Pagination/Pagination.js
Labels: status: ready to merge 🎉

#5108 feat(breadcrumbs): add spread attribute to allow additional attrs on root node
  packages/react/src/components/Breadcrumb/Breadcrumb.js
Labels: status: ready to merge 🎉

#5103 docs(tabs): fix react story class name typo & prefix usage
  packages/react/src/components/Tabs/Tabs-story.js
Labels: status: ready to merge 🎉

#5100 fix(list): left align numbers
  packages/components/src/components/list/_list.scss
Labels: status: ready to merge 🎉

#5076 feat(text-input): add height variations to text input
  packages/components/src/components/text-input/_text-input.scss
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/TextInput/PasswordInput.js
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready to merge 🎉

#5081 fix(TableBatchActions): ensure hidden action bar un-focusable
  packages/react/src/components/DataTable/TableBatchActions.js
  packages/react/src/components/DataTable/TableToolbarSearch.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/DataTable/stories/with-batch-actions.js
Labels: status: ready to merge 🎉

#5115 fix(time-picker): update icon to chevrondown16
  packages/react/src/components/TimePickerSelect/TimePickerSelect.js
Labels: status: ready to merge 🎉

#5123 fix(date-picker): use correct background for date picker in modal
  packages/components/src/components/modal/_modal.scss
Labels: status: one more review 👀, status: ready for review 👀

#5120 docs(tabs): un-comment hidden proptype
  packages/react/src/components/Tabs/Tabs.js
Labels: status: one more review 👀, status: ready for review 👀, status: ready to merge 🎉

#5118 fix(dropdown): restore default dropdown height
  packages/components/src/components/dropdown/_dropdown.scss
Labels: status: ready to merge 🎉

#5119 fix(modal): prevent modal from shifting when scrollbar appears
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#5124 fix(Tabs): allow keyboard event defaults
  packages/react/src/components/Tabs/Tabs.js
Labels: status: one more review 👀, status: ready to merge 🎉

#5128 fix(list-box): fix dropdown item sizes
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#5144 Update Button-story.js
  packages/react/src/components/Button/Button-story.js
Labels: status: ready to merge 🎉

#5140 fix(tag): add default cursor to non-filter tag
  packages/components/src/components/tag/_tag.scss
  packages/react/src/components/Tag/Tag.js
Labels: component: tags, status: ready to merge 🎉

#5126 feat(box-shadow): remove deprecated layer, use box-shadow mixin
  packages/components/src/components/copy-button/_copy-button.scss
  packages/components/src/components/data-table/_data-table-inline-edit-cell.scss
  packages/components/src/components/date-picker/_date-picker.scss
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/modal/_modal.scss
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/components/src/components/slider/_slider.scss
  packages/components/src/components/tabs/_tabs.scss
  packages/components/src/components/tile/_tile.scss
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/globals/scss/_helper-mixins.scss
  packages/components/src/globals/scss/_layer.scss
  packages/components/src/globals/scss/_tooltip.scss
  packages/components/src/globals/scss/styles.scss
Labels: status: ready to merge 🎉

#5134 chore(project): update lint-staged glob for md files
  package.json
Labels: status: ready to merge 🎉

#5146 feat(progress-indicator): add vertical progress indicator to react
  packages/components/src/components/progress-indicator/_progress-indicator.scss
  packages/react/src/components/ProgressIndicator/ProgressIndicator-story.js
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: one more review 👀, status: ready to merge 🎉

#5167 fix(text-input): rename sizing props
  packages/components/src/components/text-input/_text-input.scss
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput.js
Labels: status: one more review 👀, status: ready for review 👀

#5125 feat(progress-indicator): adds hidden span to announce state of completion
  packages/components/docs/sass.md
  packages/components/src/components/progress-indicator/_progress-indicator.scss
  packages/react/src/components/ProgressIndicator/ProgressIndicator-test.js
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: ready to merge 🎉

#5160 fix(storybook): remove layer import
  packages/components/docs/migration/migrate-to-10.x.md
  packages/components/src/globals/scss/migrate-to-10.x.md
  packages/react/.storybook/styles.scss
Labels: status: one more review 👀, status: ready for review 👀

#5039 fix(multiselect): replace checkbox with visually identical element
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: one more review 👀, status: ready for review 👀

#5089 fix(TableToolbarSearch): allow default values to be set
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/TableToolbarSearch.js
Labels: status: ready to merge 🎉

#5060 feat(DataTable): allow additional contents to expand cells
  packages/react/src/components/DataTable/TableExpandHeader.js
Labels: status: ready to merge 🎉

#5156 fix(tile): adds onChange call to handlers in selectable tile
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.js
Labels: status: ready to merge 🎉

#5172 fix(inline-loading): update type token
  packages/components/src/components/inline-loading/_inline-loading.scss
Labels: status: ready for review 👀, status: visual review 🔍

#5176 fix(button): set min-height for field buttons
  packages/components/src/components/button/_button.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#5184 chore(project): add setup for test failure with unexpected console
  packages/components/tests/styles-test.js
  packages/react/src/components/Checkbox/Checkbox-test.js
  packages/react/src/components/DataTable/__tests__/DataTable-test.js
  packages/react/src/components/DataTable/__tests__/TableBatchAction-test.js
  packages/react/src/components/DataTable/__tests__/TableExpandHeader-test.js
  packages/react/src/components/DataTable/__tests__/TableExpandRow-test.js
  packages/react/src/components/DataTable/__tests__/TableToolbarMenu-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandHeader-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/NumberInput/NumberInput-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem-test.js
  packages/react/src/components/Tag/Tag-test.js
  packages/react/src/components/UIShell/__tests__/SideNavFooter-test.js
  packages/react/src/components/UIShell/__tests__/SideNavItems-test.js
  packages/react/src/components/UIShell/__tests__/SideNavMenu-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavFooter-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavItems-test.js.snap
  tasks/jest/setupAfterEnv.js
Labels: status: one more review 👀, status: ready for review 👀

#5147 feat: add Esc key support to dismiss tooltips
  packages/components/src/components/tooltip/tooltip--definition.hbs
  packages/components/src/components/tooltip/tooltip--icon.hbs
  packages/components/src/components/tooltip/tooltip--simple.js
  packages/components/src/globals/js/components.js
  packages/components/src/globals/scss/_tooltip.scss
  packages/components/tests/spec/tooltip--simple_spec.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition.js
  packages/react/src/components/TooltipDefinition/__snapshots__/TooltipDefinition-test.js.snap
  packages/react/src/components/TooltipIcon/TooltipIcon.js
  packages/react/src/components/TooltipIcon/__snapshots__/TooltipIcon-test.js.snap
Labels: status: ready to merge 🎉

#5145 fix(datatable): add padding so search clear button doesn't obstruct text
  packages/components/src/components/data-table/_data-table-action.scss
Labels: status: ready to merge 🎉

#5150 fix(select): change light select hover color token
  packages/components/src/components/select/_select.scss
Labels: status: ready to merge 🎉

#5182 Change order import of tag css
  packages/components/src/components/tag/_tag.scss
Labels: status: ready to merge 🎉

#5122 feat(progress-indicator): update to use carbon icons
  packages/components/docs/sass.md
  packages/components/src/components/progress-indicator/_progress-indicator.scss
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: one more review 👀, status: ready for review 👀, status: ready to merge 🎉

#5185 feat(react): add support for rollup in bundles
  .yarn/offline-mirror/magic-string-0.25.4.tgz
  .yarn/offline-mirror/rollup-plugin-strip-banner-1.0.0.tgz
  packages/react/package.json
  packages/react/rollup.config.js
  packages/react/scripts/build.js
  packages/react/scripts/rollup.config.js
  yarn.lock
Labels: status: ready to merge 🎉

#5192 fix(FilterableMultiSelect): open item list when searching
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
Labels: status: ready to merge 🎉, status: visual review 🔍

#5034 docs(data-table): add storybook book expandable demo styles
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/react/src/components/DataTable/stories/datatable-story.scss
  packages/react/src/components/DataTable/stories/with-expansion.js
Labels: role: dev 🤖, status: ready to merge 🎉

#5169 fix(button): remove margin added by safari
  packages/components/src/components/button/_mixins.scss
  packages/components/src/globals/scss/_css--reset.scss
Labels: status: ready to merge 🎉

#5202 fix(code-snippet): remove focus from snippet container
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/components/src/components/code-snippet/code-snippet.hbs
  packages/react/src/components/CodeSnippet/CodeSnippet.js
Labels: status: ready for review 👀, status: visual review 🔍

#5203 feat(notification): add info icon to notification
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/components/src/components/notification/notification.hbs
  packages/react/src/components/Notification/Notification.js
Labels: status: ready to merge 🎉

#5198 feat(SideNavMenu): collapse submenu on esc keydown
  packages/react/src/components/UIShell/SideNavMenu.js
  packages/react/src/components/UIShell/__tests__/SideNavMenu-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavMenu-test.js.snap
Labels: status: ready to merge 🎉

#5195 fix(button): correct sizes for icon-only buttons
  packages/components/src/components/button/_button.scss
Labels: status: ready to merge 🎉

#5204 Also add ref to non-sortable branch in TableHeader
  packages/react/src/components/DataTable/TableHeader.js
Labels: status: ready to merge 🎉

#5215 fix(cli): update to support new package versions
  packages/cli/src/changelog.js
  packages/cli/src/workspace.js
Labels: status: ready to merge 🎉

#5216 docs(react): update toolbar story with label
  packages/react/src/components/DataTable/stories/with-toolbar.js
Labels: status: ready to merge 🎉

#5209 fix(data-table): remove hover styles from thead checkbox
  packages/components/src/components/data-table/_data-table-core.scss
Labels: status: ready to merge 🎉

#5222 fix(search): update search icon to correct token
  packages/components/src/components/search/_search.scss
Labels: status: ready to merge 🎉

#5173 fix(Tab): hoist tab role to upper element
  packages/react/src/components/Tab/Tab-test.js
  packages/react/src/components/Tab/Tab.js
Labels: status: ready to merge 🎉

#5223 fix(inline-dropdown): vanilla style fixes
  packages/components/src/components/dropdown/_dropdown.scss
Labels: status: ready to merge 🎉

#5220 refactor(react): update wildcard exports
  packages/react/src/components/FileUploader/index.js
  packages/react/src/components/ListBox/index.js
  packages/react/src/components/Pagination/index.js
Labels: status: ready to merge 🎉

#5235 fix(ui-shell): remove role='menu' from ui-shell
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/components/src/components/ui-shell/header-nav.hbs
  packages/components/src/components/ui-shell/navigation-menu.hbs
  packages/components/src/components/ui-shell/side-nav-fixed.hbs
  packages/components/src/components/ui-shell/side-nav.hbs
  packages/react/src/components/UIShell/HeaderMenu.js
  packages/react/src/components/UIShell/SideNavMenu.js
  packages/react/src/components/UIShell/Switcher.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavMenu-test.js.snap
Labels: status: ready to merge 🎉

#5166 fix(file-uploader): adjusts default button and removes clear file button
  packages/components/docs/sass.md
  packages/components/src/components/file-uploader/_file-uploader.scss
  packages/react/src/components/FileUploader/FileUploader-story.js
  packages/react/src/components/FileUploader/FileUploader.js
  packages/react/src/components/FileUploader/stories/drop-container.js
Labels: status: ready to merge 🎉
