Repository carbon-design-system/carbon, pull requests merged in 2020-09, with the labels that each got.

#6756 fix(eslint): update files list in package.json
  config/eslint-config-carbon/package.json
Labels: status: ready to merge 🎉

#6765 docs(proptypes): escape elements referenced in proptypes docs
  packages/react/src/components/Button/Button.Skeleton.js
  packages/react/src/components/Button/Button.js
  packages/react/src/components/Copy/Copy.js
  packages/react/src/components/CopyButton/CopyButton.js
  packages/react/src/components/FileUploader/FileUploader.js
  packages/react/src/components/FileUploader/FileUploaderDropContainer.js
  packages/react/src/components/Link/Link.js
  packages/react/src/components/ListItem/ListItem.js
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
  packages/react/src/components/RadioButton/RadioButton.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.js
  packages/react/src/components/Search/Search.js
  packages/react/src/components/Select/Select.js
  packages/react/src/components/Tab/Tab.js
  packages/react/src/components/TextArea/TextArea.js
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/TextInput/PasswordInput.js
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/components/TileGroup/TileGroup.js
  packages/react/src/components/TimePicker/TimePicker.js
  packages/react/src/components/Toggle/Toggle.Skeleton.js
  packages/react/src/components/Toggle/Toggle.js
  packages/react/src/components/ToggleSmall/ToggleSmall.Skeleton.js
  packages/react/src/components/UIShell/HeaderMenuItem.js
  packages/react/src/components/UIShell/HeaderName.js
  packages/react/src/components/UIShell/HeaderPanel.js
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/SideNavDetails.js
  packages/react/src/components/UIShell/Switcher.js
  packages/react/src/components/UIShell/SwitcherDivider.js
  packages/react/src/components/UIShell/SwitcherItem.js
  packages/react/src/components/UnorderedList/UnorderedList.js
Labels: status: ready to merge 🎉

#6757 fix(Modal): increase modal tooltip z-index
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#6740 fix(FilterableMultiSelect): set light text input styles with light prop
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
Labels: status: ready to merge 🎉

#6778 chore(release): v10.19.0
  config/eslint-config-carbon/package.json
  config/prettier-config-carbon/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react-hooks/package.json
  packages/react/package.json
  packages/scss-generator/package.json
  packages/sketch/package.json
  packages/test-utils/package.json
  packages/themes/package.json
  packages/type/package.json
Labels: status: ready for review 👀

#6780 Update deploy-react-storybook.yml
  .github/workflows/deploy-react-storybook.yml
  .github/workflows/deploy-vanilla-devenv.yml
Labels: status: ready to merge 🎉

#6790 fix: correct stylelint config documentation
  config/stylelint-config-carbon/README.md
Labels: status: ready to merge 🎉

#6782 fix(code-snippet): set multi-line snippet overflow-x to auto
  packages/components/src/components/code-snippet/_code-snippet.scss
Labels: status: ready to merge 🎉

#6784 remove redundant proptypes value for locale
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#6785 fix Tag component
  packages/components/src/components/tag/_tag.scss
Labels: status: ready to merge 🎉

#6791 fix(TreeNode): sync expanded prop and state
  packages/react/src/components/TreeView/TreeNode.js
  packages/react/src/components/TreeView/TreeView-story.js
Labels: status: ready to merge 🎉

#6809 fix(Slider): transform invalid into proper attributes
  packages/react/src/components/Slider/Slider.js
Labels: status: ready to merge 🎉

#6801 docs(DataTable): add custom state manager example
  packages/react/examples/custom-data-table-state-manager/package.json
  packages/react/examples/custom-data-table-state-manager/public/index.html
  packages/react/examples/custom-data-table-state-manager/src/components/CustomDataTable.js
  packages/react/examples/custom-data-table-state-manager/src/components/Pagination.js
  packages/react/examples/custom-data-table-state-manager/src/hooks/index.js
  packages/react/examples/custom-data-table-state-manager/src/hooks/useCollator.js
  packages/react/examples/custom-data-table-state-manager/src/hooks/useFilteredRows.js
  packages/react/examples/custom-data-table-state-manager/src/hooks/usePageInfo.js
  packages/react/examples/custom-data-table-state-manager/src/hooks/useRowSelection.js
  packages/react/examples/custom-data-table-state-manager/src/hooks/useSortInfo.js
  packages/react/examples/custom-data-table-state-manager/src/hooks/useSortedRows.js
  packages/react/examples/custom-data-table-state-manager/src/hooks/useUniqueId.js
  packages/react/examples/custom-data-table-state-manager/src/index.js
  packages/react/examples/custom-data-table-state-manager/src/misc/doesRowMatchSearchString.js
  packages/react/examples/custom-data-table-state-manager/src/misc/enums.js
  packages/react/examples/custom-data-table-state-manager/src/misc/index.js
  packages/react/examples/custom-data-table-state-manager/src/table-data.js
Labels: status: ready to merge 🎉

#6817 fix(type): update line height for expressive tokens
  packages/type/scss/_styles.scss
  packages/type/src/__tests__/__snapshots__/styles-test.js.snap
  packages/type/src/styles.js
Labels: status: ready to merge 🎉

#6793 feat(modal): add preventCloseOnClickOutside prop to prevent from closing
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal-story.js
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/ModalWrapper/ModalWrapper-story.js
  packages/react/src/components/ModalWrapper/ModalWrapper.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: ready to merge 🎉

#6825 fix(components): update sideEffects flag for CSS compilations
  packages/components/package.json
Labels: status: ready to merge 🎉

#6826 fix(type): tweak type values
  packages/type/scss/_styles.scss
  packages/type/src/__tests__/__snapshots__/styles-test.js.snap
  packages/type/src/styles.js
Labels: status: ready to merge 🎉

#6807 fix(OverflowMenu): stop focusing button onblur
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#6827 fix(stylelint-config-carbon): disable custom property pattern
  config/stylelint-config-carbon/rules/limit-language-features.js
Labels: status: ready to merge 🎉

#6811 fix(Toggle): make labelText a node instead of string
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Toggle/Toggle.js
  packages/react/src/components/ToggleSmall/ToggleSmall.js
Labels: status: ready to merge 🎉

#6843 fix(Tabs): diff tablist properties on component update
  packages/react/src/components/Tabs/Tabs.js
Labels: status: ready to merge 🎉

#6805 docs(ComposedModal): add storybook MDX example
  packages/react/src/components/ComposedModal/ComposedModal-story.js
  packages/react/src/components/ComposedModal/ComposedModal.mdx
Labels: status: ready to merge 🎉

#6846 docs(icons): update link to Angular icons
  packages/icons/README.md
Labels: status: ready to merge 🎉

#6849 fix(UI icons): update repeat icons
  packages/icons/src/svg/32/repeat--one.svg
  packages/icons/src/svg/32/repeat.svg
Labels: status: ready to merge 🎉

#6850 feat(type): update sass maps to be !default
  packages/type/scss/_font-family.scss
Labels: status: ready to merge 🎉

#6842 docs(DataTable): add playground story
  packages/react/src/components/DataTable/DataTable-story.js
  packages/react/src/components/DataTable/stories/default.js
  packages/react/src/components/DataTable/stories/dynamic-content/DataTable-dynamic-content-story.js
  packages/react/src/components/DataTable/stories/shared.js
Labels: status: ready to merge 🎉

#6854 feat(icons): update icon friendly names
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#6770 docs(Toggles): add label examples to stories; remove a11yProps
  packages/react/src/components/Toggle/Toggle-story.js
  packages/react/src/components/Toggle/Toggle-test.js
  packages/react/src/components/Toggle/Toggle.Skeleton.js
  packages/react/src/components/ToggleSmall/ToggleSmall-story.js
Labels: status: ready to merge 🎉

#6868 feat(FileUploaderDropContainer): validate filetypes from OS file picker
  packages/react/examples/drag-and-drop-file-uploader/src/index.js
  packages/react/src/components/FileUploader/FileUploaderDropContainer.js
  packages/react/src/components/FileUploader/stories/drop-container.js
Labels: status: ready to merge 🎉

#6873 fix(data-table): high contrast mode fixes
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/components/src/components/data-table/_data-table-sort.scss
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/components/src/components/search/_search.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#6652 feat(NumberInput): add warn prop
  packages/components/src/components/form/_form.scss
  packages/components/src/components/number-input/_number-input.scss
  packages/react/src/components/NumberInput/NumberInput-story.js
  packages/react/src/components/NumberInput/NumberInput.js
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready to merge 🎉

#6867 fix(file-uploader): ensure form requirements are visible
  packages/components/src/components/file-uploader/_file-uploader.scss
Labels: status: ready to merge 🎉

#6886 feat(modal): add preventCloseOnClickOutside prop to Modal
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Modal/Modal-story.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: ready to merge 🎉

#6819 fix(TextArea): add aria-live and aria-placeholder
  packages/react/src/components/TextArea/TextArea.js
Labels: status: ready to merge 🎉

#6870 chore(docs): update windows installation docs
  docs/guides/setup/windows.md
Labels: status: ready to merge 🎉

#6722 feat(Tooltip): allow focusTrap prop passthrough
  packages/react/src/components/Tooltip/Tooltip-story.js
  packages/react/src/components/Tooltip/Tooltip.js
  packages/react/src/internal/FloatingMenu.js
Labels: status: ready to merge 🎉

#6892 fix(a11y): Increase Windows / Firefox HCM support
  config/stylelint-config-carbon/rules/possible-errors.js
  packages/components/src/components/accordion/_accordion.scss
  packages/components/src/components/button/_button.scss
  packages/components/src/components/checkbox/_checkbox.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/components/src/components/data-table/_data-table-sort.scss
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/modal/_modal.scss
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/components/src/components/pagination/_pagination.scss
  packages/components/src/components/radio-button/_radio-button.scss
  packages/components/src/components/search/_search.scss
  packages/components/src/components/select/_select.scss
  packages/components/src/components/slider/_slider.scss
  packages/components/src/globals/scss/_tooltip.scss
Labels: status: ready to merge 🎉

#6901 fix(button): restrict transitions to relevant properties
  packages/components/src/components/button/_mixins.scss
Labels: status: ready to merge 🎉

#6906 fix(a11y): dap errors with MultiSelect.Filterable
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
Labels: status: ready to merge 🎉

#6907 feat(colors): update Magenta60, WarmGray60 hex values
  packages/colors/__tests__/__snapshots__/colors-test.js.snap
  packages/colors/artifacts/IBM_Colors.zip
  packages/colors/docs/sass.md
  packages/colors/src/colors.js
  packages/components/docs/sass.md
  packages/elements/docs/sass.md
Labels: status: ready to merge 🎉

#6920 fix(storybook): label text prop name for the react select component
  packages/react/src/components/Select/Select-story.js
Labels: status: ready to merge 🎉

#6912 fix(icons-shared): generate all symbols from 32px assets
  packages/sketch/src/commands/icons/shared.js
Labels: status: ready to merge 🎉

#6914 fix: update placeholder styles to be consistent in all browsers
  packages/components/src/components/date-picker/_date-picker.scss
  packages/components/src/components/search/_search.scss
  packages/components/src/components/time-picker/_time-picker.scss
  packages/components/src/globals/scss/_helper-mixins.scss
Labels: status: ready to merge 🎉

#6734 docs(Combobox): update dev docs; add mdx docs
  packages/react/src/components/ComboBox/ComboBox-story.js
  packages/react/src/components/ComboBox/ComboBox.mdx
Labels: status: ready to merge 🎉

#6927 chore(release): v10.21.0-rc.0
  config/stylelint-config-carbon/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/react-hooks/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/themes/package.json
Labels: status: ready to merge 🎉

#6804 docs(Modal): add storybook MDX example
  packages/react/src/components/Modal/Modal-story.js
  packages/react/src/components/Modal/Modal.mdx
Labels: status: ready to merge 🎉

#6928 feat(Tabs): create scrollable Tabs variant
  packages/components/src/components/tabs/_tabs.scss
  packages/react/src/components/Tab/Tab-test.js
  packages/react/src/components/Tab/Tab.js
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.js
Labels: status: ready to merge 🎉
