Repository carbon-design-system/carbon, pull requests merged in 2020-06, with the labels that each got.

#5489 feat(FloatingMenu): conditionally set focus in floating menu on menu open
  packages/components/src/components/link/_link.scss
  packages/components/src/globals/js/settings.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/DataTable/stories/with-overflow-menu.js
  packages/react/src/components/OverflowMenu/OverflowMenu-story.js
  packages/react/src/components/OverflowMenu/OverflowMenu.js
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem.js
  packages/react/src/components/Tooltip/Tooltip-story.js
  packages/react/src/components/Tooltip/Tooltip.js
  packages/react/src/internal/FloatingMenu.js
  packages/react/src/internal/keyboard/navigation.js
Labels: status: one more review 👀

#6140 fix(list): remove list item vertical spacing rules
  packages/components/src/components/list/_list.scss
Labels: status: ready for review 👀

#5485 feat(unstable-pagination): add refactored experimental pagination component
  packages/components/src/components/pagination/_unstable_pagination.scss
  packages/components/src/globals/scss/styles.scss
  packages/react/.storybook/styles.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Pagination/Unstable_Pagination/PageSelector.js
  packages/react/src/components/Pagination/Unstable_Pagination/Pagination-story.js
  packages/react/src/components/Pagination/Unstable_Pagination/Pagination.js
  packages/react/src/components/Pagination/Unstable_Pagination/index.js
  packages/react/src/index.js
Labels: status: visual review 🔍

#6105 Switch btn text to nodes for Modal
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.js
Labels: status: ready to merge 🎉

#6120 fix(composedmodal): add role to content container
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/ComposedModal/__snapshots__/ComposedModal-test.js.snap
Labels: status: ready to merge 🎉

#6153 fix(OverflowMenu): ignore disabled items during keyboard navigation
  packages/react/src/components/OverflowMenu/OverflowMenu.js
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem.js
Labels: status: ready to merge 🎉

#6165 fix(DatePicker): resolve missing proptype warnings
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#6058 fix(pagination): conform next/prev button to ghost, icon size to 16
  packages/components/src/components/pagination/_pagination.scss
  packages/react/src/components/Pagination/Pagination-test.js
  packages/react/src/components/Pagination/Pagination.js
Labels: status: ready to merge 🎉

#6168 feat(project): add prettier-config-carbon package
  package.json
  packages/cli/package.json
  packages/cli/src/commands/sync/readme.js
  packages/prettier-config-carbon/README.md
  packages/prettier-config-carbon/index.js
  packages/prettier-config-carbon/package.json
  prettier.config.js
Labels: status: ready to merge 🎉

#6171 chore(project): bring over v10.12 commits
  packages/components/package.json
  packages/elements/package.json
  packages/icon-build-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react-hooks/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/themes/package.json
Labels: status: ready to merge 🎉

#6179 feat(icon-build-helpers): add support for fill=currentColor for icons
  packages/icon-build-helpers/src/metadata/extensions/output/index.js
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion.Skeleton-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/AccordionItem-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxMenuIcon-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxSelection-test.js.snap
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderMenuButton-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavFooter-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavMenu-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavSwitcher-test.js.snap
Labels: status: ready to merge 🎉

#5970 fix(typography) - Line-height for type to be relative not absolute - #5975
  packages/type/scss/_styles.scss
Labels: status: visual review 🔍

#6190 fix(unstable-pagination): use size 16 icons
  packages/react/src/components/Pagination/Unstable_Pagination/Pagination.js
Labels: status: ready to merge 🎉

#6192 fix(DataTableSkeleton): add prop to hide header, toolbar
  packages/components/src/components/data-table/_data-table-skeleton.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton-story.js
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton.js
Labels: status: one more review 👀, status: ready for review 👀

#6159 fix(data-table): fix zebra styles for expandable rows
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
Labels: status: ready for review 👀, status: visual review 🔍

#6212 remove extra packages path from icons readme
  packages/icons/README.md
Labels: status: ready to merge 🎉

#6188 fix(progress-indicator): import button styles for button elements in steps
  packages/components/src/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge 🎉

#6205 fix(dropdown): increase max-height for all dropdown variants
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/multi-select/_multi-select.scss
  packages/react/src/components/ComboBox/ComboBox-story.js
  packages/react/src/components/Dropdown/Dropdown-story.js
  packages/react/src/components/MultiSelect/MultiSelect-story.js
Labels: status: ready to merge 🎉

#6217 fix(date-picker): update selected range background colors
  packages/components/src/components/date-picker/_date-picker.scss
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: ready for review 👀, status: visual review 🔍

#6213 fix(tabs): ensure tabs truncate on long strings
  packages/components/src/components/tabs/_tabs.scss
  packages/react/src/components/Tabs/Tabs-story.js
Labels: status: ready to merge 🎉

#6070 fix(pagination): add pageSizeInputDisabled prop to Pagination
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Pagination/Pagination-story.js
  packages/react/src/components/Pagination/Pagination.js
Labels: status: ready to merge 🎉

#6293 fix(progress-indicator): set title based on label attribute
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: one more review 👀, status: ready for review 👀

#6236 fix(accordion): prevent setting title by default
  packages/react/src/components/Accordion/AccordionItem.js
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/AccordionItem-test.js.snap
Labels: status: ready to merge 🎉

#6234 feat(pictograms): update cognos analytics pictogram
  packages/pictograms/src/svg/cognos--analytics.svg
Labels: status: ready to merge 🎉

#6250 chore(pictograms): update pictogram illustrator file
  packages/pictograms/master/pictogram-master.ai
Labels: status: ready to merge 🎉

#6254 fix(link): permit pointer events regardless of href
  packages/components/src/components/link/_link.scss
Labels: status: ready to merge 🎉

#6263 fix(layout): update condensed grid gutter to 1px
  packages/components/docs/sass.md
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/elements/docs/sass.md
  packages/grid/examples/preview/src/components/App.js
  packages/layout/docs/sass.md
  packages/layout/scss/_breakpoint.scss
Labels: status: ready to merge 🎉

#6281 Update DataTable README to include 'key' prop
  packages/react/src/components/DataTable/README.md
Labels: status: ready to merge 🎉

#6275 feat(pictograms): add new networking pictograms
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/global--partner.svg
  packages/pictograms/src/svg/inspect--data.svg
  packages/pictograms/src/svg/networking--06.svg
Labels: status: ready to merge 🎉

#6230 fix(button): ensure icons with multiple paths render properly
  packages/components/src/components/button/_button.scss
  packages/react/src/components/Button/Button-story.js
Labels: status: ready to merge 🎉

#6258 fix(pagination): another way to fix scrollbar issue for pagination
  packages/components/src/components/pagination/_pagination.scss
Labels: status: ready to merge 🎉

#6276 feat(pictograms): add new blockchain category with new pictograms
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/connected--ecosystem.svg
  packages/pictograms/src/svg/consumer--engagement--food--journey.svg
  packages/pictograms/src/svg/supply--chain--optimization--01.svg
  packages/pictograms/src/svg/supply--chain--optimization--02.svg
  packages/pictograms/src/svg/transparency--01.svg
  packages/pictograms/src/svg/transparency--02.svg
  packages/pictograms/src/svg/trust.svg
Labels: status: ready to merge 🎉

#6279 feat(pictograms): add new pictograms to data analytics category
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/chart--custom.svg
  packages/pictograms/src/svg/chart--multi-type.svg
  packages/pictograms/src/svg/chart--pie.svg
  packages/pictograms/src/svg/chart--stepper.svg
  packages/pictograms/src/svg/chart--sunburst.svg
  packages/pictograms/src/svg/code--syntax.svg
  packages/pictograms/src/svg/data--set.svg
  packages/pictograms/src/svg/sample--file.svg
  packages/pictograms/src/svg/stem--leaf--plot.svg
  packages/pictograms/src/svg/time--plot.svg
Labels: status: ready to merge 🎉

#6312 fix(Pagination): remove default value for pageInputDisabled
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Pagination/Pagination-story.js
  packages/react/src/components/Pagination/Pagination-test.js
  packages/react/src/components/Pagination/Pagination.js
Labels: status: ready for review 👀

#6270 feat(pictograms): add new pictograms
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/clothes--rack--01.svg
  packages/pictograms/src/svg/clothes--rack--02.svg
  packages/pictograms/src/svg/electric--car.svg
  packages/pictograms/src/svg/first--aid.svg
  packages/pictograms/src/svg/flower--01.svg
  packages/pictograms/src/svg/flower--02.svg
  packages/pictograms/src/svg/player--flow.svg
  packages/pictograms/src/svg/shirt.svg
  packages/pictograms/src/svg/socks.svg
  packages/pictograms/src/svg/solar--field.svg
  packages/pictograms/src/svg/solar--panel.svg
  packages/pictograms/src/svg/summit.svg
  packages/pictograms/src/svg/t-shirt.svg
  packages/pictograms/src/svg/trousers.svg
  packages/pictograms/src/svg/user--interface.svg
Labels: status: ready to merge 🎉

#6278 fix(tabs): automatically add scrollbar when content overflows
  packages/components/src/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#6285 feat(pictograms): add automation decision pictogram to networking category
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/automation--decision.svg
Labels: status: ready to merge 🎉

#6185 feat(components): support alternate container tokens
  packages/components/demo/scss/_expressive-theme.scss
  packages/components/demo/scss/demo.scss
  packages/components/docs/sass.md
  packages/components/gulpfile.js
  packages/components/src/components/number-input/_number-input.scss
  packages/components/src/components/text-area/_text-area.scss
  packages/components/src/components/text-input/_text-input.scss
  packages/components/src/globals/scss/_theme-tokens.scss
  packages/react/.storybook/styles.scss
  packages/react/.storybook/webpack.config.js
Labels: status: waiting for reviewer's response 💬

#6323 fix(loading): use `$overlay-01` token for overlay
  packages/components/src/components/loading/_loading.scss
Labels: status: ready to merge 🎉

#6320 feat(pictograms): add planning analytics pictogram to cloud category
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/planning--analytics.svg
Labels: status: ready to merge 🎉

#6300 docs(handbook): add icon docs to developer-handbook
  docs/developer-handbook.md
Labels: status: ready to merge 🎉

#6307 feat(react): remove unsafe lifecycle methods from DataTable and DatePicker
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/__tests__/DataTable-test.js
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#6318 feat(pictograms): add blender pictogram in lifestyle category
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/blender.svg
Labels: status: ready to merge 🎉

#6336 feat(pictograms): add gift pictogram in retail
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/cargo--crane.svg
  packages/pictograms/src/svg/cargo--ship.svg
  packages/pictograms/src/svg/gift.svg
Labels: status: ready to merge 🎉

#6305 feat(pictograms): add supply chain category with new pictograms
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/connected--nodes--to--the--cloud.svg
  packages/pictograms/src/svg/managing--contractual--flow.svg
  packages/pictograms/src/svg/managing--items.svg
  packages/pictograms/src/svg/monitored--item--on--conveyor.svg
  packages/pictograms/src/svg/movement--in--overlapping--networks.svg
  packages/pictograms/src/svg/movement--of--goods--01.svg
  packages/pictograms/src/svg/movement--of--goods--02.svg
  packages/pictograms/src/svg/movement--of--goods--03.svg
  packages/pictograms/src/svg/movement--of--items.svg
  packages/pictograms/src/svg/process.svg
Labels: status: ready to merge 🎉

#6344 fix(pagination): set correct width on ghost buttons
  packages/components/src/components/pagination/_pagination.scss
Labels: status: one more review 👀, status: ready for review 👀

#6350 chore(npmignore): update npmignore file
  packages/components/.npmignore
  packages/react/.npmignore
Labels: status: one more review 👀, status: ready for review 👀

#6351 feat(pictograms): add coronavirus pictogram in Life Science category
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/coronavirus.svg
Labels: status: ready to merge 🎉

#6349 fix(button): prevent tooltip from showing on incorrect hover
  packages/components/src/globals/scss/_tooltip.scss
Labels: status: ready to merge 🎉

#6332 feat(pictograms): add systems devops category and pictograms
  packages/pictograms/pictograms.yml
Labels: status: ready to merge 🎉
