Repository carbon-design-system/carbon, pull requests merged in 2020-04, with the labels that each got.

#5725 fix(icon-build-helpers): generate valid pictogram modules
  packages/icon-build-helpers/src/builders/vanilla/builder.js
Labels: status: ready to merge 🎉

#5747 fix(data-table): remove max width line from core styles
  packages/components/docs/sass.md
  packages/components/src/components/data-table/_data-table-core.scss
Labels: status: one more review 👀, status: ready for review 👀, status: visual review 🔍

#5731 docs(drop-container): reduce mock upload calls when `multiple` is false
  packages/react/examples/drag-and-drop-file-uploader/src/index.js
  packages/react/src/components/FileUploader/stories/drop-container.js
Labels: status: ready to merge 🎉, type: docs 📖

#5743 fix(data-table): ensure cleaning-up events
  packages/components/src/components/data-table/data-table.js
Labels: status: ready to merge 🎉

#5700 fix(Modal): edit close icon alt text to match content guidelines
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Modal/Modal-story.js
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: ready to merge 🎉

#5686 fix(TimePicker): reposition validation message
  packages/react/src/components/TimePicker/TimePicker.js
Labels: status: ready to merge 🎉

#5754 fix(inline-notification): fix headline line-height
  packages/components/docs/sass.md
  packages/components/src/components/notification/_inline-notification.scss
Labels: status: ready to merge 🎉

#5764 docs(drop-container): prevent default browser drag and drop behavior
  packages/react/examples/drag-and-drop-file-uploader/package.json
  packages/react/examples/drag-and-drop-file-uploader/src/index.js
  packages/react/src/components/FileUploader/stories/drop-container.js
Labels: status: ready to merge 🎉, type: docs 📖

#5598 feat(inputs): modify input color based on container background
  packages/components/src/components/tabs/_tabs.scss
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/Tabs/Tabs-story.js
Labels: status: ready to merge 🎉

#5674 feat: pictograms-march-01
  packages/pictograms/categories.yml
  packages/pictograms/master/pictogram-master.ai
  packages/pictograms/pictograms.yml
  packages/pictograms/svg/box-plot.svg
  packages/pictograms/svg/chart--3D.svg
  packages/pictograms/svg/chart--area.svg
  packages/pictograms/svg/chart--bubble.svg
  packages/pictograms/svg/chart--candlestick.svg
  packages/pictograms/svg/chart--error-bar.svg
  packages/pictograms/svg/chart--evaluation.svg
  packages/pictograms/svg/chart--high-low.svg
  packages/pictograms/svg/chart--histogram.svg
  packages/pictograms/svg/chart--multi-line.svg
  packages/pictograms/svg/chart--parallel.svg
  packages/pictograms/svg/chart--radar.svg
  packages/pictograms/svg/chart--river.svg
  packages/pictograms/svg/chart--t-SNE.svg
  packages/pictograms/svg/circle-packing.svg
  packages/pictograms/svg/heat-map--02.svg
  packages/pictograms/svg/math-curve.svg
  packages/pictograms/svg/population-diagram.svg
  packages/pictograms/svg/q-q-plot.svg
  packages/pictograms/svg/relationship-diagram.svg
  packages/pictograms/svg/scatter-matrix.svg
  packages/pictograms/svg/tree--diagram.svg
  packages/pictograms/svg/tree--map.svg
  packages/pictograms/svg/word-cloud.svg
Labels: status: failing CI 🙅‍♂️, status: visual review 🔍

#5752 fix(data-table): update skeleton style for v10
  packages/components/src/components/data-table/_data-table-skeleton.scss
  packages/components/src/components/skeleton/skeleton.hbs
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton-story.js
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton-test.js
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton.js
Labels: status: ready to merge 🎉

#5795 fix(readme) link to lerna does not resolve
  README.md
Labels: status: ready to merge 🎉

#5784 fix(ComboBox): fix lost change in state
  packages/react/src/components/ComboBox/ComboBox.js
Labels: status: ready to merge 🎉

#5773 fix(MultiSelect): correct spacing between checkmark and item text
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: ready to merge 🎉

#5775 fix(tabs): reduce default tab spacing
  packages/components/src/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#5786 fix(tooltip): import layout helpers
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/globals/scss/_tooltip.scss
Labels: status: ready to merge 🎉

#5776 fix(modal): ensure modal renders correctly on mobile safari
  packages/components/src/components/modal/_modal.scss
Labels: status: one more review 👀, status: ready for review 👀

#5798 feat(Loading): support explicit ID
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Loading/Loading.js
Labels: status: ready to merge 🎉

#5772 fix(TimePicker): prevent label length from separating input fields
  packages/components/src/components/time-picker/time-picker--light.hbs
  packages/react/src/components/TimePicker/TimePicker.js
Labels: status: ready to merge 🎉

#5800 fix(FloatingMenu): position calc in scroll element
  packages/react/src/internal/FloatingMenu.js
Labels: status: ready to merge 🎉

#5761 fix(ghost-button): remove ghost button specific styles
  packages/components/src/components/button/_button.scss
Labels: status: ready to merge 🎉

#5793 fix(notification): fix low-contrast close button focus color
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
Labels: status: ready to merge 🎉

#5803 fix(icons-build-helpers): remove will-change: transform from react icons
  packages/icon-build-helpers/src/builders/react/components/Icon.js
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion.Skeleton-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/AccordionItem-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxMenuIcon-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxSelection-test.js.snap
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderMenuButton-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavFooter-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavMenu-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavSwitcher-test.js.snap
Labels: status: ready to merge 🎉

#5813 docs: add NPE check for single file drag and drop upload
  packages/react/examples/drag-and-drop-file-uploader/src/index.js
  packages/react/src/components/FileUploader/stories/drop-container.js
Labels: status: ready to merge 🎉

#5816 fix(modal): prevent overflow indicator from blocking interactive content
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#5794 fix(data-table): fix table with overflow menu bugs
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/overflow-menu/_overflow-menu.scss
Labels: status: visual review 🔍

#5735 feat(list-box): allow multiselect, combobox to open to top
  packages/components/src/components/list-box/_list-box.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox-story.js
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown-story.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/MultiSelect/MultiSelect-story.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: ready to merge 🎉

#5787 fix(accordion): add aria-controls on each accordion item
  packages/react/src/components/Accordion/AccordionItem.js
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/AccordionItem-test.js.snap
  packages/react/src/internal/__tests__/useId-test.js
  packages/react/src/internal/useId.js
Labels: status: ready to merge 🎉

#5820 fix(progress-indicator): apply support-01 to warning icon inner paths
  packages/components/src/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge 🎉

#5810 fix(ListBox): enable drawer animation
  packages/components/src/components/list-box/_list-box.scss
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/ListBox/test-helpers.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: ready to merge 🎉

#5826 fix(TimePickerSelect): deprecate hideLabel to match spec
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TimePicker/TimePicker-story.js
  packages/react/src/components/TimePickerSelect/TimePickerSelect.js
Labels: status: ready to merge 🎉

#5822 feat(DataTable): option to show overflow menu on hover
  packages/components/src/components/data-table/_data-table-core.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/DataTable-story.js
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/Table.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/Table-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBody-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableCell-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandHeader-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableHead-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableHeader-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableRow-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableSelectAll-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
  packages/react/src/components/DataTable/stories/with-overflow-menu.js
Labels: status: ready to merge 🎉

#5844 fix(icons): remove duplicate asset and add check to helpers
  packages/icon-build-helpers/src/metadata/registry.js
  packages/icons/svg/32/composer-edit.svg
Labels: status: ready to merge 🎉

#5847 fix(checkbox): match label spacing in skeleton
  packages/components/src/components/checkbox/_checkbox.scss
Labels: status: ready for review 👀, status: visual review 🔍

#5635 feat(progress-indicator): add spaceEqual prop and functionality to progress step
  packages/components/src/components/progress-indicator/_progress-indicator.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ProgressIndicator/ProgressIndicator-story.js
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: one more review 👀, status: ready for review 👀

#5862 docs(ui-shell): add JSDoc annotations
  packages/components/.gitignore
  packages/components/src/components/ui-shell/header-nav.js
  packages/components/src/components/ui-shell/header-submenu.js
  packages/components/src/components/ui-shell/product-switcher.js
  packages/components/src/components/ui-shell/side-nav.js
Labels: status: ready for review 👀

#5843 fix(progress-indicator): make unclickable step look non-interactive
  packages/components/src/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge 🎉

#5878 docs(OverflowMenu): display storybook prop tables
  packages/react/src/components/OverflowMenu/OverflowMenu-story.js
Labels: status: ready for review 👀

#5872 fix(TableToolbarSearch): fix focus management
  packages/react/src/components/DataTable/TableToolbarSearch.js
Labels: status: ready to merge 🎉

#5881 fix(FloatingMenu): lazy evaluate trigger button position
  packages/react/src/components/OverflowMenu/OverflowMenu.js
  packages/react/src/components/Tooltip/Tooltip-test.js
  packages/react/src/components/Tooltip/Tooltip.js
  packages/react/src/internal/FloatingMenu.js
Labels: status: ready for review 👀

#5854 fix(CodeSnippet): observe resize
  .yarn/offline-mirror/use-resize-observer-6.0.0.tgz
  packages/react/package.json
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  yarn.lock
Labels: status: ready to merge 🎉

#5896 fix(ui-shell): fix padding when fixed side nav is using icons
  packages/components/src/components/ui-shell/_side-nav.scss
Labels: status: ready to merge 🎉

#5914 fix(tabs): revert input background changes
  packages/components/src/components/tabs/_tabs.scss
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/Tabs/Tabs-story.js
Labels: status: ready for review 👀

#5921 fix(progress-indicator): prevent onChange events on disabled items
  packages/components/src/components/progress-indicator/_progress-indicator.scss
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: ready to merge 🎉

#5895 fix(code-snippet): fix copy button background - light variant
  packages/components/src/components/code-snippet/_code-snippet.scss
Labels: status: ready to merge 🎉

#5916 fix(breadcrumb): add reset for `ol`
  packages/components/src/components/breadcrumb/_breadcrumb.scss
Labels: status: ready to merge 🎉

#5909 fix(react): add forward ref to PasswordInput component
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/PasswordInput-test.js
  packages/react/src/components/TextInput/PasswordInput.js
  packages/react/src/components/TextInput/TextInput-story.js
Labels: status: ready to merge 🎉

#5931 fix(toggle-small): only emit onChange on keyUp if it exists
  packages/react/src/components/ToggleSmall/ToggleSmall.js
Labels: status: ready to merge 🎉

#5906 feat(number-input): respect min, max, and step attributes
  packages/components/src/components/number-input/number-input.js
  packages/components/tests/spec/number-input_spec.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#5910 feat(tag): add high-contrast type
  packages/components/src/components/tag/_tag.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tag/Tag.js
Labels: status: visual review 🔍

#5942 docs(ComposedModal): add a mising prop type
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal.js
Labels: status: ready to merge 🎉

#5935 feat(FileUploader): add onDelete hook to standard uploader
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FileUploader/FileUploader-story.js
  packages/react/src/components/FileUploader/FileUploader.js
Labels: status: ready to merge 🎉

#5929 fix(components): fix for RHL
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready for review 👀

#5933 fix(ComposedModal): add null check before querySelector
  packages/react/src/components/ComposedModal/ComposedModal.js
Labels: status: ready to merge 🎉

#5982 fix(Slider): fix slider position based on value min and range
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Slider/Slider.js
Labels: status: one more review 👀, status: ready for review 👀
