Repository carbon-design-system/carbon, pull requests merged in 2020-07, with the labels that each got.

#6368 new contract pictogram in file category
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/contract.svg
Labels: status: one more review 👀, status: ready for review 👀

#6297 fix(inline-dropdown): set min width to prevent shrinkage
  packages/components/src/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#6381 add three new pictograms in multiple categories
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/add--document.svg
  packages/pictograms/src/svg/hills.svg
  packages/pictograms/src/svg/racetrack.svg
Labels: status: ready to merge 🎉

#6377 add new x-ray pictograms to healthcare
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/x-ray--01.svg
  packages/pictograms/src/svg/x-ray--02.svg
Labels: status: ready to merge 🎉

#6353 feat(pictograms): add four new pictograms to education category
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/feedback--02.svg
  packages/pictograms/src/svg/goals.svg
  packages/pictograms/src/svg/growth.svg
  packages/pictograms/src/svg/insights.svg
Labels: status: ready to merge 🎉

#6403 docs(Tabs): return text node in custom label example
  packages/react/src/components/Tabs/Tabs-story.js
Labels: status: ready to merge 🎉

#6414 fix(dropdown): add `list-box` import as dependency
  packages/components/src/components/dropdown/_dropdown.scss
Labels: status: ready to merge 🎉

#6252 feat(text-input): add inline option for TextInput (#5915)
  packages/components/src/components/text-input/_text-input.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready to merge 🎉

#6419 chore(kodiak): fix kodiak config to use squash and merge
  .kodiak.toml
Labels: status: ready for review 👀

#6431 chore(kodiak): fix config file
  .kodiak.toml
Labels: status: ready for review 👀

#6407 feat(pictograms): Updates to Pictograms July 2020
  packages/pictograms/pictograms.yml
Labels: status: ready to merge 🎉

#6378 add new mri pictograms to healthcare
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/mri--patient.svg
  packages/pictograms/src/svg/mri.svg
Labels: status: ready to merge 🎉

#6369 fix(react): update useId to match id on server and client
  packages/react/src/internal/__tests__/useId.server-test.js
  packages/react/src/internal/useId.js
Labels: status: ready to merge 🎉

#6376 feat(pictograms): add pregnancy pictogram to healthcare
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/pregnant.svg
Labels: status: ready to merge 🎉

#6394 fix(form): fix rerender issue with helpertext on safari
  packages/components/src/components/form/_form.scss
Labels: status: ready to merge 🎉

#6365 fix(layout): adjust z-index values
  packages/components/src/globals/scss/_layout.scss
Labels: status: ready to merge 🎉

#6400 docs(Search): clarify label prop requirement
  packages/react/src/components/Search/Search.js
Labels: status: ready to merge 🎉

#6199 feat: add pagination nav component
  packages/components/src/components/pagination-nav/_pagination-nav.scss
  packages/react/src/components/PaginationNav/PaginationNav-story.js
  packages/react/src/components/PaginationNav/PaginationNav-test.js
  packages/react/src/components/PaginationNav/PaginationNav.js
  packages/react/src/components/PaginationNav/index.js
Labels: status: ready to merge 🎉

#6427 fix(react): add prop adapter for downshift changes
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: ready to merge 🎉

#6437 fix(pagination-nav): add data-page attributes
  packages/react/src/components/PaginationNav/PaginationNav.js
Labels: status: ready to merge 🎉

#6440 fix(multiselect): remove aria-selected prop
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: ready to merge 🎉

#6418 fix(react): update downshift to 5.2.1
  .yarn/offline-mirror/@babel-runtime-7.10.4.tgz
  .yarn/offline-mirror/compute-scroll-into-view-1.0.13.tgz
  .yarn/offline-mirror/compute-scroll-into-view-1.0.14.tgz
  .yarn/offline-mirror/downshift-5.0.5.tgz
  .yarn/offline-mirror/downshift-5.2.1.tgz
  packages/react/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#6406 feat(icons): updated UI icons, aliases and friendly names
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#6447 chore(docs): change a word in a sentence from ...managing to manage
  docs/developer-handbook.md
Labels: status: ready to merge 🎉

#6451 fix(tooltip): change default styles
  packages/components/src/components/tooltip/_tooltip.scss
Labels: status: ready to merge 🎉

#6430 docs(data-table): update datatable docs
  .alexrc
  packages/react/src/components/DataTable/README.md
Labels: status: ready to merge 🎉

#6439 feat(icons): 3 new select tool icons
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/icons.yml
  packages/icons/master/ui-icon-master.ai
  packages/icons/src/svg/32/lasso.svg
  packages/icons/src/svg/32/select--01.svg
  packages/icons/src/svg/32/select--02.svg
Labels: status: ready to merge 🎉

#6457 fix(theme-tokens): increase button padding to match spec
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: ready to merge 🎉

#6405 July 2020 icon updates to friendly names and aliases
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#6441 fix(dropdown,multiselect): add support for refs on buttons
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: ready to merge 🎉

#6468 fix(SideNav): a11y fixes for SideNavMenu, MenuItem
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/react/src/components/UIShell/SideNavMenu.js
  packages/react/src/components/UIShell/SideNavMenuItem.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavMenu-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNavMenuItem-test.js.snap
Labels: status: ready to merge 🎉

#6470 fix(button): ensure rem in variable definition level
  packages/components/src/components/button/_mixins.scss
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: ready to merge 🎉

#6483 fix(time-picker): remove extra css reset
  packages/components/src/components/time-picker/_time-picker.scss
Labels: status: ready to merge 🎉

#6442 feat(ContentSwitcher): add support for light variant
  packages/components/docs/sass.md
  packages/components/src/components/content-switcher/_content-switcher.scss
  packages/elements/docs/sass.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ContentSwitcher/ContentSwitcher-story.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.js
  packages/themes/docs/sass.md
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#6401 feat(project): add feature-flags package
  .prettierignore
  .yarn/offline-mirror/@babel-generator-7.10.2.tgz
  .yarn/offline-mirror/@babel-helper-validator-identifier-7.10.1.tgz
  .yarn/offline-mirror/@babel-types-7.10.2.tgz
  .yarn/offline-mirror/at-least-node-1.0.0.tgz
  .yarn/offline-mirror/fs-extra-9.0.1.tgz
  .yarn/offline-mirror/js-yaml-3.14.0.tgz
  .yarn/offline-mirror/jsonfile-6.0.1.tgz
  .yarn/offline-mirror/magic-string-0.25.7.tgz
  .yarn/offline-mirror/rimraf-3.0.2.tgz
  .yarn/offline-mirror/rollup-2.17.0.tgz
  .yarn/offline-mirror/rollup-plugin-strip-banner-2.0.0.tgz
  .yarn/offline-mirror/universalify-1.0.0.tgz
  packages/feature-flags/.gitignore
  packages/feature-flags/.npmignore
  packages/feature-flags/README.md
  packages/feature-flags/__tests__/feature-flags-test.js
  packages/feature-flags/__tests__/scss-test.js
  packages/feature-flags/feature-flags.yml
  packages/feature-flags/package.json
  packages/feature-flags/rollup.config.js
  packages/feature-flags/scss/feature-flags.scss
  packages/feature-flags/src/index.js
  packages/feature-flags/tasks/build.js
  yarn.lock
Labels: status: ready to merge 🎉

#6428 fix(Copy): avoid label text mismatch
  packages/components/src/components/copy-button/_copy-button.scss
  packages/react/src/components/Copy/Copy.js
Labels: status: ready to merge 🎉

#6495 fix(text-area): apply disabled text token to textarea content
  packages/components/src/components/text-area/_text-area.scss
Labels: status: ready to merge 🎉

#6479 fix(dropdown): add ...other prop
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
Labels: status: ready to merge 🎉

#6501 chore(components): update build to exclude feature-flags
  packages/components/tools/copy-vendor-styles.sh
Labels: status: ready to merge 🎉

#5918 feat(text-input): add warn prop
  packages/components/docs/sass.md
  packages/components/src/components/form/_form.scss
  packages/components/src/components/select/_select.scss
  packages/components/src/components/text-input/_text-input.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/components/TextInput/util.js
Labels: status: one more review 👀, status: ready to merge 🎉, status: visual review 🔍

#6494 fix(data-table): correct spacing for radio buttons as table selection
  packages/components/docs/sass.md
  packages/components/src/components/data-table/_data-table-core.scss
Labels: status: ready to merge 🎉

#6486 refactor(project): move config packages to config folder
  config/browserslist-config-carbon/.npmignore
  config/browserslist-config-carbon/README.md
  config/browserslist-config-carbon/index.js
  config/browserslist-config-carbon/package.json
  config/eslint-config-carbon/.npmignore
  config/eslint-config-carbon/base.js
  config/eslint-config-carbon/index.js
  config/eslint-config-carbon/package.json
  config/eslint-config-carbon/plugins/jsdoc.js
  config/eslint-config-carbon/plugins/react.js
  config/eslint-config-carbon/vanilla.js
  config/prettier-config-carbon/.npmignore
  config/prettier-config-carbon/README.md
  config/prettier-config-carbon/index.js
  config/prettier-config-carbon/package.json
  config/stylelint-config-carbon/.npmignore
  config/stylelint-config-carbon/README.md
  config/stylelint-config-carbon/index.js
  config/stylelint-config-carbon/package.json
  config/stylelint-config-carbon/plugins/prettier.js
  config/stylelint-config-carbon/plugins/scss.js
  config/stylelint-config-carbon/rules/limit-language-features.js
  config/stylelint-config-carbon/rules/possible-errors.js
  config/stylelint-config-carbon/rules/stylistic-issues.js
  package.json
Labels: status: ready to merge 🎉

#6458 fix(Tooltip): add focus trap behavior and fix focus management logic
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/Tooltip/Tooltip.js
  packages/react/src/internal/FloatingMenu.js
  packages/react/src/internal/__tests__/wrapFocus-test.js
  packages/react/src/internal/wrapFocus.js
Labels: status: ready to merge 🎉

#6511 fix(inline-notification): restore selector to original scope
  packages/components/src/components/notification/_inline-notification.scss
Labels: status: ready to merge 🎉

#6466 chore(percy): enable percy integration
  .circleci/config.yml
  .yarn/offline-mirror/@percy-react-percy-api-client-0.4.6.tgz
  .yarn/offline-mirror/@percy-storybook-3.3.0.tgz
  .yarn/offline-mirror/bluebird-retry-0.11.0.tgz
  .yarn/offline-mirror/es6-error-4.1.1.tgz
  .yarn/offline-mirror/es6-promise-pool-2.5.0.tgz
  .yarn/offline-mirror/foreachasync-3.0.0.tgz
  .yarn/offline-mirror/jssha-2.4.2.tgz
  .yarn/offline-mirror/mime-db-1.44.0.tgz
  .yarn/offline-mirror/mime-types-2.1.27.tgz
  .yarn/offline-mirror/percy-client-3.8.0.tgz
  .yarn/offline-mirror/puppeteer-1.20.0.tgz
  .yarn/offline-mirror/request-promise-4.2.5.tgz
  .yarn/offline-mirror/slugify-1.4.4.tgz
  .yarn/offline-mirror/walk-2.3.14.tgz
  .yarn/offline-mirror/yargs-7.1.1.tgz
  .yarn/offline-mirror/yargs-parser-5.0.0-security.0.tgz
  packages/react/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#5955 feat(modal): support alertdialog aria role
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Modal/Modal-story.js
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: ready to merge 🎉

#6506 fix(PaginationNav): add pagination-nav to exported components
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#6523 fix(grid): update left and right gutter class names to start and end
  packages/components/docs/sass.md
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/elements/docs/sass.md
  packages/grid/docs/sass.md
  packages/grid/scss/_mixins.scss
Labels: status: ready to merge 🎉

#6520 feat(grid): add narrow grid mode
  packages/components/docs/sass.md
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/elements/docs/sass.md
  packages/grid/docs/sass.md
  packages/grid/examples/preview/src/components/App.js
  packages/grid/examples/preview/styles.scss
  packages/grid/scss/_mixins.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Grid/Grid-story.js
  packages/react/src/components/Grid/Grid-story.scss
  packages/react/src/components/Grid/Grid.js
  packages/react/src/components/Grid/Row.js
Labels: status: ready to merge 🎉

#6294 feat(pictograms): replaced watson--avatar with ibm--watson, and added ibm--cloud
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/deprecated.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/ibm--cloud.svg
  packages/pictograms/src/svg/ibm--watson.svg
  packages/pictograms/src/svg/watson--avatar.svg
Labels: status: ready to merge 🎉

#6524 fix(DataTable): retain active state when sort is active
  packages/components/src/components/data-table/_data-table-sort.scss
Labels: status: ready to merge 🎉

#6504 feat(project): add issue triage workflow and action
  .github/workflows/issue-triage.yml
  actions/add-review-labels/package.json
  actions/issues/ARCHITECTURE.md
  actions/issues/Dockerfile
  actions/issues/action.yml
  actions/issues/package.json
  actions/issues/src/conditions.js
  actions/issues/src/labels.js
  actions/issues/src/plugins/add-issue-response.js
  actions/issues/src/plugins/add-triage-label.js
  actions/issues/src/plugins/index.js
  actions/issues/src/run.js
  lerna.json
Labels: status: ready to merge 🎉

#6553 fix(Pictograms): remove `null` alias for soft ice cream
  packages/pictograms/pictograms.yml
Labels: status: ready to merge 🎉

#6556 chore: improve icon builder validation closes #6555
  packages/icon-build-helpers/src/metadata/extensions/icons.js
  packages/icon-build-helpers/src/metadata/extensions/pictograms.js
  packages/icon-build-helpers/src/metadata/validate.js
  packages/pictograms/pictograms.yml
Labels: status: ready to merge 🎉

#6542 fix: carbon vue icons missing some attrs
  packages/icon-build-helpers/src/builders/vue.js
Labels: status: ready to merge 🎉

#6549 fix(search): change fill to inherit
  packages/components/src/components/search/_search.scss
Labels: status: ready to merge 🎉

#6550 fix(data-table): fix data-table with sorting in ie11
  packages/components/src/components/data-table/_data-table-sort.scss
Labels: status: ready to merge 🎉

#6505 feat(CodeSnippet): allow copy button to be optional
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/components/src/components/code-snippet/_mixins.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet-story.js
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/react/src/components/CodeSnippet/__tests__/CodeSnippet-test.js
Labels: status: ready to merge 🎉

#6533 fix(ErrorStates): allow form items in error status to receive focus
  packages/components/src/components/date-picker/_date-picker.scss
  packages/components/src/components/form/_form.scss
  packages/components/src/components/number-input/_number-input.scss
  packages/components/src/components/select/_select.scss
  packages/components/src/components/text-input/_text-input.scss
  packages/components/src/components/time-picker/_time-picker.scss
  packages/react/src/components/TimePicker/TimePicker.js
Labels: status: ready to merge 🎉

#6546 fix(combo-box): use inherited text input styles
  packages/components/src/components/combo-box/_combo-box.scss
  packages/components/src/components/text-area/_text-area.scss
  packages/components/src/globals/scss/_helper-mixins.scss
Labels: status: ready to merge 🎉

#6569 fix(icon-build-helpers): update react builder to split up entrypoint
  packages/icon-build-helpers/src/builders/react/builder.js
Labels: status: one more review 👀, status: ready for review 👀

#6584 fix(search): design tweaks to search component
  packages/components/src/components/search/_search.scss
  packages/react/src/components/Search/Search-test.js
  packages/react/src/components/Search/Search.js
Labels: status: ready to merge 🎉

#6598 docs(Switch): add explicit disabled prop type
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Switch/Switch.js
Labels: status: ready to merge 🎉, type: docs 📖

#6574 fix(data-table): make persistent search bar keyboard accessible
  packages/react/src/components/DataTable/TableToolbarSearch.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
Labels: status: ready to merge 🎉

#6579 fix(data-table): right align datatable sort icon
  packages/components/src/components/data-table/_data-table-sort.scss
Labels: status: ready to merge 🎉

#6585 fix(Copy): set font-size after reset
  packages/components/src/components/copy-button/_copy-button.scss
Labels: status: ready to merge 🎉

#6568 fix(RadioTile): support arrow key navigation
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/RadioTile/RadioTile.js
Labels: status: ready to merge 🎉
