Repository carbon-design-system/carbon, pull requests merged in 2021-06, with the labels that each got.

#8801 fix(components): import tooltip from progress indicator
  packages/components/src/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge 🎉

#8579 feat(ui-shell): add theming support
  packages/components/src/components/ui-shell/_content.scss
  packages/components/src/components/ui-shell/_header-panel.scss
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_navigation-menu.scss
  packages/components/src/components/ui-shell/_product-switcher.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/components/src/components/ui-shell/_switcher.scss
  packages/components/src/components/ui-shell/_theme.scss
  packages/react/src/components/UIShell/HeaderPanel.js
  packages/react/src/components/UIShell/SideNavDetails.js
  packages/react/src/components/UIShell/SideNavFooter.js
  packages/react/src/components/UIShell/SideNavHeader.js
  packages/react/src/components/UIShell/SideNavSwitcher.js
  packages/react/src/components/UIShell/__tests__/SideNavDetails-test.js
  packages/react/src/components/UIShell/__tests__/SideNavFooter-test.js
  packages/react/src/components/UIShell/__tests__/SideNavHeader-test.js
  packages/react/src/components/UIShell/__tests__/SideNavSwitcher-test.js
Labels: status: ready to merge 🎉

#8810 fix(button): fix icon color on disabled icon only ghost buttons
  packages/components/src/components/button/_button.scss
Labels: status: ready to merge 🎉

#8823 style(DataTable): set correct text-align based on align property
  packages/components/src/components/data-table/_data-table-core.scss
Labels: status: ready to merge 🎉

#8821 style(Modal): ensure modal close click target is not obscured
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#8824 fix(TableToolbarSearch): fix rendering issues with TableToolbarSearch
  packages/components/src/components/data-table/_data-table-action.scss
  packages/react/src/components/DataTable/TableToolbarSearch.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Search/Search.js
Labels: status: one more review 👀, status: ready for review 👀

#8837 fix(readme): fix classname typo in code example
  packages/icons-react/README.md
Labels: status: ready to merge 🎉

#8820 fix(Tooltip): avoid stealing focus when dismissing with mouseclick
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge 🎉

#8797 fix(css-grid): various bugfixes, first docs pass
  packages/carbon-react/.storybook/preview.js
  packages/carbon-react/src/components/Grid/Grid.mdx
  packages/carbon-react/src/components/Grid/Grid.stories.js
  packages/carbon-react/src/components/Grid/Grid.stories.scss
  packages/grid/__tests__/__snapshots__/scss-test.js.snap
  packages/grid/examples/css-grid/.yarn/install-state.gz
  packages/grid/examples/css-grid/src/pages/layouts.js
  packages/grid/examples/css-grid/yarn.lock
  packages/grid/scss/modules/_css-grid.scss
  packages/react/src/components/Grid/Column.js
  packages/react/src/components/Grid/Grid.js
Labels: status: ready to merge 🎉

#8867 chore(release): v10.37.0-rc.0
  config/eslint-config-carbon/package.json
  config/stylelint-config-carbon/package.json
  packages/carbon-react/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/upgrade/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8880 chore(release):v10.37.0
  config/eslint-config-carbon/package.json
  config/stylelint-config-carbon/package.json
  packages/carbon-react/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/upgrade/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8887 fix(radio-button): add reset to radio button group
  packages/components/src/components/radio-button/_radio-button.scss
Labels: status: ready to merge 🎉

#8844 feat(data-table): add data-table to sass modules style package
  docs/migration/11.x-carbon-components.md
  packages/styles/scss/components/__tests__/data-table-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/data-table/_index.scss
  packages/styles/scss/components/data-table/_mixins.scss
  packages/styles/scss/components/data-table/_vars.scss
  packages/styles/scss/components/data-table/action/_data-table-action.scss
  packages/styles/scss/components/data-table/action/_index.scss
  packages/styles/scss/components/data-table/expandable/_data-table-expandable.scss
  packages/styles/scss/components/data-table/expandable/_index.scss
  packages/styles/scss/components/data-table/skeleton/_data-table-skeleton.scss
  packages/styles/scss/components/data-table/skeleton/_index.scss
  packages/styles/scss/components/data-table/sort/_data-table-sort.scss
  packages/styles/scss/components/data-table/sort/_index.scss
Labels: status: ready to merge 🎉

#8910 fix(TooltipDefinition): render `span` in component
  packages/react/src/components/TooltipDefinition/TooltipDefinition.js
  packages/react/src/components/TooltipDefinition/__snapshots__/TooltipDefinition-test.js.snap
Labels: status: ready to merge 🎉

#8912 fix(Search): restore default component size
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Search/Search.js
Labels: status: ready to merge 🎉

#8863 fix(notification): include displayname wrapper to prevent enzyme selector failure
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/Notification/index.js
  packages/react/src/components/OverflowMenu/index.js
  packages/react/src/components/StructuredList/index.js
  packages/react/src/components/Toggle/index.js
  packages/react/src/internal/ComponentToggle.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#8893 fix(DatePicker): avoid aggressive range input clearing
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#8930 chore(release): v10.37.1
  packages/carbon-react/package.json
  packages/react/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8898 fix(StructuredList): add role attribute to StructuredListRow
  packages/react/src/components/StructuredList/StructuredList.js
Labels: status: ready to merge 🎉

#8889 fix(overflow-menu): add reset to button
  packages/components/src/components/overflow-menu/_overflow-menu.scss
Labels: status: ready to merge 🎉

#8806 feat(text-input): add readonly variant
  packages/components/src/components/text-input/_text-input.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/TextInput/PasswordInput.js
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/components/TextInput/util.js
  packages/react/src/internal/useNormalizedInputProps.js
Labels: status: ready to merge 🎉

#8894 fix(DatePicker): maintain focus on DatePicker after input is cleared
  packages/react/src/components/DatePicker/DatePicker-story.js
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#8918 fix(InlineLoading): add iconDescription to error and finished SVGs
  packages/react/src/components/InlineLoading/InlineLoading.js
Labels: status: ready to merge 🎉

#8922 feat(menu): add Menu to @carbon/styles
  packages/styles/scss/components/__tests__/menu-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/menu/_index.scss
  packages/styles/scss/components/menu/_menu.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#8949 fix(text-input): align "readOnly" prop capitalization
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/internal/useNormalizedInputProps.js
Labels: status: ready to merge 🎉

#8923 feat(modal): add Modal to @carbon/styles
  packages/styles/scss/components/__tests__/modal-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/modal/_index.scss
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#8914 fix(Select): specify disabled option text color
  packages/components/src/components/select/_select.scss
Labels: status: ready to merge 🎉

#8971 feat(styles): add component token support for Sass Migration effort
  packages/styles/scss/components/notification/_index.scss
  packages/styles/scss/components/notification/_tokens.scss
  packages/styles/scss/utilities/_component-tokens.scss
  packages/themes/scss/modules/_theme.scss
Labels: status: ready to merge 🎉

#8895 feat(date-picker): move styles to sass modules
  packages/carbon-react/src/components/DatePicker/DatePicker.stories.js
  packages/carbon-react/src/components/DatePicker/index.js
  packages/styles/scss/components/__tests__/date-picker-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/date-picker/_date-picker.scss
  packages/styles/scss/components/date-picker/_flatpickr.scss
  packages/styles/scss/components/date-picker/_index.scss
  packages/styles/scss/utilities/_placeholder-colors.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#8952 feat(jest-config-carbon): update transform ignore, add watch plugins
  .yarn/cache/@jest-console-npm-27.0.2-3f0dc49490-71b812a49c.zip
  .yarn/cache/@jest-test-result-npm-27.0.2-4add172036-2522808ff4.zip
  .yarn/cache/@types-stack-utils-npm-2.0.0-8ded8461bc-b3fbae25b0.zip
  .yarn/cache/ansi-escapes-npm-4.3.0-d4160cc8d6-e847b98db7.zip
  .yarn/cache/ansi-escapes-npm-4.3.2-3ad173702f-93111c4218.zip
  .yarn/cache/jest-message-util-npm-27.0.2-b37b426cca-b3c3733ec5.zip
  .yarn/cache/jest-regex-util-npm-27.0.1-d1632ee0e1-b9a73d4dc0.zip
  .yarn/cache/jest-util-npm-27.0.2-543ecb60f0-8751d6d97f.zip
  .yarn/cache/jest-watch-typeahead-npm-0.6.4-d0de96de8d-15a42b0593.zip
  .yarn/cache/jest-watcher-npm-27.0.2-55e546b64d-4d3ee72f74.zip
  .yarn/cache/stack-utils-npm-2.0.2-2ae6e16cf5-e767be7ec6.zip
  .yarn/cache/stack-utils-npm-2.0.3-e255395afd-c86ac08f58.zip
  .yarn/cache/type-fest-npm-0.21.3-5ff2a9c6fd-e6b32a3b38.zip
  config/jest-config-carbon/index.js
  config/jest-config-carbon/package.json
  jest.config.js
  jest.e2e.config.js
  package.json
  packages/components/tests/es-test.js
  yarn.lock
Labels: status: ready to merge 🎉

#8991 fix(carbon-react): update storybook to use mini-css plugin
  packages/carbon-react/.gitignore
  packages/carbon-react/.storybook/main.js
Labels: status: ready to merge 🎉

#8935 feat(number-input): refactor with testing
  packages/carbon-react/src/components/NumberInput/NumberInput.stories.js
  packages/carbon-react/src/components/NumberInput/index.js
  packages/styles/scss/components/__tests__/number-input-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/number-input/_index.scss
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#8990 chore(release): v10.38.0-rc.0
  config/eslint-config-carbon/package.json
  config/jest-config-carbon/package.json
  config/stylelint-config-carbon/package.json
  packages/carbon-react/package.json
  packages/cli-reporter/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#9002 docs(Tooltip): remove test stories
  packages/react/src/components/Tooltip/Tooltip-story.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#8945 fix(FileUploaderDropContainer): avoid nested interactive controls
  config/jest-config-carbon/package.json
  packages/react/src/components/FileUploader/FileUploaderDropContainer.js
  packages/react/src/components/FileUploader/__tests__/FileUploaderDropContainer-test.js
  yarn.lock
Labels: status: ready to merge 🎉

#8920 feat(file-uploader): add FileUploader to @carbon/styles
  packages/carbon-react/src/components/FileUploader/FileUploader-story.scss
  packages/carbon-react/src/components/FileUploader/FileUploader.mdx
  packages/carbon-react/src/components/FileUploader/FileUploader.stories.js
  packages/carbon-react/src/components/FileUploader/index.js
  packages/carbon-react/src/components/FileUploader/stories/drop-container.js
  packages/styles/scss/components/__tests__/file-uploader.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/file-uploader/_file-uploader.scss
  packages/styles/scss/components/file-uploader/_index.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#8946 fix(slider): ensure thumb position updates when min or max change
  packages/react/src/components/Slider/Slider.js
Labels: status: ready to merge 🎉

#8933 fix(radio-button): add position rule to button group wrapper
  packages/components/src/components/radio-button/_radio-button.scss
Labels: status: ready to merge 🎉

#8958 chore(test): add baseline e2e tests and percy snapshots
  packages/react/src/components/AspectRatio/__tests__/AspectRatio-test.e2e.js
  packages/react/src/components/Breadcrumb/__tests__/Breadcrumb-test.e2e.js
  packages/react/src/components/Button/Button-test.e2e.js
  packages/react/src/components/ButtonSet/ButtonSet-test.e2e.js
  packages/react/src/components/Modal/Modal-test.e2e.js
Labels: status: ready to merge 🎉

#8862 feat(ContentSwitcher): add ContentSwitcher to @carbon/styles
  packages/carbon-react/src/components/ContentSwitcher/ContentSwitcher.stories.js
  packages/carbon-react/src/components/ContentSwitcher/index.js
  packages/styles/scss/components/__tests__/content-switcher-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/code-snippet/_code-snippet.scss
  packages/styles/scss/components/content-switcher/_content-switcher.scss
  packages/styles/scss/components/content-switcher/_index.scss
Labels: status: ready to merge 🎉

#8979 ci: add test job to ci workflow
  .github/workflows/ci.yml
Labels: status: ready to merge 🎉

#9012 fix(themes): add conditional to fallback guard
  packages/themes/__tests__/mixins-test.js
  packages/themes/tasks/builders/mixins.js
Labels: status: ready to merge 🎉

#9009 docs(carbon-react): update stories to use correct export
  packages/carbon-react/src/components/Grid/Grid.stories.js
Labels: status: ready to merge 🎉

#9010 fix(sass): update styles for number input and overflow
  packages/styles/scss/components/number-input/_number-input.scss
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
Labels: status: ready to merge 🎉

#9028 chore(release): v10.38.0
  config/eslint-config-carbon/package.json
  config/jest-config-carbon/package.json
  config/stylelint-config-carbon/package.json
  packages/carbon-react/package.json
  packages/cli-reporter/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8988 feat(text-input): storybook and carbon/styles
  packages/carbon-react/src/components/TextInput/TextInput.mdx
  packages/carbon-react/src/components/TextInput/TextInput.stories.js
  packages/carbon-react/src/components/TextInput/index.js
  packages/styles/scss/components/__tests__/text-input-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/text-input/_index.scss
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉

#8980 feat(Radiobutton): sass module refactor
  packages/carbon-react/src/components/Radio-button/Radio-button.stories.js
  packages/carbon-react/src/components/Radio-button/index.js
  packages/styles/scss/components/__tests__/radio-button-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/radio-button/_index.scss
  packages/styles/scss/components/radio-button/_radio-button.scss
Labels: status: ready to merge 🎉

#8942 feat(colors): add hover colors to `@carbon/colors`
  packages/colors/__tests__/__snapshots__/colors-test.js.snap
  packages/colors/__tests__/__snapshots__/modules-test.js.snap
  packages/colors/__tests__/colors-test.js
  packages/colors/examples/preview/index.html
  packages/colors/examples/preview/src/components/App.js
  packages/colors/examples/preview/styles.scss
  packages/colors/package.json
  packages/colors/src/colors.js
  packages/colors/tasks/build.js
  packages/styles/scss/__tests__/__snapshots__/colors-test.js.snap
  yarn.lock
Labels: status: ready to merge 🎉, status: visual review 🔍

#9026 feat(Toggle): refactor Toggle to use sass modules
  packages/carbon-react/src/components/Toggle/Toggle.stories.js
  packages/carbon-react/src/components/Toggle/index.js
  packages/styles/scss/components/__tests__/toggle-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/toggle/_index.scss
  packages/styles/scss/components/toggle/_toggle.scss
Labels: status: ready to merge 🎉

#9021 style(StructuredList): update text color token
  packages/components/src/components/structured-list/_structured-list.scss
Labels: status: ready to merge 🎉

#8967 feat(search): sass module refactor
  packages/carbon-react/src/components/Search/Search.stories.js
  packages/carbon-react/src/components/Search/index.js
  packages/styles/scss/components/__tests__/search-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/search/_index.scss
  packages/styles/scss/components/search/_search.scss
  packages/styles/scss/utilities/_placeholder-colors.scss
Labels: status: ready to merge 🎉

#9025 fix(tile): add link color contrast
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/Tile/Tile-story.js
Labels: status: ready to merge 🎉

#8994 feat(themes): add values for v11 tokens
  .prettierignore
  packages/themes/examples/preview-v11/.gitignore
  packages/themes/examples/preview-v11/next.config.js
  packages/themes/examples/preview-v11/package.json
  packages/themes/examples/preview-v11/src/pages/_app.js
  packages/themes/examples/preview-v11/src/pages/index.js
  packages/themes/examples/preview-v11/src/scss/styles.scss
  packages/themes/examples/preview-v11/yarn.lock
  packages/themes/examples/preview/index.js
  packages/themes/examples/sass-modules/src/pages/index.js
  packages/themes/examples/sass-modules/src/styles.scss
  packages/themes/src/next/__tests__/themes-test.js
  packages/themes/src/next/g10.js
  packages/themes/src/next/g100.js
  packages/themes/src/next/g90.js
  packages/themes/src/next/index.js
  packages/themes/src/next/tokens/TokenFormat.js
  packages/themes/src/next/tokens/index.js
  packages/themes/src/next/tokens/v11TokenGroup.js
  packages/themes/src/next/white.js
Labels: status: ready to merge 🎉, status: visual review 🔍

#8982 feat(Tooltip): sass module refactor
  packages/carbon-react/src/components/Tooltip/Tooltip.stories.js
  packages/carbon-react/src/components/Tooltip/index.js
  packages/styles/scss/components/__tests__/tooltip-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/tooltip/_index.scss
  packages/styles/scss/components/tooltip/_tooltip.scss
Labels: status: ready to merge 🎉

#8953 feat(sass-modules): adds Pagination and Select styles and stories
  packages/carbon-react/src/components/Pagination/Pagination.stories.js
  packages/carbon-react/src/components/Pagination/index.js
  packages/carbon-react/src/components/Select/Select.stories.js
  packages/carbon-react/src/components/Select/index.js
  packages/styles/scss/components/__tests__/pagination-test.js
  packages/styles/scss/components/__tests__/select-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/pagination/_index.scss
  packages/styles/scss/components/pagination/_pagination.scss
  packages/styles/scss/components/select/_index.scss
  packages/styles/scss/components/select/_select.scss
Labels: status: ready to merge 🎉

#9037 feat(TextArea): refactor TextArea to sass modules
  packages/carbon-react/src/components/TextArea/TextArea.stories.js
  packages/carbon-react/src/components/TextArea/index.js
  packages/styles/scss/components/__tests__/text-area-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/text-area/_index.scss
  packages/styles/scss/components/text-area/_text-area.scss
Labels: status: ready to merge 🎉

#9030 feat(InlineLoading): refactor InlineLoading to sass module
  packages/carbon-react/src/components/InlineLoading/InlineLoading.stories.js
  packages/carbon-react/src/components/InlineLoading/index.js
  packages/styles/scss/components/__tests__/inline-loading-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/inline-loading/_index.scss
  packages/styles/scss/components/inline-loading/_inline-loading.scss
  packages/styles/scss/components/inline-loading/_keyframes.scss
Labels: status: ready to merge 🎉

#9004 8905 notification refactor inline toast
  packages/carbon-react/src/components/Notification/Notification.stories.js
  packages/carbon-react/src/components/Notification/index.js
  packages/styles/scss/components/__tests__/inline-notification-test.js
  packages/styles/scss/components/__tests__/toast-notification-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/notification/_index.scss
  packages/styles/scss/components/notification/_inline-notification.scss
  packages/styles/scss/components/notification/_mixins.scss
  packages/styles/scss/components/notification/_toast-notification.scss
Labels: component: notification, package: styles, status: ready to merge 🎉

#9064 Revert "feat(Components): update color tokens (1/2) (#8425)"
  packages/components/src/components/accordion/_accordion.scss
  packages/components/src/components/breadcrumb/_breadcrumb.scss
  packages/components/src/components/button/_button.scss
  packages/components/src/components/button/_mixins.scss
  packages/components/src/components/checkbox/_checkbox.scss
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/components/src/components/code-snippet/_mixins.scss
  packages/components/src/components/combo-box/_combo-box.scss
Labels: status: ready to merge 🎉

#9061 feat(TimePicker): sass module refactor
  packages/carbon-react/src/components/TimePicker/TimePicker.stories.js
  packages/carbon-react/src/components/TimePicker/index.js
  packages/styles/scss/components/__tests__/time-picker-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/time-picker/_index.scss
  packages/styles/scss/components/time-picker/_time-picker.scss
Labels: status: ready to merge 🎉

#9077 feat(eslint): add eslint-plugin-jest
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.28.1-ab919abf02-34a0dd8230.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.28.1-0a34d48066-cd310444e9.zip
  .yarn/cache/@typescript-eslint-types-npm-4.28.1-8b00316102-0f4d9530bc.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.28.1-0862162765-2d95532d38.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.28.1-989a9be6ea-00564a793e.zip
  .yarn/cache/eslint-plugin-jest-npm-24.3.6-8f4cddc7a2-233e6055b1.zip
  .yarn/cache/eslint-utils-npm-3.0.0-630b3a4013-0668fe02f5.zip
  .yarn/cache/tslib-npm-1.10.0-9261539b46-1d0450dc6f.zip
  .yarn/cache/tslib-npm-1.14.1-102499115e-dbe628ef87.zip
  .yarn/cache/tsutils-npm-3.21.0-347e6636c5-1843f4c1b2.zip
  config/eslint-config-carbon/internal.js
  config/eslint-config-carbon/package.json
  config/eslint-config-carbon/plugins/jest.js
  package.json
  packages/feature-flags/__tests__/scss-test.js
  packages/icon-build-helpers/src/builders/react/components/__tests__/Icon-test.js
  packages/react/src/components/Accordion/__tests__/Accordion-test.js
  packages/react/src/components/Button/Button-test.js
  packages/react/src/components/Checkbox/Checkbox-test.js
  packages/react/src/components/CodeSnippet/__tests__/CodeSnippet-test.js
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher-test.js
  packages/react/src/components/Copy/Copy-test.js
  packages/react/src/components/CopyButton/CopyButton-test.js
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/FluidForm/FluidForm-test.js
  packages/react/src/components/Form/Form-test.js
  packages/react/src/components/InlineLoading/InlineLoading-test.js
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/NumberInput/NumberInput-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-test.js
  packages/react/src/components/Search/Search-test.js
  packages/react/src/components/Select/Select-test.js
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Switch/Switch-test.js
  packages/react/src/components/Tab/Tab-test.js
  packages/react/src/components/Tag/Tag-test.js
  packages/react/src/components/TextArea/TextArea-test.js
  packages/react/src/components/TextInput/PasswordInput-test.js
  packages/react/src/components/TextInput/TextInput-test.js
  packages/react/src/components/TileGroup/TileGroup-test.js
  packages/react/src/components/TimePicker/TimePicker-test.js
  packages/react/src/components/Toolbar/Toolbar-test.js
  packages/react/src/internal/__tests__/ClickListener-test.js
  packages/react/src/internal/__tests__/wrapFocus-test.js
  packages/styles/__tests__/styles-test.js
  packages/themes/__tests__/mixins-test.js
  yarn.lock
Labels: status: ready to merge 🎉
