Repository carbon-design-system/carbon, pull requests merged in 2021-04, with the labels that each got.

#8099 fix(context-menu): prevent immediate closing in Safari
  packages/react/src/components/ContextMenu/ContextMenu.js
Labels: status: ready to merge 🎉

#8218 style(Tile): update disabled ClickableTile
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/Tile/Tile-story.js
Labels: status: ready to merge 🎉

#8123 style(NumberInput): allow NumberInput to fill its parent container
  packages/components/src/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#8159 fix(ClickableTile): ensure links are correct color when link has been visited
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/Tile/Tile-story.js
Labels: status: ready to merge 🎉

#8212 fix(data-table): remove inline edit short table styles
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-inline-edit.scss
  packages/react/src/components/DataTable/stories/shared.js
Labels: status: ready for review 👀, status: ready to merge 🎉, status: visual review 🔍

#8222 fix(Button): add danger variant assistive text
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
Labels: status: ready to merge 🎉

#8241 feat(theme): add new color tokens
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#8181 feat(CodeSnippet): set min number of rows
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet-story.js
  packages/react/src/components/CodeSnippet/CodeSnippet.js
Labels: status: ready to merge 🎉

#8120 fix(Tile): fix scroll issues in safari
  packages/components/src/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#8134 style(Treeview): set min height,width on Treeview icon
  packages/components/src/components/treeview/_treeview.scss
Labels: status: ready to merge 🎉

#8227 fix(TooltipDefinition): support child nodes
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TooltipIcon/TooltipIcon.js
Labels: status: needs signature :memo:, status: ready to merge 🎉

#8268 style(TextInput): add specificity to inline selectors
  packages/components/src/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉

#8255 fix(FileUploader): replace <strong> with <p> in exported component
  packages/react/examples/drag-and-drop-file-uploader/src/index.js
  packages/react/src/components/FileUploader/FileUploader.js
  packages/react/src/components/FileUploader/stories/drop-container.js
Labels: status: needs signature :memo:, status: ready to merge 🎉

#8276 feat(react): add FeatureFlags component for contextual feature flags
  packages/feature-flags/src/FeatureFlagScope.js
  packages/feature-flags/src/__tests__/feature-flags-test.js
  packages/feature-flags/src/index.js
  packages/react/src/components/FeatureFlags/__tests__/FeatureFlags-test.js
  packages/react/src/components/FeatureFlags/index.js
Labels: status: ready to merge 🎉

#8189 feat(icon-build-helpers): add module-info extension and next react builder
  .yarn/cache/@babel-generator-npm-7.12.15-bebcd32537-243c7c8987.zip
  .yarn/cache/@babel-generator-npm-7.13.9-fd99b9df46-d9cf7db910.zip
  .yarn/cache/@babel-types-npm-7.12.13-5917a8d71f-b6bb1356a7.zip
  .yarn/cache/@babel-types-npm-7.13.14-2ecc61348b-0dda1e7740.zip
  .yarn/cache/svg-parser-npm-2.0.3-ce469e2375-9dc3738230.zip
  .yarn/cache/svg-parser-npm-2.0.4-1b0b6afbe9-507b0ea204.zip
  packages/icon-build-helpers/package.json
  packages/icon-build-helpers/src/builders/index.js
  packages/icon-build-helpers/src/builders/react/components/Icon.js
  packages/icon-build-helpers/src/builders/react/next.js
  packages/icon-build-helpers/src/builders/react/next/babel.js
  packages/icon-build-helpers/src/builders/react/next/convert.js
  packages/icon-build-helpers/src/builders/react/next/templates.js
  packages/icon-build-helpers/src/metadata/extensions/index.js
  packages/icon-build-helpers/src/metadata/extensions/module-info.js
  packages/icon-build-helpers/src/metadata/index.js
  packages/icons-react/.gitignore
  packages/icons-react/examples/storybook/.yarnrc.yml
  packages/icons-react/examples/storybook/package.json
  packages/icons-react/examples/storybook/stories/index.stories.js
  packages/icons-react/examples/storybook/yarn.lock
  packages/icons-react/package.json
  packages/icons-react/tasks/build.js
  packages/icons/tasks/build.js
  yarn.lock
Labels: status: ready to merge 🎉

#8259 fix(date-picker): remove redundant date picker border radius
  packages/components/src/components/date-picker/_flatpickr.scss
Labels: status: ready for review 👀, status: ready to merge 🎉, status: visual review 🔍, type: question ❓

#8298 feat(feature-flags): add enable-2021-release flag
  packages/components/src/globals/scss/_feature-flags.scss
  packages/feature-flags/feature-flags.yml
Labels: status: ready to merge 🎉

#8258 fix(Tile): update outline-offset
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/Tile/Tile.js
Labels: status: ready to merge 🎉

#8242 docs(CodeSnippet): Update snippet docs
  packages/react/src/components/CodeSnippet/CodeSnippet-story.js
Labels: status: ready to merge 🎉

#8270 fix(breadcrumb): reduce height of overflow menu trigger
  packages/components/src/components/breadcrumb/_breadcrumb.scss
Labels: status: ready to merge 🎉

#8297 fix(Tag): pass disabled state to tag button
  packages/react/src/components/Tag/Tag.js
Labels: status: ready to merge 🎉

#8295 fix(data-table): add table scope to form control overrides
  packages/components/src/components/data-table/_data-table-core.scss
  packages/react/src/components/DataTable/stories/shared.js
Labels: status: ready for review 👀, status: ready to merge 🎉, status: visual review 🔍

#8304 fix(date-picker): reduce gap between range inputs
  packages/components/.stylelintignore
  packages/components/src/components/date-picker/_date-picker.scss
  packages/components/src/components/date-picker/_flatpickr.scss
Labels: status: ready to merge 🎉

#8332 feat(grid): add 3x2 aspect ratio
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/grid/scss/_mixins.scss
Labels: status: ready to merge 🎉

#8334 fix(tokens): update g10 highlight
  packages/themes/src/g10.js
Labels: status: ready to merge 🎉

#8341 docs: fix minor typo
  packages/themes/README.md
Labels: status: ready to merge 🎉

#8313 fix(ComboBox): highlight selected item based on item id if present
  packages/react/src/components/ComboBox/ComboBox.js
Labels: status: ready to merge 🎉

#8335 feat(checkbox): update checkbox props with feature flag support
  packages/react/src/components/Checkbox/Checkbox-story.js
  packages/react/src/components/Checkbox/Checkbox.js
Labels: status: ready to merge 🎉

#8346 fix(breakpoint): update in between breakpoint
  packages/layout/scss/_breakpoint.scss
Labels: status: ready to merge 🎉

#8101 feat(search): add support for expandable variant
  packages/components/src/components/data-table/_data-table-action.scss
  packages/components/src/components/search/_search.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/ExpandableSearch/ExpandableSearch.js
  packages/react/src/components/ExpandableSearch/index.js
  packages/react/src/components/Search/Search-story.js
  packages/react/src/components/Search/Search.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#8343 fix(tabs): override browser focus styles in tab content container
  packages/components/src/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#8320 fix(Modal): adjust modal grid columns
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#8353 Update icons.yml
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#8279 fix(SelectableTile): sync selected prop and state
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#8352 fix(Tokens): rename layerAlt to layerAccent
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#8362 fix(Notification): attach timeout prop to toast notification
  packages/react/src/components/Notification/Notification-story.js
  packages/react/src/components/Notification/Notification.js
Labels: status: ready to merge 🎉

#8350 feat(Tokens): restrict new tokens behind feature flag
  packages/components/src/globals/scss/_feature-flags.scss
  packages/components/src/globals/scss/_theme-tokens.scss
  packages/components/src/globals/scss/styles.scss
Labels: status: ready to merge 🎉

#8269 feat(tokens): new token update pt. 1
  packages/components/src/components/content-switcher/_content-switcher.scss
  packages/components/src/components/context-menu/_context-menu.scss
  packages/components/src/components/copy-button/_copy-button.scss
  packages/components/src/components/data-table/_data-table-action.scss
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/components/src/components/data-table/_data-table-inline-edit-cell.scss
  packages/components/src/components/data-table/_data-table-inline-edit.scss
  packages/components/src/components/data-table/_data-table-skeleton.scss
  packages/components/src/components/data-table/_data-table-sort.scss
  packages/components/src/components/date-picker/_date-picker.scss
  packages/components/src/components/dropdown/_dropdown.scss
  packages/react/src/components/DataTable/stories/expansion/DataTable-expansion-story.scss
  packages/themes/src/tokens.js
Labels: status: ready to merge 🎉

#8326 feat(Tokens): update color tokens pt. 2
  packages/components/src/components/file-uploader/_file-uploader.scss
  packages/components/src/components/form/_form.scss
  packages/components/src/components/inline-loading/_inline-loading.scss
  packages/components/src/components/link/_link.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/list/_list.scss
  packages/components/src/components/loading/_loading.scss
  packages/components/src/components/modal/_modal.scss
  packages/components/src/components/multi-select/_multi-select.scss
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/components/src/components/notification/_tokens.scss
  packages/components/src/components/number-input/_number-input.scss
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: ready to merge 🎉

#8160 feat(React): updates to size prop
  packages/components/src/components/accordion/_accordion.scss
  packages/components/src/components/content-switcher/_content-switcher.scss
  packages/components/src/components/date-picker/_date-picker.scss
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/number-input/_number-input.scss
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/components/src/components/select/_select.scss
  packages/components/src/components/text-input/_text-input.scss
  packages/components/src/components/time-picker/_time-picker.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Accordion/Accordion-story.js
  packages/react/src/components/Accordion/Accordion.js
  packages/react/src/components/ComboBox/ComboBox-story.js
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/ComposedModal/ComposedModal-story.js
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher-story.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.js
  packages/react/src/components/DatePicker/DatePicker-story.js
  packages/react/src/components/DatePickerInput/DatePickerInput.js
  packages/react/src/components/Dropdown/Dropdown-story.js
  packages/react/src/components/Dropdown/Dropdown.Skeleton.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Link/Link-story.js
  packages/react/src/components/Link/Link.js
  packages/react/src/components/ListBox/ListBox.js
  packages/react/src/components/ListBox/ListBoxPropTypes.js
  packages/react/src/components/Modal/Modal-story.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect-story.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/NumberInput/NumberInput-story.js
  packages/react/src/components/NumberInput/NumberInput.js
  packages/react/src/components/OverflowMenu/OverflowMenu-story.js
  packages/react/src/components/OverflowMenu/OverflowMenu.js
  packages/react/src/components/Select/Select-story.js
  packages/react/src/components/Select/Select.js
  packages/react/src/components/Tag/Tag-story.js
  packages/react/src/components/Tag/Tag.js
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/components/TimePicker/TimePicker-story.js
  packages/react/src/components/TimePicker/TimePicker.js
  packages/react/src/components/Toggle/Toggle-story.js
  packages/react/src/components/Toggle/Toggle.js
Labels: status: ready to merge 🎉

#8396 docs(layout): add migration guide for layout tokens
  docs/migration/11.x-layout.md
Labels: status: ready to merge 🎉

#8399 Update icons.yml
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#8394 fix(text-input): correct padding when in warning state
  packages/components/src/components/text-input/_text-input.scss
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready to merge 🎉

#8401 fix(IconButton): prevent click event when tooltip is clicked
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button-story.js
  packages/react/src/components/Button/Button.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  packages/react/src/components/TooltipIcon/TooltipIcon-story.js
  packages/react/src/components/TooltipIcon/TooltipIcon.js
  packages/react/src/components/TooltipIcon/__snapshots__/TooltipIcon-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
Labels: status: ready to merge 🎉

#8417 fix(react): update structured list exports
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/StructuredList/index.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#8416 feat(react): add FeatureFlags to entrypoint
  packages/feature-flags/package.json
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#8345 feat(Pagination): enable seperate disable controls for page size, page
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Pagination/Pagination-story.js
  packages/react/src/components/Pagination/Pagination.js
Labels: status: ready to merge 🎉

#8363 fix(PasswordInput): support custom labels in controlled input
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/ControlledPasswordInput.js
Labels: status: ready to merge 🎉

#8361 feat(link): add support for icon with standalone links
  packages/components/src/components/link/_link.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Link/Link-story.js
  packages/react/src/components/Link/Link.js
Labels: status: ready to merge 🎉

#8411 feat(grid): add css-grid support to components behind a feature flag
  packages/feature-flags/feature-flags.yml
  packages/grid/scss/modules/_css-grid.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Grid/Column.js
  packages/react/src/components/Grid/Grid-story.js
  packages/react/src/components/Grid/Grid-story.scss
  packages/react/src/components/Grid/Grid.js
Labels: status: ready to merge 🎉

#8424 chore(release): v10.33.0
  config/storybook-preset-carbon/package.json
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8381 fix(radio-button): top-align wrapping labels
  packages/components/src/components/radio-button/_radio-button.scss
Labels: status: ready to merge 🎉, status: visual review 🔍

#8283 fix(RadioButtonGroup): clones RadioButton
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.js
Labels: component: radio-button, status: ready to merge 🎉

#8443 fix(react): update CodeSnippet html from code > pre to pre > code
  packages/react/src/components/CodeSnippet/CodeSnippet.js
Labels: status: ready to merge 🎉

#8438 docs(on-windows-high-contrast-support.md): removes docs
  docs/on-windows-hcm-support.md
Labels: status: ready to merge 🎉

#8442 fix(CodeSnippet): right-align overflow indicator if no copy button
  packages/components/src/components/code-snippet/_code-snippet.scss
Labels: status: ready to merge 🎉

#8444 chore(sass-loader): only use sass-loader in prod or with flag
  .yarn/cache/cli-source-preview-npm-1.1.0-0a7655f66d-1abbe5383c.zip
  .yarn/cache/fast-sass-loader-npm-1.5.0-f83ec63742-73ac3bba48.zip
  config/storybook-preset-carbon/index.js
  config/storybook-preset-carbon/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8435 fix(expandable-search): limit search width when collapsed
  packages/components/src/components/search/_search.scss
Labels: status: ready to merge 🎉

#8434 fix(modal): set pagination background color within modals
  packages/components/src/components/modal/_modal.scss
  packages/react/src/components/Modal/Modal-story.js
Labels: status: ready to merge 🎉

#8383 fix(button): remove dependency on tooltip component classes
  packages/components/src/components/button/_button.scss
  packages/react/src/components/Button/Button.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
Labels: status: ready to merge 🎉

#8440 fix(colors): initialize color vars with default values
  packages/colors/__tests__/scss-test.js
  packages/colors/tasks/build.js
Labels: status: ready to merge 🎉

#8452 feat(DataTable): update size prop, add md size
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/components/src/components/data-table/_data-table-sort.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/DataTable-story.js
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/Table.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/stories/expansion/DataTable-expansion-story.js
Labels: status: ready to merge 🎉

#8459 feat(button): update Button size prop
  packages/components/src/components/button/_button.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button-story.js
  packages/react/src/components/Button/Button-test.js
  packages/react/src/components/Button/Button.js
Labels: status: ready to merge 🎉

#8366 feat(PasswordInput): support `warn` and `inline` props
  packages/components/src/components/text-input/_text-input.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/PasswordInput.js
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready to merge 🎉

#8376 feat(tokens): update color tokens pt3
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/components/src/components/tag/_tag.scss
  packages/components/src/components/text-area/_text-area.scss
  packages/components/src/components/text-input/_text-input.scss
  packages/components/src/components/tile/_tile.scss
  packages/components/src/components/time-picker/_time-picker.scss
  packages/components/src/components/toggle/_toggle.scss
  packages/components/src/components/toolbar/_toolbar.scss
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/components/treeview/_treeview.scss
  packages/components/src/components/ui-shell/_content.scss
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/components/src/globals/scss/_css--body.scss
  packages/components/src/globals/scss/_css--helpers.scss
  packages/components/src/globals/scss/_helper-mixins.scss
  packages/components/src/globals/scss/_theme-tokens.scss
  packages/components/src/globals/scss/_tooltip.scss
  packages/react/src/components/SkeletonPlaceholder/SkeletonPlaceholder-story.js
  packages/react/src/components/SkeletonText/SkeletonText-story.js
Labels: status: ready to merge 🎉

#8437 fix: update chevron animations
  packages/components/src/components/accordion/_accordion.scss
  packages/components/src/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#8470 fix(icons-react): add next folder to npm files
  packages/icons-react/package.json
Labels: status: ready to merge 🎉

#8474 feat(Search): update search size prop
  packages/components/src/components/search/_search.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FeatureFlags/index.js
  packages/react/src/components/Search/Search-story.js
  packages/react/src/components/Search/Search.js
Labels: status: ready to merge 🎉

#8473 feat(carbon-react): add icons and style entrypoints
  packages/carbon-react/icons/index.js
  packages/carbon-react/icons/package.json
  packages/carbon-react/package.json
  packages/carbon-react/rollup.config.js
  packages/carbon-react/tasks/build.js
  yarn.lock
Labels: status: ready to merge 🎉

#8243 fix(NumberInput): pass down event change value
  packages/react/src/components/NumberInput/NumberInput-test.js
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge 🎉

#8425 feat(Components): update color tokens (1/2)
  packages/components/src/components/accordion/_accordion.scss
  packages/components/src/components/breadcrumb/_breadcrumb.scss
  packages/components/src/components/button/_button.scss
  packages/components/src/components/button/_mixins.scss
  packages/components/src/components/checkbox/_checkbox.scss
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/components/src/components/code-snippet/_mixins.scss
  packages/components/src/components/combo-box/_combo-box.scss
Labels: status: ready to merge 🎉

#8307 docs(style): add initial testing style guide
  docs/style.md
Labels: status: ready to merge 🎉

#8498 feat(pictograms): add pictogram batch for April 2021
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/ai--ethics.svg
  packages/pictograms/src/svg/ai--explainability.svg
  packages/pictograms/src/svg/ai--privacy.svg
  packages/pictograms/src/svg/ai--robustness.svg
  packages/pictograms/src/svg/ai--transparency.svg
  packages/pictograms/src/svg/ai--trust.svg
  packages/pictograms/src/svg/argentina--obelisk.svg
  packages/pictograms/src/svg/badge.svg
  packages/pictograms/src/svg/broom.svg
  packages/pictograms/src/svg/chile--easter-island.svg
  packages/pictograms/src/svg/chile--hand-of-the-desert.svg
  packages/pictograms/src/svg/cloud-pak--for-network-automation.svg
  packages/pictograms/src/svg/colombia--cathedral-of-las-lajas.svg
  packages/pictograms/src/svg/compost--bin.svg
  packages/pictograms/src/svg/ecuador--quito.svg
  packages/pictograms/src/svg/fairness.svg
  packages/pictograms/src/svg/hong-kong--cityscape.svg
  packages/pictograms/src/svg/hong-kong.svg
  packages/pictograms/src/svg/india--south-asia.svg
  packages/pictograms/src/svg/invoice.svg
  packages/pictograms/src/svg/luggage.svg
  packages/pictograms/src/svg/peru--machu-picchu.svg
  packages/pictograms/src/svg/qr-code.svg
  packages/pictograms/src/svg/recycle--bin.svg
  packages/pictograms/src/svg/secure--search.svg
  packages/pictograms/src/svg/select--product.svg
  packages/pictograms/src/svg/taipei--bubble-tea.svg
  packages/pictograms/src/svg/temporary-badge.svg
  packages/pictograms/src/svg/uruguay--palacio-salvo.svg
  packages/pictograms/src/svg/venezuela--national-pantheon-of-venezuela.svg
Labels: status: ready to merge 🎉

#8427 feat(Components): add new color tokens (2/2)
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/components/src/components/pagination-nav/_pagination-nav.scss
  packages/components/src/components/pagination/_pagination.scss
  packages/components/src/components/pagination/_unstable_pagination.scss
  packages/components/src/components/popover/_popover.scss
  packages/components/src/components/progress-indicator/_progress-indicator.scss
  packages/components/src/components/radio-button/_radio-button.scss
  packages/components/src/components/search/_search.scss
  packages/components/src/components/select/_select.scss
  packages/components/src/components/slider/_slider.scss
  packages/components/src/components/structured-list/_structured-list.scss
  packages/components/src/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#8478 feat(Themes): add in G80 theme
  config/storybook-preset-carbon/carbon-theme-addon/src/components/Panel.js
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/.storybook/styles.scss
  packages/themes/src/g80.js
  packages/themes/src/index.js
Labels: status: ready to merge 🎉

#8486 fix(modal): improve modal transition performance
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#8514 fix(toggle): update disabled toggle tokens
  packages/components/src/components/toggle/_toggle.scss
Labels: status: ready to merge 🎉

#8468 feat(UIShell): custom icons in header menu button
  packages/react/src/components/UIShell/HeaderMenuButton.js
Labels: status: ready to merge 🎉

#8296 feat(SideNav): add onOverlayClick handler
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/UIShell-story.js
Labels: status: ready to merge 🎉

#8515 refactor(react): update DatePickerInput to use one icons-react import
  packages/react/src/components/DatePickerInput/DatePickerInput.js
Labels: status: ready to merge 🎉

#8344 style(selectable-tile): use checkbox icon instead of round checkmark
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/Tile/Tile.js
Labels: status: ready to merge 🎉

#8531 feat(react): add useNoInteractiveChildren hook
  packages/react/src/internal/__tests__/useNoInteractiveChildren-test.js
  packages/react/src/internal/useNoInteractiveChildren.js
Labels: status: ready to merge 🎉

#8519 fix(icon-builder-helpers): use default size of 16 for icons
  packages/icon-build-helpers/src/builders/react/next.js
Labels: status: ready to merge 🎉

#8548 chore(release): v10.34.0
  config/storybook-preset-carbon/package.json
  config/stylelint-config-carbon/package.json
  packages/carbon-react/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  packages/upgrade/package.json
  yarn.lock
Labels: status: ready to merge 🎉
