Repository carbon-design-system/carbon, pull requests merged in 2021-07, with the labels that each got.

#9076 feat(pagination-nav): sass module refactor
  packages/carbon-react/src/components/PaginationNav/PaginationNav.stories.js
  packages/carbon-react/src/components/PaginationNav/index.js
  packages/styles/scss/components/__tests__/pagination-nav-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/pagination-nav/_index.scss
  packages/styles/scss/components/pagination-nav/_mixins.scss
  packages/styles/scss/components/pagination-nav/_pagination-nav.scss
Labels: status: one more review 👀, status: ready for review 👀

#9065 Revert "feat(Components): add new color tokens (2/2) (#8427)"
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/components/src/components/pagination-nav/_pagination-nav.scss
  packages/components/src/components/pagination/_pagination.scss
  packages/components/src/components/pagination/_unstable_pagination.scss
  packages/components/src/components/popover/_popover.scss
  packages/components/src/components/progress-indicator/_progress-indicator.scss
  packages/components/src/components/radio-button/_radio-button.scss
  packages/components/src/components/search/_search.scss
  packages/components/src/components/select/_select.scss
  packages/components/src/components/slider/_slider.scss
  packages/components/src/components/structured-list/_structured-list.scss
  packages/components/src/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#9091 fix(carbon-react): update export to exclude PasswordInput
  packages/carbon-react/src/components/TextInput/index.js
Labels: status: one more review 👀, status: ready for review 👀

#9040 feat(button-skeleton): add size prop to ButtonSkeleton
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button-story.js
  packages/react/src/components/Button/Button-test.js
  packages/react/src/components/Button/Button.Skeleton.js
Labels: status: ready to merge 🎉

#8992 feat(number-input): match readonly variant
  packages/components/src/components/number-input/_number-input.scss
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge 🎉

#9067 Revert "feat(tokens): update color tokens pt3 (#8376)"
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/components/src/components/tag/_tag.scss
  packages/components/src/components/text-area/_text-area.scss
  packages/components/src/components/text-input/_text-input.scss
  packages/components/src/components/tile/_tile.scss
  packages/components/src/components/time-picker/_time-picker.scss
  packages/components/src/components/toggle/_toggle.scss
  packages/components/src/components/toolbar/_toolbar.scss
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/components/treeview/_treeview.scss
  packages/components/src/components/ui-shell/_content.scss
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/components/src/globals/scss/_css--body.scss
  packages/components/src/globals/scss/_css--helpers.scss
  packages/components/src/globals/scss/_helper-mixins.scss
  packages/components/src/globals/scss/_theme-tokens.scss
  packages/components/src/globals/scss/_tooltip.scss
  packages/react/src/components/SkeletonPlaceholder/SkeletonPlaceholder-story.js
  packages/react/src/components/SkeletonText/SkeletonText-story.js
Labels: status: ready to merge 🎉

#8981 feat(slider): sass refactor, added story
  packages/carbon-react/src/components/Slider/Slider.mdx
  packages/carbon-react/src/components/Slider/Slider.stories.js
  packages/carbon-react/src/components/Slider/index.js
  packages/styles/scss/components/__tests__/slider-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/slider/_index.scss
  packages/styles/scss/components/slider/_slider.scss
Labels: status: ready to merge 🎉

#9006 feat(useDisclosure): adds useDisclosure hook and test
  packages/react/src/components/Disclosure/__tests__/useDisclosure-test.js
  packages/react/src/components/Disclosure/index.js
Labels: status: ready to merge 🎉

#9102 fix(breakpoint): fixing calculation to have +/- 0.02 outside of map-get
  packages/layout/scss/_breakpoint.scss
Labels: status: ready to merge 🎉

#9090 fix(jest): update AC matcher to defer initialization
  config/jest-config-carbon/matchers/toHaveNoACViolations.js
Labels: status: ready to merge 🎉

#9103 feat(eslint): add eslint-testing-library-plugin; add config
  config/eslint-config-carbon/plugins/testing-library.js
Labels: status: ready to merge 🎉

#9081 fix(icons): update glyph only pipeline process
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icon-build-helpers/src/metadata/extensions/icons.js
  packages/icon-build-helpers/src/metadata/extensions/output/index.js
  packages/icon-build-helpers/src/registry.js
  packages/icons/examples/preview/index.js
Labels: status: ready to merge 🎉

#9109 fix(tree-view): fix description typo in onSelect prop
  packages/react/src/components/TreeView/TreeView.js
Labels: status: ready to merge 🎉

#9066 Revert "feat(Tokens): update color tokens pt. 2 (#8326)"
  packages/components/src/components/file-uploader/_file-uploader.scss
  packages/components/src/components/form/_form.scss
  packages/components/src/components/inline-loading/_inline-loading.scss
  packages/components/src/components/link/_link.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/list/_list.scss
  packages/components/src/components/loading/_loading.scss
  packages/components/src/components/modal/_modal.scss
  packages/components/src/components/multi-select/_multi-select.scss
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/components/src/components/notification/_tokens.scss
  packages/components/src/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#9033 fix(StructuredList): fix feature-flag function usage
  packages/components/src/components/structured-list/_structured-list.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
Labels: status: ready to merge 🎉

#9127 chore(release): v10.39.0-rc.0
  config/eslint-config-carbon/package.json
  config/jest-config-carbon/package.json
  packages/carbon-react/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  packages/upgrade/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#9092 feat(tabs): story and styles sass refactor
  packages/carbon-react/src/components/Tabs/Tabs.stories.js
  packages/carbon-react/src/components/Tabs/index.js
  packages/styles/scss/components/__tests__/tabs-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/tabs/_index.scss
  packages/styles/scss/components/tabs/_tabs.scss
  packages/styles/scss/components/tabs/_vars.scss
Labels: status: ready to merge 🎉

#9104 fix(react): update radio button group state initialization
  config/jest-config-carbon/setup/setupAfterEnv.js
  packages/react/src/components/Accordion/__tests__/Accordion-test.js
  packages/react/src/components/Button/Button-test.js
  packages/react/src/components/Checkbox/Checkbox-test.js
  packages/react/src/components/Link/Link-test.js
  packages/react/src/components/Notification/next/Notification-test.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-test.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.js
  packages/react/src/components/TabContent/TabContent-test.js
Labels: status: ready to merge 🎉

#9121 fix(NumberInput): allow value to be outside min/max, show validation
  packages/react/src/components/NumberInput/NumberInput-test.js
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: one more review 👀

#9107 fix(components): add missing g80 theme notification layer tokens #9106
  packages/components/src/components/notification/_tokens.scss
Labels: status: ready to merge 🎉

#9074 feat(FormGroup): support `id` on `fieldset legend`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FormGroup/FormGroup-story.js
  packages/react/src/components/FormGroup/FormGroup.js
Labels: status: ready to merge 🎉

#9120 feat(FilterableMultiselect): add direction prop
  packages/components/src/components/list-box/_list-box.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
Labels: status: ready to merge 🎉

#9116 fix(data-table): deprecate shouldShowBorder prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/Table.js
Labels: status: ready to merge 🎉

#9136 feat(ComboBox): add ability to forward ref
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox.js
Labels: status: ready to merge 🎉

#9122 feat(icons): update glyph icon names
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/deprecated.yml
  packages/icons/icons.yml
  packages/icons/src/svg/caution-inverted.svg
  packages/icons/src/svg/caution.svg
  packages/icons/src/svg/circle-fill.svg
  packages/icons/src/svg/circle-stroke.svg
  packages/icons/src/svg/critical.svg
  packages/icons/src/svg/incomplete.svg
  packages/icons/src/svg/square-fill.svg
  packages/icons/src/svg/undefined.svg
Labels: status: ready to merge 🎉

#9119 chore(styles): add experimental Treeview to global styles
  packages/components/src/globals/scss/styles.scss
Labels: status: ready to merge 🎉

#9139 fix(HeaderMenu): spread extra props into root element
  packages/react/src/components/UIShell/HeaderMenu.js
  packages/react/src/components/UIShell/__tests__/HeaderMenu-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
Labels: status: ready to merge 🎉

#9140 docs(Tooltip): add floating menu reference
  packages/react/src/components/OverflowMenu/OverflowMenu.mdx
  packages/react/src/components/Tooltip/Tooltip.mdx
Labels: status: ready to merge 🎉

#9054 feat(Tile): sass module refactor
  packages/carbon-react/src/components/RadioButton/RadioButton.stories.js
  packages/carbon-react/src/components/RadioButton/index.js
  packages/carbon-react/src/components/Tile/Tile.stories.js
  packages/carbon-react/src/components/Tile/index.js
  packages/carbon-react/src/components/Tile/tile-story.scss
  packages/styles/scss/components/__tests__/tile-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/tile/_index.scss
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#9154 fix(Storybook): move margin to wrapper
  packages/react/src/components/FormGroup/FormGroup-story.js
Labels: status: ready to merge 🎉

#9141 refactor(treeview): use flex properties over explicit dimensions
  packages/components/src/components/treeview/_treeview.scss
Labels: status: ready to merge 🎉

#9138 fix(select): use non transparent inline select background
  packages/components/src/components/select/_select.scss
Labels: status: one more review 👀, status: visual review 🔍

#9188 fix(Storybook): improve filtered search text contrast
  packages/carbon-react/.storybook/manager-head.html
  packages/react/.storybook/manager-head.html
Labels: status: ready to merge 🎉

#9167 docs(toggle): add v11 migration guidance
  .all-contributorsrc
  README.md
  packages/react/src/components/Toggle/migrate-to-11.x.md
Labels: status: ready to merge 🎉

#9128 feat(themes): update module builders for new design tokens
  .prettierignore
  .yarn/cache/@babel-node-npm-7.14.7-f4ca01e24f-04d665fdcf.zip
  .yarn/cache/@babel-register-npm-7.13.16-c9089f2afd-a2a4622292.zip
  .yarn/cache/@babel-register-npm-7.14.5-5144ce6f7c-5fab2384f5.zip
  .yarn/cache/core-js-npm-3.12.0-86ddce2306-d66e368bd7.zip
  .yarn/cache/core-js-npm-3.15.2-6825052e10-f8f61569c4.zip
  .yarn/cache/node-environment-flags-npm-1.0.6-019b553a56-268139ed0f.zip
  .yarn/cache/v8flags-npm-3.1.3-bfb62a4728-ba7fc706f1.zip
  .yarn/cache/v8flags-npm-3.2.0-28770d6a95-193db08aa3.zip
  packages/carbon-react/.storybook/styles.scss
  packages/carbon-react/docs/sass.md
  packages/carbon-react/scss/components/_button.scss
  packages/styles/scss/__tests__/theme-test.js
  packages/styles/scss/_theme.scss
  packages/styles/scss/components/__tests__/button-test.js
  packages/styles/scss/components/button/_button.scss
  packages/styles/scss/components/button/_index.scss
  packages/styles/scss/components/button/_mixins.scss
  packages/styles/scss/components/button/_tokens.scss
  packages/styles/scss/components/file-uploader/_file-uploader.scss
  packages/styles/scss/components/menu/_menu.scss
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
  packages/styles/scss/components/tabs/_tabs.scss
  packages/styles/scss/components/tile/_tile.scss
  packages/styles/scss/components/toggle/_toggle.scss
  packages/styles/scss/components/tooltip/_tooltip.scss
  packages/styles/scss/utilities/_custom-property.scss
  packages/themes/__tests__/module-test.js
  packages/themes/docs/sass.md
  packages/themes/index.scss
  packages/themes/package.json
  packages/themes/scss/modules/_config.scss
  packages/themes/scss/modules/_theme.scss
  packages/themes/tasks/builders/modules-themes.js
  packages/themes/tasks/builders/modules-tokens.js
  yarn.lock
Labels: status: ready to merge 🎉

#8829 fix(menu): render through portal to avoid z-index and overflow issues
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Menu/Menu-test.js
  packages/react/src/components/Menu/Menu.js
  packages/react/src/components/OverflowMenu/next/OverflowMenu.js
Labels: status: ready to merge 🎉

#9193 fix(ListBox): fix selected hover style regression
  packages/components/src/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#9206 fix(TextInput): use disabled token
  packages/components/src/components/text-input/_text-input.scss
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉

#9200 feat(DatePickerInput): add helperText support
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker-story.js
  packages/react/src/components/DatePickerInput/DatePickerInput.js
Labels: status: ready to merge 🎉

#9207 docs(styles): add sass.md docs and README docs
  packages/cli/src/commands/sync/readme.js
  packages/styles/README.md
  packages/styles/docs/sass.md
  packages/themes/docs/sass.md
Labels: status: ready to merge 🎉

#9195 feat(UIShell): add UI shell sass module
  packages/carbon-react/.storybook/Welcome/Welcome.stories.js
  packages/carbon-react/.storybook/Welcome/welcome.scss
  packages/carbon-react/src/components/UIShell/UIShell.stories.js
  packages/carbon-react/src/components/UIShell/index.js
  packages/styles/scss/components/__tests__/ui-shell-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/ui-shell/_functions.scss
  packages/styles/scss/components/ui-shell/_index.scss
  packages/styles/scss/components/ui-shell/_mixins.scss
  packages/styles/scss/components/ui-shell/_ui-shell.scss
  packages/styles/scss/components/ui-shell/content/_content.scss
  packages/styles/scss/components/ui-shell/content/_index.scss
  packages/styles/scss/components/ui-shell/header-panel/_header-panel.scss
  packages/styles/scss/components/ui-shell/header-panel/_index.scss
  packages/styles/scss/components/ui-shell/header/_header.scss
  packages/styles/scss/components/ui-shell/header/_index.scss
  packages/styles/scss/components/ui-shell/side-nav/_index.scss
  packages/styles/scss/components/ui-shell/side-nav/_side-nav.scss
  packages/styles/scss/components/ui-shell/switcher/_index.scss
  packages/styles/scss/components/ui-shell/switcher/_switcher.scss
Labels: status: ready to merge 🎉

#9227 docs(styles): add high level grid docs to style package
  packages/styles/docs/sass.md
Labels: status: ready to merge 🎉

#9236 feat(carbon-react): add Layer component
  config/jest-config-carbon/index.js
  packages/carbon-react/.storybook/preview.js
  packages/carbon-react/src/components/Layer/Layer-story.scss
  packages/carbon-react/src/components/Layer/Layer-test.js
  packages/carbon-react/src/components/Layer/Layer.mdx
  packages/carbon-react/src/components/Layer/Layer.stories.js
  packages/carbon-react/src/components/Layer/index.js
  packages/styles/scss/__tests__/theme-test.js
  packages/styles/scss/_theme.scss
Labels: status: ready to merge 🎉

#9201 feat(react): add `Theme` component, `useTheme` hook
  packages/carbon-react/src/components/Theme/Theme-story.scss
  packages/carbon-react/src/components/Theme/Theme.mdx
  packages/carbon-react/src/components/Theme/Theme.stories.js
  packages/carbon-react/src/components/Theme/__tests__/Theme-test.js
  packages/carbon-react/src/components/Theme/index.js
  packages/carbon-react/src/index.js
  packages/styles/scss/_zone.scss
Labels: status: ready to merge 🎉

#9254 chore(release): v10.40.0
  config/jest-config-carbon/package.json
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#9189 fix(breadcrumb): account for menu direction in breadcrumb overflow caret
  packages/components/src/components/breadcrumb/_breadcrumb.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Breadcrumb/BreadcrumbItem.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/internal/ComponentToggle.js
Labels: status: ready to merge 🎉

#9246 Add grid migration docs
  docs/migration/11.x-grid.md
  packages/react/docs/migration/migrate-to-8.x.md
  packages/react/src/components/Grid/migrate-to-8.x.md
Labels: status: ready for review 👀

#9131 feat(Tag): add Tag to @carbon/styles
  packages/carbon-react/.storybook/styles.scss
  packages/carbon-react/scss/components/_tag.scss
  packages/carbon-react/src/components/Tag/Tag.stories.js
  packages/carbon-react/src/components/Tag/index.js
  packages/styles/scss/components/__tests__/tag-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/tag/_index.scss
  packages/styles/scss/components/tag/_mixins.scss
  packages/styles/scss/components/tag/_tag.scss
  packages/styles/scss/components/tag/_tokens.scss
Labels: status: ready to merge 🎉

#9008 feat(project): add flat exports for namespaced components
  packages/react/__tests__/PublicAPI-test.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/docs/migration/11.x-namespaced-exports.md
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/FilterableMultiSelect/index.js
  packages/react/src/components/MultiSelect/MultiSelect-story.js
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/react/src/components/MultiSelect/index.js
  packages/react/src/components/PasswordInput/index.js
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/index.js
  packages/react/src/index.js
  packages/react/src/internal/__mocks__/deprecateFieldOnObject.js
  packages/react/src/internal/deprecateFieldOnObject.js
Labels: status: ready to merge 🎉

#9204 chore(feature-flags): run output through babel
  .yarn/cache/@rollup-plugin-node-resolve-npm-13.0.0-c6322a1c60-c0237e65f5.zip
  packages/feature-flags/package.json
  packages/feature-flags/rollup.config.js
  yarn.lock
Labels: status: ready to merge 🎉

#9205 feat(ListBox): add combobox, dropdown, multiselect stories
  packages/carbon-react/.storybook/Welcome/welcome.scss
  packages/carbon-react/src/components/ComboBox/ComboBox.stories.js
  packages/carbon-react/src/components/ComboBox/index.js
  packages/carbon-react/src/components/Dropdown/Dropdown.stories.js
  packages/carbon-react/src/components/Dropdown/index.js
  packages/carbon-react/src/components/MultiSelect/MultiSelect.stories.js
  packages/carbon-react/src/components/MultiSelect/index.js
  packages/styles/scss/components/__tests__/combo-box-test.js
  packages/styles/scss/components/__tests__/dropdown-test.js
  packages/styles/scss/components/__tests__/list-box-test.js
  packages/styles/scss/components/__tests__/multiselect-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/combo-box/_combo-box.scss
  packages/styles/scss/components/combo-box/_index.scss
  packages/styles/scss/components/dropdown/_dropdown.scss
  packages/styles/scss/components/dropdown/_index.scss
  packages/styles/scss/components/list-box/_index.scss
  packages/styles/scss/components/list-box/_list-box.scss
  packages/styles/scss/components/multiselect/_index.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
Labels: status: ready to merge 🎉

#9323 feat(ListBox): update listbox components to new tokens
  packages/styles/scss/components/combo-box/_combo-box.scss
  packages/styles/scss/components/list-box/_list-box.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
Labels: status: ready for review 👀

#9328 fix(multiselect): field-02 background color when placed inside modal
  packages/components/src/components/modal/_modal.scss
  packages/react/src/components/Modal/Modal-story.js
Labels: status: ready to merge 🎉

#9346 hot-fix(pagination): fix style bug
  packages/components/src/components/select/_select.scss
Labels: status: ready to merge 🎉

#9352 chore(release): v10.40.1
  packages/carbon-react/package.json
  packages/components/package.json
  packages/react/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#9321 fix(styles): remove hardcoded prefixes
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/number-input/_number-input.scss
  packages/components/src/components/progress-indicator/_progress-indicator.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/list-box/_list-box.scss
  packages/styles/scss/components/number-input/_number-input.scss
  packages/styles/scss/components/progress-indicator/_progress-indicator.scss
  packages/styles/scss/components/ui-shell/header/_header.scss
  packages/styles/scss/components/ui-shell/side-nav/_side-nav.scss
Labels: status: ready to merge 🎉

#9354 Revert "chore(release): v10.40.1"
  packages/carbon-react/package.json
  packages/components/package.json
  packages/react/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#9148 feat(ProgressBar): add to @carbon/styles
  packages/carbon-react/src/components/ProgressBar/ProgressBar.stories.js
  packages/carbon-react/src/components/ProgressBar/index.js
  packages/styles/scss/components/__tests__/progress-bar-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/progress-bar/_index.scss
  packages/styles/scss/components/progress-bar/_progress-bar.scss
Labels: status: ready to merge 🎉

#9202 docs(grid): correct import paths, remove controls warning
  packages/carbon-react/src/components/Grid/Grid.mdx
  packages/carbon-react/src/components/Grid/Grid.stories.js
Labels: status: ready to merge 🎉

#9242 refactor(data-table): remove unused style block
  packages/components/src/components/data-table/_data-table-core.scss
Labels: status: ready to merge 🎉

#9363 Update 11.x-color.md
  docs/migration/11.x-color.md
Labels: status: ready to merge 🎉

#8941 update react-router example to v6
  packages/react/examples/react-router/package.json
  packages/react/examples/react-router/src/App.js
  packages/react/examples/react-router/yarn.lock
Labels: status: ready to merge 🎉

#9259 fix(react): do not submit request when close button is focused
  packages/react/src/components/Modal/Modal.js
Labels: status: ready to merge 🎉

#9350 feat(Plex): add plex package to @carbon/styles
  packages/carbon-react/.storybook/styles.scss
  packages/carbon-react/.storybook/theme.js
  packages/carbon-react/index.scss
  packages/carbon-react/package.json
  packages/carbon-react/src/components/Grid/Grid.stories.scss
  packages/styles/index.scss
  packages/styles/package.json
  packages/styles/scss/__tests__/__snapshots__/config-test.js.snap
  packages/styles/scss/_config.scss
  packages/styles/scss/_font-face.scss
  yarn.lock
Labels: status: ready to merge 🎉

#9255 docs(migration): add components migration docs
  docs/migration/11.x-carbon-components.md
  docs/migration/v11.x.md
Labels: status: ready to merge 🎉

#9329 fix: left align text in sortable header
  packages/components/src/components/data-table/_data-table-sort.scss
Labels: status: ready to merge 🎉

#9339 docs(grid): update elements example, grid pkg readme
  packages/grid/README.md
  packages/grid/examples/css-grid/.yarn/install-state.gz
  packages/grid/examples/css-grid/package.json
  packages/grid/examples/css-grid/src/pages/index.js
  packages/grid/examples/css-grid/src/pages/layouts.js
  packages/grid/examples/css-grid/src/scss/_reset.scss
  packages/grid/examples/css-grid/src/styles.scss
  packages/grid/examples/css-grid/yarn.lock
  packages/grid/examples/preview/.yarn/install-state.gz
  tasks/examples.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#9361 fix(grid): condensed gutter should be 1px
  packages/grid/scss/modules/_css-grid.scss
Labels: status: ready to merge 🎉

#9226 fix(BreadcrumbItem): remove href check for children of type string
  packages/react/src/components/Breadcrumb/Breadcrumb-story.js
  packages/react/src/components/Breadcrumb/BreadcrumbItem.js
Labels: status: ready to merge 🎉
