Repository carbon-design-system/carbon, pull requests merged in 2021-11, with the labels that each got.

#9983 style(NumberInput): updated tokens
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: one more review 👀

#9990 fix(RadioButton): updated tokens
  packages/styles/scss/components/radio-button/_radio-button.scss
Labels: status: one more review 👀

#9957 style(tree-view): update color tokens
  packages/styles/scss/components/treeview/_treeview.scss
Labels: status: one more review 👀, status: visual review 🔍

#10008 style(tile): token updates
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#9995 fix(menu): add support for target prop; accept className; spread rest
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Menu/Menu.js
Labels: status: ready to merge 🎉

#9963 fix(OverflowMenu): remove handlers from icon props
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#10035 feat(tabs): make auto-width the default behind v11 flag
  packages/components/src/components/tabs/_tabs.scss
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#10039 chore(icons): update friendly names for UI icons
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#9965 refactor(popover): update styles and add new story
  packages/carbon-react/__tests__/index-test.js
  packages/carbon-react/src/components/Popover/Popover.stories.js
  packages/carbon-react/src/components/Popover/index.js
  packages/carbon-react/src/components/Popover/story.scss
  packages/carbon-react/src/index.js
  packages/components/src/components/popover/_popover.scss
  packages/components/src/globals/scss/styles.scss
  packages/react/.storybook/styles.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Popover/__tests__/Popover-test.js
  packages/react/src/components/Popover/index.js
  packages/react/src/components/Popover/next/Popover.stories.js
  packages/react/src/components/Popover/next/story.scss
  packages/react/src/index.js
  packages/styles/scss/components/popover/_popover.scss
Labels: status: ready to merge 🎉

#10034 fix(tabs): move onScroll to proper container
  packages/react/src/components/Tabs/Tabs.js
  packages/react/src/components/Tabs/next/ContainedTabs.js
  packages/react/src/components/Tabs/next/Tabs.js
Labels: status: ready to merge 🎉

#10042 chore(icons): update categories for icons for the app catalogue section
  packages/icons/categories.yml
Labels: status: ready to merge 🎉

#9959 fix(Tooltip): remove click stopPropagation
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge 🎉

#9994 fix(react): adjust bx--actions-list in data table to use display grid instead of position absolute
  packages/components/src/components/data-table/_data-table-action.scss
  packages/react/src/components/DataTable/TableBatchActions.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
Labels: status: ready to merge 🎉

#10048 fix(components): add outline-offset to radio button focus styles
  packages/components/src/components/radio-button/_radio-button.scss
  packages/styles/scss/components/radio-button/_radio-button.scss
Labels: status: one more review 👀, status: visual review 🔍

#10043 fix(components): update number input styles for focus and hover
  packages/components/src/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#9873 fix(TextInput): link helper text to input in default state
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/internal/useNormalizedInputProps.js
Labels: status: ready to merge 🎉, component: text-input

#10003 fix(ComposedModal): Address several problems with selectorsFloatingMenus prop on ComposedModal
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/internal/wrapFocus.js
Labels: status: ready to merge 🎉

#9731 feat(carbon-react): remove label from default props
  packages/react/src/components/OverflowMenu/OverflowMenu.js
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem.js
Labels: status: ready to merge 🎉

#10059 fix(Toggle): disabled color tokens
  packages/components/src/components/toggle/_toggle.scss
Labels: status: ready to merge 🎉

#10067 fix(styles): update popover styles to exclude pointer events
  packages/styles/scss/components/popover/_popover.scss
Labels: status: ready to merge 🎉

#9997 refactor(react): update Tooltip to latest
  packages/carbon-react/__tests__/index-test.js
  packages/carbon-react/src/components/Tooltip/Tooltip.stories.js
  packages/carbon-react/src/components/Tooltip/index.js
  packages/carbon-react/src/index.js
  packages/components/src/components/tooltip/_tooltip.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Popover/__tests__/Popover-test.js
  packages/react/src/components/Popover/index.js
  packages/react/src/components/Popover/next/story.scss
  packages/react/src/components/Tooltip/next/Tooltip-story.js
  packages/react/src/components/Tooltip/next/Tooltip.stories.js
  packages/react/src/components/Tooltip/next/__tests__/Tooltip-test.js
  packages/react/src/components/Tooltip/next/index.js
  packages/react/src/components/Tooltip/next/story.scss
  packages/react/src/index.js
  packages/styles/scss/components/popover/_popover.scss
  packages/styles/scss/components/tooltip/_tooltip.scss
Labels: status: ready to merge 🎉

#10106 fix(styles): import z-index into overflow-menu in @carbon/styles
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
Labels: status: ready to merge 🎉

#10041 fix(OverflowMenu): changed filename for story
  packages/react/src/components/OverflowMenu/next/OverflowMenu.js
  packages/react/src/components/OverflowMenu/next/OverflowMenu.stories.js
Labels: status: ready to merge 🎉

#10046 feat(react): refactor Modal and ModalFooter to functional components
  packages/react/src/components/ComposedModal/index.js
  packages/react/src/components/ComposedModal/next/ComposedModal.js
  packages/react/src/components/ComposedModal/next/ComposedModal.stories.js
  packages/react/src/components/ComposedModal/next/ModalFooter-test.js
  packages/react/src/components/ComposedModal/next/ModalFooter.js
  packages/react/src/components/ComposedModal/next/ModalHeader.js
  packages/react/src/components/Modal/index.js
  packages/react/src/components/Modal/next/Modal-test.js
  packages/react/src/components/Modal/next/Modal.js
  packages/react/src/components/Modal/next/Modal.stories.js
  packages/react/src/components/ModalWrapper/ModalWrapper-test.js
Labels: status: ready to merge 🎉

#10123 feat(carbon-react): add stack re-export
  packages/carbon-react/scss/components/stack/_index.scss
  packages/carbon-react/tasks/build-styles.js
Labels: status: ready to merge 🎉

#10128 fix(carbon-react): add entrypoint to side-effects array
  packages/carbon-react/package.json
Labels: status: ready to merge 🎉

#10082 refactor(react): update pagination component to functional component
  packages/carbon-react/src/components/Pagination/Pagination.stories.js
  packages/react/src/components/Pagination/index.js
  packages/react/src/components/Pagination/next/Pagination.js
  packages/react/src/components/Pagination/next/Pagination.stories.js
  packages/react/src/components/Pagination/next/__tests__/Pagination-test.js
  packages/react/src/components/Pagination/next/index.js
  packages/react/src/internal/useId.js
Labels: status: ready to merge 🎉

#10108 fix(TextInput): only add aria-describedby when there's helper to link to
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready to merge 🎉

#10141 chore(icons): update icon alias metadata
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#10129 fix(button): correct secondary button token color
  packages/styles/scss/components/button/_tokens.scss
Labels: status: ready to merge 🎉

#10140 refactor(popover): update <div> to <span>
  packages/react/src/components/Popover/__tests__/Popover-test.e2e.js
  packages/react/src/components/Popover/index.js
Labels: status: ready to merge 🎉

#10133 docs(components): update link for codesandbox to use main
  packages/components/README.md
Labels: status: ready to merge 🎉

#10095 feat(react): add unstable_IconButton
  packages/carbon-react/__tests__/index-test.js
  packages/carbon-react/src/index.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Button/Button.js
  packages/react/src/components/IconButton/__tests__/IconButton-test.js
  packages/react/src/components/IconButton/index.js
  packages/react/src/components/IconButton/next/IconButton.stories.js
  packages/react/src/components/Tooltip/next/index.js
  packages/react/src/index.js
  packages/styles/scss/components/button/_button.scss
  packages/styles/scss/components/popover/_popover.scss
  packages/styles/scss/components/tooltip/_index.scss
  packages/styles/scss/components/tooltip/_tooltip.scss
Labels: status: ready to merge 🎉

#10142 fix(Checkbox): add positioning to checkbox input for native validation alignment
  packages/components/src/components/checkbox/_checkbox.scss
  packages/react/src/components/Checkbox/Checkbox-story.js
  packages/styles/scss/components/checkbox/_checkbox.scss
Labels: status: ready to merge 🎉

#10100 docs(form): use stack for form spacing examples, fix label spacing
  packages/carbon-react/src/components/Form/Form.stories.js
  packages/components/src/components/form/_form.scss
  packages/react/src/components/FileUploader/FileUploader.js
  packages/styles/scss/components/form/_form.scss
Labels: status: ready to merge 🎉
