Repository carbon-design-system/carbon, pull requests merged in 2021-08, with the labels that each got.

#9325 fix(font-family): added system fonts
  packages/type/scss/modules/_font-family.scss
Labels: status: ready to merge 🎉

#9257 feat(Popover): add to @carbon/styles
  packages/carbon-react/src/components/Popover/Popover.stories.js
  packages/carbon-react/src/components/Popover/index.js
  packages/carbon-react/src/components/Popover/story.scss
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/popover/_index.scss
  packages/styles/scss/components/popover/_popover.scss
Labels: status: ready to merge 🎉

#9379 chore(project): update yarn to 3.0.0
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.0.0-rc.1.cjs
  .yarn/releases/yarn-3.0.0.cjs
  .yarnrc
  .yarnrc.yml
Labels: status: ready to merge 🎉

#9324 Add Visual Regression Tests for Checkbox
  packages/react/src/components/Checkbox/Checkbox-test.e2e.js
Labels: status: ready to merge 🎉

#9349 docs: fix irregularities and update language
  .all-contributorsrc
  packages/react/src/components/Breadcrumb/index.js
  packages/react/src/components/Button/Button-test.js
  packages/react/src/components/Button/button-avt.md
  packages/react/src/components/Checkbox/Checkbox.mdx
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/ComboBox/ComboBox.mdx
  packages/react/src/components/ComposedModal/ComposedModal.mdx
  packages/react/src/components/Copy/Copy.js
  packages/react/src/components/DataTable/TableBatchActions.js
  packages/react/src/components/DataTable/TableExpandHeader.js
  packages/react/src/components/DataTable/TableExpandRow.js
  packages/react/src/components/DataTable/TableHeader.js
  packages/react/src/components/DataTable/TableToolbarSearch.js
  packages/react/src/components/DataTable/migrate-to-7.x.md
  packages/react/src/components/DataTable/state/sorting.js
  packages/react/src/components/DataTable/tools/filter.js
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/plugins/appendToPlugin.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Grid/Grid.mdx
  packages/react/src/components/Icon/Icon-test.js
  packages/react/src/components/InlineLoading/InlineLoading-story.js
  packages/react/src/components/InlineLoading/InlineLoading-test.js
  packages/react/src/components/InlineLoading/InlineLoading.js
  packages/react/src/components/Link/Link-test.js
  packages/react/src/components/ListBox/ListBoxMenuItem.js
  packages/react/src/components/Loading/Loading-test.js
  packages/react/src/components/Menu/_utils.js
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.mdx
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/Notification/Notification-test.js
  packages/react/src/components/Notification/next/Notification.js
  packages/react/src/components/NumberInput/NumberInput.js
  packages/react/src/components/Pagination/Pagination-story.js
  packages/react/src/components/ProgressIndicator/ProgressIndicator-test.js
  packages/react/src/components/Slider/Slider.js
  packages/react/src/components/TabContent/TabContent-test.js
  packages/react/src/components/UIShell/SideNavMenuItem.js
  packages/react/src/components/UIShell/SideNavSwitcher.js
  packages/react/src/components/UIShell/__tests__/HeaderMenu-test.js
  packages/react/src/components/UIShell/__tests__/SideNavItem-test.js
  packages/react/src/components/UIShell/__tests__/SideNavLink-test.js
  packages/react/src/components/UIShell/__tests__/SideNavMenu-test.js
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/prop-types/tools/createChainableTypeChecker.js
Labels: status: ready to merge 🎉

#9386 fix(Popover): add back index to /react/Popover
  packages/react/src/components/Popover/index.js
Labels: status: ready to merge 🎉

#9326 Add VRT for accordion and breadcrumb skeleton
  packages/react/src/components/Accordion/__tests__/Accordion-test.e2e.js
  packages/react/src/components/Breadcrumb/__tests__/Breadcrumb-test.e2e.js
Labels: status: ready for review 👀

#9231 test(Styles): add styles public api tests
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/__tests__/styles-test.js
  packages/styles/scss/components/_index.scss
Labels: status: ready to merge 🎉

#9385 fix: add index.scss to npm files
  packages/colors/package.json
  packages/grid/package.json
  packages/type/package.json
Labels: status: ready to merge 🎉

#9357 chore(grid): migrate slash to math.div
  .yarn/cache/sass-npm-1.32.13-89da6086e7-51b798280b.zip
  .yarn/cache/sass-npm-1.36.0-1ecc2af923-fdb03deed1.zip
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/examples/sass-modules/package.json
  packages/components/package.json
  packages/grid/examples/css-grid/package.json
  packages/grid/scss/modules/_css-grid.scss
  packages/grid/scss/modules/_mixins.scss
  packages/react/package.json
  packages/test-utils/package.json
  packages/themes/examples/preview-v11/package.json
  packages/themes/examples/sass-modules/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#9364 fix(UIShell): update story to show proper right panel transition
  packages/components/src/components/ui-shell/_header.scss
  packages/react/src/components/UIShell/UIShell-story.js
Labels: status: ready to merge 🎉

#9396 chore(release): v10.41.0-rc.0
  config/eslint-config-carbon/package.json
  config/jest-config-carbon/package.json
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/test-utils/package.json
  packages/themes/package.json
  packages/type/package.json
  packages/upgrade/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#9355 feat(experimental-pagination): add onchange handler
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Pagination/experimental/Pagination.js
Labels: status: ready to merge 🎉

#9215 feat(Pagination): add support for sizes
  packages/components/src/components/pagination/_pagination.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Pagination/Pagination-story.js
  packages/react/src/components/Pagination/Pagination.js
Labels: status: ready to merge 🎉

#9371 docs(Plex): add plex, font-face documentation
  docs/migration/11.x-carbon-components.md
  packages/styles/docs/sass.md
Labels: status: ready to merge 🎉

#9366 test(link): add visual regression testing
  packages/react/src/components/Link/Link-test.e2e.js
Labels: status: ready to merge 🎉

#9419 chore(project): update example lockfiles
  packages/grid/examples/css-grid/.yarn/.gitignore
  packages/grid/examples/css-grid/.yarn/install-state.gz
  packages/grid/examples/css-grid/yarn.lock
  packages/grid/examples/preview/.yarn/.gitignore
  packages/grid/examples/preview/.yarn/install-state.gz
  packages/themes/examples/preview-v11/.yarn/.gitignore
  packages/themes/examples/preview-v11/yarn.lock
Labels: status: ready to merge 🎉

#9427 chore(release): v10.41.0
  config/eslint-config-carbon/package.json
  config/jest-config-carbon/package.json
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/test-utils/package.json
  packages/themes/package.json
  packages/type/package.json
  packages/upgrade/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#9398 chore(styles): remove `/` symbol
  packages/components/src/components/loading/_functions.scss
  packages/components/src/components/pagination-nav/_pagination-nav.scss
  packages/components/src/components/structured-list/_mixins.scss
  packages/styles/scss/components/loading/_functions.scss
  packages/styles/scss/components/pagination-nav/_mixins.scss
  packages/styles/scss/components/pagination-nav/_pagination-nav.scss
  packages/styles/scss/components/structured-list/_mixins.scss
  packages/styles/scss/utilities/_convert.scss
Labels: status: ready to merge 🎉

#8787 fix(sketch): support glyph-only assets
  packages/sketch/src/commands/icons/shared.js
Labels: status: ready to merge 🎉

#9429 fix(FileUploader): aria disabled placed on button instead of label
  packages/react/src/components/FileUploader/FileUploaderButton.js
Labels: status: ready to merge 🎉

#9434 chore(project): add quietDeps for sass tests
  packages/test-utils/src/renderer.js
Labels: status: ready to merge 🎉

#9421 fix(Dropdown): allow number as a valid proptype for selecteditems
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
Labels: status: ready to merge 🎉

#9418 fix(DataTable): add position relative to prevent jumping
  packages/components/src/components/data-table/_data-table-core.scss
  packages/styles/scss/components/data-table/_data-table.scss
Labels: status: ready to merge 🎉

#9447 ci: add stale workflow in debug mode
  .github/workflows/stale.yml
Labels: status: ready to merge 🎉

#9467 docs: updated link to carbon documentation
  .all-contributorsrc
  README.md
Labels: status: ready to merge 🎉

#9476 fix(carbon-react): remove un-exported experimental exports
  packages/carbon-react/__tests__/index-test.js
  packages/carbon-react/src/index.js
Labels: status: ready to merge 🎉

#9451 test(tabs): add vrt
  packages/react/src/components/Tabs/tabs-test.e2e.js
Labels: status: ready to merge 🎉

#9449 test(tag): add vrt
  packages/react/src/components/Tag/Tag-test.e2e.js
Labels: status: ready to merge 🎉

#9490 chore(release): v10.42.0-rc.0
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/test-utils/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#9387 feat(sketch): update plugin to emit hover color palette
  packages/sketch/src/commands/colors/generate.js
  packages/sketch/src/sharedStyles/colors.js
  packages/sketch/src/tools/colorVariables.js
Labels: status: one more review 👀

#9420 fix(tooltip): added aria-label to tooltip content
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge 🎉

#9495 test(dropdown): add visual regression tests
  packages/react/src/components/Dropdown/Dropdown-test.e2e.js
  packages/react/src/components/Dropdown/Dropdown.Skeleton.js
Labels: status: ready to merge 🎉

#9485 fix(Tile): remove double border fix
  packages/components/src/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#9423 feat(styles): add skeleton sass modules and stories
  packages/carbon-react/src/components/Skeleton/Skeleton.stories.js
  packages/carbon-react/src/components/Skeleton/index.js
  packages/react/src/components/CodeSnippet/__tests__/CodeSnippet-test.e2e.js
  packages/styles/scss/components/__tests__/skeleton-test.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/skeleton-styles/_index.scss
  packages/styles/scss/components/skeleton-styles/_skeleton-styles.scss
Labels: status: ready to merge 🎉

#9506 test(multiselect): add visual regression tests
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.e2e.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.e2e.js
Labels: status: ready for review 👀, status: one more review 👀

#9514 chore(release): v10.42.0
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/test-utils/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#9399 fix(ListBox): add title attribute to selected item
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
Labels: status: ready to merge 🎉

#9518 docs(Storybook): add getting started page to Welcome folder
  packages/react/.storybook/Welcome/Usage.js
  packages/react/.storybook/Welcome/Welcome.js
  packages/react/.storybook/Welcome/Welcome.stories.js
  packages/react/.storybook/Welcome/img/actions.gif
  packages/react/.storybook/Welcome/img/carbon.png
  packages/react/.storybook/Welcome/img/carbon_bg.png
  packages/react/.storybook/Welcome/img/docs.png
  packages/react/.storybook/Welcome/img/folder.png
  packages/react/.storybook/Welcome/img/knobs.png
  packages/react/.storybook/Welcome/img/props.png
  packages/react/.storybook/Welcome/usage.scss
Labels: status: ready to merge 🎉

#9539 feat(pictograms): add new cities and new category
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/firefighter.svg
  packages/pictograms/src/svg/portland--building.svg
  packages/pictograms/src/svg/seoul--gyeongbokgung-palace.svg
  packages/pictograms/src/svg/social--worker.svg
  packages/pictograms/src/svg/teacher.svg
Labels: status: ready to merge 🎉

#9543 fix(accordion): updated disabled item tokens
  packages/components/src/components/accordion/_accordion.scss
Labels: status: ready to merge 🎉

#9563 fix(project): revert accidental public api changes
  packages/components/demo/js/data-table-demo-expand-all-manager.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Accordion/AccordionItem.js
  packages/react/src/components/Accordion/__tests__/__snapshots__/AccordionItem-test.js.snap
  packages/react/src/components/DataTable/TableExpandHeader.js
  packages/react/src/components/DataTable/stories/expansion/DataTable-expansion-story.js
  packages/react/src/components/TreeView/TreeNode.js
Labels: status: ready to merge 🎉

#9479 fix(progress-bar): fix label accessibility violation
  packages/react/src/components/ProgressBar/ProgressBar-test.js
  packages/react/src/components/ProgressBar/ProgressBar.js
Labels: status: ready to merge 🎉

#9480 feat(Type): add new type tokens
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g80.js
  packages/themes/src/g90.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
  packages/type/examples/preview/index.js
  packages/type/scss/_styles.scss
  packages/type/scss/modules/_styles.scss
  packages/type/src/__tests__/__snapshots__/styles-test.js.snap
  packages/type/src/__tests__/exports-test.js
  packages/type/src/styles.js
  packages/type/src/tokens.js
Labels: status: ready to merge 🎉

#9546 fix(Toggle): fix issue with size prop
  packages/react/src/components/Toggle/Toggle-story.js
  packages/react/src/components/Toggle/Toggle.js
Labels: status: ready to merge 🎉

#9559 feat(Multiselect): add itemToElement to Multiselect
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect-story.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
Labels: status: ready to merge 🎉

#9545 fix(tootlip): fixes tabbing issue
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge 🎉
