Repository carbon-design-system/carbon, pull requests merged in 2021-01, with the labels that each got.

#7474 fix(FileUploader): resolve component audit issues
  packages/components/src/components/file-uploader/_file-uploader.scss
  packages/react/examples/drag-and-drop-file-uploader/src/index.js
  packages/react/src/components/FileUploader/FileUploader-story.js
  packages/react/src/components/FileUploader/FileUploader-story.scss
  packages/react/src/components/FileUploader/FileUploaderItem.js
  packages/react/src/components/FileUploader/stories/drop-container.js
Labels: status: ready to merge 🎉

#7473 Revert "fix(dropdown): state disabled background color"
  packages/components/docs/sass.md
  packages/components/src/components/dropdown/_dropdown.scss
Labels: status: ready to merge 🎉

#7465 fix(Datepicker): add aria role to Flatpickr dialog
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#7462 fix(ui-shell): remove menubar role
  packages/react/src/components/UIShell/HeaderNavigation.js
Labels: status: ready to merge 🎉

#7413 test(Button): add accessibility unit tests and docs
  packages/react/src/components/Button/Button-test.js
  packages/react/src/components/Button/button-avt.md
Labels: status: ready to merge 🎉

#7392 fix(data-table): increase interactive area of expand button
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
Labels: status: ready for review 👀, status: ready to merge 🎉, status: visual review 🔍

#7505 fix(cli): update getPackages to use cleaned yarn output in berry
  packages/cli/src/workspace.js
Labels: status: ready to merge 🎉

#7503 fix(link): prevent inline link hover active style override
  packages/components/src/components/link/_link.scss
Labels: status: ready to merge 🎉

#7506 refactor(react): update tests from DAP to AC
  .yarn/cache/@ibma-aat-https-5590992b11-97048d4e00.zip
  .yarn/cache/chromedriver-npm-78.0.1-ff60f97ce6-6ba4636286.zip
  .yarn/cache/del-npm-4.1.1-8bc04567c6-87eecb2af5.zip
  .yarn/cache/is-path-in-cwd-npm-2.1.0-2a2ca98522-d814427f4e.zip
  .yarn/cache/is-path-inside-npm-2.1.0-f943552e7a-e289fc4ec6.zip
  .yarn/cache/puppeteer-npm-2.0.0-85251b9d16-b3fef727c2.zip
  aat/aat.js
  config/jest-config-carbon/matchers/toHaveNoDAPViolations.js
  config/jest-config-carbon/package.json
  config/jest-config-carbon/setup/setupAfterEnv.js
  packages/react/src/components/CodeSnippet/__tests__/CodeSnippet.Skeleton-test.js
  packages/react/src/components/FileUploader/__tests__/FileUploader-test.js
  packages/react/src/components/FileUploader/__tests__/FileUploaderSkeleton-test.js
  packages/react/src/components/FileUploader/__tests__/Filename-test.js
  packages/react/src/components/Loading/Loading-test.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
  packages/react/src/components/Tag/Tag-test.js
  yarn.lock
Labels: status: ready to merge 🎉

#7521 chore(project): add dependabot config
  .github/dependabot.yml
Labels: status: ready to merge 🎉

#7477 refactor(select): remove unused disabled option styles
  packages/components/src/components/select/_select.scss
Labels: status: one more review 👀, status: ready to merge 🎉

#7468 fix(select): update light disabled state
  packages/components/src/components/select/_select.scss
Labels: status: ready to merge 🎉

#7564 fix(checkbox): fixed the checkbox component bidi layout issue. (#7524)
  .all-contributorsrc
  README.md
  packages/components/docs/sass.md
  packages/components/src/components/checkbox/_checkbox.scss
Labels: status: ready to merge 🎉

#7548 chore(project): remove offline mirror folder
  .yarn/offline-mirror/@babel-generator-7.12.5.tgz
  .yarn/offline-mirror/@babel-helper-split-export-declaration-7.11.0.tgz
  .yarn/offline-mirror/@babel-parser-7.12.7.tgz
  .yarn/offline-mirror/@babel-traverse-7.12.9.tgz
  .yarn/offline-mirror/@babel-types-7.12.7.tgz
  .yarn/offline-mirror/@carbon-telemetry-0.0.0-alpha.5.tgz
  .yarn/offline-mirror/@dabh-diagnostics-2.0.2.tgz
  .yarn/offline-mirror/@sindresorhus-is-4.0.0.tgz
  .yarn/offline-mirror/@szmarczak-http-timer-4.0.5.tgz
  .yarn/offline-mirror/@types-cacheable-request-6.0.1.tgz
  .yarn/offline-mirror/@types-http-cache-semantics-4.0.0.tgz
  .yarn/offline-mirror/@types-keyv-3.1.1.tgz
  .yarn/offline-mirror/@types-responselike-1.0.0.tgz
  .yarn/offline-mirror/ansi-colors-4.1.1.tgz
  .yarn/offline-mirror/cacheable-lookup-5.0.3.tgz
  .yarn/offline-mirror/cacheable-request-7.0.1.tgz
  .yarn/offline-mirror/cliui-7.0.4.tgz
  .yarn/offline-mirror/clone-response-1.0.2.tgz
  .yarn/offline-mirror/configstore-5.0.1.tgz
  .yarn/offline-mirror/crypto-random-string-2.0.0.tgz
  .yarn/offline-mirror/decompress-response-6.0.0.tgz
  .yarn/offline-mirror/defer-to-connect-2.0.0.tgz
  .yarn/offline-mirror/enabled-2.0.0.tgz
  .yarn/offline-mirror/enquirer-2.3.6.tgz
  .yarn/offline-mirror/escalade-3.1.1.tgz
  .yarn/offline-mirror/fast-glob-3.2.4.tgz
  .yarn/offline-mirror/fecha-4.2.0.tgz
  .yarn/offline-mirror/fn.name-1.1.0.tgz
  .yarn/offline-mirror/got-11.8.0.tgz
  .yarn/offline-mirror/http-cache-semantics-4.1.0.tgz
  .yarn/offline-mirror/http2-wrapper-1.0.0-beta.5.2.tgz
  .yarn/offline-mirror/json-buffer-3.0.1.tgz
  .yarn/offline-mirror/keyv-4.0.3.tgz
  .yarn/offline-mirror/kuler-2.0.0.tgz
  .yarn/offline-mirror/logform-2.2.0.tgz
  .yarn/offline-mirror/lowercase-keys-2.0.0.tgz
  .yarn/offline-mirror/mimic-response-1.0.1.tgz
  .yarn/offline-mirror/mimic-response-3.1.0.tgz
  .yarn/offline-mirror/normalize-url-4.5.0.tgz
  .yarn/offline-mirror/one-time-1.0.0.tgz
  .yarn/offline-mirror/p-cancelable-2.0.0.tgz
  .yarn/offline-mirror/quick-lru-5.1.1.tgz
  .yarn/offline-mirror/resolve-alpn-1.0.0.tgz
  .yarn/offline-mirror/responselike-2.0.0.tgz
  .yarn/offline-mirror/unique-string-2.0.0.tgz
  .yarn/offline-mirror/winston-3.3.3.tgz
  .yarn/offline-mirror/winston-transport-4.4.0.tgz
  .yarn/offline-mirror/wrap-ansi-7.0.0.tgz
  .yarn/offline-mirror/xdg-basedir-4.0.0.tgz
  .yarn/offline-mirror/y18n-5.0.5.tgz
  .yarn/offline-mirror/yargs-16.1.1.tgz
  .yarn/offline-mirror/yargs-parser-20.2.4.tgz
Labels: status: ready to merge 🎉

#7437 fix(TooltipDefinition): update `children` PropType
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TooltipDefinition/TooltipDefinition.js
Labels: status: ready to merge 🎉

#7568 chore(project): update prettier to 2.2.1
  .yarn/cache/prettier-npm-2.1.0-8959c1311c-f955d380d2.zip
  .yarn/cache/prettier-npm-2.2.1-e0670992f8-92c6c9f4b8.zip
  config/prettier-config-carbon/package.json
  docs/postmortems/0000-00-00-template.md
  package.json
  packages/cli/package.json
  packages/icon-build-helpers/package.json
  packages/icons-vue/package.json
  packages/scss-generator/package.json
  packages/test-utils/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#7577 chore(examples): update grid example for deploy
  packages/grid/examples/preview/package.json
  tasks/examples.js
Labels: status: ready to merge 🎉

#7353 fix(Tabs): add aria-label to overflow scroll buttons
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tabs/Tabs.js
Labels: status: ready to merge 🎉

#7478 feat(CodeSnippet): support disabled single and multiline snippets
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet-story.js
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/react/src/components/CodeSnippet/__tests__/CodeSnippet-test.js
Labels: status: ready to merge 🎉

#7519 feat(Tab): autogenerate IDs
  packages/react/src/components/Tab/Tab.js
  packages/react/src/components/Tabs/Tabs-story.js
Labels: status: ready to merge 🎉

#7543 fix(Tabs): apply `scrollIntoView` prop on mount
  packages/react/src/components/Tabs/Tabs.js
Labels: status: ready to merge 🎉

#7199 feat(Tile): add optional expand/collapse labels for chevron
  packages/components/src/components/tile/_tile.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tile/Tile-story.js
  packages/react/src/components/Tile/Tile.js
Labels: status: ready to merge 🎉

#7584 feat(pictograms): add pictogram batch January 2021
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/accelerated-computing.svg
  packages/pictograms/src/svg/atlanta.svg
  packages/pictograms/src/svg/birthday--cake.svg
  packages/pictograms/src/svg/budapest.svg
  packages/pictograms/src/svg/business--continuity.svg
  packages/pictograms/src/svg/c--language.svg
  packages/pictograms/src/svg/c-plus-plus--language.svg
  packages/pictograms/src/svg/canada--maple-leaf.svg
  packages/pictograms/src/svg/cobol--language.svg
  packages/pictograms/src/svg/color--contrast.svg
  packages/pictograms/src/svg/containers-and-cloud-native.svg
  packages/pictograms/src/svg/cupcake.svg
  packages/pictograms/src/svg/dashboard.svg
  packages/pictograms/src/svg/data--apis.svg
  packages/pictograms/src/svg/data--privacy.svg
  packages/pictograms/src/svg/device--pairing.svg
  packages/pictograms/src/svg/earth.svg
  packages/pictograms/src/svg/flash--storage.svg
  packages/pictograms/src/svg/flashing--content.svg
  packages/pictograms/src/svg/fragile.svg
  packages/pictograms/src/svg/go--language.svg
  packages/pictograms/src/svg/hybrid--cloud--02.svg
  packages/pictograms/src/svg/ibm--automation-platform.svg
  packages/pictograms/src/svg/ibm--z--partition.svg
  packages/pictograms/src/svg/ibm--z-and-linuxone-multi-frame.svg
  packages/pictograms/src/svg/ibm--z-and-linuxone-single-frame.svg
  packages/pictograms/src/svg/infrastructure-security.svg
  packages/pictograms/src/svg/it--infrastructure-software.svg
  packages/pictograms/src/svg/keep-dry.svg
  packages/pictograms/src/svg/keyboard.svg
  packages/pictograms/src/svg/kuala-lumpur.svg
  packages/pictograms/src/svg/okinawa.svg
  packages/pictograms/src/svg/php--language.svg
  packages/pictograms/src/svg/pli--language.svg
  packages/pictograms/src/svg/r--language.svg
  packages/pictograms/src/svg/rio-de-janeiro.svg
  packages/pictograms/src/svg/sap--hana.svg
  packages/pictograms/src/svg/server--operating-systems.svg
  packages/pictograms/src/svg/slack.svg
  packages/pictograms/src/svg/stack-limitation.svg
  packages/pictograms/src/svg/storage--area-networks.svg
  packages/pictograms/src/svg/storage--product.svg
  packages/pictograms/src/svg/tape--storage.svg
  packages/pictograms/src/svg/text--equivalent.svg
  packages/pictograms/src/svg/text--input.svg
  packages/pictograms/src/svg/text--layout.svg
  packages/pictograms/src/svg/this-side-up.svg
  packages/pictograms/src/svg/tree.svg
  packages/pictograms/src/svg/two-person-lift.svg
  packages/pictograms/src/svg/wedding--cake.svg
Labels: status: ready to merge 🎉

#7586 feat(pictograms): update artwork for customer service pictogram
  packages/pictograms/src/svg/customer--service.svg
Labels: status: ready to merge 🎉

#7587 feat(pictograms): update artwork for javascript pictogram
  packages/pictograms/src/svg/javascript.svg
Labels: status: ready to merge 🎉

#7526 fix(list): adjust list spacing according to component spec
  packages/components/src/components/list/_list.scss
Labels: status: ready to merge 🎉

#7499 fix(Loading): increase stroke-dashoffset
  packages/components/src/components/loading/_vars.scss
Labels: status: ready to merge 🎉

#7456 fix(OverflowMenu): check for custom closeMenu method
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#7588 chore(pictograms): update pictogram master file
  packages/pictograms/master/pictogram-master.ai
Labels: status: ready to merge 🎉

#7585 feat(pictograms): update artwork for teammates pictogram
  packages/pictograms/src/svg/teammates.svg
Labels: status: ready to merge 🎉

#7583 feat(test-utils): add dart sass renderer
  packages/colors/__tests__/__snapshots__/modules-test.js.snap
  packages/colors/__tests__/modules-test.js
  packages/test-utils/package.json
  packages/test-utils/scss.js
  packages/test-utils/src/__tests__/renderer-test.js
  packages/test-utils/src/importer.js
  packages/test-utils/src/renderer.js
  yarn.lock
Labels: status: ready to merge 🎉

#7482 fix(PasswordInput): disable visibility toggle when input is disabled
  packages/components/src/components/text-input/_text-input.scss
  packages/react/src/components/TextInput/PasswordInput-test.js
  packages/react/src/components/TextInput/PasswordInput.js
Labels: status: ready to merge 🎉

#7262 feat(tag): introducing custom icon
  packages/components/docs/sass.md
  packages/components/src/components/tag/_tag.scss
  packages/components/src/components/tag/_tokens.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tag/Tag-story.js
  packages/react/src/components/Tag/Tag-test.js
  packages/react/src/components/Tag/Tag.js
Labels: status: ready to merge 🎉

#7599 fix(date-picker): fix date-picker invalid styles
  packages/components/src/components/form/_form.scss
Labels: status: ready to merge 🎉

#7621 fix(CodeSnippet): use field-01 instead of internal variable
  packages/components/src/components/code-snippet/_mixins.scss
  packages/components/src/globals/scss/_theme-tokens.scss
Labels: status: ready to merge 🎉

#7613 fix(Search): prevent duplicate `onChange` handler call
  packages/react/src/components/Search/Search.js
Labels: status: ready to merge 🎉

#7601 fix(Notifications): add hcm media query for missing outlines
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
Labels: status: ready to merge 🎉

#7600 fix(tooltip): call parent with close when controlled
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge 🎉

#7545 feat(icons-vue): add vue 3 support
  .yarn/cache/@rollup-plugin-replace-npm-2.3.4-2b255f0126-97ae11600a.zip
  .yarn/cache/estree-walker-npm-0.3.1-eafc7846cc-20a1a9833e.zip
  .yarn/cache/magic-string-npm-0.19.1-0dffe528c9-eabaf9b175.zip
  .yarn/cache/rollup-plugin-strip-banner-npm-0.2.0-0aa46b3887-ba6dab339b.zip
  .yarn/cache/rollup-pluginutils-npm-2.0.1-cb018e5ebc-40f9e1af99.zip
  .yarn/cache/vlq-npm-0.2.3-292fe9aaa1-48055a9675.zip
  packages/icon-build-helpers/package.json
  packages/icon-build-helpers/src/builders/index.js
  packages/icon-build-helpers/src/builders/react/builder.js
  packages/icon-build-helpers/src/builders/vanilla.js
  packages/icon-build-helpers/src/builders/vue/builder.js
  packages/icon-build-helpers/src/builders/vue/utils.js
  packages/icons/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#7634 chore(icons): update metadata
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#7644 chore(release): v10.27.0
  config/jest-config-carbon/package.json
  config/prettier-config-carbon/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/import-once/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/scss-generator/package.json
  packages/sketch/package.json
  packages/test-utils/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#7546 feat(elements): update colors, layout, and motion packages with experimental Sass Modules
  docs/migration/11.x-layout.md
  docs/migration/11.x-motion.md
  packages/colors/.gitignore
  packages/colors/__tests__/__snapshots__/modules-test.js.snap
  packages/colors/__tests__/modules-test.js
  packages/colors/docs/sass.md
  packages/colors/examples/sass-modules/src/styles.scss
  packages/colors/package.json
  packages/colors/tasks/build.js
  packages/components/package.json
  packages/layout/.gitignore
  packages/layout/index.scss
  packages/layout/package.json
  packages/layout/scss/modules/_breakpoint.scss
  packages/layout/scss/modules/_convert.scss
  packages/layout/scss/modules/_spacing.scss
  packages/layout/scss/modules/_utilities.scss
  packages/layout/tasks/build.js
  packages/motion/index.scss
Labels: status: ready to merge 🎉

#7620 fix(Checkbox): update focus styles
  packages/components/src/components/checkbox/_checkbox.scss
Labels: status: ready to merge 🎉

#7632 fix(button): avoid overriding styles on SVGS with paths
  packages/components/src/components/button/_button.scss
  packages/components/src/components/button/_mixins.scss
Labels: status: ready to merge 🎉

#7648 fix(sketch): match symbol names to existing format
  packages/sketch/src/commands/icons/shared.js
Labels: status: ready to merge 🎉

#7646 fix(SideNavLink): remove fixed height on SideNavLink
  packages/components/src/components/ui-shell/_side-nav.scss
Labels: status: ready to merge 🎉

#7611 fix(CopyButton): ensure copy text is placed over icons
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/components/src/components/copy-button/_copy-button.scss
Labels: status: ready to merge 🎉

#7618 fix(button): remove danger ghost icon only button svg margin
  packages/components/src/components/button/_button.scss
  packages/react/src/components/Button/Button-story.js
Labels: status: ready to merge 🎉

#7619 feat(Tag): implement short tag size
  packages/components/src/components/tag/_tag.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tag/Tag-story.js
  packages/react/src/components/Tag/Tag.Skeleton.js
  packages/react/src/components/Tag/Tag.js
Labels: status: ready to merge 🎉

#7594 feat(Dropdown): add hideTitleText prop
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Dropdown/Dropdown-story.js
  packages/react/src/components/Dropdown/Dropdown.js
Labels: status: one more review 👀, status: ready for review 👀, status: ready to merge 🎉

#7609 fix(ComposedModal): add accessible name and aria-label prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/ComposedModal/__snapshots__/ComposedModal-test.js.snap
Labels: status: ready to merge 🎉

#7664 fix(Tag): update filter tags to match updated spec
  packages/components/src/components/tag/_tag.scss
Labels: status: ready to merge 🎉

#7681 chore(contributors): update all contributor list
  .all-contributorsrc
  README.md
Labels: status: ready to merge 🎉

#7666 fix(DatePicker): add more locales to valid locales
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#7604 docs(Templates): update question template with new public links
  .github/ISSUE_TEMPLATE/question.md
Labels: status: ready for review 👀, status: ready to merge 🎉

#7645 fix(TableSelectAll): prevent selection of items that do not match filter
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/TableBatchActions.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
Labels: status: ready to merge 🎉

#7680 fix(TextInput): fixes hover, focus issues with visibility icon
  packages/components/src/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉

#7679 fix(Tag): fix issues with skeleton in safari
  packages/components/src/components/tag/_tag.scss
Labels: status: ready to merge 🎉

#7612 fix(TableToolbarSearch): ensure search cannot be expanded when disabled
  packages/components/src/components/data-table/_data-table-action.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/TableToolbarSearch.js
Labels: status: ready to merge 🎉
