Repository carbon-design-system/carbon, pull requests merged in 2021-03, with the labels that each got.

#7919 fix(NumberInput): deprecate mobile variant
  packages/components/src/components/number-input/_number-input.scss
  packages/react/src/components/NumberInput/NumberInput-story.js
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#7802 feat(feature-flags): rename exports, add merge, and update tests
  packages/feature-flags/README.md
  packages/feature-flags/__tests__/feature-flags-test.js
  packages/feature-flags/__tests__/scss-test.js
  packages/feature-flags/feature-flags.yml
  packages/feature-flags/index.scss
  packages/feature-flags/package.json
  packages/feature-flags/scss/feature-flags.scss
  packages/feature-flags/src/__tests__/feature-flags-test.js
  packages/feature-flags/src/index.js
  packages/feature-flags/tasks/build.js
  packages/react/package.json
  packages/react/src/internal/FeatureFlags.js
  yarn.lock
Labels: status: ready to merge 🎉

#7905 fix(Tabs): prevent tablist role from stealing focus
  packages/components/src/components/tabs/_tabs.scss
  packages/react/src/components/Tabs/Tabs.js
Labels: status: ready to merge 🎉

#7927 fix(tag): set vertical alignment
  packages/components/src/components/tag/_tag.scss
  packages/react/src/components/Tag/Tag-story.js
Labels: status: ready to merge 🎉

#7937 docs(mdx): fix preview paths
  packages/react/src/components/Accordion/Accordion.mdx
  packages/react/src/components/AspectRatio/AspectRatio.mdx
  packages/react/src/components/Breadcrumb/Breadcrumb.mdx
  packages/react/src/components/Button/Button.mdx
  packages/react/src/components/Checkbox/Checkbox.mdx
  packages/react/src/components/CodeSnippet/CodeSnippet.mdx
  packages/react/src/components/ComboBox/ComboBox.mdx
  packages/react/src/components/ComposedModal/ComposedModal-story.js
  packages/react/src/components/ComposedModal/ComposedModal.mdx
  packages/react/src/components/ContentSwitcher/ContentSwitcher.mdx
  packages/react/src/components/CopyButton/CopyButton.mdx
  packages/react/src/components/DataTable/DataTable.mdx
  packages/react/src/components/DatePicker/DatePicker.mdx
  packages/react/src/components/Dropdown/Dropdown.mdx
  packages/react/src/components/FormLabel/FormLabel.mdx
  packages/react/src/components/Grid/Grid.mdx
  packages/react/src/components/Link/Link.mdx
  packages/react/src/components/Modal/Modal.mdx
  packages/react/src/components/RadioButton/RadioButton.mdx
  packages/react/src/components/Tabs/Tabs.mdx
Labels: status: ready to merge 🎉

#7891 fix(UIShell): fix overlay issue with modal in content
  packages/components/src/components/ui-shell/_content.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/UIShell-story.js
Labels: status: ready to merge 🎉

#7736 fix(HeaderGlobalAction): provide visual text for link via title attribute
  packages/components/src/components/ui-shell/_header.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/HeaderGlobalAction.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
Labels: status: ready to merge 🎉

#7940 docs(NumberInput): update NumberInput story
  packages/react/src/components/NumberInput/NumberInput-story.js
  packages/react/src/components/NumberInput/NumberInput.mdx
Labels: status: ready to merge 🎉

#7949 chore(release): v10.30.0-rc.0
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#7839 feat(Tag): add pointer on hover if component is interactive
  packages/components/src/components/tag/_mixins.scss
  packages/components/src/components/tag/_tag.scss
  packages/react/src/components/Tag/Tag-story.js
  packages/react/src/components/Tag/Tag.js
Labels: status: ready to merge 🎉

#7965 fix(skeleton): updates skeleton state performance
  config/browserslist-config-carbon/index.js
  packages/components/gulpfile.js
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/components/src/globals/scss/_helper-mixins.scss
Labels: status: ready to merge 🎉

#7777 fix(combobox): update to match ARIA 1.2 criteria
  packages/components/src/components/list-box/_list-box.scss
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/ListBox/next/ListBoxSelection.js
  packages/react/src/components/ListBox/next/ListBoxTrigger.js
  packages/react/src/components/ListBox/next/index.js
Labels: status: ready to merge 🎉

#7982 docs(CodeSnippet): fix issue with PropTable
  .yarn/cache/ast-types-npm-0.11.3-3c5ca041ab-77eec4f285.zip
  .yarn/cache/ast-types-npm-0.11.7-7f82506c63-e421616a07.zip
  .yarn/cache/ast-types-npm-0.12.4-0367dfa2a7-35372468e3.zip
  .yarn/cache/ast-types-npm-0.13.3-b4e48eefdf-684ff56653.zip
  .yarn/cache/ast-types-npm-0.9.6-9e5c4b6ff6-135cc19cb3.zip
  .yarn/cache/babel-plugin-react-docgen-npm-4.1.0-0918512ac7-57ad246365.zip
  .yarn/cache/babel-plugin-react-docgen-npm-4.2.1-790cd9de3e-e375376f2a.zip
  .yarn/cache/recast-npm-0.14.7-f2c2f31b57-dc35c8333f.zip
  package.json
  packages/react/package.json
  packages/react/src/components/CodeSnippet/CodeSnippet.mdx
  yarn.lock
Labels: status: ready to merge 🎉

#7988 chore(release): v10.30.0
  config/browserslist-config-carbon/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#7984 feat(Tabs): update Tabs skeleton styles
  packages/components/src/components/tabs/_tabs.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tabs/Tabs-story.js
  packages/react/src/components/Tabs/Tabs.Skeleton.js
Labels: status: ready to merge 🎉

#7999 fix(feature-flags): add missing single quote to README.md
  packages/feature-flags/README.md
Labels: status: ready to merge 🎉

#7684 feat(popover): add popover component and initial styles
  packages/components/src/components/popover/_popover.scss
  packages/components/src/globals/scss/styles.scss
  packages/react/.storybook/styles.scss
  packages/react/src/components/Popover/Popover-story.js
  packages/react/src/components/Popover/Popover.mdx
  packages/react/src/components/Popover/index.js
  packages/react/src/components/Popover/story.scss
  packages/react/src/internal/environment.js
  packages/react/src/internal/useEvent.js
  packages/react/src/internal/useId.js
  packages/react/src/internal/useOutsideClick.js
Labels: status: ready to merge 🎉, status: visual review 🔍

#7964 chore(icons): add removed icons back to update master file
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/deprecated.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/logo--delicious.svg
  packages/icons/src/svg/32/logo--google.svg
  packages/icons/src/svg/32/logo--stumbleupon.svg
  packages/icons/src/svg/32/mammogram--stacked.svg
Labels: status: ready to merge 🎉

#7973 fix(skeleton): update skeleton styles on Checkbox, CodeSnippet, ProgressIndicator, and TextArea
  packages/components/src/components/checkbox/_checkbox.scss
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/components/src/components/code-snippet/_mixins.scss
  packages/components/src/components/progress-indicator/_progress-indicator.scss
  packages/components/src/components/text-area/_text-area.scss
  packages/react/src/components/Checkbox/Checkbox-story.js
  packages/react/src/components/TextArea/TextArea-story.js
Labels: status: ready to merge 🎉

#7960 fix(SideNav): pass additional props provided to SideNav to the rendered nav element
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Labels: status: ready to merge 🎉

#8001 docs(style): update style guide with hooks info
  docs/style.md
Labels: status: ready to merge 🎉

#7990 fix(ListBox): add top positioning to chevron
  packages/components/src/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#7991 fix(HCM): fix HCM issues in a few components
  packages/components/src/components/content-switcher/_content-switcher.scss
  packages/components/src/components/date-picker/_flatpickr.scss
Labels: status: ready to merge 🎉

#7980 feat(react): add useControllableState
  packages/react/src/internal/__tests__/useControllableState-test.js
  packages/react/src/internal/useControllableState.js
  packages/react/src/internal/warn.js
Labels: status: ready to merge 🎉

#8014 chore: rename `master` branch references to `main` branch
  packages/react/.storybook/theme.js
  packages/react/README.md
  packages/react/__tests__/PublicAPI-test.js
  packages/react/docs/g11n.md
  packages/react/package.json
  packages/react/src/components/Accordion/Accordion.mdx
  packages/react/src/components/AspectRatio/AspectRatio.mdx
  packages/react/src/components/Breadcrumb/Breadcrumb.mdx
  packages/react/src/components/Button/Button.mdx
  packages/react/src/components/Checkbox/Checkbox.mdx
  packages/react/src/components/CodeSnippet/CodeSnippet.mdx
  packages/react/src/components/ComboBox/ComboBox.mdx
  packages/react/src/components/ComposedModal/ComposedModal.mdx
  packages/react/src/components/ContentSwitcher/ContentSwitcher.mdx
  packages/react/src/components/CopyButton/CopyButton.mdx
  packages/react/src/components/DataTable/DataTable.mdx
  packages/react/src/components/DatePicker/DatePicker.mdx
  packages/react/src/components/Dropdown/Dropdown.mdx
  packages/react/src/components/FileUploader/FileUploader.mdx
  packages/react/src/components/Form/Form.mdx
  packages/react/src/components/FormLabel/FormLabel.mdx
  packages/react/src/components/Grid/Grid.mdx
  packages/react/src/components/InlineLoading/InlineLoading.mdx
  packages/react/src/components/Link/Link.mdx
  packages/react/src/components/Loading/Loading.mdx
  packages/react/src/components/Modal/Modal.mdx
  packages/react/src/components/MultiSelect/MultiSelect.mdx
  packages/react/src/components/Notification/Notification.mdx
  packages/react/src/components/NumberInput/NumberInput.mdx
  packages/react/src/components/OrderedList/OrderedList.mdx
  packages/react/src/components/OverflowMenu/OverflowMenu.mdx
  packages/react/src/components/Pagination/Pagination.mdx
  packages/react/src/components/Popover/Popover.mdx
  packages/react/src/components/ProgressIndicator/ProgressIndicator.mdx
  packages/react/src/components/RadioButton/RadioButton.mdx
  packages/react/src/components/Search/Search.mdx
  packages/react/src/components/Select/Select.mdx
  packages/react/src/components/SkeletonPlaceholder/SkeletonPlaceholder.mdx
  packages/react/src/components/SkeletonText/SkeletonText.mdx
  packages/react/src/components/Slider/Slider.mdx
  packages/react/src/components/StructuredList/StructuredList.mdx
  packages/react/src/components/Tabs/Tabs.mdx
  packages/react/src/components/Tag/Tag.mdx
  packages/react/src/components/TextArea/TextArea.mdx
  packages/react/src/components/TextInput/TextInput.mdx
  packages/react/src/components/Tile/Tile.mdx
  packages/react/src/components/TimePicker/TimePicker.mdx
  packages/react/src/components/Toggle/Toggle.mdx
  packages/react/src/components/ToggleSmall/ToggleSmall.mdx
  packages/react/src/components/Tooltip/Tooltip.mdx
  packages/react/src/components/TooltipDefinition/TooltipDefinition.mdx
  packages/react/src/components/TooltipIcon/TooltipIcon.mdx
  packages/react/src/components/UIShell/UIShell.mdx
  packages/react/src/components/UnorderedList/UnorderedList.mdx
Labels: status: ready to merge 🎉

#7962 feat(react): add Heading and Section components
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Heading/Heading-story.js
  packages/react/src/components/Heading/Heading.mdx
  packages/react/src/components/Heading/__tests__/Heading-test.js
  packages/react/src/components/Heading/index.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#7987 fix(DataTable): fix padding issue with sortable, expandable DataTable
  packages/components/src/components/data-table/_data-table-expandable.scss
Labels: status: ready to merge 🎉

#8046 fix(modal): override base paragraph styles in modal content
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#8051 fix(tooltip): do not spread tooltipId prop onto div
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge 🎉

#8050 chore: update .github folder references from master to main
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/accessibility-issue.md
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: status: ready to merge 🎉

#7350 feat: add context-menu
  packages/components/src/components/context-menu/_context-menu.scss
  packages/components/src/globals/scss/styles.scss
  packages/react/.storybook/styles.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/ContextMenu/ContextMenu-story.js
  packages/react/src/components/ContextMenu/ContextMenu-test.js
  packages/react/src/components/ContextMenu/ContextMenu.js
  packages/react/src/components/ContextMenu/ContextMenuDivider.js
  packages/react/src/components/ContextMenu/ContextMenuGroup.js
  packages/react/src/components/ContextMenu/ContextMenuItem.js
  packages/react/src/components/ContextMenu/ContextMenuOption.js
  packages/react/src/components/ContextMenu/ContextMenuRadioGroup.js
  packages/react/src/components/ContextMenu/ContextMenuRadioGroupOptions.js
  packages/react/src/components/ContextMenu/ContextMenuSelectableItem.js
  packages/react/src/components/ContextMenu/_utils.js
  packages/react/src/components/ContextMenu/index.js
  packages/react/src/components/ContextMenu/useContextMenu.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#8021 feat(react): add warning helper
  packages/react/src/internal/__tests__/warning-test.js
  packages/react/src/internal/warning.js
Labels: status: ready to merge 🎉

#8048 fix(DataTable): return correct sort direction in sort action callback
  packages/react/src/components/DataTable/DataTable.js
Labels: status: ready to merge 🎉

#7901 fix(toast-notification): remove default value from optional caption prop
  packages/components/src/components/notification/_toast-notification.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Notification/Notification.js
Labels: status: ready to merge 🎉

#8018 fix(Slider): add validation when entering number via input
  packages/components/src/components/slider/_slider.scss
  packages/react/src/components/Modal/Modal.mdx
  packages/react/src/components/Slider/Slider-story.js
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Slider/Slider.js
  packages/react/src/components/Slider/Slider.mdx
Labels: status: ready to merge 🎉

#8079 fix(checkbox): alignment tweak based on new focus padding
  packages/components/src/components/checkbox/_checkbox.scss
Labels: status: ready to merge 🎉

#8083 fix(accordion): update disabled divider rule token
  packages/components/src/components/accordion/_accordion.scss
Labels: status: ready to merge 🎉

#8095 docs(Welcome): update welcome page docs tab
  packages/react/.storybook/Welcome/Welcome.mdx
  packages/react/.storybook/Welcome/Welcome.stories.js
Labels: status: ready to merge 🎉

#8060 feat(sketch): remove deprecated icons from sketch plugin
  packages/sketch/src/commands/icons/shared.js
Labels: status: ready to merge 🎉

#8020 fix(feature-flags): update enabled to check for process
  packages/feature-flags/package.json
  packages/feature-flags/tasks/build.js
  yarn.lock
Labels: status: ready to merge 🎉

#8092 feat(Select): support warning state
  packages/components/src/components/form/_form.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/select/_select.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Select/Select-story.js
  packages/react/src/components/Select/Select.js
Labels: status: ready to merge 🎉

#8072 fix(overflowmenuitem): isDanger should not apply a dividing border
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/react/src/components/OverflowMenu/OverflowMenu-story.js
Labels: status: ready to merge 🎉

#7894 fix(tab): tabpanel is tabbable when content has no tabbable content
  packages/react/src/components/TabContent/TabContent-test.js
  packages/react/src/components/TabContent/TabContent.js
  packages/react/src/components/Tabs/Tabs-story.js
  packages/react/src/internal/useIsomorphicEffect.js
Labels: status: ready to merge 🎉

#7968 fix: update vanilla loading spinner markup and replace expanded containers with margin
  packages/components/src/components/inline-loading/_inline-loading.scss
  packages/components/src/components/inline-loading/inline-loading.hbs
  packages/components/src/components/loading/loading.hbs
Labels: status: ready to merge 🎉

#8090 fix(NumberInput): set negative tabindex on number controls
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge 🎉

#8110 fix(carbon-cli): change MASTER reference to MAIN
  packages/cli/src/git.js
Labels: status: ready to merge 🎉

#8094 fix(ListBoxTrigger): support `title` on ListBoxTrigger
  packages/react/src/components/ComboBox/ComboBox-story.js
  packages/react/src/components/Dropdown/Dropdown-story.js
  packages/react/src/components/ListBox/next/ListBoxTrigger.js
Labels: status: ready to merge 🎉

#8114 feat(react): remove warning dependency in favor of internal module
  docs/developer-handbook.md
  packages/components/src/components/modal/modal.js
  packages/react/package.json
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem.js
  packages/react/src/components/RadioButton/RadioButton.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.js
  packages/react/src/components/SearchFilterButton/SearchFilterButton-test.js
  packages/react/src/components/SearchFilterButton/SearchFilterButton.js
  packages/react/src/components/SearchLayoutButton/SearchLayoutButton-test.js
  packages/react/src/components/SearchLayoutButton/SearchLayoutButton.js
  packages/react/src/components/TileGroup/TileGroup.js
  packages/react/src/components/ToggleSmall/ToggleSmall-test.js
  packages/react/src/components/ToggleSmall/ToggleSmall.js
  packages/react/src/components/Toolbar/Toolbar-test.js
  packages/react/src/components/Toolbar/Toolbar.js
  packages/react/src/components/ToolbarSearch/ToolbarSearch.js
  packages/react/src/internal/FloatingMenu.js
  packages/react/src/internal/__mocks__/warning.js
  packages/react/src/internal/useControllableState.js
  packages/react/src/internal/warn.js
  packages/react/src/prop-types/__tests__/deprecate-test.js
  packages/react/src/prop-types/deprecate.js
  yarn.lock
Labels: status: ready to merge 🎉

#7851 feat(grid): add CSS Grid Experiment
  packages/grid/examples/css-grid/.yarn/.gitignore
  packages/grid/examples/css-grid/.yarnrc.yml
  packages/grid/examples/css-grid/README.md
  packages/grid/examples/css-grid/next.config.js
  packages/grid/examples/css-grid/package.json
  packages/grid/examples/css-grid/src/components/Header.js
  packages/grid/examples/css-grid/src/pages/_app.js
  packages/grid/examples/css-grid/src/pages/index.js
  packages/grid/examples/css-grid/src/pages/layouts.js
  packages/grid/examples/css-grid/src/scss/_reset.scss
  packages/grid/examples/css-grid/src/scss/components/_header.scss
  packages/grid/examples/css-grid/src/scss/components/_index.scss
  packages/grid/examples/css-grid/src/styles.scss
  packages/grid/examples/css-grid/yarn.lock
  packages/grid/scss/modules/_css-grid.scss
  tasks/examples.js
Labels: status: ready to merge 🎉

#7908 fix(multiselect): 5880-multiselect-active-descendent
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ListBox/ListBoxSelection.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxSelection-test.js.snap
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/internal/keyboard/keys.js
Labels: status: ready to merge 🎉

#8058 feat(tile): add support for disabled state for radio and selectable tiles
  packages/components/src/components/tile/_tile.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/RadioTile/RadioTile-test.js
  packages/react/src/components/RadioTile/RadioTile.js
  packages/react/src/components/Tile/Tile-story.js
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.js
Labels: status: ready to merge 🎉

#8126 feat(UI icons): add 'football' alias for 'soccer'
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#8075 fix(treeview): update text and color tokens to match spec
  packages/components/src/components/treeview/_treeview.scss
  packages/react/src/components/TreeView/TreeView-story.js
  packages/react/src/components/TreeView/story.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#8022 fix(Button): close Icon only button tooltip, TooltipIcon when another button/tooltip is focused or hovered
  packages/components/src/components/button/_button.scss
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/globals/scss/_tooltip.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  packages/react/src/components/TooltipIcon/TooltipIcon.js
  packages/react/src/components/TooltipIcon/__snapshots__/TooltipIcon-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
Labels: status: ready to merge 🎉

#8074 fix(Tab): sync tab id with tab panel id
  packages/react/src/components/Tab/Tab.js
  packages/react/src/components/Tabs/Tabs-story.js
Labels: status: ready to merge 🎉

#7768 fix(Dropdown): prevent unnecessary duplicate VO readings
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown-story.js
  packages/react/src/components/Dropdown/Dropdown-test.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  packages/react/src/components/ListBox/ListBoxMenu.js
  packages/react/src/components/ListBox/ListBoxMenuItem.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxMenu-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxMenuItem-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
Labels: status: ready to merge 🎉

#8132 docs(UIShell-story): add missing prop to HeaderMenu
  packages/react/src/components/UIShell/UIShell-story.js
Labels: status: ready to merge 🎉

#8155 fix(ListBox): correctly position menu chevron
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#8107 fix(ListBox): change ListBox z-index higher than modal
  packages/components/src/globals/scss/_layout.scss
Labels: status: ready to merge 🎉

#8085 feat(CodeSnippet): set closed and expanded max number of rows
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet-story.js
  packages/react/src/components/CodeSnippet/CodeSnippet.js
Labels: status: ready to merge 🎉

#8135 fix(UIShell): avoid spreading `isSideNavExpanded` to non Carbon elements
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/SideNavItems.js
  packages/react/src/components/UIShell/SideNavLink.js
  packages/react/src/components/UIShell/_utils.js
Labels: status: ready to merge 🎉

#7918 feat(Notification): add onClose support
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Notification/Notification-story.js
  packages/react/src/components/Notification/Notification-test.js
  packages/react/src/components/Notification/Notification.js
Labels: status: ready to merge 🎉

#8080 fix(DataTable): expandable table size variations alignment issues
  packages/components/src/components/data-table/_data-table-action.scss
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/react/src/components/DataTable/stories/DataTable-batch-actions-story.js
  packages/react/src/components/DataTable/stories/dynamic-content/story.scss
  packages/react/src/components/DataTable/stories/expansion/DataTable-expansion-story.js
  packages/react/src/components/DataTable/stories/expansion/DataTable-expansion-story.scss
Labels: status: ready for review 👀, status: visual review 🔍

#8063 feat(spacing): change layout variables to spacing
  packages/components/src/components/button/_mixins.scss
  packages/components/src/components/data-table/_data-table-action.scss
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-sort.scss
  packages/components/src/globals/scss/_spacing.scss
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/layout/src/index.js
  packages/layout/src/tokens.js
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#7085 feat(breadcrumb): add overflow menu support
  packages/components/src/components/breadcrumb/_breadcrumb.scss
  packages/react/src/components/Breadcrumb/Breadcrumb-story.js
  packages/react/src/components/Breadcrumb/Breadcrumb.mdx
  packages/react/src/components/Breadcrumb/BreadcrumbItem.js
Labels: status: ready to merge 🎉

#8165 fix(toast-notification): match updated spec
  packages/components/src/components/notification/_toast-notification.scss
  packages/react/src/components/Notification/Notification-story.js
Labels: status: ready to merge 🎉

#8208 fix(combobox): match "clear selection" icon fill when disabled
  packages/components/src/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#8213 chore(pictograms): add expressive pictogram master, change name of productive pictogram master
  packages/pictograms/master/expressive-pictogram-master.ai
  packages/pictograms/master/productive-pictogram-master.ai
Labels: status: ready to merge 🎉

#8130 fix(ContentSwitcher): resolve text contrast violations
  packages/components/src/components/content-switcher/_content-switcher.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ContentSwitcher/ContentSwitcher-story.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.js
Labels: status: ready to merge 🎉

#8153 fix(ComposedModal): add scrolling content class automatically
  packages/react/src/components/ComposedModal/ComposedModal.js
Labels: status: ready to merge 🎉

#8216 chore: install dco check
  .github/workflows/dco.yml
Labels: status: ready to merge 🎉

#8166 fix(structured-list): top align header text
  packages/components/src/components/structured-list/_structured-list.scss
Labels: status: ready to merge 🎉

#8171 feat(CodeSnippet): add feedbackTimeout prop, z-index fix
  packages/components/src/components/copy-button/_copy-button.scss
  packages/components/src/globals/scss/_tooltip.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet-story.js
  packages/react/src/components/CodeSnippet/CodeSnippet.js
Labels: status: ready to merge 🎉

#8231 chore: use wildcard for dco bot allowlist
  .github/workflows/dco.yml
Labels: status: ready to merge 🎉

#7936 feat(FormGroup): add hasMargin, add story back in
  packages/components/src/components/form/_form.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FormGroup/FormGroup-story.js
  packages/react/src/components/FormGroup/FormGroup.js
  packages/react/src/components/FormGroup/FormGroup.mdx
Labels: status: ready to merge 🎉

#8154 chore(themes): update mixin usage documentation
  packages/themes/README.md
Labels: status: ready to merge 🎉

#8178 refactor(react): update FilterableMultiSelect to match WCAG 2.1 AA
  packages/react/src/components/ListBox/next/ListBoxSelection.js
  packages/react/src/components/ListBox/next/ListBoxTrigger.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
Labels: status: ready to merge 🎉

#8198 fix(date-picker): remove border radius
  packages/components/src/components/date-picker/_flatpickr.scss
Labels: status: ready for review 👀, status: ready to merge 🎉, status: visual review 🔍

#8195 feat(context-menu-item): add support for danger kind
  packages/components/src/components/context-menu/_context-menu.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ContextMenu/ContextMenu-story.js
  packages/react/src/components/ContextMenu/ContextMenu-test.js
  packages/react/src/components/ContextMenu/ContextMenuItem.js
  packages/react/src/components/ContextMenu/ContextMenuOption.js
Labels: status: ready to merge 🎉

#8215 fix(ie11): add ie11 to autoprefixer, add grid: autoplace
  packages/components/gulpfile.js
Labels: status: ready to merge 🎉
