Repository carbon-design-system/carbon, pull requests merged in 2021-02, with the labels that each got.

#7518 fix(ListBox): update listbox components to match spec
  packages/components/src/components/combo-box/_combo-box.scss
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/multi-select/_multi-select.scss
  packages/react/src/components/Dropdown/Dropdown-story.js
  packages/react/src/components/ListBox/ListBoxSelection.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxSelection-test.js.snap
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
Labels: status: ready to merge 🎉, status: visual review 🔍

#7702 feat(type): add experimental support for sass modules
  docs/migration/11.x-type.md
  packages/cli/src/commands/inline.js
  packages/type/index.scss
  packages/type/scss/modules/_classes.scss
  packages/type/scss/modules/_font-family.scss
  packages/type/scss/modules/_prefix.scss
  packages/type/scss/modules/_reset.scss
  packages/type/scss/modules/_scale.scss
  packages/type/scss/modules/_styles.scss
Labels: status: ready to merge 🎉

#7720 chore(release): v10.28.0-rc.0
  config/storybook-preset-carbon/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/themes/package.json
  packages/type/package.json
  packages/upgrade/package.json
  yarn.lock
Labels: status: one more review 👀

#7658 fix(DatePicker): fix warning styles for DatePicker
  packages/components/src/components/date-picker/_date-picker.scss
Labels: status: ready to merge 🎉

#7718 fix(pictograms): update artwork for bar chart
  packages/pictograms/src/svg/chart--bar.svg
Labels: status: ready to merge 🎉

#7698 fix(modal): set modal content position rule
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#7710 chore(project): remove sassdoc commands
  packages/colors/README.md
  packages/colors/docs/sass.md
  packages/colors/package.json
  packages/components/docs/sass.md
  packages/components/package.json
  packages/elements/README.md
  packages/elements/docs/sass.md
  packages/elements/package.json
  packages/grid/README.md
  packages/grid/docs/sass.md
  packages/grid/package.json
  packages/icons/README.md
  packages/icons/docs/contributing.md
  packages/icons/docs/sass.md
  packages/icons/package.json
  packages/import-once/README.md
  packages/import-once/docs/sass.md
  packages/import-once/package.json
  packages/layout/README.md
  packages/layout/docs/sass.md
  packages/layout/package.json
  packages/motion/README.md
  packages/motion/docs/sass.md
  packages/motion/package.json
  packages/themes/README.md
  packages/themes/docs/sass.md
  packages/themes/package.json
  packages/type/README.md
  packages/type/docs/sass.md
  packages/type/package.json
Labels: status: ready to merge 🎉

#7728 fix(CodeSnippet): preserve whitespace in single, inline variants
  packages/components/src/components/code-snippet/_code-snippet.scss
Labels: status: ready to merge 🎉

#7695 fix(inline-notification): remove ghost button color override
  packages/components/src/components/notification/_inline-notification.scss
Labels: status: ready to merge 🎉

#7711 fix(sketch): resolve icon sync artwork issues
  packages/sketch/src/commands/icons/shared.js
  packages/sketch/src/commands/icons/sync.js
  packages/sketch/src/commands/test/sync-symbol-id.js
  packages/sketch/src/tools/symbols.js
Labels: status: ready to merge 🎉

#7725 fix(multi-select): prevent flex child from overflowing from container
  packages/components/src/components/list-box/_list-box.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#7739 chore(release): v10.28.0
  config/storybook-preset-carbon/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/import-once/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/scss-generator/package.json
  packages/sketch/package.json
  packages/themes/package.json
  packages/type/package.json
  packages/upgrade/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#7722 fix(FilterableMultiSelect): extend input outline to trigger button area
  packages/components/src/components/multi-select/_multi-select.scss
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
Labels: status: ready to merge 🎉

#7740 fix(multi-select): remove left padding on filterable input after selection
  packages/components/src/components/multi-select/_multi-select.scss
Labels: status: ready to merge 🎉

#7699 style(Themes): update skeleton-02 value in g100 theme
  packages/themes/src/g100.js
Labels: status: ready to merge 🎉

#7730 fix(react): update table header unique id to use stable id
  packages/react/src/components/DataTable/TableHeader.js
Labels: status: ready to merge 🎉

#7752 fix(Toggle): support labels for small toggles
  packages/react/src/components/Toggle/Toggle-test.js
  packages/react/src/components/Toggle/Toggle.js
Labels: status: ready to merge 🎉

#7764 fix(UIShellLink): prevent isSideNavExpanded prop from spreading to Link
  packages/react/src/components/UIShell/Link.js
Labels: status: ready to merge 🎉

#7761 feat(eslint): add rule for curly braces
  config/eslint-config-carbon/base.js
  config/eslint-config-carbon/rules/best-practices.js
  packages/cli/src/commands/sassdoc/tools.js
  packages/components/gulpfile.js
  packages/components/tests/pure-modules-test.js
  packages/icon-build-helpers/src/builders/plugins/virtual.js
  packages/react/src/components/DataTable/tools/filter.js
  packages/react/src/components/DatePicker/DatePicker.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect-story.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/Tile/Tile.js
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#7745 fix(TableToolbarSearch): TableToolbarSearch & Search placeholder prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/TableToolbarSearch.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Form/Form-story.js
  packages/react/src/components/Search/Search-story.js
  packages/react/src/components/Search/Search-test.js
  packages/react/src/components/Search/Search.js
Labels: status: ready to merge 🎉

#7726 style(DataTable): fix sortable table header padding
  packages/components/src/components/data-table/_data-table-core.scss
Labels: status: ready to merge 🎉

#7733 feat(ComboBox): support warning state
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox-story.js
  packages/react/src/components/ComboBox/ComboBox.js
Labels: status: ready to merge 🎉

#7756 feat(ui-shell): add side-nav-divider component
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/UIShell/SideNavDivider.js
  packages/react/src/components/UIShell/UIShell-story.js
  packages/react/src/components/UIShell/index.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#7770 feat(theme): add link02 token
  packages/components/src/components/data-table/_data-table-core.scss
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/stories/shared.js
  packages/themes/metadata.yml
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#7582 fix(react CodeSnippet): only display showMore if more then 15 rows
  .all-contributorsrc
  README.md
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/react/src/components/CodeSnippet/__tests__/CodeSnippet-test.js
Labels: status: ready to merge 🎉

#7776 fix(react): initialize highlightedIndex for Downshift
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
Labels: status: ready to merge 🎉

#7753 fix(toggle): adjust disabled toggle styles in data table
  packages/components/src/components/toggle/_toggle.scss
Labels: status: ready for review 👀, status: ready to merge 🎉, status: visual review 🔍

#7774 fix(components): include side effects from src for rollup resolution
  packages/components/package.json
Labels: status: ready to merge 🎉

#7763 fix(ClickableTile): use Link
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/Tile/Tile.js
Labels: status: ready to merge 🎉

#7785 fix: update listbox titleText proptypes to match Dropdown
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: ready to merge 🎉

#7767 style(rtlcss): update rtl blocks for better compatibility
  packages/components/src/components/accordion/_accordion.scss
  packages/components/src/components/checkbox/_checkbox.scss
Labels: status: ready to merge 🎉

#7783 Delete .npmignore
  packages/storybook-addon-carbon-theme/.npmignore
Labels: status: ready to merge 🎉

#7782 feat(motion): add duration tokens to motion
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/motion/__tests__/__snapshots__/motion-test.js.snap
  packages/motion/__tests__/motion-test.js
  packages/motion/scss/motion.scss
  packages/motion/src/index.js
Labels: status: ready to merge 🎉

#7788 feat(type): nest values in breakpoint object
  packages/type/src/__tests__/__snapshots__/styles-test.js.snap
  packages/type/src/styles.js
Labels: status: ready to merge 🎉

#7789 Add aria-hidden to visually hidden batch action toolbar
  packages/react/src/components/DataTable/TableBatchActions.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
Labels: status: ready to merge 🎉

#7799 fix(PasswordInput): add missing button class
  packages/react/src/components/TextInput/ControlledPasswordInput.js
Labels: status: ready to merge 🎉

#7794 fix(ProgressIndicator): add description title to warning icon
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: ready to merge 🎉

#7762 fix(sketch): resolve sketch plugin color layer style duplication
  packages/sketch/src/commands/colors/generate.js
  packages/sketch/src/commands/colors/sync.js
  packages/sketch/src/commands/icons/shared.js
  packages/sketch/src/commands/test/sync-shared-styles.js
  packages/sketch/src/commands/themes/generate.js
  packages/sketch/src/commands/themes/sync.js
  packages/sketch/src/sharedStyles/colors.js
  packages/sketch/src/sharedStyles/themes.js
  packages/sketch/src/tools/sharedStyles.js
Labels: status: ready to merge 🎉

#7796 Update icons.yml
  packages/icons/icons.yml
Labels: status: one more review 👀, status: ready for review 👀

#7801 fix(component-tokens): only emit static values in emit-component-tokens
  packages/components/src/globals/scss/_component-tokens.scss
Labels: status: ready to merge 🎉

#7812 fix(guidelines): avt1 aria label mismatch
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#7810 fix(storybook): filter enabled addons
  config/storybook-preset-carbon/index.js
Labels: status: ready to merge 🎉

#7661 fix(Loading): fix safari specific issues w/ small loading
  packages/components/src/components/loading/_loading.scss
Labels: status: ready to merge 🎉

#7806 updated master from last pr
  packages/pictograms/master/pictogram-master.ai
Labels: status: ready to merge 🎉

#7808 feat(notification): support component tokens
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/components/src/components/notification/_tokens.scss
  packages/components/src/globals/scss/_theme-tokens.scss
  packages/react/.storybook/styles.scss
Labels: status: ready to merge 🎉

#7811 refactor(grid): add experimental sass modules
  docs/migration/11.x-grid.md
  packages/grid/__tests__/__snapshots__/scss-test.js.snap
  packages/grid/__tests__/scss-test.js
  packages/grid/index.scss
  packages/grid/scss/modules/_breakpoint.scss
  packages/grid/scss/modules/_config.scss
  packages/grid/scss/modules/_mixins.scss
  packages/test-utils/src/renderer.js
Labels: status: ready to merge 🎉

#7838 fix(OverflowMenu): resolve child.props NPE
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#7775 feat(Modal): implement support for 3 button modals
  packages/components/src/components/modal/_modal.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal-story.js
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/Modal/Modal-story.js
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: ready to merge 🎉

#7834 fix(DatePicker): allow locale object to be passed in to flatpickr
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#7825 Support aria-labelledby in ComposeDialog in order to handle accessibility violation
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal.js
Labels: status: ready to merge 🎉

#7653 chore(docs): add link to CodeSnippet prop documentation
  packages/react/src/components/CodeSnippet/CodeSnippet.mdx
Labels: status: one more review 👀

#7784 feat(button): add selected state to icon only ghost button
  packages/components/src/components/button/_button.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button-story.js
  packages/react/src/components/Button/Button.js
Labels: status: ready to merge 🎉

#7832 fix(list-box): update hover active item background color
  packages/components/src/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#7862 fix(icons-vue): update import for vue 2/3 interop
  packages/icon-build-helpers/src/builders/vue/utils.js
Labels: status: ready to merge 🎉

#7877 docs(DatePicker): update proptypes for locale, update dependency
  .yarn/cache/flatpickr-npm-4.6.9-9928816e33-ffcbe9ab04.zip
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/package.json
  packages/react/src/components/DatePicker/DatePicker.js
  yarn.lock
Labels: status: ready to merge 🎉

#7864 fix(UIShell): fix voiceover issue with closed SideNav
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Labels: status: ready to merge 🎉

#7687 feat(number-input): update number input controls to new spec
  packages/components/src/components/number-input/_number-input.scss
  packages/react/src/components/NumberInput/NumberInput-test.js
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge 🎉

#7890 fix(HeaderContainer): use previous state
  packages/react/src/components/UIShell/HeaderContainer.js
Labels: status: ready to merge 🎉

#7886 fix(radio-button): avoid outline cutoff in hidden overflow containers
  packages/components/src/components/radio-button/_radio-button.scss
Labels: status: ready to merge 🎉

#7855 fix(DataTableSkeleton): fix support for visible headers
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton-story.js
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton.js
Labels: status: ready to merge 🎉

#7865 fix(TextInput): match skeleton state to other form elements
  packages/components/src/components/text-input/_text-input.scss
  packages/react/src/components/TextInput/TextInput-story.js
Labels: status: ready to merge 🎉

#7900 fix(button): set aria-pressed to props.isSelected for icon-only ghost
  packages/react/src/components/Button/Button.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: ready to merge 🎉

#7904 fix(RadioButton): remove empty span if label text is falsey
  packages/react/src/components/RadioButton/RadioButton.js
Labels: status: ready to merge 🎉

#7887 fix(checkbox): avoid outline cutoff in hidden overflow containers
  packages/components/src/components/checkbox/_checkbox.scss
Labels: status: ready to merge 🎉

#7876 fix(AccordionItem): animate open/close when `open` prop is specified
  packages/react/src/components/Accordion/AccordionItem.js
Labels: status: ready to merge 🎉

#7889 fix(MultiSelect): adds and updates list item aria, fixes type bug w/ itemToString
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: status: ready to merge 🎉

#7843 docs(OverflowMenu): update docs
  packages/react/src/components/OverflowMenu/OverflowMenu-story.js
  packages/react/src/components/OverflowMenu/OverflowMenu.mdx
  packages/react/src/components/OverflowMenu/README.md
Labels: status: ready to merge 🎉

#7863 fix(Pagination): fix scrollbar issue
  packages/components/src/components/pagination/_pagination.scss
Labels: status: ready to merge 🎉

#7893 chore(social): update social share link
  packages/react/.storybook/manager-head.html
Labels: status: ready to merge 🎉

#7846 feat(RadioButtonGroup): add new legendText prop, refactor stories
  packages/components/src/components/radio-button/_radio-button.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/RadioButton/RadioButton-story.js
  packages/react/src/components/RadioButton/RadioButton.mdx
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-story.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-test.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.mdx
Labels: status: ready to merge 🎉

#7888 fix(DataTable): fix padding issue when only some headers are sortable
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-sort.scss
Labels: status: ready to merge 🎉

#7907 chore(dev): update vanilla server to use updated path-to-RegExp commands
  packages/components/server.js
Labels: status: ready to merge 🎉

#7917 fix(tabs): remove Safari specific overflow indicator margins
  packages/components/src/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉
