Repository carbon-design-system/carbon, pull requests merged in 2021-05, with the labels that each got.

#8489 feat(HCM): add HCM mixin, use `forced-colors`
  packages/components/src/components/accordion/_accordion.scss
  packages/components/src/components/button/_button.scss
  packages/components/src/components/button/_mixins.scss
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/components/src/components/content-switcher/_content-switcher.scss
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/components/src/components/data-table/_data-table-sort.scss
  packages/components/src/components/date-picker/_date-picker.scss
  packages/components/src/components/date-picker/_flatpickr.scss
  packages/components/src/components/dropdown/_dropdown.scss
  packages/components/src/components/file-uploader/_file-uploader.scss
  packages/components/src/components/list-box/_list-box.scss
  packages/components/src/components/modal/_modal.scss
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/components/src/components/number-input/_number-input.scss
  packages/components/src/components/overflow-menu/_overflow-menu.scss
  packages/components/src/components/pagination/_pagination.scss
  packages/components/src/components/search/_search.scss
  packages/components/src/components/select/_select.scss
  packages/components/src/components/slider/_slider.scss
  packages/components/src/components/structured-list/_structured-list.scss
  packages/components/src/components/tabs/_tabs.scss
  packages/components/src/components/tag/_tag.scss
  packages/components/src/components/text-input/_text-input.scss
  packages/components/src/components/tile/_tile.scss
  packages/components/src/components/toggle/_toggle.scss
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/components/ui-shell/_header.scss
  packages/components/src/components/ui-shell/_side-nav.scss
  packages/components/src/globals/scss/_helper-mixins.scss
Labels: status: ready to merge 🎉, type: a11y ♿

#8503 fix(tooltip): prevent propagation of escape when open
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge 🎉

#8461 fix(tooltip): tooltip margin bug
  packages/components/src/components/tooltip/_tooltip.scss
  packages/react/src/internal/FloatingMenu.js
Labels: status: ready to merge 🎉

#8510 fix(modal): add safari media query for overflow indicator
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#8528 fix(text-input): increase disabled password toggle specificity
  packages/components/src/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉

#8517 feat(codemods): add codemod for updating icons packages
  .prettierignore
  codemods/transforms/__testfixtures__/icons-react-size-prop-rename.input.js
  codemods/transforms/__testfixtures__/icons-react-size-prop-rename.output.js
  codemods/transforms/__testfixtures__/icons-react-size-prop-with-prop.input.js
  codemods/transforms/__testfixtures__/icons-react-size-prop-with-prop.output.js
  codemods/transforms/__tests__/icons-react-size-prop.js
  codemods/transforms/icons-react-size-prop.js
  docs/migration/11.x-carbon-icons-react.md
Labels: status: ready to merge 🎉

#8529 fix(Tile): revert border 'fix'
  packages/components/src/components/tile/_tile.scss
  packages/react/src/components/Tile/Tile-story.js
  packages/react/src/components/Tile/tile-story.scss
Labels: status: ready to merge 🎉

#8538 fix(components): update component tokens to not include reset
  packages/components/src/components/notification/_tokens.scss
  packages/components/src/components/tag/_tokens.scss
Labels: status: ready to merge 🎉

#8570 feat(codemod): add in codemod for size prop updates
  codemods/transforms/__testfixtures__/size-prop-update.input.js
  codemods/transforms/__testfixtures__/size-prop-update.output.js
  codemods/transforms/__tests__/size-prop-update-test.js
  codemods/transforms/size-prop-update.js
  packages/components/src/components/data-table/_data-table-action.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/TableToolbar.js
Labels: status: ready to merge 🎉

#8586 docs(carbon-react): add README and initial sass config docs
  .yarn/cache/sass-npm-1.32.12-a25605e22b-01ddd4abce.zip
  .yarn/cache/sass-npm-1.32.8-6b113b5d20-a4d67e6be7.zip
  packages/carbon-react/README.md
  packages/carbon-react/docs/sass.md
  packages/carbon-react/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8537 feat(Search): customize icon
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Search/Search.js
Labels: status: ready to merge 🎉

#8543 feat(Tokens): add expressive tokens
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g80.js
  packages/themes/src/g90.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
  packages/type/scss/_styles.scss
  packages/type/src/__tests__/__snapshots__/styles-test.js.snap
  packages/type/src/__tests__/exports-test.js
  packages/type/src/styles.js
  packages/type/src/tokens.js
Labels: status: ready to merge 🎉

#8585 fix(button): ignore fill="none" paths on icon svgs
  packages/components/src/components/button/_button.scss
  packages/components/src/components/button/_mixins.scss
  packages/react/src/components/Button/Button-story.js
Labels: status: ready to merge 🎉

#8578 fix(BreadcrumbItem): do not overwrite child className
  packages/react/src/components/Breadcrumb/BreadcrumbItem.js
Labels: status: ready to merge 🎉

#8631 docs: broken link to developer handbook
  .github/CONTRIBUTING.md
Labels: status: ready to merge 🎉

#8612 feat(TooltipIcon): support `renderIcon`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TooltipIcon/TooltipIcon-story.js
  packages/react/src/components/TooltipIcon/TooltipIcon.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#8577 fix(Tooltip): remove pointer from TooltipDefinition, add disabled TooltipIcon
  packages/components/src/components/tooltip/_tooltip.scss
  packages/components/src/globals/scss/_tooltip.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TooltipIcon/TooltipIcon-story.js
  packages/react/src/components/TooltipIcon/TooltipIcon.js
  packages/react/src/components/TooltipIcon/__snapshots__/TooltipIcon-test.js.snap
Labels: status: ready to merge 🎉

#8469 refactor(toggle): create v11 toggle
  packages/components/src/components/toggle/_toggle.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Toggle/Toggle-test.js
  packages/react/src/components/Toggle/index.js
  packages/react/src/components/Toggle/next/Toggle-test.js
  packages/react/src/components/Toggle/next/Toggle.js
Labels: status: ready to merge 🎉

#8641 fix(Tooltip): make screenreader description less verbose
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge 🎉

#8659 docs: add release partners guide
  docs/guides/release-partners.md
Labels: status: ready to merge 🎉

#8660 refactor(project): update enable-2021-release to enable-v11-release
  packages/components/src/components/structured-list/_structured-list.scss
  packages/components/src/globals/scss/_feature-flags.scss
  packages/components/src/globals/scss/_theme-tokens.scss
  packages/components/src/globals/scss/styles.scss
  packages/feature-flags/feature-flags.yml
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button.js
  packages/react/src/components/Checkbox/Checkbox-story.js
  packages/react/src/components/Checkbox/Checkbox.js
  packages/react/src/components/Search/Search-story.js
  packages/react/src/components/Search/Search.js
  packages/react/src/components/StructuredList/index.js
  packages/react/src/components/Toggle/index.js
Labels: status: ready to merge 🎉

#8588 docs(feature-flags): add in guide for using feature-flags
  docs/migration/v11.x.md
Labels: status: ready to merge 🎉

#8477 feat(Button, OrderedList, UnorderedList): add expressive styles
  packages/components/src/components/button/_button.scss
  packages/components/src/components/list/_list.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button-story.js
  packages/react/src/components/Button/Button.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  packages/react/src/components/OrderedList/OrderedList-story.js
  packages/react/src/components/OrderedList/OrderedList.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
  packages/react/src/components/UnorderedList/UnorderedList-story.js
  packages/react/src/components/UnorderedList/UnorderedList.js
Labels: status: ready to merge 🎉

#8652 fix(number-input): hide light variant stepper pseudoelements on focus
  packages/components/src/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#8669 docs(Tag): remove test story
  packages/react/src/components/Tag/Tag-story.js
Labels: status: ready to merge 🎉

#8639 fix(sketch): avoid repositioning preexisting icon artboards
  packages/sketch/src/tools/symbols.js
Labels: status: ready for review 👀, status: ready to merge 🎉, status: visual review 🔍

#8597 fix(support-02): update support-02 to green60 in light themes
  packages/themes/src/g10.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#8656 fix(DataTable): expand + select padding
  packages/components/src/components/data-table/_data-table-core.scss
  packages/components/src/components/data-table/_data-table-expandable.scss
  packages/react/src/components/DataTable/stories/dynamic-content/DataTable-dynamic-content-story.js
Labels: status: ready to merge 🎉

#8646 feat(number-input): add option to hide steppers
  packages/components/src/components/number-input/_number-input.scss
  packages/react/src/components/NumberInput/NumberInput-story.js
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge 🎉

#8462 feat(FileUploader): FileUploader size prop update
  packages/components/src/components/file-uploader/_file-uploader.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FileUploader/FileUploader-story.js
  packages/react/src/components/FileUploader/FileUploader.js
  packages/react/src/components/FileUploader/FileUploaderButton.js
  packages/react/src/components/FileUploader/FileUploaderDropContainer.js
  packages/react/src/components/FileUploader/FileUploaderItem.js
Labels: status: ready to merge 🎉

#8674 docs(release-partners): update to include feature flag link
  docs/guides/release-partners.md
Labels: status: ready to merge 🎉

#8661 fix(type): update tokens to include new expressive tokens
  packages/type/scss/_styles.scss
Labels: status: ready to merge 🎉

#8675 chore(toggle): update feature flag used
  packages/components/src/components/toggle/_toggle.scss
Labels: status: ready to merge 🎉

#8368 feat(PasswordInput): sync input type prop and state
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/ControlledPasswordInput-test.js
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/TextInput/PasswordInput.js
  packages/react/src/components/TextInput/TextInput-story.js
Labels: status: ready to merge 🎉

#8670 fix(colors): update classic sass file variable initialization
  packages/colors/tasks/build.js
Labels: status: ready to merge 🎉

#8655 fix(TooltipDefinition): sync hidden state with other tooltip components
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition-story.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition.js
  packages/react/src/components/TooltipDefinition/__snapshots__/TooltipDefinition-test.js.snap
Labels: status: ready to merge 🎉

#8679 style(List): change from body-short-01 to body-long-01
  packages/components/src/components/list/_list.scss
Labels: status: ready to merge 🎉

#8315 feat(DatePicker): add disable, enable flatpickr options
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker-story.js
  packages/react/src/components/DatePicker/DatePicker.js
  packages/react/src/components/DatePicker/DatePicker.mdx
Labels: status: ready to merge 🎉

#8682 chore(carbon-react): set hoisting limit to workspace
  packages/carbon-react/package.json
Labels: status: ready to merge 🎉

#8683 chore(release): v10.35.0
  config/jest-config-carbon/package.json
  config/storybook-preset-carbon/package.json
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8673 fix(PasswordInput): resolve visibility toggle style issues
  packages/components/src/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉

#8446 feat(StructuredList): add prop for condensed list
  packages/components/src/components/structured-list/_mixins.scss
  packages/components/src/components/structured-list/_structured-list.scss
  packages/react/src/components/StructuredList/StructuredList-story.js
  packages/react/src/components/StructuredList/StructuredList.js
Labels: status: ready to merge 🎉

#8686 fix(button): explicitly set width for expressive theme
  packages/components/src/components/button/_button.scss
Labels: status: ready to merge 🎉

#8705 feat(datepicker): add onOpen callback
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker-story.js
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#8694 fix(Modal): Increase Overflow menu options z-index with modal open
  packages/components/src/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#8651 feat(styles): add global utilities to @carbon/styles
  packages/styles/scss/utilities/_box-shadow.scss
  packages/styles/scss/utilities/_button-reset.scss
  packages/styles/scss/utilities/_component-reset.scss
  packages/styles/scss/utilities/_convert.scss
  packages/styles/scss/utilities/_focus-outline.scss
  packages/styles/scss/utilities/_high-contrast-mode.scss
  packages/styles/scss/utilities/_index.scss
  packages/styles/scss/utilities/_keyframes.scss
  packages/styles/scss/utilities/_placeholder-colors.scss
  packages/styles/scss/utilities/_rotate.scss
  packages/styles/scss/utilities/_skeleton.scss
  packages/styles/scss/utilities/_text-overflow.scss
  packages/styles/scss/utilities/_text-truncate.scss
  packages/styles/scss/utilities/_tooltip.scss
  packages/styles/scss/utilities/_visually-hidden.scss
  packages/styles/scss/utilities/_z-index.scss
Labels: status: ready to merge 🎉

#8717 docs(TooltipDefinition): remove test button
  packages/react/src/components/TooltipDefinition/TooltipDefinition-story.js
Labels: status: ready to merge 🎉

#8169 feat: generalize menu component
  packages/components/src/components/menu/_menu.scss
  packages/components/src/globals/scss/styles.scss
  packages/react/.storybook/styles.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/ContextMenu/ContextMenu-story.js
  packages/react/src/components/ContextMenu/ContextMenu-test.js
  packages/react/src/components/ContextMenu/_utils.js
  packages/react/src/components/ContextMenu/index.js
  packages/react/src/components/ContextMenu/useContextMenu.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/Menu/Menu-test.js
  packages/react/src/components/Menu/Menu.js
  packages/react/src/components/Menu/MenuDivider.js
  packages/react/src/components/Menu/MenuGroup.js
  packages/react/src/components/Menu/MenuItem.js
  packages/react/src/components/Menu/MenuOption.js
  packages/react/src/components/Menu/MenuRadioGroup.js
  packages/react/src/components/Menu/MenuRadioGroupOptions.js
  packages/react/src/components/Menu/MenuSelectableItem.js
  packages/react/src/components/Menu/_storybook-utils.js
  packages/react/src/components/Menu/_utils.js
  packages/react/src/components/Menu/index.js
  packages/react/src/components/OverflowMenu/OverflowMenu-story.js
  packages/react/src/components/OverflowMenu/index.js
  packages/react/src/components/OverflowMenu/next/OverflowMenu-story.js
  packages/react/src/components/OverflowMenu/next/OverflowMenu.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#8708 fix(dropdown): show selected item in menu
  packages/components/src/components/dropdown/_dropdown.scss
Labels: status: ready to merge 🎉

#8700 refactor(sharedStyles): use param object instead of list of params
  packages/sketch/src/commands/icons/shared.js
  packages/sketch/src/commands/test/sync-shared-styles.js
  packages/sketch/src/sharedStyles/type.js
  packages/sketch/src/tools/sharedStyles.js
Labels: status: ready to merge 🎉

#8714 feat(tokens): add layer interaction tokens
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g80.js
  packages/themes/src/g90.js
  packages/themes/src/tokens.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#8709 feat(codemod): update support for object properties
  codemods/transforms/__testfixtures__/icons-react-size-prop-object-key.input.js
  codemods/transforms/__testfixtures__/icons-react-size-prop-object-key.output.js
  codemods/transforms/__tests__/icons-react-size-prop.js
  codemods/transforms/icons-react-size-prop.js
  docs/migration/11.x-carbon-icons-react.md
Labels: status: ready to merge 🎉

#8324 fix(Tooltip): v11 (next) accessibility refactor
  packages/components/src/components/popover/_popover.scss
  packages/components/src/components/tooltip/_tooltip.scss
  packages/react/src/components/Popover/index.js
  packages/react/src/components/Tooltip/next/Tooltip-story.js
  packages/react/src/components/Tooltip/next/Tooltip.js
  packages/react/src/internal/__tests__/useDelayedState-test.js
  packages/react/src/internal/useDelayedState.js
Labels: status: ready to merge 🎉

#8671 feat(Layout): add container sizing tokens
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/layout/src/index.js
  packages/layout/src/tokens.js
  packages/layout/tasks/build.js
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g80.js
  packages/themes/src/g90.js
  packages/themes/src/v9.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#8734 fix(structured-list): remove icon from hover state
  packages/components/src/components/structured-list/_structured-list.scss
Labels: status: ready to merge 🎉

#8753 chore(release): v10.36.0-rc.0
  config/babel-preset-carbon/package.json
  config/eslint-config-carbon/package.json
  config/jest-config-carbon/package.json
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/test-utils/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8724 fix(icon-build-helpers): support glyph-only assets
  packages/icon-build-helpers/src/builders/react/next.js
  packages/icon-build-helpers/src/metadata/extensions/output/index.js
Labels: status: ready to merge 🎉

#8747 fix(DatePicker): avoid unknown attribute on div
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#8750 fix(ContentSwitcher): enable title by default
  packages/react/src/components/Switch/Switch.js
Labels: status: ready to merge 🎉

#8752 fix(MultiSelect.Filterable): onMenuChange is not being called
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
Labels: status: ready to merge 🎉

#8736 ci: update build to exclude sketch package
  .circleci/config.yml
  .yarn/cache/block-stream-npm-0.0.9-ce3ced9c02-72733cbb81.zip
  .yarn/cache/cross-spawn-npm-3.0.1-d5fa5e805a-a029a50286.zip
  .yarn/cache/fstream-npm-1.0.12-db27e8a713-e6998651ae.zip
  .yarn/cache/node-gyp-npm-3.8.0-34b3928909-e99d740db6.zip
  .yarn/cache/node-sass-npm-4.13.1-c5583e43b2-a7510a0f34.zip
  .yarn/cache/semver-npm-5.3.0-520e1d15f2-2717b14299.zip
  .yarn/cache/tar-npm-2.2.2-0ce6504da4-c0c3727d52.zip
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8560 refactor(notification): improve accessibility
  .yarn/cache/@testing-library-user-event-npm-12.2.0-c7dc0ec267-e0133824cd.zip
  .yarn/cache/@testing-library-user-event-npm-13.1.9-52402725e6-3a910ba206.zip
  package.json
  packages/carbon-react/src/feature-flags.js
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Notification/Notification-test.js
  packages/react/src/components/Notification/index.js
  packages/react/src/components/Notification/next/Notification-test.js
  packages/react/src/components/Notification/next/Notification.js
  packages/react/src/internal/useNoInteractiveChildren.js
  yarn.lock
Labels: status: ready to merge 🎉

#8762 feat(colors): implement `syncColorVariables` command
  packages/sketch/src/commands/colors/index.js
  packages/sketch/src/commands/colors/sync.js
  packages/sketch/src/commands/index.js
  packages/sketch/src/manifest.json
  packages/sketch/src/sharedStyles/colors.js
  packages/sketch/src/tools/colorVariables.js
Labels: status: ready to merge 🎉

#8772 chore(release): v10.36.0
  config/babel-preset-carbon/package.json
  config/eslint-config-carbon/package.json
  config/jest-config-carbon/package.json
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/test-utils/package.json
  packages/themes/package.json
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#8773 docs(Popover): add basic documentation
  packages/react/src/components/Popover/README.md
Labels: status: ready to merge 🎉

#8638 fix(Tile): prevent spacebar in textinput from closing ExpandableTile
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tile/Tile-story.js
  packages/react/src/components/Tile/Tile.js
Labels: status: ready to merge 🎉

#8713 fix(Tooltip): prevent focus hijacking by other tooltips with focus trap
  packages/react/src/components/Tooltip/Tooltip-story.js
  packages/react/src/components/Tooltip/Tooltip.js
Labels: status: ready to merge 🎉

#8721 fix(DataTableSkeleton): use consistent header data shape
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton-story.js
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton.js
Labels: status: ready to merge 🎉

#8796 fix(eslint-config): include rules in files source array
  config/eslint-config-carbon/package.json
Labels: status: ready to merge 🎉

#8723 docs(Storybook): update storybook GitHub links
  packages/react/src/components/CodeSnippet/CodeSnippet.mdx
  packages/react/src/components/ComboBox/ComboBox.mdx
  packages/react/src/components/CopyButton/CopyButton.mdx
  packages/react/src/components/FormGroup/FormGroup.mdx
  packages/react/src/components/FormLabel/FormLabel.mdx
  packages/react/src/components/Heading/Heading.mdx
Labels: status: ready to merge 🎉
