Repository carbon-design-system/carbon, pull requests merged in 2022-11, with the labels that each got.

#12411 fix(TextArea): adds character counter alert
  packages/react/src/components/TextArea/TextArea.js
  packages/styles/scss/components/text-area/_text-area.scss
Labels: status: ready to merge 🎉

#12452 fix(radiobuttongroup): support checked prop in radiobutton
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-test.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.js
Labels: status: ready to merge 🎉

#12462 feat(Modal): add isFullWidth prop
  e2e/components/ComposedModal/ComposedModal-test.e2e.js
  e2e/components/Modal/Modal-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/Modal/Modal.stories.js
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#12396 fix(v10): adjust disabled button style in batch action bar
  packages/components/src/components/data-table/_data-table-action.scss
  packages/styles/scss/components/data-table/action/_data-table-action.scss
Labels: status: ready to merge 🎉

#12502 fix(text-area): cols attribute
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/TextArea/TextArea-test.js
  packages/react/src/components/TextArea/TextArea.js
  packages/react/src/components/TextArea/TextArea.stories.js
  packages/styles/scss/components/text-area/_text-area.scss
Labels: status: ready to merge 🎉

#12247 feat(FluidDatePicker): implement `FluidDatePicker`
  e2e/components/FluidDatePicker/FluidDatePicker-test.e2e.js
  packages/carbon-components-react/scss/components/fluid-date-picker/_fluid-date-picker.scss
  packages/carbon-components-react/scss/components/fluid-date-picker/_index.scss
  packages/carbon-components/scss/components/fluid-date-picker/_fluid-date-picker.scss
  packages/carbon-components/scss/components/fluid-date-picker/_index.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/scss/components/fluid-date-picker/_fluid-date-picker.scss
  packages/react/scss/components/fluid-date-picker/_index.scss
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/DatePicker/DatePicker.js
  packages/react/src/components/DatePickerInput/DatePickerInput.js
  packages/react/src/components/FluidDatePicker/FluidDatePicker.js
  packages/react/src/components/FluidDatePicker/FluidDatePicker.stories.js
  packages/react/src/components/FluidDatePicker/__tests__/FluidDatePicker-test.js
  packages/react/src/components/FluidDatePicker/index.js
  packages/react/src/components/FluidDatePickerInput/FluidDatePickerInput.js
  packages/react/src/components/FluidDatePickerInput/index.js
  packages/react/src/components/FluidForm/FluidForm.stories.js
  packages/react/src/index.js
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/files.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/date-picker/_date-picker.scss
  packages/styles/scss/components/fluid-date-picker/_fluid-date-picker.scss
  packages/styles/scss/components/fluid-date-picker/_index.scss
  packages/styles/scss/components/fluid-text-area/_fluid-text-area.scss
Labels: status: ready to merge 🎉

#12435 Readonly MultiSelect
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ListBox/ListBoxSelection.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
  packages/styles/scss/components/multiselect/_multiselect.scss
Labels: status: ready to merge 🎉

#12567 fix(date-picker): close calendar w enter and escape
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#12512 fix(input): override Chrome autocomplete styles
  packages/react/src/components/TextInput/TextInput.stories.js
  packages/styles/scss/components/form/_form.scss
Labels: status: ready to merge 🎉

#12450 chore(skeleton): add storybook playground story and cleanup
  packages/react/src/components/Skeleton/next/Skeleton.stories.js
  packages/react/src/components/SkeletonIcon/SkeletonIcon.stories.js
  packages/react/src/components/SkeletonPlaceholder/SkeletonPlaceholder-story.js
  packages/react/src/components/SkeletonPlaceholder/SkeletonPlaceholder.js
  packages/react/src/components/SkeletonPlaceholder/SkeletonPlaceholder.mdx
  packages/react/src/components/SkeletonPlaceholder/SkeletonPlaceholder.stories.js
  packages/react/src/components/SkeletonText/SkeletonText-story.js
  packages/react/src/components/SkeletonText/SkeletonText.js
  packages/react/src/components/SkeletonText/SkeletonText.mdx
  packages/react/src/components/SkeletonText/SkeletonText.stories.js
Labels: status: ready to merge 🎉

#12585 chore(icon): add playground story
  packages/react/src/components/Icons/Icons.stories.js
Labels: status: ready to merge 🎉

#12511 docs(popover): remove next folder
  packages/react/src/components/Popover/Popover.mdx
  packages/react/src/components/Popover/Popover.stories.js
  packages/react/src/components/Popover/story.scss
Labels: status: ready to merge 🎉

#12485 feat(FluidDatePicker): add `FluidDatePickerSkeleton` variant
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/FluidDatePicker/FluidDatePicker.Skeleton.js
  packages/react/src/components/FluidDatePicker/FluidDatePicker.stories.js
  packages/react/src/components/FluidDatePicker/index.js
  packages/react/src/index.js
  packages/styles/scss/components/fluid-date-picker/_fluid-date-picker.scss
Labels: status: ready to merge 🎉

#12571 chore(textarea): cleanup playground story
  packages/react/src/components/TextArea/TextArea.stories.js
Labels: status: ready to merge 🎉

#12474 feat(overflow-menu): add storybook controls
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/OverflowMenu/OverflowMenu-story.js
  packages/react/src/components/OverflowMenu/OverflowMenu.stories.js
  packages/react/src/components/OverflowMenu/index.js
  packages/react/src/components/OverflowMenu/next/OverflowMenu.stories.js
Labels: status: ready to merge 🎉

#12587 chore(storybook): remove next folders cleanup
  packages/react/src/components/ContentSwitcher/next/ContentSwitcher-story.js
  packages/react/src/components/ContentSwitcher/next/index.js
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton-story.js
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton.stories.js
  packages/react/src/components/Theme/Theme-story.scss
  packages/react/src/components/Theme/Theme.mdx
  packages/react/src/components/Theme/Theme.stories.js
Labels: role: dev 🤖, status: ready to merge 🎉

#12574 chore(storybook): update Datatable with Overflow Menu story
  packages/react/src/components/DataTable/stories/DataTable-toolbar.stories.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#12506 docs(tile): update storybook hide light prop
  packages/react/src/components/Tile/Tile.stories.js
Labels: status: ready to merge 🎉

#12473 feat(progress-indicator): add storybook controls
  packages/react/src/components/ProgressIndicator/ProgressIndicator.stories.js
Labels: status: ready to merge 🎉

#12514 docs(typescript): adding component types
  docs/guides/adding-component-types.md
  docs/guides/versioning.md
Labels: role: dev 🤖, status: ready to merge 🎉

#12592 chore(progress-bar): clean up storybook
  packages/react/src/components/ProgressBar/ProgressBar.stories.js
  packages/react/src/components/ProgressBar/next/ProgressBar.stories.js
Labels: status: ready to merge 🎉

#12509 fix(data-table): remove checkbox custom focus styles
  packages/styles/scss/components/data-table/_data-table.scss
Labels: status: ready to merge 🎉

#12590 chore(structured-list): remove next folder
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/StructuredList/StructuredList-test.js
  packages/react/src/components/StructuredList/StructuredList.js
  packages/react/src/components/StructuredList/StructuredList.stories.js
  packages/react/src/components/StructuredList/index.js
  packages/react/src/components/StructuredList/next/StructuredList-test.js
  packages/react/src/components/StructuredList/next/StructuredList.js
  packages/react/src/components/StructuredList/next/StructuredList.mdx
Labels: status: ready to merge 🎉

#12436 chore(iconbutton): add default story
  packages/react/src/components/IconButton/IconButton.stories.js
Labels: status: ready to merge 🎉

#12441 chore(pagination): add playground stories for stable and unstable pagination
  packages/react/src/components/Pagination/Pagination.stories.js
  packages/react/src/components/Pagination/experimental/Pagination-story.js
Labels: status: ready to merge 🎉

#12591 chore(slider): update storybook and tests
  packages/react/src/components/Slider/Slider-story.js
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Slider/Slider.mdx
  packages/react/src/components/Slider/Slider.stories.js
  packages/react/src/components/Slider/index.js
  packages/react/src/components/Slider/next/Slider.mdx
Labels: status: one more review 👀, status: ready to merge 🎉

#12472 feat(time-picker): add storybook controls
  packages/react/src/components/TimePicker/TimePicker-story.js
  packages/react/src/components/TimePicker/TimePicker-test.js
  packages/react/src/components/TimePicker/TimePicker.js
  packages/react/src/components/TimePicker/TimePicker.stories.js
  packages/react/src/components/TimePicker/index.js
  packages/react/src/components/TimePicker/next/TimePicker-test.js
  packages/react/src/components/TimePicker/next/TimePicker.js
Labels: status: ready to merge 🎉

#12505 chore(tag): add playground story
  packages/react/src/components/Tag/Tag.stories.js
Labels: status: ready to merge 🎉

#12384 Read only number input
  packages/react/src/components/NumberInput/NumberInput.js
  packages/react/src/components/NumberInput/__tests__/NumberInput-test.js
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#12402 feat: readonly toggle
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Toggle/Toggle-test.js
  packages/react/src/components/Toggle/Toggle.js
  packages/styles/scss/components/toggle/_toggle.scss
Labels: status: visual review 🔍, status: ready to merge 🎉

#12412 feat: readonly radio button group
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/RadioButton/RadioButton.js
  packages/react/src/components/RadioButton/RadioButton.stories.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-test.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.js
  packages/styles/scss/components/radio-button/_radio-button.scss
Labels: status: ready to merge 🎉

#12420 feat: add read only time picker
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TimePicker/TimePicker-test.js
  packages/react/src/components/TimePicker/TimePicker.js
  packages/styles/scss/components/time-picker/_time-picker.scss
Labels: status: ready to merge 🎉

#12405 feat: add readonly functionality to select
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Select/Select.js
  packages/react/src/components/Select/__tests__/Select-test.js
  packages/styles/scss/components/select/_select.scss
Labels: status: ready to merge 🎉

#12426 feat(DatePicker): add Readonly date picker
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/DatePicker.js
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/DatePickerInput/DatePickerInput.js
  packages/styles/scss/components/date-picker/_date-picker.scss
Labels: status: ready to merge 🎉

#12394 fix(CopyButton): remove extraneous title attribute
  packages/react/src/components/CodeSnippet/__tests__/CodeSnippet-test.js
  packages/react/src/components/CopyButton/CopyButton.js
Labels: status: ready to merge 🎉

#12593 fix(storybook): storybook modal footer button settings
  .all-contributorsrc
  README.md
  packages/react/src/components/Modal/Modal.stories.js
Labels: status: ready to merge 🎉

#12615 feat(tooltip): remove next folder
  packages/react/src/components/FormLabel/FormLabel.stories.js
  packages/react/src/components/IconButton/index.js
  packages/react/src/components/Tabs/Tabs.js
  packages/react/src/components/Tooltip/DefinitionTooltip.js
  packages/react/src/components/Tooltip/DefinitionTooltip.mdx
  packages/react/src/components/Tooltip/DefinitionTooltip.stories.js
  packages/react/src/components/Tooltip/Tooltip-story.js
  packages/react/src/components/Tooltip/Tooltip-test.js
  packages/react/src/components/Tooltip/Tooltip.js
  packages/react/src/components/Tooltip/Tooltip.mdx
  packages/react/src/components/Tooltip/Tooltip.stories.js
  packages/react/src/components/Tooltip/__tests__/DefinitionTooltip-test.js
  packages/react/src/components/Tooltip/__tests__/Tooltip-test.js
  packages/react/src/components/Tooltip/index.js
  packages/react/src/components/Tooltip/next/Tooltip.js
  packages/react/src/components/Tooltip/next/Tooltip.mdx
  packages/react/src/components/Tooltip/next/index.js
  packages/react/src/components/Tooltip/story.scss
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#12609 feat(contained-list): add support for sizes
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ContainedList/ContainedList.js
  packages/react/src/components/ContainedList/ContainedList.stories.js
  packages/styles/scss/components/contained-list/_contained-list.scss
Labels: status: ready to merge 🎉

#12302 fix(react/pagination): render page number twice when `pagesUnknown`
  .all-contributorsrc
  README.md
  packages/react/src/components/Pagination/Pagination-test.js
  packages/react/src/components/Pagination/Pagination.js
  packages/styles/scss/components/pagination/_pagination.scss
Labels: status: ready to merge 🎉

#12662 fix(NumberInput.js): replaced pipe character with || operator
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge 🎉

#12658 fix(icon-tabs): fix tooltip styles icon only tab
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: one more review 👀, status: ready to merge 🎉

#12692 style(OverflowMenu): change hover token
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
Labels: status: ready to merge 🎉

#12621 docs(contained-list): add usage examples
  packages/react/src/components/ContainedList/ContainedList.stories.js
Labels: status: ready to merge 🎉

#12605 fix(code-snippet): scrollbar not clickable on muliline
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/styles/scss/components/code-snippet/_code-snippet.scss
Labels: status: ready to merge 🎉

#12700 test(SecondaryButton): replace Enzyme with RTL
  packages/react/src/components/SecondaryButton/SecondaryButton-test.js
Labels: status: ready to merge 🎉

#12691 test(StructuredList): add new RTL tests
  packages/react/src/components/StructuredList/StructuredList-test.js
Labels: status: ready to merge 🎉

#12704 chore(progress-indicator): move completion step
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: ready to merge 🎉

#12729 refactor(TextArea and TextInput): adds remaining character count alert
  .all-contributorsrc
  README.md
  packages/react/src/components/TextArea/TextArea.js
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/internal/useAnnouncer.js
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#12603 feat(FluidTimePicker): add `FluidTimePicker` variant
  e2e/components/FluidTimePicker/FluidTextInput-test.e2e.js
  packages/carbon-components-react/scss/components/fluid-time-picker/_fluid-time-picker.scss
  packages/carbon-components-react/scss/components/fluid-time-picker/_index.scss
  packages/carbon-components/scss/components/fluid-time-picker/_fluid-time-picker.scss
  packages/carbon-components/scss/components/fluid-time-picker/_index.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/scss/components/fluid-time-picker/_fluid-time-picker.scss
  packages/react/scss/components/fluid-time-picker/_index.scss
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/FluidForm/FluidForm.stories.js
  packages/react/src/components/FluidTimePicker/FluidTimePicker.Skeleton.js
  packages/react/src/components/FluidTimePicker/FluidTimePicker.js
  packages/react/src/components/FluidTimePicker/FluidTimePicker.stories.js
  packages/react/src/components/FluidTimePicker/__tests__/FluidTimePicker-test.js
  packages/react/src/components/FluidTimePicker/index.js
  packages/react/src/components/FluidTimePickerSelect/FluidTimePickerSelect.js
  packages/react/src/components/FluidTimePickerSelect/index.js
  packages/react/src/components/Select/Select.js
  packages/react/src/index.js
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/files.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/fluid-date-picker/_fluid-date-picker.scss
  packages/styles/scss/components/fluid-list-box/_fluid-list-box.scss
  packages/styles/scss/components/fluid-select/_fluid-select.scss
  packages/styles/scss/components/fluid-text-input/_fluid-text-input.scss
  packages/styles/scss/components/fluid-time-picker/_fluid-time-picker.scss
  packages/styles/scss/components/fluid-time-picker/_index.scss
Labels: status: ready to merge 🎉
