Repository carbon-design-system/carbon, pull requests merged in 2022-06, with the labels that each got.

#11528 chore(Tag): update storybook stories
  packages/react/src/components/Tag/Tag-story.js
  packages/react/src/components/Tag/Tag.stories.js
Labels: status: ready to merge 🎉

#11529 ci(avt): re-enabled avt e2e tests
  .github/workflows/ci.yml
Labels: status: ready to merge 🎉

#11523 chore(Button): remove v10 stories and update swith v11
  packages/react/src/components/Button/Button-story.js
  packages/react/src/components/Button/Button.mdx
  packages/react/src/components/Button/Button.stories.js
Labels: status: ready to merge 🎉

#11527 chore(Select): remove v10 stories and replace with /next
  packages/react/src/components/Select/Select-story.js
  packages/react/src/components/Select/Select.stories.js
Labels: status: ready to merge 🎉

#11501 Update v10-release.yml
  .github/workflows/v10-release.yml
Labels: status: ready to merge 🎉

#11515 chore(DangerButton): update tests to rtl
  packages/react/src/components/DangerButton/DangerButton-test.js
Labels: status: ready to merge 🎉

#11569 fix(icon-build-helpers): wrap propTypes in __DEV__ check
  packages/icon-build-helpers/src/builders/react/next/templates.js
Labels: status: ready to merge 🎉

#11573 fix(styles): emit correct values for component tokens in zones
  packages/styles/package.json
  packages/styles/scss/__tests__/zone-test.js
  packages/styles/scss/_zone.scss
  yarn.lock
Labels: status: ready to merge 🎉

#11536 docs(checkbox): add playground and controls
  packages/react/src/components/Checkbox/Checkbox.stories.js
Labels: status: ready to merge 🎉

#11545 docs(toggle): add controls to toggle and move from next folder
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Toggle/Toggle-story.js
  packages/react/src/components/Toggle/Toggle-test.js
  packages/react/src/components/Toggle/Toggle.js
  packages/react/src/components/Toggle/Toggle.stories.js
  packages/react/src/components/Toggle/index.js
  packages/react/src/components/Toggle/next/Toggle.js
  packages/react/src/components/Toggle/next/Toggle.stories.js
Labels: status: ready to merge 🎉

#11586 ci(workflows): add wait-for-it action
  .github/workflows/ci.yml
  .yarn/cache/@sindresorhus-is-npm-4.6.0-7cad05c55e-83839f13da.zip
  .yarn/cache/@szmarczak-http-timer-npm-4.0.6-6ace00d82d-c29df3bcec.zip
  .yarn/cache/@types-cacheable-request-npm-6.0.2-894b6992d5-667d25808d.zip
  .yarn/cache/@types-http-cache-semantics-npm-4.0.1-90863c7a3e-1048aacf62.zip
  .yarn/cache/@types-json-buffer-npm-3.0.0-9f2fe89eaa-6b0a371dd6.zip
  .yarn/cache/cacheable-lookup-npm-5.0.4-8f13e8b44b-763e02cf91.zip
  .yarn/cache/cacheable-request-npm-7.0.2-e64cc641fc-6152813982.zip
  .yarn/cache/compress-brotli-npm-1.3.8-9b6ceac281-de7589d692.zip
  .yarn/cache/decompress-response-npm-6.0.0-359de2878c-d377cf47e0.zip
  .yarn/cache/defer-to-connect-npm-2.0.1-9005cc8c60-8a9b50d2f2.zip
  .yarn/cache/got-npm-11.8.5-787b5e3116-2de8a1bbda.zip
  .yarn/cache/http2-wrapper-npm-1.0.3-5b58ade1df-74160b862e.zip
  .yarn/cache/json-buffer-npm-3.0.1-f8f6d20603-9026b03edc.zip
  .yarn/cache/keyv-npm-4.3.0-7ecb744188-abcb5885fc.zip
  .yarn/cache/mimic-response-npm-3.1.0-a4a24b4e96-25739fee32.zip
  .yarn/cache/p-cancelable-npm-2.1.1-9388305f02-3dba12b4fb.zip
  .yarn/cache/resolve-alpn-npm-1.2.1-af77edd28b-f558071fcb.zip
  .yarn/cache/responselike-npm-2.0.0-7813864e97-6a4d32c37d.zip
  actions/wait-for-it/Dockerfile
  actions/wait-for-it/action.yml
  actions/wait-for-it/package.json
  actions/wait-for-it/src/index.js
  yarn.lock
Labels: status: ready to merge 🎉

#11500 ci: add promote packages workflow
  .github/workflows/promote.yml
  .yarn/cache/@actions-core-npm-1.2.3-8989846210-61ca1973ae.zip
  .yarn/cache/@actions-core-npm-1.8.2-b3fc1a3b5f-1cd1a47f75.zip
  .yarn/cache/@actions-http-client-npm-2.0.1-8d69921341-799ec3df91.zip
  .yarn/cache/fs-extra-npm-10.0.0-4f8c704115-5285a3d8f3.zip
  .yarn/cache/fs-extra-npm-10.1.0-86573680ed-dc94ab3709.zip
  actions/promote/Dockerfile
  actions/promote/action.yml
  actions/promote/index.js
  actions/promote/package.json
  tasks/publish.sh
  yarn.lock
Labels: status: ready to merge 🎉

#11525 fix(react): remove focus on click for panels with interactive content
  packages/react/src/components/Tabs/next/Tabs-test.js
  packages/react/src/components/Tabs/next/Tabs.js
  packages/react/src/components/Tabs/next/Tabs.stories.js
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#11595 fix(react): adds name to radio button input
  packages/react/src/components/RadioButton/next/RadioButton.js
Labels: status: ready to merge 🎉

#11535 docs(breadcrumb): add controls to story
  packages/react/src/components/Breadcrumb/Breadcrumb.stories.js
Labels: status: ready to merge 🎉

#11597 feat(react): add option to closeOnSelect
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#11584 docs(react): Fix typo in Grid.mdx
  packages/react/src/components/Grid/Grid.mdx
Labels: status: ready to merge 🎉

#11594 fix(notification): correct actionable inline text wrapping layout/reflow
  packages/styles/scss/components/notification/_actionable-notification.scss
Labels: status: ready to merge 🎉

#11608 feat(styles): add css folder to sideEffects
  packages/styles/package.json
Labels: status: ready to merge 🎉

#11615 feat(react): export usePrefix and add story
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/index.js
  packages/react/src/internal/usePrefix.stories.mdx
Labels: status: ready to merge 🎉

#11585 (docs:v11): Fix typo in Column section
  docs/migration/v11.md
Labels: status: ready to merge 🎉

#11620 test(react): update stories to fix failing avt
  .yarn/cache/accessibility-checker-npm-3.1.28-79297b1e6e-913dc0d787.zip
  .yarn/cache/accessibility-checker-npm-3.1.29-rc.0-13d890e378-1c85d99110.zip
  .yarn/cache/accessibility-checker-npm-3.1.32-155f46e2e1-6e35906488.zip
  .yarn/cache/axios-npm-0.27.2-dbe3a48aea-38cb754046.zip
  .yarn/cache/follow-redirects-npm-1.14.9-522f191631-f5982e0eb4.zip
  .yarn/cache/follow-redirects-npm-1.15.1-6b191885cd-6aa4e3e3cd.zip
  achecker.js
  config/jest-config-carbon/index.js
  config/jest-config-carbon/package.json
  package.json
  packages/react/src/components/FileUploader/FileUploader.js
  packages/react/src/components/FileUploader/FileUploaderButton.js
  packages/react/src/components/FileUploader/Filename.js
  packages/react/src/components/FileUploader/next/FileUploader.stories.js
  packages/react/src/components/Form/next/Form.stories.js
  yarn.lock
Labels: status: ready to merge 🎉

#11404 fix: add line height to unsortable columns on sortable datatable (#9311)
  packages/styles/scss/components/data-table/sort/_data-table-sort.scss
Labels: status: ready to merge 🎉

#11614 docs(link): provide playground with working controls
  packages/react/src/components/Link/Link-story.js
  packages/react/src/components/Link/Link.js
  packages/react/src/components/Link/Link.stories.js
Labels: status: ready to merge 🎉

#11609 fix(ComposedModal): close modal with esc key when no element has focus
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/ComposedModal/__snapshots__/ComposedModal-test.js.snap
  packages/react/src/components/ComposedModal/next/ComposedModal.js
  packages/react/src/components/ComposedModal/next/__snapshots__/ComposedModal-test.js.snap
Labels: status: one more review 👀, status: ready to merge 🎉

#11617 fix(datepicker): call setDate when value is updated
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#11619 fix(SideNav): comment out unused prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SideNav.js
Labels: status: ready to merge 🎉

#11627 feat(styles): add docs to index
  packages/styles/carbon.yml
Labels: status: ready to merge 🎉

#11570 fix(Datepicker): change role on calendar container to 'application'
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#11607 docs(storybook): add controls to combo-box and codesnippet
  packages/react/src/components/CodeSnippet/CodeSnippet-story.js
  packages/react/src/components/CodeSnippet/CodeSnippet-story.scss
  packages/react/src/components/CodeSnippet/CodeSnippet.stories.js
  packages/react/src/components/ComboBox/ComboBox-story.js
  packages/react/src/components/ComboBox/ComboBox.mdx
  packages/react/src/components/ComboBox/ComboBox.stories.js
Labels: status: ready to merge 🎉

#11638 test(percy): update widths to 360 and 1366
  .percy.yml
Labels: status: ready to merge 🎉

#11631 feat(react): add tutorial nav data to index
  packages/react/carbon.yml
Labels: status: ready to merge 🎉

#11618 style(Modal): calculate padding from edge of modal container
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#11634 fix(upgrade): move jscodeshift to external hard dep
  packages/upgrade/package.json
Labels: status: ready for review 👀, status: ready to merge 🎉

#11654 feat(react): add useLayer hook
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Layer/Layer-story.scss
  packages/react/src/components/Layer/Layer.mdx
  packages/react/src/components/Layer/Layer.stories.js
  packages/react/src/components/Layer/__tests__/useLayer-test.js
  packages/react/src/components/Layer/index.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#11621 fix(tabletoolbarsearch): update default size to be lg
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/TableToolbarSearch.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
Labels: status: ready to merge 🎉

#11664 fix(react): remove default prop for `light` on `OverflowMenu`
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#11673 fix(grid): explicitly set width: 100%
  packages/grid/scss/_css-grid.scss
Labels: status: ready to merge 🎉

#11645 chore(InlineLoading): update InlineLoading test to RTL
  packages/react/src/components/InlineLoading/InlineLoading-test.js
Labels: status: ready to merge 🎉

#11690 feat(react-v10): add input change callback to multiselect filterable
  .yarn/cache/caniuse-lite-npm-1.0.30001287-7c4995ce2e-b53c26a3a2.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001359-a30b134aa2-e15dbf4ea4.zip
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/next/FilterableMultiSelect.js
  yarn.lock
Labels: status: ready to merge 🎉

#11665 chore(CodeSnippet): update tests to RTL
  packages/react/src/components/CodeSnippet/__tests__/CodeSnippet-test.js
Labels: status: ready to merge 🎉

#11695 docs(upgrade): update readme, include new commands and migrations
  packages/upgrade/README.md
Labels: status: ready to merge 🎉
