Repository carbon-design-system/carbon, pull requests merged in 2022-10, with the labels that each got.

#12140 fix(Search): fix event passed to `onChange` when clearing input (#12133)
  packages/react/src/components/Search/next/Search-test.js
  packages/react/src/components/Search/next/Search.js
Labels: status: ready to merge 🎉

#12143 fix(ExpandableSearch): compose prop handlers with internal (#12135)
  packages/react/src/components/ExpandableSearch/ExpandableSearch-test.js
  packages/react/src/components/ExpandableSearch/ExpandableSearch.js
  packages/react/src/components/Search/Search.js
  packages/react/src/components/Search/next/Search.js
Labels: status: ready to merge 🎉

#12220 fix(text-input): fix typo in `maxCount` prop description
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready to merge 🎉

#12218 fix: link component thumbnail svg
  packages/styles/thumbnails/link.svg
Labels: status: ready to merge 🎉

#12217 fix: update live demo paths for carbon react
  packages/react/src/components/Accordion/docs/overview.mdx
  packages/react/src/components/AspectRatio/docs/overview.mdx
  packages/react/src/components/Breadcrumb/docs/overview.mdx
  packages/react/src/components/Checkbox/docs/overview.mdx
  packages/react/src/components/ComboBox/docs/overview.mdx
  packages/react/src/components/FileUploader/docs/overview.mdx
  packages/react/src/components/Heading/docs/overview.mdx
  packages/react/src/components/InlineLoading/docs/overview.mdx
  packages/react/src/components/Pagination/docs/overview.mdx
  packages/react/src/components/PaginationNav/docs/overview.mdx
  packages/react/src/components/ProgressBar/docs/overview.mdx
  packages/react/src/components/StructuredList/docs/overview.mdx
Labels: status: ready to merge 🎉

#12206 fix(loading): updated storybook controls, mdx, default props and tests
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Loading/Loading-story.js
  packages/react/src/components/Loading/Loading.js
  packages/react/src/components/Loading/Loading.mdx
  packages/react/src/components/Loading/Loading.stories.js
Labels: status: ready to merge 🎉

#12230 fix(Modal): render correct backgrounds for NumberInput on Modal
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#12204 docs(proposals): wrote out the proposal journey in mermaid
  docs/guides/support.md
Labels: status: ready to merge 🎉

#12138 fix(react): update how isExpandedAll is set and ensure onExpand called
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/__tests__/TableExpandHeader-test.js
  packages/react/src/components/DataTable/state/getDerivedStateFromProps.js
  packages/react/src/components/DataTable/stories/expansion/DataTable-expansion.stories.js
Labels: status: ready to merge 🎉

#12185 fix(styles/ui-shell/header): fix header menu z-index (#12184)
  packages/styles/scss/components/ui-shell/header/_header.scss
Labels: status: ready to merge 🎉

#12192 fix: add missing pages to the carbon react index
  packages/react/carbon.yml
Labels: status: ready to merge 🎉

#12151 feat(fluid-text-input): adds skeleton variant
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/FluidTextInput/FluidTextInput.Skeleton.js
  packages/react/src/components/FluidTextInput/FluidTextInput.stories.js
  packages/react/src/components/FluidTextInput/index.js
  packages/react/src/index.js
  packages/styles/scss/components/fluid-text-input/_fluid-text-input.scss
Labels: status: ready to merge 🎉

#12050 fix(styles): add display property for custom HTML elements
  packages/styles/scss/components/accordion/_accordion.scss
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/menu/_menu.scss
Labels: status: ready to merge 🎉

#12148 fix(Accordion): update Accordion styles to match spec
  packages/styles/scss/components/accordion/_accordion.scss
Labels: status: ready to merge 🎉

#12193 docs: index vanilla library getting started
  packages/components/carbon.yml
Labels: status: ready to merge 🎉

#12221 fix(Modal): scope tooltip, overflow popup styles to inside modal
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#12212 fix(toggle): ensure toggle click target matches visual representation
  packages/styles/scss/components/toggle/_toggle.scss
Labels: status: ready to merge 🎉

#12244 feat: add custom theme example with docs
  examples/custom-theme/.gitignore
  examples/custom-theme/index.html
  examples/custom-theme/package.json
  examples/custom-theme/src/App.jsx
  examples/custom-theme/src/favicon.svg
  examples/custom-theme/src/index.scss
  examples/custom-theme/src/main.jsx
  examples/custom-theme/vite.config.js
  packages/styles/docs/sass.md
  yarn.lock
Labels: status: ready to merge 🎉

#12245 fix(UIShell): reduce padding on header name to fix action button (#11687)
  packages/styles/scss/components/ui-shell/header/_header.scss
Labels: status: ready to merge 🎉

#12237 chore(version): update workflow to use dynamic run-name
  .github/workflows/version.yml
Labels: status: ready to merge 🎉

#12242 feat(icons): new icons request
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/plan.svg
  packages/icons/src/svg/32/watson-health/image-availability--local.svg
  packages/icons/src/svg/32/watson-health/image-availability--retrieving.svg
  packages/icons/src/svg/32/watson-health/image-availability--unavailable.svg
Labels: status: ready to merge 🎉

#12210 fix(combobox): render ellipsis when label is overflowing
  packages/styles/scss/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#12188 fix(FilterableMultiselect): close menu on blur
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
Labels: status: ready to merge 🎉

#12254 fix(Slider): TextInput should no longer trigger onRelease
  packages/react/src/components/Slider/Slider.js
Labels: status: ready to merge 🎉

#12207 fix(react): added condition check before calling onblur
  packages/react/src/components/Slider/Slider.js
Labels: status: ready to merge 🎉

#12286 chore(release): v10.59.4
  examples/codesandbox/package.json
  packages/carbon-react/package.json
  packages/components/package.json
  packages/react/package.json
  www/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#12262 fix(TableExpandHeader): add default id value
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/TableExpandHeader.js
  packages/react/src/components/DataTable/TableExpandRow.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandHeader-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
  packages/react/src/components/DataTable/stories/expansion/DataTable-expansion.stories.js
Labels: status: ready to merge 🎉

#12263 chore(ModalWrapper): deprecate for ComposedModal
  packages/react/src/components/ModalWrapper/ ModalWrapper.stories.js
  packages/react/src/components/ModalWrapper/ModalWrapper.js
  packages/react/src/components/ModalWrapper/migration.mdx
Labels: status: ready to merge 🎉

#12232 chore(error-boundry): rename stories file
  packages/react/src/components/ErrorBoundary/ErrorBoundary.stories.js
Labels: status: ready to merge 🎉

#12115 refactor(react): moves component from `next` and updates tests to RTL
  packages/react/src/components/Pagination/Pagination-story.js
  packages/react/src/components/Pagination/Pagination-test.js
  packages/react/src/components/Pagination/Pagination.js
  packages/react/src/components/Pagination/Pagination.stories.js
  packages/react/src/components/Pagination/index.js
  packages/react/src/components/Pagination/next/Pagination.js
  packages/react/src/components/Pagination/next/__tests__/Pagination-test.js
  packages/react/src/components/Pagination/next/index.js
Labels: status: ready to merge 🎉

#12265 fix(HeaderMenu): fix HeaderMenu with isCurrentPage to have a pointer cursor (#10109)
  packages/react/src/components/UIShell/HeaderMenu.js
  packages/react/src/components/UIShell/UIShell.stories.js
  packages/react/src/components/UIShell/__tests__/HeaderMenu-test.js
  packages/styles/scss/components/ui-shell/header/_header.scss
Labels: status: ready to merge 🎉

#12283 chore(inline-loading): storybook controls
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/InlineLoading/InlineLoading.js
  packages/react/src/components/InlineLoading/InlineLoading.mdx
  packages/react/src/components/InlineLoading/InlineLoading.stories.js
  packages/react/src/components/InlineLoading/next/InlineLoading.stories.js
Labels: status: ready to merge 🎉

#12281 fix(DatePicker): Fix minDate and maxDate reset
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#12320 refactor(DataTable): rename sorting class name
  packages/react/src/components/DataTable/TableHeader.js
  packages/styles/scss/components/data-table/sort/_data-table-sort.scss
Labels: status: ready to merge 🎉

#12299 fix(overflowmenu): convert icon description to sentence case
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#12306 Use quoted strings for color names in the swatch map
  packages/colors/tasks/build.js
Labels: status: ready to merge 🎉

#12322 docs(experimental): add storybook controls requirements
  docs/experimental-code.md
Labels: status: ready to merge 🎉

#12305 fix(overflowmenu-v10): convert icon description to sentence case
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#12311 chore(react): update stack and textinput playground
  packages/react/src/components/Stack/Stack.stories.js
  packages/react/src/components/TextInput/TextInput-story.js
  packages/react/src/components/TextInput/TextInput.stories.js
Labels: status: ready to merge 🎉

#12292 Update FEATURE_REQUEST_OR_ENHANCEMENT.yaml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST_OR_ENHANCEMENT.yaml
Labels: status: ready to merge 🎉

#12304 ci(release-notifications): add missing inputs
  actions/release-notifications/action.yml
Labels: status: ready to merge 🎉

#12310 chore(react): updated form and fluid form playground
  packages/react/src/components/FluidForm/FluidForm.stories.js
  packages/react/src/components/Form/Form-story.js
  packages/react/src/components/Form/Form.stories.js
Labels: status: ready to merge 🎉

#12303 test(e2e): add e2e tests for FluidTextArea
  e2e/components/FluidTextArea/FluidTextArea-test.e2e.js
Labels: status: ready to merge 🎉

#12297 feat(react): deprecate light prop everywhere
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/react/src/components/CodeSnippet/CodeSnippet.stories.js
  packages/react/src/components/ComboBox/ComboBox-test.e2e.js
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/DatePicker/DatePicker.js
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/Dropdown/Dropdown-test.e2e.js
  packages/react/src/components/Dropdown/Dropdown-test.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/Dropdown/Dropdown.mdx
  packages/react/src/components/Dropdown/Dropdown.stories.js
  packages/react/src/components/FluidTextArea/FluidTextArea.js
  packages/react/src/components/ListBox/ListBox.js
  packages/react/src/components/ListBox/__tests__/ListBox-test.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.e2e.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.e2e.js
  packages/react/src/components/OverflowMenu/next/OverflowMenu.stories.js
  packages/react/src/components/TextArea/TextArea-test.js
  packages/react/src/components/TextArea/TextArea.js
  packages/react/src/components/TextArea/next/TextArea.stories.js
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/TextInput/PasswordInput-test.js
  packages/react/src/components/TextInput/PasswordInput.js
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/components/TextInput/TextInput.stories.js
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/TimePicker/next/TimePicker.stories.js
Labels: status: ready to merge 🎉

#12317 fix(form): update useNormalizedInputProps to usePrefix
  packages/react/src/internal/useNormalizedInputProps.js
Labels: status: ready to merge 🎉

#12321 feat(SideNavMenu): add title tooltip
  packages/react/src/components/UIShell/SideNavMenu.js
Labels: status: ready to merge 🎉, component: ui-shell

#12288 feat(DefinitionTooltip): add `openOnHover` prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tooltip/next/DefinitionTooltip.js
  packages/react/src/components/Tooltip/next/DefinitionTooltip.stories.js
Labels: status: one more review 👀, status: ready to merge 🎉

#12259 fix(overflowmenuitem): show title tooltip when disabled
  packages/react/src/components/OverflowMenu/next/OverflowMenu.stories.js
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
Labels: status: ready to merge 🎉

#12329 fix(date-picker): add forward ref to date picker
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#12333 feat(themes): generate component tokens
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/styles/scss/components/tag/_tokens.scss
  packages/themes/scss/_component-tokens.scss
  packages/themes/src/component-tokens/tag/index.js
  packages/themes/src/component-tokens/tag/tokens.js
  packages/themes/src/index.js
  packages/themes/tasks/build.js
  packages/themes/tasks/builders/modules-tag-tokens.js
Labels: status: ready to merge 🎉

#12347 docs(contained-list): improve stories
  packages/react/src/components/ContainedList/next/ContainedList.stories.js
Labels: status: ready to merge 🎉

#12346 docs(contained-list): remove unnecessary storybook controls
  packages/react/src/components/ContainedList/next/ContainedList.stories.js
Labels: status: ready to merge 🎉

#12365 fix(flexgrid): add closing tag
  packages/react/src/components/Grid/next/FlexGrid.mdx
Labels: status: ready to merge 🎉

#12290 feat(FluidSelect): adds in `FluidSelect` component
  e2e/components/FluidSelect/FluidSelect-test.e2e.js
  packages/carbon-components-react/scss/components/fluid-select/_fluid-select.scss
  packages/carbon-components-react/scss/components/fluid-select/_index.scss
  packages/carbon-components/scss/components/fluid-select/_fluid-select.scss
  packages/carbon-components/scss/components/fluid-select/_index.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/scss/components/fluid-select/_fluid-select.scss
  packages/react/scss/components/fluid-select/_index.scss
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/FluidSelect/FluidSelect.Skeleton.js
  packages/react/src/components/FluidSelect/FluidSelect.js
  packages/react/src/components/FluidSelect/FluidSelect.stories.js
  packages/react/src/components/FluidSelect/__tests__/FluidSelect-test.js
  packages/react/src/components/FluidSelect/index.js
  packages/react/src/components/Select/Select.js
  packages/react/src/index.js
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/files.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/fluid-select/_fluid-select.scss
  packages/styles/scss/components/fluid-select/_index.scss
Labels: status: ready to merge 🎉

#12231 fix(text-input): add class for inline validation
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/components/TextInput/TextInput.stories.js
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉

#12163 feat(Listbox): add in `FluidComboBox`, `FluidMultiSelect`
  e2e/components/FluidComboBox/FluidComboBox-test.e2e.js
  e2e/components/FluidMultiSelect/FluidMultiSelect-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/FluidComboBox/FluidComboBox.Skeleton.js
  packages/react/src/components/FluidComboBox/FluidComboBox.js
  packages/react/src/components/FluidComboBox/FluidComboBox.stories.js
  packages/react/src/components/FluidComboBox/__tests__/FluidComboBox-test.js
  packages/react/src/components/FluidComboBox/index.js
  packages/react/src/components/FluidDropdown/__tests__/FluidDropdown-test.js
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.Skeleton.js
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.js
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.stories.js
  packages/react/src/components/FluidMultiSelect/index.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/index.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/fluid-combo-box/_fluid-combo-box.scss
  packages/styles/scss/components/fluid-combo-box/_index.scss
  packages/styles/scss/components/fluid-list-box/_fluid-list-box.scss
  packages/styles/scss/components/fluid-multiselect/_fluid-multiselect.scss
  packages/styles/scss/components/fluid-multiselect/_index.scss
Labels: status: ready to merge 🎉

#12357 docs(semver): add statement of support for typescript
  docs/guides/versioning.md
Labels: status: ready to merge 🎉

#12284 fix(Type): update type tokens
  packages/styles/scss/__tests__/__snapshots__/type-test.js.snap
  packages/type/scss/_styles.scss
  packages/type/src/__tests__/__snapshots__/styles-test.js.snap
  packages/type/src/styles.js
Labels: status: ready to merge 🎉, package: type

#12327 fix(type): V10 type updates
  packages/components/src/globals/grid/__tests__/__snapshots__/grid-test.js.snap
  packages/type/scss/_styles.scss
  packages/type/src/__tests__/__snapshots__/styles-test.js.snap
  packages/type/src/styles.js
Labels: status: ready to merge 🎉

#12298 fix(tile): use layer in story
  packages/react/src/components/Tile/Tile-story.js
  packages/react/src/components/Tile/next/Tile.stories.js
  packages/react/src/components/Tile/tile-story.scss
Labels: status: ready to merge 🎉

#12349 ci(release-notifications): allow manual run
  .github/workflows/release-notifications.yml
Labels: status: ready to merge 🎉

#12375 docs: update dev docs
  .github/CONTRIBUTING.md
  docs/developer-handbook.md
Labels: status: ready to merge 🎉

#12371 docs(contained-list): remove disclosed variant from demo stories
  packages/react/src/components/ContainedList/next/ContainedList.stories.js
Labels: status: ready to merge 🎉

#12374 fix(TextInput): remove duplicate class when custom class passed down
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/TextInput/TextInput.js
Labels: status: ready to merge 🎉

#12377 fix(NumberInput): change font-weight to 400
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#12385 fix(UIShell): currentPage styles for sub-menu-item
  packages/styles/scss/components/ui-shell/header/_header.scss
Labels: status: ready to merge 🎉

#12413 fix(code-snippet): remove redundant text on icon
  packages/react/src/components/CodeSnippet/CodeSnippet.js
Labels: status: ready to merge 🎉

#12406 fix(slider): add value to onBlur (#11348)
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Slider/Slider.js
Labels: status: ready to merge 🎉

#12332 fix(progress-indicator): fix spacing for skeleton progress label
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ProgressIndicator/ProgressIndicator.Skeleton.js
  packages/styles/scss/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge 🎉

#12382 fix: remove icon from readonly text input
  packages/react/src/components/FluidTextInput/__tests__/FluidTextInput-test.js
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/components/TextInput/__tests__/TextInput-test.js
  packages/react/src/internal/useNormalizedInputProps.js
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉

#12309 chore(react): updated formgroup playground
  packages/react/src/components/FormGroup/FormGroup-story.js
  packages/react/src/components/FormGroup/FormGroup.stories.js
  packages/react/src/components/FormGroup/next/FormGroup.stories.js
Labels: status: ready to merge 🎉

#12397 docs(v11): small typo
  docs/migration/v11.md
Labels: status: ready to merge 🎉

#12383 chore(AspectRatio): added Storybook Controls
  packages/react/src/components/AspectRatio/AspectRatio-story.js
  packages/react/src/components/AspectRatio/AspectRatio.mdx
  packages/react/src/components/AspectRatio/AspectRatio.stories.js
Labels: status: ready to merge 🎉

#12358 feat(number input): added a prop to disable the wheel functionality
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge 🎉

#12344 feat(themes): generate notification tokens
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/styles/scss/components/notification/_tokens.scss
  packages/themes/scss/_component-tokens.scss
  packages/themes/src/component-tokens/notification/index.js
  packages/themes/src/component-tokens/notification/tokens.js
  packages/themes/src/index.js
  packages/themes/tasks/build.js
  packages/themes/tasks/builders/modules-notification-tokens.js
Labels: status: ready to merge 🎉

#12399 docs: match story docs and shell themes
  packages/react/.storybook/preview.js
Labels: status: ready to merge 🎉

#12368 chore(typo): "Github" -> "GitHub"
  .github/ISSUE_TEMPLATE/QUESTION.yaml
  docs/experimental-code.md
  docs/guides/setup/contributing-with-github-desktop.md
  docs/guides/support.md
  packages/react/.storybook/Welcome/Welcome.js
Labels: status: ready to merge 🎉

#12261 fix(FluidTextInput): label overflow scroll
  packages/styles/scss/components/fluid-text-input/_fluid-text-input.scss
Labels: status: ready to merge 🎉

#12395 fix(grid): remove unused column prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Grid/Grid.js
Labels: status: ready to merge 🎉

#12380 chore(search): add playground story and remove next folder
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Search/Search-test.js
  packages/react/src/components/Search/Search.js
  packages/react/src/components/Search/Search.stories.js
  packages/react/src/components/Search/index.js
  packages/react/src/components/Search/next/Search-test.js
  packages/react/src/components/Search/next/Search.js
Labels: status: ready to merge 🎉

#12312 chore(react): updated tile and stories
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.js
  packages/react/src/components/Tile/Tile.stories.js
  packages/react/src/components/Tile/index.js
  packages/react/src/components/Tile/next/Tile-test.js
  packages/react/src/components/Tile/next/Tile.js
  packages/react/src/components/Tile/tile-story.scss
Labels: status: ready to merge 🎉

#12256 Tanner update playgrounds v2
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FormLabel/FormLabel.stories.js
  packages/react/src/components/Grid/FlexGrid.mdx
  packages/react/src/components/Grid/FlexGrid.stories.js
  packages/react/src/components/Grid/FlexGrid.stories.scss
  packages/react/src/components/Grid/Grid-story.js
  packages/react/src/components/Grid/Grid-story.scss
  packages/react/src/components/Grid/Grid.mdx
  packages/react/src/components/Grid/Grid.stories.js
  packages/react/src/components/Grid/Grid.stories.scss
  packages/react/src/components/Grid/next/Grid.mdx
  packages/react/src/components/Tab/index.js
  packages/react/src/components/Tabs/Tabs-story.js
  packages/react/src/components/Tabs/Tabs-story.scss
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.Skeleton.js
  packages/react/src/components/Tabs/Tabs.js
  packages/react/src/components/Tabs/Tabs.mdx
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/react/src/components/Tabs/index.js
  packages/react/src/components/Tabs/next/Tabs.Skeleton.js
  packages/react/src/components/Tabs/next/Tabs.js
  packages/react/src/components/Tabs/next/Tabs.mdx
  packages/react/src/components/Tabs/usePressable.js
  packages/react/src/components/TextArea/TextArea-story.js
  packages/react/src/components/TextArea/TextArea.stories.js
  packages/react/src/components/TextArea/next/TextArea.stories.js
  packages/react/src/components/UnorderedList/UnorderedList.stories.js
Labels: status: ready to merge 🎉

#12439 chore(pagination-nav): add playground story
  packages/react/src/components/PaginationNav/PaginationNav-story.js
  packages/react/src/components/PaginationNav/PaginationNav.stories.js
  packages/react/src/components/PaginationNav/next/PaginationNav.stories.js
Labels: status: ready to merge 🎉
