Repository carbon-design-system/carbon, pull requests merged in 2022-09, with the labels that each got.

#11971 feat(FluidTextInput): create `unstable__FluidTextInput` component
  e2e/components/FluidTextInput/FluidTextInput-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/FluidTextInput/FluidTextInput.js
  packages/react/src/components/FluidTextInput/FluidTextInput.stories.js
  packages/react/src/components/FluidTextInput/__tests__/FluidTextInput-test.js
  packages/react/src/components/FluidTextInput/index.js
  packages/react/src/components/FluidTextInput/test.scss
  packages/react/src/index.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/fluid-text-input/_fluid-text-input.scss
  packages/styles/scss/components/fluid-text-input/_index.scss
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉

#12048 chore(release): v10.59.1
  examples/codesandbox/package.json
  packages/carbon-react/package.json
  packages/components/package.json
  packages/react/package.json
  www/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#11981 fix(Notification): ensure correct background set in g100 low contrast
  packages/styles/scss/components/notification/_tokens.scss
Labels: status: ready to merge 🎉

#12033 docs: add compatible design kits
  packages/styles/carbon.yml
Labels: status: ready to merge 🎉

#11963 refactor(react): update PrimaryButton tests to rtl
  packages/react/src/components/PrimaryButton/PrimaryButton-test.js
Labels: status: ready to merge 🎉

#11961 refactor(react): update loading tests to use RTL
  packages/react/src/components/Loading/Loading-test.js
Labels: status: ready to merge 🎉

#12042 fix(react): remove aria-hidden since buttons are alway accessible
  packages/react/src/components/UIShell/SideNav.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Labels: status: ready to merge 🎉

#12045 fix(react): remove aria-hidden since interactive elements are focusable - v11
  packages/react/src/components/UIShell/SideNav.js
Labels: status: ready to merge 🎉

#11850 chore(project): upgrade prettier to use cache option
  .yarn/cache/prettier-npm-2.6.2-05918420da-48d08dde8e.zip
  .yarn/cache/prettier-npm-2.7.1-d1f40f5e1a-55a4409182.zip
  config/eslint-config-carbon/package.json
  config/prettier-config-carbon/package.json
  config/stylelint-config-carbon/package.json
  package.json
  packages/cli/package.json
  packages/icon-build-helpers/package.json
  packages/icons-vue/package.json
  packages/scss-generator/package.json
  packages/test-utils/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#12011 chore(storybook): update controls modal number-input and date-picker
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/DatePicker/DatePicker.mdx
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/NumberInput/NumberInput.mdx
  packages/react/src/components/NumberInput/NumberInput.stories.js
Labels: status: ready to merge 🎉

#12024 feat(Toggletip): update `align` accepted props
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Toggletip/Toggletip.stories.js
  packages/react/src/components/Toggletip/index.js
  packages/styles/scss/components/popover/_popover.scss
Labels: status: ready to merge 🎉

#12068 fix(type): emit `label-02` token
  packages/styles/scss/__tests__/__snapshots__/type-test.js.snap
  packages/styles/scss/__tests__/type-test.js
  packages/styles/scss/type/_index.scss
  packages/type/scss/_styles.scss
Labels: severity: 1 🚨, status: ready to merge 🎉

#12065 docs(release): highlight unpkg tag issues
  docs/release.md
Labels: status: ready to merge 🎉

#12078 fix(FilterableMultiselect): remove extra invalid border
  packages/styles/scss/components/form/_form.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#12077 feat: add links to welcome story
  packages/react/.storybook/Welcome/Welcome.js
  packages/react/.storybook/Welcome/welcome.scss
Labels: status: ready to merge 🎉

#11802 chore(DatePicker): update tests to RTL
  packages/react/src/components/DatePicker/DatePicker-test.js
Labels: status: ready to merge 🎉

#12044 fix(react): remove role="main" from Container
  packages/react/.storybook/Container.js
Labels: status: ready to merge 🎉

#12067 docs(examples): add simple example of v10 and v11 being used together
  .yarn/cache/@babel-runtime-npm-7.18.3-1883c70fa6-db8526226a.zip
  .yarn/cache/@babel-runtime-npm-7.18.9-28ca6b5f61-36dd736bab.zip
  .yarn/cache/@carbon-feature-flags-npm-0.7.0-7f192756d6-f16348fa78.zip
  .yarn/cache/@carbon-layout-npm-10.37.1-eeb184f33f-baabf7e70e.zip
  .yarn/cache/carbon-components-npm-10.58.0-a89302e587-25dbc8c509.zip
  .yarn/cache/carbon-components-react-npm-7.59.0-3db1ba9c08-7762d139df.zip
  .yarn/cache/carbon-icons-npm-7.0.7-a0d95b025d-ecb87c4f09.zip
  .yarn/cache/flatpickr-npm-4.6.1-c1e46c3700-66ea82084a.zip
  .yarn/cache/warning-npm-3.0.0-125973e5cc-c9f99a1280.zip
  examples/incremental-migration/.gitignore
  examples/incremental-migration/README.md
  examples/incremental-migration/next.config.js
  examples/incremental-migration/package.json
  examples/incremental-migration/public/favicon.ico
  examples/incremental-migration/public/vercel.svg
  examples/incremental-migration/src/pages/_app.js
  examples/incremental-migration/src/pages/index.js
  examples/incremental-migration/src/scss/Home.module.css
  examples/incremental-migration/src/scss/styles.scss
  yarn.lock
Labels: status: ready to merge 🎉

#12090 docs(prefix): cross link usePrefix and ClassPrefix
  packages/react/src/components/ClassPrefix/ClassPrefix.mdx
  packages/react/src/internal/usePrefix.stories.mdx
Labels: status: ready to merge 🎉

#12072 refactor(react): update PaginationNav tests to rtl
  packages/react/src/components/PaginationNav/PaginationNav-test.js
  packages/react/src/components/PaginationNav/PaginationNav.js
  packages/react/tasks/build-test-rtl.js
Labels: status: ready to merge 🎉

#12074 fix(toggle): don't render focus border when clicked while disabled
  packages/styles/scss/components/toggle/_toggle.scss
Labels: status: ready to merge 🎉

#12092 fix(type): update expressive-heading-04(fluid-heading-04)
  packages/styles/scss/__tests__/__snapshots__/type-test.js.snap
  packages/type/scss/_styles.scss
  packages/type/src/styles.js
Labels: status: ready to merge 🎉

#12094 fix(Toggle): fix issue with side label when hideLabel is true
  packages/react/src/components/Toggle/Toggle.js
Labels: status: ready to merge 🎉

#12079 Automatically issue a PR on the IDL site to update Carbon deps when release is cut
  .github/workflows/deploy-packages.yml
Labels: status: ready to merge 🎉

#12097 fix(Notification): add HCM query for close icon
  packages/styles/scss/components/notification/_actionable-notification.scss
  packages/styles/scss/components/notification/_inline-notification.scss
  packages/styles/scss/components/notification/_toast-notification.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#12105 fix(Filename): remove tabindex when status is complete
  packages/react/src/components/FileUploader/Filename.js
  packages/styles/scss/components/file-uploader/_file-uploader.scss
Labels: status: ready to merge 🎉

#12112 fix(actionable-notification): provide a name for alertdialog role
  packages/react/src/components/Notification/Notification.js
Labels: severity: 3, type: bug 🐛, status: ready to merge 🎉

#12114 Update support triage documentation
  docs/guides/endgame.md
  docs/guides/so-you're-going-on-vacation.md
  docs/guides/support.md
  docs/guides/triaging-accessibility-issues.md
Labels: status: ready to merge 🎉

#12103 feat(FluidTextInput): add password input functionality
  e2e/components/FluidTextInput/FluidTextInput-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FluidTextInput/FluidTextInput.js
  packages/react/src/components/FluidTextInput/FluidTextInput.stories.js
  packages/react/src/components/FluidTextInput/__tests__/FluidTextInput-test.js
  packages/react/src/components/TextInput/PasswordInput.js
  packages/styles/scss/components/fluid-text-input/_fluid-text-input.scss
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉

#12098 fix(RadioButton): fix HCM styles
  packages/styles/scss/components/radio-button/_radio-button.scss
Labels: status: ready to merge 🎉

#12122 style: fix text-overflow for equally spaced
  packages/styles/scss/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge 🎉

#12108 refactor(react): update radio tile tests to rtl
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/RadioTile/RadioTile-test.js
  packages/react/src/components/RadioTile/RadioTile.js
  packages/react/src/components/Tile/next/Tile.stories.js
  packages/react/tasks/build-test-rtl.js
Labels: status: ready to merge 🎉

#12100 fix(v10): backport HCM fixes to v10 for RadioButton, Toggle, Notification
  packages/components/src/components/notification/_inline-notification.scss
  packages/components/src/components/notification/_toast-notification.scss
  packages/components/src/components/radio-button/_radio-button.scss
  packages/components/src/components/toggle/_toggle.scss
Labels: status: ready to merge 🎉

#12012 feat: add controls and example for context menu
  packages/react/src/components/ContextMenu/ContextMenu-story.js
  packages/react/src/components/ContextMenu/ContextMenu.stories.js
Labels: status: ready to merge 🎉

#12131 refactor(react): update tests and move component from next
  packages/react/package.json
  packages/react/src/components/ProgressIndicator/ProgressIndicator-test.js
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
  packages/react/src/components/ProgressIndicator/ProgressIndicator.stories.js
  packages/react/src/components/ProgressIndicator/__tests__/ProgressIndicator-test.js
  packages/react/src/components/ProgressIndicator/index.js
  packages/react/src/components/ProgressIndicator/next/ProgressIndicator.js
  packages/react/src/components/ProgressIndicator/next/ProgressIndicator.stories.js
  packages/react/src/components/ProgressIndicator/next/__tests__/ProgressIndicator-test.js
  packages/react/tasks/build-test-rtl.js
  yarn.lock
Labels: status: ready to merge 🎉

#12129 Index Live Demos for Carbon React
  packages/react/carbon.yml
  packages/react/src/components/Accordion/docs/overview.mdx
  packages/react/src/components/AspectRatio/docs/overview.mdx
  packages/react/src/components/Breadcrumb/docs/overview.mdx
  packages/react/src/components/Button/docs/overview.mdx
  packages/react/src/components/Checkbox/docs/overview.mdx
  packages/react/src/components/CodeSnippet/docs/overview.mdx
  packages/react/src/components/ComboBox/docs/overview.mdx
  packages/react/src/components/ComposedModal/docs/overview.mdx
  packages/react/src/components/ContentSwitcher/docs/overview.mdx
  packages/react/src/components/CopyButton/docs/overview.mdx
  packages/react/src/components/DataTable/__tests__/exports-test.js
  packages/react/src/components/DataTable/docs/overview.mdx
  packages/react/src/components/DatePicker/docs/overview.mdx
  packages/react/src/components/Dropdown/docs/overview.mdx
  packages/react/src/components/ErrorBoundary/docs/overview.mdx
  packages/react/src/components/FileUploader/docs/overview.mdx
  packages/react/src/components/FlexGrid/docs/overview.mdx
  packages/react/src/components/Form/docs/overview.mdx
  packages/react/src/components/FormGroup/docs/overview.mdx
  packages/react/src/components/Grid/docs/overview.mdx
  packages/react/src/components/Heading/docs/overview.mdx
  packages/react/src/components/IconButton/docs/overview.mdx
  packages/react/src/components/InlineLoading/docs/overview.mdx
  packages/react/src/components/Layer/docs/overview.mdx
  packages/react/src/components/Link/docs/overview.mdx
  packages/react/src/components/Loading/docs/overview.mdx
  packages/react/src/components/Modal/docs/overview.mdx
  packages/react/src/components/MultiSelect/docs/overview.mdx
  packages/react/src/components/Notification/docs/overview.mdx
  packages/react/src/components/NumberInput/docs/overview.mdx
  packages/react/src/components/OrderedList/docs/overview.mdx
  packages/react/src/components/OverflowMenu/docs/overview.mdx
  packages/react/src/components/Pagination/docs/overview.mdx
  packages/react/src/components/PaginationNav/docs/overview.mdx
  packages/react/src/components/Popover/docs/overview.mdx
  packages/react/src/components/ProgressBar/docs/overview.mdx
  packages/react/src/components/ProgressIndicator/docs/overview.mdx
  packages/react/src/components/RadioButton/docs/overview.mdx
  packages/react/src/components/Search/docs/overview.mdx
  packages/react/src/components/Select/docs/overview.mdx
  packages/react/src/components/Slider/docs/overview.mdx
  packages/react/src/components/StructuredList/docs/overview.mdx
  packages/react/src/components/Tabs/docs/overview.mdx
  packages/react/src/components/Tag/docs/overview.mdx
  packages/react/src/components/TextArea/docs/overview.mdx
  packages/react/src/components/TextInput/docs/overview.mdx
  packages/react/src/components/Theme/docs/overview.mdx
  packages/react/src/components/Tile/docs/overview.mdx
  packages/react/src/components/TimePicker/docs/overview.mdx
  packages/react/src/components/Toggle/docs/overview.mdx
  packages/react/src/components/Toggletip/docs/overview.mdx
  packages/react/src/components/Tooltip/docs/overview.mdx
  packages/react/src/components/TreeView/docs/overview.mdx
  packages/react/src/components/UnorderedList/docs/overview.mdx
Labels: status: ready for review 👀

#12152 fix(style/`--side-nav__navigation`): remove css `height` to allow components at bottom (#5871)
  packages/styles/scss/components/ui-shell/side-nav/_side-nav.scss
Labels: status: ready to merge 🎉

#12053 feat(FluidTextArea): adds new fluid text area
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/FluidForm/FluidForm-story.js
  packages/react/src/components/FluidForm/FluidForm.stories.js
  packages/react/src/components/FluidTextArea/FluidTextArea.Skeleton.js
  packages/react/src/components/FluidTextArea/FluidTextArea.js
  packages/react/src/components/FluidTextArea/FluidTextArea.stories.js
  packages/react/src/components/FluidTextArea/__tests__/FluidTextArea-test.js
  packages/react/src/components/FluidTextArea/index.js
  packages/react/src/components/TextArea/TextArea.js
  packages/react/src/index.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/fluid-text-area/_fluid-text-area.scss
  packages/styles/scss/components/fluid-text-area/_index.scss
  packages/styles/scss/components/text-area/_text-area.scss
Labels: status: ready to merge 🎉

#12147 chore(ordered-list): add ordered list controls
  packages/react/src/components/OrderedList/OrderedList.mdx
  packages/react/src/components/OrderedList/OrderedList.stories.js
Labels: status: ready to merge 🎉

#12168 Remove `SearchFilterButton` and `SearchLayoutButton`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Search/Search-story.js
  packages/react/src/components/SearchFilterButton/SearchFilterButton-test.js
  packages/react/src/components/SearchFilterButton/SearchFilterButton.js
  packages/react/src/components/SearchFilterButton/index.js
  packages/react/src/components/SearchLayoutButton/SearchLayoutButton-test.js
  packages/react/src/components/SearchLayoutButton/SearchLayoutButton.js
  packages/react/src/components/SearchLayoutButton/index.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#12167 fix(numberinput): correct stepper behavior, typecast internal value to number
  packages/react/src/components/NumberInput/NumberInput.js
Labels: status: ready to merge 🎉

#12164 chore(project): add workflow to post slack office hours reminder
  .github/workflows/slack-office-hours.yml
Labels: status: ready to merge 🎉

#12183 fix(type): add carbon/layout to dependencies
  packages/type/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#12106 fix(DataTable): backport aria-label fix to v10
  packages/react/src/components/InlineCheckbox/InlineCheckbox.js
Labels: status: ready to merge 🎉

#12139 feat(react): added counter to textinput and storybook updates
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextArea/TextArea-test.js
  packages/react/src/components/TextArea/next/TextArea.stories.js
  packages/react/src/components/TextInput/TextInput.js
  packages/react/src/components/TextInput/__tests__/TextInput-test.js
  packages/react/src/components/TextInput/next/TextInput.stories.js
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉
