Repository carbon-design-system/carbon, pull requests merged in 2022-03, with the labels that each got.

#10836 style(CodeSnippet): fix tokens based on design audit
  packages/styles/scss/components/code-snippet/_code-snippet.scss
  packages/styles/scss/components/code-snippet/_mixins.scss
Labels: status: ready to merge 🎉

#10768 chore(project): remove unstable prefix for applicable components
  packages/carbon-react/__tests__/index-test.js
  packages/carbon-react/src/index.js
  packages/react/src/components/IconButton/next/IconButton.stories.js
  packages/react/src/components/Popover/next/Popover.stories.js
  packages/react/src/components/ProgressBar/next/ProgressBar.stories.js
  packages/react/src/components/Tooltip/next/Tooltip.stories.js
Labels: status: ready to merge 🎉

#10880 ci(workflows): limit concurrency for a particular workflow-job
  .github/workflows/ci.yml
Labels: status: ready to merge 🎉

#10887 chore(storybook): update import, storybook titles
  packages/carbon-react/.storybook/preview.js
  packages/react/src/components/IconButton/next/IconButton.stories.js
  packages/react/src/components/Popover/next/Popover.stories.js
  packages/react/src/components/ProgressBar/next/ProgressBar.stories.js
  packages/react/src/components/Tooltip/next/Tooltip.stories.js
Labels: status: ready to merge 🎉

#10829 fix(OverflowMenu): allow users to set focusTrap to false
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#10827 docs(toggle): move migration guide to general v11 documentation
  docs/migration/v11.md
  packages/react/src/components/Toggle/migrate-to-11.x.md
Labels: status: ready to merge 🎉

#10799 feat(react): add horizontal overflow to Tabs in v11
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tabs/Tabs.js
  packages/react/src/components/Tabs/next/Tabs-test.js
  packages/react/src/components/Tabs/next/Tabs.js
  packages/react/src/components/Tabs/next/Tabs.stories.js
  packages/react/src/components/Tabs/next/usePressable.js
  packages/react/src/internal/useEffectOnce.js
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#10897 fix(react): update useMatchMedia to fallback to addListener
  packages/react/src/internal/useMatchMedia.js
Labels: status: ready to merge 🎉

#10886 fix(Dropdown): fixes based on design audit
  packages/styles/scss/components/combo-box/_combo-box.scss
  packages/styles/scss/components/dropdown/_dropdown.scss
  packages/styles/scss/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#10838 feat(SkeletonIcon): add SkeletonIcon component
  packages/carbon-react/__tests__/index-test.js
  packages/carbon-react/src/index.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/SkeletonIcon/SkeletonIcon-story.js
  packages/react/src/components/SkeletonIcon/SkeletonIcon-test.js
  packages/react/src/components/SkeletonIcon/SkeletonIcon.js
  packages/react/src/components/SkeletonIcon/index.js
  packages/react/src/index.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#10852 feat(tile): create consistent API between tile components
  packages/react/src/components/RadioTile/RadioTile.js
  packages/react/src/components/Tile/next/Tile.js
Labels: status: ready to merge 🎉

#10916 docs(icons): update metadata for UI icons
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#10929 fix(FlexGrid): scope styles to FlexGrid story
  packages/react/src/components/Grid/next/FlexGrid.stories.scss
Labels: status: ready to merge 🎉

#10918 fix(react): removes v11 enabled check on ${prefix}--label and adjusts styles
  packages/react/src/components/FormLabel/FormLabel.js
  packages/styles/scss/components/form/_form.scss
Labels: status: ready to merge 🎉

#10936 chore(storybook): update fast-sass-loader path
  packages/react/.storybook/main.js
Labels: status: ready to merge 🎉

#10938 chore(release): v10.55.0-rc.0
  config/eslint-config-carbon/package.json
  config/stylelint-config-carbon/package.json
  examples/codesandbox-styles/package.json
  examples/codesandbox/package.json
  packages/carbon-react/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/icon-build-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  www/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#10905 feat(tooltip): update docs and props for tooltip, definition tooltip
  packages/carbon-react/.storybook/main.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tooltip/next/DefinitionTooltip.js
  packages/react/src/components/Tooltip/next/DefinitionTooltip.mdx
  packages/react/src/components/Tooltip/next/DefinitionTooltip.stories.js
  packages/react/src/components/Tooltip/next/Tooltip.js
  packages/react/src/components/Tooltip/next/Tooltip.mdx
  packages/react/src/components/Tooltip/next/Tooltip.stories.js
  packages/react/src/components/Tooltip/next/__tests__/DefinitionTooltip-test.js
  packages/react/src/components/Tooltip/next/index.js
  packages/react/src/components/Tooltip/next/story.scss
Labels: status: ready to merge 🎉

#10773 fix(styles): port over data table fixes
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/data-table/action/_data-table-action.scss
  packages/styles/scss/components/data-table/sort/_data-table-sort.scss
Labels: status: ready to merge 🎉

#10903 fix(Select): make changes based on design audit
  packages/styles/scss/components/select/_select.scss
Labels: status: ready to merge 🎉

#10932 fix(styles): update tokens used
  packages/styles/scss/components/date-picker/_flatpickr.scss
Labels: status: ready to merge 🎉

#10937 fix(DataTable): fix disabled inputs when row is selected
  packages/components/src/components/data-table/_data-table-core.scss
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/radio-button/_radio-button.scss
Labels: status: ready to merge 🎉

#10948 fix(styles): adds back in cds--tabs__nav to style TabsSkeleton
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#10955 chore(release): v10.55.0
  config/eslint-config-carbon/package.json
  config/stylelint-config-carbon/package.json
  examples/codesandbox-styles/package.json
  examples/codesandbox/package.json
  packages/carbon-react/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  www/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#10954 feat(colors): update background tokens to be compatible with layers
  packages/themes/src/next/g10.js
  packages/themes/src/next/g100.js
  packages/themes/src/next/g90.js
  packages/themes/src/next/white.js
Labels: status: ready to merge 🎉

#10962 fix(dep): include missing dep, small grid fix
  packages/react/package.json
  packages/type/scss/modules/_styles.scss
  yarn.lock
Labels: status: ready to merge 🎉

#10963 refactor(styles): reorder imports to avoid config conflict
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/__tests__/styles-test.js
  packages/styles/scss/_reset.scss
  packages/styles/scss/type/_index.scss
  packages/styles/scss/type/_reset.scss
  packages/type/index.scss
  packages/type/scss/modules/_default-type.scss
  packages/type/scss/modules/_reset.scss
Labels: status: ready to merge 🎉

#10900 fix(uishell): provide tabindex as a named prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/HeaderMenuItem.js
  packages/react/src/components/UIShell/SwitcherItem.js
Labels: status: ready to merge 🎉

#10769 feat(progress-bar): add alignment variants
  packages/components/src/components/progress-bar/_progress-bar.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ProgressBar/ProgressBar-story.js
  packages/react/src/components/ProgressBar/ProgressBar.js
  packages/styles/scss/components/progress-bar/_progress-bar.scss
Labels: status: ready to merge 🎉

#10971 chore(Pagination): updated size prop for v11
  packages/react/src/components/Pagination/next/Pagination.js
  packages/react/src/components/Pagination/next/Pagination.stories.js
Labels: status: ready to merge 🎉

#10956 refactor(project): update AC config and add in AVT tests
  .gitignore
  .prettierignore
  .yarn/cache/accessibility-checker-npm-3.1.13-7bb0e22425-c31de81e4b.zip
  .yarn/cache/accessibility-checker-npm-3.1.18-63453b4816-e859f3ee4d.zip
  achecker.js
  config/jest-config-carbon/index.js
  config/jest-config-carbon/matchers/toHaveNoACViolations.js
  config/jest-config-carbon/package.json
  packages/react/src/components/Breadcrumb/__tests__/Breadcrumb-test.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher-test.js
  yarn.lock
Labels: status: ready to merge 🎉

#11012 chore: remove workflows from v10 branch
  .github/workflows/add-review-labels.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dco.yml
  .github/workflows/deploy-react-storybook.yml
  .github/workflows/deploy-vanilla-devenv.yml
  .github/workflows/issue-triage.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/sync-generated-files.yml
Labels: version: 10, status: ready to merge 🎉

#11021 chore(ci): add applicable workflows for v10 branch
  .github/workflows/add-review-labels.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dco.yml
  .github/workflows/issue-triage.yml
  .github/workflows/stale.yml
  .github/workflows/v10-ci.yml
  .github/workflows/v10-deploy-react-storybook.yml
  .github/workflows/v10-release.yml
Labels: status: ready to merge 🎉

#11016 docs(react): adds mdx to tabs
  packages/carbon-react/src/index.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Tab/Tab.js
  packages/react/src/components/Tabs/next/Tabs.mdx
  packages/react/src/components/Tabs/next/Tabs.stories.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#10959 fix(react): fix datepicker unknown prop warning
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#11030 fix(tabs): left align tab text in both contained and line tabs
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#10947 feat(Pagination, PaginationNav): migrate v11 versions to use new IconButton
  packages/react/src/components/Pagination/experimental/Pagination.js
  packages/react/src/components/Pagination/next/Pagination.js
  packages/react/src/components/Pagination/next/__tests__/Pagination-test.js
  packages/react/src/components/PaginationNav/PaginationNav.js
Labels: status: ready to merge 🎉

#11002 Use Akamai CDN for Plex
  docs/guides/ibm-plex.md
  packages/type/scss/font-face/_mono.scss
  packages/type/scss/font-face/_sans-condensed.scss
  packages/type/scss/font-face/_sans.scss
  packages/type/scss/font-face/_serif.scss
Labels: version: 10, status: ready to merge 🎉

#10966 fix(react): update data-table based on audit
  packages/react/src/components/DataTable/stories/DataTable-batch-actions-story.js
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/search/_search.scss
Labels: status: ready to merge 🎉

#11024 docs(spacing): update v11 migration guide for components no longer including margin
  docs/migration/v11.md
Labels: status: ready to merge 🎉

#11019 fix(react): update styles and adjust selected logic
  packages/react/src/components/RadioButton/next/RadioButton.js
  packages/react/src/components/RadioButton/next/RadioButton.stories.js
  packages/react/src/components/RadioButtonGroup/next/RadioButtonGroup.js
Labels: status: ready to merge 🎉

#11048 feat(upgrade): refactor jscodeshift usage and migrations path
  packages/upgrade/package.json
  packages/upgrade/src/cli.js
  packages/upgrade/src/jscodeshift.js
  packages/upgrade/src/upgrades.js
  packages/upgrade/transforms/update-carbon-components-react-import-to-scoped.js
  yarn.lock
Labels: status: ready to merge 🎉

#11053 feat(react): update theme components and docs
  packages/react/.storybook/preview.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Layer/index.js
  packages/react/src/components/Layer/next/Layer.mdx
  packages/react/src/components/Layer/next/Layer.stories.js
  packages/react/src/components/Theme/index.js
  packages/react/src/components/Theme/next/Theme.mdx
  packages/react/src/components/Theme/next/Theme.stories.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#11049 feat(browserslist-config): update browserslist to to exclude IE11
  config/browserslist-config-carbon/index.js
Labels: status: ready to merge 🎉

#11061 feat(project): update sass peerDependency to ^1.33.0
  packages/carbon-components-react/package.json
  packages/carbon-components/package.json
  packages/react/package.json
  packages/styles/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#11035 chore(uishell): port change from v10, remove background color
  packages/styles/scss/components/ui-shell/content/_content.scss
Labels: status: ready to merge 🎉

#11020 feat(react): switches close/open control to chevron if interactive content is present
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tile/next/Tile-test.js
  packages/react/src/components/Tile/next/Tile.js
  packages/react/src/components/Tile/next/Tile.stories.js
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#10969 fix(toggletip): update from audit and add docs
  packages/react/src/components/Toggletip/next/Toggletip.mdx
  packages/styles/scss/components/toggletip/_toggletip.scss
Labels: status: ready to merge 🎉

#11065 chore(release): v10.56.0
  config/jest-config-carbon/package.json
  examples/codesandbox-styles/package.json
  examples/codesandbox/package.json
  packages/carbon-react/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/icons-react/package.json
  packages/pictograms-react/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  www/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#11066 fix(tabs): remove touchstart preventDefault
  packages/react/src/components/Tabs/next/usePressable.js
Labels: status: ready to merge 🎉

#11045 chore(styles): remove v10 deprecated styles for v11
  docs/migration/v11.md
  packages/grid/scss/_mixins.import.scss
  packages/grid/scss/_mixins.scss
  packages/grid/scss/modules/_flex-grid.scss
  packages/grid/scss/modules/_mixins.scss
  packages/layout/scss/_convert.import.scss
  packages/layout/scss/_convert.scss
  packages/layout/scss/modules/_convert.scss
  packages/styles/scss/components/button/_button.scss
  packages/styles/scss/components/content-switcher/_content-switcher.scss
  packages/styles/scss/components/dropdown/_dropdown.scss
  packages/styles/scss/components/text-input/_text-input.scss
  packages/styles/scss/utilities/_convert.scss
  packages/type/scss/_reset.scss
  packages/type/scss/modules/_reset.scss
Labels: status: ready to merge 🎉

#11062 feat(icons): remove deprecated icons
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/deprecated.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/app-switcher.svg
  packages/icons/src/svg/32/arrows.svg
  packages/icons/src/svg/32/back-to-top.svg
  packages/icons/src/svg/32/checkbox--undeterminate--filled.svg
  packages/icons/src/svg/32/checkbox--undeterminate.svg
  packages/icons/src/svg/32/cloud--lightning.svg
  packages/icons/src/svg/32/cloud--rain.svg
  packages/icons/src/svg/32/cloud--snow.svg
  packages/icons/src/svg/32/delete.svg
  packages/icons/src/svg/32/letter--Aa--large.svg
  packages/icons/src/svg/32/logo--delicious.svg
  packages/icons/src/svg/32/logo--google.svg
  packages/icons/src/svg/32/logo--stumbleupon.svg
  packages/icons/src/svg/32/mammogram--stacked.svg
  packages/icons/src/svg/32/misuse--alt.svg
  packages/icons/src/svg/32/research--bloch-sphere.svg
  packages/icons/src/svg/32/research--hinton-plot.svg
  packages/icons/src/svg/32/research--matrix.svg
  packages/icons/src/svg/32/sunny.svg
  packages/icons/src/svg/32/watson-health/edit-filter.svg
  packages/icons/src/svg/glyph--caution-inverted.svg
  packages/icons/src/svg/glyph--caution.svg
  packages/icons/src/svg/glyph--circle-fill.svg
  packages/icons/src/svg/glyph--circle-stroke.svg
  packages/icons/src/svg/glyph--critical.svg
  packages/icons/src/svg/glyph--incomplete.svg
  packages/icons/src/svg/glyph--square-fill.svg
  packages/icons/src/svg/glyph--undefined.svg
Labels: status: ready to merge 🎉

#11022 fix(notification): adds `title`, `subtitle`, and `caption` props and removes closeOnEscape
  packages/react/src/components/Notification/next/Notification-test.js
  packages/react/src/components/Notification/next/Notification.js
  packages/react/src/components/Notification/next/Notification.stories.js
  packages/styles/scss/components/notification/_actionable-notification.scss
  packages/styles/scss/components/notification/_inline-notification.scss
  packages/styles/scss/components/notification/_toast-notification.scss
Labels: status: ready to merge 🎉

#11044 docs(contributing): add link to windows instructions
  .github/CONTRIBUTING.md
Labels: status: ready to merge 🎉

#10843 feat(progress-bar): add support for statuses
  packages/components/src/components/progress-bar/_progress-bar.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ProgressBar/ProgressBar-story.js
  packages/react/src/components/ProgressBar/ProgressBar-test.js
  packages/react/src/components/ProgressBar/ProgressBar.js
  packages/react/src/components/ProgressBar/next/ProgressBar.stories.js
  packages/styles/scss/components/progress-bar/_progress-bar.scss
Labels: status: ready to merge 🎉

#11054 feat(CopyButton, CodeSnippet): migrate v11 components to use IconButton
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/react/src/components/Copy/Copy.js
  packages/styles/scss/components/code-snippet/_code-snippet.scss
  packages/styles/scss/components/copy-button/_copy-button.scss
Labels: status: one more review 👀, status: ready to merge 🎉

#11089 chore(tag): add missing props to v11 tag
  packages/react/src/components/Tag/next/Tag.stories.js
Labels: status: ready to merge 🎉

#11101 fix(layer): update tokens
  packages/themes/src/g90.js
Labels: status: ready to merge 🎉

#11094 feat(react): removes support for renderLabel prop and adjust progress logic
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ProgressIndicator/ProgressIndicator-story.js
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
  packages/react/src/components/ProgressIndicator/next/ProgressIndicator.js
  packages/react/src/components/ProgressIndicator/next/ProgressIndicator.stories.js
  packages/styles/scss/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge 🎉

#11070 feat(type): update default type resolver to use Akamai CDN
  docs/guides/ibm-plex.md
  packages/styles/scss/__tests__/__snapshots__/config-test.js.snap
  packages/styles/scss/_config.scss
  packages/styles/scss/fonts/__tests__/__snapshots__/fonts-test.js.snap
  packages/styles/scss/fonts/__tests__/fonts-test.js
  packages/styles/scss/fonts/_src.scss
  packages/type/README.md
Labels: status: ready to merge 🎉

#11075 docs(readme): add docs for carbon-components
  packages/carbon-components/README.md
Labels: status: ready to merge 🎉

#11115 ci(release): update release workflow
  .github/workflows/release.yml
Labels: status: ready to merge 🎉

#11106 fix(react): update icon only button to IconButton component
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button-test.js
  packages/react/src/components/Button/Button.js
  packages/react/src/components/DataTable/TableBatchAction.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  packages/react/src/components/DataTable/next/DataTable-batch-actions.stories.js
  packages/react/src/components/DataTable/next/dynamic-content/DataTable-dynamic-content.stories.js
  packages/react/src/components/DataTable/stories/DataTable-batch-actions-story.js
  packages/react/src/components/IconButton/index.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  packages/react/src/components/PaginationNav/PaginationNav-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
Labels: status: ready to merge 🎉

#11105 docs: update next storybook docs
  packages/react/src/components/Accordion/Accordion.mdx
  packages/react/src/components/AspectRatio/AspectRatio.mdx
  packages/react/src/components/Breadcrumb/Breadcrumb.mdx
  packages/react/src/components/Button/Button.mdx
  packages/react/src/components/Button/next/Button.stories.js
  packages/react/src/components/Checkbox/Checkbox.mdx
  packages/react/src/components/Checkbox/next/Checkbox.stories.js
  packages/react/src/components/CodeSnippet/CodeSnippet.mdx
  packages/react/src/components/CodeSnippet/next/CodeSnippet.stories.js
  packages/react/src/components/ComboBox/ComboBox.mdx
  packages/react/src/components/ComboBox/next/ComboBox.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.mdx
  packages/react/src/components/ContentSwitcher/next/ContentSwitcher.stories.js
  packages/react/src/components/DataTable/DataTable.mdx
  packages/react/src/components/DatePicker/DatePicker.mdx
  packages/react/src/components/DatePicker/next/DatePicker.stories.js
  packages/react/src/components/Dropdown/next/Dropdown.stories.js
  packages/react/src/components/FileUploader/next/FileUploader.stories.js
  packages/react/src/components/FormLabel/FormLabel-story.js
  packages/react/src/components/Grid/next/FlexGrid.mdx
  packages/react/src/components/Grid/next/Grid.mdx
  packages/react/src/components/Heading/Heading.mdx
  packages/react/src/components/Loading/Loading-story.js
  packages/react/src/components/NumberInput/next/NumberInput.stories.js
  packages/react/src/components/OrderedList/OrderedList-story.js
  packages/react/src/components/OverflowMenu/OverflowMenu.mdx
  packages/react/src/components/OverflowMenu/next/OverflowMenu.stories.js
  packages/react/src/components/Pagination/next/Pagination.stories.js
  packages/react/src/components/Popover/next/Popover.mdx
  packages/react/src/components/ProgressIndicator/next/ProgressIndicator.stories.js
  packages/react/src/components/Slider/next/Slider.stories.js
  packages/react/src/components/StructuredList/next/StructuredList.js
  packages/react/src/components/StructuredList/next/StructuredList.stories.js
  packages/react/src/components/TextInput/next/TextInput.mdx
  packages/react/src/components/TextInput/next/TextInput.stories.js
  packages/react/src/components/Tile/next/Tile.stories.js
  packages/react/src/components/Toggle/next/Toggle.stories.js
  packages/react/src/components/TooltipIcon/TooltipIcon-story.js
  packages/react/src/components/UnorderedList/UnorderedList-story.js
  packages/react/src/internal/ComponentToggle.js
Labels: status: ready to merge 🎉

#11100 docs(v11): finalize v11 migration docs
  docs/migration/v11.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#11113 feat(react): remove deprecated props
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/react/src/components/CodeSnippet/CodeSnippet.mdx
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/TableToolbar.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/Dropdown/Dropdown.Skeleton.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/FormGroup/FormGroup.js
  packages/react/src/components/FormGroup/next/FormGroup.stories.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/next/FilterableMultiSelect.js
  packages/react/src/components/Notification/Notification-test.js
  packages/react/src/components/Notification/next/Notification-test.js
  packages/react/src/components/Notification/next/Notification.js
  packages/react/src/components/Notification/next/Notification.stories.js
  packages/react/src/components/Slider/Slider.js
  packages/react/src/tools/createPropAdapter.js
Labels: status: ready to merge 🎉

#11116 fix(ExpandableSearch): update to work with functional Search component
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ExpandableSearch/ExpandableSearch.js
  packages/react/src/components/Search/next/Search.js
  packages/react/src/components/Search/next/Search.stories.js
Labels: status: ready to merge 🎉

#11117 feat(colors): add yellow and orange to exports
  packages/colors/src/colors.js
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/elements/src/index.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#11111 refactor(react): update TileGroup, ControlledPasswordInput, and ContentSwitcher
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ContentSwitcher/ContentSwitcher-test.js
  packages/react/src/components/ContentSwitcher/index.js
  packages/react/src/components/ContentSwitcher/next/ContentSwitcher.stories.js
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/Tile/next/Tile.stories.js
  packages/react/src/components/TileGroup/TileGroup-test.js
  packages/react/src/components/TileGroup/index.js
Labels: status: ready to merge 🎉

#11096 fix(uishell): audit fixes
  packages/react/src/components/UIShell/next/UIShell.mdx
  packages/react/src/components/UIShell/next/UIShell.stories.js
  packages/styles/scss/_reset.scss
  packages/type/scss/_default-type.scss
Labels: status: ready to merge 🎉

#11092 feat(React): remove component props that were deprecated in v10
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/NumberInput/next/NumberInput.js
  packages/react/src/components/NumberInput/next/__tests__/NumberInput-test.js
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem.js
  packages/react/src/components/RadioTile/RadioTile.js
  packages/react/src/components/Search/next/Search.js
  packages/react/src/components/Select/Select-test.js
  packages/react/src/components/Select/Select.js
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Slider/Slider.js
  packages/react/src/components/StructuredList/next/StructuredList.js
  packages/react/src/components/Tile/next/Tile.js
  packages/react/src/components/TimePickerSelect/next/TimePickerSelect.js
  packages/react/src/components/Tooltip/next/DefinitionTooltip.js
Labels: status: ready to merge 🎉

#11118 feat(react): deprecate handleClick and handleKeydown, update story with href
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tile/next/Tile.js
  packages/react/src/components/Tile/next/Tile.stories.js
Labels: status: ready to merge 🎉

#11104 fix(React): remove deprecated v11 props
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Accordion/Accordion.Skeleton.js
  packages/react/src/components/Accordion/AccordionItem.js
  packages/react/src/components/Button/Button-test.js
  packages/react/src/components/Button/Button.Skeleton.js
  packages/react/src/components/Button/Button.js
  packages/react/src/components/Checkbox/Checkbox-test.js
  packages/react/src/components/Checkbox/Checkbox.js
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/Table.js
  packages/react/src/components/DataTable/TableExpandHeader.js
  packages/react/src/components/DataTable/TableToolbarSearch.js
  packages/react/src/components/DataTable/__tests__/DataTable-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/Table-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableBody-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableCell-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandHeader-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableHead-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableHeader-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableRow-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableSelectAll-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
  packages/react/src/components/DatePickerInput/next/DatePickerInput.js
  packages/react/src/components/Dropdown/Dropdown.js
  packages/react/src/components/InlineLoading/InlineLoading.js
  packages/react/src/components/Modal/next/Modal.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  packages/react/src/components/Tooltip/Tooltip-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
  packages/styles/scss/components/button/_button.scss
Labels: status: ready to merge 🎉

#11121 chore(release): v11.0.0
  config/babel-preset-carbon/package.json
  config/browserslist-config-carbon/package.json
  config/jest-config-carbon/package.json
  examples/codesandbox-styles/package.json
  examples/codesandbox/package.json
  packages/carbon-components-react/package.json
  packages/carbon-components/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/react/src/components/ListBox/ListBox.js
  packages/sketch/package.json
  packages/styles/package.json
  packages/test-utils/package.json
  packages/themes/package.json
  packages/type/package.json
  packages/upgrade/package.json
  www/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#11124 fix(icon-build-helpers): use camelCase for SVG props
  packages/icon-build-helpers/src/builders/react/next/convert.js
Labels: status: ready to merge 🎉

#11125 fix(react): remove log in component toggle
  packages/react/src/internal/ComponentToggle.js
Labels: status: ready to merge 🎉

#11126 chore(release): v11.0.1
  examples/codesandbox/package.json
  packages/carbon-components-react/package.json
  packages/elements/package.json
  packages/icon-build-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/sketch/package.json
  www/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#11127 docs(react): update readme storybook links
  packages/react/README.md
Labels: status: ready to merge 🎉
