Repository carbon-design-system/carbon, pull requests merged in 2023-05, with the labels that each got.

#13695 fix/add z index to sidenav overlay
  packages/styles/scss/components/ui-shell/side-nav/_side-nav.scss
Labels: status: ready to merge 🎉

#13609 fix(structured-list): alignment prop, skeleton and storybook cleanup
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/StructuredList/StructuredList-story.js
  packages/react/src/components/StructuredList/StructuredList.Skeleton.js
  packages/react/src/components/StructuredList/StructuredList.js
  packages/react/src/components/StructuredList/StructuredList.stories.js
  packages/styles/scss/components/structured-list/_structured-list.scss
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#13722 Guidari contributor list
  .all-contributorsrc
  README.md
Labels: status: merge conflict 🚫, status: ready to merge 🎉

#13614 fix(SideNav): added esc key to close the sidenav
  packages/react/src/components/UIShell/HeaderContainer.js
  packages/react/src/components/UIShell/SideNav.js
Labels: status: ready to merge 🎉

#13697 [Documentation Typo] Typo in React Tabs Documentation
  packages/react/src/components/Tabs/Tabs.mdx
Labels: status: ready to merge 🎉

#13741 fix(Checkbox): restore invalidText and warnText to be optional
  packages/react/src/components/Checkbox/Checkbox.tsx
Labels: status: ready to merge 🎉

#13762 feature/HeaderNavigation types
  packages/react/src/components/UIShell/HeaderNavigation.tsx
  packages/react/src/components/UIShell/__tests__/HeaderNavigation-test.js
Labels: status: ready to merge 🎉

#13751 refactor(types/common): change common types extension to .ts
  packages/react/src/types/common.ts
Labels: status: ready to merge 🎉, area: typescript

#13720 fix(vite): update example to use react 18 createRoot
  examples/vite/src/main.jsx
Labels: status: one more review 👀, role: dev 🤖, status: ready to merge 🎉, type: infrastructure :robot:

#13771 docs: add more info around automated codemods to v11 migration
  docs/migration/v11.md
Labels: status: one more review 👀, status: ready to merge 🎉

#13707 feature/Theme types
  .all-contributorsrc
  README.md
  packages/react/src/components/Theme/index.tsx
Labels: status: ready to merge 🎉, area: typescript

#13737 fix(search): scope contained list search styles
  packages/styles/scss/components/contained-list/_contained-list.scss
Labels: status: ready to merge 🎉

#13781 SSR in NextJS fix by using useWindowEvent
  packages/react/src/components/UIShell/HeaderContainer.js
Labels: status: ready to merge 🎉

#13674 feat(Slider): update invalid state add warning state
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Slider/Slider.stories.js
  packages/react/src/components/Slider/Slider.tsx
  packages/styles/scss/components/slider/_slider.scss
Labels: status: one more review 👀, status: visual review 🔍, status: ready to merge 🎉

#13639 13420 rail sidenav esc
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SideNav.tsx
  packages/react/src/components/UIShell/UIShell.stories.js
Labels: status: merge conflict 🚫, component: ui-shell

#13675 chore(deps): bump and fix prettier
  .yarn/cache/prettier-npm-2.7.1-d1f40f5e1a-55a4409182.zip
  .yarn/cache/prettier-npm-2.8.8-430828a36c-b49e409431.zip
  config/eslint-config-carbon/package.json
  config/prettier-config-carbon/package.json
  config/stylelint-config-carbon/package.json
  package.json
  packages/cli/package.json
  packages/icon-build-helpers/package.json
  packages/icons-vue/package.json
  packages/react/src/components/ListBox/ListBoxPropTypes.ts
  packages/scss-generator/package.json
  packages/styles/scss/components/content-switcher/_content-switcher.scss
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/data-table/_mixins.scss
  packages/styles/scss/components/data-table/action/_data-table-action.scss
  packages/styles/scss/components/data-table/expandable/_data-table-expandable.scss
  packages/styles/scss/components/data-table/sort/_data-table-sort.scss
  packages/styles/scss/components/fluid-date-picker/_fluid-date-picker.scss
  packages/styles/scss/components/fluid-list-box/_fluid-list-box.scss
  packages/styles/scss/components/fluid-multiselect/_fluid-multiselect.scss
  packages/styles/scss/components/fluid-number-input/_fluid-number-input.scss
  packages/styles/scss/components/form/_form.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
  packages/styles/scss/components/notification/_actionable-notification.scss
  packages/styles/scss/components/notification/_inline-notification.scss
  packages/styles/scss/components/notification/_toast-notification.scss
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
  packages/styles/scss/components/progress-indicator/_progress-indicator.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/styles/scss/components/tabs/_tabs.scss
  packages/styles/scss/components/ui-shell/side-nav/_side-nav.scss
  packages/test-utils/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#13648 [a11y] Search: Search Icon Label Logic Update
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Search/Search.tsx
Labels: status: ready to merge 🎉

#13774 fix(DatePicker): onChange callback not being called
  packages/react/src/components/DatePicker/DatePicker.tsx
  packages/react/src/internal/useSavedCallback.js
Labels: status: ready to merge 🎉

#13776 fix(Type): add v10 type tokens
  packages/styles/__tests__/compat-test.js
  packages/styles/scss/__tests__/__snapshots__/type-test.js.snap
  packages/styles/scss/__tests__/type-test.js
  packages/styles/scss/type/_index.scss
  packages/type/scss/_styles.scss
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#13792 fix(tabs): overflow scroll buttons should not be focusable
  packages/react/src/components/Tabs/Tabs.js
Labels: status: ready to merge 🎉, status: enable automerge 🟠

#13779 docs: fix typo Update v11.md
  docs/migration/v11.md
Labels: status: one more review 👀, type: docs 📖, status: ready to merge 🎉

#13773 feature/Form types
  packages/react/src/components/Form/Form.tsx
  packages/react/src/components/Form/index.ts
Labels: status: ready to merge 🎉, area: typescript

#13775 feature/OrderedList, UnorderedList, and ListItem types
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ListItem/ListItem.tsx
  packages/react/src/components/ListItem/index.ts
  packages/react/src/components/OrderedList/OrderedList.tsx
  packages/react/src/components/OrderedList/index.ts
  packages/react/src/components/UnorderedList/UnorderedList.tsx
  packages/react/src/components/UnorderedList/index.ts
Labels: status: one more review 👀, status: ready to merge 🎉

#13735 chore(enable-v11-release): cleanup enable-v11-release feature flag usage
  packages/feature-flags/feature-flags.yml
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Accordion/Accordion.js
  packages/react/src/components/Button/Button.Skeleton.js
  packages/react/src/components/CodeSnippet/__tests__/CodeSnippet-test.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/Copy/Copy-test.js
  packages/react/src/components/Copy/Copy.js
  packages/react/src/components/CopyButton/CopyButton-test.js
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/FileUploader/FileUploader.js
  packages/react/src/components/FileUploader/FileUploaderButton.js
  packages/react/src/components/FileUploader/FileUploaderItem.js
  packages/react/src/components/FileUploader/__tests__/FileUploader-test.js
  packages/react/src/components/FluidComboBox/__tests__/FluidComboBox-test.js
  packages/react/src/components/FluidDropdown/__tests__/FluidDropdown-test.js
  packages/react/src/components/FluidNumberInput/__tests__/FluidNumberInput-test.js
  packages/react/src/components/FluidSearch/__tests__/FluidSearch-test.js
  packages/react/src/components/FluidSelect/__tests__/FluidSelect-test.js
  packages/react/src/components/FluidTextArea/__tests__/FluidTextArea-test.js
  packages/react/src/components/FluidTextInput/__tests__/FluidTextInput-test.js
  packages/react/src/components/FormLabel/FormLabel.js
  packages/react/src/components/IconButton/__tests__/IconButton-test.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/Pagination/experimental/Pagination.js
  packages/react/src/components/PaginationNav/PaginationNav.js
  packages/react/src/components/Select/Select.tsx
  packages/react/src/components/Select/__tests__/Select-test.js
  packages/react/src/components/SelectItemGroup/SelectItemGroup-test.js
  packages/react/src/components/SelectItemGroup/SelectItemGroup.tsx
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Slider/Slider.tsx
  packages/react/src/components/Tab/Tab.js
  packages/react/src/components/Tab/index.js
  packages/react/src/components/TextArea/TextArea-test.js
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextInput/TextInput.tsx
  packages/react/src/components/TextInput/__tests__/TextInput-test.js
  packages/react/src/components/TimePickerSelect/index.js
  packages/react/src/internal/ComponentToggle.js
  packages/styles/scss/components/file-uploader/_file-uploader.scss
  packages/styles/scss/components/form/_form.scss
  packages/styles/scss/components/notification/_actionable-notification.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#13783 fix(Layout): add v10 layout tokens
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/icons-vue/package.json
  packages/layout/__tests__/scss-test.js
  packages/layout/scss/_spacing.scss
  packages/layout/src/index.js
  packages/layout/src/tokens.js
  packages/layout/tasks/build.js
  packages/styles/__tests__/compat-test.js
  packages/styles/scss/__tests__/__snapshots__/spacing-test.js.snap
  packages/styles/scss/__tests__/spacing-test.js
  packages/styles/scss/_spacing.scss
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/v10/g10.js
  packages/themes/src/v10/g100.js
  packages/themes/src/v10/g90.js
  packages/themes/src/v10/white.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#13796 fix(UIShell): loss of focus on menu (new)
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/HeaderContainer.tsx
  packages/react/src/components/UIShell/SideNav.tsx
  packages/react/src/components/UIShell/UIShell.stories.js
Labels: status: ready to merge 🎉

#13804 fix(DataTable): correct default values for optional component props
  packages/react/src/components/DataTable/TableHeader.tsx
  packages/react/src/components/DataTable/TableToolbarMenu.tsx
Labels: status: ready to merge 🎉

#13402 fix(UIShell): add bg color to selected states (NEW)
  packages/react/src/components/UIShell/HeaderMenu.js
  packages/react/src/components/UIShell/UIShell.stories.js
  packages/styles/scss/components/ui-shell/header/_header.scss
  packages/styles/scss/components/ui-shell/side-nav/_side-nav.scss
Labels: status: ready to merge 🎉

#13814 Release v10.59.7
  examples/codesandbox-styles/package.json
  examples/codesandbox/package.json
  packages/carbon-react/package.json
  packages/react/package.json
  packages/styles/package.json
  www/package.json
  yarn.lock
Labels: status: enable automerge 🟠

#13805 fix(Motion): add v10 Motion tokens
  packages/motion/__tests__/__snapshots__/motion-test.js.snap
  packages/motion/index.scss
  packages/motion/src/index.js
  packages/styles/__tests__/compat-test.js
  packages/styles/scss/__tests__/__snapshots__/motion-test.js.snap
Labels: status: ready to merge 🎉

#13449 fix(react): updated textarea counter value changes on re-render
  packages/react/src/components/TextArea/TextArea.stories.js
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextArea/__tests__/TextArea-test.js
Labels: status: ready to merge 🎉

#13744 fix: a11y-dropdown-typeahead-downshift
  packages/react/src/components/Dropdown/Dropdown.tsx
Labels: status: ready to merge 🎉

#13790 feature/Toggletip types
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/BreadcrumbItem/index.js
  packages/react/src/components/FluidNumberInput/index.js
  packages/react/src/components/FluidSearch/index.js
  packages/react/src/components/Popover/index.tsx
  packages/react/src/components/Toggletip/index.tsx
  packages/react/src/components/Tooltip/Tooltip.tsx
  packages/react/src/components/UIShell/HeaderContainer.tsx
  packages/react/src/internal/useEvent.js
Labels: status: ready to merge 🎉

#13772 feature/SkipToContent types
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SkipToContent.tsx
Labels: status: ready to merge 🎉, area: typescript

#13812 chore(security): add SECURITY.md policy
  SECURITY.md
Labels: role: dev 🤖, status: enable automerge 🟠

#13819 Release v10.59.8
  examples/codesandbox/package.json
  packages/carbon-react/package.json
  packages/components/package.json
  packages/react/package.json
  www/package.json
  yarn.lock
Labels: role: dev 🤖, status: ready to merge 🎉, status: enable automerge 🟠

#13529 feat(Tabs): Dismissable tabs
  e2e/components/Tabs/Tabs-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/DataTable.mdx
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.js
  packages/react/src/components/Tabs/Tabs.mdx
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/react/src/internal/useEvent.js
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#13382 feat(tiles): add disabled story and update styles
  e2e/components/Tile/Tile-test.e2e.js
  packages/feature-flags/feature-flags.yml
  packages/react/.storybook/templates/Annotation/Annotation.scss
  packages/react/.storybook/templates/Annotation/index.js
  packages/react/.storybook/templates/WithDeprecationNotice/index.js
  packages/react/.storybook/templates/WithFeatureFlags/index.js
  packages/react/.storybook/templates/WithLayer/WithLayer.scss
  packages/react/.storybook/templates/WithLayer/index.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FeatureFlags/overview.stories.mdx
  packages/react/src/components/Tile/ExperimentalTile.mdx
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.featureflag.stories.js
  packages/react/src/components/Tile/Tile.js
  packages/react/src/components/Tile/Tile.stories.js
  packages/react/src/components/Tile/tile-story.scss
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready for review 👀, role: dev 🤖, status: enable automerge 🟠

#13810 Notification a11y color contrast
  packages/styles/scss/components/notification/_actionable-notification.scss
  packages/styles/scss/components/notification/_inline-notification.scss
  packages/styles/scss/components/notification/_toast-notification.scss
Labels: status: one more review 👀, status: ready to merge 🎉

#13750 fix(Popover): nested popover - css fix
  packages/styles/scss/components/popover/_popover.scss
Labels: status: ready to merge 🎉, component: popover

#13803 feat(popover): add onRequestClose prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Popover/Popover.mdx
  packages/react/src/components/Popover/Popover.stories.js
  packages/react/src/components/Popover/__tests__/Popover-test.js
  packages/react/src/components/Popover/index.tsx
Labels: status: enable automerge 🟠

#13843 feat(Pictograms):new expressive pictogram master
  packages/pictograms/master/expressive-pictogram-master.ai
Labels: status: ready to merge 🎉

#13866 feat: added types for class prefix component
  packages/react/src/components/ClassPrefix/index.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#13800 fix(DatePicker): fix reference for onOpen
  packages/react/src/components/DatePicker/DatePicker.tsx
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#13823 fix: add aria-controls to buttons controlling menus
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#13855 fix(DataTable): update sort logic when comparing alphanumeric values
  packages/react/src/components/DataTable/tools/sorting.js
Labels: status: ready to merge 🎉

#13853 fix(DatePicker): fix undefined prefix
  packages/react/src/components/DatePicker/DatePicker.tsx
Labels: status: ready to merge 🎉

#13864 fix(filename): provide aria-describedby to errored filenames
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FileUploader/FileUploaderItem.js
  packages/react/src/components/FileUploader/Filename.js
Labels: status: one more review 👀, status: enable automerge 🟠

#13868 docs(testing): document stable selector support
  docs/developer-handbook.md
  docs/guides/versioning.md
  docs/style.md
Labels: status: one more review 👀, type: docs 📖, role: dev 🤖, status: enable automerge 🟠

#13872 fix(Checkbox): fix issue with controlled indeterminate state
  packages/react/src/components/Checkbox/Checkbox.tsx
Labels: status: ready to merge 🎉

#13851 Time picker - New states and icons
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TimePicker/TimePicker.stories.js
  packages/react/src/components/TimePicker/TimePicker.tsx
  packages/styles/scss/components/form/_form.scss
  packages/styles/scss/components/time-picker/_time-picker.scss
Labels: status: one more review 👀, status: visual review 🔍, component: time-picker

#13873 fix(styles): fix issue with font-family inheritence in reset.scss
  packages/styles/scss/_reset.scss
Labels: status: ready to merge 🎉

#13896 feat: carbon champions GitHub action
  .github/workflows/slack-announcement.yml
Labels: status: ready to merge 🎉

#13850 feat: add enterDelayMs-type prop to delay displaying SideNav component
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SideNav.tsx
  packages/react/src/components/UIShell/UIShell.stories.js
  packages/styles/scss/components/ui-shell/side-nav/_side-nav.scss
Labels: status: ready to merge 🎉
