Repository carbon-design-system/carbon, pull requests merged in 2023-09, with the labels that each got.

#14563 fix(menu-item): use standard icons import
  packages/react/src/components/Menu/MenuItem.js
Labels: status: ready for review 👀, status: one more review 👀

#14562 ci: add jsx,tsx,tsx to lint-staged
  package.json
Labels: status: ready for review 👀, status: one more review 👀

#14574 [AVT]- Added keyboard nav test `Link`
  e2e/components/Link/Link-test.avt.e2e.js
Labels: status: ready to merge 🎉

#14555 Workplace pictograms 2023 09
  packages/pictograms/pictograms.yml
Labels: status: ready to merge 🎉

#14558 feat(UI icons): update 2023-09
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#14547 [FilterableMultiSelect] Fixed input when pressed delete
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
Labels: status: ready to merge 🎉

#14603 fix(password-input): apply layout size class
  packages/react/src/components/TextInput/PasswordInput.tsx
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#14598 fix(Tooltip): update story to match toggletip styles
  packages/react/src/components/Tooltip/story.scss
Labels: status: one more review 👀, status: ready to merge 🎉

#14608 fix(Tag): label filter tag with semantic label
  packages/react/src/components/Tag/Tag-test.js
  packages/react/src/components/Tag/Tag.tsx
Labels: status: ready for review 👀, status: ready to merge 🎉

#14581 [AVT] - Added keyboard nav test `TextInput`
  e2e/components/TextInput/TextInput-test.avt.e2e.js
Labels: status: ready to merge 🎉

#14613 fix(tag): update hover color tokens
  packages/themes/src/component-tokens/tag/tokens.js
Labels: status: ready to merge 🎉

#14631 feat: added github bot triage workflows
  .github/workflows/contribution-approved.yml
  .github/workflows/contribution-proposal-not-pursuing.yml
  .github/workflows/contribution-proposal.yml
  .github/workflows/contribution-ready-to-be-worked.yml
Labels: status: ready for review 👀, status: one more review 👀

#14632 fix(TagSkeleton): add to storybook and fix missing skeleton animation
  packages/react/src/components/Tag/Tag.Skeleton.tsx
  packages/react/src/components/Tag/Tag.stories.js
  packages/styles/scss/components/tag/_tag.scss
Labels: status: ready to merge 🎉

#14528 Added forwardRef to components
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Heading/index.tsx
  packages/react/src/components/Layer/index.js
  packages/react/src/components/Theme/index.tsx
Labels: status: ready to merge 🎉

#14636 refactor(IconSkeleton): convert to TypeScript
  packages/react/src/components/Icon/Icon.Skeleton.tsx
  packages/react/src/components/Icon/index.ts
Labels: status: ready to merge 🎉

#14606 fix(OverflowMenu): backport a11y fix to v10
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: version: 10, status: one more review 👀

#14600 fix: add isSelected prop to IconButton
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/IconButton/index.js
Labels: status: ready to merge 🎉

#14617 fix: change the HeaderMenuItem so it show docs in storybook
  README.md
  packages/react/src/components/UIShell/HeaderMenuItem.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#14626 fix(multiselect): calculate scroll width for title for truncation
  packages/react/src/components/ListBox/ListBoxMenuItem.tsx
Labels: status: ready to merge 🎉

#14647 chore(ci): change lint:styles to only target scss files
  package.json
Labels: status: ready for review 👀, status: ready to merge 🎉

#14644 fix(DataTable): don't set unique name for each radio input
  packages/react/src/components/DataTable/DataTable.tsx
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
Labels: status: ready for review 👀, status: ready to merge 🎉

#14609 fix(Notification): label notification with subtitle if title not present
  packages/react/src/components/Notification/Notification.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#14649 docs(data-table): hide toolbar content from screenreader when hidden
  packages/react/src/components/DataTable/stories/dynamic-content/DataTable-dynamic-content.stories.js
Labels: status: ready to merge 🎉

#14639 [AVT] - Added keyboard nav test `Breadcrumb`
  e2e/components/breadcrumb/breadcrumb-test.avt.e2e.js
  e2e/components/breadcrumb/breadcrumb-test.e2e.js
Labels: status: one more review 👀, type: a11y ♿

#14653 feat(Copy): add copy align prop to `CodeSnippet`, `Copy`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/react/src/components/Copy/Copy.js
  packages/react/src/components/CopyButton/CopyButton.js
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#14658 docs(rtl): update rtl docs for logical properties, remove rtlcss
  .yarn/cache/rtlcss-npm-4.0.0-9a056274ca-cd8fe72848.zip
  docs/developer-handbook.md
  packages/carbon-components/docs/g11n.md
  packages/react/docs/g11n.md
  packages/react/package.json
  yarn.lock
Labels: status: ready for review 👀, type: docs 📖, role: dev 🤖, status: ready to merge 🎉

#14666 fix: i changed the popover declaration for the docs to be shown
  packages/react/src/components/Popover/index.tsx
Labels: status: ready to merge 🎉

#14662 style(Button): set min, max layout sizes
  packages/styles/scss/components/button/_button.scss
Labels: status: ready to merge 🎉

#14641 style(Checkbox): align styles with vertical radio buttons, figma kit
  packages/styles/scss/components/checkbox/_checkbox.scss
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/radio-button/_radio-button.scss
Labels: status: ready for review 👀, status: visual review 🔍

#14667 fix: we can't upload the same file twice in the FileUploader component
  packages/react/src/components/FileUploader/FileUploader.tsx
Labels: status: ready to merge 🎉

#14661 docs(Checkbox): update Checkbox.mdx
  packages/react/src/components/Checkbox/Checkbox.mdx
Labels: status: ready to merge 🎉

#14664 UI icons update 2003 09
  .all-contributorsrc
  README.md
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#14665 [AVT] - Add Keyboard Nav AVT test for `Checkbox`
  e2e/components/Checkbox/Checkbox-test.avt.e2e.js
  e2e/components/Checkbox/Checkbox-test.e2e.js
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#14657 fix(UIShell): Export prop types for components
  packages/react/src/components/Link/Link.tsx
  packages/react/src/components/Link/index.tsx
  packages/react/src/components/UIShell/HeaderContainer.tsx
  packages/react/src/components/UIShell/HeaderMenuButton.tsx
  packages/react/src/components/UIShell/HeaderMenuItem.tsx
  packages/react/src/components/UIShell/HeaderName.tsx
  packages/react/src/components/UIShell/HeaderNavigation.tsx
  packages/react/src/components/UIShell/HeaderSideNavItems.tsx
  packages/react/src/components/UIShell/SideNav.tsx
  packages/react/src/components/UIShell/SkipToContent.tsx
  packages/react/src/components/UIShell/index.ts
Labels: status: ready to merge 🎉

#14576 Improve typescript types for ComboBox component
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉

#14690 [AVT] - Added Keyboard Nav AVT test for ComposedModal
  e2e/components/ComposedModal/ComposedModal-test.avt.e2e.js
  e2e/components/ComposedModal/ComposedModal-test.e2e.js
Labels: status: ready to merge 🎉

#14642 feat(Grid): export GridSettings
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Grid/Grid.mdx
  packages/react/src/components/Grid/Grid.stories.js
  packages/react/src/components/Grid/index.ts
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#14711 MultiSelect storybook updates
  packages/react/src/components/MultiSelect/MultiSelect.mdx
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Labels: status: one more review 👀

#14719 fix(OverflowMenu): fix issue with small variant
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
Labels: status: ready to merge 🎉

#14697 feat(text-area): support contextual layout tokens (density)
  packages/styles/scss/components/text-area/_text-area.scss
Labels: status: ready to merge 🎉

#14717 fix(CodeSnippet): fix horizontal scrolling with keyboard
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/styles/scss/components/code-snippet/_code-snippet.scss
Labels: status: ready to merge 🎉

#13632 Types/structured list
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/StructuredList/StructuredList.Skeleton.tsx
  packages/react/src/components/StructuredList/StructuredList.tsx
  packages/react/src/components/StructuredList/index.tsx
Labels: status: ready to merge 🎉

#14687 [AVT] - Added Keyboard Nav AVT test for `ComboButton`
  e2e/components/ComboButton/ComboButton-test.avt.e2e.js
  e2e/components/ComboButton/ComboButton-test.e2e.js
Labels: status: ready to merge 🎉

#14723 fix(UIShell): use hr instead of li with role
  packages/react/src/components/UIShell/SideNavDivider.js
  packages/styles/scss/components/ui-shell/side-nav/_side-nav.scss
Labels: status: ready to merge 🎉

#14709 fix(expandable-search): set tabindex to 0
  packages/react/src/components/Search/Search-test.js
  packages/react/src/components/Search/Search.tsx
Labels: status: ready to merge 🎉
