Repository carbon-design-system/carbon, pull requests merged in 2023-04, with the labels that each got.

#13440 fix: readme xml
  README.md
Labels: status: ready to merge 🎉

#13439 fix(ComboBox,FilterableMultiselect): add home, end keyboard controls
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
Labels: status: ready to merge 🎉

#13451 refactor: move ToggleSkeleton to TypeScript
  .all-contributorsrc
  README.md
  packages/react/src/components/Toggle/Toggle.Skeleton.tsx
Labels: status: ready to merge 🎉

#13391 fix(dropdown): fix a11y issues for dropdown
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/styles/scss/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#13444 Update README.md
  README.md
Labels: status: ready to merge 🎉

#13456 feat(read-only): update readonly border values
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FluidDatePicker/FluidDatePicker.js
  packages/styles/scss/components/combo-box/_combo-box.scss
  packages/styles/scss/components/date-picker/_date-picker.scss
  packages/styles/scss/components/dropdown/_dropdown.scss
  packages/styles/scss/components/fluid-date-picker/_fluid-date-picker.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
  packages/styles/scss/components/number-input/_number-input.scss
  packages/styles/scss/components/select/_select.scss
  packages/styles/scss/components/text-area/_text-area.scss
  packages/styles/scss/components/text-input/_text-input.scss
  packages/styles/scss/components/time-picker/_time-picker.scss
Labels: status: visual review 🔍, status: ready to merge 🎉

#13460 fix(CopyButton): adjust aria-live, add closeOnActivation
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Copy/Copy.js
  packages/react/src/components/IconButton/index.js
  packages/react/src/components/Tooltip/Tooltip.tsx
Labels: status: ready to merge 🎉

#13331 docs: redesign with-layer stories
  packages/react/.storybook/templates/WithLayer/WithLayer.scss
  packages/react/.storybook/templates/WithLayer/index.js
  packages/react/.storybook/templates/_prefix.js
  packages/react/.storybook/templates/_prefix.scss
  packages/react/src/components/CodeSnippet/CodeSnippet.stories.js
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/ContainedList/ContainedList.stories.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.stories.js
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/Dropdown/Dropdown.stories.js
  packages/react/src/components/FluidTextArea/FluidTextArea.stories.js
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/ProgressBar/ProgressBar.stories.js
  packages/react/src/components/Search/Search.stories.js
  packages/react/src/components/Select/Select.stories.js
  packages/react/src/components/Slider/Slider.stories.js
  packages/react/src/components/TextArea/TextArea.stories.js
  packages/react/src/components/TextInput/TextInput.stories.js
  packages/react/src/components/Theme/Theme.stories.js
  packages/react/src/components/Tile/ExperimentalTile.stories.js
  packages/react/src/components/Tile/Tile.stories.js
  packages/react/src/components/TimePicker/TimePicker.stories.js
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#13457 docs(DataTable): add a basic story with two lines of text
  packages/react/src/components/DataTable/stories/DataTable-basic.stories.js
  packages/react/src/components/DataTable/stories/datatable-story.scss
Labels: status: ready to merge 🎉

#13443 fix(DatePicker): add override behavior for start date deletion bug
  packages/react/src/components/DatePicker/DatePicker.js
  packages/react/src/components/DatePicker/plugins/fixEventsPlugin.js
Labels: status: ready to merge 🎉

#13371 fix: add area-describedby to components that use helperText
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/DatePickerInput/DatePickerInput.js
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/ProgressBar/ProgressBar.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/react/src/components/Select/Select.tsx
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextInput/ControlledPasswordInput.js
  packages/react/src/components/TextInput/PasswordInput.tsx
  packages/react/src/components/TextInput/util.js
Labels: status: ready to merge 🎉

#13493 fix(postinstall): include scripts dir in build output
  packages/carbon-components-react/package.json
  packages/carbon-components/package.json
Labels: type: bug 🐛, severity: 1, role: dev 🤖, status: enable automerge 🟠

#13469 fix(layer): add border-subtle-00 to layerset map
  packages/react/src/components/Accordion/Accordion.stories.js
  packages/styles/scss/layer/_layer-sets.scss
Labels: status: ready for review 👀, status: visual review 🔍, status: ready to merge 🎉

#13495 docs: add patch instructions
  docs/release.md
Labels: status: ready to merge 🎉

#13500 chore(storybook): add default value to warnText prop
  packages/react/src/components/NumberInput/NumberInput.stories.js
Labels: status: ready to merge 🎉

#13378 feat(ContentSwitcher): add icon-only ContentSwitcher
  e2e/components/ContentSwitcher/ContentSwitcher-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.stories.js
  packages/react/src/components/IconButton/index.js
  packages/react/src/components/Switch/IconSwitch.js
  packages/react/src/components/Switch/__tests__/IconSwitch-test.js
  packages/react/src/components/Switch/__tests__/Switch-test.js
  packages/react/src/components/Switch/index.js
  packages/react/src/index.js
  packages/styles/scss/components/content-switcher/_content-switcher.scss
Labels: status: ready to merge 🎉

#13296 docs: index fluid style pattern
  packages/styles/carbon.yml
  packages/styles/thumbnails/fluid-styles.svg
Labels: status: ready to merge 🎉

#13427 feat(Tabs): add renderIcon prop
  e2e/components/Tabs/Tabs-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.js
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#13468 style(Treeview): add cursor change on hover
  packages/styles/scss/components/treeview/_treeview.scss
Labels: status: one more review 👀, status: visual review 🔍, status: ready to merge 🎉

#13517 fix(DataTable): remove test story
  packages/react/src/components/DataTable/stories/expansion/DataTable-expansion.stories.js
Labels: status: ready to merge 🎉

#13501 fix(tabs): hover style bugs
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: visual review 🔍, status: ready to merge 🎉

#13526 test(Toggletip): improve the coverage
  packages/react/src/components/Toggletip/__tests__/Toggletip-test.js
Labels: status: ready to merge 🎉

#13533 Types/expandable search
  .all-contributorsrc
  README.md
  packages/react/src/components/ExpandableSearch/ExpandableSearch.tsx
  packages/react/src/components/Search/Search.tsx
  packages/react/src/components/Search/index.tsx
  packages/react/src/tools/events.js
Labels: status: ready to merge 🎉

#13613 chore(config): fix browserslist-config-carbon targets
  config/browserslist-config-carbon/index.js
  packages/react/src/components/DatePicker/DatePicker.js
  packages/react/src/components/Modal/Modal.js
Labels: status: ready to merge 🎉

#13625 fix(structuredlistinput): call onchange
  packages/react/src/components/StructuredList/StructuredList-test.js
  packages/react/src/components/StructuredList/StructuredList.js
Labels: type: bug 🐛, role: dev 🤖, status: ready to merge 🎉

#13622 fix(UnorderedList): remove hang in left gutter
  packages/styles/scss/components/list/_list.scss
Labels: status: ready for review 👀, status: visual review 🔍, status: ready to merge 🎉

#13627 feat(Storybook): Enable "buildStoriesJson" to support composition #13506
  netlify.toml
  packages/react/.storybook/main.js
Labels: status: ready to merge 🎉

#13636 docs(DatePicker): fix DatePicker docs
  packages/react/src/components/DatePicker/DatePicker.mdx
Labels: status: ready to merge 🎉

#13668 fix: cast icon name to string on vue builder
  packages/icon-build-helpers/src/builders/vue/builder.js
Labels: status: enable automerge 🟠

#13442 feat: contained list persistent search
  e2e/components/ContainedList/ContainedList-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ContainedList/ContainedList.js
  packages/react/src/components/ContainedList/ContainedList.mdx
  packages/react/src/components/ContainedList/ContainedList.stories.js
  packages/react/src/components/ContainedList/__tests__/ContainedList-test.js
  packages/react/src/components/ExpandableSearch/ExpandableSearch.tsx
  packages/styles/scss/components/contained-list/_contained-list.scss
Labels: status: ready to merge 🎉

#13667 🛠️ fix(OverflowMenu): Pass `size` Prop Along To `IconButton`
  .all-contributorsrc
  README.md
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#13532 feat(DatePickerSkeleton): add types (#12541)
  packages/react/src/components/DatePicker/DatePicker.Skeleton.tsx
  packages/react/src/components/DatePicker/index.tsx
Labels: status: ready to merge 🎉

#13445 fix(NumberInput): have less padding if number is valid
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#13568 fix(HamburguerMenu): added an if ternary on close and open menu
  packages/react/src/components/UIShell/UIShell.stories.js
Labels: status: ready to merge 🎉

#13425 feat(DatePicker): Add typescript type to DatePicker Component
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/DatePicker.tsx
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
Labels: status: ready to merge 🎉

#13618 fix(grid): improve and document use-flexbox-grid feature flag
  docs/migration/v11.md
  packages/react/src/components/Grid/FlexGrid.mdx
  packages/styles/docs/sass.md
  packages/styles/scss/_config.scss
  packages/styles/scss/grid/_index.scss
Labels: status: ready to merge 🎉

#13527 fix(SideNav): added the display to each component
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SideNavFooter.js
  packages/react/src/components/UIShell/SideNavHeader.js
  packages/react/src/components/UIShell/SideNavItems.js
  packages/react/src/components/UIShell/SideNavMenu.js
Labels: status: ready to merge 🎉
