Repository carbon-design-system/carbon, pull requests merged in 2023-12, with the labels that each got.

#15250 refactor(Layer, useLayer): add TypeScript types
  packages/react/src/components/Layer/LayerContext.ts
  packages/react/src/components/Layer/LayerLevel.ts
  packages/react/src/components/Layer/index.tsx
Labels: status: ready to merge 🎉

#15237 style(Fluid): fix issue with slug in fluid components, add fluid listbox
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/Form/form-story.scss
  packages/styles/scss/components/fluid-combo-box/_fluid-combo-box.scss
  packages/styles/scss/components/fluid-date-picker/_fluid-date-picker.scss
  packages/styles/scss/components/fluid-list-box/_fluid-list-box.scss
  packages/styles/scss/components/fluid-number-input/_fluid-number-input.scss
  packages/styles/scss/components/fluid-select/_fluid-select.scss
  packages/styles/scss/components/fluid-text-area/_fluid-text-area.scss
  packages/styles/scss/components/fluid-text-input/_fluid-text-input.scss
  packages/styles/scss/components/fluid-time-picker/_fluid-time-picker.scss
  packages/styles/scss/components/list-box/_list-box.scss
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#15231 feat(icons): icons metadata september thru november
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/foundation-model.svg
Labels: status: ready to merge 🎉

#15129 feat(slider): add tooltips for single and two handle sliders
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Slider/Slider.Skeleton.tsx
  packages/react/src/components/Slider/Slider.stories.js
  packages/react/src/components/Slider/Slider.tsx
  packages/react/src/components/Slider/SliderHandles.tsx
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tooltip/Tooltip.tsx
  packages/react/src/internal/useNoInteractiveChildren.js
  packages/styles/scss/components/slider/_slider.scss
Labels: status: ready to merge 🎉

#15236 fix(menu): update styles
  packages/react/src/components/ComboButton/index.js
  packages/react/src/components/Menu/MenuItem.js
  packages/react/src/components/MenuButton/MenuButton.stories.js
  packages/react/src/components/MenuButton/index.js
  packages/styles/scss/components/menu/_menu.scss
Labels: status: ready to merge 🎉

#15317 fix(tabs): guard against current tab being undefined
  packages/react/src/components/Tabs/Tabs.tsx
Labels: status: ready to merge 🎉

#15096 refactor: Add header panel types
  .all-contributorsrc
  packages/react/src/components/UIShell/HeaderPanel.js
  packages/react/src/components/UIShell/HeaderPanel.tsx
Labels: status: ready to merge 🎉

#15294 docs(Slug): move slug examples under experimental section
  e2e/components/Slug/Slug-test.avt.e2e.js
  e2e/components/Slug/Slug-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Checkbox/Checkbox.stories.js
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/CheckboxGroup/CheckboxGroup.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/Form/form-story.scss
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/RadioButton/RadioButton.stories.js
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/react/src/components/Select/Select.tsx
  packages/react/src/components/Slug/Slug-examples.stories.js
  packages/react/src/components/Slug/Slug-form.stories.js
  packages/react/src/components/Slug/slug-story.scss
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextInput/TextInput.tsx
  packages/react/src/components/Tile/Tile.stories.js
  packages/react/src/components/Tile/Tile.tsx
  packages/react/src/components/Tile/tile-story.scss
  packages/styles/scss/components/fluid-text-area/_fluid-text-area.scss
Labels: type: docs 📖, status: ready to merge 🎉

#15247 refactor(InlineLoading): add TypeScript types
  packages/react/src/components/ComposedModal/ModalFooter.tsx
  packages/react/src/components/InlineLoading/InlineLoading.tsx
  packages/react/src/components/InlineLoading/index.ts
  packages/react/src/components/Modal/Modal.tsx
Labels: status: ready to merge 🎉

#15232 fix(react): popover caret is not hidden when caret prop is false
  .all-contributorsrc
  README.md
  packages/styles/scss/components/popover/_popover.scss
Labels: status: ready to merge 🎉

#15333 fix(#15332) use toArray or checks for mapping children
  packages/react/src/components/ContentSwitcher/ContentSwitcher.tsx
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
  packages/react/src/components/UIShell/Switcher.tsx
Labels: status: ready to merge 🎉

#15307 fix(bug): #15291 wrong selectedItems count
  .all-contributorsrc
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Labels: status: ready to merge 🎉

#15318 feat(Tag): add slug prop to Tag
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CheckboxGroup/CheckboxGroup.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/react/src/components/Select/Select.tsx
  packages/react/src/components/Slug/Slug-examples.stories.js
  packages/react/src/components/Slug/Slug.stories.js
  packages/react/src/components/Slug/index.js
  packages/react/src/components/Slug/slug-story.scss
  packages/react/src/components/Tag/Tag.tsx
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextInput/TextInput.tsx
  packages/react/src/components/Tile/Tile.tsx
  packages/styles/scss/components/tag/_tag.scss
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready for review 👀, status: visual review 🔍, status: merge conflict 🚫

#15345 fix(Slug): ensure all necessary styles are imported
  packages/styles/scss/components/slug/_slug.scss
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#15344 fix(Accordion): correctly set height when open prop is set
  packages/styles/scss/components/accordion/_accordion.scss
Labels: status: one more review 👀

#15219 feat: paginationNav support high page counts
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/PaginationNav/PaginationNav.js
  packages/react/src/components/PaginationNav/PaginationNav.stories.js
Labels: status: ready to merge 🎉

#15350 feat(Modal): add slug to Modal, ComposedModal
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Slug/Slug-examples.stories.js
  packages/react/src/components/Slug/Slug.stories.js
  packages/react/src/components/Slug/slug-story.scss
  packages/styles/scss/components/modal/_modal.scss
  packages/styles/scss/utilities/_ai-gradient.scss
Labels: status: ready to merge 🎉

#15384 feat(icons): rename infinity to infinity-symbol
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/infinity-symbol.svg
Labels: status: one more review 👀, status: visual review 🔍

#15328 feat(Pictograms): new productive master 231205
  packages/pictograms/master/productive-pictogram-master.ai
Labels: status: one more review 👀

#15390 Chore: Onboard @carbon/react to IBM Telemetry 🚀
  packages/react/README.md
  packages/react/package.json
  packages/react/telemetry.yml
  yarn.lock
Labels: status: one more review 👀

#15369 chore: remove node-gyp
  package.json
  yarn.lock
Labels: role: dev 🤖, status: ready to merge 🎉, type: infrastructure :robot:

#15349 [Bug] - Sidenav menu collapse
  e2e/components/UIShell/UIShell-test.avt.e2e.js
  packages/react/src/components/UIShell/SideNavMenu.tsx
  packages/react/src/components/UIShell/UIShell.HeaderBase.stories.js
Labels: status: ready to merge 🎉

#15385 fix(progressindicator): correct padding on secondaryLabel in firefox
  packages/styles/scss/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge 🎉

#15348 feat: add TypeScript types for ErrorBoundary and ErrorBoundaryContext
  packages/react/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/react/src/components/ErrorBoundary/ErrorBoundaryContext.ts
  packages/react/src/components/ErrorBoundary/index.ts
Labels: status: one more review 👀

#15354 fix(treeview): prevent node selection on toggle
  packages/react/src/components/TreeView/TreeNode.js
Labels: status: one more review 👀

#15355 Added collapse announce in Expandable Search
  e2e/components/FluidSearch/FluidSearch-test.avt.e2e.js
  e2e/components/Search/Search-test.avt.e2e.js
  packages/react/src/components/DataTable/__tests__/TableToolbarSearch-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Search/Search-test.js
  packages/react/src/components/Search/Search.tsx
Labels: status: failing CI 🙅‍♂️

#15382 fix: declarations of ContentSwitcher, Switch, Slider, SkeletonIcon
  packages/react/src/components/ContentSwitcher/index.ts
  packages/react/src/components/SkeletonIcon/index.ts
  packages/react/src/components/Slider/index.ts
  packages/react/src/components/Switch/index.ts
  packages/react/src/internal/createClassWrapper.tsx
Labels: status: ready to merge 🎉

#15375 `OverflowMenu` fix when oppening two menus
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#15425 fix: install @ibm/telemetry-js as a direct dependency
  .yarn/cache/@ibm-telemetry-js-npm-1.1.0-b3b4946df0-4a7b5fcf56.zip
  packages/react/package.json
  yarn.lock
Labels: status: ready for review 👀

#15428 fix(v10): add direct dependency to @ibm/telemetry-js
  .yarn/cache/@ibm-telemetry-js-npm-1.1.0-b3b4946df0-aeec7caec4.zip
  packages/react/package.json
  yarn.lock
Labels: status: ready for review 👀

#15423 fix(Accordion): resolve overflow issue
  packages/react/src/components/Accordion/Accordion.stories.js
  packages/react/src/components/Accordion/AccordionItem.tsx
  packages/styles/scss/components/accordion/_accordion.scss
Labels: status: ready to merge 🎉

#15404 Add Typescript types to Stack component
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Stack/index.tsx
Labels: status: ready to merge 🎉

#15359 Refactor: add ModalWrapper types
  packages/react/src/components/ModalWrapper/ModalWrapper.tsx
  packages/react/src/components/ModalWrapper/index.ts
Labels: status: ready to merge 🎉

#15421 fix: modified _number-input.scss:91
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#15419 fix(Textarea): ensure onKeyDown is called
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextArea/TextArea-test.js
  packages/react/src/components/TextArea/TextArea.tsx
Labels: status: ready for review 👀, status: ready to merge 🎉
