Repository carbon-design-system/carbon, pull requests merged in 2023-07, with the labels that each got.

#14134 fix(tests): pin a11y ruleset to 26May2023
  achecker.js
Labels: role: dev 🤖, status: enable automerge 🟠

#14131 fix(peerDependencies): make sass optional for styles - Solves @carbon/charts example issue
  packages/styles/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#14128 feat(Toggle): adds typescript typings to Toggle
  .all-contributorsrc
  README.md
  packages/react/src/components/Toggle/Toggle.tsx
  packages/react/src/components/Toggle/index.tsx
  packages/react/src/internal/useControllableState.js
Labels: status: ready to merge 🎉

#14125 fix: storybook sort function
  packages/react/.storybook/preview.js
Labels: status: ready to merge 🎉

#14113 fix(pictograms): remove extra category for app--modernization
  packages/pictograms/categories.yml
Labels: status: ready to merge 🎉

#14094 feat(Pictograms): pictogram-master-file-june
  packages/pictograms/master/productive-pictogram-master.ai
Labels: status: visual review 🔍, status: ready to merge 🎉

#14105 fix: update contained list search placeholder
  packages/react/src/components/ContainedList/ContainedList.mdx
  packages/react/src/components/ContainedList/ContainedList.stories.js
Labels: status: one more review 👀, status: visual review 🔍, type: a11y ♿, component: contained-list

#14091 fix(FileUploader, CodeSnippet): backport a11y fixes to v10
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/components/src/components/file-uploader/_file-uploader.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/react/src/components/FileUploader/FileUploader.js
  packages/react/src/components/FileUploader/FileUploaderDropContainer.js
  packages/react/src/components/FileUploader/FileUploaderItem.js
  packages/react/src/components/FileUploader/Filename.js
  packages/react/src/components/FileUploader/__tests__/FileUploader-test.js
  packages/react/src/components/FileUploader/__tests__/FileUploaderDropContainer-test.js
  packages/react/src/components/FileUploader/__tests__/FileUploaderItem-test.js
  packages/react/src/components/FileUploader/__tests__/Filename-test.js
  packages/styles/scss/components/code-snippet/_code-snippet.scss
  packages/styles/scss/components/file-uploader/_file-uploader.scss
Labels: version: 10, status: ready to merge 🎉

#14059 test(modal): add keyboard navigation e2e tests
  e2e/components/Modal/Modal-test.avt.e2e.js
  e2e/components/Modal/Modal-test.e2e.js
Labels: status: one more review 👀, role: dev 🤖, status: ready to merge 🎉

#14127 Reconfigure UI Shell
  e2e/components/UIShell/UIShell-test.avt.e2e.js
  e2e/components/UIShell/UIShell-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/HeaderMenuButton.tsx
  packages/react/src/components/UIShell/UIShell.HeaderBase.stories.js
  packages/react/src/components/UIShell/UIShell.SideNav.stories.js
  packages/react/src/components/UIShell/UIShell.stories.js
Labels: status: ready to merge 🎉, component: ui-shell

#14143 chore(release): v10.59.9
  examples/codesandbox-styles/package.json
  examples/codesandbox/package.json
  packages/carbon-react/package.json
  packages/cli/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/elements/package.json
  packages/grid/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-handlebars/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/themes/package.json
  packages/type/package.json
  www/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#14144 fix(UIShell): various fixes to avoid null pointer assertions
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/UIShell/HeaderPanel.js
  packages/react/src/components/UIShell/Switcher.js
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#14114 fix(DataTableSkeleton): adjust TypeScript types to match behavior
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton.tsx
Labels: status: ready to merge 🎉

#14112 feat(Tag): add as prop to Tag to specify wrapping element (#13959)
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tag/Tag.js
Labels: status: ready to merge 🎉

#14015 style(components): fix styles when only a single component is imported
  packages/react/src/components/Popover/story.scss
  packages/styles/scss/components/accordion/_accordion.scss
  packages/styles/scss/components/breadcrumb/_breadcrumb.scss
  packages/styles/scss/components/button/_button.scss
  packages/styles/scss/components/checkbox/_checkbox.scss
  packages/styles/scss/components/code-snippet/_code-snippet.scss
  packages/styles/scss/components/combo-button/_combo-button.scss
  packages/styles/scss/components/contained-list/_contained-list.scss
  packages/styles/scss/components/content-switcher/_content-switcher.scss
  packages/styles/scss/components/copy-button/_copy-button.scss
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/data-table/action/_data-table-action.scss
  packages/styles/scss/components/data-table/expandable/_data-table-expandable.scss
  packages/styles/scss/components/date-picker/_date-picker.scss
  packages/styles/scss/components/dropdown/_dropdown.scss
  packages/styles/scss/components/fluid-multiselect/_fluid-multiselect.scss
  packages/styles/scss/components/fluid-text-area/_fluid-text-area.scss
  packages/styles/scss/components/form/_form.scss
  packages/styles/scss/components/inline-loading/_inline-loading.scss
  packages/styles/scss/components/list-box/_list-box.scss
  packages/styles/scss/components/loading/_loading.scss
  packages/styles/scss/components/menu-button/_menu-button.scss
  packages/styles/scss/components/menu/_menu.scss
  packages/styles/scss/components/modal/_modal.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
  packages/styles/scss/components/notification/_actionable-notification.scss
  packages/styles/scss/components/number-input/_number-input.scss
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
  packages/styles/scss/components/pagination-nav/_pagination-nav.scss
  packages/styles/scss/components/pagination/_pagination.scss
  packages/styles/scss/components/popover/_popover.scss
  packages/styles/scss/components/progress-bar/_progress-bar.scss
  packages/styles/scss/components/radio-button/_radio-button.scss
  packages/styles/scss/components/search/_search.scss
  packages/styles/scss/components/select/_select.scss
  packages/styles/scss/components/slider/_slider.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/styles/scss/components/tabs/_tabs.scss
  packages/styles/scss/components/text-area/_text-area.scss
  packages/styles/scss/components/text-input/_text-input.scss
  packages/styles/scss/components/tile/_tile.scss
  packages/styles/scss/components/time-picker/_time-picker.scss
  packages/styles/scss/components/toggletip/_toggletip.scss
  packages/styles/scss/components/tooltip/_tooltip.scss
  packages/styles/scss/components/treeview/_treeview.scss
  packages/styles/scss/components/ui-shell/header-panel/_header-panel.scss
  packages/styles/scss/components/ui-shell/header/_header.scss
  packages/styles/scss/components/ui-shell/side-nav/_side-nav.scss
  packages/styles/scss/components/ui-shell/switcher/_switcher.scss
  packages/type/src/__tests__/__snapshots__/fontFamily-test.js.snap
  packages/type/src/__tests__/__snapshots__/reset-test.js.snap
  packages/type/src/fontFamily.js
Labels: status: ready to merge 🎉

#14153 fix(useid): guard against useId not being exported
  packages/react/src/internal/useId.js
Labels: type: bug 🐛, severity: 1, role: dev 🤖, status: ready to merge 🎉, status: enable automerge 🟠

#14155 fix(ComboButton): import IconButton before Button
  packages/react/src/components/ComboButton/index.js
Labels: status: ready for review 👀, status: enable automerge 🟠

#14150 fix(release-notifications): use app token for authentication
  .github/workflows/release-notifications.yml
Labels: role: dev 🤖, status: ready to merge 🎉, type: infrastructure :robot:

#14149 Add types for DataTable
  .all-contributorsrc
  README.md
  packages/react/src/components/DataTable/DataTable.tsx
  packages/react/src/components/DataTable/__tests__/exports-test.js
  packages/react/src/components/DataTable/index.ts
  packages/react/src/components/DataTable/state/sortStates.ts
Labels: status: one more review 👀, status: ready to merge 🎉

#14157 fix(treeview): xs size variant
  packages/styles/scss/components/treeview/_treeview.scss
Labels: status: ready to merge 🎉

#14179 fix(storybook): update devtools toolbar for storybook 7
  packages/react/.storybook/preview.js
Labels: status: ready to merge 🎉

#14194 fix(docs): use name export for Button
  packages/react/src/components/Layout/Layout.stories.js
Labels: status: ready to merge 🎉, status: enable automerge 🟠

#14076 fix(Search): close expandable search on escape key
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/ExpandableSearch/ExpandableSearch-test.js
  packages/react/src/components/ExpandableSearch/ExpandableSearch.tsx
  packages/react/src/components/Search/Search-test.js
  packages/react/src/components/Search/Search.tsx
  packages/styles/scss/components/search/_search.scss
Labels: status: ready to merge 🎉

#14185 AVT test for Progress Indicator
  e2e/components/ProgressIndicator/ProgressIndicator-test.avt.e2e.js
  e2e/components/ProgressIndicator/ProgressIndicator-test.e2e.js
  packages/react/examples/custom-css-prefix/yarn.lock
Labels: status: ready to merge 🎉, status: enable automerge 🟠

#14196 fix(tile): prevent padding change on hover when disabled
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#14170 fix(modal-v10): remove aria-labelledby from modal body
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/Modal/next/Modal.js
  packages/react/src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: ready to merge 🎉, status: enable automerge 🟠

#14156 fix: fixed VO and JAWS problem in FF and Safari
  packages/react/src/components/ComposedModal/ComposedModal.tsx
Labels: status: ready to merge 🎉, status: enable automerge 🟠

#14204 feat(Pictograms): updated yaml for watsonx
  packages/pictograms/pictograms.yml
Labels: status: ready to merge 🎉

#14148 chore(TextInput): add AVT testing for disabled state
  e2e/components/TextInput/TextInput-test.avt.e2e.js
  e2e/components/TextInput/TextInput-test.e2e.js
  e2e/test-utils/storybook.js
Labels: status: ready to merge 🎉

#14192 feat(ContainedList): fix a11y issues with story
  packages/react/src/components/ContainedList/ContainedList.stories.js
Labels: status: ready to merge 🎉

#14193 fix(button): add min-height and bottom padding for wrapping
  packages/react/src/components/Button/Button.tsx
  packages/styles/scss/components/button/_button.scss
  packages/styles/scss/components/button/_mixins.scss
  packages/styles/scss/components/code-snippet/_code-snippet.scss
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
Labels: status: ready to merge 🎉

#14202 fix(Toggletip): update type token
  packages/styles/scss/components/toggletip/_toggletip.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#14206 fix(DataTable): fix a11y issues with selection variant
  packages/react/src/components/DataTable/__tests__/TableSelectRow-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
  packages/react/src/components/InlineCheckbox/InlineCheckbox.js
Labels: status: ready to merge 🎉

#14217 feat(upgrade): `update-carbon-icons-react-import-to-carbon-react` codemod
  docs/migration/v11.md
  packages/upgrade/src/upgrades.js
  packages/upgrade/transforms/__testfixtures__/update-carbon-icons-react-import-to-carbon-react.input.js
  packages/upgrade/transforms/__testfixtures__/update-carbon-icons-react-import-to-carbon-react.output.js
  packages/upgrade/transforms/__tests__/update-carbon-icons-react-import-to-carbon-react.js
  packages/upgrade/transforms/update-carbon-icons-react-import-to-carbon-react.js
Labels: type: enhancement 💡, role: dev 🤖, package: upgrade, type: infrastructure :robot:, status: enable automerge 🟠

#14222 chore(workflows): update workflows to be compatible with GH merge queue
  .github/workflows/add-to-merge-queue.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dco.yml
  .github/workflows/v10-ci.yml
  .kodiak.toml
Labels: role: dev 🤖, type: infrastructure :robot:, status: enable automerge 🟠

#14218 docs(datatable): add a disabled button to the batch action example story
  packages/react/src/components/DataTable/stories/DataTable-batch-actions.stories.js
Labels: type: docs 📖, role: dev 🤖, component: data-table, status: enable automerge 🟠

#14216 chore(test): avt testing for datepicker
  e2e/components/DatePicker/DatePicker-test.avt.e2e.js
  e2e/components/DatePicker/DatePicker-test.e2e.js
Labels: status: ready to merge 🎉

#14223 chore(test): add avt for tile
  e2e/components/Tile/Tile-test.avt.e2e.js
  e2e/components/Tile/Tile-test.e2e.js
Labels: status: ready to merge 🎉

#14226 fix(Toggle): make onClick optional in TypeScript interface
  packages/react/src/components/Toggle/Toggle.tsx
Labels: status: one more review 👀

#14231 fix(ci): update add-to-merge-queue formatting
  .github/workflows/add-to-merge-queue.yml
Labels: status: ready to merge 🎉

#14233 chore(test): add AVT for codesnippet
  e2e/components/CodeSnippet/CodeSnippet-test.avt.e2e.js
  e2e/components/CodeSnippet/CodeSnippet-test.e2e.js
Labels: status: ready for review 👀, status: enable automerge 🟠

#14246 feat(Pictograms): new pictograms and new category
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/asset-management.svg
  packages/pictograms/src/svg/balloon--hot-air.svg
  packages/pictograms/src/svg/balloon.svg
  packages/pictograms/src/svg/banking.svg
  packages/pictograms/src/svg/candy.svg
  packages/pictograms/src/svg/cloud-pak--for-business-automation.svg
  packages/pictograms/src/svg/coupon.svg
  packages/pictograms/src/svg/energy--crisis.svg
  packages/pictograms/src/svg/esg-reporting--01.svg
  packages/pictograms/src/svg/esg-reporting--02.svg
  packages/pictograms/src/svg/event--automation.svg
  packages/pictograms/src/svg/event--endpoint-management.svg
  packages/pictograms/src/svg/event--processing.svg
  packages/pictograms/src/svg/event--streams.svg
  packages/pictograms/src/svg/firecracker.svg
  packages/pictograms/src/svg/flag.svg
  packages/pictograms/src/svg/government--01.svg
  packages/pictograms/src/svg/government--02.svg
  packages/pictograms/src/svg/green-it--01.svg
  packages/pictograms/src/svg/green-it--02.svg
  packages/pictograms/src/svg/handshake.svg
  packages/pictograms/src/svg/lantern.svg
  packages/pictograms/src/svg/link.svg
  packages/pictograms/src/svg/medal--01.svg
  packages/pictograms/src/svg/medal--02.svg
  packages/pictograms/src/svg/moon--full.svg
  packages/pictograms/src/svg/moon-cake.svg
  packages/pictograms/src/svg/music.svg
  packages/pictograms/src/svg/ornament.svg
  packages/pictograms/src/svg/retail--sustainable.svg
  packages/pictograms/src/svg/scan-code.svg
  packages/pictograms/src/svg/shanghai--cityscape.svg
  packages/pictograms/src/svg/shanghai--oriental-pearl-tower.svg
  packages/pictograms/src/svg/snowflake.svg
  packages/pictograms/src/svg/supply-chain--01.svg
  packages/pictograms/src/svg/supply-chain--02.svg
  packages/pictograms/src/svg/sustainability--02.svg
  packages/pictograms/src/svg/sustainability--03.svg
  packages/pictograms/src/svg/sustainability--04.svg
  packages/pictograms/src/svg/sustainability--strategy.svg
  packages/pictograms/src/svg/trophy.svg
Labels: status: ready to merge 🎉

#14159 feat: tooltip keyboard testing
  e2e/components/OverflowMenu/OverflowMenu-test.e2e.js
  e2e/components/Tooltip/Tooltip-test.avt.e2e.js
  e2e/components/Tooltip/Tooltip-test.e2e.js
  packages/react/src/components/Tooltip/Tooltip.stories.js
Labels: status: ready to merge 🎉

#14265 test(Dropdown): add AVT tests for Dropdown
  e2e/components/Dropdown/Dropdown-test.avt.e2e.js
  e2e/components/Dropdown/Dropdown-test.e2e.js
Labels: status: ready to merge 🎉

#14278 feat(Pictograms): new productive master 230720
  packages/pictograms/master/productive-pictogram-master.ai
Labels: status: visual review 🔍

#14275 fix(DataTable): fix stacking issues with table toolbar + batch actions
  packages/styles/scss/components/data-table/action/_data-table-action.scss
Labels: status: ready for review 👀, status: visual review 🔍

#14285 fix(DataTable): add Row and Column types
  packages/react/src/components/DataTable/DataTable.tsx
Labels: status: ready to merge 🎉

#14241 fix(Tabs): allow props to be optional and do not return element array
  .all-contributorsrc
  README.md
  packages/react/src/components/Tabs/Tabs.tsx
Labels: status: ready to merge 🎉

#14301 fix(button): update imports to use the default export instead of named
  packages/react/src/components/ComboButton/index.js
  packages/react/src/components/MenuButton/index.js
Labels: status: ready for review 👀, type: bug 🐛, status: one more review 👀, type: docs 📖, severity: 2, status: ready to merge 🎉

#14305 test(Multiselect): add AVT for multiselect
  e2e/components/MultiSelect/MultiSelect-test.avt.e2e.js
  e2e/components/MultiSelect/MultiSelect-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#14239 fix(tile): improve interactive element detection to include aria-role
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.tsx
  packages/react/src/internal/useNoInteractiveChildren.js
Labels: status: ready for review 👀

#14306 [AVT] - RadioButton Keyboard nav and state validation
  e2e/components/RadioButton/RadioButton-test.avt.e2e.js
  e2e/components/RadioButton/RadioButton-test.e2e.js
Labels: status: ready to merge 🎉

#14307 docs(button): specify danger is not supported for icon only buttons
  packages/cli/src/component/templates/mdx.template.mdx
  packages/react/src/components/AspectRatio/AspectRatio.mdx
  packages/react/src/components/Button/Button.mdx
  packages/react/src/components/ClassPrefix/ClassPrefix.mdx
  packages/react/src/components/ComboButton/ComboButton.mdx
  packages/react/src/components/ComposedModal/ComposedModal.mdx
  packages/react/src/components/ContainedList/ContainedList.mdx
  packages/react/src/components/ContentSwitcher/ContentSwitcher.mdx
  packages/react/src/components/ContextMenu/useContextMenu.mdx
  packages/react/src/components/CopyButton/CopyButton.mdx
  packages/react/src/components/DataTable/DataTable.mdx
  packages/react/src/components/DatePicker/DatePicker.mdx
  packages/react/src/components/Dropdown/Dropdown.mdx
  packages/react/src/components/FluidForm/FluidForm.mdx
  packages/react/src/components/FluidSelect/FluidSelect.mdx
  packages/react/src/components/Form/Form.mdx
  packages/react/src/components/FormGroup/FormGroup.mdx
  packages/react/src/components/FormLabel/FormLabel.mdx
  packages/react/src/components/Heading/Heading.mdx
  packages/react/src/components/IconButton/IconButton.mdx
  packages/react/src/components/IdPrefix/IdPrefix.mdx
  packages/react/src/components/Layout/Layout.mdx
  packages/react/src/components/Menu/Menu.mdx
  packages/react/src/components/MenuButton/MenuButton.mdx
  packages/react/src/components/Modal/Modal.mdx
  packages/react/src/components/OverflowMenu/next/OverflowMenu.mdx
  packages/react/src/components/Popover/Popover.mdx
  packages/react/src/components/ProgressIndicator/ProgressIndicator.mdx
  packages/react/src/components/Select/Select.mdx
  packages/react/src/components/Tabs/Tabs.mdx
  packages/react/src/components/Toggletip/Toggletip.mdx
  packages/react/src/components/Tooltip/DefinitionTooltip.mdx
  packages/react/src/components/Tooltip/Tooltip.mdx
Labels: type: docs 📖, role: dev 🤖, status: ready to merge 🎉

#14250 [AVT]: Added avt tests for OverflowMenu
  e2e/components/OverflowMenu/OverflowMenu-test.avt.e2e.js
  e2e/components/OverflowMenu/OverflowMenu-test.e2e.js
Labels: status: ready for review 👀, status: one more review 👀

#14302 fix(DataTable): correct padding with expandable content
  packages/styles/scss/components/data-table/expandable/_data-table-expandable.scss
Labels: status: ready for review 👀, status: visual review 🔍

#14336 fix(layout): create mixin
  packages/styles/scss/_layout.scss
Labels: status: ready to merge 🎉

#14200 fix(Popover): scope popover styles to only influence direct children
  packages/react/src/components/Popover/story.scss
  packages/styles/scss/components/popover/_popover.scss
Labels: status: ready to merge 🎉

#14286 fix(DataTable): react event in getHeaderProps onClick and onInputChange
  packages/react/src/components/DataTable/DataTable.tsx
Labels: status: ready to merge 🎉

#14287 fix(DataTableSkeleton): fix TypeScript interface and proptypes
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton.tsx
Labels: status: ready to merge 🎉

#14313 fix(tooltip): toggle aria-hidden so iphone voiceover works correctly
  packages/react/src/components/Tooltip/Tooltip.tsx
Labels: status: ready to merge 🎉

#14251 [BUG]: tabbing hidden elements on SideNav
  e2e/components/UIShell/UIShell-test.avt.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SideNav.tsx
  packages/react/src/components/UIShell/SideNavLink.js
  packages/react/src/components/UIShell/SideNavMenu.js
  packages/react/src/components/UIShell/UIShell.SideNav.stories.js
  packages/react/src/components/UIShell/_utils.js
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉, component: ui-shell

#14314 docs(contained-list): update placeholder text
  packages/react/src/components/ContainedList/ContainedList.stories.js
Labels: status: one more review 👀, status: enable automerge 🟠

#14353 fix(HeaderMenu): use composeEventHandlers in HeaderMenu
  packages/react/src/components/UIShell/HeaderMenu.js
Labels: status: ready for review 👀

#14352 chore: update deploy-packages.yml to add gatsby-theme-carbon repo
  .github/workflows/deploy-packages.yml
Labels: role: dev 🤖, type: infrastructure :robot:

#14355 feat(Modal): add launcherButtonRef prop to handle focus on close
  e2e/components/Modal/Modal-test.avt.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/Modal/Modal.stories.js
Labels: status: ready to merge 🎉
