Repository carbon-design-system/carbon, pull requests merged in 2023-01, with the labels that each got.

#12822 style(Modal): scope p element styles to top level - v10
  .yarn/cache/caniuse-lite-npm-1.0.30001359-a30b134aa2-e15dbf4ea4.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001442-4206643829-c1bff65bd4.zip
  packages/components/src/components/modal/_modal.scss
  packages/react/src/components/Modal/Modal-story.js
  yarn.lock
Labels: status: ready to merge 🎉

#12900 feat(Button): add as prop to IconButton inside of the Button component
  .all-contributorsrc
  README.md
  packages/react/src/components/Button/Button.js
  packages/react/src/components/Button/__tests__/Button-test.js
Labels: status: ready to merge 🎉

#12955 docs(migration): correct specified path for scss config
  docs/migration/v11.md
Labels: type: docs 📖, role: dev 🤖, status: ready to merge 🎉

#12944 feat(elements-layout): update layout preview
  packages/layout/README.md
  packages/layout/examples/preview/.yarn/install-state.gz
  packages/layout/examples/preview/index.html
  packages/layout/examples/preview/next.config.js
  packages/layout/examples/preview/package.json
  packages/layout/examples/preview/src/pages/_app.js
  packages/layout/examples/preview/src/pages/index.js
  packages/layout/examples/preview/src/styles.scss
  packages/layout/examples/preview/styles.scss
  packages/layout/examples/preview/yarn.lock
Labels: status: ready to merge 🎉

#12967 fix(side-nav-link): add missing `isActive` to prop types
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SideNavLink.js
Labels: status: one more review 👀, status: ready to merge 🎉

#12969 fix(datepicker): ensure flatpickr instance is crated after lazy input resolves
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/DatePicker.js
Labels: status: ready to merge 🎉

#12961 feat(workflow): add github-repo-stats file
  .github/workflows/github-repo-stats.yml
Labels: status: ready to merge 🎉

#12966 fix(theme): update -success token
  packages/themes/src/g10.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#12943 chore: remove TooltipIcon
  packages/react/src/components/TooltipIcon/TooltipIcon-test.js
  packages/react/src/components/TooltipIcon/TooltipIcon.js
  packages/react/src/components/TooltipIcon/__snapshots__/TooltipIcon-test.js.snap
  packages/react/src/components/TooltipIcon/index.js
Labels: status: ready to merge 🎉

#12959 docs(typescript): instruct to use legacy DT types as a starting point
  docs/guides/adding-component-types.md
Labels: role: dev 🤖, status: ready to merge 🎉, area: typescript

#12924 test(eslint): update eslint to error if style prop is used
  config/eslint-config-carbon/plugins/react.js
  packages/react/src/components/FocusScope/index.js
  packages/react/src/components/Menu/_storybook-utils.js
  packages/react/src/components/Stack/Stack.js
  www/src/pages/insights/[owner]/[repo].js
Labels: status: ready to merge 🎉

#12928 fix(type): ensure all tokens are configurable
  packages/styles/scss/__tests__/type-test.js
  packages/styles/scss/type/_index.scss
  packages/type/scss/_styles.scss
Labels: status: ready to merge 🎉

#12984 fix(light): change token used in Listbox, Tile, Select components
  packages/styles/scss/components/combo-box/_combo-box.scss
  packages/styles/scss/components/dropdown/_dropdown.scss
  packages/styles/scss/components/list-box/_list-box.scss
  packages/styles/scss/components/select/_select.scss
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#12938 fix(popover): update autoAlign to work when open is initially false
  packages/react/src/components/Popover/Popover.stories.js
  packages/react/src/components/Popover/index.js
Labels: type: bug 🐛, severity: 2, status: ready to merge 🎉

#12974 feat(toggle): allow to be labelled by another element
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Toggle/Toggle-test.js
  packages/react/src/components/Toggle/Toggle.js
  packages/react/src/components/Toggle/Toggle.stories.js
Labels: status: ready to merge 🎉

#12953 fix(CodeSnippet): resolve issue with disabled styles
  packages/react/src/components/CodeSnippet/CodeSnippet.stories.js
  packages/styles/scss/components/code-snippet/_code-snippet.scss
Labels: status: ready to merge 🎉

#12992 test(ToggleSmall): remove outdated tests
  packages/react/src/components/ToggleSmall/ToggleSmall-test.js
Labels: status: ready to merge 🎉

#12877 Add Typescript annotations to NumberInputSkeleton
  packages/react/src/components/NumberInput/NumberInput.Skeleton.tsx
Labels: status: ready to merge 🎉

#12976 fix(overflow-menu): overflow menu open on render
  packages/react/src/components/OverflowMenu/OverflowMenu.js
Labels: status: ready to merge 🎉

#12993 fix(datepicker): update calendar when range end date is manually changed
  packages/react/src/components/DatePicker/plugins/fixEventsPlugin.js
Labels: status: ready to merge 🎉

#13020 Index docs from carbon platform branch
  packages/react/carbon.yml
  packages/styles/carbon.yml
Labels: status: ready to merge 🎉

#13005 ci(storybook): update deploy to github pages
  .github/workflows/deploy-react-storybook.yml
  docs/release.md
  packages/react/manifest.yml
Labels: status: ready to merge 🎉

#13016 fix(dropdown): make titleText required
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Dropdown/Dropdown.js
Labels: status: ready to merge 🎉

#13023 new-icons-metadata-Jan-2023
  packages/icons/icons.yml
Labels: status: one more review 👀, status: ready to merge 🎉

#13017 ci(release): remove deprecated action, call github release API directly
  .github/workflows/release.yml
  .github/workflows/v10-release.yml
Labels: status: ready to merge 🎉

#13019 fix(textarea): forward ref
  packages/react/src/components/TextArea/TextArea.js
Labels: status: ready to merge 🎉

#13018 ci(release-v10): remove deprecated action, call github API directly
  .github/workflows/v10-release.yml
Labels: status: ready to merge 🎉

#12997 refactor(react): convert `SliderSkeleton` to TypeScript
  packages/react/src/components/Slider/Slider.Skeleton.tsx
Labels: status: ready to merge 🎉

#12989 Add Typescript annotations to TableSelectAll
  packages/react/src/components/DataTable/TableSelectAll.tsx
  packages/react/src/components/DataTable/__tests__/exports-test.js
  packages/react/src/components/InlineCheckbox/InlineCheckbox.js
Labels: status: ready to merge 🎉

#13047 docs: remove outdated docs
  .github/workflows/slack-build-notifications.yml
  docs/developer-handbook.md
  packages/carbon-components/docs/deploying-changes.md
Labels: role: dev 🤖, status: ready to merge 🎉

#13022 refactor(typescript): convert Dropdown and dependencies to TypeScript
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/Dropdown/index.ts
  packages/react/src/components/FluidForm/FluidForm.tsx
  packages/react/src/components/FluidForm/FormContext.ts
  packages/react/src/components/FluidForm/index.ts
  packages/react/src/components/ListBox/ListBox.tsx
  packages/react/src/components/ListBox/ListBoxField.tsx
  packages/react/src/components/ListBox/ListBoxMenu.tsx
  packages/react/src/components/ListBox/ListBoxMenuIcon.tsx
  packages/react/src/components/ListBox/ListBoxMenuItem.tsx
  packages/react/src/components/ListBox/ListBoxPropTypes.js
  packages/react/src/components/ListBox/ListBoxPropTypes.ts
  packages/react/src/components/ListBox/ListBoxSelection.tsx
  packages/react/src/components/ListBox/index.js
  packages/react/src/components/ListBox/index.ts
Labels: status: ready to merge 🎉

#13031 test(password-input): update to rtl
  packages/react/src/components/TextInput/PasswordInput-test.js
  packages/react/src/components/TextInput/__tests__/PasswordInput-test.js
Labels: status: ready to merge 🎉

#13028 fix(ExpandableTile): remove extra onClick call
  packages/react/src/components/Tile/Tile.js
  packages/react/src/components/Tile/Tile.stories.js
Labels: status: ready to merge 🎉

#13065 Update .kodiak.toml - improve auto merge
  .kodiak.toml
Labels: status: ready to merge 🎉

#13059 chore: remove unused tooltipdefinition files
  packages/react/.storybook/main.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition-story.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition-test.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition.js
  packages/react/src/components/TooltipDefinition/TooltipDefinition.mdx
  packages/react/src/components/TooltipDefinition/__snapshots__/TooltipDefinition-test.js.snap
  packages/react/src/components/TooltipDefinition/index.js
Labels: role: dev 🤖, status: ready to merge 🎉

#13056 Add Typescript annotations to SelectSkeleton
  packages/react/src/components/Select/Select.Skeleton.tsx
Labels: status: ready to merge 🎉

#13001 build(typescript): fix rollup placing build in nested directory
  .all-contributorsrc
  README.md
  packages/react/tasks/build.js
Labels: status: ready to merge 🎉
