Repository carbon-design-system/carbon, pull requests merged in 2023-02, with the labels that each got.

#13055 test(tile-group): update tests to RTL
  packages/react/src/components/TileGroup/TileGroup-test.js
  packages/react/src/components/TileGroup/__tests__/TileGroup-test.js
Labels: status: ready to merge 🎉

#13036 test(Select): update `Select` tests to RTL
  packages/react/src/components/Select/Select-test.js
  packages/react/src/components/Select/__tests__/Select-test.js
Labels: status: one more review 👀, status: ready to merge 🎉

#12977 fix(overflow-menu): accessibility navigation issues
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/IconButton/index.js
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu.js
  packages/react/src/components/OverflowMenu/OverflowMenu.mdx
  packages/react/src/components/Tooltip/Tooltip.js
  packages/react/src/components/Tooltip/Tooltip.stories.js
  packages/react/src/components/Tooltip/__tests__/Tooltip-test.js
  packages/react/src/internal/FloatingMenu.js
  packages/styles/scss/components/breadcrumb/_breadcrumb.scss
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#13073 test(selection): update to rtl
  packages/react/src/internal/__tests__/Selection-test.js
  packages/react/src/internal/__tests__/__snapshots__/Selection-test.js.snap
Labels: status: enable automerge 🟠

#13089 ci(build): fix build notifications to include storybook deploy
  .github/workflows/slack-build-notifications.yml
Labels: role: dev 🤖, status: enable automerge 🟠

#13099 ci(issue-triage): add adopter label for specific products
  .github/workflows/issue-triage-strategic-adopter.yml
Labels: role: dev 🤖, status: enable automerge 🟠

#13057 fix(toggle): ensure onToggle still work with props['aria-labelledby']
  packages/react/src/components/Toggle/Toggle.js
  packages/styles/scss/components/toggle/_toggle.scss
Labels: status: ready to merge 🎉

#13052 test(DataTableSkeleton): update tests to RTL
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton-test.js
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton.stories.js
  packages/react/src/components/DataTableSkeleton/__tests__/DataTableSkeleton-test.js
Labels: status: ready to merge 🎉

#13061 fix(FileUploaderButton): refactor to button to remove a11y violation
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FileUploader/FileUploader.stories.js
  packages/react/src/components/FileUploader/FileUploaderButton.js
  packages/react/src/components/FileUploader/__tests__/FileUploaderButton-test.js
Labels: status: ready to merge 🎉

#13000 Add Typescript annotations to NumberInput
  .all-contributorsrc
  README.md
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/internal/useNormalizedInputProps.js
Labels: status: ready to merge 🎉

#13002 feat: add create-react-app template to build apps with IBM Carbon
  .eslintignore
  .stylelintignore
  jest.config.js
  packages/cra-template/README.md
  packages/cra-template/package.json
  packages/cra-template/template.json
  packages/cra-template/template/gitignore
  packages/cra-template/template/public/favicon.ico
  packages/cra-template/template/public/index.html
  packages/cra-template/template/public/logo192.png
  packages/cra-template/template/public/logo512.png
  packages/cra-template/template/public/manifest.json
  packages/cra-template/template/public/robots.txt
  packages/cra-template/template/public/tab-illo.png
  packages/cra-template/template/src/App.js
  packages/cra-template/template/src/App.scss
  packages/cra-template/template/src/App.test.js
  packages/cra-template/template/src/components/Header/Header.js
  packages/cra-template/template/src/components/Header/Header.test.js
  packages/cra-template/template/src/components/Header/_header.scss
  packages/cra-template/template/src/components/Header/index.js
  packages/cra-template/template/src/components/Info/Info.js
  packages/cra-template/template/src/components/Info/_info.scss
  packages/cra-template/template/src/components/Info/index.js
  packages/cra-template/template/src/content/HomePage/HomePage.js
  packages/cra-template/template/src/content/HomePage/Homepage.test.js
  packages/cra-template/template/src/content/HomePage/_homepage.scss
  packages/cra-template/template/src/content/HomePage/_mixins.scss
  packages/cra-template/template/src/content/HomePage/_overrides.scss
  packages/cra-template/template/src/content/RepoPage/RepoPage.js
  packages/cra-template/template/src/content/RepoPage/RepoPage.test.js
  packages/cra-template/template/src/content/RepoPage/RepoTable.js
  packages/cra-template/template/src/content/RepoPage/_repo-page.scss
  packages/cra-template/template/src/content/RepoPage/index.js
  packages/cra-template/template/src/index.js
  packages/cra-template/template/src/index.scss
  packages/cra-template/template/src/logo.svg
  packages/cra-template/template/src/reportWebVitals.js
  packages/cra-template/template/src/setupTests.js
  yarn.lock
Labels: status: enable automerge 🟠

#13042 Add Typescript annotations to TableSelectRow
  packages/react/src/components/DataTable/TableSelectRow.tsx
Labels: status: ready to merge 🎉

#13095 chore(bug-report): update issue template to ask for project/PAL team
  .github/ISSUE_TEMPLATE/BUG_REPORT.yaml
Labels: role: dev 🤖, status: enable automerge 🟠

#13090 chore(storybook): add common.js
  packages/react/.storybook/manager-head.html
Labels: role: dev 🤖, status: enable automerge 🟠

#13097 docs(dropdown): add initial selected item to dropdown storybook demo
  packages/react/src/components/Dropdown/Dropdown.stories.js
Labels: status: ready to merge 🎉

#13025 test(TreeView): updated treeview test to use rtl
  packages/react/src/components/TreeView/TreeView-test.js
  packages/react/src/components/TreeView/__snapshots__/TreeView-test.js.snap
Labels: status: ready to merge 🎉

#13112 fix(Toggletip): general a11y / ux improvements
  packages/react/src/components/Toggletip/Toggletip.stories.js
  packages/react/src/components/Toggletip/index.js
  packages/styles/scss/components/form/_form.scss
  packages/styles/scss/components/toggletip/_toggletip.scss
Labels: status: ready to merge 🎉

#13111 test(clicklistener): update tests to rtl
  packages/react/src/internal/__tests__/ClickListener-test.js
  packages/react/src/internal/__tests__/__snapshots__/ClickListener-test.js.snap
Labels: status: ready to merge 🎉

#13070 fix: combobox focus input
  packages/react/src/components/ComboBox/ComboBox.js
  packages/styles/scss/components/combo-box/_combo-box.scss
Labels: status: ready for review 👀, type: a11y ♿, component: combobox, status: enable automerge 🟠

#13069 fix(TextArea): disallow resize if cols are specified
  packages/react/src/components/FluidTextArea/FluidTextArea.stories.js
  packages/react/src/components/TextArea/TextArea.js
Labels: status: one more review 👀, status: enable automerge 🟠

#13066 feat(elements-colors): update colors preview
  packages/colors/examples/preview/index.html
  packages/colors/examples/preview/next.config.js
  packages/colors/examples/preview/package.json
  packages/colors/examples/preview/src/index.js
  packages/colors/examples/preview/src/pages/_app.js
  packages/colors/examples/preview/src/pages/index.js
  packages/colors/examples/preview/src/styles.scss
  packages/colors/examples/preview/src/styles/_reset.scss
  packages/colors/examples/preview/yarn.lock
Labels: status: ready to merge 🎉

#13117 test(InnerClickListener): update to RTL
  packages/react/src/internal/__tests__/InnerClickListener-test.js
  packages/react/src/internal/__tests__/__snapshots__/InnerClickListener-test.js.snap
Labels: status: one more review 👀, status: ready to merge 🎉, status: enable automerge 🟠

#13126 docs(flexgrid): fix story ID in mdx docs
  packages/react/src/components/Grid/FlexGrid.mdx
Labels: status: ready to merge 🎉, status: enable automerge 🟠

#13108 fix(date-picker): correct deleted end range behavior
  packages/react/src/components/DatePicker/plugins/fixEventsPlugin.js
Labels: status: ready to merge 🎉

#13092 fix(react): update external settings to exclude node_modules from bundle
  packages/react/tasks/build.js
Labels: status: ready to merge 🎉

#13141 docs(contribution): removed cla, added dco
  .github/CONTRIBUTING.md
Labels: status: ready to merge 🎉

#13139 fix(readme): remove gitter link, add discord link
  README.md
Labels: status: enable automerge 🟠

#13148 fix(hide-at-breakpoint): move story styles to story file
  packages/react/src/components/HideAtBreakpoint/HideAtBreakpoint-story.scss
  packages/styles/scss/utilities/_hide-at-breakpoint.scss
Labels: status: ready to merge 🎉

#13140 fix(ComposedModal): port mousedown changes from pr #3014
  packages/react/src/components/ComposedModal/ComposedModal.js
Labels: status: one more review 👀, status: ready to merge 🎉

#13127 fix(carbon-platform): set `noIndex: false` for carbon patterns
  packages/styles/carbon.yml
Labels: status: one more review 👀, status: ready to merge 🎉

#13158 feat(Pictograms): new app modernization pictogram
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/app--modernization.svg
Labels: status: ready for review 👀, status: one more review 👀, status: enable automerge 🟠

#13074 refactor(typescript): convert Grid, FlexGrid and children to TypeScript
  packages/react/src/components/Grid/CSSGrid.tsx
  packages/react/src/components/Grid/Column.tsx
  packages/react/src/components/Grid/ColumnHang.js
  packages/react/src/components/Grid/ColumnHang.tsx
  packages/react/src/components/Grid/FlexGrid.tsx
  packages/react/src/components/Grid/Grid.tsx
  packages/react/src/components/Grid/GridContext.tsx
  packages/react/src/components/Grid/GridTypes.ts
  packages/react/src/components/Grid/Row.tsx
  packages/react/src/components/Grid/index.ts
Labels: status: ready to merge 🎉

#13167 chore(release): v10.59.6
  examples/codesandbox/package.json
  packages/carbon-react/package.json
  packages/components/package.json
  packages/react/package.json
  www/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#13161 fix(DataTable): add sorting null values (NEW)
  packages/react/src/components/DataTable/tools/sorting.js
Labels: status: ready to merge 🎉

#13160 chore(ContributorList): add myself to contributor list
  .all-contributorsrc
  README.md
Labels: status: one more review 👀, status: ready to merge 🎉

#13152 feat(Pictograms): productive master v13
  packages/pictograms/master/productive-pictogram-master.ai
Labels: status: ready to merge 🎉

#13162 refactor(search): refactor tests to use RTL instead of enzyme
  packages/react/src/components/ExpandableSearch/ExpandableSearch-test.js
  packages/react/src/components/Search/Search-test.js
  packages/react/src/components/Search/Search.js
Labels: status: one more review 👀, status: enable automerge 🟠

#13067 refactor(DropdownSkeleton): convert DropdownSkeleton to TypeScript
  .all-contributorsrc
  README.md
  packages/react/src/components/Dropdown/Dropdown.Skeleton.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#13149 test(TableSelectAll): update tests to RTL
  packages/react/src/components/DataTable/__tests__/TableSelectAll-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableSelectAll-test.js.snap
Labels: status: ready for review 👀, status: one more review 👀, status: enable automerge 🟠

#13118 fix(multiselect): add `className` to proptypes
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/MultiSelect/MultiSelect.js
Labels: role: dev 🤖, status: enable automerge 🟠

#13150 test(table-select-row): migrate TableSelectRow test to RTL
  packages/react/src/components/DataTable/__tests__/TableSelectRow-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
Labels: status: one more review 👀, status: enable automerge 🟠

#13184 chore(project): update to Node v18.14
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/deploy-packages.yml
  .github/workflows/deploy-react-storybook.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
  .github/workflows/sync-generated-files.yml
  .github/workflows/v10-ci.yml
  .github/workflows/v10-deploy-react-storybook.yml
  .github/workflows/v10-release.yml
  .github/workflows/version.yml
  .nvmrc
  docs/guides/setup/design.md
  package.json
  packages/react/src/components/DatePicker/DatePicker-test.js
Labels: status: one more review 👀, status: enable automerge 🟠

#13165 docs: minor changes to dev docs
  .github/CONTRIBUTING.md
Labels: status: one more review 👀

#13170 test(TableToolbarContent): update tests to RTL
  packages/react/src/components/DataTable/__tests__/TableToolbarContent-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarContent-test.js.snap
Labels: status: one more review 👀, status: enable automerge 🟠

#13175 feat(icons): new icons january and february
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/document--multiple-01.svg
  packages/icons/src/svg/32/document--multiple-02.svg
  packages/icons/src/svg/32/ibm--process-mining.svg
  packages/icons/src/svg/32/reference-architecture.svg
  packages/icons/src/svg/32/user--sponsor.svg
  packages/icons/src/svg/32/white-paper.svg
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#13146 refactor(menu): use react.context and simplify logic
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/ContextMenu/ContextMenu.stories.js
  packages/react/src/components/Menu/Menu-test.js
  packages/react/src/components/Menu/Menu.js
  packages/react/src/components/Menu/Menu.stories.js
  packages/react/src/components/Menu/MenuContext.js
  packages/react/src/components/Menu/MenuDivider.js
  packages/react/src/components/Menu/MenuGroup.js
  packages/react/src/components/Menu/MenuItem.js
  packages/react/src/components/Menu/MenuOption.js
  packages/react/src/components/Menu/MenuRadioGroup.js
  packages/react/src/components/Menu/MenuRadioGroupOptions.js
  packages/react/src/components/Menu/MenuSelectableItem.js
  packages/react/src/components/Menu/_storybook-utils.js
  packages/react/src/components/Menu/_utils.js
  packages/react/src/components/Menu/index.js
  packages/react/src/components/OverflowMenuV2/OverflowMenuv2.stories.js
  packages/react/src/components/OverflowMenuV2/index.js
  packages/react/src/index.js
  packages/react/src/index.ts
  packages/styles/scss/components/menu/_menu.scss
Labels: status: ready to merge 🎉

#13098 docs(grid): fix auto columns docs example story
  packages/react/src/components/Grid/Grid.mdx
Labels: status: enable automerge 🟠

#13129 feat(Heading): add prop to override level of a section
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Heading/Heading-story.js
  packages/react/src/components/Heading/Heading.mdx
  packages/react/src/components/Heading/__tests__/Heading-test.js
  packages/react/src/components/Heading/index.js
Labels: status: ready to merge 🎉

#13179 chore(readme): add openssf badge
  README.md
Labels: status: enable automerge 🟠

#13211 chore(release): v11.23.1
  config/eslint-config-carbon/package.json
  config/jest-config-carbon/package.json
  examples/codesandbox-styles/package.json
  examples/codesandbox-with-sass-compilation/package.json
  examples/codesandbox/package.json
  examples/custom-theme/package.json
  examples/incremental-migration/package.json
  examples/light-dark-mode/package.json
  examples/nextjs/package.json
  examples/vite/package.json
  packages/carbon-components-react/package.json
  packages/carbon-components/package.json
  packages/elements/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/react/package.json
  packages/sketch/package.json
  packages/styles/package.json
  packages/upgrade/package.json
  www/package.json
  yarn.lock
Labels: status: enable automerge 🟠

#13194 fix: pop over alignment
  packages/styles/scss/components/popover/_popover.scss
Labels: status: one more review 👀, status: visual review 🔍, component: popover

#13207 test(menu): add vrt and avt
  e2e/components/Menu/Menu-test.e2e.js
  packages/react/src/components/Menu/MenuItem.js
Labels: status: ready to merge 🎉

#13203 feat(pictograms): updates to friendly names
  packages/pictograms/pictograms.yml
Labels: status: one more review 👀, status: ready to merge 🎉

#13214 docs(release): document manual versioning
  docs/release.md
Labels: type: docs 📖, role: dev 🤖, status: enable automerge 🟠

#13200 feat(Pictograms): additional supply chain pictograms
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/delivered.svg
  packages/pictograms/src/svg/moving-dolly.svg
Labels: status: one more review 👀, status: enable automerge 🟠

#13201 feat(Pictograms): updated terminals on security pictograms
  packages/pictograms/src/svg/advanced--fraud--protection.svg
  packages/pictograms/src/svg/application--security.svg
  packages/pictograms/src/svg/assets.svg
  packages/pictograms/src/svg/bug--virus--malware.svg
  packages/pictograms/src/svg/master--threat--hunting.svg
  packages/pictograms/src/svg/protect--critical--assets.svg
  packages/pictograms/src/svg/secure--hybrid--cloud.svg
  packages/pictograms/src/svg/threat--management.svg
Labels: status: ready to merge 🎉

#13171 fix(Button): remove default tabIndex
  packages/react/src/components/Button/Button.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
Labels: status: ready to merge 🎉

#13197 test(TableExpandRow): update tests to RTL
  packages/react/src/components/DataTable/__tests__/TableExpandRow-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
Labels: status: ready to merge 🎉

#13218 fix(ActionableNotification): rm experimental prop
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Notification/Notification.js
Labels: status: ready to merge 🎉

#13169 test(TableToolbar): update test to RTL
  packages/react/src/components/DataTable/__tests__/TableToolbar-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbar-test.js.snap
Labels: status: enable automerge 🟠

#13210 feat(useContextMenu): add ref support
  packages/react/src/components/ContextMenu/useContextMenu.js
  packages/react/src/components/Menu/Menu.js
Labels: status: ready to merge 🎉

#13204 test: convert TableHeader to RTL
  packages/react/src/components/DataTable/__tests__/TableHeader-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableHeader-test.js.snap
Labels: status: ready to merge 🎉

#13172 test(TableToolbarMenu): update tests to RTL
  packages/react/src/components/DataTable/__tests__/TableToolbarMenu-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
Labels: status: ready to merge 🎉, status: enable automerge 🟠

#13156 test(TableExpandHeader): update tests to RTL
  packages/react/src/components/DataTable/__tests__/TableExpandHeader-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandHeader-test.js.snap
Labels: status: ready to merge 🎉, status: enable automerge 🟠

#13205 docs(typescript): fix typos
  docs/guides/adding-component-types.md
Labels: status: one more review 👀, status: ready to merge 🎉

#13144 Add TypeScript annotations to MultiSelect
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
Labels: status: ready to merge 🎉

#13206 feat(TimePicker): add typescript typings
  .all-contributorsrc
  README.md
  packages/react/src/components/TimePicker/TimePicker-test.js
  packages/react/src/components/TimePicker/TimePicker.tsx
  packages/react/src/components/TimePickerSelect/TimePickerSelect.js
  packages/react/src/components/TimePickerSelect/TimePickerSelect.tsx
Labels: status: ready to merge 🎉

#13186 fix(date-picker): stabilize defaultDate behavior
  packages/react/src/components/DatePicker/DatePicker.js
  packages/react/src/components/DatePicker/plugins/fixEventsPlugin.js
Labels: status: enable automerge 🟠

#13212 feat(Pictograms): new carbon pictograms for IBM category
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/carbon--for-ibm-dotcom.svg
  packages/pictograms/src/svg/carbon--for-ibm-product.svg
Labels: status: ready to merge 🎉

#13182 refactor: convert TextArea to TypeScript
  packages/react/src/components/TextArea/TextArea.tsx
Labels: status: ready to merge 🎉

#13223 fix(menuitem): prevent disabled and danger styles where it doesn't make sense
  packages/react/src/components/Menu/MenuItem.js
  packages/styles/scss/components/menu/_menu.scss
Labels: status: ready to merge 🎉

#13244 fix(numberinput): remove defaults from min and max
  packages/react/src/components/NumberInput/NumberInput.tsx
Labels: type: bug 🐛, severity: 1, role: dev 🤖, status: enable automerge 🟠

#13241 chore(css-grid): update packages
  packages/colors/examples/preview/package.json
  packages/colors/examples/preview/yarn.lock
  packages/colors/examples/sass-modules/package.json
  packages/grid/examples/css-grid/package.json
  packages/grid/examples/css-grid/yarn.lock
  packages/grid/examples/preview/next.config.js
  packages/grid/examples/preview/package.json
  packages/grid/examples/preview/src/index.js
  packages/grid/examples/preview/src/pages/_app.js
  packages/grid/examples/preview/src/pages/index.js
  packages/grid/examples/preview/yarn.lock
  packages/icons/examples/preview/.yarn/install-state.gz
  packages/icons/examples/preview/package.json
  packages/icons/examples/preview/yarn.lock
  packages/layout/examples/preview/.yarn/install-state.gz
  packages/layout/examples/preview/package.json
  packages/layout/examples/preview/yarn.lock
  packages/pictograms/examples/preview/.yarn/install-state.gz
  packages/pictograms/examples/preview/package.json
  packages/pictograms/examples/preview/yarn.lock
  packages/themes/examples/preview-v10/.sassrc.js
  packages/themes/examples/preview-v10/.yarn/install-state.gz
  packages/themes/examples/preview-v10/next.config.js
  packages/themes/examples/preview-v10/package.json
  packages/themes/examples/preview-v10/src/pages/_app.js
  packages/themes/examples/preview-v10/src/pages/index.js
  packages/themes/examples/preview-v10/styles.scss
  packages/themes/examples/preview-v10/yarn.lock
  packages/themes/examples/preview/package.json
  packages/themes/examples/preview/yarn.lock
  packages/themes/examples/sass-modules/package.json
  packages/type/examples/preview/package.json
  packages/type/examples/preview/yarn.lock
Labels: status: ready to merge 🎉
