Repository carbon-design-system/carbon, pull requests merged in 2023-11, with the labels that each got.

#15078 ci(cache): cleanup caches after PRs merge
  .github/workflows/cleanup-caches.yml
Labels: role: dev 🤖

#15083 ci(actions): use `.getOctokit()` in place of `.GitHub()`
  actions/add-review-labels/index.js
  actions/issues/src/run.js
Labels: status: ready for review 👀, role: dev 🤖

#15027 fix(react): uishell sidenavmenu active descendants
  packages/react/src/components/UIShell/SideNavMenu.tsx
Labels: status: one more review 👀

#15086 fix(react): publish type definitions for @carbon/react/icons
  packages/react/package.json
Labels: status: ready to merge 🎉

#15085 fix(Loading): wobbling of small Loader
  packages/styles/scss/components/loading/_loading.scss
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#15094 fix(icons-react): use declare keyword in bucket TypeScript types
  packages/icon-build-helpers/src/builders/react/next/typescript.js
Labels: status: ready to merge 🎉

#14942 fix(react): uishell headermenu detect active descendants
  packages/react/src/components/UIShell/HeaderMenu.js
Labels: status: ready to merge 🎉

#15108 docs(FluidMultiSelect): update propType definitions for FluidMultiSelect
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.js
Labels: status: ready for review 👀, type: bug 🐛, type: docs 📖, severity: 2, role: dev 🤖, status: ready to merge 🎉, component: multi-select

#15100 style(Slug): increase touch target to 24px for mini, 2xs variants
  packages/styles/scss/components/slug/_slug.scss
Labels: status: ready to merge 🎉

#15084 feat(component): replaced `SideNavItems.js` -> `SideNavItems.tsx` component
  packages/react/src/components/UIShell/SideNavItems.tsx
Labels: status: ready to merge 🎉

#15081 feat(gradient): linear gradient mixin
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/styles/scss/__tests__/theme-test.js
  packages/styles/scss/utilities/_ai-gradient.scss
  packages/styles/scss/utilities/_index.scss
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens/__tests__/__snapshots__/v11-test.js.snap
  packages/themes/src/tokens/__tests__/metadata-test.js
  packages/themes/src/tokens/v11TokenGroup.js
  packages/themes/src/white.js
Labels: status: ready for review 👀, status: one more review 👀

#14877 Added trap focus and focus redirection
  e2e/components/Notifications/Notifications-test.avt.e2e.js
  packages/react/src/components/Notification/Notification-test.js
  packages/react/src/components/Notification/Notification.tsx
Labels: status: ready to merge 🎉

#15116 feat(Pictograms): new artwork for three watsonx pictograms
  packages/pictograms/src/svg/watsonx--ai.svg
  packages/pictograms/src/svg/watsonx--data.svg
  packages/pictograms/src/svg/watsonx--governance.svg
Labels: status: ready to merge 🎉

#15128 refactor(NumberInput): remove pseudo elements and use box-shadow
  packages/styles/scss/components/fluid-number-input/_fluid-number-input.scss
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#15052 fix: BreadcrumbItem aria-current PropType fix
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Breadcrumb/BreadcrumbItem.tsx
Labels: status: ready to merge 🎉

#15124 docs: remove cra-template
  .eslintignore
  .stylelintignore
  jest.config.js
  packages/cra-template/README.md
  packages/cra-template/package.json
  packages/cra-template/template.json
  packages/cra-template/template/gitignore
  packages/cra-template/template/public/favicon.ico
  packages/cra-template/template/public/index.html
  packages/cra-template/template/public/logo192.png
  packages/cra-template/template/public/logo512.png
  packages/cra-template/template/public/manifest.json
  packages/cra-template/template/public/robots.txt
  packages/cra-template/template/public/tab-illo.png
  packages/cra-template/template/src/App.js
  packages/cra-template/template/src/App.scss
  packages/cra-template/template/src/App.test.js
  packages/cra-template/template/src/components/Header/Header.js
  packages/cra-template/template/src/components/Header/Header.test.js
  packages/cra-template/template/src/components/Header/_header.scss
  packages/cra-template/template/src/components/Header/index.js
  packages/cra-template/template/src/components/Info/Info.js
  packages/cra-template/template/src/components/Info/_info.scss
  packages/cra-template/template/src/components/Info/index.js
  packages/cra-template/template/src/content/HomePage/HomePage.js
  packages/cra-template/template/src/content/HomePage/Homepage.test.js
  packages/cra-template/template/src/content/HomePage/_homepage.scss
  packages/cra-template/template/src/content/HomePage/_mixins.scss
  packages/cra-template/template/src/content/HomePage/_overrides.scss
  packages/cra-template/template/src/content/RepoPage/RepoPage.js
  packages/cra-template/template/src/content/RepoPage/RepoPage.test.js
  packages/cra-template/template/src/content/RepoPage/RepoTable.js
  packages/cra-template/template/src/content/RepoPage/_repo-page.scss
  packages/cra-template/template/src/content/RepoPage/index.js
  packages/cra-template/template/src/index.js
  packages/cra-template/template/src/index.scss
  packages/cra-template/template/src/logo.svg
  packages/cra-template/template/src/reportWebVitals.js
  packages/cra-template/template/src/setupTests.js
  yarn.lock
Labels: status: ready to merge 🎉

#15139 chore(release): v10.59.17
  examples/codesandbox/package.json
  packages/carbon-react/package.json
  packages/react/package.json
  www/package.json
  yarn.lock
Labels: status: ready for review 👀

#15120 feat(component): replaced SideNavHeader.js -> SideNavHeader.tsx component
  packages/react/src/components/UIShell/SideNavHeader.tsx
Labels: status: ready to merge 🎉

#15143 Add Keyboard Nav AVT test for `FluidDropdown`
  e2e/components/FluidDropdown/FluidDropdown-test.avt.e2e.js
Labels: status: ready to merge 🎉

#15149 Add Keyboard Nav AVT test for `FluidNumberInput`
  e2e/components/FluidNumberInput/FluidNumberInput-test.avt.e2e.js
Labels: status: ready to merge 🎉

#15205 fix(sidenavitems): remove conditional so children are always cloned
  packages/react/src/components/UIShell/SideNavItems.tsx
Labels: status: ready to merge 🎉

#15151 Add Keyboard Nav AVT test for `FluidSearch`
  e2e/components/FluidSearch/FluidSearch-test.avt.e2e.js
Labels: status: ready to merge 🎉

#15135 feat(Pictograms): new pictograms and categories v21
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/ai-governance--lifecycle-factsheet.svg
  packages/pictograms/src/svg/ai-governance--model-tuned.svg
  packages/pictograms/src/svg/ai-governance--model.svg
  packages/pictograms/src/svg/ai-governance--prompt.svg
  packages/pictograms/src/svg/carbon--for-cloud.svg
  packages/pictograms/src/svg/carbon.svg
  packages/pictograms/src/svg/cardboard.svg
  packages/pictograms/src/svg/flexible.svg
  packages/pictograms/src/svg/fountain--drinking.svg
  packages/pictograms/src/svg/library.svg
  packages/pictograms/src/svg/literature.svg
  packages/pictograms/src/svg/loop--hearing.svg
  packages/pictograms/src/svg/scalable.svg
  packages/pictograms/src/svg/silence.svg
  packages/pictograms/src/svg/station--hydration.svg
  packages/pictograms/src/svg/storage--for-data-and-ai.svg
  packages/pictograms/src/svg/storage--for-resiliency.svg
  packages/pictograms/src/svg/trash--burnable.svg
  packages/pictograms/src/svg/trash--non-burnable.svg
  packages/pictograms/src/svg/waste--electronic.svg
Labels: status: ready to merge 🎉

#15153 Add Keyboard Nav AVT test for `FluidSelect`
  e2e/components/FluidSelect/FluidSelect-test.avt.e2e.js
Labels: status: ready to merge 🎉

#15164 Add Keyboard Nav AVT test for `FluidTextInput`
  e2e/components/FluidTextInput/FluidTextInput-test.avt.e2e.js
Labels: status: ready to merge 🎉

#14726 feat: added $layer token in the background-color
  e2e/components/StructuredList/StructuredList-test.e2e.js
  packages/react/src/components/StructuredList/StructuredList.stories.js
  packages/styles/scss/components/structured-list/_structured-list.scss
Labels: status: ready to merge 🎉

#15115 feat(Slug): Add `slug` prop to `TextInput`, `TextArea`, `NumberInput`, and `DatePicker`, add revert functionality to `Slug`
  packages/carbon-components-react/scss/utilities/_ai-gradient.scss
  packages/carbon-components/scss/utilities/_ai-gradient.scss
  packages/icons/icons.yml
  packages/icons/src/svg/16/redo.svg
  packages/icons/src/svg/16/undo.svg
  packages/icons/src/svg/20/redo.svg
  packages/icons/src/svg/20/undo.svg
  packages/icons/src/svg/24/redo.svg
  packages/icons/src/svg/24/undo.svg
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/scss/utilities/_ai-gradient.scss
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
  packages/react/src/components/FluidTextArea/FluidTextArea.stories.js
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/Form/form-story.scss
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/Slug/Slug.js
  packages/react/src/components/Slug/index.js
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextInput/TextInput.stories.js
  packages/react/src/components/TextInput/TextInput.tsx
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/files.js
  packages/styles/scss/components/date-picker/_date-picker.scss
  packages/styles/scss/components/fluid-date-picker/_fluid-date-picker.scss
  packages/styles/scss/components/fluid-number-input/_fluid-number-input.scss
  packages/styles/scss/components/fluid-text-area/_fluid-text-area.scss
  packages/styles/scss/components/fluid-text-input/_fluid-text-input.scss
  packages/styles/scss/components/number-input/_number-input.scss
  packages/styles/scss/components/slug/_slug.scss
  packages/styles/scss/components/text-area/_text-area.scss
  packages/styles/scss/components/text-input/_text-input.scss
  packages/styles/scss/utilities/_ai-gradient.scss
Labels: status: ready to merge 🎉

#15166 Add Keyboard Nav AVT test for `FuildTimePicker`
  e2e/components/FluidTimePicker/FluidTimePicker-test.avt.e2e.js
Labels: status: ready to merge 🎉

#15141 Add Keyboard Nav AVT test for `FluidDatePicker`
  e2e/components/FluidDatePicker/FluidDatePicker-test.avt.e2e.js
  packages/react/src/components/FluidDatePicker/FluidDatePicker.stories.js
Labels: status: ready to merge 🎉

#15137 Add Keyboard Nav AVT test for `FluidComboBox`
  e2e/components/FluidComboBox/FluidComboBox-test.avt.e2e.js
Labels: status: ready to merge 🎉

#15146 Add Keyboard Nav AVT test for `FluidMultiSelect`
  e2e/components/FluidMultiSelect/FluidMultiSelect-test.avt.e2e.js
  e2e/components/MultiSelect/MultiSelect-test.avt.e2e.js
Labels: status: ready to merge 🎉

#15216 fix(Slug): add slug to index.ts
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/index.ts
Labels: status: ready to merge 🎉

#15206 feat(ListBox): add `slug` prop to `Dropdown`, `MultiSelect`, `ComboBox`, and `Select`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/Select/Select.tsx
  packages/react/src/components/Slug/index.js
  packages/styles/scss/components/date-picker/_date-picker.scss
  packages/styles/scss/components/list-box/_list-box.scss
  packages/styles/scss/components/select/_select.scss
Labels: status: ready for review 👀, status: one more review 👀, status: visual review 🔍

#14913 feat: 14595-update-ally-test-tags
  e2e/components/Accordion/Accordion-test.avt.e2e.js
  e2e/components/Notifications/Notifications-test.avt.e2e.js
  e2e/components/NumberInput/NumberInput-test.avt.e2e.js
  e2e/components/OrderedList/OrderedList-test.avt.e2e.js
  e2e/components/OverflowMenu/OverflowMenu-test.avt.e2e.js
  e2e/components/Pagination/Pagination-test.avt.e2e.js
  e2e/components/ProgressBar/ProgressBar-test.avt.e2e.js
  e2e/components/ProgressIndicator/ProgressIndicator-test.avt.e2e.js
  e2e/components/RadioButton/RadioButton-test.avt.e2e.js
  e2e/components/Search/Search-test.avt.e2e.js
  e2e/components/Select/Select-test.avt.e2e.js
  e2e/components/Slider/Slider-test.avt.e2e.js
  e2e/components/StructuredList/StructuredList-test.avt.e2e.js
  e2e/components/Tabs/Tabs-test.avt.e2e.js
  e2e/components/TextArea/TextArea-test.avt.e2e.js
  e2e/components/TextInput/TextInput-test.avt.e2e.js
  e2e/components/Tile/Tile-test.avt.e2e.js
  e2e/components/Toggle/Toggle-test.avt.e2e.js
  e2e/components/Tooltip/Tooltip-test.avt.e2e.js
  e2e/components/TreeView/TreeView-test.avt.e2e.js
  e2e/components/UIShell/UIShell-test.avt.e2e.js
  e2e/components/UnorderedList/UnorderedList-test.avt.e2e.js
Labels: status: ready to merge 🎉

#14490 feat(Modal|ComposedModal): add inline loading option
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/ComposedModal/ModalFooter.tsx
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.stories.js
  packages/react/src/components/Modal/Modal.tsx
  packages/styles/scss/components/button/_button.scss
  packages/styles/scss/components/inline-loading/_inline-loading.scss
Labels: status: ready to merge 🎉

#15221 feat(Pictograms): watson logo pictogram removed
  packages/pictograms/deprecated.yml
Labels: status: ready to merge 🎉

#15180 Support docs revised
  docs/guides/support.md
Labels: status: ready to merge 🎉

#15047 fix(react): warnings from SideNav in console from inert prop
  .all-contributorsrc
  README.md
  packages/react/src/components/UIShell/SideNav.tsx
Labels: status: ready to merge 🎉

#14793 feat(menu): support menu modes
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboButton/ComboButton-test.js
  packages/react/src/components/ComboButton/ComboButton.stories.js
  packages/react/src/components/ComboButton/index.js
  packages/react/src/components/ContextMenu/useContextMenu.js
  packages/react/src/components/Menu/Menu-test.js
  packages/react/src/components/Menu/Menu.js
  packages/react/src/components/Menu/Menu.stories.js
  packages/react/src/components/Menu/MenuContext.js
  packages/react/src/components/Menu/MenuItem.js
  packages/react/src/components/MenuButton/MenuButton-test.js
  packages/react/src/components/MenuButton/MenuButton.stories.js
  packages/react/src/components/MenuButton/index.js
  packages/styles/scss/components/combo-button/_combo-button.scss
  packages/styles/scss/components/menu-button/_menu-button.scss
Labels: status: ready to merge 🎉

#14892 feat: added support for `Alt+Down Arrow` and `Alt+Up Arrow` in ComboBox
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉

#14989 Add TypeScript types to Switcher, SwitcherDivider, SwitcherItem #13584
  packages/react/src/components/UIShell/Switcher.js
  packages/react/src/components/UIShell/Switcher.tsx
  packages/react/src/components/UIShell/SwitcherDivider.js
  packages/react/src/components/UIShell/SwitcherDivider.tsx
  packages/react/src/components/UIShell/SwitcherItem.js
  packages/react/src/components/UIShell/SwitcherItem.tsx
Labels: status: ready to merge 🎉

#15249 fix(react): downshift replacing id prop in dropdown (#15241)
  packages/react/src/components/Dropdown/Dropdown.tsx
Labels: status: ready to merge 🎉

#15238 test(Slug): add VRT, AVT tests
  e2e/components/Slug/Slug-test.avt.e2e.js
  e2e/components/Slug/Slug-test.e2e.js
  packages/react/src/components/Slug/index.js
Labels: status: ready to merge 🎉

#15233 Added "as" prop to `Link`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Link/Link.stories.js
  packages/react/src/components/Link/Link.tsx
Labels: status: failing CI 🙅‍♂️

#15217 chore(docs): remove `bx` references
  .all-contributorsrc
  .github/COMPONENT_DOCS_TEMPLATE.md
  docs/guides/sass.md
  packages/react/src/components/AspectRatio/AspectRatio-story.scss
  packages/react/src/components/ComposedModal/ComposedModal.mdx
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/ContentSwitcher/ContentSwitcher.mdx
  packages/react/src/components/DataTableSkeleton/DataTableSkeleton.tsx
  packages/react/src/components/DatePicker/DatePicker.mdx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/FileUploader/FileUploader-story.scss
  packages/react/src/components/FileUploader/FileUploader.stories.js
  packages/react/src/components/FileUploader/stories/drag-and-drop-single.js
  packages/react/src/components/FileUploader/stories/drop-container.js
  packages/react/src/components/Modal/Modal.mdx
  packages/react/src/components/RadioButton/migrate-to-7.x.md
  packages/react/src/components/Tile/tile-story.scss
  packages/styles/scss/components/data-table/expandable/_data-table-expandable.scss
  packages/styles/scss/components/dropdown/_dropdown.scss
  packages/styles/scss/components/file-uploader/_file-uploader.scss
  packages/styles/scss/components/list-box/_list-box.scss
  packages/type/README.md
Labels: status: ready to merge 🎉

#15248 fix(react): column span prop with percentage unit (#15223)
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Grid/Column.tsx
Labels: status: ready to merge 🎉

#15222 feat(Tile): add `slug` prop to `SelectableTile` and `ExpandableTile`
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tile/Tile.stories.js
  packages/react/src/components/Tile/Tile.tsx
  packages/react/src/components/Tile/tile-story.scss
  packages/styles/scss/__tests__/theme-test.js
  packages/styles/scss/components/slug/_slug.scss
  packages/styles/scss/components/tile/_tile.scss
  packages/styles/scss/utilities/_ai-gradient.scss
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens/__tests__/__snapshots__/v11-test.js.snap
  packages/themes/src/tokens/__tests__/metadata-test.js
  packages/themes/src/tokens/v11TokenGroup.js
  packages/themes/src/white.js
Labels: status: ready for review 👀, status: visual review 🔍

#15274 Added indicators to `FileUploader`
  packages/react/src/components/FileUploader/FileUploader.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#15239 feat(RadioButton): add `slug` prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Checkbox/Checkbox.stories.js
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/CheckboxGroup/CheckboxGroup.js
  packages/react/src/components/RadioButton/RadioButton.stories.js
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/react/src/components/Slug/index.js
  packages/styles/scss/components/checkbox/_checkbox.scss
  packages/styles/scss/components/radio-button/_radio-button.scss
Labels: status: ready for review 👀, status: visual review 🔍, status: ready to merge 🎉

#15275 docs(examples): migrate custom data table state manager to vite
  packages/react/examples/custom-data-table-state-manager-vite/.eslintrc.cjs
  packages/react/examples/custom-data-table-state-manager-vite/.gitignore
  packages/react/examples/custom-data-table-state-manager-vite/.yarn/install-state.gz
  packages/react/examples/custom-data-table-state-manager-vite/README.md
  packages/react/examples/custom-data-table-state-manager-vite/index.html
  packages/react/examples/custom-data-table-state-manager-vite/package.json
  packages/react/examples/custom-data-table-state-manager-vite/src/App.jsx
  packages/react/examples/custom-data-table-state-manager-vite/src/ExampleCustomDataTableApp.jsx
  packages/react/examples/custom-data-table-state-manager-vite/src/components/CustomDataTable.jsx
  packages/react/examples/custom-data-table-state-manager-vite/src/components/Pagination.jsx
  packages/react/examples/custom-data-table-state-manager-vite/src/hooks/index.js
  packages/react/examples/custom-data-table-state-manager-vite/src/hooks/useCollator.js
  packages/react/examples/custom-data-table-state-manager-vite/src/hooks/useFilteredRows.js
  packages/react/examples/custom-data-table-state-manager-vite/src/hooks/usePageInfo.js
  packages/react/examples/custom-data-table-state-manager-vite/src/hooks/useRowSelection.js
  packages/react/examples/custom-data-table-state-manager-vite/src/hooks/useSortInfo.js
  packages/react/examples/custom-data-table-state-manager-vite/src/hooks/useSortedRows.js
  packages/react/examples/custom-data-table-state-manager-vite/src/hooks/useUniqueId.js
  packages/react/examples/custom-data-table-state-manager-vite/src/index.scss
  packages/react/examples/custom-data-table-state-manager-vite/src/main.jsx
  packages/react/examples/custom-data-table-state-manager-vite/src/misc/doesRowMatchSearchString.js
  packages/react/examples/custom-data-table-state-manager-vite/src/misc/enums.js
  packages/react/examples/custom-data-table-state-manager-vite/src/misc/index.js
  packages/react/examples/custom-data-table-state-manager-vite/src/table-data.js
  packages/react/examples/custom-data-table-state-manager-vite/vite.config.js
  packages/react/examples/custom-data-table-state-manager-vite/yarn.lock
  packages/react/examples/custom-data-table-state-manager/package.json
  packages/react/examples/custom-data-table-state-manager/public/index.html
  packages/react/examples/custom-data-table-state-manager/src/index.js
Labels: status: ready to merge 🎉

#15288 Datatable: fixed typeError when sorting arrays
  packages/react/src/components/DataTable/tools/sorting.js
Labels: status: ready to merge 🎉

#14776 fix: remove flicker in AccordionItem (#9818)
  .all-contributorsrc
  README.md
  packages/react/src/components/Accordion/AccordionItem.tsx
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/AccordionItem-test.js.snap
  packages/styles/scss/components/accordion/_accordion.scss
Labels: status: ready to merge 🎉
