Repository carbon-design-system/carbon, pull requests merged in 2023-06, with the labels that each got.

#13882 fix(Tag): fixed a11y test by removing arialabel
  packages/react/src/components/Tag/Tag-test.js
  packages/react/src/components/Tag/Tag.js
Labels: version: 10, status: one more review 👀, type: a11y ♿

#13898 feat(v10): add v10 compat token example app
  examples/v10-token-compat-in-v11/.gitignore
  examples/v10-token-compat-in-v11/README.md
  examples/v10-token-compat-in-v11/index.html
  examples/v10-token-compat-in-v11/package.json
  examples/v10-token-compat-in-v11/src/App.jsx
  examples/v10-token-compat-in-v11/src/favicon.svg
  examples/v10-token-compat-in-v11/src/index.scss
  examples/v10-token-compat-in-v11/src/layout.scss
  examples/v10-token-compat-in-v11/src/main.jsx
  examples/v10-token-compat-in-v11/src/motion.scss
  examples/v10-token-compat-in-v11/src/theme-tokens.scss
  examples/v10-token-compat-in-v11/src/type.scss
  examples/v10-token-compat-in-v11/vite.config.js
  yarn.lock
Labels: status: ready to merge 🎉

#13893 fix(TypeScript): rename leftover index files to .ts extension
  packages/react/src/components/DataTableSkeleton/index.ts
  packages/react/src/components/TextArea/index.ts
  packages/react/src/components/TextInput/index.ts
Labels: status: ready to merge 🎉

#13830 feat(Tabs): allow dismissable tabs to have descriptive icons
  e2e/components/Tabs/Tabs-test.e2e.js
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.js
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#13287 feat: add experimental contextual layout token system
  packages/react/.storybook/preview.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Accordion/Accordion.js
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion-test.js.snap
  packages/react/src/components/Button/Button.js
  packages/react/src/components/CodeSnippet/CodeSnippet.js
  packages/react/src/components/ContainedList/ContainedList.js
  packages/react/src/components/ContainedList/ContainedListItem/ContainedListItem.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.js
  packages/react/src/components/CopyButton/CopyButton.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/FileUploader/FileUploaderButton.js
  packages/react/src/components/IconButton/index.js
  packages/react/src/components/Layout/Layout.mdx
  packages/react/src/components/Layout/Layout.stories.js
  packages/react/src/components/Layout/index.js
  packages/react/src/components/LayoutDirection/LayoutDirection.js
  packages/react/src/components/LayoutDirection/LayoutDirectionContext.js
  packages/react/src/components/LayoutDirection/__tests__/LayoutDirection-test.js
  packages/react/src/components/LayoutDirection/__tests__/useLayoutDirection-test.js
  packages/react/src/components/LayoutDirection/docs/overview.mdx
  packages/react/src/components/LayoutDirection/index.js
  packages/react/src/components/LayoutDirection/useLayoutDirection.js
  packages/react/src/components/Tag/Tag.js
  packages/react/src/components/Tag/Tag.stories.js
  packages/react/src/components/Text/Text-story.js
  packages/react/src/components/TextInput/TextInput.tsx
  packages/react/src/index.js
  packages/react/src/index.ts
  packages/styles/docs/sass.md
  packages/styles/index.scss
  packages/styles/scss/_layout.scss
  packages/styles/scss/components/accordion/_accordion.scss
  packages/styles/scss/components/button/_button.scss
  packages/styles/scss/components/button/_mixins.scss
  packages/styles/scss/components/code-snippet/_code-snippet.scss
  packages/styles/scss/components/contained-list/_contained-list.scss
  packages/styles/scss/components/content-switcher/_content-switcher.scss
  packages/styles/scss/components/copy-button/_copy-button.scss
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
  packages/styles/scss/components/pagination/_pagination.scss
  packages/styles/scss/components/popover/_popover.scss
  packages/styles/scss/components/tag/_tag.scss
  packages/styles/scss/components/text-input/_text-input.scss
  packages/styles/scss/components/ui-shell/header/_header.scss
  packages/styles/scss/utilities/_index.scss
  packages/styles/scss/utilities/_layout.scss
Labels: status: ready for review 👀, status: visual review 🔍, status: ready to merge 🎉

#13913 chore: add "all-contributors generate" to lint-staged actions
  README.md
  package.json
Labels: status: ready to merge 🎉

#13678 chore(menu): move to stable
  e2e/components/ComboButton/ComboButton-test.e2e.js
  e2e/components/Menu/Menu-test.e2e.js
  e2e/components/MenuButton/MenuButton-test.e2e.js
  e2e/components/OverflowMenu/OverflowMenu-test.e2e.js
  packages/feature-flags/feature-flags.yml
  packages/react/.storybook/templates/Annotation/Annotation.scss
  packages/react/.storybook/templates/WithDeprecationNotice/index.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/ComboButton/ComboButton-test.js
  packages/react/src/components/ComboButton/ComboButton.stories.js
  packages/react/src/components/ComboButton/docs/overview.mdx
  packages/react/src/components/ComboButton/index.js
  packages/react/src/components/ContextMenu/docs/overview.mdx
  packages/react/src/components/ContextMenu/index.js
  packages/react/src/components/ContextMenu/useContextMenu.js
  packages/react/src/components/ContextMenu/useContextMenu.mdx
  packages/react/src/components/ContextMenu/useContextMenu.stories.js
  packages/react/src/components/FeatureFlags/overview.stories.mdx
  packages/react/src/components/Menu/Menu-test.js
  packages/react/src/components/Menu/Menu.mdx
  packages/react/src/components/Menu/Menu.stories.js
  packages/react/src/components/Menu/MenuItem.js
  packages/react/src/components/Menu/docs/overview.mdx
  packages/react/src/components/MenuButton/MenuButton-test.js
  packages/react/src/components/MenuButton/MenuButton.stories.js
  packages/react/src/components/MenuButton/docs/overview.mdx
  packages/react/src/components/MenuButton/index.js
  packages/react/src/components/OverflowMenu/OverflowMenu.featureflag.stories.js
  packages/react/src/components/OverflowMenu/index.js
  packages/react/src/components/OverflowMenu/next/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/next/OverflowMenu.mdx
  packages/react/src/components/OverflowMenu/next/docs/overview.mdx
  packages/react/src/components/OverflowMenu/next/index.js
  packages/react/src/components/OverflowMenuV2/OverflowMenuv2.stories.js
  packages/react/src/components/OverflowMenuV2/index.js
  packages/react/src/index.js
  packages/react/src/index.ts
  packages/styles/scss/components/menu/_menu.scss
Labels: status: visual review 🔍, status: ready to merge 🎉

#13925 fix(Button): ensure onMouseEnter fires when moving from disabled button
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/IconButton/index.js
  packages/react/src/components/Tooltip/Tooltip.tsx
  packages/styles/scss/components/button/_button.scss
Labels: status: ready to merge 🎉

#13936 fix(RadioButton): remove aria-readonly from fieldset
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
Labels: status: ready to merge 🎉

#13919 fix(Tabs): do not dismiss disabled tabs
  packages/react/src/components/Tabs/Tabs.mdx
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: one more review 👀, status: enable automerge 🟠

#13904 docs(Combobox): add docs for shouldFilterItem prop
  packages/react/src/components/ComboBox/ComboBox.mdx
Labels: status: ready to merge 🎉

#13924 feat(progress-bar): support contextual layout tokens (density)
  packages/styles/scss/components/progress-bar/_progress-bar.scss
Labels: status: ready to merge 🎉

#13753 feat: added types for the AspectRatio component
  packages/react/src/components/AspectRatio/AspectRatio.tsx
  packages/react/src/components/AspectRatio/index.tsx
Labels: status: ready to merge 🎉, area: typescript

#13525 fix(DataTable): align items top on text wrapping
  .yarn/cache/@mapbox-node-pre-gyp-npm-1.0.10-1811160047-1a98db05d9.zip
  .yarn/cache/canvas-npm-2.11.2-824d893a31-61e554aef8.zip
  .yarn/cache/decompress-response-npm-4.2.1-abe5b4ebe4-4e783ca4df.zip
  .yarn/cache/detect-libc-npm-2.0.1-2699cb2ac4-ccb05fcabb.zip
  .yarn/cache/mimic-response-npm-2.1.0-037463e454-014fad6ab9.zip
  .yarn/cache/nan-npm-2.14.0-b880e7ae7d-6dfd00d9bf.zip
  .yarn/cache/nan-npm-2.17.0-bf36a21d6f-ec609aeaf7.zip
  .yarn/cache/simple-concat-npm-1.0.1-48df70de29-4d211042cc.zip
  .yarn/cache/simple-get-npm-3.1.1-dce5923dba-80195e70bf.zip
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/package.json
  packages/react/src/components/DataTable/DataTable.js
  packages/react/src/components/DataTable/DataTable.mdx
  packages/react/src/components/DataTable/Table.tsx
  packages/react/src/components/DataTable/TableHeader.tsx
  packages/react/src/components/DataTable/__tests__/Table-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandHeader-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableHeader-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/data-table/expandable/_data-table-expandable.scss
  packages/styles/scss/components/data-table/sort/_data-table-sort.scss
  yarn.lock
Labels: status: ready to merge 🎉

#13760 feature/HeaderMenuItem types
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/HeaderMenuItem.tsx
  packages/react/src/components/UIShell/Link.js
  packages/react/src/components/UIShell/Link.tsx
Labels: status: ready to merge 🎉, area: typescript

#13935 docs(DefinitionTooltip): set openOnHover to true for storybook
  packages/react/src/components/Tooltip/DefinitionTooltip.stories.js
Labels: status: ready to merge 🎉

#13905 docs(data-table): fix link appearance in datatable stories
  packages/react/src/components/DataTable/stories/shared.js
Labels: status: ready to merge 🎉

#13871 fix(UIShell): don't require aria-label in HeaderPanel
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/HeaderPanel.js
  packages/react/src/components/UIShell/UIShell.stories.js
Labels: status: failing CI 🙅‍♂️, status: ready to merge 🎉

#13875 feat: added types for Accordion, AccordionItem, AccordionSkeleton, SkeletonText
  .all-contributorsrc
  README.md
  packages/react/src/components/Accordion/Accordion.Skeleton.tsx
  packages/react/src/components/Accordion/Accordion.tsx
  packages/react/src/components/Accordion/AccordionItem.tsx
  packages/react/src/components/Accordion/AccordionProvider.tsx
  packages/react/src/components/Accordion/index.tsx
  packages/react/src/components/SkeletonText/SkeletonText.tsx
  packages/react/src/components/SkeletonText/index.tsx
Labels: status: ready to merge 🎉

#13937 feat(tile): support contextual layout tokens (density)
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#13972 fix(DataTable): mock Canvas and remove dependency
  .yarn/cache/@mapbox-node-pre-gyp-npm-1.0.10-1811160047-1a98db05d9.zip
  .yarn/cache/canvas-npm-2.11.2-824d893a31-61e554aef8.zip
  .yarn/cache/decompress-response-npm-4.2.1-abe5b4ebe4-4e783ca4df.zip
  .yarn/cache/detect-libc-npm-2.0.1-2699cb2ac4-ccb05fcabb.zip
  .yarn/cache/mimic-response-npm-2.1.0-037463e454-014fad6ab9.zip
  .yarn/cache/simple-concat-npm-1.0.1-48df70de29-4d211042cc.zip
  .yarn/cache/simple-get-npm-3.1.1-dce5923dba-80195e70bf.zip
  packages/react/package.json
  packages/react/src/components/DataTable/__tests__/Table-test.js
  yarn.lock
Labels: status: ready to merge 🎉

#13892 Component Accessibility Status: EAC Default state baseline audit/coverage
  .yarn/cache/eslint-plugin-cypress-npm-2.12.1-6681f582fa-1f1c36e149.zip
  config/eslint-config-carbon/base.js
  config/eslint-config-carbon/package.json
  config/eslint-config-carbon/plugins/cypress.js
  e2e/components/ClassPrefix/ClassPrefix-test.e2e.js
  e2e/components/ErrorBoundary/ErrorBoundary-test.e2e.js
  e2e/components/FluidForm/FluidForm-test.e2e.js
  e2e/components/Grid/Grid-test.e2e.js
  e2e/components/Heading/Heading-test.e2e.js
  e2e/components/IconButton/IconButton-test.e2e.js
  e2e/components/IdPrefix/IdPrefix-test.e2e.js
  e2e/components/OverFlowMenuV2/OverFlowMenuV2-test.e2e.js
  packages/react/.gitignore
  packages/react/src/components/Accordion/__tests__/Accordion-test.e2e.js
  packages/react/src/components/AspectRatio/__tests__/AspectRatio-test.e2e.js
  packages/react/src/components/Breadcrumb/__tests__/Breadcrumb-test.e2e.js
  packages/react/src/components/Button/Button-test.e2e.js
  packages/react/src/components/ButtonSet/ButtonSet-test.e2e.js
  packages/react/src/components/CodeSnippet/__tests__/CodeSnippet-test.e2e.js
  packages/react/src/components/ComboBox/ComboBox-test.e2e.js
  packages/react/src/components/Dropdown/Dropdown-test.e2e.js
  packages/react/src/components/FluidForm/FluidForm.stories.js
  packages/react/src/components/Grid/__tests__/Grid-test.e2e.js
  packages/react/src/components/IconButton/IconButton.stories.js
  packages/react/src/components/Link/Link-test.e2e.js
  packages/react/src/components/Modal/Modal-test.e2e.js
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.e2e.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.e2e.js
  packages/react/src/components/Popover/__tests__/Popover-test.e2e.js
  packages/react/src/components/Stack/__tests__/Stack-test.e2e.js
  packages/react/src/components/Tabs/tabs-test.e2e.js
  packages/react/src/components/Tag/Tag-test.e2e.js
  yarn.lock
Labels: type: a11y ♿, status: ready to merge 🎉

#13973 Add layout to build files
  packages/carbon-components-react/scss/_layout.scss
  packages/carbon-components-react/scss/utilities/_layout.scss
  packages/carbon-components/scss/_layout.scss
  packages/carbon-components/scss/utilities/_layout.scss
  packages/react/scss/_layout.scss
  packages/react/scss/utilities/_layout.scss
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/files.js
Labels: status: ready to merge 🎉

#13628 Add TypeScript types to ComposedModal, ModalHeader, ModalBody, ModalFooter #13534
  .yarn/cache/@types-react-is-npm-17.0.3-1deb53884e-6abb7c47d5.zip
  package.json
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ComposedModal.js
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/ComposedModal/ModalFooter.tsx
  packages/react/src/components/ComposedModal/ModalHeader.js
  packages/react/src/components/ComposedModal/ModalHeader.tsx
  packages/react/src/components/ComposedModal/index.js
  packages/react/src/components/ComposedModal/index.tsx
  packages/react/src/internal/wrapFocus.js
  packages/react/src/prop-types/requiredIfGivenPropIsTruthy.js
  yarn.lock
Labels: status: ready to merge 🎉, area: typescript

#13954 feat: carbon champions announcement
  .github/workflows/slack-carbon-champs-reminder.yml
Labels: status: ready to merge 🎉

#13971 fix(ActionableNotification): fix padding issue with button
  packages/styles/scss/components/notification/_actionable-notification.scss
Labels: status: ready to merge 🎉

#13984 fix(contextual-layout-tokens): support individual component style imports
  packages/carbon-components-react/scss/components/contained-list/_contained-list.scss
  packages/carbon-components-react/scss/components/contained-list/_index.scss
  packages/carbon-components/scss/components/contained-list/_contained-list.scss
  packages/carbon-components/scss/components/contained-list/_index.scss
  packages/react/scss/components/contained-list/_contained-list.scss
  packages/react/scss/components/contained-list/_index.scss
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/files.js
  packages/styles/scss/_layout.scss
  packages/styles/scss/components/button/_mixins.scss
  packages/styles/scss/components/contained-list/_contained-list.scss
  packages/styles/scss/utilities/_layout.scss
Labels: status: ready to merge 🎉

#13985 chore: types for TableExpandHeader props
  packages/react/src/components/DataTable/TableExpandHeader.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#13982 chore: typescript types for props in TableBody
  .all-contributorsrc
  README.md
  packages/react/src/components/DataTable/TableBody.tsx
Labels: status: ready to merge 🎉

#13983 chore: typescript type for TableContainer props
  packages/react/src/components/DataTable/TableContainer.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#13811 refactor(Button): convert Button component family to TypeScript
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Button/Button.Skeleton.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/index.ts
  packages/react/src/components/ButtonSet/ButtonSet.tsx
  packages/react/src/components/ButtonSet/index.ts
  packages/react/src/components/ComposedModal/ModalFooter.tsx
  packages/react/src/components/DangerButton/DangerButton.tsx
  packages/react/src/components/DangerButton/index.ts
  packages/react/src/prop-types/types.js
Labels: status: ready to merge 🎉, component: button, area: typescript

#13961 fix(UIShell): fix hover issue, reasonable default for enter/exit delay
  packages/react/src/components/IconButton/index.js
  packages/styles/scss/components/ui-shell/header/_header.scss
Labels: status: ready to merge 🎉

#13993 Add TypeScript types to ContentSwitcher, Switch
  .all-contributorsrc
  README.md
  packages/react/src/components/ContentSwitcher/ContentSwitcher.tsx
  packages/react/src/components/Layout/index.js
  packages/react/src/components/Layout/index.tsx
  packages/react/src/components/Switch/Switch.tsx
Labels: status: ready to merge 🎉

#13631 Add TypeScript types to the xTile family of components #13536
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Link/Link.tsx
  packages/react/src/components/Tile/Tile.tsx
  packages/react/src/components/Tile/index.tsx
  packages/react/src/internal/keyboard/match.js
Labels: status: ready to merge 🎉, area: typescript

#13995 chore: added types to ControlledPasswordInput
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/ControlledPasswordInput.tsx
Labels: status: ready to merge 🎉

#14027 docs: add sprint planning docs
  docs/sprint-planning.md
Labels: status: ready to merge 🎉

#14019 fix(contained-list): explicitly set "list" role
  packages/react/src/components/ContainedList/ContainedList.js
Labels: status: ready to merge 🎉

#14024 fix(DataTable): fix padding issue with batch actions
  packages/styles/scss/components/button/_button.scss
  packages/styles/scss/components/data-table/action/_data-table-action.scss
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#14022 fix(sass): remove colons from classnames
  packages/react/src/components/Layout/index.tsx
  packages/styles/docs/sass.md
  packages/styles/scss/_layout.scss
Labels: status: ready to merge 🎉

#13621 types/Notification
  .all-contributorsrc
  README.md
  packages/react/src/components/Notification/Notification.tsx
  packages/react/src/components/Notification/index.tsx
Labels: status: ready to merge 🎉, area: typescript

#13963 fix(ToggleSkeleton): fix issue with ToggleSkeleton style
  .all-contributorsrc
  README.md
  e2e/components/Toggle/Toggle-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Toggle/Toggle.Skeleton.tsx
  packages/react/src/components/Toggle/Toggle.stories.js
  packages/styles/scss/components/toggle/_toggle.scss
  packages/styles/scss/utilities/_skeleton.scss
Labels: status: ready to merge 🎉

#14028 fix(Datepicker): fix calendar cannot close issue
  .all-contributorsrc
  README.md
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/plugins/fixEventsPlugin.js
Labels: status: ready to merge 🎉

#13635 Types/tabs
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/package.json
  packages/react/src/components/Tab/index.tsx
  packages/react/src/components/TabContent/TabContent.tsx
  packages/react/src/components/TabContent/index.tsx
  packages/react/src/components/Tabs/Tabs.Skeleton.tsx
  packages/react/src/components/Tabs/Tabs.tsx
  packages/react/src/components/Tabs/index.js
  packages/react/src/components/Tabs/index.tsx
  packages/react/src/components/Tabs/usePressable.js
  packages/react/src/internal/keyboard/match.js
  packages/react/src/internal/useControllableState.js
  yarn.lock
Labels: status: ready to merge 🎉, area: typescript

#14041 fix(Link): ensure target is passed down to anchor element
  packages/react/src/components/Link/Link.tsx
Labels: status: ready to merge 🎉

#13879 fix(ListBoxMenuItem): ensure border-subtle renders correct value
  packages/styles/scss/components/list-box/_list-box.scss
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#13894 UI Shell Switcher loses focus but remains expanded
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/HeaderPanel.js
  packages/react/src/components/UIShell/Switcher.js
  packages/react/src/components/UIShell/SwitcherItem.js
  packages/react/src/components/UIShell/UIShell.stories.js
  packages/react/src/components/UIShell/__tests__/Switcher-test.js
Labels: type: a11y ♿, component: ui-shell

#14056 ci: replace lerna deprecated option
  lerna.json
Labels: status: ready to merge 🎉

#13927 feat(Tabs): Contained tabs on the grid
  e2e/components/Tabs/Tabs-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.mdx
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/react/src/components/Tabs/Tabs.tsx
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#14060 fix(ci): repair lerna config and update version workflow
  .github/workflows/version.yml
  lerna.json
Labels: status: enable automerge 🟠

#14054 chore(strategic-adopters): added more of them
  .github/workflows/issue-triage-strategic-adopter.yml
Labels: status: ready to merge 🎉

#14075 chore(docs): add slack block kit announcement template to release docs
  docs/release.md
Labels: status: ready to merge 🎉

#13821 fix: make ActionableNotification `subtitle` proptypes node to allow objects
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Notification/Notification.tsx
Labels: status: ready to merge 🎉

#14044 Added new React 18 hook `useId` and tests
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/AccordionItem-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/internal/__tests__/useId-test.js
  packages/react/src/internal/__tests__/useId.server-test.js
  packages/react/src/internal/useId.js
Labels: type: enhancement 💡, status: ready to merge 🎉

#14045 test(uishell): add complex states avt coverage and keyboard navigation tests
  e2e/components/UIShell/UIShell-test.avt.e2e.js
  e2e/components/UIShell/UIShell-test.e2e.js
  playwright.config.js
Labels: role: dev 🤖, status: ready to merge 🎉

#13992 chore: Types for FileUploader, FileUploaderButton, FileUploaderDropContainer, FileUploaderItem, FileUploaderSkeleton, Filename, Upload and ButtonSkeleton
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FileUploader/FileUploader.Skeleton.tsx
  packages/react/src/components/FileUploader/FileUploader.tsx
  packages/react/src/components/FileUploader/FileUploaderButton.tsx
  packages/react/src/components/FileUploader/FileUploaderDropContainer.tsx
  packages/react/src/components/FileUploader/FileUploaderItem.tsx
  packages/react/src/components/FileUploader/Filename.tsx
  packages/react/src/components/Loading/Loading.tsx
Labels: status: ready to merge 🎉

#14089 fix(upgrade): add size prop codemods to upgrade package
  packages/upgrade/src/upgrades.js
Labels: status: ready to merge 🎉

#14080 fix(Datepicker): fix types
  packages/react/src/components/DatePicker/DatePicker.tsx
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
Labels: status: ready to merge 🎉

#14070 fix(InlineCheckbox): guard from setting `indeterminate` on null ref
  packages/react/src/components/InlineCheckbox/InlineCheckbox.js
Labels: status: ready to merge 🎉

#14097 fix(UIShell): refactor displayName check
  packages/react/src/components/UIShell/HeaderPanel.js
Labels: status: ready to merge 🎉

#14018 fix(cli-reporter): fix undefined _style (TypeError: Cannot read properties of undefined (reading '0'))
  packages/cli-reporter/index.js
Labels: status: ready to merge 🎉

#14017 fix: dropdown contrast focus styles
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/styles/scss/components/list-box/_list-box.scss
Labels: status: ready for review 👀, status: visual review 🔍, type: a11y ♿, component: combobox, component: dropdown, component: multi-select

#14092 fix(ListBox): backport listbox a11y fixes to v10
  packages/components/src/components/form/_form.scss
  packages/components/src/components/multi-select/_multi-select.scss
  packages/react/src/components/ComboBox/ComboBox.js
  packages/react/src/components/ListBox/ListBoxSelection.js
  packages/react/src/components/ListBox/__tests__/ListBoxSelection-test.js
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  packages/react/src/components/ListBox/__tests__/__snapshots__/ListBoxSelection-test.js.snap
  packages/react/src/components/ListBox/next/ListBoxSelection.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.js
  packages/react/src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/react/src/components/MultiSelect/next/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/next/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  packages/styles/scss/components/form/_form.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
Labels: version: 10, status: ready to merge 🎉

#14106 Fixed counter position in FluidTextArea
  packages/styles/scss/components/fluid-text-area/_fluid-text-area.scss
Labels: status: visual review 🔍, role: dev 🤖
