Repository carbon-design-system/carbon, pull requests merged in 2023-10, with the labels that each got.

#14738 fix(release-schedule): September only has 30 days
  docs/release-schedule.md
Labels: status: ready for review 👀, status: one more review 👀, type: docs 📖, role: dev 🤖

#14746 Side nav link text typing
  packages/react/src/components/UIShell/SideNavLinkText.tsx
Labels: status: ready to merge 🎉

#14660 New single drag and drop single `FileUploader`
  packages/react/src/components/FileUploader/FileUploader.stories.js
  packages/react/src/components/FileUploader/FileUploaderItem.tsx
  packages/react/src/components/FileUploader/Filename.tsx
  packages/react/src/components/FileUploader/stories/drag-and-drop-single.js
  packages/styles/scss/components/file-uploader/_file-uploader.scss
Labels: status: ready for review 👀, status: one more review 👀, status: visual review 🔍

#14721 fix(accordion): update focus styles to fix VO
  packages/styles/scss/components/accordion/_accordion.scss
Labels: status: ready for review 👀, status: visual review 🔍

#14750 feat: CopyButton avt test
  e2e/components/CopyButton/CopyButton-test.avt.e2e.js
Labels: status: ready for review 👀, status: one more review 👀

#14712 fix(modal): update hasScrollingContent styles
  e2e/components/ComposedModal/ComposedModal-test.e2e.js
  e2e/components/Modal/Modal-test.e2e.js
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/Modal/Modal.stories.js
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#14795 fix: fixed tooltip when multiple files are uploaded
  packages/react/src/components/FileUploader/FileUploaderItem.tsx
Labels: status: ready to merge 🎉

#14805 feat(component): add SideNavMenu.tsx component
  packages/react/src/components/UIShell/SideNavMenu.tsx
Labels: status: ready to merge 🎉

#14748 [AVT] - Added Keyboard Nav AVT test for Contained List
  e2e/components/ContainedList/ContainedList-test.avt.e2e.js
  e2e/components/ContainedList/ContainedList-test.e2e.js
  packages/react/src/components/ContainedList/ContainedList.stories.js
Labels: status: ready to merge 🎉

#14778 fix: added aria-live to stop extraneous announcement
  packages/react/src/components/DataTable/TableSelectAll.tsx
  packages/react/src/components/DataTable/TableSelectRow.tsx
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
Labels: status: ready to merge 🎉

#14802 14758 avt file uploader
  e2e/components/ComposedModal/ComposedModal-test.avt.e2e.js
  e2e/components/FileUploader/FileUploader-test.avt.e2e.js
  e2e/components/FileUploader/test-upload-file-long-text-for-tooltip-to-show-up.png
Labels: status: ready to merge 🎉

#14832 Fixed name convention for avt testing
  e2e/components/ComposedModal/ComposedModal-test.avt.e2e.js
  e2e/components/ContainedList/ContainedList-test.avt.e2e.js
Labels: status: one more review 👀, status: ready to merge 🎉

#14737 chore(storybook): use addon-links to link between stories
  .yarn/cache/@storybook-addon-links-npm-7.4.5-c650cb0e3e-c91f6eac61.zip
  .yarn/cache/@storybook-channels-npm-7.4.5-380dc11d1f-a0781c6148.zip
  .yarn/cache/@storybook-client-logger-npm-7.4.5-bd04672877-044ef572d8.zip
  .yarn/cache/@storybook-core-events-npm-7.4.5-c8e6d43e18-b13a5c415e.zip
  .yarn/cache/@storybook-manager-api-npm-7.4.5-d4edba44b8-5b324ea7bc.zip
  .yarn/cache/@storybook-preview-api-npm-7.4.5-55bd2e21a8-c664fd9e96.zip
  .yarn/cache/@storybook-router-npm-7.4.5-85a539e281-bbbbc0b4e3.zip
  .yarn/cache/@storybook-theming-npm-7.4.5-3a4c107bbc-e2cfacbec3.zip
  .yarn/cache/@storybook-types-npm-7.4.5-726f78d359-4739a619bf.zip
  .yarn/cache/telejson-npm-7.1.0-d2cebb9d45-8000e43dc8.zip
  .yarn/cache/telejson-npm-7.2.0-055e0072e4-55a3380c9f.zip
  packages/react/.storybook/templates/WithFeatureFlags/index.js
  packages/react/package.json
  packages/react/src/components/ClassPrefix/ClassPrefix.mdx
  packages/react/src/components/OverflowMenuV2/OverflowMenuv2.stories.js
  packages/react/src/internal/usePrefix.stories.mdx
  yarn.lock
Labels: status: ready to merge 🎉

#14752 feat: add keyboard nav DefinitionTooltip
  e2e/components/DefinitionTooltip/DefinitionTooltip-test.avt.e2e.js
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#14754 feat: ErrorBoundary avt test
  e2e/components/ErrorBoundary/ErrorBoundary-test.avt.e2e.js
Labels: status: ready for review 👀

#14826 chore(test-utils): remove keyboard, tabbable
  .yarn/cache/tabbable-npm-4.0.0-21da476888-cbe1acbdab.zip
  packages/test-utils/__tests__/keyboard-test.js
  packages/test-utils/keyboard.js
  packages/test-utils/package.json
  yarn.lock
Labels: status: one more review 👀, role: dev 🤖

#14830 chore(node): upgrade to node 20
  .github/workflows/ci.yml
  .github/workflows/deploy-packages.yml
  .github/workflows/deploy-react-storybook.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
  .github/workflows/sync-generated-files.yml
  .github/workflows/v10-ci.yml
  .github/workflows/v10-deploy-react-storybook.yml
  .github/workflows/v10-release.yml
  .github/workflows/version.yml
  .nvmrc
Labels: status: ready for review 👀, role: dev 🤖, status: ready to merge 🎉

#14828 fix(zone): update styles to use the prefix
  packages/styles/scss/_zone.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#14842 Add Keyboard Nav AVT test for `MenuButton`
  e2e/components/MenuButton/MenuButton-test.avt.e2e.js
  e2e/components/MenuButton/MenuButton-test.e2e.js
Labels: status: ready to merge 🎉

#14862 refactor: added typescript types to SideNavDetails
  packages/react/src/components/UIShell/SideNavDetails.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#14894 feat(component): replaced `SideNavDivider.js` -> `SideNavDivider.tsx` component
  packages/react/src/components/UIShell/SideNavDivider.tsx
Labels: status: ready to merge 🎉

#14886 chore(ci): reconfigure percy to only snapshot mobile in the white theme
  .percy.yml
  e2e/test-utils/snapshot.js
Labels: role: dev 🤖, status: ready to merge 🎉

#14852 fix(Type): update style to use prefix
  packages/type/scss/_default-type.scss
Labels: status: ready to merge 🎉

#14801 feat(SkeletonIcon): Add types for `SkeletonIcon`
  .all-contributorsrc
  README.md
  packages/react/src/components/SkeletonIcon/SkeletonIcon.tsx
Labels: status: ready to merge 🎉

#14910 fix(CodeSnippet): v10 - fix horizontal scrolling with keyboard
  packages/components/src/components/code-snippet/_code-snippet.scss
  packages/styles/scss/components/code-snippet/_code-snippet.scss
Labels: status: ready to merge 🎉

#14679 feat(React): update more components to use Text, improve RTL support
  packages/react/.storybook/preview.js
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/AccordionItem-test.js.snap
  packages/react/src/components/Breadcrumb/BreadcrumbItem.js
  packages/react/src/components/DataTable/TableBatchActions.tsx
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
  packages/react/src/components/FileUploader/FileUploader.tsx
  packages/react/src/components/FileUploader/FileUploaderItem.tsx
  packages/react/src/components/FileUploader/__tests__/FileUploader-test.js
  packages/react/src/components/FluidTextInput/__tests__/FluidTextInput-test.js
  packages/react/src/components/FormLabel/FormLabel-test.js
  packages/react/src/components/FormLabel/FormLabel.tsx
  packages/react/src/components/ListItem/ListItem.tsx
  packages/react/src/components/Menu/MenuItem.js
  packages/react/src/components/Modal/Modal.js
  packages/react/src/components/Notification/Notification.tsx
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/NumberInput/__tests__/NumberInput-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu.stories.js
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem.tsx
  packages/react/src/components/ProgressIndicator/ProgressIndicator.js
  packages/react/src/components/RadioTile/RadioTile-test.js
  packages/react/src/components/RadioTile/RadioTile.js
  packages/react/src/components/Select/Select.tsx
  packages/react/src/components/Select/__tests__/Select-test.js
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Slider/Slider.tsx
  packages/react/src/components/StructuredList/StructuredList.tsx
  packages/react/src/components/Tabs/Tabs.tsx
  packages/react/src/components/Tag/Tag.tsx
  packages/react/src/components/Text/Text.tsx
  packages/react/src/components/Text/TextDirection.tsx
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextInput/TextInput.tsx
  packages/react/src/components/TextInput/__tests__/PasswordInput-test.js
  packages/react/src/components/TextInput/__tests__/TextInput-test.js
  packages/react/src/components/Tile/Tile.tsx
  packages/react/src/components/TileGroup/__tests__/TileGroup-test.js
  packages/react/src/components/Toggle/Toggle.tsx
  packages/react/src/internal/useNormalizedInputProps.js
Labels: status: ready for review 👀, status: one more review 👀

#14898 Add Keyboard Nav AVT test for `PaginationNav`
  e2e/components/PaginationNav/PaginationNav-test.avt.e2e.js
  e2e/components/PaginationNav/PaginationNav-test.e2e.js
Labels: status: ready to merge 🎉

#14905 Add Keyboard Nav AVT test for `Popover`
  e2e/components/Popover/Popover-test.avt.e2e.js
  e2e/components/Popover/Popover-test.e2e.js
Labels: status: ready to merge 🎉

#14735 feat: contentswitcher avt tests
  e2e/components/ComboButton/ComboButton-test.avt.e2e.js
  e2e/components/ContentSwitcher/ContentSwitcher-test.avt.e2e.js
Labels: status: ready to merge 🎉

#14919 fix(DatePicker): ensure icon is correct if label extends past input
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
  packages/styles/scss/components/date-picker/_date-picker.scss
  packages/styles/scss/components/fluid-date-picker/_fluid-date-picker.scss
Labels: status: ready to merge 🎉

#14899 Types/FormItem
  packages/react/src/components/FormItem/FormItem.tsx
  packages/react/src/components/FormItem/index.ts
Labels: status: ready to merge 🎉

#14297 feat(slider): add range slider
  e2e/components/Slider/Slider-test.avt.e2e.js
  e2e/components/Slider/Slider-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Slider/Slider.Skeleton.tsx
  packages/react/src/components/Slider/Slider.mdx
  packages/react/src/components/Slider/Slider.stories.js
  packages/react/src/components/Slider/Slider.tsx
  packages/styles/scss/components/slider/_slider.scss
Labels: status: ready to merge 🎉

#14923 Add Keyboard Nav AVT test for `Tag`
  e2e/components/Tag/Tag-test.avt.e2e.js
  e2e/components/Tag/Tag-test.e2e.js
Labels: status: ready to merge 🎉

#14816 Add Keyboard Nav AVT test for `FormLabel`
  e2e/components/FormLabel/FormLabel-test.avt.e2e.js
  e2e/components/FormLabel/FormLabel-test.e2e.js
  packages/react/src/components/FormLabel/FormLabel.stories.js
Labels: status: ready to merge 🎉

#14739 refactor(types): added types for SideNavSwitcher
  packages/react/src/components/UIShell/SideNavSwitcher.js
  packages/react/src/components/UIShell/SideNavSwitcher.tsx
Labels: status: ready to merge 🎉

#14860 Add LTS notification - v10 storybook
  packages/react/.storybook/Container.js
Labels: version: 10, status: visual review 🔍, status: ready to merge 🎉

#14945 fix(tile): `ClickableTile` should navigate on keypress
  packages/react/src/components/Tile/Tile.tsx
Labels: severity: 3, type: bug 🐛, role: dev 🤖, status: ready to merge 🎉, component: tile

#14925 Update v11.md
  docs/migration/v11.md
Labels: status: ready to merge 🎉

#14943 chore(Popover): use header tag for "Available storage" header
  .all-contributorsrc
  README.md
  packages/react/src/components/Popover/Popover.stories.js
Labels: status: ready to merge 🎉

#14927 Datepicker allow input props issue
  .all-contributorsrc
  README.md
  packages/react/src/components/DatePicker/DatePicker.tsx
  packages/react/src/components/DatePicker/plugins/fixEventsPlugin.js
Labels: status: ready for review 👀, status: one more review 👀

#14733 refactor(Modal): add TypeScript types
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/index.ts
  packages/react/src/internal/wrapFocus.js
  packages/react/src/prop-types/requiredIfGivenPropIsTruthy.js
Labels: status: ready to merge 🎉

#14987 Fix: rework `DatePickerInput` type to extend `HTMLInputElement` instead of `HTMLDivElement`
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
Labels: status: ready to merge 🎉

#15025 fix: `useLayoutEffect` SSR warning fix
  packages/react/src/components/DataTable/Table.tsx
Labels: status: ready to merge 🎉

#14938 fix: fixed open state with auto size
  packages/styles/scss/components/ui-shell/side-nav/_side-nav.scss
Labels: status: one more review 👀

#15003 Removing the title inside the tab source
  packages/react/src/components/Tabs/Tabs.tsx
Labels: status: ready to merge 🎉

#15077 ci(cache): turn off caching in the merge queue
  .github/workflows/ci.yml
Labels: status: ready to merge 🎉

#15063 fix(bug): slider.scss uses deprecated `/`
  packages/styles/scss/components/slider/_slider.scss
Labels: status: ready to merge 🎉

#14916 Add Keyboard Nav AVT test for `ToggleTip`
  e2e/components/Toggletip/Toggletip-test.avt.e2e.js
  e2e/components/Toggletip/Toggletip-test.e2e.js
Labels: status: ready to merge 🎉

#14935 feat(Combobox): allow custom value
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.mdx
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉

#14893 Fixed Incorrect typescript for renderSelectedItem property of the Dropdown component
  packages/react/src/components/Dropdown/Dropdown.tsx
Labels: status: ready to merge 🎉

#14949 test(Menu): add AVT tests for Menu
  e2e/components/Menu/Menu-test.avt.e2e.js
  e2e/components/Menu/Menu-test.e2e.js
Labels: type: a11y ♿, status: ready to merge 🎉

#14950 Feat: Forwarding Ref in `TableExpandRow` component
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/TableExpandRow.tsx
Labels: status: ready to merge 🎉

#14967 feat: support forwardRef in TreeNode
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TreeView/TreeNode.js
Labels: status: ready to merge 🎉

#14996 feat(component): replaced `SideNavMenuItem.js` -> `SideNavMenuItem.tsx` component
  .all-contributorsrc
  README.md
  packages/react/src/components/UIShell/SideNavMenuItem.js
  packages/react/src/components/UIShell/SideNavMenuItem.tsx
Labels: status: ready to merge 🎉

#15004 fix(sidenavmenu): remove title attribute, remove duplicate .js file
  packages/react/src/components/UIShell/SideNavMenu.js
  packages/react/src/components/UIShell/SideNavMenu.tsx
Labels: severity: 3, type: a11y ♿, role: dev 🤖, status: ready to merge 🎉

#15033 feat: Add Typescript typings to Breadcrumb, BreadcrumbItems, and BreadcrumbSkeleton
  .all-contributorsrc
  README.md
  packages/react/src/components/Breadcrumb/Breadcrumb.Skeleton.tsx
  packages/react/src/components/Breadcrumb/Breadcrumb.js
  packages/react/src/components/Breadcrumb/Breadcrumb.tsx
  packages/react/src/components/Breadcrumb/BreadcrumbItem.js
  packages/react/src/components/Breadcrumb/BreadcrumbItem.tsx
Labels: status: ready to merge 🎉

#15036 refactor(Slug): refactor Slug callout into composable components
  packages/react/src/components/Slug/Slug.stories.js
  packages/react/src/components/Slug/index.js
  packages/react/src/index.js
  packages/styles/scss/components/slug/_slug.scss
Labels: status: ready to merge 🎉, area: AI

#14863 refactor: added types to SideNavFooter
  packages/react/src/components/UIShell/SideNavFooter.tsx
Labels: status: ready to merge 🎉

#15068 fix(Notification): allow undefined props in TypeScript
  packages/react/src/components/Notification/Notification.tsx
Labels: status: ready to merge 🎉

#15069 fix(FileUploaderDropContainer): allow undefined value for labelText
  packages/react/src/components/FileUploader/FileUploaderDropContainer.tsx
Labels: status: ready to merge 🎉

#15065 feat: add types to TableBatchAction
  packages/react/src/components/DataTable/TableBatchAction.tsx
Labels: status: ready to merge 🎉

#15070 UI updates v2 231030
  packages/icons/icons.yml
Labels: status: ready to merge 🎉

#15055 feat(component): replaced `SideNavItem.js` -> `SideNavItem.tsx` component
  packages/react/src/components/UIShell/SideNavItem.tsx
Labels: status: ready to merge 🎉, area: typescript
