Repository carbon-design-system/carbon, pull requests merged in 2024-12, with the labels that each got.

#16995 feat(popover): add `autoAlignBoundary` for configurable collision boundary
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Popover/Popover.stories.js
  packages/react/src/components/Popover/index.tsx
Labels: status: ready to merge 🎉

#18143 Fix SelectableTile typescript declaration for "value".
  packages/react/src/components/Tile/Tile.tsx
Labels: status: ready to merge 🎉

#17787 Update Menu.mdx
  packages/react/src/components/Menu/Menu.mdx
Labels: type: docs 📖, status: ready to merge 🎉

#18163 docs(grid): update 2x grid links in docs
  packages/react/src/components/AspectRatio/AspectRatio.mdx
  packages/react/src/components/Grid/FlexGrid.mdx
  packages/react/src/components/Grid/Grid.mdx
Labels: type: docs 📖, status: ready to merge 🎉

#18165 fix(pagination): focus buttons web components
  packages/web-components/src/components/button/button.scss
  packages/web-components/src/components/pagination/pagination.ts
Labels: status: ready to merge 🎉, package: @carbon/web-components

#18190 chore(docs): separate release commands to individual code blocks
  docs/release.md
Labels: status: ready for review 👀

#18178 fix: update regex in strategic adopter workflow
  .github/workflows/issue-triage-strategic-adopter.yml
Labels: status: one more review 👀

#17960 feat: implement codemod ibm-products-update-http-errors
  packages/upgrade/src/upgrades.js
  packages/upgrade/transforms/__testfixtures__/ibm-products-update-http-errors.input.js
  packages/upgrade/transforms/__testfixtures__/ibm-products-update-http-errors.output.js
  packages/upgrade/transforms/__tests__/ibm-products-update-http-errors-test.js
  packages/upgrade/transforms/ibm-products-update-http-errors.js
Labels: status: ready to merge 🎉

#17869 test(SideNav): #17491 increased unit test coverage
  .all-contributorsrc
  README.md
  packages/react/src/components/UIShell/__tests__/SideNav-test.js
Labels: status: one more review 👀

#18229 chore: added .nx/cache to gitignore
  .gitignore
  .nx/cache/cloud/2412.05.4/index.js
  .nx/cache/cloud/2412.05.4/package.json
  .nx/cache/cloud/2412.05.4/static/login-end.html
  .nx/cache/cloud/2412.05.4/static/login-start.html
  .nx/cache/cloud/verify.lock
  .nx/cache/file-map.json
  .nx/cache/lockfile.hash
  .nx/cache/parsed-lock-file.json
  .nx/cache/project-graph.json
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .yarn/cache/axios-npm-1.7.5-b23f777d13-6cbcfe943a.zip
  .yarn/cache/dotenv-npm-16.4.5-bcb20eb95d-55a3134601.zip
  .yarn/cache/yaml-npm-2.5.0-402c6c0928-72e903fdbe.zip
  yarn.lock
Labels: type: infrastructure :robot:

#17884 Increase code covergae for OverFlowMenuV2
  packages/react/src/components/OverflowMenuV2/OverFlowMenuV2-test.js
Labels: status: ready to merge 🎉

#18225 chore: remove extra code connect file
  NotificationCallout.figma.tsx
Labels: status: one more review 👀

#18203 fix: fixes a11y violation in ExpandedSearch
  packages/react/src/components/Search/Search.tsx
Labels: status: ready to merge 🎉

#18179 feat: add datapower to strategic adopter workflow
  .github/workflows/issue-triage-strategic-adopter.yml
Labels: status: ready to merge 🎉

#18181 fix: vrt test cases of popover
  e2e/components/Popover/Popover-test.e2e.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#18067 fix(Stack): spread inline styles
  packages/react/src/components/Stack/Stack.tsx
Labels: status: ready to merge 🎉

#18245 docs(tooltip): revert to peviously correct stories, use help icon
  packages/react/src/components/Tooltip/Tooltip.stories.js
Labels: status: ready for review 👀, status: visual review 🔍, status: ready to merge 🎉

#18252 fix(layer): stories missing import in wc
  packages/web-components/.storybook/templates/with-layer.ts
Labels: package: @carbon/web-components

#18244 fix(popover): rtl positioning web-components
  packages/web-components/src/components/popover/popover.scss
Labels: package: @carbon/web-components

#17982 fix: arrow breaking in AILabel popover
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/AILabel/index.tsx
  packages/react/src/components/Popover/__tests__/Popover-test.js
  packages/react/src/components/Popover/index.tsx
  packages/react/src/components/Toggletip/index.tsx
Labels: status: ready to merge 🎉

#18255 fix(subgrid): narrow mode margin
  packages/grid/scss/_css-grid.scss
  packages/react/src/components/Grid/Grid.stories.js
Labels: status: ready to merge 🎉

#18265 Fixed tag token colors
  packages/styles/scss/components/tag/_mixins.scss
  packages/styles/scss/components/tag/_tag.scss
Labels: status: one more review 👀

#18068 fix(tile): update clickable tile icon size and spacing
  packages/styles/scss/components/tile/_tile.scss
Labels: status: visual review 🔍, status: ready to merge 🎉
