Repository carbon-design-system/carbon, pull requests merged in 2024-04, with the labels that each got.

#16043 fix(15510): Update Interface to Include href Prop in SwitcherItem Type
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SwitcherItem.tsx
Labels: status: ready to merge 🎉

#16038 feat: add types to `ComboButton`
  packages/react/src/components/ComboButton/index.js
  packages/react/src/components/ComboButton/index.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#16097 feat(Pictograms): new productive master 240329
  packages/pictograms/productive-pictogram-master.ai
Labels: status: one more review 👀

#16119 fix(tabs): missing key error in storybook
  packages/react/src/components/Tabs/Tabs.stories.js
Labels: status: ready to merge 🎉

#16114 fix(TableBatchAction): fix renderIcon error in TableBatchAction
  packages/react/src/components/DataTable/TableBatchAction.tsx
Labels: status: ready to merge 🎉

#16107 Fixed export for Interactive Tags
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Tag/index.ts
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#16082 fix: radio button storybook bug
  e2e/components/RadioButton/RadioButton-test.avt.e2e.js
  packages/react/src/components/RadioButton/RadioButton.mdx
  packages/react/src/components/RadioButton/RadioButton.stories.js
Labels: status: ready to merge 🎉

#16096 fix: collapse sidenav menus when side nav is closed
  packages/react/src/components/UIShell/SideNavMenu.tsx
Labels: status: ready to merge 🎉

#16079 fix(treeview): don't overwrite disabled=true state for children
  packages/react/src/components/TreeView/TreeNode.js
  packages/react/src/components/TreeView/Treeview.stories.js
Labels: status: ready to merge 🎉

#15980 fix(ListBox): update focus states for listbox components
  e2e/components/FluidMultiSelect/FluidMultiSelect-test.avt.e2e.js
  e2e/components/MultiSelect/MultiSelect-test.avt.e2e.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/MultiSelect/FilterableMultiSelect.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
  packages/styles/scss/components/combo-box/_combo-box.scss
  packages/styles/scss/components/dropdown/_dropdown.scss
  packages/styles/scss/components/fluid-combo-box/_fluid-combo-box.scss
  packages/styles/scss/components/fluid-list-box/_fluid-list-box.scss
  packages/styles/scss/components/fluid-multiselect/_fluid-multiselect.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
Labels: status: ready to merge 🎉

#16039 fix(Slug): updates Slug styles to match new floating-ui selectors
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Slug/Slug.stories.js
  packages/react/src/components/Slug/index.js
  packages/styles/scss/components/slug/_slug.scss
Labels: status: ready to merge 🎉

#15952 feat: added dividers accross multiple states for AI select
  packages/styles/scss/components/select/_select.scss
Labels: status: ready to merge 🎉

#16129 docs: add docs around component tokens to migration guide
  docs/migration/v11.md
  packages/styles/docs/sass.md
Labels: status: ready to merge 🎉

#16113 fix: added href property to sideNavMenuItem
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SideNavMenuItem.tsx
Labels: status: ready to merge 🎉

#16135 fix: combobx ref bug
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉, component: combobox, area: typescript

#15324 feat: add types to CodeSnippet and CodeSnippetSkeleton
  packages/react/src/components/CodeSnippet/CodeSnippet.Skeleton.tsx
  packages/react/src/components/CodeSnippet/CodeSnippet.tsx
  packages/react/src/components/CodeSnippet/index.ts
Labels: status: one more review 👀, role: dev 🤖, component: code-snippet

#16131 fix: tab-tip-expanded-closed-a11y
  packages/react/src/components/Popover/Popover.stories.js
Labels: status: ready for review 👀, type: a11y ♿, status: ready to merge 🎉

#16033 fix(tabs): refactor dismissable tab html
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.tsx
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#16116 refactor(headermenu): added typescript types to headermenu
  packages/react/src/components/UIShell/HeaderMenu.tsx
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#16156 fix(tag): increase disabled selector specificity
  packages/styles/scss/components/tag/_tag.scss
Labels: status: ready to merge 🎉

#16133 fix(15859,16095): Added divider to NumberInput,Unintended Divider/Outline removed, Avoids magic numbers
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#15934 fix(ComposedModal): align handleMouseDown between Modal, ComposedModal
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.tsx
Labels: status: ready for review 👀

#16171 fix(DataTable): backport #13236 to v10
  packages/react/src/components/DataTable/tools/sorting.js
Labels: version: 10, status: ready for review 👀, status: ready to merge 🎉

#16179 feat(Pictograms): new productive master 240411
  packages/pictograms/productive-pictogram-master.ai
Labels: status: one more review 👀

#16184 fix(icons): correct type export for CarbonIcon
  packages/icon-build-helpers/src/builders/react/next/typescript.js
Labels: role: dev 🤖, status: ready to merge 🎉, area: typescript

#16176 feat(Pictograms):new pictograms v23
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/bucharest--national-theatre.svg
  packages/pictograms/src/svg/bucharest--romanian-athenaeum.svg
  packages/pictograms/src/svg/cloud.svg
  packages/pictograms/src/svg/ibm--uk-labs-hursley.svg
  packages/pictograms/src/svg/kochi-houseboat.svg
  packages/pictograms/src/svg/osaka--tsutenkaku-tower.svg
  packages/pictograms/src/svg/romania--the-gate-of-the-kiss.svg
  packages/pictograms/src/svg/shanghai--skyline.svg
  packages/pictograms/src/svg/walldorf-ibm-innovation-studios.svg
  packages/pictograms/src/svg/zurich.svg
Labels: status: ready for review 👀, status: visual review 🔍

#16180 chore: updates to release.md
  docs/release.md
Labels: status: ready for review 👀, status: one more review 👀

#16193 docs(@carbon/colors): Update carbon colors documentation
  packages/colors/README.md
Labels: status: ready to merge 🎉

#16190 feat(icons): new shapes icons
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/circle--outline.svg
  packages/icons/src/svg/32/diamond--outline.svg
  packages/icons/src/svg/32/diamond--solid.svg
  packages/icons/src/svg/32/hexagon--outline.svg
  packages/icons/src/svg/32/hexagon--solid.svg
  packages/icons/src/svg/32/hexagon--vertical--outline.svg
  packages/icons/src/svg/32/hexagon--vertical--solid.svg
  packages/icons/src/svg/32/pentagon--down--outline.svg
  packages/icons/src/svg/32/pentagon--down--solid.svg
  packages/icons/src/svg/32/pentagon--left--outline.svg
  packages/icons/src/svg/32/pentagon--left--solid.svg
  packages/icons/src/svg/32/pentagon--outline.svg
  packages/icons/src/svg/32/pentagon--right--outline.svg
  packages/icons/src/svg/32/pentagon--right--solid.svg
  packages/icons/src/svg/32/pentagon--solid.svg
  packages/icons/src/svg/32/square--outline.svg
  packages/icons/src/svg/32/square--solid.svg
  packages/icons/src/svg/32/triangle--down--outline.svg
  packages/icons/src/svg/32/triangle--down--solid.svg
  packages/icons/src/svg/32/triangle--left--outline.svg
  packages/icons/src/svg/32/triangle--left--solid.svg
  packages/icons/src/svg/32/triangle--outline.svg
  packages/icons/src/svg/32/triangle--right--outline.svg
  packages/icons/src/svg/32/triangle--right--solid.svg
  packages/icons/src/svg/32/triangle--solid.svg
Labels: status: ready to merge 🎉

#16183 feat(Tile): update Tile AI styles to phase 3 spec
  packages/styles/scss/components/tile/_tile.scss
  packages/styles/scss/utilities/_ai-gradient.scss
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#16191 fix(headermenu): headermenu typing corrected
  packages/react/src/components/UIShell/HeaderMenu.tsx
Labels: status: ready to merge 🎉

#16186 fix(16059): updates RadioButton and RadioButtonGroup proptypes
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
Labels: status: ready to merge 🎉

#16112 SelectableTile change event returns current state, name
  .all-contributorsrc
  README.md
  packages/react/src/components/Tile/Tile.tsx
Labels: status: ready to merge 🎉

#16170 fix(FluidListbox): fix issues with ai-enabled fluid listbox components
  packages/styles/scss/components/fluid-list-box/_fluid-list-box.scss
  packages/styles/scss/components/fluid-select/_fluid-select.scss
  packages/styles/scss/components/fluid-text-area/_fluid-text-area.scss
Labels: status: ready to merge 🎉

#16100 fix(NumberInput): Allow empty input for NumberInput with allowEmpty prop (#15985)
  .all-contributorsrc
  README.md
  e2e/components/NumberInput/NumberInput-test.avt.e2e.js
  packages/react/src/components/NumberInput/NumberInput.stories.js
  packages/react/src/components/NumberInput/NumberInput.tsx
Labels: status: ready to merge 🎉

#16210 feat: add JS scope to @carbon/react IBM telemetry config
  .yarn/cache/@ibm-telemetry-js-npm-1.2.1-dc75f94032-672a116f05.zip
  .yarn/cache/@ibm-telemetry-js-npm-1.4.0-b184a1d59f-a6e7f56a90.zip
  packages/react/package.json
  packages/react/telemetry.yml
  yarn.lock
Labels: status: ready for review 👀

#16215 feat: add JS scope to v10 carbon-components-react IBM telemetry config
  .yarn/cache/@ibm-telemetry-js-npm-1.2.1-dc75f94032-cb4423f3f9.zip
  .yarn/cache/@ibm-telemetry-js-npm-1.4.0-b184a1d59f-d847cd4e73.zip
  packages/react/package.json
  packages/react/telemetry.yml
  yarn.lock
Labels: status: ready for review 👀

#16225 docs(release-schedule): update proposed v12 timeline
  docs/release-schedule.md
Labels: status: ready to merge 🎉

#16205 fix(15154) Adds forwardRef support to ExpandableSearch
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ExpandableSearch/ExpandableSearch-test.js
  packages/react/src/components/ExpandableSearch/ExpandableSearch.tsx
Labels: status: ready to merge 🎉

#16149 fix: showPasswordLabel and hidePasswordLabel not working
  e2e/components/FluidTextInput/FluidTextInput-test.avt.e2e.js
  e2e/components/TextInput/TextInput-test.avt.e2e.js
  packages/react/src/components/TextInput/PasswordInput.tsx
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: visual review 🔍, status: ready to merge 🎉

#16240 fix: slider overlaying in warn and error icon
  packages/react/src/components/Slider/Slider.tsx
Labels: status: ready to merge 🎉

#16232 fix(tabletoolbarsearch): prefix internally placed id
  packages/react/src/components/DataTable/TableToolbarSearch.tsx
Labels: type: bug 🐛, role: dev 🤖, status: ready to merge 🎉

#16237 fix(10343): Adds support for 'required' prop on RadioTile & TileGroup
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/RadioTile/RadioTile-test.js
  packages/react/src/components/RadioTile/RadioTile.tsx
  packages/react/src/components/TileGroup/TileGroup.tsx
  packages/react/src/components/TileGroup/__tests__/TileGroup-test.js
Labels: status: ready to merge 🎉

#16157 fix(slider): set null check for value in slider
  .all-contributorsrc
  README.md
  packages/react/src/components/Slider/Slider.tsx
Labels: status: ready to merge 🎉

#16258 feat: instrument carbon packages with JS scope
  .yarn/cache/@ibm-telemetry-js-npm-1.4.0-b184a1d59f-a6e7f56a90.zip
  .yarn/cache/@ibm-telemetry-js-npm-1.5.0-da3bb2b1b8-063e1e4a49.zip
  packages/carbon-components-react/package.json
  packages/carbon-components-react/telemetry.yml
  packages/carbon-components/package.json
  packages/carbon-components/telemetry.yml
  packages/cli/package.json
  packages/cli/telemetry.yml
  packages/colors/package.json
  packages/colors/telemetry.yml
  packages/elements/package.json
  packages/elements/telemetry.yml
  packages/feature-flags/package.json
  packages/feature-flags/telemetry.yml
  packages/grid/package.json
  packages/grid/telemetry.yml
  packages/icon-helpers/package.json
  packages/icon-helpers/telemetry.yml
  packages/icons-react/package.json
  packages/icons-react/telemetry.yml
  packages/icons-vue/package.json
  packages/icons-vue/telemetry.yml
  packages/icons/package.json
  packages/icons/telemetry.yml
  packages/layout/package.json
  packages/layout/telemetry.yml
  packages/motion/package.json
  packages/motion/telemetry.yml
  packages/pictograms-react/package.json
  packages/pictograms-react/telemetry.yml
  packages/pictograms/package.json
  packages/pictograms/telemetry.yml
  packages/react/package.json
  packages/react/telemetry.yml
  packages/styles/package.json
  packages/styles/telemetry.yml
  packages/themes/package.json
  packages/themes/telemetry.yml
  packages/type/package.json
  packages/type/telemetry.yml
  packages/upgrade/package.json
  packages/upgrade/telemetry.yml
  yarn.lock
Labels: status: ready to merge 🎉

#16267 chore: update browserslist
  .yarn/cache/caniuse-lite-npm-1.0.30001538-68bfe8259b-c37f3cc5f8.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001612-9104acffee-8fb95102aa.zip
  yarn.lock
Labels: status: ready for review 👀, status: ready to merge 🎉

#16245 feat: instrument carbon v10 packages with JS scope
  .yarn/cache/@ibm-telemetry-js-npm-1.4.0-b184a1d59f-d847cd4e73.zip
  .yarn/cache/@ibm-telemetry-js-npm-1.5.0-da3bb2b1b8-7498187a89.zip
  achecker.js
  packages/cli/package.json
  packages/cli/telemetry.yml
  packages/colors/package.json
  packages/colors/telemetry.yml
  packages/elements/package.json
  packages/elements/telemetry.yml
  packages/feature-flags/package.json
  packages/feature-flags/telemetry.yml
  packages/grid/package.json
  packages/grid/telemetry.yml
  packages/icon-helpers/package.json
  packages/icon-helpers/telemetry.yml
  packages/icons-react/package.json
  packages/icons-react/telemetry.yml
  packages/icons-vue/package.json
  packages/icons-vue/telemetry.yml
  packages/icons/package.json
  packages/icons/telemetry.yml
  packages/import-once/package.json
  packages/import-once/telemetry.yml
  packages/layout/package.json
  packages/layout/telemetry.yml
  packages/motion/package.json
  packages/motion/telemetry.yml
  packages/pictograms-react/package.json
  packages/pictograms-react/telemetry.yml
  packages/pictograms/package.json
  packages/pictograms/telemetry.yml
  packages/react/package.json
  packages/styles/package.json
  packages/styles/telemetry.yml
  packages/themes/package.json
  packages/themes/telemetry.yml
  packages/type/package.json
  packages/type/telemetry.yml
  packages/upgrade/package.json
  packages/upgrade/telemetry.yml
  yarn.lock
Labels: status: ready for review 👀, status: ready to merge 🎉

#16223 fix(modal): spacing below scrolling content
  packages/styles/scss/components/modal/_modal.scss
Labels: status: one more review 👀

#16254 test(16207): adds NumberInput test coverage of allowEmpty
  packages/react/src/components/NumberInput/__tests__/NumberInput-test.js
Labels: status: ready to merge 🎉, component: number-input

#16115 refactor(containedlist): added typescript types to containedlist
  packages/react/src/components/ContainedList/ContainedList.stories.js
  packages/react/src/components/ContainedList/ContainedList.tsx
  packages/react/src/components/ContainedList/ContainedListItem/ContainedListItem.tsx
Labels: status: ready to merge 🎉

#16211 Removed test story from `Datatable`
  packages/react/src/components/DataTable/stories/DataTable-batch-actions.stories.js
Labels: status: ready to merge 🎉
