Repository carbon-design-system/carbon, pull requests merged in 2024-08, with the labels that each got.

#17074 Fixed scrollIntoView in `Combobox` and `Dropdown`
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/Dropdown/Dropdown-test.js
  packages/react/src/components/Dropdown/Dropdown.stories.js
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/FluidComboBox/__tests__/FluidComboBox-test.js
  packages/react/src/components/FluidDropdown/__tests__/FluidDropdown-test.js
Labels: status: one more review 👀, component: combobox, component: dropdown

#17053 17028 filterable multi select performance fix
  .all-contributorsrc
  README.md
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Labels: status: one more review 👀, status: merge conflict 🚫, status: ready to merge 🎉

#17014 Move watsonx app icons to AI category
  packages/icons/categories.yml
Labels: status: one more review 👀, status: ready to merge 🎉

#17089 fix(dropdown): spread `dropdownProps` last
  packages/react/src/components/ComboBox/ComboBox.mdx
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/Dropdown/Dropdown.mdx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.mdx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Labels: status: ready to merge 🎉

#17088 fix(useId): make react 18 import impossible to statically analyze
  packages/react/src/internal/useId.js
Labels: status: ready to merge 🎉

#17045 fix: invalid focused state for combo button
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/styles/scss/components/form/_form.scss
Labels: status: ready for review 👀, status: one more review 👀

#16970 fix(overflowmenu): always use button kind=ghost
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
  packages/react/src/components/OverflowMenu/next/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/next/index.tsx
Labels: status: ready to merge 🎉

#17103 fix(PasswordInput): tooltip issue in show password label or hide password label
  packages/react/src/components/TextInput/PasswordInput.tsx
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready for review 👀

#17098 react: fix usage of useId
  packages/react/src/components/DataTable/TableSelectRow.tsx
  packages/react/src/components/DataTable/TableToolbarSearch.tsx
Labels: status: ready to merge 🎉

#16789 Removed highlight from Dropdown components
  e2e/components/ComboBox/ComboBox-test.avt.e2e.js
  e2e/components/FluidComboBox/FluidComboBox-test.avt.e2e.js
  e2e/components/FluidMultiSelect/FluidMultiSelect-test.avt.e2e.js
  e2e/components/MultiSelect/MultiSelect-test.avt.e2e.js
  e2e/components/Toggle/Toggle-test.avt.e2e.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
  packages/styles/scss/components/combo-box/_combo-box.scss
  packages/styles/scss/components/fluid-combo-box/_fluid-combo-box.scss
  packages/styles/scss/components/fluid-list-box/_fluid-list-box.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
Labels: status: one more review 👀, status: visual review 🔍, component: combobox, component: multiselect, component: filterable-multiselect

#17072 fix(16740): DatePicker calendar close issue on clickAway, DatePicker not running onChange events, DatePicker setting and clearing date in range issues
  e2e/components/DatePicker/DatePicker-test.avt.e2e.js
  e2e/components/FluidDatePicker/FluidDatePicker-test.avt.e2e.js
  packages/react/src/components/DatePicker/DatePicker.tsx
  packages/react/src/components/DatePicker/plugins/fixEventsPlugin.js
Labels: status: ready to merge 🎉

#17118 feat(combobox): expose downshift actions through downshiftActions ref prop
  achecker.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox.mdx
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Labels: status: ready to merge 🎉

#17126 docs(v11md): modified type-style mixin usage with fluid tokens
  docs/migration/v11.md
Labels: type: docs 📖, status: ready to merge 🎉

#16990 chore(datatable): remove duplicate `setupGetInstanceId` helper
  packages/react/src/components/DataTable/DataTable.tsx
  packages/react/src/components/DataTable/TableToolbarSearch.tsx
  packages/react/src/components/DataTable/tools/instanceId.js
Labels: status: ready to merge 🎉

#17133 Fixed renovate bot
  .github/renovate.json5
Labels: status: ready to merge 🎉

#17085 16879 detectoverflow configurable collision boundary
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/Modal/Modal.stories.js
Labels: status: ready to merge 🎉

#17059 fix: added rel prop in switcher item
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SwitcherItem.tsx
Labels: status: one more review 👀

#17047 fix: focus issue in menu
  packages/react/src/components/Menu/Menu-test.js
  packages/react/src/components/Menu/MenuItem.tsx
  packages/react/src/components/OverflowMenu/next/OverflowMenu-test.js
Labels: status: ready to merge 🎉

#17110 fix: added role option to selectabletag and changed stories
  e2e/components/ProgressIndicator/ProgressIndicator-test.avt.e2e.js
  packages/react/src/components/Tag/SelectableTag.tsx
Labels: status: ready to merge 🎉

#17099 fix(Tabs): use useIsomorphicEffect instead of useLayoutEffect because of SSR
  packages/react/src/components/Tabs/Tabs.tsx
Labels: status: ready to merge 🎉

#17120 fix(16781): fixes Tab focus issue on accordion
  packages/react/src/components/Accordion/AccordionItem.tsx
  packages/react/src/components/Accordion/__tests__/__snapshots__/Accordion-test.js.snap
  packages/react/src/components/Accordion/__tests__/__snapshots__/AccordionItem-test.js.snap
Labels: status: ready to merge 🎉

#17048 fix(16865): fixes step operations in NumberInput
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/NumberInput/__tests__/NumberInput-test.js
Labels: status: one more review 👀, status: ready to merge 🎉

#17031 fix: added readonly state variant to passwordInput
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/PasswordInput.tsx
  packages/react/src/components/TextInput/__tests__/PasswordInput-test.js
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready for review 👀, status: visual review 🔍

#17170 Fix renovate
  .github/renovate.json5
Labels: status: ready for review 👀

#17160 fix(header-panel): allow vertical overflow when expanded
  packages/styles/scss/components/ui-shell/header-panel/_header-panel.scss
Labels: status: ready to merge 🎉

#17131 Fixed accessibility in Operational Tag
  packages/react/src/components/Tag/InteractiveTag.mdx
  packages/react/src/components/Tag/InteractiveTag.stories.js
  packages/react/src/components/Tag/storyInteractiveTag.scss
Labels: status: ready for review 👀, status: visual review 🔍, status: ready to merge 🎉, component: tags

#17144 fix(calendar): fix calendar icon CSS issue #16446
  .all-contributorsrc
  README.md
  packages/styles/scss/components/date-picker/_flatpickr.scss
Labels: status: ready to merge 🎉

#17195 fix(header-panel): v10 backport - allow vertical overflow when expanded
  packages/components/src/components/ui-shell/_header-panel.scss
  packages/styles/scss/components/ui-shell/header-panel/_header-panel.scss
Labels: status: ready for review 👀

#17157 Fix/menu focus crash
  .all-contributorsrc
  README.md
  packages/react/src/components/Menu/Menu.tsx
Labels: status: ready to merge 🎉

#17191 fix(data-table): add single selection row for multiple tables support
  packages/react/src/components/DataTable/DataTable.tsx
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
Labels: status: ready to merge 🎉

#17104 fix(fileuploaderitem): use refs for ellipsis, add fowardRef to `Text`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FileUploader/FileUploaderItem.tsx
  packages/react/src/components/Text/Text.tsx
Labels: status: ready for review 👀, status: one more review 👀

#17241 fix(tag): add type="button" to interactive tag
  packages/react/src/components/Tag/Tag.tsx
Labels: status: ready to merge 🎉

#17215 fix(tabs): contained layer tokens
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: one more review 👀

#17169 feat(icons): updated and new model icons
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/deprecated.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/machine-learning-model.svg
  packages/icons/src/svg/32/ml-model--reference.svg
  packages/icons/src/svg/32/model--foundation.svg
  packages/icons/src/svg/32/model--reference.svg
  packages/icons/src/svg/32/model--tuned.svg
  packages/icons/src/svg/32/model.svg
Labels: status: ready for review 👀, status: one more review 👀

#17258 fix(tilegroup): guard usage of potentially null children properties
  packages/react/src/components/TileGroup/TileGroup.tsx
  packages/react/src/components/TileGroup/__tests__/TileGroup-test.js
Labels: type: bug 🐛, severity: 2, status: ready to merge 🎉, component: tile

#17248 fix(overflowmenu): improve `autoAlign` fallback placements
  packages/react/src/components/OverflowMenu/next/index.tsx
Labels: severity: 3, type: bug 🐛, status: ready to merge 🎉, component: overflow-menu

#17252 14299-docs/treeview-storybook-mdx
  packages/react/src/components/TreeView/TreeView.mdx
  packages/react/src/components/TreeView/Treeview.stories.js
Labels: status: ready to merge 🎉

#17175 feat(PaginationNav): add `size` prop with `sm` and `md` variants
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/PaginationNav/PaginationNav.stories.js
  packages/react/src/components/PaginationNav/PaginationNav.tsx
  packages/styles/scss/components/pagination-nav/_pagination-nav.scss
Labels: status: ready for review 👀, status: one more review 👀, status: visual review 🔍, status: ready to merge 🎉

#17122 chore(babel): update graduated proposal plugins
  .yarn/cache/@babel-plugin-proposal-export-namespace-from-npm-7.18.9-6093116864-84ff22bacc.zip
  config/babel-preset-carbon/index.js
  config/babel-preset-carbon/package.json
  config/jest-config-carbon/package.json
  config/jest-config-carbon/transform/jsTransform.js
  package.json
  packages/carbon-components-react/package.json
  packages/carbon-components-react/tasks/build.js
  packages/react/.babelrc.json
  packages/react/package.json
  packages/react/tasks/build.js
  yarn.lock
Labels: status: ready to merge 🎉

#17171 fix(aspect-ratio): correct example preview
  packages/grid/examples/preview/src/pages/index.js
  packages/grid/examples/preview/styles.scss
  packages/grid/examples/preview/yarn.lock
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#16918 style(datatable): isolate row hover styles from Toggletip links
  packages/styles/scss/components/data-table/_data-table.scss
Labels: status: ready to merge 🎉

#17141 refactor: added &{} rules for styles below nested rules to follow `sass@1.77.7` ruleset.
  .yarn/cache/sass-npm-1.62.1-c16d65fd28-4e9f3db604.zip
  .yarn/cache/sass-npm-1.77.8-d0ad322666-4bf6e3007f.zip
  config/jest-config-carbon/package.json
  examples/class-prefix/package.json
  examples/codesandbox-styles/package.json
  examples/custom-theme/package.json
  examples/id-prefix/package.json
  examples/light-dark-mode/package.json
  examples/nextjs/package.json
  examples/v10-token-compat-in-v11/package.json
  examples/vite/package.json
  packages/carbon-components/package.json
  packages/cli/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/styles/scss/__tests__/__snapshots__/type-test.js.snap
  packages/styles/scss/components/accordion/_accordion.scss
  packages/test-utils/package.json
  www/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#17139 16879 collision boundary in auto align components
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboButton/ComboButton-test.js
  packages/react/src/components/ComboButton/index.tsx
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/Popover/index.tsx
Labels: status: ready to merge 🎉

#17301 fix(codesnippet): inline button should be width of content
  config/stylelint-config-carbon/rules/limit-language-features.js
  packages/styles/scss/components/code-snippet/_code-snippet.scss
  packages/styles/scss/components/slider/_slider.scss
Labels: status: ready to merge 🎉

#16236 feat(multiselect): new All option for multiselect
  packages/react/src/components/ListBox/ListBoxMenuItem.tsx
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
  packages/react/src/components/MultiSelect/tools/sorting.js
  packages/react/src/internal/Selection.js
  packages/styles/scss/components/checkbox/_checkbox.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
Labels: status: ready to merge 🎉

#17251 Update Icons library URL
  README.md
  packages/icons-react/README.md
Labels: status: ready to merge 🎉

#17244 docs: change Tabs stories for activation prop
  .all-contributorsrc
  README.md
  packages/react/src/components/Tabs/Tabs.mdx
  packages/react/src/components/Tabs/Tabs.stories.js
Labels: status: ready to merge 🎉

#17259 fix(inline-loading): update text size
  packages/styles/scss/components/inline-loading/_inline-loading.scss
Labels: status: ready to merge 🎉
