Repository carbon-design-system/carbon, pull requests merged in 2024-11, with the labels that each got.

#17763 test: increase coverage on `FilterableMultiSelect`
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#17912 fix(date-picker): opening calendar on AILabel click
  packages/web-components/src/components/date-picker/date-picker.ts
Labels: package: @carbon/web-components

#17919 fix(toggle): focus state in high contrast mode
  packages/styles/scss/components/toggle/_toggle.scss
Labels: status: ready to merge 🎉

#17907 feat: exposed tabIndex to Table component
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/Table.tsx
Labels: status: ready to merge 🎉

#17842 17492: Increase SideNavMenu unit test coverage
  .all-contributorsrc
  README.md
  packages/react/src/components/UIShell/__tests__/SideNavMenu-test.js
Labels: status: ready to merge 🎉

#17906 fix(modal): update styles for button skeleton in modal footer
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#17969 fix(datepicker): focus trap in FireFox
  packages/react/src/components/DatePicker/DatePicker.tsx
Labels: status: ready for review 👀, status: one more review 👀

#17973 Deleted the `Test` stories
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/DataTable/stories/DataTable-filtering.stories.js
Labels: status: one more review 👀

#17853 refactor: Layout direction js to tsx
  packages/react/src/components/LayoutDirection/LayoutDirection.tsx
  packages/react/src/components/LayoutDirection/LayoutDirectionContext.ts
  packages/react/src/components/LayoutDirection/useLayoutDirection.ts
Labels: status: ready to merge 🎉

#17972 fix(ai-label): update classes from slug to ai-label
  packages/react/src/components/AILabel/AILabel.mdx
  packages/react/src/components/AILabel/AILabel.stories.js
  packages/react/src/components/AILabel/AILabelDatatable.mdx
  packages/react/src/components/AILabel/__tests__/AILabel-test.js
  packages/react/src/components/AILabel/ailabel-story.scss
  packages/react/src/components/AILabel/index.tsx
  packages/react/src/components/Checkbox/Checkbox.stories.js
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/DataTable/stories/DataTable-ai-label.stories.js
  packages/react/src/components/DataTable/stories/datatable-story.scss
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/Dropdown/Dropdown.stories.js
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/Modal/Modal.stories.js
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/NumberInput/NumberInput.stories.js
  packages/react/src/components/RadioButton/RadioButton.stories.js
  packages/react/src/components/RadioTile/RadioTile-test.js
  packages/react/src/components/Select/Select.stories.js
  packages/react/src/components/Tag/Tag.stories.js
  packages/react/src/components/TextArea/TextArea.stories.js
  packages/react/src/components/TextInput/TextInput.stories.js
  packages/react/src/components/Tile/Tile.featureflag.stories.js
  packages/react/src/components/Tile/Tile.stories.js
  packages/styles/scss/components/checkbox/_checkbox.scss
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/data-table/sort/_data-table-sort.scss
  packages/styles/scss/components/date-picker/_date-picker.scss
  packages/styles/scss/components/fluid-date-picker/_fluid-date-picker.scss
  packages/styles/scss/components/fluid-list-box/_fluid-list-box.scss
  packages/styles/scss/components/fluid-number-input/_fluid-number-input.scss
  packages/styles/scss/components/fluid-select/_fluid-select.scss
  packages/styles/scss/components/fluid-text-area/_fluid-text-area.scss
  packages/styles/scss/components/fluid-text-input/_fluid-text-input.scss
  packages/styles/scss/components/list-box/_list-box.scss
  packages/styles/scss/components/modal/_modal.scss
  packages/styles/scss/components/number-input/_number-input.scss
  packages/styles/scss/components/radio-button/_radio-button.scss
  packages/styles/scss/components/select/_select.scss
  packages/styles/scss/components/slug/_slug.scss
  packages/styles/scss/components/tag/_tag.scss
  packages/styles/scss/components/text-area/_text-area.scss
  packages/styles/scss/components/text-input/_text-input.scss
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#17834 fix: update align prop value across various components
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet.tsx
  packages/react/src/components/ComboButton/index.tsx
  packages/react/src/components/Copy/Copy.tsx
  packages/react/src/components/CopyButton/CopyButton.tsx
  packages/react/src/components/IconButton/index.tsx
  packages/react/src/components/OverflowMenu/next/index.tsx
  packages/react/src/components/Pagination/Pagination.tsx
Labels: status: ready to merge 🎉

#17815 feat: callout implementation
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Notification/Notification.tsx
  packages/react/src/components/Notification/stories/Callout.stories.js
Labels: status: ready to merge 🎉

#17959 refactor: reverts useFeatureFlag's return statement
  packages/react/src/components/FeatureFlags/index.tsx
Labels: status: ready to merge 🎉

#18015 fix(pagination-nav): enforce a minimum of 4 items shown
  packages/react/src/components/PaginationNav/PaginationNav.tsx
Labels: status: ready to merge 🎉

#18012 fix: fixed value to be return and removed unnecessary value
  packages/react/src/components/DataTable/TableToolbarSearch.tsx
  packages/react/src/components/DataTable/stories/DataTable-filtering.stories.js
  packages/react/src/components/DataTable/stories/examples/TableToolbarFilter.tsx
Labels: status: one more review 👀

#18028 fix: fixed sm view port
  packages/react/src/components/PaginationNav/PaginationNav-test.js
  packages/react/src/components/PaginationNav/PaginationNav.tsx
Labels: status: one more review 👀

#18020 feat(number-input): new decorator prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/NumberInput/NumberInput.stories.js
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/NumberInput/__tests__/NumberInput-test.js
  packages/styles/scss/components/fluid-number-input/_fluid-number-input.scss
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#17954 fix(styles): add display property to listbox wrapper
  packages/styles/scss/components/list-box/_list-box.scss
Labels: status: ready to merge 🎉

#17729 refactor: Add TypeScript types to inlinecheckbox
  packages/react/src/components/DataTable/TableSelectRow.tsx
  packages/react/src/components/InlineCheckbox/InlineCheckbox.tsx
  packages/react/src/components/InlineCheckbox/index.tsx
Labels: status: ready to merge 🎉

#18050 feat(text-area/input): add new decorator prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/TextArea/TextArea.stories.js
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextArea/__tests__/TextArea-test.js
  packages/react/src/components/TextInput/TextInput.stories.js
  packages/react/src/components/TextInput/TextInput.tsx
  packages/react/src/components/TextInput/__tests__/TextInput-test.js
  packages/styles/scss/components/fluid-text-area/_fluid-text-area.scss
  packages/styles/scss/components/fluid-text-input/_fluid-text-input.scss
  packages/styles/scss/components/text-area/_text-area.scss
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: one more review 👀

#18064 Added `decorator` to `DatepickerInput` component
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
  packages/react/src/components/Form/Form.stories.js
  packages/styles/scss/components/date-picker/_date-picker.scss
  packages/styles/scss/components/number-input/_number-input.scss
Labels: status: ready to merge 🎉

#18014 fix(inline-dropdown): remove unnecessary column with props.hideLabel
  packages/styles/scss/components/dropdown/_dropdown.scss
Labels: status: ready to merge 🎉

#17276 feat: rename selectionMode to shouldSwitchOnKeyboardFocus
  packages/react/src/components/ContentSwitcher/ContentSwitcher.tsx
Labels: status: ready to merge 🎉

#18082 chore: added vrt cases for popover with autoalign scroll
  e2e/components/Popover/Popover-test.e2e.js
Labels: status: ready for review 👀

#18056 fix: added as prop in sidenavmenuitem
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/SideNavMenuItem.tsx
Labels: status: ready to merge 🎉

#18029 feat(radio-button): add new decorator prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/RadioButton/RadioButton.stories.js
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/RadioButton/__tests__/RadioButton-test.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-test.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/styles/scss/components/radio-button/_radio-button.scss
Labels: status: ready to merge 🎉

#18075 feat: new decorator prop for `ComposedModal`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#18070 fix: codemode to refactor light prop
  packages/upgrade/src/upgrades.js
  packages/upgrade/transforms/__testfixtures__/refactor-light-to-layer.input.js
  packages/upgrade/transforms/__testfixtures__/refactor-light-to-layer.output.js
  packages/upgrade/transforms/__tests__/refactor-light-to-layer-test.js
  packages/upgrade/transforms/refactor-light-to-layer.js
Labels: status: ready to merge 🎉

#17006 docs(tooltip): use Button instead of Information icons in stories
  e2e/components/FormLabel/FormLabel-test.avt.e2e.js
  e2e/components/FormLabel/FormLabel-test.e2e.js
  packages/react/src/components/FormLabel/FormLabel.stories.js
  packages/react/src/components/Tooltip/Tooltip.stories.js
Labels: status: ready to merge 🎉

#17944 fix: fixed hover on multiselect
  packages/styles/scss/components/list-box/_list-box.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
  packages/styles/scss/components/tag/_tag.scss
Labels: status: ready to merge 🎉

#18096 fix(selectable-tile): don't require deprecated property "value"
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.tsx
Labels: status: one more review 👀

#18057 fix: checkbox invalid message to match figma kit
  packages/styles/scss/components/checkbox/_checkbox.scss
Labels: status: ready to merge 🎉

#17746 fix: added readonly states for fluid components
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/FluidDatePicker/FluidDatePicker.stories.js
  packages/react/src/components/FluidNumberInput/FluidNumberInput.tsx
  packages/react/src/components/FluidSelect/FluidSelect.tsx
  packages/react/src/components/FluidTextArea/FluidTextArea.tsx
  packages/react/src/components/FluidTextInput/FluidPasswordInput.tsx
  packages/react/src/components/FluidTextInput/FluidTextInput.tsx
  packages/react/src/components/FluidTimePicker/FluidTimePicker.tsx
  packages/styles/scss/components/fluid-time-picker/_fluid-time-picker.scss
Labels: status: ready to merge 🎉

#18040 feat(checkbox): replace slug prop with decorator
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Checkbox/Checkbox.stories.js
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/Checkbox/__tests__/Checkbox-test.js
  packages/react/src/components/CheckboxGroup/CheckboxGroup-test.js
  packages/react/src/components/CheckboxGroup/CheckboxGroup.tsx
  packages/styles/scss/components/checkbox/_checkbox.scss
Labels: status: ready to merge 🎉

#18101 Decorator `Modal`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.stories.js
  packages/react/src/components/Modal/Modal.tsx
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#18109 feat(tile): add new decorator prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/RadioTile/RadioTile-test.js
  packages/react/src/components/RadioTile/RadioTile.tsx
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.featureflag.stories.js
  packages/react/src/components/Tile/Tile.stories.js
  packages/react/src/components/Tile/Tile.tsx
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#18077 feat(tag): new decorator prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tag/DismissibleTag.tsx
  packages/react/src/components/Tag/Tag-test.js
  packages/react/src/components/Tag/Tag.stories.js
  packages/react/src/components/Tag/Tag.tsx
  packages/styles/scss/components/tag/_tag.scss
Labels: status: ready to merge 🎉

#18128 feat(Pictograms): new pictograms v24
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/deprecated.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/japan--mt-fuji.svg
  packages/pictograms/src/svg/magic-wand.svg
  packages/pictograms/src/svg/reference-architecture.svg
  packages/pictograms/src/svg/white-paper.svg
Labels: status: ready to merge 🎉

#18058 feat: implement codemod ibm-products-update-userprofileimage
  packages/upgrade/src/upgrades.js
  packages/upgrade/transforms/__testfixtures__/ibm-products-update-userprofileimage.input.js
  packages/upgrade/transforms/__testfixtures__/ibm-products-update-userprofileimage.output.js
  packages/upgrade/transforms/__tests__/ibm-products-update-userprofileimage-test.js
  packages/upgrade/transforms/ibm-products-update-userprofileimage.js
Labels: status: ready to merge 🎉

#17875 [unit-test]: overflow menu
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#18106 fix: added export to selectprops interface
  packages/react/src/components/Select/Select.tsx
Labels: status: ready for review 👀

#18119 docs: update `usePrefix.ts` reference
  packages/react/src/internal/usePrefix.mdx
Labels: status: ready to merge 🎉

#18076 fix(button): center align ghost button icons
  packages/styles/scss/components/button/_button.scss
Labels: status: ready to merge 🎉

#18107 feat(select): add new decorator prop
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FluidSelect/FluidSelect.stories.js
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/Select/Select.stories.js
  packages/react/src/components/Select/Select.tsx
  packages/react/src/components/Select/__tests__/Select-test.js
  packages/styles/scss/components/fluid-select/_fluid-select.scss
  packages/styles/scss/components/select/_select.scss
Labels: status: ready to merge 🎉

#18069 feat: replace slug with decorator ComboBox, MultiSelect, FilterableMultiSelect
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/FluidComboBox/FluidComboBox.stories.js
  packages/react/src/components/FluidDropdown/FluidDropdown.stories.js
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.stories.js
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
Labels: status: ready to merge 🎉

#18090 test: added testcases for TreeNode
  packages/react/src/components/TreeView/__tests__/TreeNode-test.js
Labels: status: ready to merge 🎉

#18072 Test coverage for TreeView component
  packages/react/src/components/TreeView/TreeView-test.js
Labels: status: ready to merge 🎉

#18115 fix: adds arrow keys navigation functionality in the Switcher, and increases test coverage
  packages/react/src/components/UIShell/Switcher.tsx
  packages/react/src/components/UIShell/__tests__/Switcher-test.js
Labels: status: ready to merge 🎉
