Repository carbon-design-system/carbon, pull requests merged in 2024-07, with the labels that each got.

#16876 fix: handled 0 total items in pagination
  packages/react/src/components/Pagination/Pagination-test.js
  packages/react/src/components/Pagination/Pagination.tsx
Labels: status: one more review 👀

#16873 fix(search): a11y warning on search not expanded
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  packages/react/src/components/Search/Search-test.js
  packages/react/src/components/Search/Search.tsx
Labels: status: ready to merge 🎉

#16893 Fix : Prevents exceeding maxCount word limit in TextAera
  packages/react/src/components/TextArea/TextArea.tsx
Labels: status: ready to merge 🎉

#16738 feat(tabs): vertical variation with inner grid
  e2e/components/Tabs/Tabs-test.avt.e2e.js
  e2e/components/Tabs/Tabs-test.e2e.js
  packages/react/src/components/Tabs/Tabs-test.js
  packages/react/src/components/Tabs/Tabs.mdx
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/react/src/components/Tabs/Tabs.tsx
  packages/styles/scss/components/modal/_modal.scss
  packages/styles/scss/components/tabs/_tabs.scss
  packages/styles/scss/utilities/_update_fields_on_layer.scss
Labels: status: ready to merge 🎉

#16907 chore(dialog): remove unneeded wicg-inert polyfill
  .yarn/cache/wicg-inert-npm-3.1.1-27dfbc6ece-7871096513.zip
  packages/react/package.json
  packages/react/src/components/Dialog/Dialog-story.js
  packages/react/src/components/Dialog/index.tsx
  yarn.lock
Labels: status: ready to merge 🎉

#16644 fix: interactive tile expand button
  e2e/components/Tile/Tile-test.avt.e2e.js
  packages/react/src/components/Tile/Tile.tsx
Labels: status: ready to merge 🎉

#16616 feat(slider): expose formatLabel to value tooltip
  e2e/components/Slider/Slider-test.avt.e2e.js
  e2e/components/Slider/Slider-test.e2e.js
  packages/react/src/components/Slider/Slider-test.js
  packages/react/src/components/Slider/Slider.stories.js
  packages/react/src/components/Slider/Slider.tsx
Labels: status: ready to merge 🎉

#16915 v10: Remove unneeded wicg-inert polyfill
  .yarn/cache/caniuse-lite-npm-1.0.30001570-e692fd4e76-460be2c7a9.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001640-a1af8cecc3-ec492d8d1e.zip
  .yarn/cache/wicg-inert-npm-3.1.1-27dfbc6ece-d4553ea762.zip
  packages/react/package.json
  packages/react/src/components/Dialog/index.js
  yarn.lock
Labels: version: 10, status: ready for review 👀, status: one more review 👀

#16743 16624 allowcustomvalue not fire onchange event
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉

#16936 Fixed the startDate to endDate on start input
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/DatePicker/plugins/rangePlugin.js
Labels: status: ready for review 👀, component: date-picker

#16941 feat(code-connect): connect textarea, textinput, dropdown, slider, progress indicator
  .yarn/cache/@figma-code-connect-npm-1.0.1-64a8b81268-1fceaee828.zip
  .yarn/cache/@figma-code-connect-npm-1.0.2-c160202f86-28de9e3070.zip
  packages/react/code-connect/Dropdown/FluidDropdown.figma.tsx
  packages/react/code-connect/ProgressIndicator/ProgressIndicator.figma.tsx
  packages/react/code-connect/ProgressIndicator/ProgressStep.figma.tsx
  packages/react/code-connect/Slider/Slider.figma.tsx
  packages/react/code-connect/Slider/SliderRange.figma.tsx
  packages/react/code-connect/TextArea/FluidTextArea.figma.tsx
  packages/react/code-connect/TextArea/TextArea.figma.tsx
  packages/react/code-connect/TextInput/FluidTextInput.figma.tsx
  packages/react/code-connect/TextInput/TextInput.figma.tsx
  packages/react/package.json
  yarn.lock
Labels: status: one more review 👀

#16950 fix(tabs-vertical): missing exports
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Tabs/index.tsx
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#16949 fix: tab component error
  packages/react/src/components/Tabs/Tabs.tsx
Labels: status: ready to merge 🎉, component: tabs

#16847 fix: switch to onClick from onMouseDown in modal components
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.tsx
Labels: status: ready to merge 🎉

#16998 fix(16992): Prevent Page Scroll During Keyboard Navigation in MenuButton and ComboButton options
  packages/react/src/components/Menu/Menu.tsx
Labels: status: ready to merge 🎉

#17004 fix(tabs): ellipsis should only be applied with vertical variant
  packages/react/src/components/Tabs/Tabs.tsx
Labels: status: ready to merge 🎉

#17002 fix(dropdown): memoize floating ui ref to prevent max call depth
  packages/react/src/components/Dropdown/Dropdown.tsx
Labels: status: ready to merge 🎉

#16988 fix(react): use `useId` instead of `getInstanceId`
  packages/react/src/components/Checkbox/Checkbox.tsx
  packages/react/src/components/CheckboxGroup/CheckboxGroup.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/DataTable/TableToolbarSearch.tsx
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/Pagination/experimental/PageSelector.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/react/src/components/Select/Select.tsx
  packages/react/src/components/Tag/DismissibleTag.tsx
  packages/react/src/components/Tag/OperationalTag.tsx
  packages/react/src/components/Tag/SelectableTag.tsx
  packages/react/src/components/Tag/Tag.tsx
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextInput/ControlledPasswordInput.tsx
Labels: status: ready to merge 🎉

#17022 fix: memoize getMenuProps for Multiselect and Filterable Multiselect
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Labels: status: ready to merge 🎉

#16971 feat(code-connect): connect additional components
  packages/react/code-connect/ComposedModal/ComposedModal.figma.tsx
  packages/react/code-connect/ComposedModal/ModalFooter.figma.tsx
  packages/react/code-connect/DatePicker/DatePicker.figma.tsx
  packages/react/code-connect/DatePicker/FluidDatePicker.figma.tsx
  packages/react/code-connect/FileUploader/FileUploader.figma.tsx
  packages/react/code-connect/Form/FormOnPage.figma.tsx
  packages/react/code-connect/Menu/Menu.figma.tsx
  packages/react/code-connect/Menu/MenuItem.figma.tsx
  packages/react/code-connect/Notification/Notification.figma.tsx
  packages/react/code-connect/Popover/Popover.figma.tsx
  packages/react/code-connect/Toggletip/Toggletip.figma.tsx
  packages/react/code-connect/Tooltip/Tooltip.figma.tsx
Labels: status: ready for review 👀, status: ready to merge 🎉

#16898 Fix (16747)(A11y) : Proper Conveyance of Word/Character Count by screen readers
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextInput/TextInput.tsx
  packages/react/src/internal/__tests__/useAnnouncer-test.js
  packages/react/src/internal/useAnnouncer.js
Labels: status: ready to merge 🎉

#17015 Added unique id to `name` in `TableSelectRow`
  packages/react/src/components/DataTable/TableSelectRow.tsx
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
Labels: status: ready to merge 🎉

#17023 fix: export fluid search and fluid skeleton
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/index.ts
Labels: status: one more review 👀, status: ready to merge 🎉

#17039 Removed "Test" stories from components.
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/Grid/Grid.stories.js
  packages/react/src/components/Popover/Popover.stories.js
  packages/react/src/components/Search/Search.stories.js
Labels: status: one more review 👀

#16943 fix(tag): fixes disabled label styles
  packages/react/src/components/Tag/Tag.tsx
  packages/styles/scss/components/tag/_tag.scss
Labels: status: ready to merge 🎉

#16917 feat(FilterableMultiSelect): assign given `id` to the listbox
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
Labels: status: ready to merge 🎉

#17056 fix(17041): use react-fast-compare to compare props update in DataTable
  .yarn/cache/react-fast-compare-npm-3.2.2-45b585a872-a6826180ba.zip
  packages/react/package.json
  packages/react/src/components/DataTable/DataTable.tsx
  yarn.lock
Labels: status: ready to merge 🎉

#17046 docs(structuredlist): hide isFlush on background stories
  packages/react/src/components/StructuredList/StructuredList.stories.js
Labels: status: one more review 👀

#17062 fix: performance by removing lodash by react-fast-compare
  packages/react/package.json
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/internal/Selection.js
  packages/styles/package.json
  packages/styles/scss/__tests__/zone-test.js
  yarn.lock
Labels: status: ready to merge 🎉

#17058 fix: add disabled attribute back to FormGroup
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FormGroup/FormGroup.tsx
Labels: status: ready to merge 🎉

#17055 Fix types for translateWithId() methods.
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboButton/index.tsx
  packages/react/src/components/DataTable/DataTable.tsx
  packages/react/src/components/DataTable/TableBatchActions.tsx
  packages/react/src/components/DataTable/TableHeader.tsx
  packages/react/src/components/DataTable/TableToolbarSearch.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/ListBox/ListBoxMenuIcon.tsx
  packages/react/src/components/ListBox/ListBoxSelection.tsx
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/PaginationNav/PaginationNav.tsx
  packages/react/src/components/ProgressIndicator/ProgressIndicator.tsx
  packages/react/src/components/Slider/Slider.tsx
  packages/react/src/types/common.ts
Labels: status: ready to merge 🎉
