Repository carbon-design-system/carbon, pull requests merged in 2024-09, with the labels that each got.

#17306 chore(actions): update image path in dev office hours slack block
  .github/workflows/slack-office-hours-dev.yml
Labels: status: one more review 👀, status: ready to merge 🎉, github_actions

#16479 feat: allow grid offset and start reset
  packages/react/src/components/Grid/Column.tsx
Labels: status: ready to merge 🎉

#17317 fix: fixed focus flow issue on right arrow press
  packages/react/src/components/TreeView/TreeNode.tsx
  packages/react/src/components/TreeView/TreeView-test.js
Labels: status: ready to merge 🎉

#17315 Fixed Toggle labels
  packages/react/src/components/Toggle/Toggle.stories.js
Labels: status: one more review 👀, status: visual review 🔍, status: ready to merge 🎉

#17308 fix(storybook): use plex in manager ui even when not installed
  packages/react/.storybook/manager-head.html
Labels: role: dev 🤖, status: ready to merge 🎉, type: infrastructure :robot:

#17153 fix: type definition for onSelect prop in TreeView component
  packages/react/src/components/TreeView/TreeView.tsx
Labels: status: ready to merge 🎉

#17225 fix(popover): prevent toggletip ref error
  packages/react/src/components/Popover/index.tsx
  packages/react/src/components/Toggletip/__tests__/Toggletip-test.js
Labels: status: ready to merge 🎉

#17138 fix: added autoAlign in copyButton, codeSnippet and iconButton
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/CodeSnippet/CodeSnippet.tsx
  packages/react/src/components/Copy/Copy.tsx
  packages/react/src/components/CopyButton/CopyButton.tsx
  packages/react/src/components/IconButton/index.tsx
Labels: status: ready to merge 🎉

#17311 fix: Fixed aria-current in `BreadcrumbItem`
  packages/react/src/components/Breadcrumb/BreadcrumbItem.tsx
Labels: status: ready to merge 🎉

#17355 fix: added typescript types to fluidTextArea and FluidTextAreaSkeleton
  packages/react/src/components/FluidTextArea/FluidTextArea.Skeleton.js
  packages/react/src/components/FluidTextArea/FluidTextArea.Skeleton.tsx
  packages/react/src/components/FluidTextArea/FluidTextArea.tsx
  packages/react/src/components/FluidTextArea/index.tsx
Labels: status: ready to merge 🎉

#17304 Adding Codecov
  .github/codecov.yml
  .github/workflows/ci.yml
  .yarn/cache/@types-eslint-npm-8.2.1-221dc5a4f9-18a37197f2.zip
  .yarn/cache/@types-eslint-scope-npm-3.7.3-e9b64dad2c-6772b05e1b.zip
  .yarn/cache/@webassemblyjs-ast-npm-1.11.6-d3fd2bb49a-4c1303971c.zip
  .yarn/cache/@webassemblyjs-ast-npm-1.12.1-3ff9ea1c0e-a775b05594.zip
  .yarn/cache/@webassemblyjs-helper-buffer-npm-1.11.6-69996544b0-b14d0573bf.zip
  .yarn/cache/@webassemblyjs-helper-buffer-npm-1.12.1-d025434a45-1d8705daa4.zip
  .yarn/cache/@webassemblyjs-helper-wasm-section-npm-1.11.6-344f8ff2af-38a615ab3d.zip
  .yarn/cache/@webassemblyjs-helper-wasm-section-npm-1.12.1-cd0e2f1eab-e91e6b2811.zip
  .yarn/cache/@webassemblyjs-wasm-edit-npm-1.11.6-8d2703f828-c168bfc6d0.zip
  .yarn/cache/@webassemblyjs-wasm-edit-npm-1.12.1-727bec592a-5678ae02db.zip
  .yarn/cache/@webassemblyjs-wasm-gen-npm-1.11.6-0ca036cab0-f91903506c.zip
  .yarn/cache/@webassemblyjs-wasm-gen-npm-1.12.1-bbe22ad265-ec45bd50e8.zip
  .yarn/cache/@webassemblyjs-wasm-opt-npm-1.11.6-8be3443975-e0cfeea381.zip
  .yarn/cache/@webassemblyjs-wasm-opt-npm-1.12.1-450c932de6-21f25ae109.zip
  .yarn/cache/@webassemblyjs-wasm-parser-npm-1.11.6-88e2433c21-6995e0b7b8.zip
  .yarn/cache/@webassemblyjs-wasm-parser-npm-1.12.1-54a7a19806-f7311685b7.zip
  .yarn/cache/@webassemblyjs-wast-printer-npm-1.11.6-3191861e3f-fd45fd0d69.zip
  .yarn/cache/@webassemblyjs-wast-printer-npm-1.12.1-e75655c7ff-1a6a4b6bc4.zip
  .yarn/cache/acorn-import-assertions-npm-1.9.0-22f56507c7-af8dd58f6b.zip
  .yarn/cache/acorn-import-attributes-npm-1.9.5-d1e666eb35-8bfbfbb6e2.zip
  .yarn/cache/terser-webpack-plugin-npm-5.3.10-3bde1920fb-fb1c2436ae.zip
  .yarn/cache/terser-webpack-plugin-npm-5.3.9-7ba1eb45f4-339737a407.zip
  .yarn/cache/watchpack-npm-2.4.0-7ec4b9cc65-4280b45bc4.zip
  .yarn/cache/watchpack-npm-2.4.2-3e587d5d5b-6bd4c051d9.zip
  .yarn/cache/webpack-npm-5.84.1-067c8dfc81-d72bf7a8ce.zip
  .yarn/cache/webpack-npm-5.94.0-d1e43de389-648449c5fb.zip
  yarn.lock
Labels: status: ready to merge 🎉, type: infrastructure :robot:

#17282 fix(interactivetag): added aria label for screen reader users
  packages/react/src/components/Tag/InteractiveTag.stories.js
Labels: type: a11y ♿, status: ready to merge 🎉

#16947 fix: autoalign inside modal
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/Menu/Menu.tsx
  packages/react/src/components/Modal/Modal.stories.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/OverflowMenu/next/index.tsx
  packages/react/src/components/Popover/index.tsx
  packages/react/src/components/Toggletip/index.tsx
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#17345 Dismissible Tag
  e2e/components/InteractiveTag/InteractiveTag-test.avt.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tag/DismissibleTag.tsx
  packages/react/src/components/Tag/InteractiveTag.stories.js
  packages/react/src/components/Tag/Tag.tsx
Labels: status: ready to merge 🎉

#17400 Added new YL link for design and added #ibmprodcuts-pal-dev
  .github/workflows/slack-office-hours-design.yml
  .github/workflows/slack-office-hours-dev.yml
Labels: status: ready to merge 🎉

#17272 fix(button): update types hasIconOnly & kind !== danger
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Button/Button.tsx
Labels: status: ready to merge 🎉

#17373 Add typescript types to fluid number input
  packages/react/src/components/FluidNumberInput/FluidNumberInput.Skeleton.tsx
  packages/react/src/components/FluidNumberInput/FluidNumberInput.tsx
  packages/react/src/components/FluidNumberInput/index.tsx
Labels: status: ready to merge 🎉

#17389 fix: playGround story issue in NumberInput
  packages/react/src/components/NumberInput/NumberInput.stories.js
Labels: status: one more review 👀

#17136 fix(FilterableMultiSelect): call onMenuChange when mouse click outside
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
Labels: status: ready to merge 🎉

#17435 fix(17398): fix Datepicker issue with Keyboard Navigation in Firefox
  packages/react/src/components/DatePicker/DatePicker.tsx
Labels: status: ready for review 👀

#17433 Fixed `ActionableNotification` with `closeOnEscape` prop
  packages/react/src/components/Notification/Notification.tsx
Labels: status: ready to merge 🎉

#17324 fix: cannot clear initial combobox value in fully controlled component
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: one more review 👀

#17531 Added test for `FluidTimePicker.Skeleton`
  packages/react/src/components/FluidTimePicker/__tests__/FluidTimePickerSkeleton-test.js
Labels: status: ready to merge 🎉, dependencies

#17528 fix(Notification): add NPE check in escape close handler
  packages/react/src/components/Notification/Notification.tsx
Labels: status: ready to merge 🎉

#17266 feat(upgrade): adds featureflag-deprecate-flags-prop codemod and deprecates flags prop
  packages/feature-flags/feature-flags.yml
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FeatureFlags/__tests__/FeatureFlags-test.js
  packages/react/src/components/FeatureFlags/index.js
  packages/react/src/components/FeatureFlags/overview.mdx
  packages/react/src/components/OverflowMenuV2/index.js
  packages/react/src/components/TileGroup/__tests__/TileGroup-test.js
  packages/styles/scss/_feature-flags.scss
  packages/upgrade/src/upgrades.js
  packages/upgrade/transforms/__testfixtures__/featureflag-deprecate-flags-prop.input.js
  packages/upgrade/transforms/__testfixtures__/featureflag-deprecate-flags-prop.output.js
  packages/upgrade/transforms/__tests__/featureflag-deprecate-flags-prop-test.js
  packages/upgrade/transforms/featureflag-deprecate-flags-prop.js
Labels: status: ready to merge 🎉

#16923 fix(button): center icon inside danger ghost icon only buttons
  .all-contributorsrc
  README.md
  packages/styles/scss/components/button/_button.scss
Labels: status: ready to merge 🎉

#17445 Add typescript types FluidTimePicker and FluidTimePickerSelect
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/FluidTextInput/FluidTextInput.tsx
  packages/react/src/components/FluidTimePicker/FluidTimePicker.Skeleton.tsx
  packages/react/src/components/FluidTimePicker/FluidTimePicker.tsx
  packages/react/src/components/FluidTimePicker/index.tsx
  packages/react/src/components/FluidTimePickerSelect/FluidTimePickerSelect.tsx
  packages/react/src/components/FluidTimePickerSelect/index.tsx
Labels: status: ready to merge 🎉

#17550 fix: focus-trapped-within-menuitem
  packages/react/src/components/Menu/Menu.tsx
Labels: status: ready to merge 🎉

#17590 fix(web-components): fix icon package pathing for build
  .github/workflows/publish-web-components-cdn.yml
  packages/web-components/tasks/build.js
  packages/web-components/tools/rollup-plugin-dist-icons.js
Labels: status: ready to merge 🎉

#17597 fix(bug-report): template to include web-components
  .github/ISSUE_TEMPLATE/BUG_REPORT.yaml
Labels: status: one more review 👀

#17578 fix(toast-notification): restore bottom margin on details container
  packages/react/src/components/Notification/__tests__/Notification-test.js
  packages/react/src/components/Notification/__tests__/__snapshots__/Notification-test.js.snap
  packages/styles/scss/components/notification/_toast-notification.scss
Labels: status: one more review 👀

#17560 fix(icons): update square--solid svg
  packages/icons/src/svg/32/square--solid.svg
Labels: status: ready to merge 🎉

#17530 docs(v11): remove StructuredListInput onChange deprecation
  docs/migration/v11.md
Labels: status: one more review 👀, type: docs 📖

#17455 17450 popover with auto align is breaking
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Popover/index.tsx
  packages/react/src/components/Toggletip/index.tsx
Labels: status: ready to merge 🎉

#17616 docs(project): v10 branch - update to reflect v10 end of support
  README.md
  packages/react/.storybook/Container.js
Labels: status: ready for review 👀, status: one more review 👀

#17615 docs(project): update to reflect v10 end of support
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  docs/guides/sass.md
  docs/migration/v11.md
  docs/release.md
  packages/carbon-components-react/README.md
  packages/carbon-components-react/package.json
  packages/carbon-components/README.md
  packages/carbon-components/package.json
  packages/react/.storybook/Welcome/Welcome.js
Labels: status: ready to merge 🎉
