Repository carbon-design-system/carbon, pull requests merged in 2024-02, with the labels that each got.

#15677 chore(release): v11.49.0
  .yarn/cache/@carbon-icon-helpers-npm-10.45.1-3f2ee2290e-69da5ae85b.zip
  examples/class-prefix/package.json
  examples/codesandbox-styles/package.json
  examples/custom-theme/package.json
  examples/id-prefix/package.json
  examples/incremental-migration-vite/package.json
  examples/light-dark-mode/package.json
  examples/nextjs/package.json
  examples/v10-token-compat-in-v11/package.json
  examples/vite/package.json
  packages/carbon-components-react/package.json
  packages/carbon-components/package.json
  packages/elements/package.json
  packages/icon-build-helpers/package.json
  packages/icon-helpers/package.json
  packages/icons-react/package.json
  packages/icons-vue/package.json
  packages/icons/package.json
  packages/pictograms-react/package.json
  packages/pictograms/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/themes/package.json
  www/package.json
  yarn.lock
Labels: status: one more review 👀

#15398 Menu and Friends workstream
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboButton/ComboButton-test.js
  packages/react/src/components/ComboButton/ComboButton.mdx
  packages/react/src/components/ComboButton/ComboButton.stories.js
  packages/react/src/components/ComboButton/index.js
  packages/react/src/components/Menu/Menu.tsx
  packages/react/src/components/MenuButton/MenuButton-test.js
  packages/react/src/components/MenuButton/MenuButton.mdx
  packages/react/src/components/MenuButton/MenuButton.stories.js
  packages/react/src/components/MenuButton/index.js
  packages/react/src/components/OverflowMenu/OverflowMenu.featureflag.stories.js
  packages/react/src/components/OverflowMenu/next/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/next/OverflowMenu.mdx
  packages/react/src/components/OverflowMenu/next/index.js
  packages/styles/scss/components/combo-button/_combo-button.scss
  packages/styles/scss/components/menu-button/_menu-button.scss
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
  packages/styles/scss/utilities/_box-shadow.scss
Labels: status: ready to merge 🎉

#15665 feat(icons): sync settings icon
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/sync-settings.svg
Labels: status: one more review 👀, status: visual review 🔍

#15680 Added compliance footer to v11
  packages/react/.storybook/manager-head.html
Labels: status: visual review 🔍, status: ready to merge 🎉

#15693 fix: 10663 , Removes border flickering on disabled button
  packages/styles/scss/components/file-uploader/_file-uploader.scss
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#15532 feat(StaticNotification): initial component functionality
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Notification/Notification.mdx
  packages/react/src/components/Notification/Notification.tsx
  packages/react/src/components/Notification/index.tsx
  packages/react/src/components/Notification/stories/StaticNotification.stories.js
  packages/react/src/index.js
  packages/react/src/internal/useNoInteractiveChildren.js
Labels: status: one more review 👀, role: dev 🤖, component: notification

#15694 feat: added commonjs to v10
  packages/react/.storybook/manager-head.html
Labels: status: ready to merge 🎉

#15703 feat(containedlist): spread rest props
  packages/react/src/components/ContainedList/ContainedList.js
  packages/react/src/components/ContainedList/ContainedListItem/ContainedListItem.js
Labels: status: ready for review 👀, type: bug 🐛, severity: 2, role: dev 🤖, status: ready to merge 🎉, component: contained-list

#15702 fix(datepicker): added waitFor() to react.lazy test
  .all-contributorsrc
  README.md
  packages/react/src/components/DatePicker/DatePicker-test.js
Labels: status: one more review 👀, status: ready to merge 🎉

#15668 fix(Link): changed the icon
  packages/react/src/components/Link/Link.stories.js
Labels: status: ready to merge 🎉

#15675 feat(ChatButton): add in `ChatButton` component
  e2e/components/ChatButton/ChatButton-test.avt.e2e.js
  e2e/components/ChatButton/ChatButton-test.e2e.js
  packages/carbon-components-react/scss/components/chat-button/_chat-button.scss
  packages/carbon-components-react/scss/components/chat-button/_index.scss
  packages/carbon-components/scss/components/chat-button/_chat-button.scss
  packages/carbon-components/scss/components/chat-button/_index.scss
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/scss/components/chat-button/_chat-button.scss
  packages/react/scss/components/chat-button/_index.scss
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/ChatButton/ChatButton.Skeleton.js
  packages/react/src/components/ChatButton/ChatButton.js
  packages/react/src/components/ChatButton/ChatButton.stories.js
  packages/react/src/components/ChatButton/chat-button-story.scss
  packages/react/src/components/ChatButton/index.js
  packages/react/src/index.js
  packages/react/src/index.ts
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/files.js
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/chat-button/_chat-button.scss
  packages/styles/scss/components/chat-button/_index.scss
Labels: status: visual review 🔍, status: ready to merge 🎉

#15695 fix(ai-gradient): ensure strings are returned as color tokens
  e2e/components/Slug/Slug-test.avt.e2e.js
  packages/styles/scss/utilities/_ai-gradient.scss
Labels: status: ready to merge 🎉

#15676 Accordion dynamic changes
  packages/react/src/components/Accordion/AccordionItem.tsx
Labels: status: ready to merge 🎉

#15712 fix(ChatButton): update ChatButton tokens
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/white.js
Labels: status: one more review 👀

#15662 feat(DataTable): Update DataTable to phase 2 spec
  e2e/components/Slug/Slug-test.e2e.js
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/DataTable.tsx
  packages/react/src/components/DataTable/TableCell.tsx
  packages/react/src/components/DataTable/TableExpandRow.tsx
  packages/react/src/components/DataTable/TableHeader.tsx
  packages/react/src/components/DataTable/TableRow.tsx
  packages/react/src/components/DataTable/stories/DataTable-slug.stories.js
  packages/react/src/components/DataTable/tools/__tests__/__snapshots__/normalize-test.js.snap
  packages/react/src/components/DataTable/tools/normalize.js
  packages/react/src/components/Slug/Slug.stories.js
  packages/react/src/components/Slug/slug-story.scss
  packages/styles/scss/__tests__/theme-test.js
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/data-table/expandable/_data-table-expandable.scss
  packages/styles/scss/components/data-table/sort/_data-table-sort.scss
  packages/styles/scss/utilities/_ai-gradient.scss
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens/__tests__/__snapshots__/v11-test.js.snap
  packages/themes/src/tokens/__tests__/metadata-test.js
  packages/themes/src/tokens/v11TokenGroup.js
  packages/themes/src/white.js
Labels: status: ready for review 👀, status: visual review 🔍, status: ready to merge 🎉

#15721 Compliance footer v10
  packages/react/.storybook/manager-head.html
Labels: version: 10, status: ready to merge 🎉

#15738 fix(DataTable): make DataTableHeader.slug optional
  .all-contributorsrc
  README.md
  packages/react/src/components/DataTable/DataTable.tsx
Labels: status: ready to merge 🎉

#15669 15257 deleted options bug
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#15734 refactor(Modal): use mask-image for overflow indicator
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#15632 `Tabs` - Fixed arrow navigation
  packages/react/src/components/Tabs/Tabs.tsx
Labels: status: ready to merge 🎉

#15610 Fix #15607: Replaced <span> with <div>, Removed unnecessary styling
  packages/react/src/components/Tile/Tile.tsx
  packages/styles/scss/components/tile/_tile.scss
Labels: status: ready to merge 🎉

#15407 Add Typescript types to PaginationNav
  packages/react/src/components/PaginationNav/PaginationNav.js
  packages/react/src/components/PaginationNav/PaginationNav.tsx
  packages/react/src/components/PaginationNav/index.ts
Labels: status: ready to merge 🎉

#15609 docs(global-theme): clarify that styles won't be applied automatically
  packages/react/src/components/Theme/Theme.mdx
Labels: status: ready to merge 🎉

#15422 fix: TableToolbarSearch parameter types
  packages/react/src/components/DataTable/TableToolbarSearch.tsx
Labels: status: ready to merge 🎉

#15682 style(keyframes): prefix all keyframes to avoid collisions
  packages/react/src/components/Copy/Copy-test.js
  packages/react/src/components/Copy/Copy.js
  packages/react/src/components/CopyButton/CopyButton-test.js
  packages/styles/scss/components/code-snippet/_code-snippet.scss
  packages/styles/scss/components/copy-button/_copy-button.scss
  packages/styles/scss/components/inline-loading/_inline-loading.scss
  packages/styles/scss/components/inline-loading/_keyframes.scss
  packages/styles/scss/components/loading/_animation.scss
  packages/styles/scss/components/loading/_loading.scss
  packages/styles/scss/components/progress-bar/_progress-bar.scss
  packages/styles/scss/utilities/_keyframes.scss
  packages/styles/scss/utilities/_skeleton.scss
  packages/styles/scss/utilities/_tooltip.scss
Labels: status: one more review 👀

#15692 Added `eslint-plugin-playwright` to ensue tag convention
  .yarn/cache/eslint-plugin-playwright-npm-0.22.1-2faafdc4a4-4833fe0c7b.zip
  .yarn/cache/globals-npm-13.20.0-4565a722e7-9df85cde2f.zip
  .yarn/cache/globals-npm-13.24.0-cc7713139c-62c5b1997d.zip
  config/eslint-config-carbon/internal.js
  config/eslint-config-carbon/plugins/eslint-plugin-playwright.js
  e2e/components/Accordion/Accordion-test.avt.e2e.js
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#15739 Update NumberInput.tsx to typecast to number during onChange event
  packages/react/src/components/NumberInput/NumberInput.tsx
Labels: status: ready to merge 🎉

#15711 feat(AiSkeleton): adds in new AI skeleton states
  packages/carbon-components-react/scss/components/skeleton-styles/_ai-skeleton-styles.scss
  packages/carbon-components/scss/components/skeleton-styles/_ai-skeleton-styles.scss
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/scss/components/skeleton-styles/_ai-skeleton-styles.scss
  packages/react/src/components/AiSkeleton/AiSkeletonIcon.stories.js
  packages/react/src/components/AiSkeleton/AiSkeletonIcon.tsx
  packages/react/src/components/AiSkeleton/AiSkeletonPlaceholder.stories.js
  packages/react/src/components/AiSkeleton/AiSkeletonPlaceholder.tsx
  packages/react/src/components/AiSkeleton/AiSkeletonText.stories.js
  packages/react/src/components/AiSkeleton/AiSkeletonText.tsx
  packages/react/src/components/AiSkeleton/index.tsx
  packages/react/src/index.js
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/files.js
  packages/styles/scss/__tests__/theme-test.js
  packages/styles/scss/components/skeleton-styles/_ai-skeleton-styles.scss
  packages/styles/scss/components/skeleton-styles/_index.scss
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens/__tests__/__snapshots__/v11-test.js.snap
  packages/themes/src/tokens/__tests__/metadata-test.js
  packages/themes/src/tokens/v11TokenGroup.js
  packages/themes/src/white.js
Labels: status: ready to merge 🎉

#15679 docs: Add tsconfig note to @carbon/react README.md
  .all-contributorsrc
  README.md
  packages/react/README.md
Labels: status: ready to merge 🎉

#15447 fix: convert menubutton to typescript, and do other menu typescript cleanup.
  packages/react/src/components/Menu/Menu.tsx
  packages/react/src/components/Menu/MenuContext.ts
  packages/react/src/components/Menu/MenuItem.tsx
  packages/react/src/components/MenuButton/index.js
  packages/react/src/components/MenuButton/index.tsx
  packages/react/src/internal/useAttachedMenu.ts
Labels: status: ready for review 👀, status: ready to merge 🎉

#15770 15742 disabled delete overflow menu button can still be highlighted when hovering
  packages/styles/scss/components/overflow-menu/_overflow-menu.scss
Labels: status: ready to merge 🎉

#15767 docs(notification): clean up static notification stories
  packages/react/src/components/Notification/Notification.mdx
  packages/react/src/components/Notification/stories/StaticNotification.stories.js
Labels: type: docs 📖, role: dev 🤖, status: ready to merge 🎉, component: notification

#15773 fix: inline dropdown has border bottom in readonly variant
  packages/styles/scss/components/dropdown/_dropdown.scss
Labels: status: ready to merge 🎉

#15771 fix(Dropdown): update renderSelectedItem type
  packages/react/src/components/Dropdown/Dropdown.tsx
Labels: status: ready to merge 🎉

#15779 fix: modal body className
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ComposedModal.tsx
Labels: status: ready to merge 🎉

#15435 fix: 10502-radio-button-misalignment-bug
  packages/styles/scss/components/radio-button/_radio-button.scss
Labels: type: bug 🐛, status: ready to merge 🎉, component: radio-button

#15791 fix(Tabs): adjust contained tabs background value
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready for review 👀, status: visual review 🔍, status: ready to merge 🎉

#15689 refactor: Added types to TableActionList and wrapComponent
  packages/react/src/components/DataTable/TableActionList.ts
  packages/react/src/components/DataTable/TableHead.tsx
  packages/react/src/tools/wrapComponent.ts
Labels: status: ready to merge 🎉

#15741 chore(adopters): updated the list
  .github/workflows/issue-triage-strategic-adopter.yml
Labels: status: one more review 👀, status: ready to merge 🎉

#15778 fix(ChatButton): adjust padding when icon is not present
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ChatButton/ChatButton.js
  packages/react/src/components/ChatButton/ChatButton.stories.js
  packages/styles/scss/components/chat-button/_chat-button.scss
Labels: status: ready for review 👀, status: ready to merge 🎉

#14320 feat: Nest modal support
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.tsx
Labels: status: ready for review 👀, status: one more review 👀

#15768 Refactor/add misc header types
  packages/react/src/components/UIShell/Header.tsx
  packages/react/src/components/UIShell/HeaderGlobalAction.js
  packages/react/src/components/UIShell/HeaderGlobalAction.tsx
  packages/react/src/components/UIShell/HeaderGlobalBar.tsx
  packages/react/src/components/UIShell/SideNavLink.tsx
Labels: status: one more review 👀

#15782 docs(v11): update some v11 docs
  docs/migration/v11.md
Labels: status: ready to merge 🎉

#15783 feat(icons): right panel icons
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/right-panel--close--filled.svg
  packages/icons/src/svg/32/right-panel--close.svg
  packages/icons/src/svg/32/right-panel--open--filled.svg
  packages/icons/src/svg/32/right-panel--open.svg
Labels: status: ready for review 👀, status: visual review 🔍

#15792 test(Slug): add API, keyboard tests for `Slug`
  e2e/components/Slug/Slug-test.avt.e2e.js
  packages/react/src/components/Checkbox/__tests__/Checkbox-test.js
  packages/react/src/components/CheckboxGroup/CheckboxGroup-test.js
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/Dropdown/Dropdown-test.js
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
  packages/react/src/components/NumberInput/__tests__/NumberInput-test.js
  packages/react/src/components/RadioButton/__tests__/RadioButton-test.js
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-test.js
  packages/react/src/components/Select/__tests__/Select-test.js
  packages/react/src/components/Slug/Slug.stories.js
  packages/react/src/components/Slug/__tests__/Slug-test.js
  packages/react/src/components/Tag/Tag-test.js
  packages/react/src/components/TextArea/__tests__/TextArea-test.js
  packages/react/src/components/TextInput/__tests__/TextInput-test.js
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Toggletip/index.tsx
Labels: status: ready for review 👀, status: ready to merge 🎉

#15804 feat(StaticNotification): add actionButton props
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Notification/Notification.tsx
  packages/react/src/components/Notification/stories/StaticNotification.stories.js
Labels: status: ready to merge 🎉

#15819 Added PolymorphicProps to `Link`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Link/Link.tsx
Labels: status: ready to merge 🎉

#15812 docs(Slug): add dev docs to Slug overview
  packages/react/src/components/DataTable/stories/DataTable-slug.stories.js
  packages/react/src/components/Slug/Slug-examples.stories.js
  packages/react/src/components/Slug/Slug-form.stories.js
  packages/react/src/components/Slug/Slug.mdx
  packages/react/src/components/Slug/SlugDatatable.mdx
  packages/react/src/components/Slug/SlugExamples.mdx
  packages/react/src/components/Slug/SlugForm.mdx
  packages/react/src/components/Slug/slug-story.scss
Labels: type: docs 📖, status: ready to merge 🎉
