Repository carbon-design-system/carbon, pull requests merged in 2024-06, with the labels that each got.

#16576 fix(16575): modify useIsTruncated hook in ListBoxMenuItem
  packages/react/src/components/ListBox/ListBoxMenuItem.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#16586 fix: floating ui on combobutton
  packages/react/src/components/ComboButton/ComboButton.stories.js
  packages/react/src/components/ComboButton/index.tsx
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#16653 fix: closing of calendar without selecting end date
  packages/react/src/components/DatePicker/plugins/rangePlugin.js
Labels: status: ready for review 👀, status: one more review 👀

#16641 chore: added suggested severity to a11y template
  .github/ISSUE_TEMPLATE/ACCESSIBILITY_ISSUE.yaml
Labels: status: ready to merge 🎉

#16643 feat: add types to CheckboxGroup component
  packages/react/src/components/CheckboxGroup/CheckboxGroup.tsx
Labels: status: ready to merge 🎉

#16647 fix: fixed VO when typing a value
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉, component: combobox

#16688 Dropdown does not announce items in JAWS
  packages/react/src/components/Dropdown/Dropdown.stories.js
Labels: status: ready for review 👀, status: one more review 👀, component: dropdown

#16707 feat: exports typescript interface DatePickerProps and DatePickerInputProps
  packages/react/src/components/DatePicker/DatePicker.tsx
  packages/react/src/components/DatePicker/index.tsx
  packages/react/src/components/DatePickerInput/DatePickerInput.tsx
  packages/react/src/components/DatePickerInput/index.ts
Labels: status: ready to merge 🎉

#16652 fix: extra arrow in tab component on resize
  packages/react/src/components/Tabs/Tabs.tsx
  packages/styles/scss/components/tabs/_tabs.scss
Labels: status: ready to merge 🎉

#16640 docs: recorded `Containedlistitem` usage depreciation
  packages/react/src/components/ContainedList/ContainedList.mdx
Labels: status: ready for review 👀, status: ready to merge 🎉

#16585 feat: Added floating-ui hook usage for `ComboBox`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/FluidComboBox/__tests__/FluidComboBox-test.js
  packages/react/src/components/ListBox/test-helpers.js
Labels: status: one more review 👀, status: ready to merge 🎉

#16543 fix: added floating UI to menu and menuButton
  packages/react/src/components/ComboButton/index.tsx
  packages/react/src/components/Menu/Menu.tsx
  packages/react/src/components/MenuButton/MenuButton.stories.js
  packages/react/src/components/MenuButton/index.tsx
Labels: status: one more review 👀, status: ready to merge 🎉

#16693 docs: update netlify url
  packages/grid/README.md
  packages/icons-vue/README.md
  packages/icons/README.md
  packages/icons/examples/preview/src/pages/index.js
  packages/pictograms/examples/preview/src/pages/index.js
Labels: status: one more review 👀

#16737 fix(definitiontooltip): update alignment options to match popover
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tooltip/DefinitionTooltip.tsx
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#16648 feat: improve `RadioButton` and `RadioButtonGroup` types
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/RadioButton/index.ts
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/react/src/components/RadioButtonGroup/index.ts
Labels: status: one more review 👀, status: ready to merge 🎉

#16725 fix: textarea invalid icon
  packages/react/src/components/TextArea/TextArea.tsx
  packages/styles/scss/components/text-area/_text-area.scss
Labels: status: one more review 👀

#16332 refactor(data-table): DataTable components to use aria-label instead of ariaLabel
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/examples/custom-data-table-state-manager-vite/package.json
  packages/react/examples/custom-data-table-state-manager-vite/src/components/CustomDataTable.jsx
  packages/react/examples/custom-data-table-state-manager-vite/yarn.lock
  packages/react/src/components/DataTable/DataTable.tsx
  packages/react/src/components/DataTable/TableSelectAll.tsx
  packages/react/src/components/DataTable/TableSelectRow.tsx
  packages/react/src/components/DataTable/__tests__/DataTable-test.js
  packages/react/src/components/DataTable/__tests__/TableSelectAll-test.js
  packages/react/src/components/DataTable/__tests__/TableSelectRow-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
Labels: status: ready to merge 🎉

#16564 Fixed a11y issues in `FileUploader`
  packages/react/src/components/FileUploader/FileUploaderItem.tsx
Labels: status: ready to merge 🎉, component: file-uploader

#16736 fix(icons-react): update svg code to remove breaking style attribute
  packages/icons/src/svg/32/kubernetes--control-plane-node.svg
  packages/icons/src/svg/32/kubernetes--worker-node.svg
Labels: status: ready to merge 🎉

#16785 Updated schedule in renovate and dependabot
  .github/dependabot.yml
  .github/renovate.json5
Labels: status: ready to merge 🎉

#16728 fix(ComposedModal): removed extra tooltip for close icon
  .all-contributorsrc
  README.md
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ModalHeader.tsx
Labels: status: ready to merge 🎉

#16795 fix(15337): remove from release names in update automation
  .github/workflows/release.yml
Labels: status: one more review 👀

#16800 removes `refs/tags/` prefix from release name
  .github/workflows/release.yml
Labels: status: one more review 👀, status: ready to merge 🎉

#16559 Fixed SSR error in `Menu`
  packages/react/src/components/Menu/Menu.tsx
Labels: status: ready for review 👀, status: ready to merge 🎉

#16694 fix: Have JAWS to announce 'Readonly' status on NumberInput
  packages/react/src/components/NumberInput/NumberInput.tsx
Labels: status: ready to merge 🎉

#16793 fix: revert the code to fix infinite loop on controlled multiselect
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
  packages/react/src/internal/Selection.js
Labels: status: ready to merge 🎉

#16794 fix: announcing next and previous button in pagination and paginationNav
  packages/react/src/components/Pagination/Pagination.tsx
  packages/react/src/components/PaginationNav/PaginationNav.tsx
Labels: status: ready to merge 🎉

#16790 feat(icons): new AI function icons
  e2e/icons-react/__snapshots__/PublicAPI-test.js.snap
  e2e/icons-vue/__snapshots__/PublicAPI-test.js.snap
  e2e/icons/__snapshots__/PublicAPI-test.js.snap
  packages/icons/categories.yml
  packages/icons/icons.yml
  packages/icons/src/svg/32/ai-generate.svg
  packages/icons/src/svg/32/ai-recommend.svg
Labels: status: ready to merge 🎉

#16729 fix: filterable multiselect search issue
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
Labels: status: ready for review 👀, status: one more review 👀

#16702 Fixed types in `FilterableMultiSelect`
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelectPropTypes.ts
Labels: status: ready to merge 🎉, component: filterable-multiselect

#16741 fix: combobox not showing correct highlight
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉

#16492 feat: Add floating ui to dropdown
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Dropdown/Dropdown-test.js
  packages/react/src/components/Dropdown/Dropdown.stories.js
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/FluidDropdown/__tests__/FluidDropdown-test.js
Labels: status: ready to merge 🎉

#16786 feat: Add floating ui to new overflow menu
  packages/react/src/components/OverflowMenu/OverflowMenu.featureflag.stories.js
  packages/react/src/components/OverflowMenu/next/index.tsx
Labels: status: one more review 👀

#16835 fix(combobox): correct behavior of selection onChange with filtered items
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ListBox/test-helpers.js
Labels: status: ready to merge 🎉

#16689 Added Floating UI to `MultiSelect` and `FilterableMultiSelect`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ListBox/test-helpers.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#16782 feat(code-connect): connect Search, Select, RadioButton, RadioButtonGroup
  packages/react/code-connect/Checkbox/Checkbox.figma.tsx
  packages/react/code-connect/Checkbox/CheckboxGroup.figma.tsx
  packages/react/code-connect/Dropdown/Dropdown.figma.tsx
  packages/react/code-connect/NumberInput/NumberInputDefault.figma.tsx
  packages/react/code-connect/RadioButton/RadioButton.figma.tsx
  packages/react/code-connect/RadioButton/RadioButtonGroup.figma.tsx
  packages/react/code-connect/Search/FluidSearch.figma.tsx
  packages/react/code-connect/Search/Search.figma.tsx
  packages/react/code-connect/Select/FluidSelect.Figma.tsx
  packages/react/code-connect/Select/Select.figma.tsx
Labels: status: ready for review 👀

#16860 fix(modal): use contextual layer tokens
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#16838 Tests: Added test suite to check the `selectedItems` prop from external state
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
Labels: status: ready to merge 🎉

#16691 fix: null child crashes RadioButtonGroup (#16655)
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup-test.js
Labels: status: ready to merge 🎉

#16219 fix: date picker a11y bug
  e2e/components/DatePicker/DatePicker-test.avt.e2e.js
  e2e/components/FluidDatePicker/FluidDatePicker-test.avt.e2e.js
  packages/react/src/components/DatePicker/DatePicker.tsx
Labels: type: a11y ♿, status: ready to merge 🎉, component: date-picker

#16845 fix(icons-react): remove style attribute
  packages/icons/src/svg/32/kubernetes--control-plane-node.svg
  packages/icons/src/svg/32/kubernetes--worker-node.svg
Labels: status: ready for review 👀

#16833 chore(mend): update `.whitesource` config so issues are not opened
  .whitesource
Labels: status: ready for review 👀, status: ready to merge 🎉

#16544 fix: modal overflow of dropdown
  packages/react/src/components/Modal/Modal.stories.js
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#16866 fix(combobox): memoize floating ui ref to prevent max call depth
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉

#16870 fix: fixed spelling
  .github/renovate.json5
Labels: status: ready to merge 🎉

#16840 fix: focus issue in filterable multiselect
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
Labels: status: ready to merge 🎉

#16792 fix: popover closing issue when clicked on overflow menu
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
  packages/react/src/components/Popover/Popover.stories.js
Labels: status: ready to merge 🎉
