Repository carbon-design-system/carbon, pull requests merged in 2025-01, with the labels that each got.

#18273 fix(web-component): export missing components
  packages/web-components/src/index.ts
Labels: package: @carbon/web-components

#18282 fix: word counter position when text area have cols
  packages/styles/scss/components/text-area/_text-area.scss
Labels: status: one more review 👀

#18191 feat(icon-indicator): new component
  e2e/components/IconIndicator/IconIndicator-test.avt.e2e.js
  e2e/components/IconIndicator/IconIndicator-test.e2e.js
  packages/carbon-components-react/scss/components/icon-indicator/_icon-indicator.scss
  packages/carbon-components-react/scss/components/icon-indicator/_index.scss
  packages/carbon-components/scss/components/icon-indicator/_icon-indicator.scss
  packages/carbon-components/scss/components/icon-indicator/_index.scss
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/scss/components/icon-indicator/_icon-indicator.scss
  packages/react/scss/components/icon-indicator/_index.scss
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/DataTable/stories/dynamic-content/DataTable-dynamic-content.stories.js
  packages/react/src/components/IconIndicator/IconIndicator.mdx
  packages/react/src/components/IconIndicator/IconIndicator.stories.js
  packages/react/src/components/IconIndicator/__tests__/IconIndicator-test.js
  packages/react/src/components/IconIndicator/docs/overview.mdx
  packages/react/src/components/IconIndicator/index.tsx
  packages/react/src/index.js
  packages/react/src/index.ts
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/files.js
  packages/styles/scss/_zone.scss
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/icon-indicator/_icon-indicator.scss
  packages/styles/scss/components/icon-indicator/_index.scss
  packages/styles/scss/components/icon-indicator/_tokens.scss
  packages/themes/scss/_component-tokens.scss
  packages/themes/src/component-tokens/status/index.js
  packages/themes/src/component-tokens/status/tokens.js
  packages/themes/src/index.js
  packages/themes/src/tokens/__tests__/metadata-test.js
  packages/themes/src/tokens/components.js
  packages/themes/tasks/build.js
  packages/themes/tasks/builders/modules-status-tokens.js
  packages/web-components/.storybook/_container.scss
  packages/web-components/examples/components/icon-indicator/.gitignore
  packages/web-components/examples/components/icon-indicator/.sassrc
  packages/web-components/examples/components/icon-indicator/cdn.html
  packages/web-components/examples/components/icon-indicator/index.html
  packages/web-components/examples/components/icon-indicator/package.json
  packages/web-components/examples/components/icon-indicator/sandbox.config.json
  packages/web-components/examples/components/icon-indicator/src/index.js
  packages/web-components/examples/components/icon-indicator/src/styles.scss
  packages/web-components/examples/components/icon-indicator/vite.config.js
  packages/web-components/src/components/data-table/stories/data-table-dynamic.stories.ts
  packages/web-components/src/components/icon-indicator/defs.ts
  packages/web-components/src/components/icon-indicator/docs/overview.mdx
  packages/web-components/src/components/icon-indicator/icon-indicator.mdx
  packages/web-components/src/components/icon-indicator/icon-indicator.scss
  packages/web-components/src/components/icon-indicator/icon-indicator.stories.ts
  packages/web-components/src/components/icon-indicator/icon-indicator.ts
  packages/web-components/src/components/icon-indicator/index.ts
  packages/web-components/src/index.ts
Labels: status: ready to merge 🎉

#18188 fix(composed-modal): don't close on mouse drag and release outside modal
  .all-contributorsrc
  README.md
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ComposedModal.tsx
Labels: status: ready to merge 🎉

#18274 Building Strongly Typed Polymorphic Components
  packages/react/src/components/ListItem/ListItem.tsx
  packages/react/src/components/Text/Text.tsx
  packages/react/src/internal/PolymorphicProps.ts
Labels: status: ready to merge 🎉

#18378 docs(featureflags): update storybook examples, flags prop
  packages/react/src/components/FeatureFlags/overview.mdx
Labels: status: ready for review 👀, status: ready to merge 🎉

#18323 fix(tablist): make aria-label optional
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/react/src/components/Tabs/Tabs.tsx
Labels: status: ready to merge 🎉

#18377 fix(`eslint-config-carbon`): move `best-practices.js` back to cjs module export
  config/eslint-config-carbon/rules/best-practices.js
Labels: status: one more review 👀

#18230 feat: update focus states for Dropdown, Combobox & Multiselect
  e2e/components/ComboBox/ComboBox-test.avt.e2e.js
  e2e/components/Dropdown/Dropdown-test.avt.e2e.js
  e2e/components/FluidComboBox/FluidComboBox-test.avt.e2e.js
  e2e/components/FluidDropdown/FluidDropdown-test.avt.e2e.js
  e2e/components/MultiSelect/MultiSelect-test.avt.e2e.js
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/Dropdown/Dropdown.stories.js
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/FluidDropdown/FluidDropdown.stories.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/styles/scss/components/combo-box/_combo-box.scss
  packages/styles/scss/components/dropdown/_dropdown.scss
  packages/styles/scss/components/fluid-combo-box/_fluid-combo-box.scss
  packages/styles/scss/components/fluid-list-box/_fluid-list-box.scss
  packages/styles/scss/components/fluid-multiselect/_fluid-multiselect.scss
  packages/styles/scss/components/multiselect/_multiselect.scss
  packages/web-components/src/components/ai-label/ai-label.stories.ts
Labels: status: ready to merge 🎉

#18407 fix(18204): remove redundant aria-label in inline mode for AILabel component
  packages/react/src/components/AILabel/__tests__/AILabel-test.js
  packages/react/src/components/AILabel/index.tsx
  packages/react/src/components/Tag/Tag-test.js
Labels: status: ready to merge 🎉

#18324 Control ArrowUp for Dropdown
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/Dropdown/__tests__/Dropdown-test.js
Labels: status: needs accessibility info

#18267 feat(FileUploader): expose ref to clear files
  packages/react/src/components/FileUploader/FileUploader.tsx
  packages/react/src/components/FileUploader/__tests__/FileUploader-test.js
Labels: status: ready to merge 🎉

#18384 feat: Added strong PolymorphicProps
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Link/Link.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Tag/DismissibleTag.tsx
  packages/react/src/components/Tag/OperationalTag.tsx
  packages/react/src/components/Tag/SelectableTag.tsx
  packages/react/src/components/Tag/Tag.tsx
  packages/react/src/components/UIShell/HeaderGlobalAction.tsx
Labels: status: ready for review 👀

#18322 fix(utilities/date-time-format): prevent "0 years" display
  packages/utilities/src/dateTimeFormat/relative-test.js
  packages/utilities/src/dateTimeFormat/relative.ts
Labels: status: one more review 👀, status: ready to merge 🎉

#18302 fix(button): change prop dangerDescriptor to dangerDescription
  packages/web-components/src/components/button/button.ts
Labels: status: one more review 👀, status: visual review 🔍, status: ready to merge 🎉

#18415 feat: added forwardRef to `TableRow`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/TableRow.tsx
  packages/react/src/components/DataTable/__tests__/TableRow-test.js
Labels: status: ready for review 👀, status: one more review 👀, status: ready to merge 🎉

#18443 React|WC Parity: Link
  packages/web-components/src/components/link/link.mdx
  packages/web-components/src/components/link/link.stories.ts
Labels: status: one more review 👀, status: visual review 🔍, status: ready to merge 🎉

#18335 chore(codeql): ignore template files
  .github/workflows/codeql-analysis.yml
Labels: status: one more review 👀, status: ready to merge 🎉

#18391 feat(Pictograms): new pictograms v25
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/deprecated.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/b2b-commerce.svg
  packages/pictograms/src/svg/ehningen--tech-campus-01.svg
  packages/pictograms/src/svg/ehningen--tech-campus-02.svg
  packages/pictograms/src/svg/ibm--granite.svg
  packages/pictograms/src/svg/ibm--one-madison-avenue.svg
  packages/pictograms/src/svg/ibm--z.svg
  packages/pictograms/src/svg/poughkeepsie--bridge.svg
  packages/pictograms/src/svg/qiskit.svg
  packages/pictograms/src/svg/stuttgart--tv-tower.svg
  packages/pictograms/src/svg/watsonx--assistant.svg
  packages/pictograms/src/svg/waving-hand.svg
Labels: status: one more review 👀
