Repository carbon-design-system/carbon, pull requests merged in 2025-03, with the labels that each got.

#18615 feat: codemode to enable-v12-structured-list-visible-icons
  packages/upgrade/src/commands/migrate.js
  packages/upgrade/src/upgrades.js
  packages/upgrade/transforms/__testfixtures__/enable-v12-structured-list-visible-icons.input.js
  packages/upgrade/transforms/__testfixtures__/enable-v12-structured-list-visible-icons.input.tsx
  packages/upgrade/transforms/__testfixtures__/enable-v12-structured-list-visible-icons.output.js
  packages/upgrade/transforms/__testfixtures__/enable-v12-structured-list-visible-icons.output.tsx
  packages/upgrade/transforms/__tests__/enable-v12-structured-list-visible-icons-test.js
  packages/upgrade/transforms/enable-v12-structured-list-visible-icons.js
Labels: status: one more review 👀

#18753 chore: add package selection to enhancement issue template
  .github/ISSUE_TEMPLATE/BUG_REPORT.yaml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST_OR_ENHANCEMENT.yaml
Labels: status: ready to merge 🎉

#18414 fix(Breadcrumb): parity issues
  packages/web-components/src/components/breadcrumb/breadcrumb-link.ts
  packages/web-components/src/components/breadcrumb/breadcrumb-overflow-menu.ts
  packages/web-components/src/components/breadcrumb/breadcrumb.scss
  packages/web-components/src/components/breadcrumb/breadcrumb.stories.ts
  packages/web-components/src/components/breadcrumb/breadcrumb.ts
  packages/web-components/src/components/overflow-menu/overflow-menu.scss
  packages/web-components/src/components/overflow-menu/overflow-menu.ts
Labels: status: ready to merge 🎉

#18566 fix: added polymorphic props to tooltip
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tooltip/Tooltip.tsx
Labels: status: one more review 👀

#18747 fix: update types and address todos
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/InlineLoading/InlineLoading.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/next/index.tsx
  packages/react/src/components/Tile/Tile.tsx
  packages/web-components/src/components/checkbox/checkbox.ts
  packages/web-components/src/components/date-picker/date-picker.ts
  packages/web-components/src/components/dropdown/dropdown.ts
  packages/web-components/src/components/radio-button/radio-button-group.ts
  packages/web-components/src/components/search/search.ts
  packages/web-components/src/components/select/select.ts
  packages/web-components/src/components/slider/slider.ts
  packages/web-components/src/components/text-input/text-input.ts
Labels: status: one more review 👀

#18670 fix(NumberInput): fix floating-point precision issues
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/NumberInput/__tests__/NumberInput-test.js
Labels: status: one more review 👀

#18756 feat: added polymorphic props to Toggletip
  packages/react/src/components/Toggletip/__tests__/Toggletip-test.js
  packages/react/src/components/Toggletip/index.tsx
Labels: status: ready to merge 🎉

#18771 fix(content-switcher): remove redundant shadowRoot query for tooltip
  packages/web-components/src/components/content-switcher/content-switcher-item.ts
Labels: status: one more review 👀

#18599 fix: update compareItems type in MultiSelect
  packages/react/src/components/MultiSelect/MultiSelectPropTypes.ts
  packages/react/src/components/MultiSelect/tools/__tests__/sorting-test.js
  packages/react/src/components/MultiSelect/tools/sorting.js
Labels: status: one more review 👀

#18583 feat(badge-indicator): ui-shell and tab implementation
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/IconIndicator/index.tsx
  packages/react/src/components/ShapeIndicator/index.tsx
  packages/react/src/components/Tabs/Tabs.stories.js
  packages/react/src/components/Tabs/Tabs.tsx
  packages/react/src/components/Tabs/__tests__/Tabs-test.js
  packages/react/src/components/UIShell/HeaderGlobalAction.tsx
  packages/react/src/components/UIShell/UIShell.HeaderBase.stories.js
  packages/react/src/index.ts
  packages/styles/scss/components/tabs/_tabs.scss
  packages/styles/scss/components/treeview/_treeview.scss
  packages/web-components/src/components/ui-shell/header-global-action.ts
  packages/web-components/src/components/ui-shell/ui-shell.stories.ts
Labels: status: visual review 🔍

#18672 ci: add explicit write permissions to pull request closed job
  .github/workflows/pull-request-closed.yml
Labels: status: ready to merge 🎉

#18713 fix(combobox): onInputChange calls
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉

#18586 feat(callout): move to stable
  e2e/components/Notifications/Notifications-test.avt.e2e.js
  e2e/components/Notifications/Notifications-test.e2e.js
  packages/react/code-connect/Notification/Notification.figma.tsx
  packages/react/src/components/Notification/Notification.mdx
  packages/react/src/components/Notification/Notification.tsx
  packages/react/src/components/Notification/__tests__/Notification-test.js
  packages/react/src/components/Notification/stories/Callout.stories.js
  packages/react/src/components/Notification/stories/StaticNotification.stories.js
  packages/react/src/index.js
Labels: status: ready to merge 🎉

#18807 fix(type-tokens): do not emit type custom properties by default
  packages/styles/scss/__tests__/__snapshots__/config-test.js.snap
  packages/styles/scss/__tests__/__snapshots__/type-test.js.snap
  packages/styles/scss/__tests__/type-test.js
  packages/styles/scss/_config.scss
Labels: status: ready for review 👀

#18153 feat(menu): deprecate props.mode / always support full capabilities + icons
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboButton/ComboButton-test.js
  packages/react/src/components/ComboButton/index.tsx
  packages/react/src/components/ContextMenu/useContextMenu.tsx
  packages/react/src/components/Menu/Menu-test.js
  packages/react/src/components/Menu/Menu.stories.js
  packages/react/src/components/Menu/Menu.tsx
  packages/react/src/components/Menu/MenuContext.ts
  packages/react/src/components/Menu/MenuItem.tsx
  packages/react/src/components/MenuButton/MenuButton-test.js
  packages/react/src/components/MenuButton/MenuButton.stories.js
  packages/react/src/components/MenuButton/index.tsx
  packages/styles/scss/components/menu-button/_menu-button.scss
  packages/styles/scss/components/menu/_menu.scss
Labels: status: ready to merge 🎉

#18780 chore(tests): add accordion unit tests and snapshots
  docs/developer-handbook.md
  packages/web-components/src/components/accordion/__tests__/__snapshots__/accordion-test.snap.js
  packages/web-components/src/components/accordion/__tests__/accordion-test.js
  packages/web-components/src/components/accordion/accordion.stories.ts
Labels: package: @carbon/web-components

#18814 fix(styles): use map.get in place of map-get
  packages/grid/scss/_flex-grid.scss
  packages/layout/scss/_utilities.scss
  packages/type/scss/_font-family.scss
Labels: status: ready to merge 🎉

#18819 fix(styles): use list.nth, match.floor and math.unit
  packages/grid/scss/_breakpoint.scss
  packages/grid/scss/_flex-grid.scss
  packages/layout/scss/_convert.scss
  packages/layout/scss/_utilities.scss
  packages/type/scss/_scale.scss
Labels: status: ready to merge 🎉

#18664 fix(Slider): fix floating-point precision issues
  packages/react/src/components/Slider/Slider.tsx
  packages/react/src/components/Slider/__test__/Slider-test.js
Labels: status: ready to merge 🎉

#18825 docs(process): add pull request review guide
  .github/PULL_REQUEST_TEMPLATE.md
  docs/guides/reviewing-pull-requests.md
Labels: status: ready for review 👀

#18669 fix(FileUploaderDropContainer): enforce multiple prop on drag-and-drop
  packages/react/src/components/FileUploader/FileUploaderDropContainer.tsx
  packages/react/src/components/FileUploader/__tests__/FileUploaderDropContainer-test.js
Labels: status: one more review 👀

#18827 chore(mend): turn off lockfile maintenance
  .github/renovate.json5
Labels: status: ready for review 👀

#18723 refactor: delete unused internal utils
  packages/react/src/components/Search/Search.tsx
  packages/react/src/internal/ComponentToggle.js
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/internal/InnerClickListener.js
  packages/react/src/internal/__tests__/InnerClickListener-test.js
  packages/react/src/internal/__tests__/__snapshots__/InnerClickListener-test.js.snap
  packages/react/src/internal/focus/index.js
Labels: status: ready to merge 🎉

#18737 fix(ComboBox): update Enter key handling
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉

#18553 feat(modal): refactor to use native dialog element
  packages/feature-flags/feature-flags.yml
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/scss/components/dialog/_dialog.scss
  packages/react/scss/components/dialog/_index.scss
  packages/react/src/components/ComposedModal/ComposedModal.featureflag.mdx
  packages/react/src/components/ComposedModal/ComposedModal.featureflag.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Dialog/Dialog-story.js
  packages/react/src/components/Dialog/Dialog.mdx
  packages/react/src/components/Dialog/Dialog.stories.js
  packages/react/src/components/Dialog/index.tsx
  packages/react/src/components/FeatureFlags/index.tsx
  packages/react/src/components/FeatureFlags/overview.mdx
  packages/react/src/components/Modal/Modal.featureflag.mdx
  packages/react/src/components/Modal/Modal.featureflag.stories.js
  packages/react/src/components/Modal/Modal.stories.scss
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/next/index.tsx
  packages/react/telemetry.yml
  packages/styles/scss/_feature-flags.scss
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/dialog/_dialog.scss
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#18831 feat(layer): add polymorphic props in Layer component
  packages/react/src/components/Layer/index.tsx
Labels: status: ready to merge 🎉

#18829 fix(icon-button): ensure aria-pressed is set according to isSelected
  packages/react/src/components/Button/ButtonBase.tsx
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  packages/react/src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  packages/react/src/components/IconButton/IconButton.stories.js
  packages/react/src/components/IconButton/__tests__/IconButton-test.js
  packages/react/src/components/IconButton/index.tsx
Labels: status: one more review 👀

#18765 fix: selectableTile onChange event giving old selected value
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.tsx
Labels: status: one more review 👀

#18683 fix: normalize `renderIcon` types
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/ChatButton/ChatButton.tsx
  packages/react/src/components/ContainedList/ContainedListItem/ContainedListItem.tsx
  packages/react/src/components/DataTable/TableBatchAction.tsx
  packages/react/src/components/DataTable/TableToolbarMenu.tsx
  packages/react/src/components/Link/Link.tsx
  packages/react/src/components/Menu/MenuItem.tsx
  packages/react/src/components/Notification/Notification.tsx
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
  packages/react/src/components/OverflowMenu/next/index.tsx
  packages/react/src/components/Search/Search.tsx
  packages/react/src/components/Tabs/Tabs.tsx
  packages/react/src/components/Tag/DismissibleTag.tsx
  packages/react/src/components/Tag/OperationalTag.tsx
  packages/react/src/components/Tag/SelectableTag.tsx
  packages/react/src/components/Tag/Tag.tsx
  packages/react/src/components/Tile/Tile.tsx
  packages/react/src/components/TreeView/TreeNode.tsx
  packages/react/src/components/UIShell/SideNavHeader.tsx
  packages/react/src/components/UIShell/SideNavLink.tsx
  packages/react/src/components/UIShell/SideNavMenu.tsx
Labels: status: ready to merge 🎉

#18810 feat(grid): add polymorphicProps in CSSGrid and FlexGrid
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Grid/CSSGrid.tsx
  packages/react/src/components/Grid/FlexGrid.stories.js
  packages/react/src/components/Grid/FlexGrid.tsx
  packages/react/src/components/Grid/Grid.stories.js
  packages/react/src/components/Grid/GridTypes.ts
Labels: status: ready to merge 🎉

#18707 refactor: rewrite internal keyboard utils in typescript
  packages/react/src/components/FileUploader/FileUploader.tsx
  packages/react/src/components/FileUploader/FileUploaderDropContainer.tsx
  packages/react/src/components/FileUploader/FileUploaderItem.tsx
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/Tabs/Tabs.tsx
  packages/react/src/components/Tooltip/Tooltip.tsx
  packages/react/src/components/UIShell/SideNav.tsx
  packages/react/src/internal/keyboard/index.ts
  packages/react/src/internal/keyboard/keys.ts
  packages/react/src/internal/keyboard/match.js
  packages/react/src/internal/keyboard/match.ts
  packages/react/src/internal/keyboard/navigation.js
  packages/react/src/internal/keyboard/navigation.ts
Labels: status: one more review 👀

#18658 fix: update icon button types and docs
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/ButtonBase.tsx
  packages/react/src/components/Button/__tests__/Button-test.js
  packages/react/src/components/IconButton/index.tsx
Labels: status: one more review 👀

#18826 ci(percy): use `--dry-run` vrt on draft PRs
  .github/workflows/ci.yml
Labels: status: ready for review 👀

#18772 fix(breadcrumb): overflowmenu focus styles
  packages/styles/scss/components/breadcrumb/_breadcrumb.scss
  packages/web-components/src/components/breadcrumb/breadcrumb-item.ts
  packages/web-components/src/components/breadcrumb/breadcrumb.scss
  packages/web-components/src/components/breadcrumb/breadcrumb.stories.ts
  packages/web-components/src/components/overflow-menu/overflow-menu.scss
Labels: status: one more review 👀

#18773 fix: wc parity - unorderedList
  packages/web-components/src/components/list/list-item.ts
  packages/web-components/src/components/list/list.scss
  packages/web-components/src/components/list/ordered-list.ts
  packages/web-components/src/components/list/unordered-list.stories.ts
  packages/web-components/src/components/list/unordered-list.ts
Labels: status: ready for review 👀

#18848 Update slack-office-hours-design.yml
  .github/workflows/slack-office-hours-design.yml
Labels: status: ready to merge 🎉

#18845 feat: add time picker web component
  packages/web-components/src/components/time-picker/defs.ts
  packages/web-components/src/components/time-picker/index.ts
  packages/web-components/src/components/time-picker/time-picker-select.ts
  packages/web-components/src/components/time-picker/time-picker.mdx
  packages/web-components/src/components/time-picker/time-picker.scss
  packages/web-components/src/components/time-picker/time-picker.stories.ts
  packages/web-components/src/components/time-picker/time-picker.ts
  packages/web-components/src/index.ts
Labels: status: one more review 👀

#18859 fix: selectable tile onChange method gives old value on keyboard sleect
  packages/react/src/components/Tile/Tile-test.js
  packages/react/src/components/Tile/Tile.tsx
Labels: status: ready to merge 🎉

#18863 chore: uncomment includesStories
  packages/react/src/components/Dialog/Dialog.stories.js
Labels: status: one more review 👀

#18860 Fixed tooltip story
  packages/react/src/components/Tooltip/Tooltip.stories.js
Labels: status: one more review 👀

#18836 fix(Slider): allow upper handle to reach max with uneven steps
  packages/react/src/components/Slider/Slider.tsx
  packages/react/src/components/Slider/__test__/Slider-test.js
Labels: status: ready to merge 🎉

#18878 feat(overflow-menu): add custom event to item click
  packages/web-components/src/components/overflow-menu/overflow-menu-item.ts
  packages/web-components/src/components/overflow-menu/overflow-menu.mdx
  packages/web-components/src/components/tag/tag.ts
Labels: status: ready to merge 🎉, package: @carbon/web-components

#18861 chore(link): add `link` tests and snapshots
  packages/web-components/src/components/accordion/__tests__/accordion-test.js
  packages/web-components/src/components/link/__tests__/__snapshots__/link-test.snap.js
  packages/web-components/src/components/link/__tests__/link-test.js
Labels: package: @carbon/web-components

#18884 feat(button-set): add stacked property to web component `button-set`
  packages/web-components/src/components/button/button-set.ts
  packages/web-components/src/components/button/button.scss
  packages/web-components/src/components/button/button.stories.ts
Labels: package: @carbon/web-components

#18871 fix(DataTable): Use the right heading level in TableContainer.
  packages/react/src/components/DataTable/TableContainer.tsx
  packages/react/src/components/DataTable/__tests__/TableContainer-test.js
  packages/react/src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
Labels: status: ready for review 👀

#18886 refactor: delete useEffectOnce hook
  packages/react/src/components/Tabs/Tabs.tsx
  packages/react/src/internal/useEffectOnce.js
Labels: status: ready to merge 🎉

#18894 refactor: port useNormalizedInputProps to typescript
  packages/react/src/internal/useNormalizedInputProps.js
  packages/react/src/internal/useNormalizedInputProps.tsx
Labels: status: ready to merge 🎉

#18895 test: implement and delete todo tests
  packages/react/src/components/Slider/__test__/Slider-test.js
  packages/react/src/components/Toggletip/__tests__/Toggletip-test.js
Labels: status: failing CI 🙅‍♂️, status: ready to merge 🎉

#18874 fix: Layer component W|C parity
  packages/web-components/src/components/layer/layer.stories.ts
  packages/web-components/src/components/layer/layer.ts
Labels: status: ready to merge 🎉

#18905 fix(labels): update needs triage label automations
  .github/ISSUE_TEMPLATE/ACCESSIBILITY_ISSUE.yaml
  .github/ISSUE_TEMPLATE/BUG_REPORT.yaml
  .github/ISSUE_TEMPLATE/DESIGN_DEFECT.yaml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST_OR_ENHANCEMENT.yaml
  .github/ISSUE_TEMPLATE/QUESTION.yaml
  actions/issues/src/labels.js
Labels: status: ready to merge 🎉

#18857 fix: badgecount storycontrols clean up
  packages/react/src/components/IconButton/IconButton.stories.js
Labels: status: ready to merge 🎉

#18888 refactor: port useIsomorphicEffect to typescript
  packages/react/src/internal/useIsomorphicEffect.js
  packages/react/src/internal/useIsomorphicEffect.ts
Labels: status: one more review 👀

#18909 revert: removed nx from monorepo
  .yarn/cache/@emnapi-core-npm-1.3.1-58f907a31d-00dbc2ae1b.zip
  .yarn/cache/@emnapi-runtime-npm-1.3.1-64fd359241-619915ee44.zip
  .yarn/cache/@emnapi-wasi-threads-npm-1.0.1-a3701691ed-949f8bdcb1.zip
  .yarn/cache/@napi-rs-wasm-runtime-npm-0.2.4-bc75480c68-af335867ec.zip
  .yarn/cache/@nx-nx-darwin-arm64-npm-20.2.1-83aa593031-10.zip
  .yarn/cache/@nx-nx-darwin-x64-npm-20.2.1-58be4c02bd-10.zip
  .yarn/cache/@nx-nx-linux-arm64-gnu-npm-20.2.1-47677c5554-10.zip
  .yarn/cache/@nx-nx-linux-x64-gnu-npm-20.2.1-a95900e144-10.zip
  .yarn/cache/@nx-nx-win32-arm64-msvc-npm-20.2.1-b86d454bb9-10.zip
  .yarn/cache/@nx-nx-win32-x64-msvc-npm-20.2.1-6f2b8d4658-10.zip
  .yarn/cache/@tybys-wasm-util-npm-0.9.0-5f9b6b37b1-aa58e64753.zip
  .yarn/cache/@yarnpkg-parsers-npm-3.0.2-c5e3ccc563-87506f140d.zip
  .yarn/cache/@zkochan-js-yaml-npm-0.0.7-931c761308-83642debff.zip
  .yarn/cache/dotenv-expand-npm-11.0.7-3d83888ae0-1cd981e2b9.zip
  .yarn/cache/front-matter-npm-4.0.2-e1cc0efa69-8897a831a8.zip
  .yarn/cache/minimatch-npm-9.0.3-69d7d6fad5-c81b47d281.zip
  .yarn/cache/nx-npm-20.2.1-a595d06864-3971883538.zip
  .yarn/cache/ora-npm-5.3.0-bb3e7178be-989a075b59.zip
  nx.json
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#18788 feat(pageheader): initial components, exports, stories, styles, tests
  jest.config.js
  packages/react/.storybook/main.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/scss/components/page-header/_index.scss
  packages/react/scss/components/page-header/_page-header.scss
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/PageHeader/PageHeader-test.js
  packages/react/src/components/PageHeader/PageHeader.mdx
  packages/react/src/components/PageHeader/PageHeader.stories.js
  packages/react/src/components/PageHeader/PageHeader.tsx
  packages/react/src/components/PageHeader/index.tsx
  packages/react/src/index.js
  packages/react/src/index.ts
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/page-header/_index.scss
  packages/styles/scss/components/page-header/_page-header.scss
Labels: status: ready to merge 🎉

#18928 refactor: rewrite warning in typescript
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem.tsx
  packages/react/src/internal/FloatingMenu.tsx
  packages/react/src/internal/__tests__/warning-test.js
  packages/react/src/internal/useControllableState.js
  packages/react/src/internal/warning.js
  packages/react/src/internal/warning.ts
Labels: status: ready to merge 🎉

#18942 feat(react): export FeatureFlags as stable
  .github/workflows/version.yml
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/FeatureFlags/overview.mdx
  packages/react/src/index.js
  packages/react/src/index.ts
  packages/react/telemetry.yml
Labels: status: ready to merge 🎉

#18951 fix(modal): allow data-modal-primary-focus in danger
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.tsx
Labels: status: one more review 👀
