Repository carbon-design-system/carbon, pull requests merged in 2025-04, with the labels that each got.

#18952 docs(datepicker): document `parseDate` prop
  packages/react/src/components/DatePicker/DatePicker.mdx
Labels: status: one more review 👀, type: docs 📖

#18949 refactor: delete web-components license
  packages/web-components/LICENSE
Labels: type: docs 📖, status: ready to merge 🎉

#18978 fix(warning): replace `__DEV__` with `process.env.NODE_ENV` condition
  config/eslint-config-carbon/base.js
  config/eslint-config-carbon/rules/best-practices.js
  config/jest-config-carbon/setup/setup.js
  docs/developer-handbook.md
  packages/icon-build-helpers/src/builders/react/builder.js
  packages/icon-build-helpers/src/builders/react/next/templates.js
  packages/react/src/components/ContainedList/index.ts
  packages/react/src/components/ModalWrapper/ModalWrapper.tsx
  packages/react/src/components/Notification/Notification.tsx
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem.tsx
  packages/react/src/components/OverflowMenuV2/index.js
  packages/react/src/components/Popover/index.tsx
  packages/react/src/components/Text/createTextComponent.tsx
  packages/react/src/components/TextInput/ControlledPasswordInput.tsx
  packages/react/src/components/TextInput/index.ts
  packages/react/src/internal/FloatingMenu.tsx
  packages/react/src/internal/useNoInteractiveChildren.js
  packages/react/src/internal/warning.ts
  packages/react/src/internal/wrapFocus.js
  packages/react/src/prop-types/isRequiredOneOf.js
  packages/react/src/prop-types/requiredIfGivenPropIsTruthy.js
  packages/react/src/prop-types/requiredIfValueExists.js
  packages/react/src/types/globals.d.ts
  packages/utilities-react/src/useNoInteractiveChildren/index.jsx
Labels: status: ready to merge 🎉

#18946 fix(ailabel): use <h2> in tooltip content for a11y and style update
  packages/react/src/components/AILabel/AILabel.stories.js
  packages/react/src/components/AILabel/AILabelDatatable.mdx
  packages/react/src/components/AILabel/ailabel-story.scss
  packages/react/src/components/Checkbox/Checkbox.stories.js
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/DataTable/stories/DataTable-ai-label.stories.js
  packages/react/src/components/DatePicker/DatePicker.stories.js
  packages/react/src/components/Dropdown/Dropdown.stories.js
  packages/react/src/components/FluidComboBox/FluidComboBox.stories.js
  packages/react/src/components/FluidDropdown/FluidDropdown.stories.js
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.stories.js
  packages/react/src/components/FluidSelect/FluidSelect.stories.js
  packages/react/src/components/Form/Form.stories.js
  packages/react/src/components/Modal/Modal.stories.js
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/NumberInput/NumberInput.stories.js
  packages/react/src/components/RadioButton/RadioButton.stories.js
  packages/react/src/components/Select/Select.stories.js
  packages/react/src/components/Tag/Tag.stories.js
  packages/react/src/components/TextArea/TextArea.stories.js
  packages/react/src/components/TextInput/TextInput.stories.js
  packages/react/src/components/Tile/Tile.featureflag.stories.js
  packages/react/src/components/Tile/Tile.stories.js
Labels: status: visual review 🔍, status: ready to merge 🎉, package: @carbon/react

#18980 WC: fix(ailabel): use <h2> in tooltip content for a11y and style update
  packages/web-components/examples/autoalign/cdn.html
  packages/web-components/examples/autoalign/index.html
  packages/web-components/src/components/ai-label/ai-label-story.scss
  packages/web-components/src/components/ai-label/ai-label.stories.ts
  packages/web-components/src/components/checkbox/checkbox.stories.ts
  packages/web-components/src/components/combo-box/combo-box.stories.ts
  packages/web-components/src/components/data-table/stories/data-table-ai-label.stories.ts
  packages/web-components/src/components/date-picker/date-picker.stories.ts
  packages/web-components/src/components/dropdown/dropdown.stories.ts
  packages/web-components/src/components/form-group/form-group.stories.ts
  packages/web-components/src/components/modal/modal.stories.ts
  packages/web-components/src/components/multi-select/multi-select.stories.ts
  packages/web-components/src/components/number-input/number-input.stories.ts
  packages/web-components/src/components/popover/autoalign.mdx
  packages/web-components/src/components/popover/autoalign.stories.ts
  packages/web-components/src/components/radio-button/radio-button.stories.ts
  packages/web-components/src/components/select/select.stories.ts
  packages/web-components/src/components/tag/tag.stories.ts
  packages/web-components/src/components/text-input/text-input.stories.ts
  packages/web-components/src/components/textarea/textarea.stories.ts
  packages/web-components/src/components/tile/tile.stories.ts
Labels: status: one more review 👀, status: visual review 🔍, package: @carbon/web-components

#18989 docs(storybook): update WC stackblitz link
  packages/web-components/docs/welcome.mdx
Labels: status: ready to merge 🎉

#18993 chore(storybook): update misc web component stories
  packages/react/src/components/Button/Button.mdx
  packages/web-components/.storybook/_container.scss
  packages/web-components/.storybook/container.ts
  packages/web-components/.storybook/preview-head.html
  packages/web-components/.storybook/preview.js
  packages/web-components/.storybook/theme.js
  packages/web-components/docs/carbon-cdn-style-helpers.mdx
  packages/web-components/src/components/accordion/accordion-item.ts
  packages/web-components/src/components/accordion/accordion.mdx
  packages/web-components/src/components/accordion/accordion.stories.ts
  packages/web-components/src/components/accordion/docs/overview.mdx
  packages/web-components/src/components/ai-label/ai-label-action-button.ts
  packages/web-components/src/components/ai-label/ai-label.mdx
  packages/web-components/src/components/ai-label/ai-label.ts
  packages/web-components/src/components/breadcrumb/breadcrumb.mdx
  packages/web-components/src/components/breadcrumb/breadcrumb.stories.ts
  packages/web-components/src/components/breadcrumb/breadcrumb.ts
  packages/web-components/src/components/breadcrumb/docs/overview.mdx
  packages/web-components/src/components/button/button-set-base.ts
  packages/web-components/src/components/button/button-set.ts
  packages/web-components/src/components/button/button.mdx
  packages/web-components/src/components/button/button.stories.ts
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/button/docs/overview.mdx
  packages/web-components/src/components/link/docs/overview.mdx
  packages/web-components/src/components/link/link.mdx
  packages/web-components/src/components/link/link.stories.ts
  packages/web-components/src/globals/internal/storybook-cdn.ts
Labels: type: docs 📖, package: @carbon/web-components

#19002 chore(storybook): update misc web component stories
  packages/react/src/components/CodeSnippet/CodeSnippet.mdx
  packages/web-components/.storybook/preview.js
  packages/web-components/src/components/accordion/accordion.mdx
  packages/web-components/src/components/checkbox/checkbox-group.ts
  packages/web-components/src/components/checkbox/checkbox.mdx
  packages/web-components/src/components/checkbox/checkbox.stories.ts
  packages/web-components/src/components/checkbox/checkbox.ts
  packages/web-components/src/components/checkbox/docs/overview.mdx
  packages/web-components/src/components/code-snippet/code-snippet.mdx
  packages/web-components/src/components/code-snippet/code-snippet.stories.ts
  packages/web-components/src/components/code-snippet/docs/overview.mdx
  packages/web-components/src/components/combo-box/combo-box.mdx
  packages/web-components/src/components/combo-box/docs/overview.mdx
  packages/web-components/src/components/content-switcher/content-switcher-item.ts
  packages/web-components/src/components/content-switcher/content-switcher.mdx
  packages/web-components/src/components/content-switcher/content-switcher.ts
  packages/web-components/src/components/content-switcher/docs/overview.mdx
  packages/web-components/src/components/copy-button/copy-button.mdx
  packages/web-components/src/components/copy-button/docs/overview.mdx
Labels: type: docs 📖, package: @carbon/web-components

#18994 chore(sb): remove unused treeview story
  packages/react/src/components/TreeView/Treeview.stories.js
Labels: type: docs 📖, status: ready to merge 🎉, package: react

#18796 refactor: update useMergedRefs and delete useMergeRefs usage
  packages/react/src/components/Menu/Menu.tsx
  packages/react/src/components/Menu/MenuItem.tsx
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/Search/Search.tsx
  packages/react/src/components/Tag/Tag.tsx
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/Tile/Tile.tsx
  packages/react/src/components/UIShell/Switcher.tsx
  packages/react/src/internal/useMergedRefs.ts
Labels: status: one more review 👀, package: @carbon/react

#19029 chore: update CFIP channel name
  .github/workflows/slack-office-hours-dev.yml
Labels: status: ready to merge 🎉

#19034 chore: remove test1 story from Column
  packages/react/src/components/Grid/FlexGrid.stories.js
Labels: status: one more review 👀

#18916 chore: update use-resize-observer to latest version and remove polyfill
  .yarn/cache/resize-observer-polyfill-npm-1.5.1-603120e8a0-e10ee50cd6.zip
  .yarn/cache/use-resize-observer-npm-6.1.0-5ee3475eb2-0490c419ab.zip
  packages/react/package.json
  packages/react/src/components/CodeSnippet/CodeSnippet.tsx
  yarn.lock
Labels: status: ready to merge 🎉

#19037 fix(tag): ai-label story render
  packages/react/src/components/Tag/Tag.stories.js
Labels: status: one more review 👀

#19027 feat(tree-view): new web component
  packages/react/src/components/TreeView/TreeView.mdx
  packages/react/src/components/TreeView/Treeview.stories.js
  packages/web-components/src/components/tree-view/defs.ts
  packages/web-components/src/components/tree-view/docs/overview.mdx
  packages/web-components/src/components/tree-view/index.ts
  packages/web-components/src/components/tree-view/tree-node.ts
  packages/web-components/src/components/tree-view/tree-view.mdx
  packages/web-components/src/components/tree-view/tree-view.scss
  packages/web-components/src/components/tree-view/tree-view.stories.ts
  packages/web-components/src/components/tree-view/tree-view.ts
  packages/web-components/src/index.ts
Labels: status: visual review 🔍

#19052 refactor: delete `WithState`
  packages/react/src/tools/withState.js
Labels: status: one more review 👀

#18958 fix: adds forwardedRef's support in Tags
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tag/DismissibleTag.tsx
  packages/react/src/components/Tag/OperationalTag.tsx
  packages/react/src/components/Tag/SelectableTag.tsx
  packages/react/src/components/Tag/Tag-test.js
Labels: status: ready to merge 🎉

#18955 Add entry points for Sass
  packages/elements/package.json
  packages/feature-flags/package.json
  packages/layout/package.json
  packages/motion/package.json
  packages/react/package.json
  packages/themes/package.json
  packages/type/package.json
Labels: status: ready to merge 🎉

#17814 fix: remove loading animation in inlineloading inactive state
  .gitignore
  packages/react/src/components/InlineLoading/InlineLoading-test.js
  packages/react/src/components/InlineLoading/InlineLoading.tsx
Labels: status: visual review 🔍

#18924 feat(Pictograms): new pictograms v28
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/icons/icons.yml
  packages/pictograms/categories.yml
  packages/pictograms/pictograms.yml
  packages/pictograms/productive-pictogram-master.ai
  packages/pictograms/src/svg/agile--coaching.svg
  packages/pictograms/src/svg/ahmedabad--jama-masjid.svg
  packages/pictograms/src/svg/ahmedabad--sabarmati-ashram.svg
  packages/pictograms/src/svg/geodesic-montreal-biosphere.svg
  packages/pictograms/src/svg/ibm--elm-dcc.svg
  packages/pictograms/src/svg/ibm--elm-gcm.svg
  packages/pictograms/src/svg/ibm--elm-insights.svg
  packages/pictograms/src/svg/ibm--elm-method-composer.svg
  packages/pictograms/src/svg/ibm--elm-publishing.svg
  packages/pictograms/src/svg/ibm--elm-reporting.svg
  packages/pictograms/src/svg/ibm--elm.svg
  packages/pictograms/src/svg/ibm--engineering-requirement-doors.svg
  packages/pictograms/src/svg/ibm--engineering-systems-design-rhapsody--model-manager.svg
  packages/pictograms/src/svg/ibm--engineering-systems-design-rhapsody.svg
  packages/pictograms/src/svg/ibm--engineering-test-management.svg
  packages/pictograms/src/svg/ibm--engineering-workflow-management.svg
  packages/pictograms/src/svg/ibm--z17--multi-frame.svg
  packages/pictograms/src/svg/ibm--z17--single-frame.svg
  packages/pictograms/src/svg/ibm--z17.svg
  packages/pictograms/src/svg/key--lifecycle.svg
  packages/pictograms/src/svg/keystores--external.svg
  packages/pictograms/src/svg/keystores.svg
  packages/pictograms/src/svg/landing-page.svg
  packages/pictograms/src/svg/mcgill-university--morrice-hall.svg
  packages/pictograms/src/svg/montreal--olympic-stadium.svg
  packages/pictograms/src/svg/social--tile.svg
  packages/pictograms/src/svg/sponsor-user-program.svg
  packages/pictograms/src/svg/tape--storage--02.svg
  packages/pictograms/src/svg/transaction-data.svg
  packages/pictograms/src/svg/vault.svg
  packages/pictograms/src/svg/web--banners.svg
Labels: status: ready to merge 🎉

#19047 fix: treeView component not allowing all letters in input
  packages/react/src/components/TreeView/TreeView-test.js
  packages/react/src/components/TreeView/TreeView.tsx
  packages/react/src/components/TreeView/Treeview.stories.js
Labels: status: one more review 👀

#18437 feat(inline-loading): parity work
  packages/web-components/src/components/inline-loading/inline-loading.mdx
  packages/web-components/src/components/inline-loading/inline-loading.stories.ts
  packages/web-components/src/components/inline-loading/inline-loading.ts
Labels: status: visual review 🔍

#19040 docs(layer): update usage example in docs and StackBlitz
  packages/web-components/examples/components/layer/index.html
  packages/web-components/examples/components/layer/src/styles.scss
  packages/web-components/src/components/layer/layer.mdx
Labels: package: @carbon/web-components

#19058 fix(tooltip): wrap unbroken text to prevent overflow
  packages/react/src/components/Tooltip/story.scss
Labels: component: tooltip, package: @carbon/react

#19084 docs(indicators): fix switched up import statements
  packages/react/src/components/IconIndicator/IconIndicator.mdx
  packages/react/src/components/ShapeIndicator/ShapeIndicator.mdx
Labels: status: ready to merge 🎉

#19086 fix: adds backward compatibility for innerRefs in OverflowMenu
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
Labels: status: ready to merge 🎉

#19020 fix(react): nextjs hydration error (#19003)
  .all-contributorsrc
  README.md
  packages/react/src/internal/useMatchMedia.ts
Labels: status: ready to merge 🎉

#19118 refactor: replace bounds logic with `clamp` and add tests
  packages/react/src/components/Layer/LayerLevel.ts
  packages/react/src/components/Layer/index.tsx
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/PaginationNav/PaginationNav.tsx
  packages/react/src/components/Slider/Slider.tsx
  packages/react/src/internal/__tests__/clamp-test.js
  packages/react/src/internal/clamp.ts
Labels: status: ready to merge 🎉

#18940 refactor: clean up `MultiSelect` imports and exports
  packages/react/src/components/ComposedModal/ComposedModal.featureflag.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/FilterableMultiSelect/index.js
  packages/react/src/components/FluidMultiSelect/FluidFilterableMultiSelect.tsx
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.tsx
  packages/react/src/components/Modal/Modal.featureflag.stories.js
  packages/react/src/components/Modal/Modal.stories.js
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
  packages/react/src/components/MultiSelect/index.tsx
  packages/react/src/index.js
  packages/react/src/index.ts
Labels: status: ready to merge 🎉

#18914 refactor: delete remnants of deprecated `TextInput` components
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TextInput/ControlledPasswordInput.tsx
  packages/react/src/components/TextInput/TextInput.tsx
  packages/react/src/components/TextInput/index.ts
Labels: status: ready to merge 🎉

#18950 refactor: rewrite `useEvent` and `useWindowEvent` in typescript
  packages/react/src/components/Popover/index.tsx
  packages/react/src/components/Toggletip/index.tsx
  packages/react/src/internal/useEvent.js
  packages/react/src/internal/useEvent.ts
Labels: status: ready to merge 🎉

#19119 refactor: delete `InternationalProps`
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/types/common.ts
Labels: status: one more review 👀

#19087 fix(utilities/react): don't replace process.env.NODE_ENV during build
  packages/utilities-react/package.json
Labels: status: ready to merge 🎉

#19134 test(dialog): initial unit tests, mock `HTMLDialogElement` in jest config, revert feature flag unification
  config/jest-config-carbon/setup/setup.js
  packages/react/.storybook/templates/WithFeatureFlags/index.js
  packages/react/src/components/ComposedModal/ComposedModal.featureflag.mdx
  packages/react/src/components/ComposedModal/ComposedModal.featureflag.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Dialog/Dialog-test.js
  packages/react/src/components/Modal/Modal.featureflag.mdx
  packages/react/src/components/Modal/Modal.featureflag.stories.js
  packages/react/src/components/Modal/Modal.tsx
  packages/styles/scss/components/dialog/_dialog.scss
Labels: status: ready to merge 🎉

#18910 fix: makes tooltips visible in fileuploaderItem
  packages/react/src/components/FileUploader/FileUploader.stories.js
Labels: status: one more review 👀, status: visual review 🔍

#19036 fix(18590): headermenu is not collapsed once headermenuicon is clicked with as={link} property
  packages/react/src/components/UIShell/HeaderMenu.tsx
  packages/react/src/components/UIShell/__tests__/HeaderMenu-test.js
Labels: status: ready to merge 🎉

#19166 fix(pictogram): move v28 master file to the correct folder, replacing the old v27 one
  packages/pictograms/master/productive-pictogram-master.ai
  packages/pictograms/productive-pictogram-master.ai
Labels: status: ready to merge 🎉

#19165 chore(docs): update misc web component Storybook docs
  packages/react/src/components/FormGroup/FormGroup.mdx
  packages/web-components/src/components/accordion/accordion.mdx
  packages/web-components/src/components/ai-label/ai-label.mdx
  packages/web-components/src/components/ai-skeleton/ai-skeleton.mdx
  packages/web-components/src/components/ai-skeleton/docs/overview.mdx
  packages/web-components/src/components/breadcrumb/breadcrumb.mdx
  packages/web-components/src/components/button/button.mdx
  packages/web-components/src/components/copy-button/copy-button.mdx
  packages/web-components/src/components/data-table/docs/overview.mdx
  packages/web-components/src/components/data-table/stories/data-table-ai-label.mdx
  packages/web-components/src/components/data-table/stories/data-table-sorting.stories.ts
  packages/web-components/src/components/data-table/stories/data-table.mdx
  packages/web-components/src/components/form-group/form-group.mdx
  packages/web-components/src/components/form-group/form-group.ts
  packages/web-components/src/components/heading/heading.mdx
  packages/web-components/src/components/heading/heading.ts
  packages/web-components/src/components/icon-button/icon-button.mdx
  packages/web-components/src/components/icon-button/icon-button.ts
  packages/web-components/src/components/inline-loading/docs/overview.mdx
  packages/web-components/src/components/inline-loading/inline-loading.mdx
  packages/web-components/src/components/inline-loading/inline-loading.stories.ts
Labels: type: docs 📖, package: @carbon/web-components

#19168 chore(deps): re-add react-is as hard dep w/ significantly expanded range
  packages/react/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#19172 chore(deps): update caniuse lite to v1.0.30001669
  .yarn/cache/caniuse-lite-npm-1.0.30001669-1160fd58ad-cd0b481bb9.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001714-c8999c91f0-72ab5f5b36.zip
  yarn.lock
Labels: status: ready to merge 🎉, dependencies, type: infrastructure :robot:

#19173 chore(docs): update misc web component Storybook docs
  packages/react/src/components/Dropdown/Dropdown.mdx
  packages/react/src/components/Layer/Layer.mdx
  packages/web-components/src/components/content-switcher/content-switcher.mdx
  packages/web-components/src/components/date-picker/date-picker.mdx
  packages/web-components/src/components/date-picker/docs/overview.mdx
  packages/web-components/src/components/dropdown/docs/overview.mdx
  packages/web-components/src/components/dropdown/dropdown.mdx
  packages/web-components/src/components/dropdown/dropdown.stories.ts
  packages/web-components/src/components/file-uploader/docs/overview.mdx
  packages/web-components/src/components/file-uploader/file-uploader-button.ts
  packages/web-components/src/components/file-uploader/file-uploader.mdx
  packages/web-components/src/components/file-uploader/file-uploader.stories.ts
  packages/web-components/src/components/file-uploader/file-uploader.ts
  packages/web-components/src/components/form-group/form-group.mdx
  packages/web-components/src/components/inline-loading/inline-loading.mdx
  packages/web-components/src/components/layer/layer.mdx
  packages/web-components/src/components/layer/layer.stories.ts
  packages/web-components/src/components/layer/layer.ts
  packages/web-components/src/components/loading/docs/overview.mdx
  packages/web-components/src/components/loading/loading.mdx
  packages/web-components/src/components/loading/loading.ts
Labels: type: docs 📖

#19131 fix(overflowmenu): added typing to align prop
  README.md
  packages/react/src/components/OverflowMenu/OverflowMenu.stories.js
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
Labels: status: ready to merge 🎉

#19156 feat(menu-button): new web-component for parity
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/menu-button/defs.ts
  packages/web-components/src/components/menu-button/docs/overview.mdx
  packages/web-components/src/components/menu-button/index.ts
  packages/web-components/src/components/menu-button/menu-button.mdx
  packages/web-components/src/components/menu-button/menu-button.scss
  packages/web-components/src/components/menu-button/menu-button.stories.ts
  packages/web-components/src/components/menu-button/menu-button.ts
  packages/web-components/src/components/menu/menu-item.ts
  packages/web-components/src/components/menu/menu.scss
  packages/web-components/src/components/menu/menu.ts
  packages/web-components/src/components/popover/popover.ts
  packages/web-components/src/components/toggle-tip/toggletip.ts
  packages/web-components/src/globals/controllers/floating-controller.ts
  packages/web-components/src/index.ts
Labels: status: ready for review 👀, package: @carbon/web-components

#19120 fix(MenuButton): do not steal focus on keyboard click of MenuItem
  packages/react/src/components/Menu/Menu.tsx
  packages/react/src/components/Menu/MenuItem.tsx
  packages/react/src/components/MenuButton/MenuButton-test.js
Labels: status: one more review 👀

#19192 fix(dropdown): add id to label for titleText elements
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/Dropdown/__tests__/Dropdown-test.js
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/MultiSelect/__tests__/MultiSelect-test.js
Labels: status: one more review 👀, package: @carbon/react

#19148 docs(icons): update storybook with rem sizing instructions
  packages/react/src/components/Icons/Icons.mdx
  packages/react/src/components/Icons/Icons.stories.js
Labels: status: ready to merge 🎉

#19171 feat: add prop-types to `OverflowMenu`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/OverflowMenu/index.tsx
Labels: status: one more review 👀

#19055 feat: documentation of codemods
  packages/react/src/components/FeatureFlags/overview.mdx
  packages/upgrade/README.md
Labels: type: docs 📖, status: ready to merge 🎉, type: infrastructure :robot:

#19191 refactor: rewrite defaultFilterRows in typescript and add tests
  packages/react/src/components/DataTable/tools/__tests__/filter-test.js
  packages/react/src/components/DataTable/tools/filter.js
  packages/react/src/components/DataTable/tools/filter.ts
Labels: status: ready to merge 🎉

#19167 feat(Pictograms): svgs for v29
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/deprecated.yml
  packages/pictograms/master/productive-pictogram-master.ai
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/accessibility.svg
  packages/pictograms/src/svg/bloch-sphere.svg
  packages/pictograms/src/svg/code--conversion.svg
  packages/pictograms/src/svg/code--generation--chat.svg
  packages/pictograms/src/svg/code--generation--inline.svg
  packages/pictograms/src/svg/code--generation.svg
  packages/pictograms/src/svg/code--reverse-engineering.svg
  packages/pictograms/src/svg/composer-edit.svg
  packages/pictograms/src/svg/compost.svg
  packages/pictograms/src/svg/crosshairs.svg
  packages/pictograms/src/svg/dallas--reunion-tower.svg
  packages/pictograms/src/svg/dallas--skyline.svg
  packages/pictograms/src/svg/data--scientist.svg
  packages/pictograms/src/svg/destination.svg
  packages/pictograms/src/svg/ensure-data-quality.svg
  packages/pictograms/src/svg/fire--hose.svg
  packages/pictograms/src/svg/gastro-health.svg
  packages/pictograms/src/svg/generate--ai.svg
  packages/pictograms/src/svg/generate--code.svg
  packages/pictograms/src/svg/governance.svg
  packages/pictograms/src/svg/guadalajara--seal.svg
  packages/pictograms/src/svg/hard--prompt.svg
  packages/pictograms/src/svg/ibm--z17--plus-cloud.svg
  packages/pictograms/src/svg/incident-reporter.svg
  packages/pictograms/src/svg/mobile--pos--01.svg
  packages/pictograms/src/svg/mobile--pos--02.svg
  packages/pictograms/src/svg/multi-model.svg
  packages/pictograms/src/svg/no--parking.svg
  packages/pictograms/src/svg/outcome-focused.svg
  packages/pictograms/src/svg/parking.svg
  packages/pictograms/src/svg/pilot-test.svg
  packages/pictograms/src/svg/prompt.svg
  packages/pictograms/src/svg/resourceful.svg
  packages/pictograms/src/svg/sell.svg
  packages/pictograms/src/svg/social--distancing.svg
  packages/pictograms/src/svg/spyre-accelerator.svg
  packages/pictograms/src/svg/telum-ii-processor.svg
  packages/pictograms/src/svg/tree--02.svg
Labels: status: ready to merge 🎉

#19182 refactor: port `getCellId` to typescript and add more tests
  packages/react/src/components/DataTable/tools/__tests__/cells-test.js
  packages/react/src/components/DataTable/tools/cells.js
  packages/react/src/components/DataTable/tools/cells.ts
Labels: status: one more review 👀

#19202 chore: add Sass entry point for @carbon/colors
  packages/colors/package.json
Labels: status: ready to merge 🎉

#19170 feat: add prop-types to `TableCell`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/DataTable/TableCell.tsx
Labels: status: one more review 👀

#19041 feat: added tabs in tabBar zone
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/PageHeader/PageHeader-test.js
  packages/react/src/components/PageHeader/PageHeader.stories.js
  packages/react/src/components/PageHeader/PageHeader.tsx
  packages/react/src/components/PageHeader/index.tsx
  packages/styles/scss/components/page-header/_page-header.scss
Labels: status: one more review 👀, role: dev 🤖, package: react

#19098 test: adds test and snapshots for Loading in WC
  packages/web-components/src/components/loading/__tests__/__snapshots__/loading-test.snap.js
  packages/web-components/src/components/loading/__tests__/loading-test.js
Labels: status: ready to merge 🎉

#19122 wc: fix(tag): align tooltip logic and a11y with React
  packages/web-components/src/components/tag/dismissible-tag.ts
Labels: status: ready to merge 🎉, package: @carbon/web-components

#19085 fix: fixed the onchange firing undefined
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.stories.js
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready for review 👀, status: one more review 👀

#19207 chore(docs): update misc web component Storybook docs
  packages/react/src/components/Popover/Popover.mdx
  packages/react/src/components/ProgressBar/ProgressBar.mdx
  packages/web-components/src/components/ai-skeleton/ai-skeleton-icon.stories.ts
  packages/web-components/src/components/ai-skeleton/ai-skeleton-placeholder.stories.ts
  packages/web-components/src/components/ai-skeleton/ai-skeleton-text.stories.ts
  packages/web-components/src/components/ai-skeleton/ai-skeleton.mdx
  packages/web-components/src/components/modal/modal-label.ts
  packages/web-components/src/components/popover/popover-content.ts
  packages/web-components/src/components/popover/popover.mdx
  packages/web-components/src/components/progress-bar/progress-bar.mdx
  packages/web-components/src/components/progress-indicator/docs/overview.mdx
  packages/web-components/src/components/progress-indicator/progress-indicator.mdx
  packages/web-components/src/components/radio-button/docs/overview.mdx
  packages/web-components/src/components/radio-button/radio-button.mdx
  packages/web-components/src/components/radio-button/radio-button.stories.ts
  packages/web-components/src/components/search/docs/overview.mdx
  packages/web-components/src/components/search/search.mdx
  packages/web-components/src/components/select/docs/overview.mdx
  packages/web-components/src/components/select/select.mdx
  packages/web-components/src/components/select/select.stories.ts
  packages/web-components/src/components/skeleton-icon/docs/overview.mdx
  packages/web-components/src/components/skeleton-icon/skeleton-icon.mdx
  packages/web-components/src/components/skeleton-placeholder/docs/overview.mdx
  packages/web-components/src/components/skeleton-placeholder/skeleton-placeholder.mdx
  packages/web-components/src/components/skeleton-text/docs/overview.mdx
  packages/web-components/src/components/skeleton-text/skeleton-text.mdx
Labels: type: docs 📖, package: @carbon/web-components

#19205 fix(code-connect): update to 1.3.2 and component fixes
  .yarn/cache/@babel-generator-npm-7.26.2-5061e18ae4-71ace82b5b.zip
  .yarn/cache/@babel-parser-npm-7.26.0-9b4a777d36-07e01683b0.zip
  .yarn/cache/@babel-types-npm-7.26.0-ae81de0a93-40780741ec.zip
  .yarn/cache/@figma-code-connect-npm-1.2.4-44da22931d-3dbf45238c.zip
  .yarn/cache/@figma-code-connect-npm-1.3.2-932d080954-e708440139.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.39.0-1435990235-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.40.0-ecf87e5237-10.zip
  .yarn/cache/@rollup-rollup-darwin-x64-npm-4.39.0-44f607dfcd-10.zip
  .yarn/cache/@rollup-rollup-darwin-x64-npm-4.40.0-ce74926f0f-10.zip
  .yarn/cache/@rollup-rollup-linux-arm64-gnu-npm-4.39.0-27236e9d75-10.zip
  .yarn/cache/@rollup-rollup-linux-arm64-gnu-npm-4.40.0-5c086b8fa9-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.39.0-7ddbec4184-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.40.0-d8de197c1c-10.zip
  .yarn/cache/@rollup-rollup-win32-arm64-msvc-npm-4.39.0-43fb822d3d-10.zip
  .yarn/cache/@rollup-rollup-win32-arm64-msvc-npm-4.40.0-abb4d0ab4b-10.zip
  .yarn/cache/@rollup-rollup-win32-x64-msvc-npm-4.39.0-719e339567-10.zip
  .yarn/cache/@rollup-rollup-win32-x64-msvc-npm-4.40.0-0261999477-10.zip
  .yarn/cache/@storybook-channels-npm-7.6.19-e073ff8fd0-ee4f3d85ae.zip
  .yarn/cache/@storybook-client-logger-npm-7.6.19-6ae88c3561-140ea57ea5.zip
  .yarn/cache/@storybook-core-events-npm-7.6.19-3894c301ac-bbf856ee35.zip
  .yarn/cache/@storybook-csf-tools-npm-7.6.19-b014c5f562-ef616c8df2.zip
  .yarn/cache/@storybook-types-npm-7.6.19-0bfc48b098-8930afad00.zip
  .yarn/cache/rollup-npm-2.79.1-94e707a9a3-df087b7013.zip
  .yarn/cache/rollup-npm-2.79.2-1b08e69c0e-095ba0a828.zip
  .yarn/cache/rollup-npm-4.39.0-8409a7015f-d3b106efb7.zip
  .yarn/cache/rollup-npm-4.40.0-5ee51badc3-59976247cd.zip
  README.md
  packages/react/code-connect/Breadcrumb/Breadcrumb.figma.tsx
  packages/react/code-connect/Breadcrumb/BreadcrumbItem.figma.tsx
  packages/react/code-connect/PasswordInput/PasswordInput.figma.tsx
  packages/react/code-connect/TextInput/TextInput.figma.tsx
  packages/react/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#18956 fix(datepicker): add picker type to dependencies of initialization hook
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/DatePicker.tsx
Labels: status: ready to merge 🎉

#19213 fix: missing underline when using spaceEqually for ProgressIndicator
  .all-contributorsrc
  README.md
  packages/styles/scss/components/progress-indicator/_progress-indicator.scss
Labels: status: ready to merge 🎉

#19223 chore(docs): update misc web component Storybook docs
  packages/react/src/components/Slider/Slider.mdx
  packages/web-components/src/components/skip-to-content/skip-to-content-story.scss
  packages/web-components/src/components/skip-to-content/skip-to-content.mdx
  packages/web-components/src/components/skip-to-content/skip-to-content.stories.ts
  packages/web-components/src/components/slider/slider.mdx
  packages/web-components/src/components/slider/slider.scss
  packages/web-components/src/components/slider/slider.stories.ts
  packages/web-components/src/components/structured-list/structured-list.mdx
  packages/web-components/src/components/structured-list/structured-list.stories.ts
Labels: type: docs 📖, package: @carbon/web-components

#19225 refactor: rewrite sorting tools in typescript and add tests
  packages/react/src/components/DataTable/tools/__tests__/sorting-test.js
  packages/react/src/components/DataTable/tools/sorting.js
  packages/react/src/components/DataTable/tools/sorting.ts
Labels: status: one more review 👀

#19241 fix(MultiSelect): update types
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Labels: status: ready to merge 🎉

#19232 fix(ListBox): rename colliding symbols and fix prop types
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/Dropdown/Dropdown.Skeleton.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/ListBox/ListBox.tsx
  packages/react/src/components/ListBox/ListBoxPropTypes.ts
  packages/react/src/components/ListBox/README.md
  packages/react/src/components/ListBox/index.ts
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
Labels: status: ready to merge 🎉

#19245 fix: box sizing on the tag
  packages/web-components/src/components/tag/tag.scss
Labels: status: ready to merge 🎉

#18913 refactor: rewrite `wrapFocus` utils in typescript
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Notification/Notification.tsx
  packages/react/src/internal/FloatingMenu.tsx
  packages/react/src/internal/__tests__/wrapFocus-test.js
  packages/react/src/internal/keyboard/navigation.ts
  packages/react/src/internal/wrapFocus.js
  packages/react/src/internal/wrapFocus.ts
Labels: status: ready to merge 🎉

#19081 refactor: consolidate `Popover` `align` mapping functionality
  packages/react/src/components/AILabel/index.tsx
  packages/react/src/components/CodeSnippet/CodeSnippet.tsx
  packages/react/src/components/ComboButton/index.tsx
  packages/react/src/components/Copy/Copy.tsx
  packages/react/src/components/CopyButton/CopyButton.tsx
  packages/react/src/components/IconButton/index.tsx
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
  packages/react/src/components/OverflowMenu/next/index.tsx
  packages/react/src/components/Popover/index.tsx
  packages/react/src/tools/createPropAdapter.js
  packages/react/src/tools/mapPopoverAlign.ts
Labels: status: ready to merge 🎉

#19237 Remove `is-largest-breakpoint` from the list of Sass functions in the API documentation for the `grid`
  packages/grid/docs/sass.md
Labels: status: ready to merge 🎉

#19234 feat: add `useRef` types
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/DatePicker/DatePicker.tsx
  packages/react/src/components/Dialog/index.tsx
  packages/react/src/components/Notification/Notification.tsx
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TextInput/TextInput.tsx
Labels: status: one more review 👀

#19180 fix(Dropdown): fix type declarations to include ref
  packages/react/src/components/Dropdown/Dropdown.tsx
Labels: status: one more review 👀

#19162 fix: fix `Stack` variant types
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Stack/HStack.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Stack/VStack.tsx
  packages/react/src/components/Stack/index.ts
Labels: status: one more review 👀
