Repository carbon-design-system/carbon, pull requests merged in 2025-05, with the labels that each got.

#19265 chore(pictograms-react): remove outdated storybook example
  packages/pictograms-react/examples/.yarnrc.yml
  packages/pictograms-react/examples/storybook/.storybook/addons.js
  packages/pictograms-react/examples/storybook/.storybook/config.js
  packages/pictograms-react/examples/storybook/package.json
  packages/pictograms-react/examples/storybook/stories/index.stories.js
  packages/pictograms-react/examples/storybook/yarn.lock
Labels: role: dev 🤖, status: ready to merge 🎉, package: pictograms-react

#19253 test(checkbox): unit tests and snapshot for checkbox
  packages/web-components/src/components/checkbox/__tests__/__snapshots__/checkbox-group-test.snap.js
  packages/web-components/src/components/checkbox/__tests__/__snapshots__/checkbox-test.snap.js
  packages/web-components/src/components/checkbox/__tests__/checkbox-group-test.js
  packages/web-components/src/components/checkbox/__tests__/checkbox-skeleton-test.js
  packages/web-components/src/components/checkbox/__tests__/checkbox-test.js
  packages/web-components/src/components/checkbox/checkbox-group.ts
  packages/web-components/src/components/checkbox/checkbox.stories.ts
  packages/web-components/src/components/checkbox/checkbox.ts
  packages/web-components/src/components/loading/__tests__/loading-test.js
Labels: status: ready to merge 🎉, package: @carbon/web-components

#19080 refactor: delete custom `forwardRef` types
  packages/react/src/components/Breadcrumb/Breadcrumb.tsx
  packages/react/src/components/Breadcrumb/BreadcrumbItem.tsx
  packages/react/src/components/ButtonSet/ButtonSet.tsx
  packages/react/src/components/DataTable/TableToolbarAction.tsx
  packages/react/src/components/ListBox/ListBox.tsx
  packages/react/src/components/ListBox/ListBoxMenu.tsx
  packages/react/src/components/ListBox/ListBoxMenuItem.tsx
  packages/react/src/components/ListBox/index.ts
  packages/react/src/components/OverflowMenuItem/OverflowMenuItem.tsx
  packages/react/src/components/TextArea/TextArea.tsx
  packages/react/src/components/TimePicker/TimePicker.tsx
  packages/react/src/components/TimePickerSelect/TimePickerSelect.tsx
  packages/react/src/types/common.ts
Labels: status: one more review 👀

#19279 chore(docs): remove unused docs in web-components storybook
  packages/web-components/src/components/input/docs/overview.mdx
  packages/web-components/src/components/menu-button/docs/overview.mdx
  packages/web-components/src/components/skip-to-content/docs/overview.mdx
  packages/web-components/src/components/slider/docs/overview.mdx
  packages/web-components/src/components/structured-list/docs/overview.mdx
  packages/web-components/src/components/tabs/docs/overview.mdx
  packages/web-components/src/components/tag/docs/overview.mdx
Labels: type: docs 📖, package: @carbon/web-components

#19050 feat(PageHeader): Page Header Content collapsible page actions behavior
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/package.json
  packages/react/src/components/PageHeader/PageHeader-test.js
  packages/react/src/components/PageHeader/PageHeader.stories.js
  packages/react/src/components/PageHeader/PageHeader.tsx
  packages/react/src/components/PageHeader/index.tsx
  packages/styles/scss/components/page-header/_page-header.scss
  yarn.lock
Labels: status: ready for review 👀, package: react

#19252 fix: fixed keyboard keypress to exapnd/collapse parent node
  packages/react/src/components/TreeView/TreeNode.tsx
  packages/react/src/components/TreeView/TreeView-test.js
Labels: status: ready for review 👀

#19299 chore(docs): update misc web component Storybook docs
  packages/react/src/components/ShapeIndicator/ShapeIndicator.mdx
  packages/web-components/src/components/ai-skeleton/ai-skeleton-icon.stories.ts
  packages/web-components/src/components/chat-button/chat-button.mdx
  packages/web-components/src/components/chat-button/chat-button.ts
  packages/web-components/src/components/icon-indicator/docs/overview.mdx
  packages/web-components/src/components/icon-indicator/icon-indicator.mdx
  packages/web-components/src/components/icons/docs/overview.mdx
  packages/web-components/src/components/icons/icons.mdx
  packages/web-components/src/components/link/link.mdx
  packages/web-components/src/components/list/docs/overview.mdx
  packages/web-components/src/components/list/ordered-list.mdx
  packages/web-components/src/components/list/unordered-list.mdx
  packages/web-components/src/components/popover/autoalign.mdx
  packages/web-components/src/components/shape-indicator/docs/overview.mdx
  packages/web-components/src/components/shape-indicator/shape-indicator.mdx
  packages/web-components/src/components/stack/stack.mdx
Labels: type: docs 📖, package: @carbon/web-components

#19291 High Contrast Mode style fix for PasswordInput
  .all-contributorsrc
  README.md
  packages/styles/scss/components/text-input/_text-input.scss
Labels: status: ready to merge 🎉, a11y: high contrast mode

#19283 fix(table-header): decorator wrapper
  packages/styles/scss/components/data-table/sort/_data-table-sort.scss
Labels: status: ready to merge 🎉

#19305 fix(fileuploader): reinstate @-moz-document for firefox-specific styles
  packages/styles/scss/components/file-uploader/_file-uploader.scss
Labels: severity: 3, type: bug 🐛, component: file-uploader

#19201 proposal(project): add merge checklist to pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
  docs/guides/reviewing-pull-requests.md
Labels: status: ready to merge 🎉

#19196 fix(tabs): call debounce function to update scrollLeft
  e2e/components/Tabs/Tabs-test.avt.e2e.js
  packages/react/src/components/Tabs/Tabs.tsx
Labels: status: one more review 👀

#19347 fix: remove unexpected shadow from web-component button
  packages/web-components/src/components/button/button.scss
Labels: type: bug 🐛, status: ready to merge 🎉, package: @carbon/web-components

#19231 fix: controlled tag component for selected prop #19228
  .all-contributorsrc
  README.md
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tag/SelectableTag.tsx
  packages/react/src/components/Tag/Tag-test.js
Labels: status: one more review 👀

#19239 fix(date-picker): clear flatpickr instance on reset
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/DatePicker.tsx
Labels: status: ready to merge 🎉

#19288 fix: modal footer buttons were not fully visible in zoom to 400
  packages/styles/scss/components/modal/_modal.scss
Labels: status: ready to merge 🎉

#19337 Fix: Fixed bug: [a11y]: Cannot navigate to some Menu items via keyboard nav #19304
  packages/web-components/src/components/menu/menu-item-selectable.ts
  packages/web-components/src/components/menu/menu.ts
Labels: status: ready to merge 🎉

#19157 feat(formatDate): add locale option to be extensible for absolute format
  .all-contributorsrc
  README.md
  packages/utilities/src/dateTimeFormat/README.md
  packages/utilities/src/dateTimeFormat/absolute-test.js
  packages/utilities/src/dateTimeFormat/absolute.ts
Labels: status: ready to merge 🎉

#19368 docs(Grid): update broken links
  packages/react/src/components/Grid/Column.tsx
  packages/react/src/components/Grid/Grid.mdx
Labels: status: ready to merge 🎉

#19106 feat(Tag): add dismissTooltipLabel prop to DismissibleTag
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Tag/DismissibleTag.tsx
Labels: status: one more review 👀, package: @carbon/react

#19373 fix: Fix Extra Vertical Line in Number Input Small Size with AI Label
  packages/web-components/src/components/number-input/number-input.scss
Labels: status: one more review 👀

#19146 fix(Modal): only focus launcherButtonRef on close
  e2e/components/Modal/Modal-test.avt.e2e.js
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/internal/__tests__/usePreviousValue.test.js
  packages/react/src/internal/usePreviousValue.ts
Labels: status: ready to merge 🎉

#19399 Fix: [a11y] Fixed how TextInput and TextArea handle hideLabel prop to correctly apply cds--visually-hidden class
  packages/styles/scss/components/text-area/_text-area.scss
  packages/styles/scss/components/text-input/_text-input.scss
  packages/web-components/src/components/text-input/text-input.ts
  packages/web-components/src/components/textarea/textarea.ts
Labels: status: ready for review 👀, status: one more review 👀

#19392 fix(menu): prevent scroll when navigating with arrow keys
  packages/web-components/src/components/menu/menu.ts
Labels: status: ready for review 👀

#18923 feat: low contrast content switcher implementation
  e2e/components/ContentSwitcher/ContentSwitcher-test.avt.e2e.js
  packages/carbon-components-react/scss/components/content-switcher/_tokens.scss
  packages/carbon-components/scss/components/content-switcher/_tokens.scss
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/scss/components/content-switcher/_tokens.scss
  packages/react/src/components/ContentSwitcher/ContentSwitcher-test.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.stories.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.tsx
  packages/styles/__tests__/__snapshots__/styles-test.js.snap
  packages/styles/files.js
  packages/styles/scss/_zone.scss
  packages/styles/scss/components/content-switcher/_content-switcher.scss
  packages/styles/scss/components/content-switcher/_index.scss
  packages/styles/scss/components/content-switcher/_tokens.scss
  packages/themes/scss/_component-tokens.scss
  packages/themes/src/component-tokens/content-switcher/index.js
  packages/themes/src/component-tokens/content-switcher/tokens.js
  packages/themes/src/index.js
  packages/themes/src/tokens/__tests__/metadata-test.js
  packages/themes/src/tokens/components.js
  packages/themes/tasks/build.js
  packages/themes/tasks/builders/modules-content-switcher-tokens.js
Labels: status: one more review 👀

#19408 docs(tooltip): clarify props must be spread onto child components
  packages/react/src/components/Tooltip/Tooltip.mdx
Labels: status: one more review 👀

#19381 feat(layer): new layer-background token and withBackground prop
  packages/elements/src/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Layer/Layer-story.scss
  packages/react/src/components/Layer/Layer.mdx
  packages/react/src/components/Layer/Layer.stories.js
  packages/react/src/components/Layer/__tests__/Layer-test.js
  packages/react/src/components/Layer/index.tsx
  packages/styles/scss/__tests__/theme-test.js
  packages/styles/scss/_layer.scss
  packages/styles/scss/layer/_layer-sets.scss
  packages/styles/scss/theme/_theme.scss
  packages/themes/src/g10.js
  packages/themes/src/g100.js
  packages/themes/src/g90.js
  packages/themes/src/tokens/__tests__/__snapshots__/v11-test.js.snap
  packages/themes/src/tokens/__tests__/metadata-test.js
  packages/themes/src/tokens/v11TokenGroup.js
  packages/themes/src/tokens/v11TokenSet.js
  packages/themes/src/white.js
Labels: status: one more review 👀

#19421 chore(mend): update repo for issues
  .whitesource
Labels: status: ready to merge 🎉

#19384 fix(Link): class name logic refactor
  packages/react/src/components/Link/Link-test.js
  packages/react/src/components/Link/Link.tsx
Labels: status: ready to merge 🎉

#19428 fix(FilterableMultiSelect): fix extra colon
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
Labels: status: ready to merge 🎉

#19413 fix(menu): close on loss of focus
  packages/web-components/src/components/menu/menu.ts
Labels: status: one more review 👀

#19308 fix: tooltip and icon-button respect child aria attributes
  packages/react/src/components/IconButton/index.tsx
  packages/react/src/components/Tooltip/Tooltip.tsx
  packages/react/src/components/Tooltip/__tests__/Tooltip-test.js
Labels: status: ready to merge 🎉

#19348 fix(ui-shell): set aria-current when current class styling added
  packages/react/src/components/UIShell/HeaderMenuItem.tsx
  packages/react/src/components/UIShell/__tests__/HeaderMenuItem-test.js
Labels: status: ready to merge 🎉

#19417 fix(TreeView): treeview not passing props to treenode children
  .all-contributorsrc
  README.md
  packages/react/src/components/TreeView/TreeNode.tsx
  packages/react/src/components/TreeView/TreeView-test.js
  packages/react/src/components/TreeView/TreeView.tsx
Labels: status: ready to merge 🎉

#19430 feat(pictograms): new pictograms
  e2e/pictograms-react/__snapshots__/PublicAPI-test.js.snap
  e2e/pictograms/__snapshots__/PublicAPI-test.js.snap
  packages/pictograms/categories.yml
  packages/pictograms/deprecated.yml
  packages/pictograms/master/productive-pictogram-master.ai
  packages/pictograms/pictograms.yml
  packages/pictograms/src/svg/aed-defibrillator.svg
  packages/pictograms/src/svg/assess.svg
  packages/pictograms/src/svg/astronaut.svg
  packages/pictograms/src/svg/chart--donut.svg
  packages/pictograms/src/svg/constellation.svg
  packages/pictograms/src/svg/crossbill.svg
  packages/pictograms/src/svg/design-system-alignment.svg
  packages/pictograms/src/svg/epinephrine-auto-injectors.svg
  packages/pictograms/src/svg/flamingo.svg
  packages/pictograms/src/svg/focus-room.svg
  packages/pictograms/src/svg/heron.svg
  packages/pictograms/src/svg/install.svg
  packages/pictograms/src/svg/kookaburra.svg
  packages/pictograms/src/svg/linuxone-5.svg
  packages/pictograms/src/svg/loon.svg
  packages/pictograms/src/svg/migrate.svg
  packages/pictograms/src/svg/mission-control.svg
  packages/pictograms/src/svg/modernize--02.svg
  packages/pictograms/src/svg/neurodiversity.svg
  packages/pictograms/src/svg/nighthawk.svg
  packages/pictograms/src/svg/no--food.svg
  packages/pictograms/src/svg/no--liquids.svg
  packages/pictograms/src/svg/nuclear.svg
  packages/pictograms/src/svg/person--working.svg
  packages/pictograms/src/svg/prepare.svg
  packages/pictograms/src/svg/quantum--computer--02.svg
  packages/pictograms/src/svg/quantum--computer.svg
  packages/pictograms/src/svg/quantum--safe.svg
  packages/pictograms/src/svg/toilet--02.svg
  packages/pictograms/src/svg/toilet--03.svg
  packages/pictograms/src/svg/urinal--01.svg
  packages/pictograms/src/svg/urinal--02.svg
  packages/pictograms/src/svg/washing-hands.svg
  packages/pictograms/src/svg/wheelchair-user--active.svg
  packages/pictograms/src/svg/wheelchair-user.svg
Labels: status: visual review 🔍

#19351 fix(use-resize-observer): remove dependency with local hook
  packages/react/package.json
  packages/react/src/components/CodeSnippet/CodeSnippet.tsx
  packages/react/src/internal/__mocks__/mockHTMLElement.ts
  packages/react/src/internal/__tests__/useResizeObserver-test.js
  packages/react/src/internal/useResizeObserver.ts
  yarn.lock
Labels: status: ready to merge 🎉

#19332 fix: skeleton parity
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/SkeletonIcon/SkeletonIcon.tsx
  packages/web-components/src/components/skeleton-text/skeleton-text.stories.ts
  packages/web-components/src/components/skeleton-text/skeleton-text.ts
Labels: status: ready for review 👀, status: visual review 🔍

#19431 test(tag): web components tag unit tests
  packages/web-components/src/components/tag/__tests__/__snapshots__/tag-test.snap.js
  packages/web-components/src/components/tag/__tests__/tag-test.js
  packages/web-components/src/components/tag/dismissible-tag.ts
  packages/web-components/src/components/tag/tag.stories.ts
Labels: status: ready to merge 🎉, package: @carbon/web-components

#19179 feat(`DataTable`): add types, fix types, delete redundant code
  packages/react/src/components/DataTable/DataTable.tsx
  packages/react/src/components/DataTable/Table.tsx
  packages/react/src/components/DataTable/index.ts
Labels: status: ready to merge 🎉

#19407 fix: remove invalid hook usage in `wrapFocus` utils
  packages/react/src/internal/__tests__/wrapFocus-test.js
  packages/react/src/internal/wrapFocus.ts
Labels: status: ready to merge 🎉, package: react

#19293 Fix WC data-table ai label column cells
  packages/web-components/src/components/data-table/_table-core.scss
Labels: status: ready to merge 🎉

#19406 fix(layout): ensure locally defined layout definition has precedence
  packages/react/src/components/Layout/Layout.stories.js
  packages/styles/scss/utilities/_layout.scss
Labels: status: ready to merge 🎉

#19128 refactor: convert `HeaderMenu` to functional component
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/UIShell/HeaderMenu.tsx
  packages/react/src/internal/useMergedRefs.ts
Labels: status: ready to merge 🎉

#19163 feat(Dialog): Implement composable pattern with Modal like functionalities , adds avt test cases
  packages/react/src/components/Dialog/Dialog-test.js
  packages/react/src/components/Dialog/Dialog.stories.js
  packages/react/src/components/Dialog/index.tsx
  packages/styles/scss/components/dialog/_dialog.scss
Labels: status: one more review 👀, status: visual review 🔍

#19490 fix: added ref to css grid mode
  packages/react/src/components/Grid/Column.tsx
  packages/react/src/components/Grid/__tests__/Column-test.js
Labels: status: ready for review 👀

#19218 feat(combo-button): new web-component for parity
  packages/web-components/src/components/combo-button/combo-button.mdx
  packages/web-components/src/components/combo-button/combo-button.scss
  packages/web-components/src/components/combo-button/combo-button.stories.ts
  packages/web-components/src/components/combo-button/combo-button.ts
  packages/web-components/src/components/combo-button/defs.ts
  packages/web-components/src/components/combo-button/index.ts
  packages/web-components/src/index.ts
Labels: status: ready to merge 🎉
