Repository carbon-design-system/carbon, pull requests merged in 2025-09, with the labels that each got.

#20423 chore(storybook): fix web component storybook icon imports
  packages/web-components/.storybook/main.ts
  packages/web-components/src/components/form/form.stories.ts
Labels: status: one more review 👀, package: @carbon/web-components

#20350 feat: implement makeDraggable javascript utility
  packages/utilities/src/makeDraggable/README.md
  packages/utilities/src/makeDraggable/index.ts
  packages/utilities/src/makeDraggable/makeDraggable.test.js
  packages/utilities/src/makeDraggable/makeDraggable.ts
Labels: status: ready to merge 🎉

#20414 chore: `allowCustomValue` control updated in combobox's typeahead story
  packages/react/src/components/ComboBox/ComboBox.stories.js
Labels: status: ready to merge 🎉

#20430 chore: remove test stories
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/Tile/Tile.stories.js
Labels: status: ready to merge 🎉

#20351 feat: fluid components move to stable
  e2e/components/FluidComboBox/FluidComboBox-test.avt.e2e.js
  e2e/components/FluidComboBox/FluidComboBox-test.e2e.js
  e2e/components/FluidDatePicker/FluidDatePicker-test.avt.e2e.js
  e2e/components/FluidDatePicker/FluidDatePicker-test.e2e.js
  e2e/components/FluidDropdown/FluidDropdown-test.avt.e2e.js
  e2e/components/FluidDropdown/FluidDropdown-test.e2e.js
  e2e/components/FluidForm/FluidForm-test.avt.e2e.js
  e2e/components/FluidForm/FluidForm-test.e2e.js
  e2e/components/FluidMultiSelect/FluidMultiSelect-test.avt.e2e.js
  e2e/components/FluidMultiSelect/FluidMultiSelect-test.e2e.js
  e2e/components/FluidNumberInput/FluidNumberInput-test.avt.e2e.js
  e2e/components/FluidNumberInput/FluidNumberInput-test.e2e.js
  e2e/components/FluidSearch/FluidSearch-test.avt.e2e.js
  e2e/components/FluidSearch/FluidSearch-test.e2e.js
  e2e/components/FluidSelect/FluidSelect-test.avt.e2e.js
  e2e/components/FluidSelect/FluidSelect-test.e2e.js
  e2e/components/FluidTextArea/FluidTextArea-test.avt.e2e.js
  e2e/components/FluidTextArea/FluidTextArea-test.e2e.js
  e2e/components/FluidTextInput/FluidTextInput-test.avt.e2e.js
  e2e/components/FluidTextInput/FluidTextInput-test.e2e.js
  e2e/components/FluidTimePicker/FluidTimePicker-test.avt.e2e.js
  e2e/components/FluidTimePicker/FluidTimePicker-test.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/components/FluidComboBox/FluidComboBox.mdx
  packages/react/src/components/FluidComboBox/FluidComboBox.stories.js
  packages/react/src/components/FluidDatePicker/FluidDatePicker.mdx
  packages/react/src/components/FluidDatePicker/FluidDatePicker.stories.js
  packages/react/src/components/FluidDropdown/FluidDropdown.mdx
  packages/react/src/components/FluidDropdown/FluidDropdown.stories.js
  packages/react/src/components/FluidForm/FluidForm.stories.js
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.mdx
  packages/react/src/components/FluidMultiSelect/FluidMultiSelect.stories.js
  packages/react/src/components/FluidNumberInput/FluidNumberInput.mdx
  packages/react/src/components/FluidNumberInput/FluidNumberInput.stories.js
  packages/react/src/components/FluidSearch/FluidSearch.mdx
  packages/react/src/components/FluidSearch/FluidSearch.stories.js
  packages/react/src/components/FluidSelect/FluidSelect.stories.js
  packages/react/src/components/FluidTextArea/FluidTextArea.mdx
  packages/react/src/components/FluidTextArea/FluidTextArea.stories.js
  packages/react/src/components/FluidTextInput/FluidPasswordInput.mdx
  packages/react/src/components/FluidTextInput/FluidPasswordInput.stories.js
  packages/react/src/components/FluidTextInput/FluidTextInput.mdx
  packages/react/src/components/FluidTextInput/FluidTextInput.stories.js
  packages/react/src/components/FluidTimePicker/FluidTimePicker.mdx
  packages/react/src/components/FluidTimePicker/FluidTimePicker.stories.js
  packages/react/src/index.ts
Labels: status: ready to merge 🎉

#20378 fix(menuitem): fix `title` inheritance, move to `li`
  packages/react/src/components/Menu/MenuItem.tsx
Labels: severity: 3, type: bug 🐛, status: ready to merge 🎉, component: menu

#20401 refactor: rewrite `rangePlugin` in typescript
  packages/react/src/components/DatePicker/DatePicker-test.js
  packages/react/src/components/DatePicker/DatePicker.tsx
  packages/react/src/components/DatePicker/plugins/rangePlugin.js
  packages/react/src/components/DatePicker/plugins/rangePlugin.ts
Labels: status: ready to merge 🎉

#20390 test(toggle): add tests for toggle WC component
  packages/web-components/src/components/toggle/__tests__/toggle-skeleton-test.js
  packages/web-components/src/components/toggle/__tests__/toggle-test.js
  packages/web-components/src/components/toggle/toggle.ts
Labels: status: ready to merge 🎉

#20467 feat(DataTable-Dynamic): Add controls to Dynamic story
  packages/react/src/components/DataTable/stories/dynamic-content/DataTable-dynamic-content.stories.js
Labels: status: ready to merge 🎉

#20434 fix(20268): contentSwitcher manual activation key fix
  e2e/components/ContentSwitcher/ContentSwitcher-test.avt.e2e.js
  packages/react/src/components/ContentSwitcher/ContentSwitcher.tsx
Labels: status: ready to merge 🎉

#20356 fix(button-set): Add margin styles between buttons inside of a button-set
  packages/web-components/src/components/accordion/accordion.scss
  packages/web-components/src/components/accordion/accordion.stories.ts
  packages/web-components/src/components/button/button-set.ts
  packages/web-components/src/components/button/button.scss
Labels: status: ready to merge 🎉

#20448 feat(BreadcrumbSkeleton): added new props `items`, `size`, and `noTrailingSlash`
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/Breadcrumb/Breadcrumb.Skeleton.tsx
  packages/react/src/components/Breadcrumb/Breadcrumb.stories.js
  packages/react/src/components/Breadcrumb/Breadcrumb.tsx
  packages/react/src/components/Breadcrumb/__tests__/Breadcrumb.Skeleton-test.js
  packages/web-components/src/components/breadcrumb/__tests__/breadcrumb-skeleton-test.js
  packages/web-components/src/components/breadcrumb/breadcrumb-skeleton.ts
  packages/web-components/src/components/breadcrumb/breadcrumb.stories.ts
Labels: status: ready to merge 🎉, package: react, package: @carbon/web-components

#20486 fix(OverflowMenu): ensure onClose is only called once
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
Labels: status: ready to merge 🎉

#20395 ci: address circular dependency warnings
  packages/react/src/components/ListBox/ListBox.tsx
  packages/react/src/components/NumberInput/NumberInput.tsx
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/react/src/components/Text/Text.tsx
  packages/react/src/components/Text/TextDirection.tsx
  packages/react/src/components/Text/createTextComponent.tsx
  packages/react/src/components/Text/index.ts
  packages/react/src/components/UIShell/Switcher.tsx
Labels: status: one more review 👀

#20404 refactor: rewrite `mergeRefs` in typescript
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboButton/index.tsx
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/ExpandableSearch/ExpandableSearch.tsx
  packages/react/src/components/MenuButton/index.tsx
  packages/react/src/components/MultiSelect/FilterableMultiSelect.tsx
  packages/react/src/components/MultiSelect/MultiSelect.tsx
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
  packages/react/src/components/OverflowMenu/next/index.tsx
  packages/react/src/components/RadioButton/RadioButton.tsx
  packages/react/src/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/react/src/components/Tag/DismissibleTag.tsx
  packages/react/src/components/Tag/OperationalTag.tsx
  packages/react/src/components/Tag/SelectableTag.tsx
  packages/react/src/tools/__tests__/mergeRefs-test.js
  packages/react/src/tools/mergeRefs.js
  packages/react/src/tools/mergeRefs.ts
Labels: status: ready to merge 🎉

#20530 fix(Slider): fix regression on Two Handle variant stories
  packages/react/src/components/Slider/Slider.stories.js
Labels: status: ready to merge 🎉

#20405 fix(ComboBox): preserve input on blur and toggle
  packages/react/src/components/ComboBox/ComboBox-test.js
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: status: ready to merge 🎉

#20538 fix(FluidPasswordInput): add missing export
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/__tests__/index-test.js
  packages/react/src/index.ts
Labels: status: ready to merge 🎉

#20477 New Fluid text input web component
  e2e/components/FluidTextInput/FluidTextInput-test.avt.e2e.js
  packages/react/src/components/FluidTextInput/FluidTextInput.mdx
  packages/react/src/components/FluidTextInput/FluidTextInput.stories.js
  packages/styles/scss/components/toggletip/_toggletip.scss
  packages/web-components/src/components/fluid-text-input/__tests__/fluid-text-input-skeleton.js
  packages/web-components/src/components/fluid-text-input/__tests__/fluid-text-input-test.js
  packages/web-components/src/components/fluid-text-input/fluid-text-input-skeleton.ts
  packages/web-components/src/components/fluid-text-input/fluid-text-input.mdx
  packages/web-components/src/components/fluid-text-input/fluid-text-input.scss
  packages/web-components/src/components/fluid-text-input/fluid-text-input.stories.ts
  packages/web-components/src/components/fluid-text-input/fluid-text-input.ts
  packages/web-components/src/components/fluid-text-input/index.ts
  packages/web-components/src/components/text-input/text-input.ts
Labels: status: visual review 🔍

#20598 docs(release): update gatsby theme deployment step
  docs/release.md
Labels: status: ready to merge 🎉

#20567 chore(tests): add menu unit tests
  packages/web-components/src/components/menu/__tests__/menu-item-test.js
  packages/web-components/src/components/menu/__tests__/menu-test.js
Labels: status: ready to merge 🎉

#20600 fix(modal): fix scroll on focus change
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Modal/Modal.tsx
Labels: severity: 1, status: ready to merge 🎉

#20574 docs(adr): document the experimental-to-preview transition
  docs/decisions/0003-use-preview-moniker.md
Labels: status: ready to merge 🎉

#20572 feat(combo-button): add xs sizing
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/ComboButton/ComboButton-test.js
  packages/react/src/components/ComboButton/index.tsx
  packages/web-components/src/components/combo-button/__tests__/__snapshots__/combo-button-test.snap.js
  packages/web-components/src/components/combo-button/__tests__/combo-button-test.js
  packages/web-components/src/components/combo-button/combo-button.stories.ts
  packages/web-components/src/components/combo-button/defs.ts
Labels: status: visual review 🔍

#20485 test(pagination): add test cases
  packages/web-components/src/components/pagination/__tests__/pagination-test.js
Labels: status: ready to merge 🎉, package: @carbon/web-components

#20512 fix(DataTable): Fix Zebra Styling of Datatable with expansion
  packages/styles/scss/components/data-table/expandable/_data-table-expandable.scss
Labels: status: ready to merge 🎉

#20608 fix(select): use title prop for tooltip instead of first SelectItem
  packages/react/src/components/Select/Select.tsx
  packages/react/src/components/Select/__tests__/Select-test.js
Labels: status: ready to merge 🎉
