Repository carbon-design-system/carbon, pull requests merged in 2025-06, with the labels that each got.

#19427 feat: added tags with overflow handler
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/PageHeader/PageHeader-test.js
  packages/react/src/components/PageHeader/PageHeader.mdx
  packages/react/src/components/PageHeader/PageHeader.stories.js
  packages/react/src/components/PageHeader/PageHeader.tsx
  packages/react/src/components/PageHeader/index.tsx
  packages/react/src/internal/__tests__/useOverflowItems-test.js
  packages/react/src/internal/useOverflowItems.ts
  packages/styles/scss/components/page-header/_page-header.scss
Labels: status: ready to merge 🎉

#19053 refactor: convert `TileGroup` to functional component
  packages/react/src/components/Tile/Tile.featureflag.stories.js
  packages/react/src/components/Tile/Tile.stories.js
  packages/react/src/components/TileGroup/TileGroup.tsx
  packages/react/src/components/TileGroup/__tests__/TileGroup-test.js
  packages/react/src/components/TileGroup/index.ts
Labels: status: one more review 👀

#19554 fix(OverflowMenu): prevent onOpen infinite loop
  packages/react/src/components/OverflowMenu/OverflowMenu-test.js
  packages/react/src/components/OverflowMenu/OverflowMenu.stories.js
  packages/react/src/components/OverflowMenu/OverflowMenu.tsx
Labels: status: one more review 👀

#19544 fix: TextArea counterMode="words" regex support for multiple languages
  packages/react/src/components/TextArea/TextArea.tsx
Labels: status: ready to merge 🎉

#19412 fix(notification): trap focus in actionable notification WC
  packages/web-components/src/components/notification/actionable-notification.ts
  packages/web-components/src/globals/settings.ts
Labels: status: ready to merge 🎉

#19257 fix: multiselect was giving error while selecting value for first time
  packages/react/src/internal/Selection.tsx
Labels: status: ready to merge 🎉

#18367 fix(select): resolve parity issues
  packages/react/src/components/Select/Select.stories.js
  packages/styles/scss/components/form/_form.scss
  packages/styles/scss/components/select/_select.scss
  packages/styles/scss/components/slug/_slug.scss
  packages/web-components/src/components/select/select-story.scss
  packages/web-components/src/components/select/select.mdx
  packages/web-components/src/components/select/select.scss
  packages/web-components/src/components/select/select.stories.ts
  packages/web-components/src/components/select/select.ts
Labels: status: visual review 🔍

#19559 feat(pageheader): web-components content and tabs zone - layout only
  packages/react/src/components/PageHeader/PageHeader.stories.js
  packages/styles/scss/components/page-header/_page-header.scss
  packages/web-components/.storybook/_container.scss
  packages/web-components/src/components/page-header/__tests__/__snapshots__/page-header-test.snap.js
  packages/web-components/src/components/page-header/__tests__/page-header-test.js
  packages/web-components/src/components/page-header/_story-assets/2x1.jpg
  packages/web-components/src/components/page-header/_story-assets/3x2.jpg
  packages/web-components/src/components/page-header/docs/overview.mdx
  packages/web-components/src/components/page-header/index.ts
  packages/web-components/src/components/page-header/page-header-breadcrumb.ts
  packages/web-components/src/components/page-header/page-header-content-text.ts
  packages/web-components/src/components/page-header/page-header-content.ts
  packages/web-components/src/components/page-header/page-header-hero-image.ts
  packages/web-components/src/components/page-header/page-header-tabs.ts
  packages/web-components/src/components/page-header/page-header.mdx
  packages/web-components/src/components/page-header/page-header.scss
  packages/web-components/src/components/page-header/page-header.stories.ts
  packages/web-components/src/components/page-header/page-header.ts
  packages/web-components/src/components/tooltip/definition-tooltip.ts
Labels: status: ready to merge 🎉

#19577 fix(modal): launcherButtonRef support with dialog feature flag
  packages/react/src/components/ComposedModal/ComposedModal-test.js
  packages/react/src/components/ComposedModal/ComposedModal.featureflag.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.stories.js
  packages/react/src/components/ComposedModal/ComposedModal.tsx
  packages/react/src/components/Dialog/Dialog-test.js
  packages/react/src/components/Dialog/Dialog.stories.js
  packages/react/src/components/Dialog/index.tsx
  packages/react/src/components/Modal/Modal-test.js
  packages/react/src/components/Modal/Modal.featureflag.stories.js
  packages/react/src/components/Modal/Modal.stories.js
  packages/react/src/components/Modal/Modal.tsx
Labels: status: one more review 👀

#19226 fix: update version patch workflow
  .github/workflows/version-patch.yml
Labels: status: ready to merge 🎉

#18405 fix(form): ai label revert error warning divider styles
  packages/styles/scss/components/fluid-number-input/_fluid-number-input.scss
  packages/styles/scss/components/fluid-select/_fluid-select.scss
  packages/styles/scss/components/number-input/_number-input.scss
  packages/styles/scss/components/text-area/_text-area.scss
Labels: status: visual review 🔍

#19604 fix: remove pageheader docs
  packages/web-components/src/components/page-header/page-header.mdx
Labels: status: ready to merge 🎉

#19605 chore(pr-template): include draft pr instruction
  .github/PULL_REQUEST_TEMPLATE.md
Labels: status: one more review 👀

#19592 fix(DataTable): add support for onClick passed to getRowProps
  packages/react/src/components/DataTable/DataTable.tsx
  packages/react/src/components/DataTable/__tests__/DataTable-test.js
Labels: status: one more review 👀

#19601 fix(vite): fix dep version for vite example
  .yarn/cache/@babel-plugin-transform-react-jsx-self-npm-7.21.0-9f64a88644-696f74c04a.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-self-npm-7.27.1-bd0fa344f1-72cbae66a5.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-source-npm-7.19.6-f7b8cba2b3-1e9e29a4ef.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-source-npm-7.27.1-36a9716d8f-e2843362ad.zip
  .yarn/cache/@rolldown-pluginutils-npm-1.0.0-beta.11-5fddb6b7bb-6e0d9193e7.zip
  .yarn/cache/@vitejs-plugin-react-npm-4.5.2-aabdc93bb6-a92fde5e50.zip
  .yarn/cache/react-refresh-npm-0.17.0-85b5aa925e-5e94f07d43.zip
  examples/vite/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#19628 test(heading): add unit tests to web components `heading` component
  packages/web-components/src/components/heading/__tests__/__snapshots__/heading-test.snap.js
  packages/web-components/src/components/heading/__tests__/heading-test.js
  packages/web-components/src/components/heading/defs.ts
  packages/web-components/src/components/heading/heading.ts
  packages/web-components/src/index.ts
Labels: status: ready to merge 🎉, package: @carbon/web-components

#19627 chore(multiselect): remove test story
  packages/react/src/components/MultiSelect/MultiSelect.stories.js
Labels: status: one more review 👀

#19629 fix(styles): replace `@document` at-rule with `@-moz-document`
  packages/styles/scss/components/data-table/_data-table.scss
  packages/styles/scss/components/pagination-nav/_pagination-nav.scss
  packages/styles/scss/components/select/_select.scss
Labels: status: one more review 👀, package: styles

#19625 fix(layer): support generic polymorphic props
  packages/react/src/components/Layer/index.tsx
Labels: status: one more review 👀

#19637 fix: remove test story
  packages/react/src/components/UIShell/UIShell.HeaderBase.stories.js
Labels: status: ready to merge 🎉

#19620 feat: added pageheader breadcrumbbar
  packages/web-components/src/components/page-header/__tests__/page-header-test.js
  packages/web-components/src/components/page-header/page-header-breadcrumb.ts
  packages/web-components/src/components/page-header/page-header.scss
  packages/web-components/src/components/page-header/page-header.stories.ts
Labels: status: ready to merge 🎉, package: @carbon/web-components

#19641 docs(contributing): add issue assignment FAQs
  .github/CONTRIBUTING.md
Labels: type: docs 📖

#19580 test(menu-button): unit tests and snapshots
  packages/web-components/src/components/menu-button/__tests__/__snapshots__/menu-button.test.snap.js
  packages/web-components/src/components/menu-button/__tests__/menu-button.test.js
Labels: status: ready to merge 🎉, package: @carbon/web-components

#19043 fix: integrates carbon ToolTip in TreeNode
  e2e/components/TreeView/TreeView-test.avt.e2e.js
  packages/react/__tests__/__snapshots__/PublicAPI-test.js.snap
  packages/react/src/components/TreeView/TreeNode.tsx
  packages/react/src/components/TreeView/Treeview.stories.js
  packages/react/src/components/TreeView/__tests__/TreeNode-test.js
  packages/styles/scss/components/treeview/_treeview.scss
Labels: status: one more review 👀, status: visual review 🔍, status: ready to merge 🎉

#19659 refactor(DataTable): convert from class to functional component
  packages/react/src/components/DataTable/DataTable.tsx
  packages/react/src/components/DataTable/index.ts
  packages/react/src/components/DataTable/state/getDerivedStateFromProps.js
Labels: status: ready to merge 🎉

#19696 chore: add react 19 as a peer dependency in utilities-react
  packages/utilities-react/package.json
  yarn.lock
Labels: status: ready to merge 🎉

#19655 docs: update mdx table of contents
  packages/react/src/components/Accordion/Accordion.mdx
  packages/react/src/components/AspectRatio/AspectRatio.mdx
  packages/react/src/components/Button/Button.mdx
  packages/react/src/components/ComboButton/ComboButton.mdx
  packages/react/src/components/ComposedModal/ComposedModal.mdx
  packages/react/src/components/ContainedList/ContainedList.mdx
  packages/react/src/components/ContentSwitcher/ContentSwitcher.mdx
  packages/react/src/components/ContextMenu/useContextMenu.mdx
  packages/react/src/components/CopyButton/CopyButton.mdx
  packages/react/src/components/DataTable/DataTable.mdx
  packages/react/src/components/DatePicker/DatePicker.mdx
  packages/react/src/components/Dropdown/Dropdown.mdx
  packages/react/src/components/FluidForm/FluidForm.mdx
  packages/react/src/components/Form/Form.mdx
  packages/react/src/components/FormGroup/FormGroup.mdx
  packages/react/src/components/FormLabel/FormLabel.mdx
  packages/react/src/components/Grid/FlexGrid.mdx
  packages/react/src/components/Grid/Grid.mdx
  packages/react/src/components/Heading/Heading.mdx
  packages/react/src/components/IconButton/IconButton.mdx
  packages/react/src/components/IconIndicator/IconIndicator.mdx
  packages/react/src/components/Layer/Layer.mdx
  packages/react/src/components/Menu/Menu.mdx
  packages/react/src/components/MenuButton/MenuButton.mdx
  packages/react/src/components/MultiSelect/MultiSelect.mdx
  packages/react/src/components/OverflowMenu/OverflowMenu.DynamicStyles.featureflag.mdx
  packages/react/src/components/ProgressIndicator/ProgressIndicator.mdx
  packages/react/src/components/Select/Select.mdx
  packages/react/src/components/ShapeIndicator/ShapeIndicator.mdx
  packages/react/src/components/Tabs/Tabs.mdx
  packages/react/src/components/Theme/Theme.mdx
  packages/react/src/components/Toggletip/Toggletip.mdx
  packages/react/src/components/Tooltip/Tooltip.mdx
Labels: status: ready to merge 🎉

#19711 test(select): unit tests
  packages/web-components/src/components/select/__tests__/select-test.js
Labels: status: ready to merge 🎉, package: @carbon/web-components

#19720 fix(Toggle): Remove the extra margin in toggle(WC) when there is no labelText
  .all-contributorsrc
  README.md
  packages/web-components/src/components/toggle/toggle.ts
Labels: status: one more review 👀

#18464 feat(slider): resolve parity issue two handle skeleton
  packages/web-components/src/components/slider/slider-skeleton.ts
  packages/web-components/src/components/slider/slider.scss
  packages/web-components/src/components/slider/slider.stories.ts
Labels: status: ready to merge 🎉

#18450 feat(slider): resolve parity issue two handle feature
  packages/web-components/src/components/slider/slider-input.ts
  packages/web-components/src/components/slider/slider.scss
  packages/web-components/src/components/slider/slider.stories.ts
  packages/web-components/src/components/slider/slider.ts
Labels: status: visual review 🔍, status: ready to merge 🎉

#19743 docs(tooltip): fix definition tooltip cdn link
  packages/web-components/src/components/tooltip/definition-tooltip.mdx
Labels: status: one more review 👀, type: docs 📖

#19613 chore: add overflowhandler readme
  packages/utilities/src/overflowHandler/README.md
Labels: status: one more review 👀

#19721 feat(numeric-input-v2): added NumberInput Type text component
  .all-contributorsrc
  .yarn/cache/@internationalized-number-npm-3.6.3-391223310a-87e605c686.zip
  .yarn/cache/@swc-helpers-npm-0.5.17-53974f71e8-085e13b536.zip
  .yarn/cache/tslib-npm-2.3.1-0e21e18015-de17a98d46.zip
  .yarn/cache/tslib-npm-2.8.1-66590b21b8-e4aba30e63.zip
  README.md
  packages/carbon-react/tasks/build-styles.js
  packages/components/src/components/form/_form.scss
  packages/components/src/components/number-input-v2/_number-input-v2.scss
  packages/components/src/globals/scss/styles.scss
  packages/react/package.json
  packages/react/src/components/NumberInputV2/NumberFormatPropTypes.js
  packages/react/src/components/NumberInputV2/NumberInputUtilities.js
  packages/react/src/components/NumberInputV2/NumberInputV2-story.js
  packages/react/src/components/NumberInputV2/NumberInputV2-test.js
  packages/react/src/components/NumberInputV2/NumberInputV2.js
  packages/react/src/components/NumberInputV2/NumberInputV2.mdx
  packages/react/src/components/NumberInputV2/index.js
  packages/react/src/internal/useControllableState.js
  yarn.lock
Labels: version: 10

#19694 ci(chromatic): add chromatic workflow for react storybook
  .github/workflows/ci.yml
  packages/react/src/components/OverflowMenu/OverflowMenu.featureflag.stories.js
Labels: status: ready to merge 🎉

#19686 fix: numberInput W|C parity
  packages/web-components/src/components/number-input/number-input.scss
  packages/web-components/src/components/number-input/number-input.ts
Labels: status: one more review 👀
